<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fushunadventureview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>fushunadventureview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;FushunAdventureView&quot;, import(&quot;..BaseMiniGameView&quot;))

slot0.getUIName = function(slot0)
	return &quot;FushunAdventureUI&quot;
end

slot0.getBGM = function(slot0)
	return FushunAdventureGameConst.BGM_NAME
end

slot0.didEnter = function(slot0)
	slot0.game = FushunAdventureGame.New(slot0._go, slot0:GetMGHubData(), slot0:GetMGData())

	slot0.game:SetOnShowResult(function (slot0)
		if uv0:GetMGHubData().count &gt; 0 then
			uv0:SendSuccess(0)
		end

		if slot0 &gt; ((uv0:GetMGData():GetRuntimeData(&quot;elements&quot;) or {})[1] or 0) then
			uv0:StoreDataToServer({
				slot0
			})
		end
	end)
	slot0.game:SetOnLevelUpdate(function ()
		uv0:CheckAaward()
	end)
	onButton(slot0, findTF(slot0._go, &quot;back&quot;), function ()
		uv0:emit(uv1.ON_BACK)
	end, SFX_PANEL)
	slot0:CheckAaward()
end

slot0.CheckAaward = function(slot0)
	slot1 = slot0:GetMGHubData()
	slot3 = slot1.usedtime
	slot4 = slot1:getConfig(&quot;reward_need&quot;)

	if slot1.ultimate == 0 and slot4 &lt;= slot3 then
		pg.m02:sendNotification(GAME.SEND_MINI_GAME_OP, {
			hubid = slot1.id,
			cmd = MiniGameOPCommand.CMD_ULTIMATE,
			args1 = {}
		})
	end
end

slot0.willExit = function(slot0)
	if slot0.game then
		slot0.game:Dispose()

		slot0.game = nil
	end
end

slot0.OnSendMiniGameOPDone = function(slot0)
	if slot0.game then
		slot0.game:RefreshLevels()
	end
end

slot0.onBackPressed = function(slot0)
	if slot0.game and slot0.game:IsStarting() then
		slot0.game:ShowPauseMsgbox()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>