<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gameroomsnackview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>gameroomsnackview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;GameRoomSnackView&quot;, import(&quot;.GameRoomBaseSnackView&quot;))

slot0.getUIName = function(slot0)
	return &quot;GameRoomSnackUI&quot;
end

slot0.OnSendMiniGameOPDone = function(slot0)
	slot0:updateCount()
end

slot0.OnGetAwardDone = function(slot0)
	if slot0.coinLayerVisible then
		slot0:openCoinLayer(true)
	end
end

slot0.addListener = function(slot0)
	uv0.super.addListener(slot0)

	if slot0:getGameRoomData() then
		slot0.gameHelpTip = slot0:getGameRoomData().game_help
	end

	onButton(slot0, slot0.helpBtn, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = uv0.gameHelpTip
		})
	end, SFX_PANEL)
end

slot0.updateSDModel = function(slot0)
	slot1 = getProxy(PlayerProxy)
	slot2 = slot1:getData()
	slot3 = getProxy(BayProxy)
	slot5 = pg.UIMgr.GetInstance()

	slot5:LoadingOn()

	slot5 = PoolMgr.GetInstance()

	slot5:GetSpineChar(&quot;Z28&quot;, true, function (slot0)
		pg.UIMgr.GetInstance():LoadingOff()

		uv0.prefab = uv1
		uv0.model = slot0
		tf(slot0).localScale = Vector3(1, 1, 1)

		slot0:GetComponent(&quot;SpineAnimUI&quot;):SetAction(&quot;stand2&quot;, 0)
		setParent(slot0, uv0.spineCharContainer)
	end)
end

slot0.updateSelectedList = function(slot0, slot1)
	slot1 = slot1 or {}

	for slot5 = 1, uv0.Order_Num do
		slot6 = slot0.selectedContainer:GetChild(slot5 - 1)
		slot8 = slot0:findTF(&quot;Full&quot;, slot6)
		slot9 = slot0:findTF(&quot;SnackImg&quot;, slot8)
		slot0.selectedTFList[slot5] = slot6
		slot10 = slot1[slot5]

		setActive(slot8, slot10)
		setActive(slot0:findTF(&quot;Empty&quot;, slot6), not slot10)

		if slot10 then
			setImageSprite(slot9, GetSpriteFromAtlas(&quot;ui/minigameui/newyearsnackui_atlas&quot;, &quot;snack_&quot; .. slot10))
		end
	end
end

slot0.updateSnackList = function(slot0, slot1)
	for slot5 = 1, uv0.Snack_Num do
		slot6 = slot0.snackContainer:GetChild(slot5 - 1)

		setImageSprite(slot0:findTF(&quot;SnackImg&quot;, slot6), GetSpriteFromAtlas(&quot;ui/minigameui/newyearsnackui_atlas&quot;, &quot;snack_&quot; .. slot1[slot5]))
		setActive(slot0:findTF(&quot;SelectedTag&quot;, slot6), false)

		slot0.snackTFList[slot5] = slot6
		slot5 = slot5 + 1
	end
end

slot0.updateSelectedOrderTag = function(slot0, slot1)
	for slot5, slot6 in pairs(slot0.selectedSnackTFList) do
		slot7 = slot0:findTF(&quot;SelectedTag&quot;, slot6)

		if slot1 then
			setActive(slot7, false)
		else
			setImageSprite(slot7, GetSpriteFromAtlas(&quot;ui/minigameui/newyearsnackui_atlas&quot;, &quot;order_&quot; .. table.indexof(slot0.selectedIDList, slot5, 1)))
		end
	end
end

slot0.openResultView = function(slot0)
	slot0.packageData = {
		orderIDList = slot0.orderIDList,
		selectedIDList = slot0.selectedIDList,
		countTime = slot0.countTime,
		score = slot0.score,
		correctNumToEXValue = slot0:GetMGData():getConfig(&quot;simple_config_data&quot;).correct_value,
		scoreLevel = slot0:GetMGData():getConfig(&quot;simple_config_data&quot;).score_level,
		onSubmit = function (slot0)
			uv0:SendSuccess(uv0.packageData.score and uv0.packageData.score or 0)

			uv0.score = 0
			uv0.countTime = nil
			uv0.leftTime = uv0.orginSelectTime
			uv0.orderIDList = {}
			uv0.selectedIDList = {}
			uv0.snackIDList = {}

			uv0:updateSelectedOrderTag(true)

			uv0.selectedSnackTFList = {}

			uv0:openCoinLayer(true)
			uv0.animtor:SetBool(&quot;AniSwitch&quot;, uv1.Ani_Open_2_Close)
			uv0:setState(uv1.States_Before)
		end,
		onContinue = function ()
			uv0.score = uv0.packageData.score
			uv0.leftTime = uv0.packageData.countTime
			uv0.orderIDList = {}
			uv0.selectedIDList = {}
			uv0.snackIDList = {}
			uv0.selectedSnackTFList = {}

			uv0.animtor:SetBool(&quot;AniSwitch&quot;, uv1.Ani_Open_2_Close)
			uv0:setState(uv1.States_Memory)
		end
	}
	slot0.snackResultView = NewYearSnackResultView.New(slot0._tf, slot0.event, slot0.packageData)

	slot0.snackResultView:Reset()
	slot0.snackResultView:Load()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>