<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hideseekgameview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>hideseekgameview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;HideSeekGameView&quot;, import(&quot;..BaseMiniGameView&quot;))
slot1 = &quot;bar-soft&quot;
slot2 = &quot;event:/ui/ddldaoshu2&quot;
slot3 = &quot;event:/ui/break_out_full&quot;
slot4 = &quot;hideseekgameui_atlas&quot;
slot5 = 60
slot6 = {
	{
		25,
		0.8,
		1
	},
	{
		45,
		1.2,
		1.4
	},
	{
		60,
		1.6,
		1.8
	}
}
slot7 = 100
slot8 = 2
slot9 = 50
slot10 = 400
slot11 = 400
slot12 = &quot;on_touch_furniture&quot;
slot13 = 1
slot16 = 4
slot17 = &quot;HideSeekBath&quot;
slot18 = &quot;HideSeekBed&quot;
slot19 = &quot;HideSeekFridge&quot;
slot20 = &quot;HideSeekHakoCL&quot;
slot21 = &quot;HideSeekHakoCR&quot;
slot22 = &quot;HideSeekUpR&quot;
slot23 = &quot;HideSeekUpL&quot;
slot24 = &quot;HideSeekDeskUnder&quot;
slot25 = &quot;HideSeekSofaS&quot;
slot26 = &quot;HideSeekSofaL&quot;
slot27 = &quot;HideSeekHakoSL&quot;
slot28 = &quot;HideSeekHakoSR&quot;
slot29 = &quot;HideSeekHakoML&quot;
slot30 = &quot;HideSeekHakoMR&quot;
slot31 = &quot;HideSeekDeskSR&quot;
slot32 = &quot;HideSeekDeskSL&quot;
slot33 = &quot;HideSeekDeskStudyL&quot;
slot34 = &quot;HideSeekDeskStudyR&quot;
slot35 = &quot;HideSeekCushion&quot;
slot36 = &quot;ui/minigameui/hideseek&quot;
slot37 = 3
slot38 = {
	0,
	1,
	2,
	3,
	4,
	5,
	6,
	7,
	8
}
slot39 = {
	{
		name = &quot;furniture_bath&quot;,
		pos_data_list = {
			{
				pos_name = &quot;posBath&quot;,
				anim_name = slot17
			}
		},
		type = slot13
	},
	{
		name = &quot;furniture_bed&quot;,
		weight = 0.2,
		pos_data_list = {
			{
				pos_name = &quot;posBed&quot;,
				anim_name = slot18
			}
		},
		type = 2
	},
	{
		defaut_char_index = 9,
		name = &quot;furniture_Fridge&quot;,
		time = 3,
		defaut_trigger = true,
		weight = 0.15,
		pos_data_list = {
			{
				pos_name = &quot;posFridge&quot;,
				anim_name = slot19
			}
		},
		type = 3
	},
	{
		hide = true,
		name = &quot;furniture_Hako_L1&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posHakoCL&quot;,
				anim_name = slot20
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Cook&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posUpR&quot;,
				anim_name = slot22
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Desk_Dining&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posUnder&quot;,
				anim_name = slot24
			},
			{
				pos_name = &quot;posUpR&quot;,
				anim_name = slot22
			},
			{
				pos_name = &quot;posUpL&quot;,
				anim_name = slot23
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Sofa_S&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posSofaS&quot;,
				anim_name = slot25
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Sofa_L&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posSofaL&quot;,
				anim_name = slot26
			},
			{
				pos_name = &quot;posUpL&quot;,
				anim_name = slot23
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Hako_S1_3&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posHakoSL&quot;,
				anim_name = slot27
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Desk_S&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posDeskSL&quot;,
				anim_name = slot32
			},
			{
				pos_name = &quot;posDeskSR&quot;,
				anim_name = slot31
			},
			{
				pos_name = &quot;posDeskUnder&quot;,
				anim_name = slot24
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Hako_L2&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posHakoCL&quot;,
				anim_name = slot20
			},
			{
				pos_name = &quot;posHakoCR&quot;,
				anim_name = slot21
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Desk_Study&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posDeskStudyL&quot;,
				anim_name = slot33
			},
			{
				pos_name = &quot;posDeskStudyR&quot;,
				anim_name = slot34
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Hako_M1&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posHakoML&quot;,
				anim_name = slot29
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Hako_M2&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posHakoMR&quot;,
				anim_name = slot30
			}
		},
		type = slot13
	},
	{
		hide = true,
		name = &quot;furniture_Hako_S2&quot;,
		time = 4,
		pos_data_list = {
			{
				pos_name = &quot;posHakoSR&quot;,
				anim_name = slot28
			}
		},
		type = slot13
	},
	{
		name = &quot;furniture_Manjuu_cushion&quot;,
		pos_data_list = {
			{
				pos_name = &quot;posCushion&quot;,
				anim_name = slot35
			}
		},
		type = slot13,
		hide_tfs = {
			&quot;img&quot;
		}
	}
}
slot40 = {
	HideSeekBath = {
		prefab = &quot;hideseekbath.prefab&quot;,
		name = slot17,
		ignore_char = {}
	},
	HideSeekBed = {
		prefab = &quot;hideseekbed.prefab&quot;,
		name = slot18,
		ignore_char = {}
	},
	HideSeekFridge = {
		prefab = &quot;hideseekfridge.prefab&quot;,
		name = slot19,
		ignore_char = {}
	},
	HideSeekHakoCL = {
		prefab = &quot;hideseekhakocl.prefab&quot;,
		name = slot20,
		ignore_char = {}
	},
	HideSeekHakoCR = {
		prefab = &quot;hideseekhakocr.prefab&quot;,
		name = slot21,
		ignore_char = {}
	},
	HideSeekUpR = {
		prefab = &quot;hideseekupr.prefab&quot;,
		name = slot22,
		ignore_char = {}
	},
	HideSeekUpL = {
		prefab = &quot;hideseekupl.prefab&quot;,
		name = slot23,
		ignore_char = {}
	},
	HideSeekDeskUnder = {
		prefab = &quot;hideseekdeskunder.prefab&quot;,
		name = slot24,
		ignore_char = {}
	},
	HideSeekSofaS = {
		prefab = &quot;hideseeksofas.prefab&quot;,
		name = slot25,
		ignore_char = {}
	},
	HideSeekSofaL = {
		prefab = &quot;hideseeksofal.prefab&quot;,
		name = slot26,
		ignore_char = {}
	},
	HideSeekHakoSL = {
		prefab = &quot;hideseekhakosl.prefab&quot;,
		name = slot27,
		ignore_char = {}
	},
	HideSeekHakoSR = {
		prefab = &quot;hideseekhakosr.prefab&quot;,
		name = slot28,
		ignore_char = {}
	},
	HideSeekDeskSL = {
		prefab = &quot;hideseekdesksl.prefab&quot;,
		name = slot32,
		ignore_char = {}
	},
	HideSeekDeskSR = {
		prefab = &quot;hideseekdesksr.prefab&quot;,
		name = slot31,
		ignore_char = {}
	},
	HideSeekDeskStudyL = {
		prefab = &quot;hideseekdeskstudyl.prefab&quot;,
		name = slot33,
		ignore_char = {}
	},
	HideSeekDeskStudyR = {
		prefab = &quot;hideseekdeskstudyr.prefab&quot;,
		name = slot34,
		ignore_char = {}
	},
	HideSeekHakoML = {
		prefab = &quot;hideseekhakoml.prefab&quot;,
		name = slot29,
		ignore_char = {}
	},
	HideSeekHakoMR = {
		prefab = &quot;hideseekhakomr.prefab&quot;,
		name = slot30,
		ignore_char = {}
	},
	HideSeekCushion = {
		prefab = &quot;hideseekcushion.prefab&quot;,
		name = slot35,
		ignore_char = {}
	}
}
slot41 = 0.1
slot42 = {
	-475,
	652
}
slot43 = {
	-335,
	290
}
slot44 = Vector2(150, -200)
slot45 = &quot;hideseektv.prefab&quot;
slot46 = {}

slot47 = function(slot0, slot1)
	slot2 = {
		ctor = function (slot0)
			slot0._event = uv0
			slot0._sceneTf = uv1
			slot0._tplContainer = findTF(uv1, &quot;tplPos&quot;)
			uv2 = Clone(uv3)
			slot0._furnituresPools = {}

			for slot4 = 1, #uv4 do
				table.insert(slot0._furnituresPools, {
					activeIndex = 0,
					data = Clone(uv4[slot4]),
					tf = findTF(slot0._sceneTf, uv4[slot4].name)
				})
			end

			slot0._unActiveFurnitures = {}
			slot0._activeFurnitures = {}
			slot0._furnitureAnimTfPool = {}
			slot0._animTplDic = {}
		end,
		start = function (slot0)
			slot0.timeStep = 0

			slot0:clear()

			slot0.timeAppear = 0
			slot0.additiveScore = uv0

			for slot4 = #slot0._furnituresPools, 1, -1 do
				if slot0._furnituresPools[slot4].data.type == uv1 then
					if math.random() &lt;= slot5.data.weight then
						slot0:appearChar(slot5.data.name)
					end

					slot5.initFlag = true

					table.insert(slot0._unActiveFurnitures, slot0:getFunitureFromPool(slot5.data.name))
				elseif slot5.data.type == uv2 then
					slot0:appearChar(slot5.data.name)
				end
			end
		end,
		step = function (slot0)
			slot0.timeStep = slot0.timeStep + Time.deltaTime
			slot1 = false

			if slot0.timeAppear &lt;= 0 then
				slot1 = true
				slot2 = uv0 - slot0.timeStep
				slot0.timeAppear = nil

				for slot6 = 1, #uv1 do
					if not slot0.timeAppear and slot2 &lt; uv1[slot6][1] or slot6 == #uv1 then
						slot7 = uv1[slot6][2]
						slot0.timeAppear = math.random() * (uv1[slot6][3] - slot7) + slot7

						break
					end
				end

				slot0.timeAppear = not slot0.timeAppear and 2 or slot0.timeAppear
			else
				slot0.timeAppear = slot0.timeAppear - Time.deltaTime
			end

			for slot5 = #slot0._activeFurnitures, 1, -1 do
				if slot0._activeFurnitures[slot5].time then
					slot6.time = slot6.time - Time.deltaTime

					if slot6.time &lt;= 0 then
						slot0:setFurnitureTimeEvent(slot6)
					end
				end
			end

			if slot1 then
				slot0:appearChar()
			end
		end,
		setFurnitureTimeEvent = function (slot0, slot1)
			if slot1.data.type == uv0 then
				slot0:returnCharIndex(slot1.charIndex)

				if math.random() &lt;= slot1.data.weight and #uv1 &gt; 0 then
					slot1.charIndex = table.remove(uv1, math.random(1, #uv1))
				else
					slot1.charIndex = slot1.data.defaut_char_index
				end

				slot1.readyToRemove = false
				slot1.time = slot1.data.time

				GetComponent(findTF(slot1.animTf, &quot;anim&quot;), typeof(Animator)):SetInteger(&quot;charIndex&quot;, slot1.charIndex)
			elseif slot1.data.type == uv2 then
				if slot1.data.hide and not slot1.readyToRemove then
					slot1.time = 2
					slot1.readyToRemove = true

					GetComponent(findTF(slot1.animTf, &quot;anim&quot;), typeof(Animator)):SetTrigger(&quot;hide&quot;)
				else
					slot0:returnFurniture(slot1)
				end
			elseif slot1.data.type == uv3 then
				if slot1.charIndex then
					slot0:returnCharIndex(slot1.charIndex)

					if slot1.animTf then
						setActive(findTF(slot1.animTf, &quot;collider&quot;), false)
					end

					slot1.charIndex = nil
					slot1.time = nil
				end
			else
				slot0:returnFurniture(slot1)
			end
		end,
		returnCharIndex = function (slot0, slot1)
			if not table.contains(uv0, slot1) and table.contains(uv1, slot1) then
				table.insert(uv0, slot1)
			end
		end,
		appearChar = function (slot0, slot1)
			if #uv0 &lt;= 0 then
				return
			end

			if #slot0._furnituresPools &lt;= 0 then
				return
			end

			slot2 = nil

			if slot1 then
				slot2 = slot0:getFunitureFromPool(slot1)
			end

			slot3 = (slot2 or table.remove(slot0._furnituresPools, math.random(1, #slot0._furnituresPools))).data
			slot4 = slot3.pos_data_list[math.random(1, #slot3.pos_data_list)]
			slot5 = slot4.pos_name
			slot7 = slot0:getActiveIndex()

			if not uv1[slot4.anim_name] then
				print(&quot;警告，没有找到&quot; .. slot6 .. &quot;的动画数据&quot;)
				slot0:returnFurniture(slot2)

				return
			end

			slot9 = nil
			slot9 = (slot2.data.type ~= uv2 or slot2.data.defaut_char_index) and table.remove(uv0, math.random(1, #uv0))
			slot2.charIndex = slot9

			if table.contains(slot8.ignore_char, slot9) then
				slot0:returnFurniture(slot2)

				return
			elseif slot2.data.type == uv3 and slot2.initFlag then
				slot0:returnFurniture(slot2)

				return
			end

			slot2.posData = slot4
			slot2.activeIndex = slot7
			slot2.animData = slot8

			table.insert(slot0._activeFurnitures, slot2)
			slot0:getAnimTfByPosData(slot4, slot7, function (slot0, slot1)
				if slot1 ~= uv0.activeIndex then
					uv1:returnAnimTf(uv2, slot0)

					return
				end

				if uv0.data.hide_tfs then
					for slot5 = 1, #uv0.data.hide_tfs do
						setActive(findTF(uv0.tf, uv0.data.hide_tfs[slot5]), false)
					end
				end

				SetParent(slot0, findTF(uv0.tf, uv3))
				setActive(slot0, true)
				setActive(findTF(slot0, &quot;collider&quot;), true)

				slot0.anchoredPosition = Vector2(0, 0)
				uv0.animTf = slot0

				uv1:prepareAnim(uv0)
			end)
		end,
		getFunitureFromPool = function (slot0, slot1)
			for slot5 = 1, #slot0._furnituresPools do
				if slot0._furnituresPools[slot5].data.name == slot1 then
					return table.remove(slot0._furnituresPools, slot5)
				end
			end

			return nil
		end,
		prepareAnim = function (slot0, slot1)
			if not slot1.animData or not slot1.animTf then
				return
			end

			slot2 = slot1.animData
			slot1.time = slot1.data.time

			GetComponent(findTF(slot1.animTf, &quot;anim&quot;), typeof(Animator)):SetInteger(&quot;charIndex&quot;, slot1.charIndex)

			if slot1.data.type ~= uv0 then
				slot4:SetTrigger(&quot;trigger&quot;)
			end

			GetOrAddComponent(findTF(slot3, &quot;collider&quot;), typeof(EventTriggerListener)):AddPointDownFunc(function (slot0, slot1, slot2)
				if uv0.readyToRemove then
					return
				end

				if uv0.data.type == uv1 and uv0.data.defaut_char_index == uv0.charIndex and not uv0.data.defaut_trigger then
					return
				end

				slot3 = false

				if uv0.data.type == uv1 and uv0.data.defaut_char_index == uv0.charIndex then
					slot3 = true
				end

				if not slot3 then
					pg.CriMgr.GetInstance():PlaySoundEffect_V3(uv3)
					uv2._event:emit(uv4, {
						score = uv2:getScore(),
						pos = slot1.position
					})
				end

				uv0.readyToRemove = true

				uv5:SetTrigger(&quot;next&quot;)

				uv0.time = uv0.data.time or 3
			end)
		end,
		getScore = function (slot0)
			if not slot0.additiveScore then
				slot0.additiveScore = uv0
			end

			if slot0.scoreTime and slot0.timeStep - slot0.scoreTime &lt; uv1 then
				slot0.additiveScore = slot0.additiveScore + uv2
			else
				slot0.additiveScore = uv0
			end

			if uv3 &lt;= slot0.additiveScore then
				slot0.additiveScore = uv3
			end

			slot0.scoreTime = slot0.timeStep

			return slot0.additiveScore
		end,
		getAnimTfByPosData = function (slot0, slot1, slot2, slot3)
			slot4 = slot1.anim_name

			if slot0._furnitureAnimTfPool and slot0._furnitureAnimTfPool[slot4] and #slot0._furnitureAnimTfPool[slot4] &gt; 0 then
				slot3(table.remove(slot0._furnitureAnimTfPool[slot4], 1), slot2)

				return
			end

			return slot0:createAnimTf(slot4, slot2, slot3)
		end,
		returnFurniture = function (slot0, slot1)
			if not slot1 then
				return
			end

			if slot1.charIndex then
				slot0:returnCharIndex(slot1.charIndex)

				slot1.charIndex = nil
			end

			if slot1.animData and slot1.animTf then
				slot0:returnAnimTf(slot1.animData.name, slot1.animTf)
			end

			if slot1.data.hide_tfs then
				for slot5 = 1, #slot1.data.hide_tfs do
					setActive(findTF(slot1.tf, slot1.data.hide_tfs[slot5]), true)
				end
			end

			slot1.animTf = nil
			slot1.animData = nil
			slot1.activeIndex = nil
			slot1.readyToRemove = false
			slot1.time = nil

			for slot5 = #slot0._activeFurnitures, 1, -1 do
				if slot0._activeFurnitures[slot5] == slot1 then
					table.insert(slot0._furnituresPools, table.remove(slot0._activeFurnitures, slot5))
				end
			end

			for slot5 = #slot0._unActiveFurnitures, 1, -1 do
				if slot0._unActiveFurnitures[slot5] == slot1 then
					table.insert(slot0._furnituresPools, table.remove(slot0._unActiveFurnitures, slot5))
				end
			end

			slot2 = false

			for slot6 = 1, #slot0._furnituresPools do
				if slot0._furnituresPools[slot6] == slot1 then
					slot2 = true
				end
			end

			if not slot2 then
				table.insert(slot0._furnituresPools, slot1)
			end
		end,
		returnAnimTf = function (slot0, slot1, slot2)
			if not slot0._furnitureAnimTfPool[slot1] then
				slot0._furnitureAnimTfPool[slot1] = {}
			end

			setActive(slot2, false)
			table.insert(slot0._furnitureAnimTfPool[slot1], slot2)
		end,
		createAnimTf = function (slot0, slot1, slot2, slot3)
			if not uv0[slot1] then
				return nil
			end

			slot5 = slot4.prefab

			if slot0._animTplDic[slot4.name] then
				slot3(tf(Instantiate(slot0._animTplDic[slot6])), slot2)
			else
				LoadAndInstantiateAsync(uv1, slot5, function (slot0)
					if not slot0 then
						print(&quot;找不到资源&quot; .. uv0)

						return
					end

					if uv1.destroyFlag then
						Destroy(slot0)

						return
					end

					uv1._animTplDic[uv0] = slot0

					SetParent(tf(slot0), uv1._tplContainer)
					uv2(tf(Instantiate(uv1._animTplDic[uv0])), uv3)
				end)
			end
		end,
		getActiveIndex = function (slot0)
			if not slot0._activeIndex then
				slot0._activeIndex = 0
			end

			slot0._activeIndex = slot0._activeIndex + 1

			return slot0._activeIndex
		end,
		clear = function (slot0)
			for slot4 = #slot0._activeFurnitures, 1, -1 do
				slot0:returnFurniture(slot0._activeFurnitures[slot4])
			end

			for slot4 = #slot0._unActiveFurnitures, 1, -1 do
				slot0:returnFurniture(slot0._unActiveFurnitures[slot4])
			end

			for slot4 = 1, #slot0._furnituresPools do
				if slot0._furnituresPools[slot4].data.type == uv0 then
					slot5.initFlag = false
				end
			end

			slot0._activeFurnitures = {}
			uv1 = Clone(uv2)
		end,
		destroy = function (slot0)
			slot0:clear()

			for slot4 = 1, #slot0._furnitureAnimTfPool do
				if slot0._furnitureAnimTfPool[slot4].animTf then
					ClearEventTrigger(GetOrAddComponent(findTF(slot5, &quot;collider&quot;), typeof(EventTriggerListener)))
				end
			end

			slot0.destroyFlag = true
		end
	}

	slot2:ctor()

	return slot2
end

slot48 = {
	{
		name = &quot;posMoveRole_1&quot;,
		start = true,
		switch_parent = true,
		finish = true,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_2&quot;
		}
	},
	{
		finish = false,
		name = &quot;posMoveRole_2&quot;,
		start = false,
		next = {
			&quot;posMoveRole_1&quot;,
			&quot;posMoveRole_3&quot;,
			&quot;posMoveRole_4&quot;
		}
	},
	{
		name = &quot;posMoveRole_3&quot;,
		start = false,
		finish = false,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_2&quot;,
			&quot;posMoveRole_5&quot;
		}
	},
	{
		name = &quot;posMoveRole_4&quot;,
		start = true,
		finish = true,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_2&quot;
		}
	},
	{
		name = &quot;posMoveRole_5&quot;,
		start = false,
		finish = false,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_3&quot;,
			&quot;posMoveRole_6&quot;,
			&quot;posMoveRole_9&quot;
		}
	},
	{
		name = &quot;posMoveRole_6&quot;,
		start = false,
		finish = false,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_5&quot;,
			&quot;posMoveRole_7&quot;,
			&quot;posMoveRole_8&quot;
		}
	},
	{
		name = &quot;posMoveRole_7&quot;,
		start = true,
		switch_parent = true,
		finish = true,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_6&quot;
		}
	},
	{
		name = &quot;posMoveRole_8&quot;,
		start = true,
		finish = true,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_6&quot;
		}
	},
	{
		name = &quot;posMoveRole_9&quot;,
		start = true,
		finish = true,
		finish_weight = 1,
		next = {
			&quot;posMoveRole_5&quot;
		}
	}
}
slot49 = {
	5,
	10
}
slot50 = 300
slot51 = 200

slot52 = function(slot0, slot1)
	slot2 = {
		ctor = function (slot0)
			slot0._tf = uv0
			slot0._event = uv1
			slot0._roleTf = findTF(slot0._tf, &quot;fushun&quot;)
			slot0._roleAnimator = GetComponent(findTF(slot0._roleTf, &quot;img/anim&quot;), typeof(Animator))
			slot0._dftEvent = GetComponent(findTF(slot0._roleTf, &quot;img/anim&quot;), typeof(DftAniEvent))

			slot0._dftEvent:SetEndEvent(function (slot0)
				setActive(uv0._roleTf, false)
				uv0:clear()
			end)

			slot4 = EventTriggerListener
			slot0._eventTrigger = GetOrAddComponent(findTF(slot0._roleTf, &quot;img/collider&quot;), typeof(slot4))

			slot0._eventTrigger:AddPointDownFunc(function (slot0, slot1, slot2)
				if uv0.removeRoleFlag then
					return
				end

				pg.CriMgr.GetInstance():PlaySoundEffect_V3(uv1)
				uv0._event:emit(uv2, {
					score = uv3,
					pos = slot1.position
				})

				uv0.removeRoleFlag = true

				uv0:setRoleAnimatorTrigger(&quot;touch&quot;)
			end)

			slot0._roleShowData = {}
			slot0._roleShowStartData = {}

			for slot4 = 1, #uv5 do
				if uv5[slot4].start then
					table.insert(slot0._roleShowStartData, Clone(uv5[slot4]))
				end

				slot5 = Clone(uv5[slot4])
				slot0._roleShowData[slot5.name] = slot5
			end

			slot0._active = false
			slot0._targetPos = Vector2(0, 0)
			slot0._currentTargetData = nil
			slot0._currentTargetPos = nil
		end,
		setRoleAnimatorTrigger = function (slot0, slot1, slot2)
			if not slot2 then
				slot0._roleAnimator:SetTrigger(slot1)
			else
				slot0._roleAnimator:ResetTrigger(slot1)
			end
		end,
		start = function (slot0)
			slot0.showTime = math.random() * (uv0[2] - uv0[1]) + uv0[1]

			slot0:clear()
		end,
		step = function (slot0)
			if slot0.showTime &gt; 0 then
				slot0.showTime = slot0.showTime - Time.deltaTime

				if slot0.showTime &lt;= 0 then
					slot0.showTime = 0

					slot0:checkShow()
				end
			end

			if slot0._currentTargetData and not slot0.removeRoleFlag then
				slot1 = slot0._roleTf.anchoredPosition
				slot2 = uv0 * math.cos(slot0._moveAngle) * Time.deltaTime
				slot3 = uv0 * math.sin(slot0._moveAngle) * Time.deltaTime

				if slot0._roleDirectX == 1 and slot0._currentTargetPos.x &lt; slot0._roleDirectX * slot2 + slot1.x then
					slot1.x = slot1.x + slot0._roleDirectX * slot2
					slot0._roleDirectX = nil
				elseif slot0._roleDirectX == -1 and slot0._roleDirectX * slot2 + slot1.x &lt; slot0._currentTargetPos.x then
					slot1.x = slot1.x + slot0._roleDirectX * slot2
					slot0._roleDirectX = nil
				elseif slot0._roleDirectX then
					slot1.x = slot1.x + slot0._roleDirectX * slot2
				end

				if slot0._roleDirectY == 1 and slot0._currentTargetPos.y &lt; slot0._roleDirectY * slot3 + slot1.y then
					slot1.y = slot1.y + slot0._roleDirectY * slot3
					slot0._roleDirectY = nil
				elseif slot0._roleDirectY == -1 and slot0._roleDirectY * slot3 + slot1.y &lt; slot0._currentTargetPos.y then
					slot1.y = slot1.y + slot0._roleDirectY * slot3
					slot0._roleDirectY = nil
				elseif slot0._roleDirectY then
					slot1.y = slot1.y + slot0._roleDirectY * slot3
				end

				slot0._roleTf.anchoredPosition = slot1

				if slot0._roleDirectX == nil and slot0._roleDirectY == nil then
					slot0:setRoleNext()
				end
			end
		end,
		setRoleStatus = function (slot0, slot1)
			setActive(slot0._roleTf, true)

			if slot1 then
				slot0:setRoleAnimatorTrigger(&quot;change&quot;, true)
				slot0:setRoleAnimatorTrigger(&quot;hide&quot;, true)
				slot0:setRoleAnimatorTrigger(&quot;show&quot;)
			else
				slot0:setRoleAnimatorTrigger(&quot;change&quot;)
			end

			slot0._roleAnimator:SetInteger(&quot;directX&quot;, slot0._roleDirectX)
			slot0._roleAnimator:SetInteger(&quot;directY&quot;, slot0._roleDirectY)
		end,
		setRoleNext = function (slot0, slot1)
			if slot1 or not slot0._currentTargetData.finish then
				slot2 = nil

				if not slot1 then
					slot2 = slot0._currentData.name
					slot2 = slot0._currentData.name
					slot0._currentData = slot0._currentTargetData
				end

				slot3 = Clone(slot0._currentData.next)

				if slot2 then
					for slot7 = #slot3, 1, -1 do
						if slot3[slot7] == slot2 then
							table.remove(slot3, slot7)
						end
					end
				end

				if #slot3 == 0 then
					slot0:clear()

					return
				end

				slot0._currentTargetData = slot0._roleShowData[slot3[math.random(1, #slot3)]]
				slot5 = findTF(slot0._tf, slot0._currentData.name)
				slot6 = findTF(slot0._tf, slot0._currentTargetData.name)

				if slot0._currentTargetData and slot0._currentTargetData.switch_parent then
					setParent(slot0._roleTf, slot6)
				else
					setParent(slot0._roleTf, slot5)
				end

				slot0._roleTf.anchoredPosition = findTF(slot5, &quot;rolePos&quot;).anchoredPosition
				slot0._currentTargetPos = findTF(slot0._tf, slot0._currentTargetData.name .. &quot;/rolePos&quot;).anchoredPosition
				slot0._roleDirectX = slot0._roleTf.anchoredPosition.x &lt; slot0._currentTargetPos.x and 1 or -1
				slot0._roleDirectY = slot0._roleTf.anchoredPosition.y &lt; slot0._currentTargetPos.y and 1 or -1
				slot0._moveAngle = math.atan(math.abs(slot0._currentTargetPos.y - slot0._roleTf.anchoredPosition.y) / math.abs(slot0._currentTargetPos.x - slot0._roleTf.anchoredPosition.x))
				slot0.removeRoleFlag = false

				slot0:setRoleStatus(slot1)
			elseif slot0._currentTargetData.finish then
				slot0:clear()
			end
		end,
		checkShow = function (slot0)
			if slot0._active and not table.contains(uv0, uv1) then
				return
			end

			for slot4 = #uv0, 1, -1 do
				if uv0[slot4] == uv1 then
					table.remove(uv0, slot4)
				end
			end

			slot0._active = true
			slot0._currentData = slot0._roleShowStartData[math.random(1, #slot0._roleShowStartData)]

			slot0:setRoleNext(true)
		end,
		clear = function (slot0)
			slot0._currentTargetData = nil
			slot0._currentTargetPos = nil

			if not table.contains(uv0, uv1) then
				table.insert(uv0, uv1)
			end

			if isActive(slot0._roleTf) then
				slot0:setRoleAnimatorTrigger(&quot;hide&quot;)

				slot0.removeRoleFlag = true

				setActive(slot0._roleTf, false)
			end

			slot0.showTime = math.random() * (uv2[2] - uv2[1]) + uv2[1]
			slot0._active = false
		end,
		destroy = function (slot0)
		end
	}

	slot2:ctor()

	return slot2
end

slot53 = {
	&quot;boot00&quot;,
	&quot;boot01&quot;,
	&quot;boot02&quot;
}
slot54 = {
	&quot;game00&quot;,
	&quot;game01&quot;,
	&quot;game02&quot;
}
slot55 = {
	&quot;tv00&quot;,
	&quot;tv01&quot;,
	&quot;tv02&quot;,
	&quot;tv03&quot;,
	&quot;tv04&quot;,
	&quot;tv05&quot;,
	&quot;tv06&quot;,
	&quot;tv07&quot;,
	&quot;tv08&quot;,
	&quot;tv09&quot;,
	&quot;tv10&quot;,
	&quot;tv11&quot;,
	&quot;tv12&quot;,
	&quot;tv13&quot;,
	&quot;tv14&quot;
}
slot56 = {
	1,
	3
}

slot57 = function(slot0, slot1)
	slot2 = {
		ctor = function (slot0)
			slot0._tf = uv0
			slot0._event = uv1
			slot0.loadedFlag = false
			slot0._tvTf = nil
			slot0._active = false
			slot0._tvAnimator = nil

			onButton(slot0._event, findTF(slot0._tf, &quot;collider&quot;), function ()
				if uv0.loadedFlag then
					return
				end

				uv0._active = not uv0._active

				uv0:updateUI()
			end, SFX_CANCEL)
		end,
		start = function (slot0)
			slot0._active = true

			slot0:updateUI()

			if not slot0.loadedFlag then
				LoadAndInstantiateAsync(uv0, uv1, function (slot0)
					if not slot0 then
						print(&quot;tv资源加载失败&quot;)

						return
					end

					if uv0.destroyFlag then
						Destroy(slot0)

						return
					end

					uv0.loadedFlag = true
					uv0._tvTf = tf(slot0)
					uv0._tvAnimator = GetComponent(findTF(uv0._tvTf, &quot;anim&quot;), typeof(Animator))

					GetComponent(findTF(uv0._tvTf, &quot;anim&quot;), typeof(DftAniEvent)):SetEndEvent(function ()
						uv0:onTvComplete()
					end)
					onButton(uv0._event, findTF(uv0._tvTf, &quot;collider&quot;), function ()
						uv0._active = not uv0._active

						uv0:updateUI()
					end)
					setParent(uv0._tvTf, findTF(uv0._tf, &quot;posTv&quot;))
					uv0:updateUI()
					uv0:setTvData()
				end)
			else
				slot0:setTvData()
			end
		end,
		setTvData = function (slot0)
			slot0.playIndex = 1
			slot0.playTvData = {}
			slot2 = Clone(uv1)
			slot3 = Clone(uv2)
			slot4 = Clone(uv3)

			for slot8 = 1, math.random(uv0[1], uv0[2]) do
				table.insert(slot0.playTvData, table.remove(slot2, math.random(1, #slot2)))
			end

			table.insert(slot0.playTvData, table.remove(slot3, math.random(1, #slot3)))
			table.insert(slot0.playTvData, table.remove(slot4, math.random(1, #slot4)))
			slot0._tvAnimator:Play(slot0.playTvData[slot0.playIndex], -1, 0)
		end,
		onTvComplete = function (slot0)
			if not slot0.playIndex and not slot0.playTvData and #slot0.playTvData == 0 then
				return
			end

			if slot0._tvAnimator then
				slot0.playIndex = slot0.playIndex + 1

				if slot0.playIndex &gt; #slot0.playTvData then
					slot0.playIndex = #slot0.playTvData
				end

				slot0._tvAnimator:Play(slot0.playTvData[slot0.playIndex], -1, 0)
			end
		end,
		step = function (slot0)
			if slot0._tvAnimator and slot0._tvAnimator.speed == 0 then
				slot0._tvAnimator.speed = 1
			end
		end,
		pause = function (slot0)
			if slot0._tvAnimator then
				slot0._tvAnimator.speed = 0
			end
		end,
		updateUI = function (slot0)
			if slot0.loadedFlag then
				setActive(findTF(slot0._tf, &quot;on&quot;), false)
				setActive(findTF(slot0._tf, &quot;off&quot;), false)

				if not slot0.tvCanvas then
					slot0.tvCanvas = GetComponent(findTF(slot0._tvTf, &quot;anim&quot;), typeof(CanvasGroup))
				end

				slot0.tvCanvas.alpha = slot0._active and 1 or 0
			else
				setActive(findTF(slot0._tf, &quot;on&quot;), slot0._active)
				setActive(findTF(slot0._tf, &quot;off&quot;), not slot0._active)
			end
		end,
		destroy = function (slot0)
			slot0.destroyFlag = true
		end,
		clear = function (slot0)
		end
	}

	slot2:ctor()

	return slot2
end

slot0.getUIName = function(slot0)
	return &quot;HideSeekGameUI&quot;
end

slot0.getBGM = function(slot0)
	return uv0
end

slot0.didEnter = function(slot0)
	slot0:initEvent()
	slot0:initData()
	slot0:initUI()
	slot0:initGameUI()
	slot0:initController()
	slot0:updateMenuUI()
	slot0:openMenuUI()
end

slot0.initEvent = function(slot0)
	if not slot0.uiCam then
		slot0.uiCam = GameObject.Find(&quot;UICamera&quot;):GetComponent(&quot;Camera&quot;)
	end

	slot0:bind(uv0, function (slot0, slot1, slot2)
		uv0:addScore(slot1.score)
		uv0:showScore(slot1)
	end)
end

slot0.showScore = function(slot0, slot1)
	slot2 = nil

	if #slot0.showScoresPool &gt; 0 then
		slot2 = table.remove(slot0.showScoresPool, 1)
	else
		slot2 = tf(Instantiate(slot0.showScoreTpl))

		setParent(slot2, slot0.sceneFrontContainer)

		slot3 = GetComponent(findTF(slot2, &quot;anim&quot;), typeof(DftAniEvent))

		slot3:SetEndEvent(function ()
			for slot3 = #uv0.showScores, 1, -1 do
				if uv1 == uv0.showScores[slot3] then
					table.insert(uv0.showScoresPool, table.remove(uv0.showScores, slot3))
				end
			end
		end)
	end

	setText(findTF(slot2, &quot;anim&quot;), &quot;+&quot; .. tostring(slot1.score))

	slot2.anchoredPosition = slot0.sceneFrontContainer:InverseTransformPoint(slot0.uiCam:ScreenToWorldPoint(slot1.pos))

	setActive(slot2, false)
	setActive(slot2, true)
	table.insert(slot0.showScores, slot2)
end

slot0.onEventHandle = function(slot0, slot1)
end

slot0.initData = function(slot0)
	if (Application.targetFrameRate or 60) &gt; 60 then
		slot1 = 60
	end

	slot0.timer = Timer.New(function ()
		uv0:onTimer()
	end, 1 / slot1, -1)
	slot0.showScores = {}
	slot0.showScoresPool = {}
end

slot0.initUI = function(slot0)
	slot0.backSceneTf = findTF(slot0._tf, &quot;scene_background&quot;)
	slot0.sceneContainer = findTF(slot0._tf, &quot;sceneMask/sceneContainer&quot;)
	slot0.sceneFrontContainer = findTF(slot0._tf, &quot;sceneMask/sceneContainer/scene_front&quot;)
	slot0.clickMask = findTF(slot0._tf, &quot;clickMask&quot;)
	slot0.bg = findTF(slot0._tf, &quot;bg&quot;)
	slot0.countUI = findTF(slot0._tf, &quot;pop/CountUI&quot;)
	slot0.countAnimator = GetComponent(findTF(slot0.countUI, &quot;count&quot;), typeof(Animator))
	slot0.countDft = GetOrAddComponent(findTF(slot0.countUI, &quot;count&quot;), typeof(DftAniEvent))

	slot0.countDft:SetTriggerEvent(function ()
	end)
	slot0.countDft:SetEndEvent(function ()
		setActive(uv0.countUI, false)
		uv0:gameStart()
	end)

	slot0.leaveUI = findTF(slot0._tf, &quot;pop/LeaveUI&quot;)

	onButton(slot0, findTF(slot0.leaveUI, &quot;ad/btnOk&quot;), function ()
		uv0:resumeGame()
		uv0:onGameOver()
	end, SFX_CANCEL)
	onButton(slot0, findTF(slot0.leaveUI, &quot;ad/btnCancel&quot;), function ()
		uv0:resumeGame()
	end, SFX_CANCEL)

	slot0.pauseUI = findTF(slot0._tf, &quot;pop/pauseUI&quot;)

	onButton(slot0, findTF(slot0.pauseUI, &quot;ad/btnOk&quot;), function ()
		setActive(uv0.pauseUI, false)
		uv0:resumeGame()
	end, SFX_CANCEL)

	slot0.settlementUI = findTF(slot0._tf, &quot;pop/SettleMentUI&quot;)

	onButton(slot0, findTF(slot0.settlementUI, &quot;ad/btnOver&quot;), function ()
		setActive(uv0.settlementUI, false)
		uv0:openMenuUI()
	end, SFX_CANCEL)

	slot0.menuUI = findTF(slot0._tf, &quot;pop/menuUI&quot;)
	slot0.battleScrollRect = GetComponent(findTF(slot0.menuUI, &quot;battList&quot;), typeof(ScrollRect))
	slot0.totalTimes = slot0:getGameTotalTime()

	scrollTo(slot0.battleScrollRect, 0, 1 - (slot0:getGameUsedTimes() - 4 &lt; 0 and 0 or slot0:getGameUsedTimes() - 4) / (slot0.totalTimes - 4))
	onButton(slot0, findTF(slot0.menuUI, &quot;rightPanelBg/arrowUp&quot;), function ()
		if uv0.battleScrollRect.normalizedPosition.y + 1 / (uv0.totalTimes - 4) &gt; 1 then
			slot0 = 1
		end

		scrollTo(uv0.battleScrollRect, 0, slot0)
	end, SFX_CANCEL)
	onButton(slot0, findTF(slot0.menuUI, &quot;rightPanelBg/arrowDown&quot;), function ()
		if uv0.battleScrollRect.normalizedPosition.y - 1 / (uv0.totalTimes - 4) &lt; 0 then
			slot0 = 0
		end

		scrollTo(uv0.battleScrollRect, 0, slot0)
	end, SFX_CANCEL)
	onButton(slot0, findTF(slot0.menuUI, &quot;btnBack&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, findTF(slot0.menuUI, &quot;btnRule&quot;), function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip.five_duomaomao.tip
		})
	end, SFX_CANCEL)
	onButton(slot0, findTF(slot0.menuUI, &quot;btnStart&quot;), function ()
		setActive(uv0.menuUI, false)
		uv0:readyStart()
	end, SFX_CANCEL)

	slot2 = findTF(slot0.menuUI, &quot;tplBattleItem&quot;)
	slot0.battleItems = {}

	for slot6 = 1, 7 do
		slot7 = tf(instantiate(slot2))
		slot7.name = &quot;battleItem_&quot; .. slot6

		setParent(slot7, findTF(slot0.menuUI, &quot;battList/Viewport/Content&quot;))
		GetSpriteFromAtlasAsync(&quot;ui/minigameui/&quot; .. uv0, &quot;battleDesc&quot; .. slot6, function (slot0)
			setImageSprite(findTF(uv0, &quot;state_open/buttomDesc&quot;), slot0, true)
			setImageSprite(findTF(uv0, &quot;state_clear/buttomDesc&quot;), slot0, true)
			setImageSprite(findTF(uv0, &quot;state_current/buttomDesc&quot;), slot0, true)
			setImageSprite(findTF(uv0, &quot;state_closed/buttomDesc&quot;), slot0, true)
		end)
		setActive(slot7, true)
		table.insert(slot0.battleItems, slot7)
	end

	if not slot0.handle and IsUnityEditor then
		slot0.handle = UpdateBeat:CreateListener(slot0.Update, slot0)

		UpdateBeat:AddListener(slot0.handle)
	end
end

slot0.initGameUI = function(slot0)
	slot0.gameUI = findTF(slot0._tf, &quot;ui/gameUI&quot;)
	slot0.showScoreTpl = findTF(slot0.sceneFrontContainer, &quot;score&quot;)

	setActive(slot0.showScoreTpl, false)
	onButton(slot0, findTF(slot0.gameUI, &quot;topRight/btnStop&quot;), function ()
		uv0:stopGame()
		setActive(uv0.pauseUI, true)
	end)
	onButton(slot0, findTF(slot0.gameUI, &quot;btnLeave&quot;), function ()
		uv0:stopGame()
		setActive(uv0.leaveUI, true)
	end)

	slot0.gameTimeS = findTF(slot0.gameUI, &quot;top/time/s&quot;)
	slot0.scoreTf = findTF(slot0.gameUI, &quot;top/score&quot;)
	slot0.sceneContainer.anchoredPosition = Vector2(0, 0)
	slot1 = GetOrAddComponent(slot0.sceneContainer, typeof(EventTriggerListener))
	slot2, slot3 = nil
	slot0.velocityXSmoothing = Vector2(0, 0)
	slot0.offsetPosition = slot0.sceneContainer.anchoredPosition

	slot1:AddBeginDragFunc(function (slot0, slot1)
		uv0 = slot1.position
		uv1 = uv2.sceneContainer.anchoredPosition
		uv2.velocityXSmoothing = Vector2(0, 0)
		uv2.offsetPosition = uv2.sceneContainer.anchoredPosition
	end)
	slot1:AddDragFunc(function (slot0, slot1)
		uv0.offsetPosition.x = slot1.position.x - uv1.x + uv2.x
		uv0.offsetPosition.y = slot1.position.y - uv1.y + uv2.y
		uv0.offsetPosition.x = uv3[2] &lt; uv0.offsetPosition.x and uv3[2] or uv0.offsetPosition.x
		uv0.offsetPosition.x = uv0.offsetPosition.x &lt; uv3[1] and uv3[1] or uv0.offsetPosition.x
		uv0.offsetPosition.y = uv4[2] &lt; uv0.offsetPosition.y and uv4[2] or uv0.offsetPosition.y
		uv0.offsetPosition.y = uv0.offsetPosition.y &lt; uv4[1] and uv4[1] or uv0.offsetPosition.y
	end)
	slot1:AddDragEndFunc(function (slot0, slot1)
	end)
end

slot0.initController = function(slot0)
	slot0.furnitureCtrl = uv0(findTF(slot0.sceneContainer, &quot;scene&quot;), slot0)
	slot0.moveRoleCtrl = uv1(findTF(slot0.sceneContainer, &quot;scene&quot;), slot0)
	slot0.tvCtrl = uv2(findTF(slot0.sceneContainer, &quot;scene/furniture_tv&quot;), slot0)
end

slot0.Update = function(slot0)
	slot0:AddDebugInput()
end

slot0.AddDebugInput = function(slot0)
	if slot0.gameStop or slot0.settlementFlag then
		return
	end

	if IsUnityEditor and Input.GetKeyDown(KeyCode.S) then
		-- Nothing
	end
end

slot0.updateMenuUI = function(slot0)
	slot1 = slot0:getGameUsedTimes()
	slot2 = slot0:getGameTimes()

	for slot6 = 1, #slot0.battleItems do
		setActive(findTF(slot0.battleItems[slot6], &quot;state_open&quot;), false)
		setActive(findTF(slot0.battleItems[slot6], &quot;state_closed&quot;), false)
		setActive(findTF(slot0.battleItems[slot6], &quot;state_clear&quot;), false)
		setActive(findTF(slot0.battleItems[slot6], &quot;state_current&quot;), false)

		if slot6 &lt;= slot1 then
			setActive(findTF(slot0.battleItems[slot6], &quot;state_clear&quot;), true)
		elseif slot6 == slot1 + 1 and slot2 &gt;= 1 then
			setActive(findTF(slot0.battleItems[slot6], &quot;state_current&quot;), true)
		elseif slot1 &lt; slot6 and slot6 &lt;= slot1 + slot2 then
			setActive(findTF(slot0.battleItems[slot6], &quot;state_open&quot;), true)
		else
			setActive(findTF(slot0.battleItems[slot6], &quot;state_closed&quot;), true)
		end
	end

	slot0.totalTimes = slot0:getGameTotalTime()

	if 1 - (slot0:getGameUsedTimes() - 3 &lt; 0 and 0 or slot0:getGameUsedTimes() - 3) / (slot0.totalTimes - 4) &gt; 1 then
		slot4 = 1
	end

	scrollTo(slot0.battleScrollRect, 0, slot4)
	setActive(findTF(slot0.menuUI, &quot;btnStart/tip&quot;), slot2 &gt; 0)
	slot0:CheckGet()
end

slot0.CheckGet = function(slot0)
	setActive(findTF(slot0.menuUI, &quot;got&quot;), false)

	if slot0:getUltimate() and slot0:getUltimate() ~= 0 then
		setActive(findTF(slot0.menuUI, &quot;got&quot;), true)
	end

	if slot0:getUltimate() == 0 then
		if slot0:getGameUsedTimes() &lt; slot0:getGameTotalTime() then
			return
		end

		pg.m02:sendNotification(GAME.SEND_MINI_GAME_OP, {
			hubid = slot0:GetMGHubData().id,
			cmd = MiniGameOPCommand.CMD_ULTIMATE,
			args1 = {}
		})
		setActive(findTF(slot0.menuUI, &quot;got&quot;), true)
	end
end

slot0.openMenuUI = function(slot0)
	setActive(findTF(slot0.sceneContainer, &quot;scene_front&quot;), false)
	setActive(findTF(slot0.sceneContainer, &quot;scene_background&quot;), false)
	setActive(findTF(slot0.sceneContainer, &quot;scene&quot;), false)
	setActive(slot0.gameUI, false)
	setActive(slot0.menuUI, true)
	setActive(slot0.bg, true)
	slot0:updateMenuUI()
end

slot0.clearUI = function(slot0)
	setActive(slot0.sceneContainer, false)
	setActive(slot0.settlementUI, false)
	setActive(slot0.countUI, false)
	setActive(slot0.menuUI, false)
	setActive(slot0.gameUI, false)
end

slot0.readyStart = function(slot0)
	setActive(slot0.countUI, true)
	slot0.countAnimator:Play(&quot;count&quot;)
	pg.CriMgr.GetInstance():PlaySoundEffect_V3(uv0)
end

slot0.gameStart = function(slot0)
	setActive(findTF(slot0.sceneContainer, &quot;scene_front&quot;), true)
	setActive(findTF(slot0.sceneContainer, &quot;scene_background&quot;), true)

	slot4 = &quot;scene&quot;

	setActive(findTF(slot0.sceneContainer, slot4), true)
	setActive(slot0.bg, false)

	slot0.sceneContainer.anchoredPosition = uv0
	slot0.offsetPosition = uv0

	setActive(slot0.gameUI, true)

	slot0.gameStartFlag = true
	slot0.scoreNum = 0
	slot0.nextPositionIndex = 2
	slot0.gameStepTime = 0
	slot0.heart = 3
	slot0.gameTime = uv1

	for slot4 = #slot0.showScores, 1, -1 do
		if not table.contains(slot0.showScoresPool, slot0.showScores[slot4]) then
			table.insert(slot0.showScoresPool, table.remove(slot0.showScores, slot4))
		end
	end

	for slot4 = #slot0.showScoresPool, 1, -1 do
		setActive(slot0.showScoresPool[slot4], false)
	end

	slot0:updateGameUI()
	slot0:timerStart()
	slot0:controllerStart()
end

slot0.controllerStart = function(slot0)
	if slot0.furnitureCtrl then
		slot0.furnitureCtrl:start()
	end

	if slot0.moveRoleCtrl then
		slot0.moveRoleCtrl:start()
	end

	if slot0.tvCtrl then
		slot0.tvCtrl:start()
	end
end

slot0.getGameTimes = function(slot0)
	return slot0:GetMGHubData().count
end

slot0.getGameUsedTimes = function(slot0)
	return slot0:GetMGHubData().usedtime
end

slot0.getUltimate = function(slot0)
	return slot0:GetMGHubData().ultimate
end

slot0.getGameTotalTime = function(slot0)
	return slot0:GetMGHubData():getConfig(&quot;reward_need&quot;)
end

slot0.changeSpeed = function(slot0, slot1)
end

slot0.onTimer = function(slot0)
	slot0:gameStep()
end

slot0.gameStep = function(slot0)
	slot0.gameTime = slot0.gameTime - Time.deltaTime

	if slot0.gameTime &lt; 0 then
		slot0.gameTime = 0
	end

	slot0.gameStepTime = slot0.gameStepTime + Time.deltaTime

	slot0:controllerStep()
	slot0:updateGameUI()

	if slot0.gameTime &lt;= 0 then
		slot0:onGameOver()

		return
	end
end

slot0.controllerStep = function(slot0)
	if slot0.furnitureCtrl then
		slot0.furnitureCtrl:step()
	end

	if slot0.moveRoleCtrl then
		slot0.moveRoleCtrl:step()
	end

	if slot0.tvCtrl then
		slot0.tvCtrl:step()
	end
end

slot0.timerStart = function(slot0)
	if not slot0.timer.running then
		slot0.timer:Start()
	end
end

slot0.timerStop = function(slot0)
	if slot0.timer.running then
		slot0.timer:Stop()

		if slot0.tvCtrl then
			slot0.tvCtrl:pause()
		end
	end
end

slot0.updateGameUI = function(slot0)
	setText(slot0.scoreTf, slot0.scoreNum)
	setText(slot0.gameTimeS, math.ceil(slot0.gameTime))

	slot0.sceneContainer.anchoredPosition, slot0.velocityXSmoothing = Vector2.SmoothDamp(slot0.sceneContainer.anchoredPosition, slot0.offsetPosition, slot0.velocityXSmoothing, uv0)
end

slot0.addScore = function(slot0, slot1)
	slot0.scoreNum = slot0.scoreNum + slot1

	if slot0.scoreNum &lt; 0 then
		slot0.scoreNum = 0
	end
end

slot0.onGameOver = function(slot0)
	if slot0.settlementFlag then
		return
	end

	slot0:timerStop()

	slot0.settlementFlag = true

	setActive(slot0.clickMask, true)
	LeanTween.delayedCall(go(slot0._tf), 0.1, System.Action(function ()
		uv0.settlementFlag = false
		uv0.gameStartFlag = false

		setActive(uv0.clickMask, false)
		uv0:showSettlement()
	end))
end

slot0.showSettlement = function(slot0)
	setActive(slot0.settlementUI, true)
	GetComponent(findTF(slot0.settlementUI, &quot;ad&quot;), typeof(Animator)):Play(&quot;settlement&quot;, -1, 0)

	slot3 = slot0.scoreNum
	slot4 = slot0:GetMGData():GetRuntimeData(&quot;elements&quot;) and #slot2 &gt; 0 and slot2[1] or 0

	setActive(findTF(slot0.settlementUI, &quot;ad/new&quot;), slot4 &lt; slot3)

	if slot4 &lt;= slot3 then
		slot0:StoreDataToServer({
			slot3
		})
	end

	setText(findTF(slot0.settlementUI, &quot;ad/highText&quot;), slot4)
	setText(findTF(slot0.settlementUI, &quot;ad/currentText&quot;), slot3)

	if slot0:getGameTimes() and slot0:getGameTimes() &gt; 0 then
		slot0.sendSuccessFlag = true

		slot0:SendSuccess(0)
	end
end

slot0.resumeGame = function(slot0)
	slot0.gameStop = false

	setActive(slot0.leaveUI, false)
	slot0:changeSpeed(1)
	slot0:timerStart()
end

slot0.stopGame = function(slot0)
	slot0.gameStop = true

	slot0:timerStop()
	slot0:changeSpeed(0)
end

slot0.onBackPressed = function(slot0)
	if not slot0.gameStartFlag then
		slot0:emit(uv0.ON_BACK_PRESSED)
	else
		if slot0.settlementFlag then
			return
		end

		if isActive(slot0.pauseUI) then
			setActive(slot0.pauseUI, false)
		end

		slot0:stopGame()
		setActive(slot0.leaveUI, true)
	end
end

slot0.willExit = function(slot0)
	if slot0.handle then
		UpdateBeat:RemoveListener(slot0.handle)
	end

	if slot0._tf and LeanTween.isTweening(go(slot0._tf)) then
		LeanTween.cancel(go(slot0._tf))
	end

	slot0:destroyController()

	if slot0.timer and slot0.timer.running then
		slot0.timer:Stop()
	end

	Time.timeScale = 1
	slot0.timer = nil
end

slot0.destroyController = function(slot0)
	if slot0.furnitureCtrl then
		slot0.furnitureCtrl:destroy()
	end

	if slot0.moveRoleCtrl then
		slot0.moveRoleCtrl:destroy()
	end

	if slot0.tvCtrl then
		slot0.tvCtrl:destroy()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>