<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newyearsnackresultview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newyearsnackresultview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewYearSnackResultView&quot;, import(&quot;.SnackResultView&quot;))

slot0.getUIName = function(slot0)
	return &quot;NewYearSnackResult&quot;
end

slot0.updateView = function(slot0)
	slot1 = slot0:calculateEXValue()

	if slot0.contextData.countTime &gt; 0 then
		setText(slot0.timeText, slot0.contextData.countTime .. &quot;s   + &quot; .. setColorStr(slot1 .. &quot;s&quot;, &quot;#3068E6FF&quot;))
	else
		setText(slot0.timeText, slot0.contextData.countTime .. &quot;s&quot;)
	end

	setText(slot0.scoreText, slot0.contextData.score .. &quot;   + &quot; .. setColorStr(slot1, &quot;#3068E6FF&quot;))
	slot0.orderList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			setImageSprite(uv0:findTF(&quot;SnackImg&quot;, slot2), GetSpriteFromAtlas(&quot;ui/minigameui/newyearsnackui_atlas&quot;, &quot;snack_&quot; .. uv0.contextData.orderIDList[slot1 + 1]))
		end
	end)
	slot0.orderList:align(#slot0.contextData.orderIDList)
	slot0.selectedList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0.contextData.selectedIDList[slot1 + 1]

			setImageSprite(uv0:findTF(&quot;SnackImg&quot;, slot2), GetSpriteFromAtlas(&quot;ui/minigameui/newyearsnackui_atlas&quot;, &quot;snack_&quot; .. slot3))
			setActive(uv0:findTF(&quot;CorrectImg&quot;, slot2), slot3 == uv0.contextData.orderIDList[slot1 + 1])
			setActive(uv0:findTF(&quot;ErrorImg&quot;, slot2), slot3 ~= slot5)
		end
	end)
	slot0.selectedList:align(#slot0.contextData.selectedIDList)

	if slot0.contextData.countTime == 0 then
		setActive(slot0.continueBtn, false)
	end

	slot0.contextData.countTime = slot0.contextData.countTime + slot1
	slot0.contextData.score = slot0.contextData.score + slot1
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>