<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simplemgevent.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>simplemgevent.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SimpleMGEvent&quot;)
slot0.LEVEL_GAME = &quot;SimpleMGEvent: leavel game&quot;
slot0.PAUSE_GAME = &quot;SimpleMGEvent: pause game &quot;
slot0.OPEN_PAUSE_UI = &quot;SimpleMGEvent: open pause ui&quot;
slot0.OPEN_LEVEL_UI = &quot;SimpleMGEvent: open leave ui&quot;
slot0.BACK_MENU = &quot;SimpleMGEvent: back menu&quot;
slot0.CLOSE_GAME = &quot;SimpleMGEvent: close game&quot;
slot0.BACK_HOME = &quot;SimpleMGEvent: back home&quot;
slot0.SHOW_RULE = &quot;SimpleMGEvent: show rule&quot;
slot0.READY_START = &quot;SimpleMGEvent: ready start&quot;
slot0.COUNT_DOWN = &quot;SimpleMGEvent: count down&quot;
slot0.STORE_SERVER = &quot;SimpleMGEvent: store server&quot;
slot0.SUBMIT_GAME_SUCCESS = &quot;SimpleMGEvent: submit game success&quot;
slot0.ADD_SCORE = &quot;SimpleMGEvent: add score&quot;
slot0.GAME_OVER = &quot;SimpleMGEvent: game over&quot;
slot0.USE_SKILL = &quot;SimpleMGEvent: use skill&quot;

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>