<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playervitaeeducatelockcard.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>playervitaeeducatelockcard.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;PlayerVitaeEducateLockCard&quot;, import(&quot;.PlayerVitaeEducateBaseCard&quot;))

slot0.Ctor = function(slot0, slot1, slot2)
	uv0.super.Ctor(slot0, slot1, slot2)
	setText(slot1:Find(&quot;desc/Text&quot;), i18n(&quot;flagship_educate_slot_lock_tip&quot;))
	onButton(slot0, slot1:Find(&quot;go&quot;), function ()
		if LOCK_NEW_EDUCATE_SYSTEM then
			uv0:emit(PlayerVitaeMediator.GO_SCENE, SCENE.EDUCATE)
		else
			uv0:emit(PlayerVitaeMediator.GO_SCENE, SCENE.NEW_EDUCATE_SELECT)
		end
	end, SFX_PANEL)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>