<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignedshipforbuildurscene.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>assignedshipforbuildurscene.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AssignedShipForBuildURScene&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;AssignedShipBuildURUI&quot;
end

slot0.setItemVO = function(slot0, slot1)
	slot0.itemVO = slot1
end

slot0.preload = function(slot0, slot1)
	slot0.shipUsageDic = {}
	slot3 = slot0.contextData.itemVO
	slot0.ids = underscore.map(slot3:getConfig(&quot;usage_arg&quot;), function (slot0)
		slot1 = pg.item_usage_invitation[slot0].ship_id
		uv0.shipUsageDic[slot1] = slot0

		return slot1
	end)
	slot0.iconSprites = {}
	slot2 = {}

	for slot6, slot7 in ipairs(slot0.ids) do
		table.insert(slot2, function (slot0)
			GetSpriteFromAtlasAsync(&quot;RegularExchangeIcon&quot;, tostring(uv0), function (slot0)
				uv0.iconSprites[uv1] = slot0

				uv2()
			end)
		end)
	end

	seriesAsync(slot2, slot1)
end

slot0.init = function(slot0)
	slot0.backBtn = slot0._tf:Find(&quot;top/bg/btn_back&quot;)

	onButton(slot0, slot0.backBtn, function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot1 = slot0._tf:Find(&quot;select/view/container&quot;)
	slot0.iconList = UIItemList.New(slot1, slot1:Find(&quot;tpl&quot;))

	slot0.iconList:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			slot3 = Ship.New({
				configId = uv0.ids[slot1]
			})

			setImageSprite(slot2:Find(&quot;Image&quot;), uv0.iconSprites[slot3.configId], true)
			setActive(slot2:Find(&quot;noget&quot;), not getProxy(CollectionProxy):getShipGroup(slot3:getGroupId()))
			onToggle(uv0, slot2, function (slot0)
				if slot0 then
					uv0:setSelectedShip(uv1)
				end
			end, SFX_PANEL)
			triggerToggle(slot2, slot1 == 1)
		end
	end)

	slot0.btnConfirm = slot0._tf:Find(&quot;select/operation/confirm&quot;)

	onButton(slot0, slot0.btnConfirm, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			content = i18n(&quot;handbook_ur_double_check&quot;, uv0.shipVO:getName()),
			onYes = function ()
				uv0:emit(AssignedShipMediator.ON_USE_ITEM, uv0.itemVO.id, 1, {
					uv0.shipUsageDic[uv0.shipVO:GetConfigID()]
				})
			end
		})
	end, SFX_CONFIRM)

	slot0.rtName = slot0._tf:Find(&quot;select/name_bg&quot;)
	slot0.rtPaint = slot0._tf:Find(&quot;main/paint&quot;)
end

slot0.setSelectedShip = function(slot0, slot1)
	if slot0.shipVO then
		retPaintingPrefab(slot0.rtPaint, slot0.shipVO:getPainting())
	end

	slot0.shipVO = slot1

	GetImageSpriteFromAtlasAsync(&quot;shiptype&quot;, ShipType.Type2BattlePrint(slot1:getShipType()), slot0.rtName:Find(&quot;shiptype/Image&quot;), true)
	setText(slot0.rtName:Find(&quot;name&quot;), slot1:getName())
	setText(slot0.rtName:Find(&quot;english&quot;), string.upper(slot1:getConfig(&quot;english_name&quot;)))
	setPaintingPrefabAsync(slot0.rtPaint, slot1:getPainting(), &quot;huode&quot;)
end

slot0.flush = function(slot0)
	slot0.iconList:align(#slot0.ids)
end

slot0.didEnter = function(slot0)
	slot0:flush()
end

slot0.willExit = function(slot0)
	slot0.iconSprites = nil

	if slot0.shipVO then
		retPaintingPrefab(slot0.rtPaint, slot0.shipVO:getPainting())
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>