<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandstaticcharaunit.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandstaticcharaunit.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandStaticCharaUnit&quot;, import(&quot;.IslandSceneUnit&quot;))

slot0.SetupBt = function(slot0)
	if not slot0.behaviourTreeOwner then
		return
	end

	if not slot0:GetView():IsInit() then
		slot0.behaviourTreeOwner.graph.blackboard:SetVariableValue(&quot;working&quot;, true)
	end

	uv0.super.SetupBt(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>