<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincouponmsgbox.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>skincouponmsgbox.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SkinCouponMsgBox&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;SkinCouponMsgBoxUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.closeBtn = slot0:findTF(&quot;window/top/btnBack&quot;)
	slot0.cancelBtn = slot0:findTF(&quot;window/button_container/cancel&quot;)
	slot0.confirmBtn = slot0:findTF(&quot;window/button_container/confirm&quot;)
	slot0.label1 = slot0:findTF(&quot;window/frame/Text&quot;):GetComponent(typeof(Text))
	slot0.leftItemTr = slot0:findTF(&quot;window/frame/left&quot;)
	slot0.nameTxt = slot0.leftItemTr:Find(&quot;name_bg/Text&quot;):GetComponent(typeof(Text))

	setText(slot0.cancelBtn:Find(&quot;pic&quot;), i18n(&quot;msgbox_text_cancel&quot;))
	setText(slot0.confirmBtn:Find(&quot;pic&quot;), i18n(&quot;msgbox_text_confirm&quot;))
	setText(slot0:findTF(&quot;window/top/bg/infomation/title&quot;), i18n(&quot;words_information&quot;))
end

slot0.OnInit = function(slot0)
	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;bg&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.closeBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.cancelBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)

	slot0.settings = slot1

	slot0:UpdateItem(slot1)
	slot0:RegisterBtn(slot1)
	slot0:UpdateContent(slot1)
end

slot0.RegisterBtn = function(slot0, slot1)
	onButton(slot0, slot0.confirmBtn, function ()
		if uv0.onYes then
			uv0.onYes()
		end

		uv1:Hide()
	end, SFX_PANEL)
end

slot0.UpdateContent = function(slot0, slot1)
	slot2 = slot1.drop
	slot0.label1.text = i18n(&quot;skin_purchase_confirm&quot;, slot2:getName(), slot1.price, slot1.skinName)

	setActive(slot0.label1, false)
	setActive(slot0.label1, true)

	slot0.nameTxt.text = slot2:getName()
end

slot0.UpdateItem = function(slot0, slot1)
	updateDrop(slot0.leftItemTr, slot1.drop)
end

slot0.Hide = function(slot0)
	slot0.settings = nil

	uv0.super.Hide(slot0)
	slot0:Destroy()
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>