<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commandertreepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>commandertreepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CommanderTreePage&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;CommanderTreeUI&quot;
end

slot0.OnInit = function(slot0)
	slot0.treePanel = slot0._tf
	slot0.treeList = UIItemList.New(slot0:findTF(&quot;bg/frame/bg/talents&quot;, slot0.treePanel), slot0:findTF(&quot;bg/frame/bg/talents/telent&quot;, slot0.treePanel))
	slot0.treeTalentDesTxt = slot0.treePanel:Find(&quot;bg/frame/bg/desc/Text&quot;):GetComponent(typeof(Text))
	slot0.treePanelCloseBtn = slot0:findTF(&quot;bg/frame/close_btn&quot;, slot0.treePanel)

	setActive(slot0.treePanel, false)
	onButton(slot0, slot0.treePanel, function ()
		uv0:closeTreePanel()
	end, SFX_PANEL)
	onButton(slot0, slot0.treePanelCloseBtn, function ()
		uv0:closeTreePanel()
	end, SFX_PANEL)
	setText(slot0._tf:Find(&quot;Text&quot;), i18n(&quot;commander_choice_talent_4&quot;))
end

slot0.Show = function(slot0, slot1, slot2)
	setActive(slot0.treePanel, true)
	slot0.treePanel:SetAsLastSibling()

	slot3 = function(slot0)
		uv0.treeTalentDesTxt.text = slot0:getConfig(&quot;desc&quot;)
	end

	slot0.treeList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = CommanderTalent.New({
				origin = false,
				id = uv0[slot1 + 1]
			})

			onToggle(uv1, slot2, function (slot0)
				if slot0 then
					uv0(uv1)
				end
			end, SFX_PANEL)
			setText(slot2:Find(&quot;name&quot;), slot3:getConfig(&quot;name&quot;))
			triggerToggle(slot2, uv3.id == slot3.id)
			setActive(slot2:Find(&quot;curr&quot;), uv3.id == slot3.id)
			setActive(slot2:Find(&quot;arr&quot;), slot1 ~= #uv0 - 1)
			GetImageSpriteFromAtlasAsync(&quot;CommanderTalentIcon/&quot; .. slot3:getConfig(&quot;icon&quot;), &quot;&quot;, slot2)
		end
	end)
	slot0.treeList:align(#slot1:getTalentList())
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		weight = slot2 or LayerWeightConst.SECOND_LAYER
	})
end

slot0.Hide = function(slot0)
	slot0:closeTreePanel()
end

slot0.closeTreePanel = function(slot0)
	setActive(slot0.treePanel, false)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>