<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandrestaurantrankpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandrestaurantrankpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandRestaurantRankPage&quot;, import(&quot;...base.IslandBasePage&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandRestaurantRankUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.uiAnim = slot0._tf:GetComponent(typeof(Animation))
	slot0.uiAnimEvent = slot0._tf:GetComponent(typeof(DftAniEvent))

	slot0.uiAnimEvent:SetEndEvent(function ()
		uv0.playingHideAnim = false

		uv1.super.Hide(uv0)
	end)

	slot0.viewTF = slot0._tf:Find(&quot;window/view&quot;)
	slot1 = slot0.viewTF:Find(&quot;content&quot;)
	slot2 = slot1:Find(&quot;tpl&quot;)

	setText(slot2:Find(&quot;info/top/exp/name&quot;), i18n(&quot;island_manage_need_ext&quot;))
	setText(slot2:Find(&quot;info/top/finished/Text&quot;), i18n(&quot;island_manage_reach&quot;))
	setText(slot2:Find(&quot;info/bottom/content/shelf/info/name&quot;), i18n(&quot;island_manage_slot&quot;))
	setText(slot2:Find(&quot;info/bottom/content/capacity/info/name&quot;), i18n(&quot;island_manage_food_cnt&quot;))
	setText(slot2:Find(&quot;info/bottom/content/percent/info/name&quot;), i18n(&quot;island_manage_sale_ratio&quot;))
	setText(slot2:Find(&quot;info/bottom/content/assistant/info/name&quot;), i18n(&quot;island_manage_worker_cnt&quot;))

	slot0.uiList = UIItemList.New(slot1, slot2)
end

slot0.OnInit = function(slot0)
	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;mask&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;window/close&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot1 = slot0.uiList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventInit then
			uv0:InitItem(slot1, slot2)
		elseif slot0 == UIItemList.EventUpdate then
			uv0:UpdataItem(slot1, slot2)
		end
	end)

	slot0.rankIds = pg.island_manage_rank.all

	table.sort(slot0.rankIds)
end

slot0.InitItem = function(slot0, slot1, slot2)
	slot3 = pg.island_manage_rank[slot0.rankIds[slot1 + 1]]
	slot2.name = slot3.id

	LoadImageSpriteAsync(&quot;island/islandrestaurant/&quot; .. slot3.icon, slot2:Find(&quot;icon&quot;))
	setText(slot2:Find(&quot;info/top/name&quot;), slot3.name)

	slot4 = slot2:Find(&quot;info/bottom/content&quot;)

	setText(slot4:Find(&quot;shelf/info/value&quot;), slot3.slot_num[1])
	setText(slot4:Find(&quot;capacity/info/value&quot;), slot3.slot_num[2])
	setText(slot4:Find(&quot;percent/info/value&quot;), slot3.bonus_coefficient / 100 .. &quot;%&quot;)
	setText(slot4:Find(&quot;assistant/info/value&quot;), slot3.assistant_num)
	setActive(slot2:Find(&quot;dot/silder&quot;), slot1 + 1 ~= #slot0.rankIds)
end

slot0.UpdataItem = function(slot0, slot1, slot2)
	slot3 = slot0.rankIds[slot1 + 1]
	slot5 = slot0.expData[slot3]
	slot6 = slot3 &lt;= slot0.level

	setActive(slot2:Find(&quot;dot/finished&quot;), slot6)
	setActive(slot2:Find(&quot;info/top/finished&quot;), slot6)
	setActive(slot2:Find(&quot;info/top/exp&quot;), not slot6)
	setText(slot2:Find(&quot;info/top/exp/value&quot;), slot0.sales .. &quot;/&quot; .. slot5)

	slot7 = slot0.expData[slot0.rankIds[slot1]] or 0

	setSlider(slot2:Find(&quot;dot/silder&quot;), 0, 1, (slot0.sales - slot7) / (slot5 - slot7))
end

slot0.OnShow = function(slot0, slot1)
	slot0:BlurPanel()

	slot2 = getProxy(IslandProxy)
	slot2 = slot2:GetIsland()
	slot2 = slot2:GetManageAgency()
	slot0.rest = slot2:GetRestaurant(slot1)
	slot2 = slot0.rest
	slot0.level = slot2:GetRankLevel()
	slot2 = slot0.rest
	slot0.sales = slot2:GetSales()
	slot0.expData = IslandRestaurant.GET_RNAK_EXPS(slot1)
	slot2 = slot0.uiList

	slot2:align(#slot0.rankIds)

	slot3 = slot0.uiList

	slot3:eachActive(function (slot0, slot1)
		slot1:GetComponent(typeof(CanvasGroup)).alpha = 0

		table.insert(uv0, function (slot0)
			slot1 = uv0
			slot1:GetComponent(typeof(CanvasGroup)).alpha = 1
			slot1 = uv0
			slot1 = slot1:GetComponent(typeof(Animation))

			slot1:Play()

			slot1 = uv1

			slot1:managedTween(LeanTween.delayedCall, function ()
				uv0()
			end, 0.03, nil)
		end)
	end)
	seriesAsync({}, function ()
		scrollTo(uv0.viewTF, 0, 1 - (uv0.level - 1) / (#uv0.rankIds - 3))
	end)
end

slot0.HideByAnim = function(slot0)
	if slot0.playingHideAnim then
		return
	end

	slot0.uiAnim:Play(&quot;anim_IslandRestaurantRankUI_Out&quot;)

	slot0.playingHideAnim = true
end

slot0.OnHide = function(slot0)
	slot0:UnBlurPanel()
end

slot0.OnDestroy = function(slot0)
	slot0.uiAnimEvent:SetEndEvent(nil)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>