<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandrestaurantupgradepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandrestaurantupgradepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandRestaurantUpgradePage&quot;, import(&quot;...base.IslandBasePage&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandRestaurantUpgradeUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.titleTF = slot0._tf:Find(&quot;title/name/Text&quot;)
	slot1 = slot0._tf:Find(&quot;window/summary&quot;)

	setText(slot1:Find(&quot;title/Text&quot;), i18n(&quot;island_manage_result_3&quot;))

	slot0.shelfTF = slot1:Find(&quot;shelf/info/value&quot;)

	setText(slot1:Find(&quot;shelf/info/name&quot;), i18n(&quot;island_manage_slot&quot;))

	slot0.capacityTF = slot1:Find(&quot;capacity/info/value&quot;)

	setText(slot1:Find(&quot;capacity/info/name&quot;), i18n(&quot;island_manage_food_cnt&quot;))

	slot0.percentTF = slot1:Find(&quot;percent/info/value&quot;)

	setText(slot1:Find(&quot;percent/info/name&quot;), i18n(&quot;island_manage_sale_ratio&quot;))

	slot0.assistantTF = slot1:Find(&quot;assistant/info/value&quot;)

	setText(slot1:Find(&quot;assistant/info/name&quot;), i18n(&quot;island_manage_worker_cnt&quot;))

	slot0.viewTF = slot0._tf:Find(&quot;window/rank&quot;)
	slot0.uiList = UIItemList.New(slot0.viewTF:Find(&quot;content&quot;), slot0.viewTF:Find(&quot;content/tpl&quot;))

	setText(slot0._tf:Find(&quot;tip&quot;), i18n(&quot;child_close_tip&quot;))
end

slot0.OnInit = function(slot0)
	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;mask&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot1 = slot0.uiList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventInit then
			slot3 = pg.island_manage_rank[uv0.rankIds[slot1 + 1]]
			slot2.name = slot3.id

			LoadImageSpriteAsync(&quot;island/islandrestaurant/&quot; .. slot3.icon, slot2:Find(&quot;icon&quot;))
			setActive(slot2:Find(&quot;dot/silder&quot;), slot1 + 1 ~= #uv0.rankIds)
		elseif slot0 == UIItemList.EventUpdate then
			uv0:UpdataItem(slot1, slot2)
		end
	end)

	slot0.rankIds = pg.island_manage_rank.all

	table.sort(slot0.rankIds)
end

slot0.OnShow = function(slot0, slot1, slot2)
	slot0:BlurPanel()

	slot0.callback = slot2
	slot0.restId = slot1.restId
	slot0.oldSale = slot1.oldSale
	slot0.rest = getProxy(IslandProxy):GetIsland():GetManageAgency():GetRestaurant(slot0.restId)
	slot0.level = slot0.rest:GetRankLevel()
	slot0.sales = slot0.rest:GetSales()
	slot0.expData = IslandRestaurant.GET_RNAK_EXPS(slot0.restId)

	setText(slot0.titleTF, slot0.rest:getConfig(&quot;name&quot;))
	slot0:UpdataSummary()
	slot0.uiList:align(#slot0.rankIds)
	scrollTo(slot0.viewTF, (slot0.level - 1) / (#slot0.rankIds - 3), 0)
end

slot0.UpdataItem = function(slot0, slot1, slot2)
	slot3 = slot0.rankIds[slot1 + 1]

	setActive(slot2:Find(&quot;dot/finished&quot;), slot3 &lt;= slot0.level)

	slot7 = slot0.expData[slot0.rankIds[slot1]] or 0

	setSlider(slot2:Find(&quot;dot/silder&quot;), 0, 1, (slot0.sales - slot7) / (slot0.expData[slot3] - slot7))
end

slot0.UpdataSummary = function(slot0)
	slot2 = pg.island_manage_rank[slot0.level - 1]

	setText(slot0.shelfTF:Find(&quot;base&quot;), slot2.slot_num[1])
	setText(slot0.shelfTF:Find(&quot;add&quot;), pg.island_manage_rank[slot0.level].slot_num[1] - slot2.slot_num[1] &gt; 0 and &quot;+&quot; .. slot3 or &quot;&quot;)
	setText(slot0.capacityTF:Find(&quot;base&quot;), slot2.slot_num[2])
	setText(slot0.capacityTF:Find(&quot;add&quot;), slot1.slot_num[2] - slot2.slot_num[2] &gt; 0 and &quot;+&quot; .. slot4 or &quot;&quot;)
	setText(slot0.percentTF:Find(&quot;base&quot;), slot2.bonus_coefficient / 100 .. &quot;%&quot;)
	setText(slot0.percentTF:Find(&quot;add&quot;), (slot1.bonus_coefficient - slot2.bonus_coefficient) / 100 &gt; 0 and &quot;+&quot; .. slot5 .. &quot;%&quot; or &quot;&quot;)
	setText(slot0.assistantTF:Find(&quot;base&quot;), slot2.assistant_num)
	setText(slot0.assistantTF:Find(&quot;add&quot;), slot1.assistant_num - slot2.assistant_num &gt; 0 and &quot;+&quot; .. slot6 or &quot;&quot;)
end

slot0.OnHide = function(slot0)
	slot0:UnBlurPanel()
	existCall(slot0.callback)

	slot0.callback = nil
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>