<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courtyardoutstoreymodule.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>courtyardoutstoreymodule.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CourtYardOutStoreyModule&quot;, import(&quot;.CourtYardStoreyModule&quot;))
slot1 = true

slot0.OnInit = function(slot0)
	slot0.scrollrect = slot0._tf:Find(&quot;scrollRect&quot;)
	slot0.scroll = slot0.scrollrect:GetComponent(typeof(ScrollRect))
	slot0.rectTF = slot0._tf:Find(&quot;scrollRect/bg/rect&quot;)
	slot0.gridsTF = slot0.rectTF:Find(&quot;grids&quot;)
	slot0.rootTF = slot0._tf:Find(&quot;root&quot;)
	slot0.selectedTF = slot0._tf:Find(&quot;root/drag&quot;)
	slot0.rotationBtn = slot0.selectedTF:Find(&quot;panel/rotation&quot;)
	slot0.removeBtn = slot0.selectedTF:Find(&quot;panel/cancel&quot;)
	slot0.confirmBtn = slot0.selectedTF:Find(&quot;panel/ok&quot;)
	slot0.dragBtn = CourtYardStoreyDragBtn.New(slot0.selectedTF:Find(&quot;panel/animroot&quot;), slot0.rectTF)
end

slot0.EnableZoom = function(slot0, slot1)
	slot0.scroll.enabled = slot1
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>