<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metaptgetpreviewlayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>metaptgetpreviewlayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MetaPTGetPreviewLayer&quot;, import(&quot;...base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;MetaPTGetPreviewUI&quot;
end

slot0.init = function(slot0)
	slot0:initUITextTips()
	slot0:initData()
	slot0:findUI()
	slot0:addListener()
end

slot0.didEnter = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		weight = LayerWeightConst.THIRD_LAYER
	})
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

slot0.initUITextTips = function(slot0)
	setText(slot0:findTF(&quot;Panel/BG/TitleText&quot;), i18n(&quot;meta_pt_get_way&quot;))
end

slot0.initData = function(slot0)
end

slot0.findUI = function(slot0)
	slot0.bg = slot0:findTF(&quot;BG&quot;)
	slot0.panelTF = slot0:findTF(&quot;Panel&quot;)
	slot0.bossBtn = slot0:findTF(&quot;BossTip&quot;, slot0.panelTF)
	slot0.taskBtn = slot0:findTF(&quot;TaskTip&quot;, slot0.panelTF)
	slot0.resetBtn = slot0:findTF(&quot;ResetTip&quot;, slot0.panelTF)
end

slot0.addListener = function(slot0)
	onButton(slot0, slot0.bg, function ()
		uv0:closeView()
	end, SFX_PANEL)
	onButton(slot0, slot0.panelTF, function ()
		uv0:closeView()
	end, SFX_PANEL)

	slot1 = function()
		getProxy(ContextProxy):getContextByMediator(MetaCharacterMediator).data.lastPageIndex = pg.m02:retrieveMediator(&quot;MetaCharacterMediator&quot;).viewComponent.curPageIndex

		uv0:closeView()
		uv0:sendNotification(GAME.GO_SCENE, SCENE.WORLDBOSS)

		if getProxy(ContextProxy):getContextByMediator(MetaCharacterSynMediator) then
			slot0:removeChild(slot2)
		end
	end

	onButton(slot0, slot0.bossBtn, slot1, SFX_PANEL)
	onButton(slot0, slot0.taskBtn, slot1, SFX_PANEL)
	onButton(slot0, slot0.resetBtn, slot1, SFX_PANEL)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>