<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metacharactertacticsmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>metacharactertacticsmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MetaCharacterTacticsMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.GO_TASK = &quot;MetaCharacterTacticsMediator:GO_TASK&quot;
slot0.ON_SUBMIT = &quot;MetaCharacterTacticsMediator:ON_SUBMIT&quot;
slot0.ON_TRIGGER = &quot;MetaCharacterTacticsMediator:ON_TRIGGER&quot;
slot0.ON_SKILL = &quot;MetaCharacterTacticsMediator:ON_SKILL&quot;
slot0.ON_QUICK = &quot;MetaCharacterTacticsMediator:ON_QUICK&quot;

slot0.register = function(slot0)
	slot0:requestTacticsData()
	slot0:bindEvent()
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.TACTICS_META_INFO_REQUEST_DONE,
		GAME.TACTICS_META_UNLOCK_SKILL_DONE,
		GAME.TACTICS_META_SWITCH_SKILL_DONE,
		GAME.TACTICS_META_LEVELUP_SKILL_DONE,
		GAME.META_QUICK_TACTICS_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.TACTICS_META_INFO_REQUEST_DONE then
		slot0.viewComponent:setTacticsData(slot3)
		slot0.viewComponent:updateTacticsRedTag()
		slot0.viewComponent:updateExpPanel()
		slot0.viewComponent:updateMain()
		slot0.viewComponent:updateSkillTFLearning()
	elseif slot2 == GAME.TACTICS_META_UNLOCK_SKILL_DONE then
		slot0.viewComponent:updateData()
		slot0.viewComponent:updateSkillListPanel()
		slot0.viewComponent:updateMain()

		if slot0.viewComponent:isAllSkillLock() then
			slot0.viewComponent:tryLearnSkillAfterFirstUnlock()
		end

		slot0.viewComponent:closeUnlockSkillPanel()
	elseif slot2 == GAME.TACTICS_META_SWITCH_SKILL_DONE then
		slot4 = slot3.skillID

		slot0.viewComponent:switchTacticsSkillData(slot4, slot3.leftSwitchCount)
		slot0.viewComponent:updateExpPanel()
		slot0.viewComponent:updateTaskPanel(slot4)
		slot0.viewComponent:updateSkillTFLearning()
	elseif slot2 == GAME.TACTICS_META_LEVELUP_SKILL_DONE then
		slot4 = slot3.skillID

		slot0.viewComponent:updateData()
		slot0.viewComponent:levelupTacticsSkillData(slot4, slot3.leftSwitchCount)
		slot0.viewComponent:updateTacticsRedTag()
		slot0.viewComponent:updateSkillListPanel()
		slot0.viewComponent:updateTaskPanel(slot4)
	elseif slot2 == GAME.META_QUICK_TACTICS_DONE then
		slot4 = slot3.skillID
		slot5 = slot3.skillExp

		if slot3.isLevelUp then
			slot0.viewComponent:clearTaskInfo(slot4)
		end

		slot0.viewComponent:updateSkillExp(slot4, slot5)
		slot0.viewComponent:updateData()
		slot0.viewComponent:updateTacticsRedTag()
		slot0.viewComponent:updateSkillListPanel()
		slot0.viewComponent:updateTaskPanel(slot4)
	end
end

slot0.bindEvent = function(slot0)
	slot0:bind(uv0.ON_QUICK, function (slot0, slot1, slot2)
		uv0:addSubLayers(Context.New({
			mediator = MetaQuickTacticsMediator,
			viewComponent = MetaQuickTacticsLayer,
			data = {
				shipID = slot1,
				skillID = slot2
			}
		}))
	end)
end

slot0.requestTacticsData = function(slot0)
	slot0:sendNotification(GAME.TACTICS_META_INFO_REQUEST, {
		id = slot0.contextData.shipID
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>