<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandstoryrecordpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandstoryrecordpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandStoryRecordPanel&quot;, import(&quot;Mgr.Story.NewStoryRecordPanel&quot;))

slot0.Ctor = function(slot0, slot1)
	slot0.view = slot1

	uv0.super.Ctor(slot0)
end

slot0.GetUIName = function(slot0)
	return &quot;IslandStoryRecordUI&quot;
end

slot0.GetParent = function(slot0)
	return slot0.view._tf
end

slot0.UpdateIcon = function(slot0, slot1, slot2)
	GetImageSpriteFromAtlasAsync(&quot;island/IslandShipIcon/&quot; .. slot1.icon, &quot;&quot;, slot2:Find(&quot;Image&quot;))
end

slot0.BlurPanel = function(slot0)
end

slot0.UnblurPanel = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>