<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newbackyardshopmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newbackyardshopmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewBackYardShopMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.ON_SHOPPING = &quot;NewBackYardShopMediator:ON_SHOPPING&quot;
slot0.ON_CHARGE = &quot;NewBackYardShopMediator:ON_CHARGE&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_SHOPPING, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.BUY_FURNITURE, {
			furnitureIds = slot1,
			type = slot2
		})
	end)
	slot0:bind(uv0.ON_CHARGE, function (slot0, slot1)
		if uv0.contextData.onDeattch then
			uv0.contextData.onDeattch = nil
		end

		if getProxy(ContextProxy):getCurrentContext():getContextByMediator(CourtYardMediator) then
			slot2.data.skipToCharge = true
		end

		if slot1 == PlayerConst.ResDiamond then
			uv0:sendNotification(GAME.GO_SCENE, SCENE.CHARGE, {
				wrap = ChargeScene.TYPE_DIAMOND
			})
		elseif slot1 == PlayerConst.ResDormMoney then
			uv0:sendNotification(GAME.GO_SCENE, SCENE.EVENT)
		end
	end)
	slot0.viewComponent:SetDorm(getProxy(DormProxy):getRawData())
	slot0.viewComponent:SetPlayer(getProxy(PlayerProxy):getRawData())
end

slot0.remove = function(slot0)
	if slot0.contextData.onRemove then
		slot0.contextData.onRemove()
	end
end

slot0.listNotificationInterests = function(slot0)
	return {
		PlayerProxy.UPDATED,
		GAME.BUY_FURNITURE_DONE,
		DormProxy.DORM_UPDATEED
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()
	slot4 = slot1:getType()

	if slot1:getName() == PlayerProxy.UPDATED then
		slot0.viewComponent:PlayerUpdated(slot3)
	elseif slot2 == GAME.BUY_FURNITURE_DONE then
		slot0.viewComponent:FurnituresUpdated(slot4)
	elseif slot2 == DormProxy.DORM_UPDATEED then
		slot0.viewComponent:DormUpdated(getProxy(DormProxy):getRawData())
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>