<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latestskinshopmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>latestskinshopmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;LatestSkinShopMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.ON_RECORD_ANIM_PREVIEW_BTN = &quot;LatestSkinShopMediator.ON_RECORD_ANIM_PREVIEW_BTN&quot;
slot0.OPEN_ACTIVITY = &quot;LatestSkinShopMediator.OPEN_ACTIVITY&quot;
slot0.ON_SHOPPING_BY_ACT = &quot;LatestSkinShopMediator.ON_SHOPPING_BY_ACT&quot;
slot0.ON_SHOPPING = &quot;LatestSkinShopMediator.ON_SHOPPING&quot;
slot0.ON_ITEM_PURCHASE = &quot;LatestSkinShopMediator.ON_ITEM_PURCHASE&quot;
slot0.GO_SHOPS_LAYER = &quot;LatestSkinShopMediator.GO_SHOPS_LAYER&quot;
slot0.OPEN_SCENE = &quot;LatestSkinShopMediator.OPEN_SCENE&quot;
slot0.ON_BACKYARD_SHOP = &quot;LatestSkinShopMediator.ON_BACKYARD_SHOP&quot;
slot0.ON_ITEM_EXPERIENCE = &quot;LatestSkinShopMediator.ON_ITEM_EXPERIENCE&quot;
slot0.OPEN_OWN_SKIN_LAYER = &quot;LatestSkinShopMediator.OPEN_OWN_SKIN_LAYER&quot;
slot0.OPEN_GIFT_PACK_LAYER = &quot;LatestSkinShopMediator.OPEN_GIFT_PACK_LAYER&quot;
slot0.OPEN_CHARGE_BIRTHDAY = &quot;LatestSkinShopMediator:OPEN_CHARGE_BIRTHDAY&quot;
slot0.CHARGE = &quot;LatestSkinShopMediator:CHARGE&quot;
slot0.OPEN_CHARGE_ITEM_PANEL = &quot;LatestSkinShopMediator:OPEN_CHARGE_ITEM_PANEL&quot;
slot0.OPEN_CHARGE_ITEM_BOX = &quot;LatestSkinShopMediator:OPEN_CHARGE_ITEM_BOX&quot;
slot0.BUY_ITEM = &quot;LatestSkinShopMediator:BUY_ITEM&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_RECORD_ANIM_PREVIEW_BTN, function (slot0, slot1)
		uv0:sendNotification(GAME.RECORD_SKIN_ANIM_PREVIEW, {
			isOpen = slot1
		})
	end)
	slot0:bind(uv0.OPEN_ACTIVITY, function (slot0, slot1)
		uv0:sendNotification(GAME.GO_SCENE, SCENE.ACTIVITY, {
			id = slot1
		})
	end)
	slot0:bind(uv0.ON_SHOPPING_BY_ACT, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.SKIN_COUPON_SHOPPING, {
			shopId = slot1,
			cnt = slot2
		})
	end)
	slot0:bind(uv0.ON_SHOPPING, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.SKIN_SHOPPIGN, {
			id = slot1,
			count = slot2
		})
	end)
	slot0:bind(uv0.ON_ITEM_PURCHASE, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.USE_ITEM, {
			count = 1,
			id = slot1,
			arg = {
				slot2
			}
		})
	end)
	slot0:bind(uv0.GO_SHOPS_LAYER, function (slot0, slot1)
		uv0:sendNotification(GAME.GO_SCENE, SCENE.SHOP, {
			warp = NewShopsScene.TYPE_ACTIVITY,
			actId = slot1
		})
	end)
	slot0:bind(uv0.OPEN_SCENE, function (slot0, slot1)
		uv0:sendNotification(GAME.GO_SCENE, slot1[1], slot1[2])
	end)
	slot0:bind(uv0.ON_BACKYARD_SHOP, function (slot0)
		uv0:addSubLayers(Context.New({
			mediator = NewBackYardShopMediator,
			viewComponent = NewBackYardShopLayer,
			data = {
				topLayer = true,
				page = 5
			}
		}))
	end)
	slot0:bind(uv0.ON_ITEM_EXPERIENCE, function (slot0, slot1, slot2, slot3)
		uv0:sendNotification(GAME.USE_ITEM, {
			id = slot1,
			count = slot3,
			arg = {
				slot2
			}
		})
	end)
	slot0:bind(uv0.OPEN_OWN_SKIN_LAYER, function (slot0, slot1, slot2, slot3)
		uv0:addSubLayers(Context.New({
			viewComponent = NewSkinAtlasLayer,
			mediator = NewSkinAtlasMediator
		}))
	end)
	slot0:bind(uv0.OPEN_GIFT_PACK_LAYER, function (slot0, slot1, slot2, slot3)
		uv0:addSubLayers(Context.New({
			viewComponent = LatestSkinGiftPackLayer,
			mediator = LatestSkinGiftPackMediator,
			data = {
				giftPackCommodity = slot1,
				skinCommodities = slot2,
				skinProbabilitys = slot3
			}
		}))
	end)
	slot0:bind(uv0.OPEN_CHARGE_BIRTHDAY, function (slot0, slot1)
		uv0:addSubLayers(Context.New({
			mediator = ChargeBirthdayMediator,
			viewComponent = ChargeBirthdayLayer,
			data = {}
		}))
	end)
	slot0:bind(uv0.CHARGE, function (slot0, slot1)
		uv0:sendNotification(GAME.CHARGE_OPERATION, {
			shopId = slot1
		})
	end)
	slot0:bind(uv0.OPEN_CHARGE_ITEM_PANEL, function (slot0, slot1)
		uv0:addSubLayers(Context.New({
			mediator = ChargeItemPanelMediator,
			viewComponent = ChargeItemPanelLayer,
			data = {
				panelConfig = slot1
			}
		}))
	end)
	slot0:bind(uv0.OPEN_CHARGE_ITEM_BOX, function (slot0, slot1)
		uv0:addSubLayers(Context.New({
			mediator = ChargeItemBoxMediator,
			viewComponent = ChargeItemBoxLayer,
			data = {
				panelConfig = slot1
			}
		}))
	end)
	slot0:bind(uv0.BUY_ITEM, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.SHOPPING, {
			id = slot1,
			count = slot2
		})
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		NewShopMainScene.CLOSE_ALL_LAYER,
		PlayerProxy.UPDATED,
		GAME.SKIN_SHOPPIGN_DONE,
		GAME.SKIN_COUPON_SHOPPING_DONE,
		GAME.BUY_FURNITURE_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()
	slot4 = slot1:getType()

	if slot1:getName() == NewShopMainScene.CLOSE_ALL_LAYER then
		slot0.viewComponent:closeView()
	elseif slot2 == PlayerProxy.UPDATED then
		slot0.viewComponent:SetResource()
	else
		if slot2 == GAME.SKIN_SHOPPIGN_DONE or slot2 == GAME.SKIN_COUPON_SHOPPING_DONE then
			if pg.shop_template[slot3.id] and (slot5.genre == ShopArgs.SkinShop or slot5.genre == ShopArgs.SkinShopTimeLimit) then
				if pg.ship_skin_template[slot5.effect_args[1]].skin_type == ShipSkin.SKIN_TYPE_TB then
					slot0:addSubLayers(Context.New({
						mediator = NewSkinTBMediator,
						viewComponent = NewSkinTBLayer,
						data = {
							skinId = slot5.effect_args[1],
							timeLimit = slot5.genre == ShopArgs.SkinShopTimeLimit
						}
					}))
				else
					slot7 = function()
						uv0:addSubLayers(Context.New({
							mediator = NewSkinMediator,
							viewComponent = NewSkinLayer,
							data = {
								skinId = uv1.effect_args[1],
								timeLimit = uv1.genre == ShopArgs.SkinShopTimeLimit
							}
						}))
					end

					if PaintingShowScene.GetSkinShowAble(slot6) then
						slot0:addSubLayers(Context.New({
							mediator = PaintingShowMediator,
							viewComponent = PaintingShowScene,
							data = {
								skinId = slot6,
								callback = slot7
							}
						}))
					else
						slot7()
					end
				end

				slot0.viewComponent:OnShopping(slot3.id)
			end

			return
		end

		if slot2 == GAME.BUY_FURNITURE_DONE then
			slot0.viewComponent:OnFurnitureUpdate(slot4[1])
		end
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>