<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newrecommendationshoplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newrecommendationshoplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewRecommendationShopLayer&quot;, import(&quot;...base.BaseUI&quot;))
slot1 = pg.shop_banner_template

slot0.getUIName = function(slot0)
	return &quot;NewRecommendationShopUI&quot;
end

slot0.init = function(slot0)
	slot0.resources = slot0._tf:Find(&quot;adapt/top/resources&quot;)
	slot0.banners = {
		banner_big = BannerScrollRectDorm3dShop.New(slot0._tf:Find(&quot;panel/banner_big/banner/mask/content&quot;), slot0._tf:Find(&quot;panel/banner_big/banner/dots&quot;)),
		banner_middle = BannerScrollRectDorm3dShop.New(slot0._tf:Find(&quot;panel/banner_middle/banner/mask/content&quot;), slot0._tf:Find(&quot;panel/banner_middle/banner/dots&quot;)),
		banner_small1 = BannerScrollRectDorm3dShop.New(slot0._tf:Find(&quot;panel/banner_small1/banner/mask/content&quot;), slot0._tf:Find(&quot;panel/banner_small1/banner/dots&quot;)),
		banner_small2 = BannerScrollRectDorm3dShop.New(slot0._tf:Find(&quot;panel/banner_small2/banner/mask/content&quot;), slot0._tf:Find(&quot;panel/banner_small2/banner/dots&quot;)),
		banner_small3 = BannerScrollRectDorm3dShop.New(slot0._tf:Find(&quot;panel/banner_small3/banner/mask/content&quot;), slot0._tf:Find(&quot;panel/banner_small3/banner/dots&quot;))
	}

	setText(slot0._tf:Find(&quot;panel/banner_big/banner/mask/content/item/time/remainTime&quot;), i18n(&quot;shop_new_during_time&quot;))
	setText(slot0._tf:Find(&quot;panel/banner_small2/banner/mask/content/item/monthCard/day&quot;), i18n(&quot;shop_new_daily&quot;))
	setText(slot0._tf:Find(&quot;panel/banner_middle/banner/mask/content/item/detail/buy/Text&quot;), i18n(&quot;shop_new_purchase&quot;))
	setText(slot0._tf:Find(&quot;panel/banner_small1/banner/mask/content/item/detail/buy/Text&quot;), i18n(&quot;shop_new_purchase&quot;))
	setText(slot0._tf:Find(&quot;panel/banner_small2/banner/mask/content/item/detail/buy/Text&quot;), i18n(&quot;shop_new_purchase&quot;))
	setText(slot0._tf:Find(&quot;panel/banner_small2/banner/mask/content/item/monthCard/buy/Text&quot;), i18n(&quot;shop_new_purchase&quot;))
	setText(slot0._tf:Find(&quot;panel/banner_small3/banner/mask/content/item/detail/buy/Text&quot;), i18n(&quot;shop_new_purchase&quot;))
end

slot0.didEnter = function(slot0)
	slot0:InitData()
	slot0:ShowResUI()
	slot0:SetPanel()
	pg.UIMgr.GetInstance():OverlayPanel(slot0._tf, {
		groupName = &quot;shop&quot;
	})
end

slot0.InitData = function(slot0)
	slot0.shopsProxy = getProxy(ShopsProxy)
	slot1 = slot0.shopsProxy:getChargedList()
	slot2 = slot0.shopsProxy:GetNormalList()
	slot3 = slot0.shopsProxy:GetNormalGroupList()
	slot0.commodities = {
		{},
		{},
		{}
	}

	for slot7, slot8 in ipairs(uv0.all) do
		if pg.TimeMgr.GetInstance():inTime(uv0[slot8].time) and slot9.relation_param ~= &quot;&quot; then
			slot11 = slot9.relation_param[2]
			slot12 = nil

			if slot9.relation_param[1] == 1 then
				Goods.Create({
					id = slot11
				}, Goods.TYPE_CHARGE):updateBuyCount(ChargeConst.getBuyCount(slot1, slot11))
			elseif slot10 == 2 then
				slot12 = Goods.Create({
					id = slot11
				}, Goods.TYPE_GIFT_PACKAGE)

				slot12:updateBuyCount(ChargeConst.getBuyCount(slot2, slot11))
				slot12:updateGroupCount(ChargeConst.getGroupLimit(slot3, slot12:getConfig(&quot;group&quot;) or 0))
			elseif slot10 == 3 then
				slot12 = Goods.Create({
					id = slot11
				}, Goods.TYPE_SKIN)

				slot12:updateBuyCount(ChargeConst.getBuyCount(slot2, slot11))
				slot12:updateGroupCount(ChargeConst.getGroupLimit(slot3, slot12:getConfig(&quot;group&quot;) or 0))
			end

			slot0.commodities[slot10][slot11] = slot12
		end
	end

	slot4 = pg.gameset.shop_banner_capacity.key_value
	slot0.bnIds = Clone(uv0.get_id_list_by_name)

	for slot8, slot9 in pairs(slot0.bnIds) do
		slot13 = {
			function (slot0)
				return -uv0[slot0].order
			end,
			function (slot0)
				return slot0
			end
		}

		table.sort(slot9, CompareFuncs(slot13))

		for slot13 = #slot9, 1, -1 do
			if not pg.TimeMgr.GetInstance():inTime(uv0[slot9[slot13]].time) then
				table.remove(slot9, slot13)
			elseif slot14.relation_param ~= &quot;&quot; then
				slot15 = slot14.relation_param[1]
				slot17 = slot0.commodities[slot15][slot14.relation_param[2]]

				if slot15 == 1 then
					if not slot17:inTime() or not slot17:canPurchase() then
						table.remove(slot9, slot13)
					end
				elseif (slot15 == 2 or slot15 == 3) and (not slot17:inTime() or not slot17:canPurchase() or slot17:IsGroupLimit()) then
					table.remove(slot9, slot13)
				end
			end
		end

		if #slot9 &gt; 1 then
			table.remove(slot9, #slot9)
		end

		if slot4 &lt; #slot9 then
			for slot13 = #slot9, slot4 + 1, -1 do
				table.remove(slot9, slot13)
			end
		end
	end
end

slot0.ShowResUI = function(slot0)
	slot1 = getProxy(PlayerProxy)
	slot2 = slot0.resources
	slot2 = slot2:Find(&quot;gold/max&quot;)
	slot0.goldMax = slot2:GetComponent(typeof(Text))
	slot2 = slot0.resources
	slot2 = slot2:Find(&quot;gold/Text&quot;)
	slot0.goldValue = slot2:GetComponent(typeof(Text))
	slot2 = slot0.resources
	slot2 = slot2:Find(&quot;oil/max&quot;)
	slot0.oilMax = slot2:GetComponent(typeof(Text))
	slot2 = slot0.resources
	slot2 = slot2:Find(&quot;oil/Text&quot;)
	slot0.oilValue = slot2:GetComponent(typeof(Text))
	slot2 = slot0.resources
	slot2 = slot2:Find(&quot;gem/Text&quot;)
	slot0.gemValue = slot2:GetComponent(typeof(Text))

	PlayerResUI.StaticFlush(slot1:getRawData(), slot0.goldMax, slot0.goldValue, slot0.oilMax, slot0.oilValue, slot0.gemValue)

	slot4 = slot0.resources

	onButton(slot0, slot4:Find(&quot;gold&quot;), function ()
		pg.playerResUI:ClickGold()
	end, SFX_PANEL)

	slot4 = slot0.resources

	onButton(slot0, slot4:Find(&quot;oil&quot;), function ()
		pg.playerResUI:ClickOil()
	end, SFX_PANEL)

	slot4 = slot0.resources

	onButton(slot0, slot4:Find(&quot;gem&quot;), function ()
		pg.playerResUI:ClickGem()
	end, SFX_PANEL)
end

slot0.SetPanel = function(slot0)
	for slot4, slot5 in pairs(slot0.banners) do
		for slot9, slot10 in ipairs(slot0.bnIds[slot4]) do
			slot11 = uv0[slot10]
			slot12 = slot5:AddChild()

			GetImageSpriteFromAtlasAsync(slot11.pic, &quot;&quot;, slot12:Find(&quot;picture&quot;))
			setActive(slot12:Find(&quot;detail&quot;), slot11.relation_param ~= &quot;&quot;)
			setActive(slot12:Find(&quot;time&quot;), slot11.time_lable == 1)

			if slot4 == &quot;banner_small2&quot; then
				setActive(slot12:Find(&quot;monthCard&quot;), false)
				setActive(slot12:Find(&quot;monthCardhave&quot;), false)
			end

			if slot11.relation_param ~= &quot;&quot; then
				slot15 = slot0.commodities[slot11.relation_param[1]][slot11.relation_param[2]]

				if slot4 == &quot;banner_small2&quot; and slot13 == 1 and slot15:isMonthCard() then
					setActive(slot12:Find(&quot;detail&quot;), false)
					setActive(slot12:Find(&quot;monthCard&quot;), true)
					setText(slot12:Find(&quot;monthCard/name&quot;), slot15:getConfig(&quot;name_display&quot;))
					GetImageSpriteFromAtlasAsync(&quot;chargeicon/&quot; .. slot15:getConfig(&quot;picture&quot;), &quot;&quot;, slot12:Find(&quot;monthCard/icon&quot;))
					setText(slot12:Find(&quot;monthCard/get&quot;), i18n(&quot;shop_new_get_now&quot;, slot15:GetGemCnt()))

					slot16 = slot15:GetDropList()

					while #slot16 &gt; 3 do
						table.remove(slot16, #slot16)
					end

					slot17 = UIItemList.New(slot12:Find(&quot;monthCard/items&quot;), slot12:Find(&quot;monthCard/items/item&quot;))

					slot17:make(function (slot0, slot1, slot2)
						if slot0 == UIItemList.EventUpdate then
							updateDrop(slot2:Find(&quot;mask/item&quot;), uv0[slot1 + 1])
						end
					end)
					slot17:align(#slot16)

					slot19 = slot15:isFree()

					setText(slot12:Find(&quot;monthCard/consume/icon_rmb&quot;), GetMoneySymbol())
					setActive(slot12:Find(&quot;monthCard/consume/icon_rmb&quot;), slot13 == 1 and not (slot13 == 1 and slot15:getShowType() ~= &quot;&quot;))

					if PLATFORM_CODE == PLATFORM_CHT and slot15:IsLocalPrice() then
						setActive(slot12:Find(&quot;monthCard/consume/icon_rmb&quot;), false)
					end

					setActive(slot12:Find(&quot;monthCard/consume/icon_gem&quot;), slot13 ~= 1 and not slot19)
					setActive(slot12:Find(&quot;monthCard/consume/Text&quot;), not slot19 and not slot18)

					if slot13 == 1 then
						setText(slot12:Find(&quot;monthCard/consume/Text&quot;), slot15:getConfig(&quot;money&quot;))
					elseif slot13 == 2 then
						setText(slot12:Find(&quot;monthCard/consume/Text&quot;), slot15:GetPrice())
					end

					setActive(slot12:Find(&quot;monthCard/consume/FreeText&quot;), slot19)
					setText(slot12:Find(&quot;monthCard/consume/FreeText&quot;), i18n(&quot;shop_free_tag&quot;))

					slot22 = getProxy(PlayerProxy):getRawData():getCardById(VipCard.MONTH) and slot21:GetLeftDay() &gt; (slot15:getConfig(&quot;limit_arg&quot;) or 0)

					setActive(slot12:Find(&quot;monthCardhave&quot;), slot22)

					if slot22 then
						setText(slot12:Find(&quot;monthCardhave/Text&quot;), i18n(&quot;shop_new_remaining_time&quot;, slot21:GetLeftDay()))
					end
				else
					if slot13 == 1 then
						setText(slot12:Find(&quot;detail/name&quot;), slot15:getConfig(&quot;name_display&quot;))
						GetImageSpriteFromAtlasAsync(&quot;chargeicon/&quot; .. slot15:getConfig(&quot;picture&quot;), &quot;&quot;, slot12:Find(&quot;detail/icon&quot;))
					elseif slot13 == 2 then
						setText(slot12:Find(&quot;detail/name&quot;), slot15:GetName())
						GetImageSpriteFromAtlasAsync(slot15:getDropInfo():getIcon(), &quot;&quot;, slot12:Find(&quot;detail/icon&quot;))
					end

					slot16 = slot15:GetDropList()

					while #slot16 &gt; 3 do
						table.remove(slot16, #slot16)
					end

					slot17 = UIItemList.New(slot12:Find(&quot;detail/items&quot;), slot12:Find(&quot;detail/items/item&quot;))

					slot17:make(function (slot0, slot1, slot2)
						if slot0 == UIItemList.EventUpdate then
							updateDrop(slot2:Find(&quot;mask/item&quot;), uv0[slot1 + 1])
						end
					end)
					slot17:align(#slot16)

					slot19 = slot15:isFree()

					setText(slot12:Find(&quot;detail/consume/icon_rmb&quot;), GetMoneySymbol())
					setActive(slot12:Find(&quot;detail/consume/icon_rmb&quot;), slot13 == 1 and not (slot13 == 1 and slot15:getShowType() ~= &quot;&quot;))

					if PLATFORM_CODE == PLATFORM_CHT and slot15:IsLocalPrice() then
						setActive(slot12:Find(&quot;detail/consume/icon_rmb&quot;), false)
					end

					setActive(slot12:Find(&quot;detail/consume/icon_gem&quot;), slot13 ~= 1 and not slot19)
					setActive(slot12:Find(&quot;detail/consume/Text&quot;), not slot19 and not slot18)

					if slot13 == 1 then
						setText(slot12:Find(&quot;detail/consume/Text&quot;), slot15:getConfig(&quot;money&quot;))
					elseif slot13 == 2 then
						setText(slot12:Find(&quot;detail/consume/Text&quot;), slot15:GetPrice())
					end

					setActive(slot12:Find(&quot;detail/consume/FreeText&quot;), slot19)
					setText(slot12:Find(&quot;detail/consume/FreeText&quot;), i18n(&quot;shop_free_tag&quot;))
				end
			end

			if slot11.time_lable == 1 then
				slot13 = slot11.time[2]
				slot14 = pg.TimeMgr.GetInstance()
				slot14 = slot14:Table2ServerTime({
					year = slot13[1][1],
					month = slot13[1][2],
					day = slot13[1][3],
					hour = slot13[2][1],
					min = slot13[2][2],
					sec = slot13[2][3]
				})

				slot0:StartTimer(function ()
					slot1 = uv0 - pg.TimeMgr.GetInstance():GetServerTime()
					slot2 = math.floor(slot1 / 86400)
					slot3 = math.floor(slot1 % 86400 / 3600)
					slot4 = math.floor(slot1 % 86400 % 3600 / 60)

					if uv1 == &quot;banner_big&quot; then
						setText(uv2:Find(&quot;time/text&quot;), i18n(&quot;shop_countdown&quot;, slot2, slot3, slot4))
					elseif slot2 &gt; 0 then
						setText(uv2:Find(&quot;time/text&quot;), i18n(&quot;shop_new_during_day&quot;, slot2))
					elseif slot3 &gt; 0 then
						setText(uv2:Find(&quot;time/text&quot;), i18n(&quot;shop_new_during_hour&quot;, slot3))
					else
						setText(uv2:Find(&quot;time/text&quot;), i18n(&quot;shop_new_during_minite&quot;, slot4))
					end
				end)
			end

			onButton(slot0, slot12, function ()
				uv0:emit(NewRecommendationShopMediator.GO_SHOP, uv1.param[1], uv1.param[2])
			end, SFX_PANEL)
		end

		slot5:SetUp()
		setActive(slot0._tf:Find(&quot;panel/&quot; .. slot4 .. &quot;/banner/dots&quot;), #slot0.bnIds[slot4] &gt; 1)
	end
end

slot0.StartTimer = function(slot0, slot1)
	if not slot0.timers then
		slot0.timers = {}
	end

	slot1()

	slot2 = Timer.New(function ()
		uv0()
	end, 1, -1)

	slot2:Start()
	table.insert(slot0.timers, slot2)
end

slot0.RemoveAllTimer = function(slot0)
	if slot0.timers then
		for slot4, slot5 in ipairs(slot0.timers) do
			slot5:Stop()

			slot5 = nil
		end

		slot0.timers = nil
	end
end

slot0.willExit = function(slot0)
	slot0:RemoveAllTimer()

	for slot4, slot5 in pairs(slot0.banners) do
		slot5:Dispose()
	end

	slot0.banners = nil

	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
end

slot0.onBackPressed = function(slot0)
	pg.m02:sendNotification(NewShopMainScene.CLOSE_VIEW)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>