<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newrecommendationshopmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newrecommendationshopmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewRecommendationShopMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.GO_SHOP = &quot;NewRecommendationShopMediator.GO_SHOP&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.GO_SHOP, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.CHANGE_SCENE, slot1, slot2)
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		NewShopMainScene.CLOSE_ALL_LAYER
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == NewShopMainScene.CLOSE_ALL_LAYER then
		slot0.viewComponent:closeView()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>