<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newselectskinlayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newselectskinlayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewSelectSkinLayer&quot;, import(&quot;.NewSkinAtlasLayer&quot;))
slot0.MODE_SELECT = 1
slot0.MODE_VIEW = 2

slot0.init = function(slot0)
	uv0.super.init(slot0)
	setText(slot0._tf:Find(&quot;adapt/top/title/Text&quot;), i18n(&quot;shop_new_able_to_exchange&quot;))
	setText(slot0._tf:Find(&quot;adapt/top/have/Text&quot;), i18n(&quot;shop_new_able_to_exchange&quot;))

	slot0.msgBox = SelectSkinMsgbox.New(slot0._tf, slot0.event)
end

slot0.InitData = function(slot0)
	slot0.skins = {}

	table.sort(slot0.contextData.selectableSkinList or {}, function (slot0, slot1)
		if slot0:GetTimeLimitWeight() == slot1:GetTimeLimitWeight() then
			if slot0:GetOwnWeight() == slot1:GetOwnWeight() then
				return slot1.skinId &lt; slot0.skinId
			else
				return slot5 &lt; slot4
			end
		else
			return slot3 &lt; slot2
		end
	end)

	for slot5, slot6 in ipairs(slot1) do
		table.insert(slot0.skins, slot6:ToShipSkin())
	end

	slot0:GetSkinClassify()

	slot0.filterValues = {
		shipHaveType = 0,
		ownType = 0,
		typeType = {
			0
		},
		campType = {
			0
		},
		rarityType = {
			0
		},
		shipType = {
			0
		},
		themeType = {
			0
		}
	}
	slot0.filterValuesTemp = Clone(slot0.filterValues)
end

slot0.Check = function(slot0, slot1)
	if getProxy(ShipSkinProxy):hasSkin(slot1.id) then
		return
	end

	slot3 = slot0.contextData.itemId

	slot0.msgBox:ExecuteAction(&quot;Show&quot;, {
		content = i18n(&quot;skin_exchange_confirm&quot;, Item.getConfigData(slot3).name, slot1.skinName),
		leftDrop = {
			count = 1,
			type = DROP_TYPE_ITEM,
			id = slot3
		},
		rightDrop = {
			count = 1,
			type = DROP_TYPE_SKIN,
			id = slot1.id
		},
		onYes = function ()
			uv0.contextData.OnConfirm(uv1.id)
			uv0:closeView()
		end
	})
end

slot0.ClickTrigger = function(slot0, slot1, slot2)
	if slot0.contextData.mode == uv0.MODE_VIEW then
		return
	end

	slot0:Check(slot1.skin)
end

slot0.willExit = function(slot0)
	uv0.super.willExit(slot0)
	slot0.msgBox:Destroy()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>