<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>publicguildofficepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>publicguildofficepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;PublicGuildOfficePage&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;PublicGuildDonateBluePage&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.itemList = UIItemList.New(slot0:findTF(&quot;frame/donate_panel/list&quot;), slot0:findTF(&quot;frame/donate_panel/list/tpl&quot;))
	slot0.cntTxt = slot0:findTF(&quot;frame/donate_panel/cnt/Text&quot;):GetComponent(typeof(Text))
end

slot0.OnInit = function(slot0)
	slot0.cards = {}
	slot1 = slot0.itemList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateDonateTask(slot2, uv0.displays[slot1 + 1])
		end
	end)
end

slot0.Show = function(slot0, slot1)
	slot0.guild = slot1

	slot0:Flush()
	uv0.super.Show(slot0)
end

slot0.Flush = function(slot0)
	slot0.displays = slot0.guild:GetDonateTasks()

	slot0.itemList:align(#slot0.displays)
	pg.GuildPaintingMgr:GetInstance():Update(&quot;guild_office_blue&quot;, Vector3(-737, -171, 0))
end

slot0.UpdateDonateTask = function(slot0, slot1, slot2)
	slot4 = slot0.guild:GetRemainDonateCnt()

	if not slot0.cards[slot1] then
		slot0.cards[slot1] = GuildDonateCard.New(slot1)
	end

	slot5:update(slot2)
	onButton(slot0, slot5.commitBtn, function ()
		slot1 = uv0.dtask:getCommitItem()

		pg.MsgboxMgr:GetInstance():ShowMsgBox({
			content = i18n(&quot;guild_donate_tip&quot;, Drop.Create(slot1):getConfig(&quot;name&quot;), slot1[3], slot3, uv0:GetResCntByAward(slot1) &lt; slot1[3] and &quot;#FF5C5CFF&quot; or &quot;#92FC63FF&quot;),
			onYes = function ()
				uv0:emit(PublicGuildMainMediator.ON_COMMIT, uv1.id)
			end
		})
	end, SFX_PANEL)
	setButtonEnabled(slot5.commitBtn, slot4 &gt; 0)

	slot0.cntTxt.text = i18n(&quot;guild_left_donate_cnt&quot;, slot4)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>