<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlechargearea.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlechargearea.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot0.Battle.BattleChargeArea = class(&quot;BattleChargeArea&quot;)
slot0.Battle.BattleChargeArea.__name = &quot;BattleChargeArea&quot;

slot0.Battle.BattleChargeArea.Ctor = function(slot0, slot1)
	slot1.gameObject:SetActive(false)

	slot0._areaTf = slot1.transform
	slot0._areaGO = slot1
end

slot0.Battle.BattleChargeArea.InitArea = function(slot0)
	slot1 = slot0._areaTf
	slot0._controller = slot1:GetComponent(&quot;ChargeArea&quot;)
	slot2 = slot0._chargeWeapon:GetTemplateData().range
	slot4 = slot1.localScale
	slot4.x = slot2 / 5.5
	slot4.y = slot2 / 5.5
	slot1.localScale = slot4
	slot0._controller.maxAngle = slot0._chargeWeapon:GetTemplateData().angle
	slot0._controller.minAngle = slot0._chargeWeapon:GetMinAngle()
	slot1:Find(&quot;UpperEdge&quot;).transform.localScale = Vector3(1, 1 / slot4.y, 1)
	slot1:Find(&quot;LowerEdge&quot;).transform.localScale = Vector3(1, 1 / slot4.y, 1)
	slot0._controller.rate = 0.5
end

slot0.Battle.BattleChargeArea.Update = function(slot0, slot1)
	slot0._areaTf.position = slot1
end

slot0.Battle.BattleChargeArea.SetWeapon = function(slot0, slot1)
	slot0._chargeWeapon = slot1

	slot0:InitArea()
end

slot0.Battle.BattleChargeArea.SetActive = function(slot0, slot1)
	slot0._areaGO:SetActive(slot1)
end

slot0.Battle.BattleChargeArea.GetActive = function(slot0)
	return slot0._areaGO:GetActive()
end

slot0.Battle.BattleChargeArea.Reset = function(slot0)
	slot0._controller.rate = 1
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>