<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courtyardcomfortablepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>courtyardcomfortablepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CourtYardComfortablePage&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;CourtYardComfortablePanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.closeBtn = slot0:findTF(&quot;frame/close&quot;)
	slot0.subTitleTxt = slot0:findTF(&quot;frame/view/subtitle2/Text&quot;):GetComponent(typeof(Text))

	setText(slot0:findTF(&quot;frame/view/subtitle1/Text&quot;), i18n(&quot;backyard_backyardScene_comforChatContent1&quot;))

	slot0.expressionTxt = slot0:findTF(&quot;frame/view/express/Text&quot;):GetComponent(typeof(Text))
	slot0.comfortableImg = slot0:findTF(&quot;frame/view/express/icon&quot;):GetComponent(typeof(Image))
	slot0.comfortableBg = slot0:findTF(&quot;frame/view/express&quot;):GetComponent(typeof(Image))
	slot0.uiItemList = UIItemList.New(slot0:findTF(&quot;frame/view/list/content&quot;), slot0:findTF(&quot;frame/view/list/content/tpl&quot;))
	slot0.animation = slot0:findTF(&quot;frame/view&quot;):GetComponent(typeof(Animation))
	slot0.dftAniEvent = slot0:findTF(&quot;frame/view&quot;):GetComponent(typeof(DftAniEvent))
	slot0.foldBtn = slot0:findTF(&quot;frame/view/fold&quot;)
	slot0.arr = slot0:findTF(&quot;frame/view/fold/up&quot;)
	slot0.subTitle = slot0:findTF(&quot;frame/view/subtitle2&quot;)
	slot0.expAdditionTxt = slot0:findTF(&quot;frame/exp/Text&quot;):GetComponent(typeof(Text))

	setText(slot0:findTF(&quot;frame/exp&quot;), i18n(&quot;courtyard_label_comfortable_addition&quot;))
	setText(slot0:findTF(&quot;frame/title&quot;), i18n(&quot;word_comfort_level&quot;))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.closeBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot1 = false

	onButton(slot0, slot0.foldBtn, function ()
		uv0 = not uv0

		if uv0 then
			setActive(uv1.subTitle, true)
		end

		uv1.dftAniEvent:SetEndEvent(function ()
			uv0.dftAniEvent:SetEndEvent(nil)
			setActive(uv0.subTitle, false)
		end)
		uv1.animation:Play(uv0 and &quot;anim_courtyard_comfortable_viewin&quot; or &quot;anim_courtyard_comfortable_viewhide&quot;)
	end, SFX_PANEL)
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)

	slot0.dorm = slot1
	slot2 = slot1:getComfortable()

	slot0:FlushSubTitle()
	slot0:FlushExpression(slot2)
	slot0:FlushList()
	slot0:FlushAddition(slot2)
end

slot0.FlushSubTitle = function(slot0)
	slot0.subTitleTxt.text = i18n(&quot;backyard_backyardScene_comforChatContent2&quot;, slot0.dorm.level - 1)
end

slot0.FlushExpression = function(slot0, slot1)
	slot2 = slot0.dorm:GetComfortableLevel(slot1)
	slot0.expressionTxt.text = i18n(&quot;backyard_backyardScene_expression_label_&quot; .. slot2)

	LoadSpriteAtlasAsync(&quot;ui/CourtyardUI_atlas&quot;, &quot;express_&quot; .. slot2, function (slot0)
		if uv0.exited then
			return
		end

		uv0.comfortableImg.sprite = slot0

		uv0.comfortableImg:SetNativeSize()
	end)

	slot0.comfortableBg.color = slot0.dorm:GetComfortableColor(slot2)
end

slot1 = {
	i18n(&quot;word_wallpaper&quot;),
	i18n(&quot;word_furniture&quot;),
	i18n(&quot;word_decorate&quot;),
	i18n(&quot;word_floorpaper&quot;),
	i18n(&quot;word_mat&quot;),
	i18n(&quot;word_wall&quot;),
	i18n(&quot;word_collection&quot;)
}

slot0.FlushList = function(slot0)
	slot1 = slot0.dorm:getConfig(&quot;comfortable_count&quot;)

	slot0.uiItemList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = slot1 + 1

			LoadSpriteAtlasAsync(&quot;ui/CourtyardUI_atlas&quot;, &quot;icon_&quot; .. slot3, function (slot0)
				if uv0.exited then
					return
				end

				slot1 = uv1:Find(&quot;icon&quot;):GetComponent(typeof(Image))
				slot1.sprite = slot0

				slot1:SetNativeSize()
			end)
			setText(slot2:Find(&quot;name&quot;), uv1[slot3])
			setText(slot2:Find(&quot;Text&quot;), &quot;X&quot; .. uv2[slot3][2])

			slot4 = slot3 % 2 ~= 0

			setActive(slot2:Find(&quot;line&quot;), slot4)
			setActive(slot2:Find(&quot;bg&quot;), slot4)
		end
	end)
	slot0.uiItemList:align(7)
end

slot0.FlushAddition = function(slot0, slot1)
	slot3 = 0

	if pg.gameset.dorm_exp_ratio_comfort_degree.key_value + slot1 ~= 0 then
		slot3 = slot1 / (slot2 + slot1) * 100
	end

	slot0.expAdditionTxt.text = string.format(&quot;%d&quot;, slot3) .. &quot;%&quot;
end

slot0.OnDestroy = function(slot0)
	slot0.dftAniEvent:SetTriggerEvent(nil)

	slot0.exited = true
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>