<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blueprintquickexchangeview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>blueprintquickexchangeview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BlueprintQuickExchangeView&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;BlueprintQuickExchangeUI&quot;
end

slot0.OnInit = function(slot0)
	slot1 = slot0._tf
	slot0.rtBg = slot1:Find(&quot;bg&quot;)

	onButton(slot0, slot0.rtBg, function ()
		uv0:Hide()
	end, SFX_CANCEL)

	slot1 = slot0._tf
	slot0.rtPreview = slot1:Find(&quot;window/preview/got&quot;)
	slot1 = slot0.rtPreview
	slot0.rtEmpty = slot1:Find(&quot;empty&quot;)
	slot2 = slot0.rtEmpty

	setText(slot2:Find(&quot;Text&quot;), i18n(&quot;blueprint_exchange_empty_tip&quot;))

	slot1 = slot0.rtPreview
	slot1 = slot1:Find(&quot;list&quot;)
	slot0.itemList = UIItemList.New(slot1, slot1:Find(&quot;item&quot;))
	slot2 = slot0.itemList

	slot2:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0.displayList[slot1]
			slot4 = uv0.awardList[slot1].count

			updateDrop(slot2:Find(&quot;icon&quot;), slot3)
			onButton(uv0, slot2:Find(&quot;icon&quot;), function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
			setText(slot2:Find(&quot;calc/value&quot;), uv0.countList[slot1])
			setScrollText(slot2:Find(&quot;name/Text&quot;), slot3:getConfig(&quot;name&quot;))
			setText(slot2:Find(&quot;kc&quot;), i18n(&quot;tec_tip_material_stock&quot;) .. &quot;:&quot; .. slot3.count)
			pressPersistTrigger(slot2:Find(&quot;calc/plus&quot;), 0.5, function ()
				if uv1.countList[uv2] &lt; uv0.count and uv1.count + uv3 &lt;= uv1.need then
					uv1.countList[uv2] = uv1.countList[uv2] + 1

					setText(uv4:Find(&quot;calc/value&quot;), uv1.countList[uv2])

					uv1.count = uv1.count + uv3

					setText(uv1.rtExchange:Find(&quot;bg/count&quot;), setColorStr(uv1.count, &quot;#FFEC6E&quot;) .. &quot;/&quot; .. uv1.need)
				end
			end, nil, true, true, 0.1, SFX_PANEL)
			pressPersistTrigger(slot2:Find(&quot;calc/minus&quot;), 0.5, function ()
				if uv0.countList[uv1] &gt; 0 then
					uv0.countList[uv1] = uv0.countList[uv1] - 1

					setText(uv2:Find(&quot;calc/value&quot;), uv0.countList[uv1])

					uv0.count = uv0.count - uv3

					setText(uv0.rtExchange:Find(&quot;bg/count&quot;), setColorStr(uv0.count, &quot;#FFEC6E&quot;) .. &quot;/&quot; .. uv0.need)
				end
			end, nil, true, true, 0.1, SFX_PANEL)
			onButton(uv0, slot2:Find(&quot;calc/max&quot;), function ()
				if uv1.countList[uv2] &lt; uv0.count and uv1.count + uv3 &lt;= uv1.need then
					slot0 = math.min(math.floor((uv1.need - uv1.count + uv3 - 1) / uv3), uv0.count - uv1.countList[uv2])
					uv1.countList[uv2] = uv1.countList[uv2] + slot0

					setText(uv4:Find(&quot;calc/value&quot;), uv1.countList[uv2])

					uv1.count = uv1.count + uv3 * slot0

					setText(uv1.rtExchange:Find(&quot;bg/count&quot;), setColorStr(uv1.count, &quot;#FFEC6E&quot;) .. &quot;/&quot; .. uv1.need)
				end
			end)
		end
	end)

	slot3 = slot0._tf

	setText(slot3:Find(&quot;window/cancel_button/label&quot;), i18n(&quot;word_cancel&quot;))

	slot4 = slot0._tf

	onButton(slot0, slot4:Find(&quot;window/cancel_button&quot;), function ()
		uv0:Hide()
	end, SFX_CANCEL)

	slot4 = slot0._tf

	onButton(slot0, slot4:Find(&quot;window/confirm_button&quot;), function ()
		if uv0.count &lt;= 0 then
			return
		end

		slot0 = {}

		for slot4, slot5 in ipairs(uv0.displayList) do
			if uv0.countList[slot4] &gt; 0 then
				table.insert(slot0, {
					id = slot5.id,
					count = uv0.countList[slot4],
					arg = Item.getConfigData(slot5.id).usage_arg[uv0.awardList[slot4].index]
				})
			end
		end

		uv0:emit(ShipBluePrintMediator.QUICK_EXCHAGE_BLUEPRINT, slot0)
		uv0:Hide()
	end, SFX_CANCEL)

	slot2 = slot0._tf
	slot0.rtResult = slot2:Find(&quot;window/result&quot;)
	slot2 = slot0.rtResult
	slot0.rtTarget = slot2:Find(&quot;target&quot;)
	slot2 = slot0.rtResult
	slot0.rtExchange = slot2:Find(&quot;exchange&quot;)
	slot3 = slot0.rtExchange

	setText(slot3:Find(&quot;bg/title&quot;), i18n(&quot;blueprint_exchange_select_display&quot;))

	slot2 = slot0.rtResult
	slot0.toggleSwitch = slot2:Find(&quot;switch&quot;)
	slot3 = slot0.toggleSwitch

	setText(slot3:Find(&quot;front/Text_off&quot;), i18n(&quot;show_design_demand_count&quot;))

	slot3 = slot0.toggleSwitch

	setText(slot3:Find(&quot;front/Text_on&quot;), i18n(&quot;show_fate_demand_count&quot;))
	onToggle(slot0, slot0.toggleSwitch, function (slot0)
		uv0.isSwitch = slot0

		uv0:UpdateResult()
	end)
end

slot0.Show = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
	setActive(slot0._tf, true)
end

slot0.Hide = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
	setActive(slot0._tf, false)
end

slot0.UpdateBlueprint = function(slot0, slot1)
	slot0.blueprintVO = slot1

	changeToScrollText(slot0.rtResult:Find(&quot;title/Text&quot;), Drop.New({
		type = DROP_TYPE_ITEM,
		id = slot1:getItemId()
	}):getName())

	slot0.displayList = {}
	slot0.awardList = {}
	slot3 = getProxy(BagProxy)

	for slot7, slot8 in ipairs(pg.gameset.general_blueprint_list.description) do
		if slot3:getItemCountById(slot8) &gt; 0 then
			slot10 = nil
			slot14 = &quot;display_icon&quot;

			for slot14, slot15 in ipairs(Drop.New({
				type = DROP_TYPE_ITEM,
				id = slot8
			}):getConfig(slot14)) do
				if slot15[1] == DROP_TYPE_ITEM and slot15[2] == slot2.id then
					slot10 = {
						index = slot14,
						count = slot15[3]
					}
				end
			end

			if slot10 then
				table.insert(slot0.displayList, {
					type = DROP_TYPE_ITEM,
					id = slot8,
					count = slot9
				})
				table.insert(slot0.awardList, slot10)
			end
		end
	end

	setActive(slot0.rtEmpty, #slot0.displayList == 0)
	setActive(slot0.itemList.container, #slot0.displayList &gt; 0)
	updateDrop(slot0.rtResult:Find(&quot;target/IconTpl&quot;), slot2)
	GetImageSpriteFromAtlasAsync(&quot;ui/fragresolveui_atlas&quot;, &quot;bg_&quot; .. ItemRarity.Rarity2Print(slot2:getConfig(&quot;rarity&quot;)), slot0.rtResult:Find(&quot;target/bg&quot;))

	slot0.countList = underscore.map(slot0.displayList, function (slot0)
		return 0
	end)
	slot0.count = 0

	slot0.itemList:align(#slot0.displayList)
	triggerToggle(slot0.toggleSwitch, slot1:canFateSimulation())
end

slot0.UpdateResult = function(slot0)
	slot0.bagProxy = slot0.bagProxy or getProxy(BagProxy)
	slot0.need = math.max(slot0.blueprintVO:getUseageMaxItem() + (slot0.isSwitch and slot0.blueprintVO:getFateMaxLeftOver() or 0) - slot0.bagProxy:getItemCountById(slot0.blueprintVO:getItemId()), 0)
	slot1 = #slot0.displayList

	while slot1 &gt; 0 and slot0.need &lt; slot0.count do
		if slot0.countList[slot1] &gt; 0 then
			slot2 = slot0.awardList[slot1].count

			if slot0.countList[slot1] &lt; math.floor((slot0.count - slot0.need + slot2 - 1) / slot2) then
				slot0.count = slot0.count - slot2 * slot0.countList[slot1]
				slot0.countList[slot1] = 0
			else
				slot0.count = slot0.count - slot2 * slot3
				slot0.countList[slot1] = slot0.countList[slot1] - slot3
			end

			setText(slot0.itemList.container:GetChild(slot1 - 1):Find(&quot;calc/value&quot;), slot0.countList[slot1])
		end

		slot1 = slot1 - 1
	end

	setText(slot0.rtExchange:Find(&quot;bg/count&quot;), setColorStr(slot0.count, &quot;#FFEC6E&quot;) .. &quot;/&quot; .. slot0.need)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>