<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecttechnologymediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>selecttechnologymediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SelectTechnologyMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.ON_BLUEPRINT = &quot;SelectTechnologyMediator:ON_BLUEPRINT&quot;
slot0.ON_TECHNOLOGY = &quot;SelectTechnologyMediator:ON_TECHNOLOGY&quot;
slot0.ON_TRANSFORM_EQUIPMENT = &quot;SelectTechnologyMediator:ON_TRANSFORM_EQUIPMENT&quot;
slot0.ON_META = &quot;SelectTechnologyMediator:ON_META&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_TECHNOLOGY, function ()
		uv0:sendNotification(GAME.GO_SCENE, SCENE.TECHNOLOGY)
	end)
	slot0:bind(uv0.ON_BLUEPRINT, function ()
		uv0:sendNotification(GAME.GO_SCENE, SCENE.SHIPBLUEPRINT)
	end)
	slot0:bind(TechnologyConst.OPEN_TECHNOLOGY_TREE_SCENE, function ()
		uv0:sendNotification(GAME.GO_SCENE, SCENE.TECHNOLOGY_TREE_SCENE)
	end)
	slot0:bind(uv0.ON_TRANSFORM_EQUIPMENT, function ()
		uv0:sendNotification(GAME.GO_SCENE, SCENE.EQUIPMENT_TRANSFORM)
	end)
	slot0:bind(uv0.ON_META, function ()
		uv0:sendNotification(GAME.GO_SCENE, SCENE.METACHARACTER)
	end)
	slot0.viewComponent:setPlayer(getProxy(PlayerProxy):getData())
	slot0.viewComponent:notifyTechnology(uv0.onTechnologyNotify())
	slot0.viewComponent:notifyBlueprint(uv0.onBlueprintNotify())
	slot0.viewComponent:notifyFleet(getProxy(TechnologyNationProxy):getShowRedPointTag())
	slot0.viewComponent:notifyMeta(MetaCharacterConst.isMetaMainEntRedPoint())
end

slot0.onTechnologyNotify = function()
	return #getProxy(TechnologyProxy):getPlanningTechnologys() &gt; 0 and slot0[#slot0]:isCompleted()
end

slot0.onBlueprintNotify = function()
	slot0 = getProxy(TechnologyProxy)

	if PlayerPrefs.GetString(&quot;technology_day_mark&quot;, &quot;&quot;) ~= pg.TimeMgr.GetInstance():CurrentSTimeDesc(&quot;%Y/%m/%d&quot;, true) and slot0:CheckPursuingCostTip() then
		return true
	end

	slot1 = slot0:getBluePrints()

	if not slot0:getBuildingBluePrint() then
		return _.any(_.values(slot1), function (slot0)
			slot2, slot3 = slot0:isFinishPrevTask()

			return slot0:getState() == ShipBluePrint.STATE_LOCK and slot2
		end)
	else
		if slot2:getState() == ShipBluePrint.STATE_DEV_FINISHED then
			return true
		end

		slot3 = false

		return _.any(slot2:getTaskIds(), function (slot0)
			slot1 = uv0:getTaskStateById(slot0)

			return slot1 == (ShipBluePrint.TASK_STATE_OPENING and getProxy(TaskProxy):isFinishPrevTasks(slot0)) or slot1 == ShipBluePrint.TASK_STATE_ACHIEVED
		end)
	end

	return false
end

slot0.listNotificationInterests = function(slot0)
	return {
		PlayerProxy.UPDATED
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == PlayerProxy.UPDATED then
		slot0.viewComponent:setPlayer(slot3)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>