<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducatesetcallediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducatesetcallediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducateSetCallediator&quot;, import(&quot;view.newEducate.base.NewEducateContextMediator&quot;))
slot0.ON_SET_CALL = &quot;NewEducateSetCallediator:ON_SET_CALL&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_SET_CALL, function (slot0, slot1)
		uv0:sendNotification(GAME.NEW_EDUCATE_SET_CALL, {
			id = uv0.contextData.char.id,
			name = slot1
		})
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.NEW_EDUCATE_SET_CALL_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.NEW_EDUCATE_SET_CALL_DONE then
		slot0.viewComponent:closeView()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>