<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agorafurnituredescpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>agorafurnituredescpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AgoraFurnitureDescPage&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandAgoraFurnitureDescUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.width = slot0._tf.rect.width
	slot0.height = slot0._tf.rect.height
	slot0.prantLeftBound = slot0._tf.parent.rect.width / 2
	slot0.nameTxt = slot0:findTF(&quot;name&quot;):GetComponent(typeof(Text))
	slot0.themeNameTxt = slot0:findTF(&quot;theme&quot;):GetComponent(typeof(Text))
	slot0.capacityTxt = slot0:findTF(&quot;capacity/Text&quot;):GetComponent(typeof(Text))
	slot0.descTxt = slot0:findTF(&quot;Text&quot;):GetComponent(typeof(Text))
	slot0.icon = slot0:findTF(&quot;icon&quot;):GetComponent(typeof(Image))
	slot0.cntTxt = slot0:findTF(&quot;cnt/Text&quot;):GetComponent(typeof(Text))
end

slot0.Show = function(slot0, slot1, slot2)
	uv0.super.Show(slot0)

	slot0._tf.position = slot2

	if slot0.prantLeftBound &lt; slot0._tf.localPosition.x + slot0.width then
		slot3 = slot0._tf.localPosition
		slot0._tf.localPosition = Vector3(slot3.x - slot0.width, slot3.y, slot3.z)
	end

	slot0:FlushInfo(slot1)
end

slot0.FlushInfo = function(slot0, slot1)
	slot2 = slot1:GetFirstItem()
	slot0.nameTxt.text = slot2:GetName()
	slot0.themeNameTxt.text = i18n(&quot;agora_belong_theme&quot;, slot1:GetThemeName())
	slot0.capacityTxt.text = slot2:GetCost()
	slot0.descTxt.text = slot2:GetDesc()
	slot0.cntTxt.text = slot1:GetAvailableCnt()

	LoadSpriteAsync(&quot;island/IslandFurnitureIcon/&quot; .. slot2:GetIcon(), function (slot0)
		uv0.icon.sprite = slot0
	end)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>