<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coreactivitymainscene.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>coreactivitymainscene.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CoreActivityMainScene&quot;, import(&quot;view.activity.ActivityMainScene&quot;))

slot0.getUIName = function(slot0)
	return nil
end

slot0.optionsPath = {
	&quot;adapt/top/btn_home&quot;
}

slot0.PlayBGM = function(slot0)
end

slot0.init = function(slot0)
	slot1 = slot0._tf
	slot0.btnBack = slot1:Find(&quot;adapt/top/btn_back&quot;)
	slot1 = slot0._tf
	slot0.btnSkin = slot1:Find(&quot;adapt/btn_skin&quot;)
	slot1 = slot0._tf
	slot0.pageContainer = slot1:Find(&quot;page_list&quot;)
	slot1 = slot0._tf
	slot0.tabs = slot1:Find(&quot;adapt/tabs&quot;)
	slot0.windowList = {}
	slot0.awardWindow = AwardWindow.New(slot0._tf, slot0.event)
	slot0.chargeTipWindow = ChargeTipWindow.New(slot0._tf, slot0.event)
	slot3 = slot0.tabs
	slot0.tabsList = UIItemList.New(slot0.tabs, slot3:GetChild(0))
	slot1 = slot0.tabsList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			if not underscore.detect(uv0.activities, function (slot0)
				return tostring(slot0:getConfig(&quot;is_show&quot;)) == uv0.name
			end) or slot3:isEnd() then
				setActive(slot2, false)
			elseif not uv0.pageDic[slot3.id] then
				warning(string.format(&quot;without page in act:&quot;, slot3.id))
			else
				slot4 = uv0.pageDic[slot3.id]
				slot5 = uv0

				setActive(slot5:findTF(&quot;tip&quot;, slot2), slot3:readyToAchieve())
				onToggle(uv0, slot2, function (slot0)
					if slot0 then
						uv0:selectActivity(uv1)
					end
				end, SFX_PANEL)
			end
		end
	end)
end

slot0.didEnter = function(slot0)
	slot0:bind(uv0.UPDATE_ACTIVITY, function (slot0, slot1)
		uv0:updateActivity(slot1)
	end)
	slot0:bind(uv0.GET_PAGE_BGM, function (slot0, slot1, slot2)
		slot2.bgm = uv0:getBGM(slot1) or uv0:getBGM()
	end)
	slot0:bind(uv0.FLUSH_TABS, function ()
		uv0:flushTabs()
	end)
	onButton(slot0, slot0.btnBack, function ()
		uv0:emit(uv1.ON_BACK)
	end, SOUND_BACK)
	onButton(slot0, slot0.btnSkin, function ()
		uv0:emit(ActivityMediator.GO_CHANGE_SHOP)
	end, SFX_PANEL)
	slot0:emit(ActivityMediator.SHOW_NEXT_ACTIVITY)
end

slot0.setActivities = function(slot0, slot1)
	slot0.activities = underscore.filter(slot1 or {}, function (slot0)
		return not slot0:isEnd()
	end)
	slot0.shareData = slot0.shareData or ActivityShareData.New()
	slot0.pageDic = slot0.pageDic or {}

	for slot5, slot6 in ipairs(slot0.activities) do
		slot0:instanceActivityPage(slot6)
	end

	table.sort(slot0.activities, CompareFuncs({
		function (slot0)
			return slot0:getShowPriority()
		end,
		function (slot0)
			return -slot0.id
		end
	}))
	slot0:flushTabs()
end

slot0.updateActivity = function(slot0, slot1)
	if ActivityConst.PageIdLink[slot1.id] then
		slot1 = getProxy(ActivityProxy):getActivityById(ActivityConst.PageIdLink[slot1.id])
	end

	if slot1:isShow() and slot1:isCorePage(slot0.contextData.coreName) and not slot1:isEnd() then
		slot0.activities[slot0:getActivityIndex(slot1.id) or #slot0.activities + 1] = slot1

		table.sort(slot0.activities, CompareFuncs({
			function (slot0)
				return -slot0:getShowPriority()
			end,
			function (slot0)
				return -slot0.id
			end
		}))

		if not slot0.pageDic[slot1.id] then
			slot0:instanceActivityPage(slot1)
		end

		slot0:flushTabs()

		if slot0.activity and slot0.activity.id == slot1.id then
			slot0.activity = slot1

			slot0.pageDic[slot1.id]:ActionInvoke(&quot;Flush&quot;, slot1)
		end
	end
end

slot0.updateEntrances = function(slot0)
end

slot0.flushTabs = function(slot0)
	slot0.tabsList:align(slot0.tabs.childCount)
end

slot0.selectActivity = function(slot0, slot1)
	if slot1 and (not slot0.activity or slot0.activity.id ~= slot1.id) then
		slot2 = slot0.pageDic[slot1.id]

		assert(slot2, &quot;找不到id:&quot; .. slot1.id .. &quot;的活动页，请检查&quot;)
		slot2:Load()
		slot2:ActionInvoke(&quot;Flush&quot;, slot1)
		slot2:ActionInvoke(&quot;ShowOrHide&quot;, true)

		if slot0.activity and slot0.activity.id ~= slot1.id then
			slot0.pageDic[slot0.activity.id]:ActionInvoke(&quot;ShowOrHide&quot;, false)
		end

		slot0.activity = slot1
		slot0.contextData.id = slot1.id
	end
end

slot0.verifyTabs = function(slot0, slot1)
	triggerToggle(slot0.tabs:Find(tostring(slot0.activities[slot0:getActivityIndex(slot1) or 1]:getConfig(&quot;is_show&quot;))), true)
end

slot0.getActClass = function(slot0, slot1)
	return _G[slot1]
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>