<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spweaponinfolayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>spweaponinfolayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SpWeaponInfoLayer&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;SpWeaponInfoUI&quot;
end

slot0.Left = 1
slot0.Middle = 2
slot0.Right = 3
slot0.pos = {
	{
		-353,
		30,
		0
	},
	{
		0,
		30,
		0
	},
	{
		353,
		30,
		0
	}
}
slot0.TYPE_DEFAULT = 1
slot0.TYPE_SHIP = 2
slot0.TYPE_REPLACE = 3
slot0.TYPE_DISPLAY = 4
slot0.SHOW_UNIQUE = {
	1,
	2,
	3,
	4
}

slot0.init = function(slot0)
	slot0.toggles = {}

	for slot5, slot6 in ipairs({
		&quot;default&quot;,
		&quot;replace&quot;,
		&quot;display&quot;
	}) do
		slot0[slot6 .. &quot;Panel&quot;] = slot0:findTF(slot6)
		slot0.toggles[slot6 .. &quot;Panel&quot;] = slot0:findTF(&quot;toggle_controll/&quot; .. slot6)
	end

	Canvas.ForceUpdateCanvases()

	slot0.sample = slot0:findTF(&quot;sample&quot;)

	setActive(slot0.sample, false)

	slot0.txtQuickEnable = findTF(slot0._tf, &quot;txtQuickEnable&quot;)

	setText(slot0.txtQuickEnable, i18n(&quot;ship_equip_check&quot;))
	setText(slot0._tf:Find(&quot;sample/empty/Text&quot;), i18n(&quot;spweapon_ui_empty&quot;))
end

slot0.setEquipment = function(slot0, slot1, slot2)
	slot0.equipmentVO = slot1
	slot0.oldEquipmentVO = slot2
end

slot0.setShip = function(slot0, slot1, slot2)
	slot0.shipVO = slot1
	slot0.oldShipVO = slot2
end

slot0.setPlayer = function(slot0, slot1)
	slot0.player = slot1
end

slot0.checkOverGold = function(slot0, slot1)
	if slot0.player:GoldMax(_.detect(slot1, function (slot0)
		return slot0.type == DROP_TYPE_RESOURCE and slot0.id == 1
	end).count or 0) then
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;gold_max_tip_title&quot;) .. i18n(&quot;resource_max_tip_destroy&quot;))

		return false
	end

	return true
end

slot0.didEnter = function(slot0)
	setActive(slot0.txtQuickEnable, slot0.contextData.quickFlag or false)

	slot1 = defaultValue(slot0.contextData.type, uv0.TYPE_DEFAULT)
	slot0.isShowUnique = table.contains(uv0.SHOW_UNIQUE, slot1)

	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:closeView()
	end, SOUND_BACK)
	slot0:initAndSetBtn(slot1)

	if slot1 == uv0.TYPE_DEFAULT then
		slot0:updateOperation1()
	elseif slot1 == uv0.TYPE_SHIP then
		slot0:updateOperation2()
	elseif slot1 == uv0.TYPE_REPLACE then
		slot0:updateOperation3()
	elseif slot1 == uv0.TYPE_DISPLAY then
		slot0:updateOperation4()
	end

	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		weight = slot0:getWeightFromData()
	})
end

slot1 = {
	{
		&quot;Enhance&quot;,
		&quot;msgbox_text_noPos_intensify&quot;
	},
	{
		&quot;Replace&quot;,
		&quot;msgbox_text_replace&quot;
	},
	{
		&quot;Unload&quot;,
		&quot;msgbox_text_unload&quot;
	},
	{
		&quot;Modify&quot;,
		&quot;msgbox_text_modify&quot;
	}
}

slot0.initAndSetBtn = function(slot0, slot1)
	if slot1 == uv0.TYPE_DEFAULT or slot1 == uv0.TYPE_SHIP then
		slot0.defaultEquipTF = slot0:findTF(&quot;equipment&quot;, slot0.defaultPanel) or slot0:cloneSampleTo(slot0.defaultPanel, uv0.Middle, &quot;equipment&quot;)

		table.Foreach(uv1, function (slot0, slot1)
			slot2 = uv0:findTF(&quot;actions/action_button_&quot; .. slot0, uv0.defaultPanel)
			uv0[&quot;default&quot; .. slot1[1] .. &quot;Btn&quot;] = slot2

			setText(slot2:GetChild(0), i18n(slot1[2]))
		end)
		onButton(slot0, slot0.defaultReplaceBtn, function ()
			uv0:emit(SpWeaponInfoMediator.ON_CHANGE)
		end, SFX_PANEL)
		onButton(slot0, slot0.defaultEnhanceBtn, function ()
			uv0:emit(SpWeaponInfoMediator.ON_INTENSIFY)
		end, SFX_PANEL)
		onButton(slot0, slot0.defaultUnloadBtn, function ()
			uv0:emit(SpWeaponInfoMediator.ON_UNEQUIP)
		end, SFX_UI_DOCKYARD_EQUIPOFF)
		onButton(slot0, slot0.defaultModifyBtn, function ()
			uv0:emit(SpWeaponInfoMediator.ON_MODIFY)
		end, SFX_PANEL)
	elseif slot1 == uv0.TYPE_REPLACE then
		slot0.replaceSrcEquipTF = slot0:findTF(&quot;equipment&quot;, slot0.replacePanel) or slot0:cloneSampleTo(slot0.replacePanel, uv0.Left, &quot;equipment&quot;)
		slot0.replaceDstEquipTF = slot0:findTF(&quot;equipment_on_ship&quot;, slot0.replacePanel) or slot0:cloneSampleTo(slot0.replacePanel, uv0.Right, &quot;equipment_on_ship&quot;)
		slot0.replaceCancelBtn = slot0:findTF(&quot;actions/cancel_button&quot;, slot0.replacePanel)
		slot0.replaceConfirmBtn = slot0:findTF(&quot;actions/action_button_2&quot;, slot0.replacePanel)

		setText(slot0.replaceConfirmBtn:Find(&quot;label&quot;), i18n(&quot;msgbox_text_confirm&quot;))
		setText(slot0.replaceCancelBtn:Find(&quot;label&quot;), i18n(&quot;msgbox_text_cancel&quot;))
		onButton(slot0, slot0.replaceCancelBtn, function ()
			uv0:closeView()
		end, SFX_CANCEL)
		onButton(slot0, slot0.replaceConfirmBtn, function ()
			if uv0.contextData.quickCallback then
				uv0.contextData.quickCallback()
				uv0:closeView()
			else
				uv0:emit(SpWeaponInfoMediator.ON_EQUIP)
			end
		end, SFX_UI_DOCKYARD_EQUIPADD)
	elseif slot1 == uv0.TYPE_DISPLAY then
		slot0.displayEquipTF = slot0:findTF(&quot;equipment&quot;, slot0.displayPanel) or slot0:cloneSampleTo(slot0.displayPanel, uv0.Middle, &quot;equipment&quot;)
		slot0.displayMoveBtn = slot0:findTF(&quot;actions/move_button&quot;, slot0.displayPanel)

		setText(slot0.displayMoveBtn:Find(&quot;label&quot;), i18n(&quot;msgbox_text_equipdetail&quot;))
		onButton(slot0, slot0.displayMoveBtn, function ()
			uv0:emit(SpWeaponInfoMediator.ON_MOVE, uv0.shipVO.id)
		end)
	end
end

slot0.updateOperation1 = function(slot0)
	triggerToggle(slot0.toggles.defaultPanel, true)
	slot0:updateEquipmentPanel(slot0.defaultEquipTF, slot0.equipmentVO, SpWeaponHelper.TransformNormalInfo(slot0.equipmentVO))
	setActive(slot0.defaultEnhanceBtn, true)
	setActive(slot0.defaultReplaceBtn, false)
	setActive(slot0.defaultUnloadBtn, false)
	setActive(slot0.defaultModifyBtn, true)
end

slot0.updateOperation2 = function(slot0)
	triggerToggle(slot0.toggles.defaultPanel, true)

	slot1 = slot0.shipVO:GetSpWeapon()

	slot0:updateEquipmentPanel(slot0.defaultEquipTF, slot1, SpWeaponHelper.TransformNormalInfo(slot1))
	setActive(slot0.defaultEnhanceBtn, true)
	setActive(slot0.defaultReplaceBtn, true)
	setActive(slot0.defaultUnloadBtn, true)
	setActive(slot0.defaultModifyBtn, true)
	setActive(slot0:findTF(&quot;head&quot;, slot0.defaultEquipTF), slot0.shipVO)

	if slot0.shipVO then
		setImageSprite(findTF(slot2, &quot;Image&quot;), LoadSprite(&quot;qicon/&quot; .. slot0.shipVO:getPainting()))
	end
end

slot0.updateOperation3 = function(slot0)
	triggerToggle(slot0.toggles.replacePanel, true)

	if slot0.equipmentVO then
		slot2, slot3 = SpWeaponHelper.CompareNormalInfo(slot1, slot0.oldEquipmentVO)

		slot0:updateEquipmentPanel(slot0.replaceSrcEquipTF, slot1, slot2)
		slot0:updateEquipmentPanel(slot0.replaceDstEquipTF, slot0.oldEquipmentVO, slot3)
	else
		slot0:updateEquipmentPanel(slot0.replaceSrcEquipTF, nil)
		slot0:updateEquipmentPanel(slot0.replaceDstEquipTF, slot0.oldEquipmentVO, SpWeaponHelper.TransformNormalInfo(slot0.oldEquipmentVO))
	end

	setActive(slot0:findTF(&quot;head&quot;, slot0.replaceDstEquipTF), slot0.oldShipVO)

	if slot0.oldShipVO then
		setImageSprite(findTF(slot2, &quot;Image&quot;), LoadSprite(&quot;qicon/&quot; .. slot0.oldShipVO:getPainting()))
	end
end

slot0.updateOperation4 = function(slot0)
	triggerToggle(slot0.toggles.displayPanel, true)
	slot0:updateEquipmentPanel(slot0.displayEquipTF, slot0.equipmentVO, SpWeaponHelper.TransformNormalInfo(slot0.equipmentVO))
	setActive(slot0.displayMoveBtn, slot0.shipVO)
	setActive(slot0:findTF(&quot;head&quot;, slot0.displayEquipTF), slot0.shipVO)

	if slot0.shipVO then
		setImageSprite(findTF(slot1, &quot;Image&quot;), LoadSprite(&quot;qicon/&quot; .. slot0.shipVO:getPainting()))
	end
end

slot0.updateOperationAward = function(slot0, slot1, slot2, slot3)
	slot0.awards = slot3

	if slot1.childCount == 0 then
		for slot7 = 1, #slot3 do
			cloneTplTo(slot2, slot1)
		end
	end

	for slot7 = 1, #slot3 do
		slot8 = slot1:GetChild(slot7 - 1)

		updateDrop(slot8, slot3[slot7])
		onButton(slot0, slot8, function ()
			uv0:emit(uv1.ON_DROP, uv2)
		end, SFX_PANEL)
		setText(findTF(slot8, &quot;name_panel/name&quot;), getText(findTF(slot8, &quot;name&quot;)))
		setText(findTF(slot8, &quot;name_panel/number&quot;), &quot; x &quot; .. getText(findTF(slot8, &quot;icon_bg/count&quot;)))
		setActive(findTF(slot8, &quot;icon_bg/count&quot;), false)
	end
end

slot0.updateEquipmentPanel = function(slot0, slot1, slot2, slot3)
	setActive(slot0:findTF(&quot;info&quot;, slot1), slot2)
	setActive(slot0:findTF(&quot;empty&quot;, slot1), not slot2)

	if not slot2 then
		return
	end

	setScrollText(findTF(findTF(slot4, &quot;name&quot;), &quot;mask/Text&quot;), slot2:GetName())

	slot7 = findTF(slot4, &quot;equip&quot;)

	setImageSprite(findTF(slot7, &quot;bg&quot;), GetSpriteFromAtlas(&quot;ui/equipmentinfoui_atlas&quot;, &quot;equip_bg_&quot; .. ItemRarity.Rarity2Print(slot2:GetRarity())))
	updateSpWeapon(slot7, slot2, {
		noIconColorful = true
	})
	setActive(findTF(slot7, &quot;slv&quot;), slot2:GetLevel() &gt; 1)
	setText(findTF(slot7, &quot;slv/Text&quot;), slot2:GetLevel() - 1)
	setActive(findTF(slot7, &quot;slv/next&quot;), false)
	setText(findTF(slot7, &quot;slv/next/Text&quot;), slot2:GetLevel() - 1)

	slot8 = slot0:findTF(&quot;tier&quot;, slot7)

	setActive(slot8, slot2)

	slot9 = slot2:GetTechTier()

	eachChild(slot8, function (slot0)
		setActive(slot0, tostring(uv0) == slot0.gameObject.name)
	end)
	updateSpWeaponInfo(slot4:Find(&quot;attributes/view/content&quot;), slot3, slot2:GetSkillGroup())
end

slot0.cloneSampleTo = function(slot0, slot1, slot2, slot3, slot4)
	cloneTplTo(slot0.sample, slot1, slot3).localPosition = Vector3.New(uv0.pos[slot2][1], uv0.pos[slot2][2], uv0.pos[slot2][3])

	if slot4 then
		slot5:SetSiblingIndex(slot4)
	end

	return slot5
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

slot0.onBackPressed = function(slot0)
	slot0:closeView()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>