<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>live2dconst.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>live2dconst.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Live2dConst&quot;)
slot0.l2d_arm_32 = false
slot0.UnLoadL2dPating = nil

slot0.SaveL2dIdle = function(slot0, slot1, slot2)
	PlayerPrefs.SetInt(uv0.GetL2dIdleSaveName(slot0, slot1), slot2)
end

slot0.SaveL2dAction = function(slot0, slot1, slot2)
	PlayerPrefs.SetInt(uv0.GetL2dActionSaveName(slot0, slot1), slot2)
end

slot0.GetL2dIdleSaveName = function(slot0, slot1)
	return &quot;l2d_&quot; .. tostring(slot0) .. &quot;_&quot; .. tostring(slot1) .. &quot;_idle_index&quot;
end

slot0.GetL2dActionSaveName = function(slot0, slot1)
	return &quot;l2d_&quot; .. tostring(slot0) .. &quot;_&quot; .. tostring(slot1) .. &quot;_action_id&quot;
end

slot0.GetL2dSaveData = function(slot0, slot1)
	return PlayerPrefs.GetInt(uv0.GetL2dIdleSaveName(slot0, slot1)), PlayerPrefs.GetInt(uv0.GetL2dActionSaveName(slot0, slot1))
end

slot0.SaveDragData = function(slot0, slot1, slot2, slot3)
	PlayerPrefs.SetFloat(uv0.GetDragSaveName(slot0, slot1, slot2), slot3)
end

slot0.GetDragData = function(slot0, slot1, slot2)
	return PlayerPrefs.GetFloat(uv0.GetDragSaveName(slot0, slot1, slot2))
end

slot0.GetDragSaveName = function(slot0, slot1, slot2)
	return &quot;l2d_drag_&quot; .. tostring(slot0) .. &quot;_&quot; .. tostring(slot1) .. &quot;_&quot; .. tostring(slot2) .. &quot;_target&quot;
end

slot0.SetDragActionIndex = function(slot0, slot1, slot2, slot3)
	PlayerPrefs.SetInt(uv0.GetDragActionIndexName(slot0, slot1, slot2), slot3)
end

slot0.GetDragActionIndex = function(slot0, slot1, slot2)
	if not PlayerPrefs.GetInt(uv0.GetDragActionIndexName(slot0, slot1, slot2)) or slot4 &lt;= 0 then
		slot4 = 1
	end

	return slot4
end

slot0.GetDragActionIndexName = function(slot0, slot1, slot2)
	return &quot;l2d_drag_&quot; .. tostring(slot0) .. &quot;_&quot; .. tostring(slot1) .. &quot;_&quot; .. tostring(slot2) .. &quot;_action_index&quot;
end

slot0.RELATION_DRAG_X = &quot;drag_x&quot;
slot0.RELATION_DRAG_Y = &quot;drag_y&quot;
slot0.RELATION_DRAG_NAME_LIST = {
	slot0.RELATION_DRAG_X,
	slot0.RELATION_DRAG_Y
}

slot0.SetRelationData = function(slot0, slot1, slot2, slot3)
	slot8 = slot2
	slot4 = string.gsub(string.gsub(string.gsub(uv0.GetRelationName(), &quot;%$1&quot;, slot0), &quot;%$2&quot;, slot1), &quot;%$3&quot;, slot8)

	for slot8 = 1, #uv0.RELATION_DRAG_NAME_LIST do
		slot9 = uv0.RELATION_DRAG_NAME_LIST[slot8]

		PlayerPrefs.SetFloat(slot4 .. slot9, slot3[slot9])
	end
end

slot0.GetRelationData = function(slot0, slot1, slot2)
	slot3 = string.gsub(string.gsub(string.gsub(uv0.GetRelationName(), &quot;%$1&quot;, slot0), &quot;%$2&quot;, slot1), &quot;%$3&quot;, slot2)
	slot4 = {}

	for slot8 = 1, #uv0.RELATION_DRAG_NAME_LIST do
		slot4[slot9] = PlayerPrefs.GetFloat(slot3 .. uv0.RELATION_DRAG_NAME_LIST[slot8]) ~= nil and PlayerPrefs.GetFloat(slot10) or 0
	end

	return slot4
end

slot0.GetRelationName = function(slot0, slot1, slot2)
	return &quot;l2d_relation_$1_$2_$3_&quot;
end

slot0.ClearLive2dSave = function(slot0, slot1)
	if not slot0 or not slot1 then
		warning(&quot;skinId 或 shipId 不能为空&quot;)

		return
	end

	if not pg.ship_skin_template[slot0] then
		warning(&quot;找不到skinId&quot; .. tostring(slot0) .. &quot; 清理失败&quot;)

		return
	end

	if pg.ship_skin_template[slot0].ship_l2d_id and #slot2 &gt; 0 then
		Live2dConst.SaveL2dIdle(slot0, slot1, 0)

		slot6 = 0

		Live2dConst.SaveL2dAction(slot0, slot1, slot6)

		for slot6, slot7 in ipairs(slot2) do
			if pg.ship_l2d[slot7] then
				Live2dConst.SaveDragData(slot7, slot0, slot1, slot8.start_value or 0)
				Live2dConst.SetDragActionIndex(slot7, slot0, slot1, 1)

				if slot8.relation_parameter and slot8.relation_parameter.list then
					slot14 = slot1
					slot10 = string.gsub(string.gsub(string.gsub(uv0.GetRelationName(), &quot;%$1&quot;, slot7), &quot;%$2&quot;, slot0), &quot;%$3&quot;, slot14)

					for slot14 = 1, #uv0.RELATION_DRAG_NAME_LIST do
						PlayerPrefs.SetFloat(slot10 .. uv0.RELATION_DRAG_NAME_LIST[slot14], 0)
					end
				end
			else
				warning(tostring(slot7) .. &quot;不存在，不清理该dragid&quot;)
			end
		end
	end

	pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;live2d_reset_desc&quot;))
end

slot0.GetLive2DArm32MatchAble = function()
	if uv0.l2d_arm_32 then
		return true
	end

	if PermissionHelper.IsAndroid() then
		if System.IO.Directory.Exists(Application.dataPath:gsub(&quot;/base%.apk/assets$&quot;, &quot;&quot;):gsub(&quot;/assets$&quot;, &quot;&quot;):gsub(&quot;/[^/]+$&quot;, &quot;/lib/&quot;) .. &quot;arm&quot;) then
			return true
		else
			return false
		end
	else
		return false
	end
end

slot0.ShowLive2DArm32Tips = function()
	pg.TipsMgr:GetInstance():ShowTips(i18n(&quot;l2d_32xbanned_warning&quot;))
end

slot0.l2d_dirty_data = {}

slot0.SetLive2dDirty = function(slot0, slot1)
	uv0.l2d_dirty_data[slot0 .. &quot;_&quot; .. slot1] = true
end

slot0.GetLive2dDirty = function(slot0, slot1, slot2)
	if uv0.l2d_dirty_data[slot0 .. &quot;_&quot; .. slot1] then
		if slot2 then
			uv0.l2d_dirty_data[slot0 .. &quot;_&quot; .. slot1] = false
		end

		return true
	end

	return false
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>