<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navaltacticsskillinfolayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>navaltacticsskillinfolayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NavalTacticsSkillInfoLayer&quot;, import(&quot;.SkillInfoLayer&quot;))

slot0.showBase = function(slot0)
	uv0.super.showBase(slot0)
	setActive(slot0.metaBtn, false)
	setActive(slot0.upgradeBtn, false)
end

slot0.showInfo = function(slot0, slot1)
	slot0.isWorld = slot1
	slot4 = slot0.contextData.skillOnShip and slot3.level or 1

	setText(slot0.skillInfoLv, &quot;Lv.&quot; .. slot4)
	setText(slot0.skillInfoIntro, Student.getSkillDesc(slot0.contextData.skillId, slot4, slot1))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>