<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shipevaluationlayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>shipevaluationlayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ShipEvaluationLayer&quot;, import(&quot;..base.BaseUI&quot;))
slot0.EVENT_LIKE = &quot;event like&quot;
slot0.EVENT_EVA = &quot;event eva&quot;
slot0.EVENT_ZAN = &quot;event zan&quot;
slot0.EVENT_IMPEACH = &quot;event impeach&quot;

slot0.getUIName = function(slot0)
	return &quot;EvaluationUI&quot;
end

slot0.init = function(slot0)
	slot0.mainPanel = slot0:findTF(&quot;mainPanel&quot;)
	slot0.head = slot0:findTF(&quot;bg/left_panel/ship_tpl&quot;, slot0.mainPanel)
	slot0.labelHeart = slot0:findTF(&quot;bg/left_panel/evaluation_count/heart&quot;, slot0.mainPanel)
	slot0.labelEva = slot0:findTF(&quot;bg/left_panel/evaluation_count/count&quot;, slot0.mainPanel)
	slot0.btnLike = slot0:findTF(&quot;bg/left_panel/btnLike&quot;, slot0.mainPanel)
	slot0.btnEva = slot0:findTF(&quot;bg/bottom_panel/send_btn&quot;, slot0.mainPanel)
	slot0.input = slot0:findTF(&quot;bg/bottom_panel/Input&quot;, slot0.mainPanel)
	slot0.inputText = slot0:findTF(&quot;Text&quot;, slot0.input)
	slot0.list = slot0:findTF(&quot;bg/right_panel/list&quot;, slot0.mainPanel)
	slot0.hotContent = slot0:findTF(&quot;content/hots&quot;, slot0.list)
	slot0.commonContent = slot0:findTF(&quot;content/commons&quot;, slot0.list)
	slot0.hotTpl = slot0:findTF(&quot;content/hot_tpl&quot;, slot0.list)
	slot0.commonTpl = slot0:findTF(&quot;content/commom_tpl&quot;, slot0.list)
	slot0.iconType = findTF(slot0.head, &quot;content/main_bg/type_mask/type_icon&quot;):GetComponent(typeof(Image))
	slot0.imageBg = findTF(slot0.head, &quot;content/icon_bg&quot;):GetComponent(typeof(Image))
	slot0.imageFrame = findTF(slot0.head, &quot;content/main_bg/frame&quot;)
	slot0.iconShip = findTF(slot0.head, &quot;content/icon&quot;):GetComponent(typeof(Image))
	slot0.labelName = findTF(slot0.head, &quot;content/main_bg/name_mask/name&quot;):GetComponent(typeof(Text))
	slot0.scrollText = findTF(slot0.head, &quot;content/main_bg/name_mask/name&quot;):GetComponent(typeof(ScrollText))
	slot0.stars = findTF(slot0.head, &quot;content/main_bg/stars&quot;)
	slot0.star = findTF(slot0.stars, &quot;tpl&quot;)
	slot0.bg = slot0:findTF(&quot;BG&quot;)
	slot0.btnHelp = slot0._tf:Find(&quot;mainPanel/bg/top_panel/title/help&quot;)

	setActive(slot0.btnHelp, getProxy(PlayerProxy):getRawData():IsOpenShipEvaluationImpeach())
	slot0:initImpeachPanel()
	setActive(slot0.mainPanel, true)
	setActive(slot0.impackPanel, false)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		groupName = slot0:getGroupNameFromData(),
		weight = slot0:getWeightFromData()
	})
end

slot0.onBackPressed = function(slot0)
	if isActive(slot0.impackPanel) then
		setActive(slot0.mainPanel, true)
		setActive(slot0.impackPanel, false)
	else
		slot0:closeView()
	end
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0.bg, function ()
		uv0:onBackPressed()
	end, SFX_CANCEL)
	onButton(slot0, slot0:findTF(&quot;mainPanel/bg/top_panel/btnBack&quot;), function ()
		uv0:onBackPressed()
	end, SFX_CANCEL)
	onButton(slot0, slot0.btnHelp, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = i18n(&quot;report_sent_help&quot;),
			weight = uv0:getWeightFromData()
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.btnLike, function ()
		uv0:emit(uv1.EVENT_LIKE)
	end, SFX_PANEL)
	onButton(slot0, slot0.btnEva, function ()
		if string.len(getInputText(uv0.input)) &gt; 0 then
			setInputText(uv0.input, &quot;&quot;)
			uv0:emit(uv1.EVENT_EVA, slot0)
		else
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;eva_comment_send_null&quot;))
		end
	end, SFX_PANEL)
	onInputChanged(slot0, slot0.input, function ()
		slot1, slot2 = nil

		if string.len(getInputText(uv0.input)) &gt; 0 then
			if CollectionProxy.MAX_DAILY_EVA_COUNT &lt;= uv0.shipGroup.evaluation.ievaCount then
				slot1 = true
				slot2 = i18n(&quot;eva_count_limit&quot;)
			elseif wordVer(slot0) &gt; 0 then
				slot1 = true
				slot2 = i18n(&quot;invalidate_evaluation&quot;)
			end
		end

		if slot1 then
			setTextColor(uv0.inputText, Color.red)
			setButtonEnabled(uv0.btnEva, false)
			pg.TipsMgr.GetInstance():ShowTips(slot2)
		else
			setTextColor(uv0.inputText, Color.white)
			setButtonEnabled(uv0.btnEva, true)
		end
	end)
end

slot0.setShipGroup = function(slot0, slot1)
	slot0.shipGroup = slot1
end

slot0.setShowTrans = function(slot0, slot1)
	slot0.showTrans = slot1
end

slot0.flushAll = function(slot0)
	slot0:flushShip()
	slot0:flushHeart()
	slot0:flushEva()
end

slot0.flushShip = function(slot0)
	slot1 = slot0.shipGroup.shipConfig
	slot3 = slot0.shipGroup:rarity2bgPrint(slot0.showTrans)

	setShipCardFrame(slot0.imageFrame, slot3, nil)
	GetImageSpriteFromAtlasAsync(&quot;bg/star_level_card_&quot; .. slot3, &quot;&quot;, slot0.imageBg)

	slot0.iconShip.sprite = GetSpriteFromAtlas(&quot;shipYardIcon/unknown&quot;, &quot;&quot;)

	LoadImageSpriteAsync(&quot;shipYardIcon/&quot; .. slot0.shipGroup:getPainting(slot0.showTrans), slot0.iconShip)

	slot0.labelName.text = slot0.shipGroup:getName(slot0.showTrans)

	if slot0.scrollText then
		slot0.scrollText:SetText(slot0.shipGroup:getName(slot0.showTrans))
	end

	if not GetSpriteFromAtlas(&quot;shiptype&quot;, shipType2print(slot0.shipGroup:getShipType(slot0.showTrans))) then
		warning(&quot;找不到船形, shipConfigId: &quot; .. slot1.id)
	end

	slot0.iconType.sprite = slot4

	for slot10 = slot0.stars.childCount, pg.ship_data_template[slot1.id].star_max - 1 do
		slot11 = cloneTplTo(slot0.star, slot0.stars)
	end
end

slot0.flushHeart = function(slot0)
	setButtonEnabled(slot0.btnLike, not slot0.shipGroup.iheart)
	setText(slot0.labelHeart, slot0.shipGroup.evaluation.hearts)
end

slot0.flushEva = function(slot0)
	slot1 = slot0.shipGroup.evaluation

	setText(slot0.labelEva, slot1.evaCount)

	slot2 = slot1.evas

	for slot6 = 1, slot0.hotContent.childCount do
		if go(slot0.hotContent:GetChild(slot6 - 1)).name ~= &quot;tag&quot; then
			Destroy(slot7)
		end
	end

	for slot6 = 1, slot0.commonContent.childCount do
		if go(slot0.commonContent:GetChild(slot6 - 1)).name ~= &quot;tag&quot; then
			Destroy(slot7)
		end
	end

	slot3 = getProxy(PlayerProxy):getRawData():IsOpenShipEvaluationImpeach()

	for slot7 = 1, #slot2 do
		slot8 = nil
		slot8 = (not slot2[slot7].hot or cloneTplTo(slot0.hotTpl, slot0.hotContent)) and cloneTplTo(slot0.commonTpl, slot0.commonContent)
		slot10 = slot0:findTF(&quot;bg/evaluation&quot;, slot8):GetComponent(typeof(Text))

		setText(slot0:findTF(&quot;bg/name&quot;, slot8), slot9.nick_name .. &quot;:&quot;)
		setText(slot0:findTF(&quot;bg/zan_bg/Text&quot;, slot8), slot9.good_count - slot9.bad_count)

		slot10.supportRichText = false
		slot10.text = slot9.context

		slot13 = function(slot0)
			if not uv0.izan then
				uv1:emit(uv2.EVENT_ZAN, uv0.id, slot0)
			else
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;zan_ship_eva_error_7&quot;))
			end
		end

		onButton(slot0, slot8:Find(&quot;bg/zan_bg/up&quot;), function ()
			uv0(0)
		end, SFX_PANEL)
		onButton(slot0, slot8:Find(&quot;bg/zan_bg/down&quot;), function ()
			uv0(1)
		end, SFX_PANEL)
		onButton(slot0, slot8:Find(&quot;bg/zan_bg/impeach&quot;), function ()
			uv0:openImpeachPanel(uv1.id)
		end, SFX_PANEL)
		SetActive(slot8:Find(&quot;bg/zan_bg/down&quot;), not defaultValue(LOCK_DOWNVOTE, true))
		setActive(slot8:Find(&quot;bg/zan_bg/impeach&quot;), slot3)
	end

	slot4 = 1

	for slot8 = 1, slot0.hotContent.childCount do
		if go(slot0.hotContent:GetChild(slot8 - 1)).name ~= &quot;tag&quot; then
			setActive(slot9:Find(&quot;print1&quot;), slot4 % 2 ~= 0)
			setActive(slot9:Find(&quot;print2&quot;), slot4 % 2 == 0)

			slot4 = slot4 + 1
		end
	end

	setActive(slot0.hotContent:Find(&quot;tag&quot;), slot0.hotContent.childCount &gt; 1)
	setActive(slot0.commonContent:Find(&quot;tag&quot;), slot0.commonContent.childCount &gt; 1)
	slot0.hotContent:Find(&quot;tag&quot;):SetAsLastSibling()
	slot0.commonContent:Find(&quot;tag&quot;):SetAsLastSibling()
end

slot1 = 3

slot0.initImpeachPanel = function(slot0)
	slot1 = slot0._tf
	slot0.impackPanel = slot1:Find(&quot;impeachPanel&quot;)
	slot2 = slot0.impackPanel

	setText(slot2:Find(&quot;window/top/bg/impeach/title&quot;), i18n(&quot;report_sent_title&quot;))

	slot3 = slot0.impackPanel

	onButton(slot0, slot3:Find(&quot;window/top/btnBack&quot;), function ()
		uv0:onBackPressed()
	end, SFX_CANCEL)

	slot1 = slot0.impackPanel
	slot1 = slot1:Find(&quot;window/msg_panel/content&quot;)

	setText(slot1:Find(&quot;title&quot;), i18n(&quot;report_sent_desc&quot;))

	slot2 = UIItemList.New(slot1:Find(&quot;options&quot;), slot1:Find(&quot;options/tpl&quot;))

	slot2:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			setText(slot2:Find(&quot;Text&quot;), i18n(&quot;report_type_&quot; .. slot1))
			setText(slot2:Find(&quot;Text_2&quot;), i18n(&quot;report_type_&quot; .. slot1 .. &quot;_1&quot;))
			onToggle(uv0, slot2, function (slot0)
				uv0.impeachOption = uv1
			end)
		end
	end)
	slot2:align(uv0)
	setText(slot1:Find(&quot;other/field/Text&quot;), i18n(&quot;report_type_other&quot;))
	setText(slot1:Find(&quot;other/field/input/Placeholder&quot;), i18n(&quot;report_type_other_1&quot;))
	onToggle(slot0, slot1:Find(&quot;other&quot;), function (slot0)
		uv0.impeachOption = &quot;other&quot;

		setActive(uv1:Find(&quot;other/field/input&quot;), slot0)
	end)
	onInputChanged(slot0, slot1:Find(&quot;other/field/input&quot;), function ()
		Canvas.ForceUpdateCanvases()
	end)

	slot6 = slot0.impackPanel

	onButton(slot0, slot6:Find(&quot;window/button_container/button&quot;), function ()
		if uv0.impeachOption == &quot;other&quot; then
			if string.len(getInputText(uv1)) &gt; 0 then
				uv0:emit(uv2.EVENT_IMPEACH, uv0.targetEvaId, i18n(&quot;report_type_other&quot;) .. &quot;:&quot; .. slot0)
			else
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;report_type_other_2&quot;))

				return
			end
		else
			uv0:emit(uv2.EVENT_IMPEACH, uv0.targetEvaId, i18n(&quot;report_type_&quot; .. uv0.impeachOption))
		end

		uv0:onBackPressed()
	end, SFX_CONFIRM)
end

slot0.openImpeachPanel = function(slot0, slot1)
	slot0.targetEvaId = slot1

	setActive(slot0.mainPanel, false)
	setActive(slot0.impackPanel, true)
	triggerToggle(slot0.impackPanel:Find(&quot;window/msg_panel/content/other&quot;), true)
	triggerToggle(slot0.impackPanel:Find(&quot;window/msg_panel/content/options/tpl&quot;), true)
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>