<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skillinfolayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>skillinfolayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SkillInfoLayer&quot;, import(&quot;..base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;SkillInfoUI&quot;
end

slot0.init = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		weight = slot0:getWeightFromData()
	})

	slot0.backBtn = slot0:findTF(&quot;panel/top/btnBack&quot;)
	slot0.skillInfoName = slot0:findTF(&quot;panel/bg/skill_name&quot;)
	slot0.skillInfoLv = slot0:findTF(&quot;panel/bg/skill_lv&quot;)
	slot0.skillInfoIntro = slot0:findTF(&quot;panel/bg/help_panel/skill_intro&quot;)
	slot0.skillInfoIcon = slot0:findTF(&quot;panel/bg/skill_icon&quot;)
	slot0.btnTypeNormal = slot0:findTF(&quot;panel/bg/btn_type_normal&quot;)
	slot0.btnTypeWorld = slot0:findTF(&quot;panel/bg/btn_type_world&quot;)
	slot0.buttonList = slot0:findTF(&quot;panel/buttonList&quot;)
	slot0.upgradeBtn = slot0:findTF(&quot;panel/buttonList/level_button&quot;)
	slot0.metaBtn = slot0:findTF(&quot;panel/buttonList/meta_button&quot;)

	setText(slot0:findTF(&quot;Image&quot;, slot0.metaBtn), i18n(&quot;meta_skillbtn_tactics&quot;))
	setText(slot0:findTF(&quot;panel/top/title_list/infomation/title&quot;), i18n(&quot;words_information&quot;))
	setText(slot0.buttonList:Find(&quot;ok_button/Image&quot;), i18n(&quot;text_confirm&quot;))

	if PLATFORM_CODE == PLATFORM_JP then
		setText(slot0.buttonList:Find(&quot;level_button/Image&quot;), i18n(&quot;msgbox_text_noPos_intensify&quot;))
	else
		setText(slot0.buttonList:Find(&quot;level_button/Image&quot;), i18n(&quot;msgbox_text_upgrade&quot;))
	end
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SFX_CANCEL)
	onButton(slot0, slot0.backBtn, function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SFX_CANCEL)
	onButton(slot0, slot0:findTF(&quot;panel/buttonList/ok_button&quot;), function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SFX_CONFIRM)
	onButton(slot0, slot0.upgradeBtn, function ()
		uv0:emit(SkillInfoMediator.WARP_TO_TACTIC)
	end, SFX_UI_CLICK)
	onButton(slot0, slot0.metaBtn, function ()
		slot1, slot2 = nil

		if uv0.contextData.shipId then
			slot1 = getProxy(BayProxy):getShipById(uv0.contextData.shipId):isMetaShip()
		end

		if slot1 then
			uv0:emit(SkillInfoMediator.WARP_TO_META_TACTICS, slot2.configId)
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.btnTypeNormal, function ()
		uv0:showInfo(false)
		uv0:flushTypeBtn()
	end, SFX_PANEL)
	onButton(slot0, slot0.btnTypeWorld, function ()
		uv0:showInfo(true)
		uv0:flushTypeBtn()
	end, SFX_PANEL)

	if tobool(pg.skill_world_display[slot0.contextData.skillId]) then
		slot0:flushTypeBtn()
	else
		setActive(slot0.btnTypeNormal, false)
		setActive(slot0.btnTypeWorld, false)
	end

	slot0:showBase()
	slot0:showInfo(false)
end

slot0.flushTypeBtn = function(slot0)
	setActive(slot0.btnTypeNormal, slot0.isWorld)
	setActive(slot0.btnTypeWorld, not slot0.isWorld)
end

slot0.showBase = function(slot0)
	slot1 = slot0.contextData.skillId
	slot2 = slot0.contextData.skillOnShip

	setText(slot0.skillInfoName, getSkillName(slot1))
	LoadImageSpriteAsync(&quot;skillicon/&quot; .. getSkillConfig(slot1).icon, slot0.skillInfoIcon)
	setActive(slot0.upgradeBtn, not slot0.contextData.fromNewShip and slot2 and slot2.level &lt; #slot3 and slot2.id ~= 22262 and slot2.id ~= 22261)

	slot6, slot7 = nil

	if slot0.contextData.shipId then
		slot6 = getProxy(BayProxy):getShipById(slot0.contextData.shipId):isMetaShip()
	end

	setActive(slot0.metaBtn, slot6 and MetaCharacterConst.isMetaTaskSkillID(slot1))

	if slot6 then
		setActive(slot0.upgradeBtn, false)
	end
end

slot0.showInfo = function(slot0, slot1)
	slot0.isWorld = slot1
	slot2 = slot0.contextData.skillId

	setText(slot0.skillInfoLv, &quot;Lv.&quot; .. (slot0.contextData.skillOnShip and slot3.level or 1))

	if slot0.contextData.fromNewShip then
		setText(slot0.skillInfoIntro, getSkillDescGet(slot2, slot1))
	else
		setText(slot0.skillInfoIntro, getSkillDesc(slot2, slot4, slot1))
	end
end

slot0.close = function(slot0)
	slot0:emit(uv0.ON_CLOSE)
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)

	if slot0.contextData.onExit then
		slot0.contextData.onExit()
	end
end

slot0.inOutAnim = function(slot0, slot1, slot2)
	if slot1 then
		slot4 = slot0:findTF(&quot;panel/bg_decorations&quot;):GetComponent(typeof(Animation))

		slot4:Stop()
		slot4:Play(&quot;anim_window_bg&quot;)

		slot6 = slot0:findTF(&quot;panel/top&quot;):GetComponent(typeof(Animation))

		slot6:Stop()
		slot6:Play(&quot;anim_top&quot;)

		slot8 = slot0:findTF(&quot;panel/bg&quot;):GetComponent(typeof(Animation))

		slot8:Stop()
		slot8:Play(&quot;anim_content&quot;)

		slot10 = slot0:findTF(&quot;bg&quot;):GetComponent(typeof(Animation))

		slot10:Stop()
		slot10:Play(&quot;anim_bg_plus&quot;)

		slot12 = slot0:findTF(&quot;panel/buttonList&quot;):GetComponent(typeof(Animation))

		slot12:Stop()
		slot12:Play(&quot;anim_button_container&quot;)
	end

	slot2()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>