<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spinepaintingconst.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>spinepaintingconst.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SpinePaintingConst&quot;)
slot0.drag_type_normal = 1
slot0.drag_type_rgb = 2
slot0.drag_type_list = 3
slot0.drag_type_once = 4
slot0.drag_type_touch = 5
slot0.ship_drag_datas = {
	gaoxiong_6 = {
		click_trigger = false,
		multiple_face = {},
		hit_area = {
			&quot;drag&quot;
		},
		drag_data = {
			type = 1,
			config_client = {
				{
					is_default = true,
					action = &quot;drag&quot;,
					idle = &quot;normal&quot;,
					change_idle = &quot;ex&quot;
				},
				{
					is_default = false,
					action = &quot;drag_ex&quot;,
					idle = &quot;ex&quot;,
					change_idle = &quot;normal&quot;
				}
			}
		}
	},
	jianye_5 = {
		click_trigger = false,
		multiple_face = {},
		hit_area = {
			&quot;drag&quot;
		},
		drag_data = {
			type = 1,
			config_client = {
				{
					is_default = true,
					action = &quot;drag&quot;,
					idle = &quot;normal&quot;,
					change_idle = &quot;ex&quot;
				},
				{
					is_default = false,
					action = &quot;drag_ex&quot;,
					idle = &quot;ex&quot;,
					change_idle = &quot;normal&quot;
				}
			}
		}
	},
	aimudeng_4 = {
		click_trigger = false,
		multiple_face = {
			name = {
				&quot;aimudeng_4&quot;,
				&quot;aimudeng_4M&quot;
			},
			data = {
				{
					&quot;normal&quot;,
					0
				},
				{
					&quot;ex&quot;,
					5
				}
			}
		},
		hit_area = {
			&quot;drag&quot;
		},
		drag_data = {
			material = &quot;SkeletonGraphicDefaultRGBSplit&quot;,
			type = 2,
			config_client = {
				{
					is_default = true,
					action = &quot;drag&quot;,
					idle = &quot;normal&quot;,
					change_idle = &quot;ex&quot;
				},
				{
					is_default = false,
					action = &quot;drag_ex&quot;,
					idle = &quot;ex&quot;,
					change_idle = &quot;normal&quot;
				}
			}
		}
	},
	yaerweite_2 = {
		click_trigger = true,
		multiple_face = {},
		drag_data = {},
		hit_area = {
			&quot;drag&quot;
		},
		drag_data = {
			lock_layer = true,
			type = 3,
			config_client = {
				&quot;touch&quot;,
				&quot;normal&quot;
			}
		}
	},
	kaiersheng_3 = {
		click_trigger = true,
		multiple_face = {},
		hit_area = {
			&quot;drag&quot;
		},
		drag_data = {
			type = 1,
			config_client = {
				{
					is_default = true,
					action = &quot;drag&quot;,
					idle = &quot;normal&quot;,
					change_idle = &quot;ex&quot;
				},
				{
					is_default = false,
					action = &quot;drag_ex&quot;,
					idle = &quot;ex&quot;,
					change_idle = &quot;normal&quot;
				}
			}
		}
	},
	siwanshi_4 = {
		click_trigger = true,
		multiple_face = {},
		hit_area = {
			&quot;touch_head&quot;,
			&quot;touch_body&quot;,
			&quot;touch_special&quot;,
			&quot;touch_special_2&quot;,
			&quot;touch_special_back&quot;,
			&quot;touch_head_2&quot;
		},
		action_enable = {
			{
				name = &quot;normal&quot;,
				ignore = {}
			},
			{
				name = &quot;touch_special_normal&quot;,
				ignore = {
					&quot;touch_body&quot;,
					&quot;touch_head&quot;,
					&quot;change_out&quot;
				}
			}
		},
		drag_data = {
			lock_layer = true,
			type = 1,
			config_client = {
				{
					change_idle = &quot;normal&quot;,
					action = &quot;touch_body&quot;,
					idle = &quot;normal&quot;,
					event = &quot;TouchBody&quot;,
					is_default = true,
					hit = &quot;touch_body&quot;
				},
				{
					change_idle = &quot;normal&quot;,
					action = &quot;touch_head&quot;,
					idle = &quot;normal&quot;,
					event = &quot;TouchHead&quot;,
					is_default = true,
					hit = &quot;touch_head&quot;
				},
				{
					change_idle = &quot;touch_special_normal&quot;,
					is_default = true,
					idle = &quot;normal&quot;,
					action = &quot;touch_special&quot;,
					event = &quot;TouchSpecial&quot;,
					fold = true,
					hit = &quot;touch_special&quot;,
					effect_hide = {
						&quot;lihui_siwanshi_4&quot;
					}
				},
				{
					change_idle = &quot;&quot;,
					action = &quot;&quot;,
					idle = &quot;touch_special_normal&quot;,
					event = &quot;TouchSpecial&quot;,
					is_default = false,
					hit = &quot;touch_special_2&quot;
				},
				{
					change_idle = &quot;&quot;,
					action = &quot;&quot;,
					idle = &quot;touch_special_normal&quot;,
					event = &quot;TouchHead&quot;,
					is_default = false,
					hit = &quot;touch_head_2&quot;
				},
				{
					change_idle = &quot;normal&quot;,
					action = &quot;touch_special_2&quot;,
					idle = &quot;touch_special_normal&quot;,
					is_default = false,
					fold = true,
					hit = &quot;touch_special_back&quot;,
					effect_hide = {
						&quot;lihui_siwanshi_4&quot;
					}
				}
			}
		}
	},
	telinida_2 = {
		click_trigger = false,
		multiple_face = {},
		hit_area = {
			&quot;drag&quot;
		},
		drag_data = {
			type = 1,
			config_client = {
				{
					is_default = true,
					action = &quot;drag&quot;,
					idle = &quot;normal&quot;,
					change_idle = &quot;ex&quot;
				},
				{
					is_default = false,
					action = &quot;drag_ex&quot;,
					idle = &quot;ex&quot;,
					change_idle = &quot;normal&quot;
				}
			}
		}
	}
}
slot0.ship_effect_action_able = {
	jianwu_3 = {
		&quot;login&quot;
	}
}

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>