<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>refluxshopview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>refluxshopview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;RefluxShopView&quot;, import(&quot;..base.BaseSubView&quot;))
slot0.GiftPackType = {
	Gold = 3,
	Money = 1,
	Diamond = 2
}
slot0.GiftPackTypeName = {
	&quot;pack_type_1&quot;,
	&quot;pack_type_2&quot;,
	&quot;pack_type_3&quot;
}
slot0.Special_ID_Gold = 1
slot0.Special_ID_Gem = 14

slot0.getUIName = function(slot0)
	return &quot;RefluxShopUI&quot;
end

slot0.OnInit = function(slot0)
	slot0:initData()
	slot0:initUI()
	slot0:updateUI()
	uv0.SaveEnterTag()
end

slot0.OnDestroy = function(slot0)
	for slot4, slot5 in pairs(uv0.GiftPackType) do
		if slot0.packTimerList[slot5] then
			slot6:Stop()

			slot0.packTimerList[slot5] = nil
		end

		if slot0.packNextTimerList[slot5] then
			slot7:Stop()

			slot0.packNextTimerList[slot5] = nil
		end
	end
end

slot0.OnBackPress = function(slot0)
	slot0:Hide()
end

slot0.initData = function(slot0)
	slot0.refluxProxy = getProxy(RefluxProxy)
	slot0.shopProxy = getProxy(ShopsProxy)
end

slot0.initUI = function(slot0)
	setActive(slot0:findTF(&quot;BG/MoneyTip&quot;), false)

	slot0.itemTpl = slot0:findTF(&quot;ItemTpl&quot;)
	slot0.packTpl = slot0:findTF(&quot;PackTpl&quot;)
	slot0.packContainerTF = slot0:findTF(&quot;Container&quot;)
	slot0.packItemList = UIItemList.New(slot0.packContainerTF, slot0.packTpl)

	slot0.packItemList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot1 = slot1 + 1

			uv0:updatePack(slot2, uv0.goodVOList[slot1], slot1)
		end
	end)

	slot0.packTimerList = {}
	slot0.packNextTimerList = {}
	slot4 = tf(Instantiate(GetComponent(slot0._tf, &quot;ItemList&quot;).prefabItem[0]))

	setActive(slot0:findTF(&quot;icon_bg/count&quot;, slot4), true)
	setParent(slot4, slot0.itemTpl)
	setLocalScale(slot4, {
		x = 0.45,
		y = 0.45
	})
end

slot0.updateData = function(slot0)
	slot2 = false

	if slot0:getCurDayGiftPackIDList()[1] then
		slot2 = Goods.Create({
			shop_id = slot1[1]
		}, Goods.TYPE_CHARGE)
	end

	slot0.goodVOList = {
		slot2,
		Goods.Create({
			shop_id = slot1[2]
		}, Goods.TYPE_GIFT_PACKAGE),
		Goods.Create({
			shop_id = slot1[3]
		}, Goods.TYPE_GIFT_PACKAGE)
	}
end

slot0.updateUI = function(slot0)
	slot0:updateData()
	slot0:updatePackList()
end

slot0.updateOutline = function(slot0)
	for slot5 = 1, slot0.packContainerTF.childCount do
		slot7 = slot0.packContainerTF:GetChild(slot5 - 1)
		slot9 = slot0:findTF(&quot;TimeLimit/Text&quot;, slot7):GetComponent(typeof(Text))
		slot9.material = Object.Instantiate(slot9.material)
		slot11 = slot0:findTF(&quot;Price/Text&quot;, slot7):GetComponent(typeof(Text))
		slot11.material = Object.Instantiate(slot11.material)
		slot13 = slot0:findTF(&quot;Mask/Text&quot;, slot7):GetComponent(typeof(Text))
		slot13.material = Object.Instantiate(slot13.material)
	end
end

slot0.updateItem = function(slot0, slot1, slot2)
	slot3 = slot0:findTF(&quot;Frame&quot;, slot1)
	slot4 = slot0:findTF(&quot;Icon&quot;, slot1)
	slot7 = slot2.id or slot2[2]

	setText(slot0:findTF(&quot;Count&quot;, slot1), slot2.count or slot2[3])

	if (slot2.type or slot2[1]) ~= DROP_TYPE_SHIP then
		setImageSprite(slot4, LoadSprite(Drop.New({
			type = slot6,
			id = slot7
		}):getIcon()))
	else
		setImageSprite(slot4, LoadSprite(&quot;QIcon/&quot; .. Ship.New({
			configId = slot7
		}):getPainting()))
	end

	setActive(slot3, false)
	setActive(slot4, false)
	setActive(slot5, false)

	slot9 = slot0:findTF(&quot;CommonItemTemplate(Clone)&quot;, slot1)

	setActive(slot9, true)
	updateDrop(slot9, {
		type = slot6,
		id = slot7,
		count = slot8
	})
end

slot0.updatePack = function(slot0, slot1, slot2, slot3)
	if slot2 == false then
		setActive(slot1, false)

		return
	elseif slot3 == uv0.GiftPackType.Money and slot0:isBuyEver(slot2.id) then
		setActive(slot1, false)

		return
	else
		setActive(slot1, true)
	end

	slot4, slot5 = nil

	if slot3 ~= uv0.GiftPackType.Money then
		slot5 = Item.getConfigData(slot2:getConfig(&quot;effect_args&quot;)[1])
	end

	slot7 = nil

	setImageSprite(slot0:findTF(&quot;PackIcon&quot;, slot1), LoadSprite(slot3 == uv0.GiftPackType.Money and &quot;chargeicon/&quot; .. slot2:getConfig(&quot;picture&quot;) or slot5.icon), true)

	slot8 = slot0:findTF(&quot;PackName&quot;, slot1)

	if slot3 == uv0.GiftPackType.Money then
		setText(slot8, slot2:getConfig(&quot;name_display&quot;))
	else
		setText(slot8, slot5.name)
	end

	slot10 = nil
	slot11 = UIItemList.New(slot0:findTF(&quot;ItemList&quot;, slot1), slot0.itemTpl)

	slot11:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv1:updateItem(slot2, uv0[slot1 + 1])
		end
	end)
	slot11:align(#((slot3 ~= uv0.GiftPackType.Money or slot2:getConfig(&quot;display&quot;)) and slot5.display_icon))

	slot12 = slot0:findTF(&quot;DescFrame/Text&quot;, slot1)

	if slot3 == uv0.GiftPackType.Money then
		setText(slot12, slot2:getConfig(&quot;descrip&quot;))
	else
		setText(slot12, slot5.display)
	end

	slot14 = slot0:findTF(&quot;Text&quot;, slot0:findTF(&quot;TimeLimit&quot;, slot1))

	if slot3 ~= uv0.GiftPackType.Money and slot0:isHaveNextPack(uv0.GiftPackTypeName[slot3]) and not slot0:isBuyEver(slot2.id) then
		setActive(slot13, true)
		slot0:updatePackTimeLimit(slot14, slot3)
	else
		setActive(slot13, false)
	end

	setActive(slot0:findTF(&quot;MoneyTag&quot;, slot1), slot3 == uv0.GiftPackType.Money)

	slot17 = slot0:findTF(&quot;Price/IconMoney&quot;, slot1)
	slot18 = slot0:findTF(&quot;Price/Icon&quot;, slot1)
	slot19 = slot0:findTF(&quot;Price/Icon/Res&quot;, slot1)
	slot20 = slot0:findTF(&quot;Price/Text&quot;, slot1)

	if slot3 == uv0.GiftPackType.Money then
		setActive(slot17, true)
		setActive(slot18, false)
		setText(slot20, slot2:getConfig(&quot;money&quot;))
	else
		setActive(slot17, false)
		setActive(slot18, true)
		setText(slot20, slot2:getConfig(&quot;resource_num&quot;))

		slot22 = nil

		if slot2:getConfig(&quot;resource_type&quot;) == uv0.Special_ID_Gem then
			slot22 = &quot;props/gem&quot;
		elseif slot21 == uv0.Special_ID_Gold then
			slot22 = &quot;props/gold&quot;
		end

		setImageSprite(slot19, LoadSprite(slot22), true)
	end

	slot22 = slot0:isBuyEver(slot2.id)

	setActive(slot0:findTF(&quot;Mask&quot;, slot1), slot22)

	if slot22 then
		slot23 = slot0:findTF(&quot;NextTime&quot;, slot21)
		slot24 = slot0:findTF(&quot;Text&quot;, slot21)
		slot25 = slot0:findTF(&quot;Sellout&quot;, slot21)

		if slot0:isHaveNextPack(uv0.GiftPackTypeName[slot3]) then
			setActive(slot23, true)
			setActive(slot24, true)
			setActive(slot25, false)
			slot0:updatePackNextTime(slot24, slot3)
		else
			setActive(slot23, false)
			setActive(slot24, false)
			setActive(slot25, true)
		end
	end

	onButton(slot0, slot1, function ()
		if not isActive(uv0) then
			uv1:confirm(uv2)
		end
	end, SFX_PANEL)
end

slot0.updatePackTimeLimit = function(slot0, slot1, slot2)
	slot5 = slot0:calcNextGiftPackSecByType(uv0.GiftPackTypeName[slot2], slot0:getCurDay())

	if slot0.packTimerList[slot2] then
		slot6:Stop()

		slot0.packTimerList[slot2] = nil
	end

	slot7 = function()
		if uv0 &gt;= 0 then
			setText(uv1, pg.TimeMgr.GetInstance():DescCDTime(uv0))

			uv0 = uv0 - 1
		else
			uv2:Stop()

			uv3.packTimerList[uv4] = nil
		end
	end

	slot6 = Timer.New(slot7, 1, -1)

	slot6:Start()

	slot0.packTimerList[slot2] = slot6

	slot7()
end

slot0.updatePackNextTime = function(slot0, slot1, slot2)
	slot5 = slot0:calcNextGiftPackSecByType(uv0.GiftPackTypeName[slot2], slot0:getCurDay())

	if slot0.packNextTimerList[slot2] then
		slot6:Stop()

		slot0.packNextTimerList[slot2] = nil
	end

	slot7 = function()
		if uv0 &gt;= 0 then
			setText(uv1, pg.TimeMgr.GetInstance():DescCDTime(uv0))

			uv0 = uv0 - 1
		else
			uv2:Stop()

			uv3.packNextTimerList[uv4] = nil
		end
	end

	slot6 = Timer.New(slot7, 1, -1)

	slot6:Start()

	slot0.packNextTimerList[slot2] = slot6

	slot7()
end

slot0.updatePackList = function(slot0)
	slot0.packItemList:align(#slot0.goodVOList)
end

slot0.isShowRedPot = function()
	if PlayerPrefs.GetInt(&quot;RefluxShop_Enter_Day&quot;, 0) &lt; getProxy(RefluxProxy).signCount then
		return true
	else
		return false
	end
end

slot0.SaveEnterTag = function()
	PlayerPrefs.SetInt(&quot;RefluxShop_Enter_Day&quot;, getProxy(RefluxProxy).signCount)
end

slot0.getCurDay = function(slot0)
	if pg.TimeMgr.GetInstance():DiffDay(slot0.refluxProxy.returnTimestamp, pg.TimeMgr.GetInstance():GetServerTime()) &lt; #pg.return_giftpack_template.all then
		return slot3 + 1
	else
		return slot4
	end
end

slot0.getLevelIndex = function(slot0, slot1)
	slot2 = slot1 or slot0:getCurDay()
	slot4 = slot0.refluxProxy.returnLV
	slot5 = nil

	for slot9, slot10 in ipairs(pg.return_giftpack_template[slot2].level) do
		slot12 = slot10[2]

		if slot10[1] &lt;= slot4 and slot4 &lt;= slot12 then
			return slot9
		end
	end
end

slot0.getCurDayGiftPackIDByType = function(slot0, slot1, slot2)
	if (slot2 or slot0:getCurDay()) &gt; #pg.return_giftpack_template.all then
		return false
	end

	slot4 = pg.return_giftpack_template[slot3][slot1]
	slot5 = slot3

	while slot4 == &quot;&quot; and slot5 &gt; 1 do
		slot4 = pg.return_giftpack_template[slot5 - 1][slot1]
	end

	if slot4 == &quot;&quot; then
		return false
	else
		return slot4[slot0:getLevelIndex(slot5)]
	end
end

slot0.getCurDayGiftPackIDList = function(slot0)
	slot1 = slot0:getCurDay()

	return {
		[uv0.GiftPackType.Money] = slot0:getCurDayGiftPackIDByType(&quot;pack_type_1&quot;, slot1),
		[uv0.GiftPackType.Diamond] = slot0:getCurDayGiftPackIDByType(&quot;pack_type_2&quot;, slot1),
		[uv0.GiftPackType.Gold] = slot0:getCurDayGiftPackIDByType(&quot;pack_type_3&quot;, slot1)
	}
end

slot0.getNextGiftPackDayByType = function(slot0, slot1, slot2)
	if (slot2 or slot0:getCurDay()) &gt;= #pg.return_giftpack_template.all then
		return false
	end

	slot3 = slot3 + 1
	slot4 = pg.return_giftpack_template[slot3][slot1]
	slot5 = slot3

	while slot4 == &quot;&quot; and slot5 &gt; 1 and slot5 &lt;= #pg.return_giftpack_template.all do
		slot4 = pg.return_giftpack_template[slot5][slot1]
		slot5 = slot5 + 1
	end

	if slot4 == &quot;&quot; then
		return false
	else
		return slot5
	end
end

slot0.isHaveNextPack = function(slot0, slot1, slot2)
	return slot0:getNextGiftPackDayByType(slot1, slot2 or slot0:getCurDay()) ~= false
end

slot0.calcNextGiftPackSecByType = function(slot0, slot1, slot2)
	return slot0.refluxProxy.returnTimestamp + (slot0:getNextGiftPackDayByType(slot1, slot2 or slot0:getCurDay()) - 1) * 86400 - pg.TimeMgr.GetInstance():GetServerTime()
end

slot0.isBuyEver = function(slot0, slot1)
	slot2 = getProxy(ShopsProxy)

	return 0 + ChargeConst.getBuyCount(slot2:getChargedList(), slot1) + ChargeConst.getBuyCount(slot2:GetNormalList(), slot1) &gt; 0
end

slot0.confirm = function(slot0, slot1)
	if not slot1 then
		return
	end

	if Clone(slot1):isChargeType() then
		slot4 = (table.contains(slot0.firstChargeIds, slot1.id) or slot1:firstPayDouble()) and 4 or slot1:getConfig(&quot;tag&quot;)

		if slot1:isMonthCard() or slot1:isGiftBox() or slot1:isItemBox() or slot1:isPassItem() then
			slot5 = slot1:GetExtraServiceItem()
			slot6 = slot1:GetExtraDrop()
			slot7 = slot1:GetBonusItem()
			slot8, slot9 = nil

			if slot1:isPassItem() then
				slot8 = i18n(&quot;battlepass_pay_tip&quot;)
			elseif slot1:isMonthCard() then
				slot8 = i18n(&quot;charge_title_getitem_month&quot;)
				slot9 = i18n(&quot;charge_title_getitem_soon&quot;)
			else
				slot8 = i18n(&quot;charge_title_getitem&quot;)
			end

			slot0:emit(RefluxMediator.OPEN_CHARGE_ITEM_PANEL, {
				isChargeType = true,
				infoTip = slot1:GetInfoTip(),
				icon = &quot;chargeicon/&quot; .. slot1:getConfig(&quot;picture&quot;),
				name = slot1:getConfig(&quot;name_display&quot;),
				tipExtra = slot8,
				extraItems = slot5,
				price = slot1:getConfig(&quot;money&quot;),
				isLocalPrice = slot1:IsLocalPrice(),
				tagType = slot4,
				isMonthCard = slot1:isMonthCard(),
				tipBonus = slot9,
				bonusItem = slot7,
				extraDrop = slot6,
				descExtra = slot1:getConfig(&quot;descrip_extra&quot;),
				limitArgs = slot1:getConfig(&quot;limit_args&quot;),
				onYes = function ()
					if ChargeConst.isNeedSetBirth() then
						uv0:emit(RefluxMediator.OPEN_CHARGE_BIRTHDAY)
					else
						pg.m02:sendNotification(GAME.CHARGE_OPERATION, {
							shopId = uv1.id
						})
					end
				end
			})
		elseif slot1:isGem() then
			slot6 = slot1:getConfig(&quot;gem&quot;)

			slot0:emit(RefluxMediator.OPEN_CHARGE_ITEM_BOX, {
				isChargeType = true,
				icon = &quot;chargeicon/&quot; .. slot1:getConfig(&quot;picture&quot;),
				name = slot1:getConfig(&quot;name_display&quot;),
				price = slot1:getConfig(&quot;money&quot;),
				isLocalPrice = slot1:IsLocalPrice(),
				tagType = slot4,
				normalTip = i18n(&quot;charge_start_tip&quot;, slot1:getConfig(&quot;money&quot;), slot3 and slot6 + slot1:getConfig(&quot;gem&quot;) or slot6 + slot1:getConfig(&quot;extra_gem&quot;)),
				onYes = function ()
					if ChargeConst.isNeedSetBirth() then
						uv0:emit(RefluxMediator.OPEN_CHARGE_BIRTHDAY)
					else
						pg.m02:sendNotification(GAME.CHARGE_OPERATION, {
							shopId = uv1.id
						})
					end
				end
			})
		end
	else
		slot2 = {}

		if type(Item.getConfigData(slot1:getConfig(&quot;effect_args&quot;)[1]).display_icon) == &quot;table&quot; then
			for slot9, slot10 in ipairs(slot5) do
				table.insert(slot2, Drop.Create(slot10))
			end
		end

		slot6 = slot1:getConfig(&quot;resource_type&quot;) == uv0.Special_ID_Gold
		slot7 = nil
		slot7 = (not slot6 or i18n(&quot;charge_scene_buy_confirm_gold&quot;, slot1:getConfig(&quot;resource_num&quot;), slot4.name)) and i18n(&quot;charge_scene_buy_confirm&quot;, slot1:getConfig(&quot;resource_num&quot;), slot4.name)

		slot0:emit(RefluxMediator.OPEN_CHARGE_ITEM_PANEL, {
			isChargeType = false,
			isLocalPrice = false,
			isMonthCard = false,
			icon = slot4.icon,
			name = slot4.name,
			tipExtra = i18n(&quot;charge_title_getitem&quot;),
			extraItems = slot2,
			price = slot1:getConfig(&quot;resource_num&quot;),
			tagType = slot1:getConfig(&quot;tag&quot;),
			isForceGold = slot6,
			onYes = function ()
				pg.MsgboxMgr.GetInstance():ShowMsgBox({
					content = uv0,
					onYes = function ()
						pg.m02:sendNotification(GAME.SHOPPING, {
							count = 1,
							id = uv0.id
						})
					end
				})
			end
		})
	end
end

slot0.getAllRefluxPackID = function()
	slot0 = {}

	for slot4, slot5 in ipairs(pg.return_giftpack_template.all) do
		slot6 = pg.return_giftpack_template[slot5]
		slot8 = slot6.pack_type_2
		slot9 = slot6.pack_type_3

		if type(slot6.pack_type_1) == &quot;table&quot; then
			for slot13, slot14 in pairs(slot7) do
				table.insert(slot0, slot14)
			end
		end

		if type(slot8) == &quot;table&quot; then
			for slot13, slot14 in pairs(slot8) do
				table.insert(slot0, slot14)
			end
		end

		if type(slot9) == &quot;table&quot; then
			for slot13, slot14 in pairs(slot9) do
				table.insert(slot0, slot14)
			end
		end
	end

	return slot0
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>