<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>refluxletterview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>refluxletterview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;RefluxLetterView&quot;, import(&quot;..base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;RefluxLetterUI&quot;
end

slot0.OnInit = function(slot0)
	slot0:initData()
	slot0:initUI()
	slot0:updateUI()
end

slot0.OnDestroy = function(slot0)
end

slot0.OnBackPress = function(slot0)
	slot0:Hide()

	if slot0.closeCB then
		slot0.closeCB()
	end
end

slot0.initData = function(slot0)
	slot0.refluxProxy = getProxy(RefluxProxy)
end

slot0.initUI = function(slot0)
	slot1 = slot0:findTF(&quot;billboard&quot;)
	slot0.billboardTF = slot1
	slot0.yearText = slot0:findTF(&quot;year&quot;, slot1)
	slot0.monthText = slot0:findTF(&quot;month&quot;, slot1)
	slot0.dateText = slot0:findTF(&quot;date&quot;, slot1)
	slot0.daysText = slot0:findTF(&quot;days&quot;, slot1)
	slot0.countText = slot0:findTF(&quot;count&quot;, slot1)
	slot0.shareBtn = slot0:findTF(&quot;btn_share&quot;, slot1)

	setActive(slot0.shareBtn, false)
	onButton(slot0, slot0.billboardTF, function ()
		uv0:OnBackPress()
	end, SFX_PANEL)
end

slot0.updateUI = function(slot0)
	slot1 = pg.TimeMgr.GetInstance()
	slot2 = slot0.refluxProxy.returnLastTimestamp
	slot4 = slot1:STimeDescS(slot2, &quot;*t&quot;)

	setText(slot0.yearText, slot4.year % 100)
	setText(slot0.monthText, slot4.month)
	setText(slot0.dateText, slot4.day)
	setText(slot0.daysText, slot1:DiffDay(slot2, slot0.refluxProxy.returnTimestamp))
	setText(slot0.countText, slot0.refluxProxy.returnShipNum)
end

slot0.setCloseFunc = function(slot0, slot1)
	slot0.closeCB = slot1
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>