<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dorm3dlevelmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>dorm3dlevelmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Dorm3dLevelMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.CHANGE_SKIN = &quot;Dorm3dLevelMediator.CHANGE_SKIN&quot;
slot0.CHAMGE_TIME = &quot;Dorm3dLevelMediator.CHAMGE_TIME&quot;
slot0.ON_DROP_CLIENT = &quot;Dorm3dLevelMediator.ON_DROP_CLIENT&quot;
slot0.RENAME = &quot;Dorm3dLevelMediator.RENAME&quot;
slot0.RENAME_RESET = &quot;Dorm3dLevelMediator.RENAME_RESET&quot;
slot0.UPDATE_FAVOR_DISPLAY = &quot;UpdateFavorDisplay&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.CHANGE_SKIN, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.APARTMENT_CHANGE_SKIN, {
			groupId = slot1,
			skinId = slot2
		})
		uv0.viewComponent:closeView()
	end)
	slot0:bind(uv0.CHAMGE_TIME, function (slot0, slot1)
		uv0:sendNotification(Dorm3dRoomMediator.CHAMGE_TIME_RELOAD_SCENE, {
			timeIndex = slot1
		})
		uv0.viewComponent:closeView()
	end)
	slot0:bind(uv0.ON_DROP_CLIENT, function (slot0, slot1)
		pg.NewStyleMsgboxMgr.GetInstance():Show(pg.NewStyleMsgboxMgr.TYPE_DROP_CLIENT, slot1)
	end)
	slot0:bind(uv0.RENAME, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.DORM_SET_CALL, {
			groupId = slot1,
			callName = slot2
		})
	end)
	slot0:bind(uv0.RENAME_RESET, function (slot0, slot1)
		uv0:sendNotification(GAME.DORM_SET_CALL, {
			callName = &quot;&quot;,
			groupId = slot1
		})
	end)
	slot0:bind(uv0.UPDATE_FAVOR_DISPLAY, function (slot0)
		uv0:sendNotification(Dorm3dRoomMediator.UPDATE_FAVOR_DISPLAY)
	end)
	slot0.viewComponent:SetApartment(slot0.contextData.apartment)
end

slot0.initNotificationHandleDic = function(slot0)
	slot0.handleDic = {
		[GAME.DORM_SET_CALL_DONE] = function (slot0, slot1)
			slot0.viewComponent:SetApartment(slot1:getBody().apartment)
			slot0.viewComponent:CloseRenameWindow()
		end
	}
end

slot0.remove = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>