<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dorm3droomunlockwindowmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>dorm3droomunlockwindowmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Dorm3dRoomUnlockWindowMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.ON_UNLOCK_DORM_ROOM = &quot;Dorm3dRoomUnlockWindowMediator.ON_UNLOCK_DORM_ROOM&quot;
slot0.ON_UNLOCK_ROOM_INVITE = &quot;Dorm3dRoomUnlockWindowMediator.ON_UNLOCK_ROOM_INVITE&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_UNLOCK_DORM_ROOM, function (slot0, slot1)
		uv0:sendNotification(GAME.APARTMENT_ROOM_UNLOCK, {
			roomId = slot1
		})
	end)
	slot0:bind(uv0.ON_UNLOCK_ROOM_INVITE, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.APARTMENT_ROOM_INVITE_UNLOCK, {
			roomId = slot1,
			groupId = slot2
		})
	end)
end

slot0.initNotificationHandleDic = function(slot0)
	slot0.handleDic = {
		[GAME.APARTMENT_ROOM_UNLOCK_DONE] = function (slot0, slot1)
			slot2 = slot1:getBody()

			slot0.viewComponent:closeView()
		end,
		[GAME.APARTMENT_ROOM_INVITE_UNLOCK_DONE] = function (slot0, slot1)
			slot2 = slot1:getBody()

			slot0.viewComponent:closeView()
		end
	}
end

slot0.remove = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>