<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dorm3droomunlockwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>dorm3droomunlockwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Dorm3dRoomUnlockWindow&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;Dorm3dRoomUnlockWindow&quot;
end

slot0.init = function(slot0)
	slot0.bubbleContent = slot0._tf:Find(&quot;Window/Bubbles/content&quot;)
	slot0.bubbleTpl = slot0._tf:Find(&quot;Window/Bubbles/tpl&quot;)
	slot0.bubbleList = UIItemList.New(slot0.bubbleContent, slot0.bubbleTpl)
	slot0.scrollSnap = BannerScrollRect4Dorm.New(slot0._tf:Find(&quot;Window/banner/mask/content&quot;), slot0._tf:Find(&quot;Window/banner/dots&quot;))

	setActive(slot0.bubbleTpl, false)
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0._tf:Find(&quot;Window/Confirm&quot;), function ()
		if uv0.contextData.groupId then
			uv0:emit(Dorm3dRoomUnlockWindowMediator.ON_UNLOCK_ROOM_INVITE, uv0.contextData.roomId, uv0.contextData.groupId)
		else
			uv0:emit(Dorm3dRoomUnlockWindowMediator.ON_UNLOCK_DORM_ROOM, uv0.contextData.roomId)
		end
	end, SFX_PANEL)
	onButton(slot0, slot0._tf:Find(&quot;Window/Cancel&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:closeView()
	end)
	setActive(slot0._tf:Find(&quot;Window/Title/unlock&quot;), not slot0.contextData.groupId)
	setActive(slot0._tf:Find(&quot;Window/Title/invite&quot;), slot0.contextData.groupId)

	if slot0.contextData.groupId then
		slot3 = CommonCommodity.New({
			id = Apartment.getGroupConfig(slot0.contextData.groupId, getProxy(ApartmentProxy):getRoom(slot0.contextData.roomId):getConfig(&quot;invite_cost&quot;))
		}, Goods.TYPE_SHOPSTREET)
		slot4, slot5, slot6 = slot3:GetPrice()

		if Drop.New({
			type = DROP_TYPE_RESOURCE,
			id = slot3:GetResType(),
			count = slot4
		}).count == 0 then
			setText(slot0._tf:Find(&quot;Window/Content&quot;), i18n(&quot;dorm3d_invite_confirm_free&quot;, &quot;&lt;icon name=&quot; .. slot3:GetResIcon() .. &quot; w=1.1 h=1.1/&gt;&quot;, slot6, ShipGroup.getDefaultShipNameByGroupID(slot0.contextData.groupId), slot1:getConfig(&quot;room&quot;)))
		elseif slot5 &gt; 0 then
			setText(slot0._tf:Find(&quot;Window/Content&quot;), i18n(&quot;dorm3d_invite_confirm_discount&quot;, &quot;&lt;icon name=&quot; .. slot3:GetResIcon() .. &quot; w=1.1 h=1.1/&gt;&quot;, slot7.count, slot6, ShipGroup.getDefaultShipNameByGroupID(slot0.contextData.groupId), slot1:getConfig(&quot;room&quot;)))
		else
			setText(slot0._tf:Find(&quot;Window/Content&quot;), i18n(&quot;dorm3d_invite_confirm_original&quot;, &quot;&lt;icon name=&quot; .. slot3:GetResIcon() .. &quot; w=1.1 h=1.1/&gt;&quot;, slot7.count, ShipGroup.getDefaultShipNameByGroupID(slot0.contextData.groupId), slot1:getConfig(&quot;room&quot;)))
		end

		setText(slot0._tf:Find(&quot;Window/Download&quot;), &quot;&quot;)
		setActive(slot0._tf:Find(&quot;Window/Preview&quot;), false)

		slot0.bannerConfig = Apartment.getGroupConfig(slot0.contextData.groupId, slot1:getConfig(&quot;invite_banner&quot;))
		slot0.markConfig = Apartment.getGroupConfig(slot0.contextData.groupId, slot1:getConfig(&quot;invite_mark&quot;))

		slot0:InitBanner()
		slot0:InitUIList()
	else
		slot1 = ApartmentRoom.New({
			id = slot0.contextData.roomId
		})

		setText(slot0._tf:Find(&quot;Window/Content&quot;), i18n(&quot;dorm3d_beach_buy&quot;, table.concat(underscore.map(slot1:getConfig(&quot;unlock_item&quot;), function (slot0)
			slot1 = Drop.Create(slot0)

			return string.format(&quot;%s*%d&quot;, slot1:getName(), slot1.count)
		end)), slot1:getConfig(&quot;room&quot;)))

		if slot1:needDownload() then
			slot2, slot3 = slot1:getDownloadNeedSize()

			setText(slot0._tf:Find(&quot;Window/Download&quot;), i18n(&quot;dorm3d_beach_download&quot;, slot3))
		else
			setText(slot0._tf:Find(&quot;Window/Download&quot;), &quot;&quot;)
		end

		GetImageSpriteFromAtlasAsync(&quot;dorm3dbanner/&quot; .. string.lower(slot1:getConfig(&quot;assets_prefix&quot;)), &quot;&quot;, slot0._tf:Find(&quot;Window/Preview/Image&quot;))
	end

	setText(slot0._tf:Find(&quot;Window/Confirm/Text&quot;), i18n(&quot;msgbox_text_confirm&quot;))
	setText(slot0._tf:Find(&quot;Window/Cancel/Text&quot;), i18n(&quot;msgbox_text_cancel&quot;))
	pg.UIMgr.GetInstance():OverlayPanel(slot0._tf, {
		weight = LayerWeightConst.THIRD_LAYER
	})
end

slot0.InitBanner = function(slot0)
	for slot4 = 1, #slot0.bannerConfig do
		LoadImageSpriteAsync(&quot;dorm3dbanner/&quot; .. slot0.bannerConfig[slot4], slot0.scrollSnap:AddChild())
	end

	slot0.scrollSnap:SetUp()
end

slot0.InitUIList = function(slot0)
	slot0.bubbleList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventInit then
			slot4 = uv0.markConfig[slot1 + 1]

			LoadImageSpriteAtlasAsync(&quot;ui/shoptip_atlas&quot;, &quot;icon_&quot; .. slot4, slot2:Find(&quot;icon/icon&quot;), true)
			setText(slot2:Find(&quot;bubble/Text&quot;), i18n(&quot;dorm3d_shop_tag&quot; .. slot4))
			setActive(slot2:Find(&quot;bubble&quot;), false)
			onToggle(uv0, slot2, function (slot0)
				setActive(uv0:Find(&quot;icon/select&quot;), slot0)
				setActive(uv0:Find(&quot;icon/unselect&quot;), not slot0)
				setActive(uv0:Find(&quot;bubble&quot;), slot0)
			end)
		end
	end)
	slot0.bubbleList:align(#slot0.markConfig)
end

slot0.willExit = function(slot0)
	slot0.scrollSnap:Dispose()

	slot0.scrollSnap = nil

	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>