<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>systemtimeutil.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>systemtimeutil.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SystemTimeUtil&quot;)

slot0.Ctor = function(slot0)
end

slot0.SetUp = function(slot0, slot1)
	slot0.callback = slot1

	slot0:Flush()
end

slot0.Flush = function(slot0)
	slot3 = pg.TimeMgr.GetInstance():GetServerHour() &lt; 12 and &quot;AM&quot; or &quot;PM&quot;
	slot4 = pg.TimeMgr.GetInstance():CurrentSTimeDesc(&quot;%M&quot;, true)

	if slot0.callback then
		slot0.callback(slot1, slot4, slot3)
	end

	slot0:AddTimer(slot0:GetSecondsToNextMinute(pg.TimeMgr.GetInstance():GetServerTime()))
end

slot0.GetSecondsToNextMinute = function(slot0, slot1)
	if math.ceil(slot1 / 60) * 60 - slot1 &lt;= 0 then
		return 60
	end

	return slot3
end

slot0.AddTimer = function(slot0, slot1)
	slot0:RemoveTimer()

	slot0.timer = Timer.New(function ()
		uv0:Flush()
	end, slot1, 1)

	slot0.timer:Start()
end

slot0.RemoveTimer = function(slot0)
	if slot0.timer then
		slot0.timer:Stop()

		slot0.timer = nil
	end
end

slot0.Dispose = function(slot0)
	slot0:RemoveTimer()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>