<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chargegoodscard.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>chargegoodscard.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ChargeGoodsCard&quot;, import(&quot;...shops.cards.GoodsCard&quot;))

slot0.update = function(slot0, slot1)
	slot0.goodsVO = slot1

	setActive(slot0.mask, not slot0.goodsVO:canPurchase())
	setActive(slot0.stars, false)

	slot3 = slot1:getDropInfo()

	updateDrop(slot0.itemTF, slot3)
	setScrollText(slot0.nameTxt, slot3:getConfig(&quot;name&quot;) or &quot;&quot;)
	setActive(slot0.discountTF, slot1:isDisCount())
	setText(slot0.discountTextTF, slot1:getConfig(&quot;discount&quot;) .. &quot;%OFF&quot;)
	setText(slot0.countTF, math.ceil(slot1:GetPrice()))
	GetImageSpriteFromAtlasAsync(Drop.New({
		type = DROP_TYPE_RESOURCE,
		id = slot1:getConfig(&quot;resource_type&quot;)
	}):getIcon(), &quot;&quot;, tf(slot0.resIconTF), false)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>