<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chargeitemboxlayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>chargeitemboxlayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ChargeItemBoxLayer&quot;, import(&quot;...base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;ChargeItemBoxUI&quot;
end

slot0.init = function(slot0)
	slot0:initData()
	slot0:findUI()
	slot0:addListener()
	slot0:initUIText()
end

slot0.didEnter = function(slot0)
	slot0:updatePanel()
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

slot0.initData = function(slot0)
	slot0.panelConfig = slot0.contextData.panelConfig
end

slot0.initUIText = function(slot0)
	setText(slot0:findTF(&quot;window/button_container/button_cancel/Image&quot;), i18n(&quot;text_cancel&quot;))
	setText(slot0:findTF(&quot;window/button_container/button_ok/Image&quot;), i18n(&quot;text_buy&quot;))
end

slot0.findUI = function(slot0)
	slot0.bg = slot0:findTF(&quot;back_sign&quot;)
	slot0.detailWindow = slot0:findTF(&quot;window&quot;)
	slot0.cancelBtn = slot0:findTF(&quot;button_container/button_cancel&quot;, slot0.detailWindow)
	slot0.confirmBtn = slot0:findTF(&quot;button_container/button_ok&quot;, slot0.detailWindow)
	slot0.detailName = slot0:findTF(&quot;goods/name&quot;, slot0.detailWindow)
	slot0.detailIcon = slot0:findTF(&quot;goods/icon&quot;, slot0.detailWindow)
	slot0.detailRmb = slot0:findTF(&quot;prince_bg/contain/icon_rmb&quot;, slot0.detailWindow)
	slot0.detailGem = slot0:findTF(&quot;prince_bg/contain/icon_gem&quot;, slot0.detailWindow)
	slot0.detailPrice = slot0:findTF(&quot;prince_bg/contain/Text&quot;, slot0.detailWindow)
	slot0.detailTag = slot0:findTF(&quot;goods/tag&quot;, slot0.detailWindow)
	slot0.detailTags = {}

	table.insert(slot0.detailTags, slot0:findTF(&quot;hot&quot;, slot0.detailTag))
	table.insert(slot0.detailTags, slot0:findTF(&quot;new&quot;, slot0.detailTag))
	table.insert(slot0.detailTags, slot0:findTF(&quot;advice&quot;, slot0.detailTag))
	table.insert(slot0.detailTags, slot0:findTF(&quot;double&quot;, slot0.detailTag))
	table.insert(slot0.detailTags, slot0:findTF(&quot;discount&quot;, slot0.detailTag))

	slot0.detailTagAdviceTF = slot0.detailTags[3]
	slot0.detailTagDoubleTF = slot0.detailTags[4]
	slot0.detailNormalTip = slot0:findTF(&quot;NormalTips&quot;, slot0.detailWindow)
end

slot0.addListener = function(slot0)
	onButton(slot0, slot0.bg, function ()
		uv0:closeView()
	end, SFX_PANEL)
	onButton(slot0, slot0.cancelBtn, function ()
		uv0:closeView()
	end, SFX_PANEL)
	onButton(slot0, slot0.confirmBtn, function ()
		if uv0.panelConfig.onYes then
			uv0.panelConfig.onYes()
			uv0:closeView()
		end
	end, SFX_PANEL)
end

slot0.updatePanel = function(slot0)
	slot1 = slot0.panelConfig.icon
	slot2 = slot0.panelConfig.name and slot0.panelConfig.name or &quot;&quot;
	slot3 = slot0.panelConfig.tipBonus or &quot;&quot;
	slot4 = slot0.panelConfig.bonusItem
	slot5 = slot0.panelConfig.tipExtra and slot0.panelConfig.tipExtra or &quot;&quot;
	slot6 = slot0.panelConfig.extraItems and slot0.panelConfig.extraItems or {}
	slot7 = slot0.panelConfig.price and slot0.panelConfig.price or 0
	slot8 = slot0.panelConfig.isChargeType
	slot9 = slot0.panelConfig.isLocalPrice
	slot10 = slot0.panelConfig.isMonthCard
	slot11 = slot0.panelConfig.tagType
	slot12 = slot0.panelConfig.normalTip
	slot13 = slot0.panelConfig.extraDrop

	if slot0.detailNormalTip then
		setActive(slot0.detailNormalTip, slot12)
	end

	if slot12 then
		if slot0.detailNormalTip:GetComponent(&quot;Text&quot;) then
			setText(slot0.detailNormalTip, slot12)
		else
			setButtonText(slot0.detailNormalTip, slot12)
		end
	end

	setActive(slot0.detailTag, slot11 &gt; 0)

	if slot11 &gt; 0 then
		for slot17, slot18 in ipairs(slot0.detailTags) do
			setActive(slot18, slot17 == slot11)
		end
	end

	GetImageSpriteFromAtlasAsync(slot1, &quot;&quot;, slot0.detailIcon, false)
	setText(slot0.detailName, slot2)

	if PLATFORM_CODE == PLATFORM_CHT then
		setActive(slot0.detailRmb, slot8 and not slot9)
	else
		setActive(slot0.detailRmb, slot8)
	end

	setActive(slot0.detailGem, not slot8)
	setText(slot0.detailPrice, slot7)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>