<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlesimulationbuffcountview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlesimulationbuffcountview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = slot0.Battle.BattleEvent
slot2 = slot0.Battle.BattleConfig
slot3 = class(&quot;BattleSimulationBuffCountView&quot;)
slot0.Battle.BattleSimulationBuffCountView = slot3
slot3.__name = &quot;BattleSimulationBuffCountView&quot;

slot3.Ctor = function(slot0, slot1)
	uv0.EventListener.AttachEventListener(slot0)

	slot0._go = slot1
	slot0._tf = slot1.transform
	slot0._timer = slot0._tf:Find(&quot;buff_count/Text&quot;)
	slot0._text = slot0._timer:GetComponent(typeof(Text))
end

slot3.SetActive = function(slot0, slot1)
	setActive(slot0._go, slot1)
end

slot3.SetCountDownText = function(slot0, slot1)
	slot0._text.text = i18n(&quot;simulation_advantage_counting&quot;, math.floor(slot1))
end

slot3.SetEnhancedText = function(slot0)
	slot0._text.text = i18n(&quot;simulation_enhanced&quot;)
end

slot3.Dispose = function(slot0)
	slot0._rateBarList = nil
	slot0._progressList = nil
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>