<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardpuzzlecommonhpbar.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>cardpuzzlecommonhpbar.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = slot0.Battle.BattleConfig
slot0.Battle.CardPuzzleCommonHPBar = class(&quot;CardPuzzleCommonHPBar&quot;)
slot2 = slot0.Battle.CardPuzzleCommonHPBar
slot2.__name = &quot;CardPuzzleCommonHPBar&quot;

slot2.Ctor = function(slot0, slot1)
	slot0._go = slot1
	slot0._tf = slot0._go.transform
	slot0._hpTF = slot0._tf:Find(&quot;fleetBlood/blood&quot;)
	slot0._hpProgress = slot0._hpTF:GetComponent(typeof(Image))
end

slot2.SetCardPuzzleComponent = function(slot0, slot1)
	slot0._info = slot1
end

slot2.Update = function(slot0)
	slot0:updateHPBar()
end

slot2.updateHPBar = function(slot0)
	slot0._hpProgress.fillAmount = slot0._info:GetCurrentCommonHP() / slot0._info:GetTotalCommonHP()
end

slot2.Dispose = function(slot0)
	slot0._hpProgress = nil
	slot0._hpTF = nil
	slot0._tf = nil
	slot0._go = nil
end

slot2.updateResource = function(slot0)
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>