<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cardpuzzlecarddetail.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>cardpuzzlecarddetail.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = slot0.Battle.BattleConfig
slot2 = slot0.Battle.BattleDataFunction
slot0.Battle.CardPuzzleCardDetail = class(&quot;CardPuzzleCardDetail&quot;)
slot3 = slot0.Battle.CardPuzzleCardDetail
slot3.__name = &quot;CardPuzzleCardDetail&quot;

slot3.Ctor = function(slot0, slot1)
	slot0._go = slot1
	slot0._tf = slot0._go.transform
	slot0._desc = slot0._tf:Find(&quot;Desc&quot;)
	slot0._affixList = slot0._tf:Find(&quot;affixList&quot;)
	slot0._affixContainer = slot0._affixList:Find(&quot;container&quot;)
	slot0._affixTpl = slot0._tf:Find(&quot;tpl&quot;)
	slot0._affixViewList = {}
	slot0._bound = 960 - rtf(slot0._tf).rect.width * 0.5
end

slot3.Dispose = function(slot0)
	slot0._affixList = nil
	slot0._affixContainer = nil
	slot0._affixTpl = nil
	slot0._desc = nil
	slot0._tf = nil
	slot0._go = nil
end

slot3.Active = function(slot0, slot1)
	setActive(slot0._go, slot1)
end

slot3.SetReferenceCard = function(slot0, slot1)
	slot3 = uv0.GetPuzzleCardDataTemplate(slot1:GetCardInfo():GetCardID())

	setText(slot0._desc, slot3.discript)

	slot4 = #slot3.label
	slot5 = 0

	while slot4 &gt; slot5 do
		if slot0._affixViewList[slot5 + 1] == nil then
			table.insert(slot0._affixViewList, uv1.Battle.CardPuzzleCardDetailAffix.New(cloneTplTo(slot0._affixTpl, slot0._affixContainer)))
		end

		slot6:SetAffixID(slot3.label[slot5])
	end

	for slot9, slot10 in ipairs(slot0._affixViewList) do
		slot10:SetActive(slot9 &lt;= slot5)
	end

	slot0._pos = slot0._pos or Vector3.New(0, 0, 0)

	if slot0._bound &lt; slot1:GetUIPos().x then
		slot0._pos.x = slot0._bound
	else
		slot0._pos.x = slot6.x
	end

	slot0._pos.y = slot6.y + 130
	slot0._tf.anchoredPosition = slot0._pos
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>