<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newbackyardshipinfolayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newbackyardshipinfolayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewBackYardShipInfoLayer&quot;, import(&quot;...base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;NewBackYardShipInfoUI&quot;
end

slot0.init = function(slot0)
	slot0.descTxt = slot0:findTF(&quot;frame/desc&quot;):GetComponent(typeof(Text))
	slot1 = slot0:findTF(&quot;frame/top/value/Text&quot;)
	slot0.counterTxt = slot1:GetComponent(typeof(Text))
	slot0.cardContainer = slot0:findTF(&quot;frame/panel&quot;)
	slot0.closeBtn = slot0:findTF(&quot;frame/top/close&quot;)
	slot0.mainPanel = slot0:findTF(&quot;frame&quot;)
	slot0.toggles = {
		[Ship.STATE_REST] = slot0:findTF(&quot;frame/top/rest&quot;),
		[Ship.STATE_TRAIN] = slot0:findTF(&quot;frame/top/train&quot;)
	}
	slot0.animations = {
		[Ship.STATE_REST] = slot0:findTF(&quot;frame/top/rest&quot;):GetComponent(typeof(Animation)),
		[Ship.STATE_TRAIN] = slot0:findTF(&quot;frame/top/train&quot;):GetComponent(typeof(Animation))
	}
	slot0.animationName = {
		[Ship.STATE_REST] = {
			&quot;anim_backyard_shipinfo_rest_Select&quot;,
			&quot;anim_backyard_shipinfo_rest_unSelect&quot;
		},
		[Ship.STATE_TRAIN] = {
			&quot;anim_backyard_shipinfo_train_Select&quot;,
			&quot;anim_backyard_shipinfo_train_unSelect&quot;
		}
	}
	slot0.addShipTpl = slot0.cardContainer:Find(&quot;AddShipTpl&quot;)
	slot0.extendShipTpl = slot0.cardContainer:Find(&quot;ExtendShipTpl&quot;)
	slot1 = slot0.cardContainer
	slot0.shipCardTpl = slot1:Find(&quot;ShipCardTpl&quot;)
	slot0.cards = {
		{},
		{},
		{}
	}

	table.insert(slot0.cards[1], BackYardShipCard.New(slot0.shipCardTpl, slot0.event))
	table.insert(slot0.cards[2], BackYardEmptyCard.New(slot0.addShipTpl, slot0.event))
	table.insert(slot0.cards[3], BackYardExtendCard.New(slot0.extendShipTpl, slot0.event))
	setText(slot0:findTF(&quot;frame/desc1&quot;), i18n(&quot;backyard_longpress_ship_tip&quot;))
	setText(slot0:findTF(&quot;frame/top/rest/Text&quot;), i18n(&quot;courtyard_label_rest&quot;))
	setText(slot0:findTF(&quot;frame/top/train/Text&quot;), i18n(&quot;courtyard_label_train&quot;))
	setText(slot0:findTF(&quot;frame/top/rest/Text_un&quot;), i18n(&quot;courtyard_label_rest&quot;))
	setText(slot0:findTF(&quot;frame/top/train/Text_un&quot;), i18n(&quot;courtyard_label_train&quot;))
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SFX_PANEL)
	onButton(slot0, slot0.closeBtn, function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SFX_PANEL)

	slot1 = Color.New(0.2235294, 0.227451, 0.2352941, 1)
	slot6 = 1
	slot2 = Color.New(0.5137255, 0.5137255, 0.5137255, slot6)

	for slot6, slot7 in pairs(slot0.toggles) do
		onToggle(slot0, slot7, function (slot0)
			if slot0 then
				uv0:SwitchToPage(uv1)
			end

			uv2:Find(&quot;icon&quot;):GetComponent(typeof(Image)).color = slot0 and uv3 or uv4
			slot2 = uv0.animationName[uv1]
			slot3 = slot0 and 1 or 2

			uv0.animations[uv1]:Play(slot2[slot3])
			print(slot2[slot3])
		end, SFX_PANEL)
	end

	slot3 = getProxy(DormProxy)
	slot3 = slot3:getRawData()

	setActive(slot0.toggles[2], slot3:isUnlockFloor(2))
	onNextTick(function ()
		if uv0.exited then
			return
		end

		slot0 = uv0.contextData.type or Ship.STATE_TRAIN

		for slot5, slot6 in ipairs({
			Ship.STATE_TRAIN,
			Ship.STATE_REST
		}) do
			triggerToggle(uv0.toggles[slot6], slot6 == slot0)
		end
	end)
end

slot0.GetCardTypeCnt = function(slot0, slot1)
	slot2 = getProxy(DormProxy):getRawData()
	slot3 = 0
	slot4 = 0
	slot5 = 0

	if slot1 == Ship.STATE_TRAIN then
		slot3 = slot2.exp_pos
		slot4 = slot2:getConfig(&quot;training_ship_number&quot;)
	elseif slot1 == Ship.STATE_REST then
		slot3 = slot2.rest_pos
		slot4 = slot2:getConfig(&quot;fix_ship_number&quot;)
	end

	slot6 = slot2:GetStateShipCnt(slot1)

	return {
		slot6,
		slot3 - slot6,
		slot4 - slot3
	}
end

slot0.SwitchToPage = function(slot0, slot1)
	if slot0.type == slot1 then
		return
	end

	slot0.type = slot1

	slot0:UpdateSlots()

	if slot1 == Ship.STATE_TRAIN then
		slot0.descTxt.text = i18n(&quot;backyard_traning_tip&quot;)
	elseif slot1 == Ship.STATE_REST then
		slot0.descTxt.text = i18n(&quot;backyard_rest_tip&quot;)
	end
end

slot0.UpdateSlots = function(slot0)
	slot1 = slot0.type
	slot4 = getProxy(DormProxy):getRawData():GetStateShips(slot1)
	slot5 = 0
	slot6 = {}

	for slot10, slot11 in ipairs(slot0:GetCardTypeCnt(slot1)) do
		for slot16, slot17 in ipairs(slot0:GetTypeCards(slot10, slot11)) do
			slot17:Flush(slot1, slot4[slot16])
			slot17:SetSiblingIndex(slot5 + 1)
		end
	end

	slot0.counterTxt.text = slot2[1] .. &quot;/&quot; .. slot2[2] + slot2[1]
end

slot0.GetTypeCards = function(slot0, slot1, slot2)
	for slot7 = #slot0.cards[slot1], slot2 - 1 do
		table.insert(slot3, slot3[1]:Clone())
	end

	for slot7 = #slot3, slot2 + 1, -1 do
		slot3[slot7]:Disable()
	end

	slot4 = {}

	for slot8 = 1, slot2 do
		slot9 = slot3[slot8]

		slot9:Enable()

		slot4[slot8] = slot9
	end

	return slot4
end

slot0.willExit = function(slot0)
	for slot4, slot5 in ipairs(slot0.cards) do
		for slot9, slot10 in ipairs(slot5) do
			slot10:Dispose()
		end
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>