<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newbackyardshipinfomediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newbackyardshipinfomediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewBackYardShipInfoMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.EXTEND = &quot;NewBackYardShipInfoMediator:EXTEND&quot;
slot0.OPEN_CHUANWU = &quot;NewBackYardShipInfoMediator:OPEN_CHUANWU&quot;
slot0.UPDATE_SHIPS = &quot;NewBackYardShipInfoMediator:UPDATE_SHIPS&quot;
slot0.LOOG_PRESS_SHIP = &quot;NewBackYardShipInfoMediator:LOOG_PRESS_SHIP&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.EXTEND, function (slot0, slot1)
		uv0:sendNotification(GAME.SHOPPING, {
			count = 1,
			id = slot1
		})
	end)
	slot0:bind(uv0.LOOG_PRESS_SHIP, function (slot0, slot1, slot2)
		uv0.contextData.type = slot1

		pg.m02:sendNotification(GAME.GO_SCENE, SCENE.SHIPINFO, {
			shipId = slot2.id
		})
	end)
	slot0:bind(uv0.OPEN_CHUANWU, function (slot0, slot1, slot2)
		uv0.contextData.type = slot1

		uv0:OnSelShips(slot1, slot2)
	end)
end

slot0.OnSelShips = function(slot0, slot1, slot2)
	slot3 = getProxy(DormProxy):getRawData()
	slot4, slot5, slot6 = slot0:GetSelectedShips(slot3, slot1, slot2)
	slot7 = {
		callbackQuit = true,
		selectedMax = slot0:GetMaxSel(slot3, slot1),
		quitTeam = slot2 ~= nil,
		ignoredIds = pg.ShipFlagMgr.GetInstance():FilterShips({
			isActivityNpc = true
		}),
		selectedIds = slot6,
		preView = slot0.viewComponent.__cname,
		hideTagFlags = ShipStatus.TAG_HIDE_BACKYARD,
		blockTagFlags = ShipStatus.TAG_BLOCK_BACKYARD,
		onShip = function (slot0, slot1, slot2)
			return uv0:OnShip(uv1, slot0, slot1, slot2)
		end,
		onSelected = function (slot0, slot1)
			uv0:OnSelected(uv1, uv2, slot0, function ()
				uv0:sendNotification(uv1.UPDATE_SHIPS)
				uv2()
			end)
		end,
		priorEquipUpShipIDList = {}
	}

	for slot11, slot12 in pairs(slot4) do
		table.insert(slot7.priorEquipUpShipIDList, slot12)
	end

	for slot11, slot12 in pairs(slot5) do
		table.insert(slot7.priorEquipUpShipIDList, slot12)
	end

	slot7.leftTopWithFrameInfo = i18n(&quot;backyard_longpress_ship_tip&quot;)
	slot7.isLayer = true
	slot7.energyDisplay = true

	slot0:addSubLayers(Context.New({
		viewComponent = DockyardScene,
		mediator = DockyardMediator,
		data = slot7
	}))
end

slot0.GetMaxSel = function(slot0, slot1, slot2)
	slot3 = 0

	if slot2 == Ship.STATE_TRAIN then
		slot3 = slot1.exp_pos
	elseif slot2 == Ship.STATE_REST then
		slot3 = slot1.rest_pos
	end

	return slot3
end

slot0.GetSelectedShips = function(slot0, slot1, slot2, slot3)
	slot4 = slot3 and slot3.id or -1
	slot5 = {}
	slot6 = {}
	slot7 = {}

	for slot11, slot12 in ipairs(slot1.shipIds) do
		if getProxy(BayProxy):RawGetShipById(slot12).state == slot2 then
			table.insert(slot5, slot13.id)

			if slot13.id ~= slot4 then
				table.insert(slot7, slot13.id)
			end
		else
			table.insert(slot6, slot13.id)
		end
	end

	return slot5, slot6, slot7
end

slot0.OnShip = function(slot0, slot1, slot2, slot3, slot4)
	if slot0.contextData.MaxRsetPos &lt; #slot4 then
		return false, i18n(&quot;backyard_no_pos_for_ship&quot;)
	end

	if table.contains(slot1, slot2.id) then
		return false, i18n(&quot;backyard_backyardShipInfoMediator_shipState_rest&quot;)
	end

	slot5, slot6 = ShipStatus.ShipStatusCheck(&quot;inBackyard&quot;, slot2, function (slot0)
		uv0()
	end)

	return slot5, slot6
end

slot0.OnSelected = function(slot0, slot1, slot2, slot3, slot4)
	slot5 = getProxy(DormProxy):getRawData():GetStateShipsById(slot1)

	pg.UIMgr.GetInstance():LoadingOn()

	if slot3 == nil or #slot3 == 0 then
		if slot2 then
			slot0:sendNotification(GAME.EXIT_SHIP, {
				shipId = slot2.id,
				callback = slot4
			})
		else
			slot4()
		end

		pg.UIMgr.GetInstance():LoadingOff()

		return
	end

	slot6 = {}

	for slot10, slot11 in pairs(slot5) do
		if not table.contains(slot3, slot10) then
			table.insert(slot6, function (slot0)
				uv0:sendNotification(GAME.EXIT_SHIP, {
					shipId = uv1,
					callback = slot0
				})
			end)
		end
	end

	slot0.contextData.shipIdToAdd = {}

	for slot10, slot11 in ipairs(slot3) do
		if not slot5[slot11] then
			table.insert(slot0.contextData.shipIdToAdd, {
				slot11,
				slot1 == Ship.STATE_TRAIN and 1 or 2
			})
		end
	end

	if slot0.contextData.shipIdToAdd and #slot0.contextData.shipIdToAdd &gt; 0 then
		for slot10, slot11 in ipairs(slot0.contextData.shipIdToAdd) do
			table.insert(slot6, function (slot0)
				uv0:sendNotification(GAME.ADD_SHIP, {
					id = uv1[1],
					type = uv1[2],
					callBack = slot0
				})
			end)
		end
	end

	if #slot6 &gt; 0 then
		seriesAsync(slot6, function ()
			uv0.contextData.shipIdToAdd = nil

			pg.UIMgr.GetInstance():LoadingOff()
			uv1()
		end)
	else
		pg.UIMgr.GetInstance():LoadingOff()
		slot4()
	end
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.EXTEND_BACKYARD_DONE,
		uv0.UPDATE_SHIPS
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.EXTEND_BACKYARD_DONE then
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;backyard_backyardShipInfoMediator_ok_unlock&quot;))
		slot0.viewComponent:UpdateSlots()
	elseif slot2 == uv0.UPDATE_SHIPS then
		slot0.viewComponent:UpdateSlots()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>