<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>randomdockyardcard.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>randomdockyardcard.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;RandomDockYardCard&quot;)

slot0.Ctor = function(slot0, slot1)
	slot0._go = slot1
	slot0._tf = slot1.transform
	slot0.npcTr = findTF(slot0._tf, &quot;content/dockyard/npc&quot;)
	slot0.nameTF = findTF(slot0._tf, &quot;content/info/name_mask/name&quot;)
	slot0.lockTr = findTF(slot0._tf, &quot;content/dockyard/container/lock&quot;)
	slot0.selected = findTF(slot0._tf, &quot;content/front/selected&quot;)
	slot0.existAnim = false

	ClearTweenItemAlphaAndWhite(slot0._go)
end

slot0.Update = function(slot0, slot1, slot2)
	TweenItemAlphaAndWhite(slot0._go)

	if not slot0.ship or slot0.ship.id ~= slot1.id then
		slot0.ship = slot1

		slot0:Flush()
	end

	slot0:UpdateSelected(slot2)
end

slot0.UpdateSelected = function(slot0, slot1)
	setActive(slot0.selected, slot1)

	if not slot1 then
		slot0.existAnim = false

		LeanTween.cancel(slot0.selected.gameObject)
	elseif not slot0.existAnim then
		slot0.existAnim = true

		blinkAni(slot0.selected, 0.6, -1, 0.3):setFrom(1)
	end
end

slot0.Flush = function(slot0)
	slot1 = slot0.ship

	flushShipCard(slot0._tf, slot1)
	setActive(slot0.npcTr, slot1:isActivityNpc())
	setText(slot0.nameTF, slot1:GetColorName(shortenString(slot1:getName(), PLATFORM_CODE == PLATFORM_US and 6 or 7)))
	slot0.lockTr.gameObject:SetActive(slot1:GetLockState() == Ship.LOCK_STATE_LOCK)
end

slot0.Dispose = function(slot0)
	ClearTweenItemAlphaAndWhite(slot0._go)
	slot0:UpdateSelected(false)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>