<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linerlogbookmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>linerlogbookmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;LinerLogBookMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.GET_SCHEDULE_AWARD = &quot;LinerLogBookMediator.GET_SCHEDULE_AWARD&quot;
slot0.GET_ROOM_AWARD = &quot;LinerLogBookMediator.GET_ROOM_AWARD&quot;
slot0.ON_START_REASONING = &quot;LinerLogBookMediator.ON_START_REASONING&quot;
slot0.GET_EVENT_AWARD = &quot;LinerLogBookMediator.GET_EVENT_AWARD&quot;
slot0.ON_CLOSE = &quot;LinerLogBookMediator.ON_CLOSE&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.GET_SCHEDULE_AWARD, function (slot0, slot1, slot2, slot3)
		uv0:sendNotification(GAME.ACTIVITY_LINER_OP, {
			cmd = 2,
			activity_id = slot1,
			arg1 = slot2,
			drop = slot3
		})
	end)
	slot0:bind(uv0.GET_ROOM_AWARD, function (slot0, slot1, slot2, slot3)
		uv0:sendNotification(GAME.ACTIVITY_LINER_OP, {
			cmd = 3,
			activity_id = slot1,
			arg1 = slot2,
			drop = slot3
		})
	end)
	slot0:bind(uv0.ON_START_REASONING, function (slot0, slot1, slot2)
		uv0.viewComponent:OnStartReasoning(slot1, slot2)
	end)
	slot0:bind(uv0.GET_EVENT_AWARD, function (slot0, slot1, slot2, slot3, slot4)
		uv0:sendNotification(GAME.ACTIVITY_LINER_OP, {
			cmd = 4,
			activity_id = slot1,
			arg1 = slot2,
			arg2 = slot3,
			drop = slot4
		})
	end)
	slot0:bind(uv0.ON_CLOSE, function ()
		uv0.viewComponent:onBackPressed()
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.ACTIVITY_LINER_OP_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.ACTIVITY_LINER_OP_DONE then
		slot0.viewComponent:emit(BaseUI.ON_ACHIEVE, slot3.awards)
		slot0.viewComponent:UpdateView()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>