<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activestarlighthomepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>activestarlighthomepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ActiveStarlightHomepage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;bg&quot;)
	slot0.Build = slot0:findTF(&quot;bg/Build&quot;):GetComponent(&quot;Button&quot;)
	slot0.Level = slot0:findTF(&quot;bg/Level&quot;):GetComponent(&quot;Button&quot;)
	slot0.Shop = slot0:findTF(&quot;bg/Shop&quot;):GetComponent(&quot;Button&quot;)
	slot0.Manual = slot0:findTF(&quot;bg/Manual&quot;):GetComponent(&quot;Button&quot;)
	slot0.image = slot0:findTF(&quot;bg/Manual/image&quot;)
end

slot0.OnDataSetting = function(slot0)
	slot1 = slot0.activity:getConfig(&quot;time&quot;)
end

slot0.OnFirstFlush = function(slot0)
	onButton(slot0, slot0.Build, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.GETBOAT, {
			page = BuildShipScene.PAGE_NEWSERVER
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.Level, function ()
		uv0:emit(ActivityMediator.SPECIAL_BATTLE_OPERA)
	end, SFX_PANEL)
	onButton(slot0, slot0.Shop, function ()
		uv0:emit(ActivityMediator.GO_CHANGE_SHOP)
	end, SFX_PANEL)
	onButton(slot0, slot0.Manual, function ()
		uv0:emit(ActivityMediator.ON_ADD_SUBLAYER, Context.New({
			mediator = MedalAlbumTemplateMediator,
			viewComponent = StarLightMedalAlbumView
		}))
	end, SFX_PANEL)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>