<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anniversarysevenloginjppage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>anniversarysevenloginjppage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AnniversarySevenLoginJPPage&quot;, import(&quot;.TemplatePage.LoginTemplatePage&quot;))

slot0.OnFirstFlush = function(slot0)
	setActive(slot0.item, false)

	slot1 = slot0.itemList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot4 = uv0.config.front_drops[slot1 + 1]

			updateDrop(uv0:findTF(&quot;item&quot;, slot2), {
				type = slot4[1],
				id = slot4[2],
				count = slot4[3]
			})
			onButton(uv0, slot2, function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
			setActive(uv0:findTF(&quot;got&quot;, slot2), slot1 &lt; uv0.nday)
		end
	end)

	slot2 = slot0.bg

	setActive(slot2:Find(&quot;btn_more&quot;), false)

	slot3 = slot0.bg

	onButton(slot0, slot3:Find(&quot;btn_more&quot;), function ()
		Application.OpenURL(uv0.activity:getConfig(&quot;config_client&quot;)[1])
	end, SFX_CONFIRM)
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	setText(slot0.bg:Find(&quot;Text&quot;), slot0.nday .. &quot;/&quot; .. slot0.Day)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>