<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anniversarysixinvitationpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>anniversarysixinvitationpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AnniversarySixInvitationPage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnDataSetting = function(slot0)
	if slot0.ptData then
		slot0.ptData:Update(slot0.activity)
	else
		slot0.ptData = ActivityPtData.New(slot0.activity)
	end
end

slot0.OnFirstFlush = function(slot0)
	slot1 = slot0._tf
	slot0.rtMarks = slot1:Find(&quot;AD/progress&quot;)
	slot1 = slot0._tf
	slot0.rtFinish = slot1:Find(&quot;AD/award&quot;)
	slot1 = slot0._tf
	slot1 = slot1:Find(&quot;AD/btn_list&quot;)

	onButton(slot0, slot1:Find(&quot;go&quot;), function ()
		slot1 = getProxy(ActivityProxy)

		if not underscore.detect(slot1:getActivitiesByType(ActivityConst.ACTIVITY_TYPE_SHOP), function (slot0)
			return slot0:getConfig(&quot;config_id&quot;) == 3
		end) or slot0:isEnd() then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;challenge_end_tip&quot;))

			return
		end

		if getProxy(ActivityProxy):getActivityByType(ActivityConst.ACTIVITY_TYPE_ISLAND) and not slot1:isEnd() then
			uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.ANNIVERSARY_ISLAND_SEA, {
				wraps = SixthAnniversaryIslandScene.SHOP
			})
		else
			uv0:emit(ActivityMediator.OPEN_LAYER, Context.New({
				mediator = SixthAnniversaryIslandShopMediator,
				viewComponent = SixthAnniversaryIslandShopLayer
			}))
		end
	end, SFX_PANEL)
	onButton(slot0, slot1:Find(&quot;get&quot;), function ()
		slot0, slot1 = uv0.ptData:GetResProgress()

		uv0:emit(ActivityMediator.EVENT_PT_OPERATION, {
			cmd = 1,
			activity_id = uv0.ptData:GetId(),
			arg1 = slot1
		})
	end, SFX_PANEL)
end

slot0.OnUpdateFlush = function(slot0)
	slot1, slot2 = slot0.ptData:GetResProgress()
	slot3 = slot0.ptData:CanGetAward()
	slot5 = slot0._tf:Find(&quot;AD/btn_list&quot;)

	setActive(slot5:Find(&quot;get&quot;), slot3)
	setActive(slot5:Find(&quot;got&quot;), not slot0.ptData:CanGetNextAward())
	setActive(slot5:Find(&quot;go&quot;), not slot3 and slot4)

	slot1 = (not slot4 or math.min(slot1, slot2)) and slot2 + 1

	for slot10 = 1, slot0.rtMarks.childCount do
		setActive(slot0.rtMarks:GetChild(slot10 - 1):Find(&quot;mark&quot;), slot10 &lt; slot1)
		setActive(slot11:Find(&quot;icon&quot;), slot10 == slot1)
	end

	setGray(slot0.rtFinish:Find(&quot;Image&quot;), not slot4)
	setActive(slot0.rtFinish:Find(&quot;got&quot;), not slot4)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>