<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blackfridaygiftpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>blackfridaygiftpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BlackFridayGiftPage&quot;, import(&quot;...base.BaseActivityPage&quot;))
slot0.DAY_COLOR = {
	&quot;110C08&quot;,
	&quot;C8A471&quot;
}

slot0.OnInit = function(slot0)
	slot1 = slot0._tf
	slot0.rtGift = slot1:Find(&quot;AD/gift&quot;)
	slot1 = slot0._tf
	slot0.rtFreeGift = slot1:Find(&quot;AD/gift_free&quot;)
	slot1 = slot0._tf
	slot1 = slot1:Find(&quot;AD/days&quot;)
	slot0.uiList = UIItemList.New(slot1, slot1:Find(&quot;day&quot;))
	slot2 = slot0.uiList

	slot2:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			setText(slot2:Find(&quot;Text&quot;), &quot;DAY&quot; .. slot1)
			setTextColor(slot2:Find(&quot;Text&quot;), Color.NewHex(uv0.DAY_COLOR[2]))
			setActive(slot2:Find(&quot;lock&quot;), uv0.nday &lt; slot1)
			setActive(slot2:Find(&quot;tip&quot;), slot1 &lt;= uv0.nday and uv0.freeGifts[slot1]:canPurchase())
			onToggle(uv0, slot2, function (slot0)
				if slot0 then
					uv0.index = uv1

					uv0:ShowGifts(uv1)
				end

				setTextColor(uv2:Find(&quot;Text&quot;), Color.NewHex(uv0.DAY_COLOR[slot0 and 1 or 2]))
			end, SFX_PANEL)
		end
	end)
end

slot0.OnDataSetting = function(slot0)
	if not slot0.idLists then
		slot0.idLists = slot0.activity:getConfig(&quot;config_client&quot;).gifts

		assert(#slot0.idLists[1] == #slot0.idLists[2])
	end

	slot3 = slot0.activity
	slot0.nday = math.min(#slot0.idLists[1], slot3:getNDay())
	slot1 = getProxy(ShopsProxy)
	slot0.gifts = underscore.map(slot0.idLists[1], function (slot0)
		return uv0:GetGiftCommodity(slot0, Goods.TYPE_CHARGE)
	end)
	slot0.freeGifts = underscore.map(slot0.idLists[2], function (slot0)
		return uv0:GetGiftCommodity(slot0, Goods.TYPE_GIFT_PACKAGE)
	end)
end

slot0.OnUpdateFlush = function(slot0)
	slot0.uiList:align(#slot0.idLists[1])

	if not slot0.index then
		slot0.index = slot0.nday

		while slot0.index &gt; 0 and not slot0.gifts[slot0.index]:canPurchase() and not slot0.freeGifts[slot0.index]:canPurchase() do
			slot0.index = slot0.index - 1
		end

		slot0.index = (slot0.index - 1) % slot0.nday + 1

		triggerToggle(slot0.uiList.container:GetChild(slot0.index - 1), true)
	else
		slot0:ShowGifts(slot0.index)
	end
end

slot0.ShowGifts = function(slot0, slot1)
	slot0:UpdateCard(slot0.rtGift, slot0.gifts[slot0.index])
	slot0:UpdateCard(slot0.rtFreeGift, slot0.freeGifts[slot0.index])
end

slot1 = function(slot0)
	return ({
		&quot;hot&quot;,
		&quot;new_tag&quot;,
		&quot;tuijian&quot;,
		&quot;shuangbei_tag&quot;,
		&quot;activity&quot;,
		&quot;xianshi&quot;
	})[slot0] or &quot;hot&quot;
end

slot0.UpdateCard = function(slot0, slot1, slot2)
	slot3 = nil

	if slot2:isChargeType() then
		slot3 = {
			isFree = false,
			name = slot2:getConfig(&quot;name_display&quot;),
			price = slot2:getConfig(&quot;money&quot;),
			count = slot2:GetLimitDesc(),
			desc = slot2:getConfig(&quot;descrip&quot;),
			free = i18n(&quot;shop_free_tag&quot;),
			purchased = i18n(&quot;blackfriday_pack_purchased&quot;),
			icon = &quot;ChargeIcon/&quot; .. slot2:getConfig(&quot;picture&quot;),
			items = underscore(slot2:getConfig(&quot;display&quot;)):chain():first(3):map(function (slot0)
				slot2, slot3, slot4 = unpack(slot0)

				return {
					count = slot4,
					id = slot3,
					type = slot2
				}
			end):value()
		}
	else
		slot4 = Item.getConfigData(slot2:getConfig(&quot;effect_args&quot;)[1])
		slot3 = {
			isFree = true,
			name = slot4.name,
			price = slot2:getConfig(&quot;resource_num&quot;),
			count = slot2:GetLimitDesc(),
			desc = slot4.display,
			free = i18n(&quot;shop_free_tag&quot;),
			purchased = i18n(&quot;blackfriday_pack_purchased&quot;),
			icon = slot4.icon,
			items = underscore(slot4.display_icon):chain():first(3):map(function (slot0)
				slot2, slot3, slot4 = unpack(slot0)

				return {
					count = slot4,
					id = slot3,
					type = slot2
				}
			end):value()
		}
	end

	setText(slot1:Find(&quot;name/Text&quot;), slot3.name)

	slot4 = slot3.isFree

	if not tonumber(slot3.price) then
		setText(slot1:Find(&quot;price&quot;), slot3.price)
	else
		setText(slot1:Find(&quot;price&quot;), GetMoneySymbol() .. slot3.price)
	end

	setText(slot1:Find(&quot;count&quot;), slot3.count)
	setText(slot1:Find(&quot;desc&quot;), slot3.desc)
	setText(slot1:Find(&quot;free&quot;), slot3.free)
	setText(slot1:Find(&quot;purchased&quot;), slot3.purchased)
	setActive(slot1:Find(&quot;mask_lock&quot;), not slot2:inTime())

	slot6 = slot2:canPurchase()

	setActive(slot1:Find(&quot;mask_purchased&quot;), not slot6)
	setActive(slot1:Find(&quot;purchased&quot;), not slot6)
	setActive(slot1:Find(&quot;free&quot;), slot6 and slot4)
	setActive(slot1:Find(&quot;price&quot;), slot6 and not slot4)
	GetImageSpriteFromAtlasAsync(slot3.icon, &quot;&quot;, slot1:Find(&quot;icon/Image&quot;), true)
	GetImageSpriteFromAtlasAsync(&quot;chargeTag&quot;, uv0(slot2:getConfig(&quot;tag&quot;)), slot1:Find(&quot;icon/tag&quot;), true)
	UIItemList.StaticAlign(slot1:Find(&quot;awards&quot;), slot1:Find(&quot;awards/award&quot;), #slot3.items, function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			updateDrop(slot2, uv0.items[slot1 + 1])
			onButton(uv1, slot2, function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
		end
	end)

	if slot1:Find(&quot;tip&quot;) then
		setActive(slot7, slot5 and slot6)
	end

	slot9 = pg.TimeMgr.GetInstance()
	slot9 = slot9:STimeDescS(slot2:getTimeStamp(), &quot;%m.%d&quot;)

	onButton(slot0, slot1, function ()
		if not uv0 then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;blackfriday_pack_lock&quot;, uv1))
		elseif not uv2:canPurchase() then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;buy_countLimit&quot;))
		else
			uv3:OnCharge(uv2)
		end
	end, SFX_PANEL)
end

slot0.OnCharge = function(slot0, slot1)
	if slot1:isChargeType() then
		slot0:emit(ActivityMediator.OPEN_CHARGE_ITEM_PANEL, {
			isChargeType = true,
			infoTip = slot1:GetInfoTip(),
			icon = &quot;chargeicon/&quot; .. slot1:getConfig(&quot;picture&quot;),
			name = slot1:getConfig(&quot;name_display&quot;),
			tipExtra = i18n(&quot;charge_title_getitem&quot;),
			extraItems = slot1:GetExtraServiceItem(),
			price = slot1:getConfig(&quot;money&quot;),
			isLocalPrice = slot1:IsLocalPrice(),
			tagType = slot1:getConfig(&quot;tag&quot;),
			isMonthCard = slot1:isMonthCard(),
			tipBonus = nil,
			bonusItem = nil,
			extraDrop = nil,
			descExtra = slot1:getConfig(&quot;descrip_extra&quot;),
			limitArgs = slot1:getConfig(&quot;limit_args&quot;),
			onYes = function ()
				if ChargeConst.isNeedSetBirth() then
					uv0:emit(ActivityMediator.OPEN_CHARGE_BIRTHDAY)
				else
					uv0:emit(ActivityMediator.CHARGE, uv1.id)
				end
			end
		})
	else
		slot2 = {}

		if type(Item.getConfigData(slot1:getConfig(&quot;effect_args&quot;)[1]).display_icon) == &quot;table&quot; then
			for slot9, slot10 in ipairs(slot5) do
				table.insert(slot2, {
					type = slot10[1],
					id = slot10[2],
					count = slot10[3]
				})
			end
		end

		slot0:emit(ActivityMediator.OPEN_CHARGE_ITEM_PANEL, {
			isChargeType = false,
			isLocalPrice = false,
			isMonthCard = false,
			icon = slot4.icon,
			name = slot4.name,
			tipExtra = i18n(&quot;charge_title_getitem&quot;),
			extraItems = slot2,
			price = slot1:getConfig(&quot;resource_num&quot;),
			tagType = slot1:getConfig(&quot;tag&quot;),
			onYes = function ()
				pg.MsgboxMgr.GetInstance():ShowMsgBox({
					content = i18n(&quot;charge_scene_buy_confirm&quot;, uv0:getConfig(&quot;resource_num&quot;), uv1.name),
					onYes = function ()
						uv0:emit(ActivityMediator.BUY_ITEM, uv1.id, 1)
					end
				})
			end
		})
	end
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>