<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blackfridaywithmanualsignpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>blackfridaywithmanualsignpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BlackFridayWithManualSignPage&quot;, import(&quot;.BlackFridayPage&quot;))

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)

	slot0.signList = UIItemList.New(slot0:findTF(&quot;AD/singlist&quot;), slot0:findTF(&quot;AD/singlist/Award&quot;))
	slot0.signBtn = slot0:findTF(&quot;AD/signBtn&quot;)

	setText(slot0.signBtn:Find(&quot;Text&quot;), i18n(&quot;SkinMagazinePage2_tip&quot;))
end

slot0.GetPageLink = function(slot0)
	return {
		slot0.activity:getConfig(&quot;config_client&quot;)[2]
	}
end

slot0.OnFirstFlush = function(slot0)
	uv0.super.OnFirstFlush(slot0)

	slot0.signInActId = slot0.activity:getConfig(&quot;config_client&quot;)[2]
end

slot0.FlushSignBtn = function(slot0)
	onButton(slot0, slot0.signBtn, function ()
		uv0:Sign(uv1)
	end, SFX_PANEL)
	setActive(slot0.signBtn, not (not getProxy(ActivityProxy):getActivityById(slot0.signInActId) or slot1:isEnd()) and slot1:AnyAwardCanGet())
end

slot0.FlushSignActivity = function(slot0)
	if not getProxy(ActivityProxy):getActivityById(slot0.signInActId) or slot1:isEnd() then
		slot0:FlushEmptyList()
	else
		slot0:FlushSignList(slot1)
	end
end

slot0.FlushEmptyList = function(slot0)
	slot0.signList:align(0)
end

slot0.FlushSignList = function(slot0, slot1)
	slot3 = slot1:GetCanGetAwardIndexList()
	slot6 = type(slot1:getConfig(&quot;config_client&quot;)) == &quot;table&quot; and slot5 or {}

	slot0.signList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0:GetAwardState(slot1 + 1)

			uv1:UpdateSignAward(uv0, slot3, uv2[slot1 + 1], slot2)

			if slot3 == ManualSignActivity.STATE_GOT then
				table.insert(uv3, uv4[slot1 + 1])
			end
		end
	end)
	slot0.signList:align(#slot1:GetDropList())
	slot0:TryPlayStory({})
end

slot0.TryPlayStory = function(slot0, slot1)
	if #slot1 &lt;= 0 then
		return
	end

	if #_.select(slot1, function (slot0)
		return not pg.NewStoryMgr.GetInstance():IsPlayed(slot0)
	end) &gt; 0 then
		pg.NewStoryMgr.GetInstance():SeriesPlay(slot2)
	end
end

slot0.UpdateSignAward = function(slot0, slot1, slot2, slot3, slot4)
	updateDrop(slot4, slot3)
	setActive(slot4:Find(&quot;got&quot;), slot2 == ManualSignActivity.STATE_GOT)
	setActive(slot4:Find(&quot;get&quot;), slot2 == ManualSignActivity.STATE_CAN_GET)
	onButton(slot0, slot4, function ()
		if uv0 == ManualSignActivity.STATE_CAN_GET then
			uv1:Sign(uv2)
		end
	end, SFX_PANEL)
end

slot0.Sign = function(slot0, slot1)
	pg.m02:sendNotification(GAME.ACT_MANUAL_SIGN, {
		activity_id = slot1.id,
		cmd = ManualSignActivity.OP_GET_AWARD
	})
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	slot0:FlushSignActivity()
	slot0:FlushSignBtn()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>