<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blackfridaywithmanualsignpage_2024.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>blackfridaywithmanualsignpage_2024.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BlackFridayWithManualSignPage_2024&quot;, import(&quot;.BlackFridayWithManualSignPage&quot;))

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)
	setActive(slot0.shopBtn, false)
	setText(slot0._tf:Find(&quot;AD/signMask/Image/Text&quot;), i18n(&quot;challenge_end_tip&quot;))
end

slot0.FlushSignBtn = function(slot0)
	uv0.super.FlushSignBtn(slot0)
	setActive(slot0._tf:Find(&quot;AD/signMask&quot;), not getProxy(ActivityProxy):getActivityById(slot0.signInActId) or slot1:isEnd())
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>