<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>castleptpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>castleptpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CastlePtPage&quot;, import(&quot;.TemplatePage.PtTemplatePage&quot;))
slot0.MAIN_ID = ActivityConst.CASTLE_ACT_ID

slot0.OnFirstFlush = function(slot0)
	uv0.super.OnFirstFlush(slot0)
	onButton(slot0, slot0:findTF(&quot;main_btn&quot;, slot0.bg), function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.CASTLE_MAIN)
	end, SFX_PANEL)
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)

	slot0.mainAct = getProxy(ActivityProxy):getActivityById(uv0.MAIN_ID)
	slot1 = slot0.mainAct.data2

	if table.contains({
		4565,
		4568,
		4571,
		4574,
		4577,
		4580,
		4583,
		4586
	}, slot0.mainAct.data1) and not pg.NewStoryMgr.GetInstance():IsPlayed(pg.NewStoryMgr.GetInstance():StoryId2StoryName(slot2)) then
		slot1 = slot1 - 1
	end

	setText(slot0:findTF(&quot;main_btn/Text&quot;, slot0.bg), i18n(&quot;roll_times_left&quot;, slot1))
	setText(slot0:findTF(&quot;description&quot;, slot0.bg), i18n(&quot;activity_kill&quot;))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>