<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>centaurawardpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>centaurawardpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CentaurAwardPage&quot;, import(&quot;.TemplatePage.SkinTemplatePage&quot;))

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	setText(slot0.dayTF, slot0.nday .. &quot;/&quot; .. #slot0.taskGroup)
	eachChild(slot0.items, function (slot0)
		slot2 = uv0:findTF(&quot;got_btn&quot;, slot0)
		slot3 = isActive(slot2)

		setButtonEnabled(slot2, false)
		setButtonEnabled(uv0:findTF(&quot;get_btn&quot;, slot0), not slot3)

		if slot3 then
			setActive(slot1, true)
		end
	end)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>