<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chocolateworkshopskinpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>chocolateworkshopskinpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ChocolateWorkshopSkinPage&quot;, import(&quot;.TemplatePage.SkinTemplatePage&quot;))
slot0.FADE_TIME = 0.5
slot0.SHOW_TIME = 2
slot0.FADE_OUT_TIME = 0.5

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)

	slot0.finishContainer = slot0:findTF(&quot;FinishContainer&quot;, slot0.bg)
	slot0.bubbleTF = slot0:findTF(&quot;Bubble&quot;, slot0.bg)
	slot0.bubbleText = slot0:findTF(&quot;Text&quot;, slot0.bubbleTF)
	slot0.bubbleCG = GetComponent(slot0.bubbleTF, &quot;CanvasGroup&quot;)
	slot0.sdContainer = slot0:findTF(&quot;SDcontainer&quot;, slot0.bg)
	slot0.sdBtn = slot0:findTF(&quot;SDBtn&quot;, slot0.bg)

	onButton(slot0, slot0.sdBtn, function ()
		if type({
			{
				{
					2022,
					2,
					14
				},
				{
					0,
					0,
					0
				}
			},
			{
				{
					2022,
					2,
					23
				},
				{
					23,
					59,
					59
				}
			}
		}) == &quot;table&quot; and pg.TimeMgr.GetInstance():inTime(slot0) then
			setActive(uv0.boxTF, true)
		end
	end, SFX_PANEL)

	slot0.boxTF = slot0:findTF(&quot;Box&quot;)
	slot0.boxBG = slot0:findTF(&quot;BG&quot;, slot0.boxTF)
	slot0.boxText = slot0:findTF(&quot;Content/Text&quot;, slot0.boxTF)

	setText(slot0.boxText, i18n(&quot;valentinesday__shop_tip&quot;))

	slot0.confirmBtn = slot0:findTF(&quot;Content/Confirm&quot;, slot0.boxTF)
	slot0.cancelBtn = slot0:findTF(&quot;Content/Cancel&quot;, slot0.boxTF)

	onButton(slot0, slot0.boxBG, function ()
		setActive(uv0.boxTF, false)
	end, SFX_CANCEL)
	onButton(slot0, slot0.cancelBtn, function ()
		setActive(uv0.boxTF, false)
	end, SFX_CANCEL)
	onButton(slot0, slot0.confirmBtn, function ()
		pg.m02:sendNotification(GAME.GO_SCENE, SCENE.SKINSHOP)
		setActive(uv0.boxTF, false)
	end, SFX_PANEL)

	slot0.sdNameList = {
		&quot;anshan_3&quot;,
		&quot;shiyu_4&quot;
	}
	slot0.bubbleTextTable = {
		anshan_3 = {
			&quot;valentinesday__txt1_tip&quot;,
			&quot;valentinesday__txt2_tip&quot;,
			&quot;valentinesday__txt3_tip&quot;
		},
		shiyu_4 = {
			&quot;valentinesday__txt4_tip&quot;,
			&quot;valentinesday__txt5_tip&quot;,
			&quot;valentinesday__txt6_tip&quot;
		}
	}
	slot0.aniContainerTF = slot0:findTF(&quot;AniContainer&quot;, slot0.bg)
	slot0.tplList = GetComponent(slot0._tf, &quot;ItemList&quot;).prefabItem:ToTable()
	slot0.sdName = slot0.sdNameList[math.random(#slot0.sdNameList)]
	slot0.spine = nil
	slot0.spineLRQ = GetSpineRequestPackage.New(slot0.sdName, function (slot0)
		SetParent(slot0, uv0.sdContainer)

		uv0.spine = slot0
		uv0.spine.transform.localScale = Vector3.one

		if uv0.spine:GetComponent(&quot;SpineAnimUI&quot;) then
			slot1:SetAction(&quot;stand2&quot;, 0)
		end

		uv0.spineLRQ = nil
	end):Start()
end

slot0.OnFirstFlush = function(slot0)
	slot1 = slot0.uilist

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot4 = uv0:findTF(&quot;item&quot;, slot2)
			slot6 = uv0.taskProxy:getTaskById(uv0.taskGroup[uv0.nday][slot1 + 1]) or uv0.taskProxy:getFinishTaskById(slot5)

			assert(slot6, &quot;without this task by id: &quot; .. slot5)

			slot7 = slot6:getConfig(&quot;award_display&quot;)[1]

			updateDrop(slot4, {
				type = slot7[1],
				id = slot7[2],
				count = slot7[3]
			})
			onButton(uv0, slot4, function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)

			slot9 = slot6:getProgress()
			slot10 = slot6:getConfig(&quot;target_num&quot;)

			setText(uv0:findTF(&quot;description&quot;, slot2), slot6:getConfig(&quot;desc&quot;))
			setText(uv0:findTF(&quot;progressText&quot;, slot2), setColorStr(slot9, &quot;#BBCF2EFF&quot;) .. &quot;/&quot; .. slot10)
			setSlider(uv0:findTF(&quot;progress&quot;, slot2), 0, slot10, slot9)

			slot12 = uv0:findTF(&quot;get_btn&quot;, slot2)

			setActive(uv0:findTF(&quot;go_btn&quot;, slot2), slot6:getTaskStatus() == 0)
			setActive(slot12, slot14 == 1)
			setActive(uv0:findTF(&quot;got_btn&quot;, slot2), slot14 == 2)
			onButton(uv0, slot11, function ()
				uv0:emit(ActivityMediator.ON_TASK_GO, uv1)
			end, SFX_PANEL)
			onButton(uv0, slot12, function ()
				uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv1)
			end, SFX_PANEL)
		end
	end)

	slot0.showBubbleTag = false
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	setActive(slot0.boxTF, false)

	for slot4 = 1, slot0.finishContainer.childCount do
		setActive(slot0.finishContainer:GetChild(slot4 - 1), slot4 &lt;= slot0.nday)
	end

	slot3 = slot0.taskProxy:getTaskVO(slot0.taskGroup[slot0.nday][1]):getTaskStatus()

	if not slot0.showBubbleTag then
		if slot3 == 0 then
			slot0:showBubble(i18n(slot0.bubbleTextTable[slot0.sdName][1]))

			slot0.showBubbleTag = true
		elseif slot3 == 1 then
			slot0:showBubble(i18n(slot0.bubbleTextTable[slot0.sdName][2]))

			slot0.showBubbleTag = true
		end
	end

	eachChild(slot0.aniContainerTF, function (slot0)
		Destroy(slot0)
	end)

	if slot3 == 0 then
		SetParent(Instantiate(slot0.tplList[1]), slot0.aniContainerTF, false)
	else
		SetParent(Instantiate(slot0.tplList[2]), slot0.aniContainerTF, false)
	end
end

slot0.OnDestroy = function(slot0)
	uv0.super.OnDestroy(slot0)

	if slot0.spineLRQ then
		slot0.spineLRQ:Stop()

		slot0.spineLRQ = nil
	end

	if slot0.spine then
		slot0.spine.transform.localScale = Vector3.one

		pg.PoolMgr.GetInstance():ReturnSpineChar(slot0.sdName, slot0.spine)

		slot0.spine = nil
	end
end

slot0.showBubble = function(slot0, slot1)
	slot2 = nil

	setText(slot0.bubbleText, (slot1 or i18n(slot0.bubbleTextList[math.random(#slot0.bubbleTextList)])) and slot1)

	slot4 = function()
		LeanTween.value(go(uv0.bubbleTF), 1, 0, uv1.FADE_OUT_TIME):setOnUpdate(System.Action_float(uv2)):setOnComplete(System.Action(function ()
			setActive(uv0.bubbleTF, false)
		end))
	end

	LeanTween.cancel(go(slot0.bubbleTF))
	setActive(slot0.bubbleTF, true)
	LeanTween.value(go(slot0.bubbleTF), 0, 1, uv0.FADE_TIME):setOnUpdate(System.Action_float(function (slot0)
		uv0.bubbleCG.alpha = slot0

		setLocalScale(uv0.bubbleTF, Vector3.one * slot0)
	end)):setOnComplete(System.Action(function ()
		LeanTween.delayedCall(go(uv0.bubbleTF), uv1.SHOW_TIME, System.Action(uv2))
	end))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>