<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crusingdisplayactpage2.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>crusingdisplayactpage2.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CrusingDisplayActPage2&quot;, import(&quot;view.base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bgBase = slot0._tf:Find(&quot;bg_base&quot;)
	slot0.bgPay = slot0._tf:Find(&quot;bg_pay&quot;)
	slot0.btnGo = slot0._tf:Find(&quot;AD/btn_go&quot;)

	setText(slot0.btnGo:Find(&quot;Text&quot;), i18n(&quot;cruise_tip_skin&quot;))
	onButton(slot0, slot0.btnGo, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.CRUSING)
	end, SFX_CONFIRM)

	slot0.btnPay = slot0._tf:Find(&quot;AD/btn_pay&quot;)

	setText(slot0.btnPay:Find(&quot;Text&quot;), i18n(&quot;cruise_btn_pay&quot;))
	onButton(slot0, slot0.btnPay, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.CHARGE, {
			warp = ChargeScene.TYPE_PICK
		})
	end, SFX_CONFIRM)

	slot1 = slot0._tf:Find(&quot;AD/info_panel&quot;)
	slot0.toggleBase = slot1:Find(&quot;toggle_base&quot;)

	setText(slot0.toggleBase:Find(&quot;Text&quot;), i18n(&quot;cruise_tip_base&quot;))
	onToggle(slot0, slot0.toggleBase, function (slot0)
		setTextAlpha(uv0.toggleBase:Find(&quot;Text&quot;), slot0 and 1 or 0.3)

		if uv0.LTBase then
			LeanTween.cancel(uv0.LTBase)
		end

		uv0.LTBase = LeanTween.alpha(uv0.bgBase, slot0 and 1 or 0, 0.5).uniqueId
	end, SFX_PANEL)

	slot0.togglePay = slot1:Find(&quot;toggle_pay&quot;)

	setText(slot0.togglePay:Find(&quot;Text&quot;), i18n(&quot;cruise_tip_upgrade&quot;))
	onToggle(slot0, slot0.togglePay, function (slot0)
		setTextAlpha(uv0.togglePay:Find(&quot;Text&quot;), slot0 and 1 or 0.3)

		if uv0.LTPay then
			LeanTween.cancel(uv0.LTPay)
		end

		uv0.LTPay = LeanTween.alpha(uv0.bgPay, slot0 and 1 or 0, 0.5).uniqueId
	end, SFX_PANEL)

	slot0.textPay = slot1:Find(&quot;text_pay&quot;)
end

slot0.OnDataSetting = function(slot0)
	slot0.isPay = slot0.activity.data2 == 1
end

slot0.OnUpdateFlush = function(slot0)
	setActive(slot0.textPay:Find(&quot;before&quot;), not slot0.isPay)
	setActive(slot0.textPay:Find(&quot;after&quot;), slot0.isPay)
	setActive(slot0.btnPay, not slot0.isPay)
	setActive(slot0.btnGo:Find(&quot;tip&quot;), #slot0.activity:GetCrusingUnreceiveAward() &gt; 0)

	if slot0.isPay then
		triggerToggle(slot0.togglePay, true)
	else
		triggerToggle(slot0.toggleBase, true)

		if PlayerPrefs.GetInt(&quot;first_crusing_page_display:&quot; .. slot0.activity.id, 0) == 0 then
			PlayerPrefs.SetInt(&quot;first_crusing_page_display:&quot; .. slot0.activity.id, 1)

			slot0.LTFirst = LeanTween.delayedCall(3, System.Action(function ()
				triggerToggle(uv0.togglePay, true)

				uv0.LTFirst = LeanTween.delayedCall(3, System.Action(function ()
					triggerToggle(uv0.toggleBase, true)
				end)).uniqueId
			end)).uniqueId
		end
	end
end

slot0.OnHideFlush = function(slot0)
	if slot0.LTFirst then
		LeanTween.cancel(slot0.LTFirst)

		slot0.LTFirst = nil
	end
end

slot0.OnDestroy = function(slot0)
	if slot0.LTFirst then
		LeanTween.cancel(slot0.LTFirst)

		slot0.LTFirst = nil
	end

	if slot0.LTBase then
		LeanTween.cancel(slot0.LTBase)

		slot0.LTBase = nil
	end

	if slot0.LTPay then
		LeanTween.cancel(slot0.LTPay)

		slot0.LTPay = nil
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>