<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dafengjkskinpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>dafengjkskinpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;DaFengJKSkinPage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.getBtn = slot0:findTF(&quot;available&quot;, slot0.bg)
	slot0.unavailableTF = slot0:findTF(&quot;unavailable&quot;, slot0.bg)
	slot0.phaseTF = slot0:findTF(&quot;phase&quot;, slot0.bg)
	slot0.item = slot0:findTF(&quot;item&quot;, slot0.bg)
	slot0.items = slot0:findTF(&quot;items&quot;, slot0.bg)
	slot0.itemList = UIItemList.New(slot0.items, slot0.item)
end

slot0.OnDataSetting = function(slot0)
	slot0.taskProxy = getProxy(TaskProxy)
	slot0.taskList = slot0.activity:getConfig(&quot;config_data&quot;)[1]
	slot0.submitVO = nil
end

slot0.OnFirstFlush = function(slot0)
	setActive(slot0.item, false)

	slot1 = slot0.itemList

	slot1:make(function (slot0, slot1, slot2)
		assert(uv0.taskProxy:getTaskById(uv0.taskList[slot1 + 1]) or uv0.taskProxy:getFinishTaskById(slot3), &quot;without this task by id: &quot; .. slot3)

		if slot0 == UIItemList.EventInit then
			slot5 = uv0
			slot6 = slot4:getConfig(&quot;award_display&quot;)[1]

			updateDrop(slot5:findTF(&quot;item&quot;, slot2), {
				type = slot6[1],
				id = slot6[2],
				count = slot6[3]
			})
			onButton(uv0, slot2, function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)

			return
		end

		if slot0 == UIItemList.EventUpdate then
			setActive(uv0:findTF(&quot;got&quot;, slot2), slot4:getTaskStatus() == 2)
		end
	end)
	onButton(slot0, slot0.getBtn, function ()
		if uv0.submitVO then
			uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv0.submitVO)
		end
	end, SFX_PANEL)
end

slot0.OnUpdateFlush = function(slot0)
	slot1 = 0
	slot2 = 0

	for slot6, slot7 in ipairs(slot0.taskList) do
		slot8 = slot0.taskProxy:getTaskById(slot7) or slot0.taskProxy:getFinishTaskById(slot7)

		assert(slot8, &quot;without this task by id: &quot; .. slot7)

		if slot8:getTaskStatus() == 1 then
			slot1 = slot1 + 1

			if not slot0.submitVO then
				slot0.submitVO = slot8
			end
		end

		if slot8:getTaskStatus() == 2 then
			slot2 = slot2 + 1
		end
	end

	setActive(slot0.getBtn, slot1 &gt; 0)
	setActive(slot0.unavailableTF, slot1 &lt;= 0)
	eachChild(slot0.phaseTF, function (slot0)
		setActive(slot0, tonumber(slot0.name) &lt;= uv0 + uv1)
	end)
	slot0.itemList:align(#slot0.taskList)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>