<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fourthanniversarysignpagekr.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>fourthanniversarysignpagekr.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;FourthAnniversarySignPageKR&quot;, import(&quot;.TemplatePage.LoginTemplatePage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.item = slot0:findTF(&quot;item&quot;, slot0.bg)
	slot0.items = slot0:findTF(&quot;mask/items&quot;, slot0.bg)
	slot0.itemList = UIItemList.New(slot0.items, slot0.item)
	slot0.initItems = {}
end

slot0.OnFirstFlush = function(slot0)
	setActive(slot0.item, false)

	slot1 = slot0.itemList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			if not table.contains(uv0.initItems, slot1) then
				slot3 = uv0
				slot4 = uv0.config.front_drops[slot1 + 1]

				updateDrop(slot3:findTF(&quot;item&quot;, slot2), {
					type = slot4[1],
					id = slot4[2],
					count = slot4[3]
				})
				onButton(uv0, slot2, function ()
					uv0:emit(BaseUI.ON_DROP, uv1)
				end, SFX_PANEL)
				table.insert(uv0.initItems, slot1)
			end

			setActive(uv0:findTF(&quot;got&quot;, slot2), slot1 &lt; uv0.nday)
		end
	end)
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	eachChild(slot0.items, function (slot0)
	end)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>