<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>francesprepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>francesprepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;FranceSpRePage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.slider = slot0:findTF(&quot;slider&quot;, slot0.bg):GetComponent(typeof(Slider))
	slot0.step = slot0:findTF(&quot;step&quot;, slot0.bg):GetComponent(typeof(Text))
	slot0.progress = slot0:findTF(&quot;progress&quot;, slot0.bg):GetComponent(typeof(Text))
	slot0.desc = slot0:findTF(&quot;desc&quot;, slot0.bg):GetComponent(typeof(Text))
	slot0.awardTF = slot0:findTF(&quot;award&quot;, slot0.bg)
	slot0.battleBtn = slot0:findTF(&quot;battle_btn&quot;, slot0.bg)
	slot0.getBtn = slot0:findTF(&quot;get_btn&quot;, slot0.bg)
	slot0.gotBtn = slot0:findTF(&quot;got_btn&quot;, slot0.bg)
	slot0.buildBtn = slot0:findTF(&quot;build_btn&quot;, slot0.bg)
end

slot0.OnDataSetting = function(slot0)
	slot1 = getProxy(TaskProxy)
	slot0.taskList = slot0.taskList or slot0.activity:getConfig(&quot;config_data&quot;)

	for slot5, slot6 in ipairs(slot0.taskList) do
		slot0.taskIndex = slot5
		slot0.taskVO = slot1:getTaskVO(slot6)

		if not slot0.taskVO:isReceive() then
			break
		end
	end

	assert(slot0.taskVO, &quot;without any taskVO!!!&quot;)
end

slot0.OnFirstFlush = function(slot0)
	onButton(slot0, slot0.battleBtn, function ()
		uv0:emit(ActivityMediator.BATTLE_OPERA)
	end, SFX_PANEL)
	onButton(slot0, slot0.getBtn, function ()
		uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv0.taskVO)
	end, SFX_PANEL)
	onButton(slot0, slot0.buildBtn, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.GETBOAT, {
			projectName = BuildShipScene.PROJECTS.LIGHT
		})
	end, SFX_PANEL)
end

slot0.OnUpdateFlush = function(slot0)
	slot1 = slot0.taskVO
	slot1 = slot1:getConfig(&quot;award_display&quot;)[1]

	updateDrop(slot0.awardTF, {
		type = slot1[1],
		id = slot1[2],
		count = slot1[3]
	})
	onButton(slot0, slot0.awardTF, function ()
		uv0:emit(BaseUI.ON_DROP, uv1)
	end, SFX_PANEL)

	if slot0.step then
		setText(slot0.step, slot0.taskIndex .. &quot;/&quot; .. #slot0.taskList)
	end

	slot3 = slot0.taskVO:getProgress()
	slot4 = slot0.taskVO:getConfig(&quot;target_num&quot;)

	setText(slot0.desc, slot0.taskVO:getConfig(&quot;desc&quot;))
	setText(slot0.progress, slot3 .. &quot;/&quot; .. slot4)
	setSlider(slot0.slider, 0, slot4, slot3)
	setActive(slot0.battleBtn, slot0.taskVO:getTaskStatus() == 0)
	setActive(slot0.getBtn, slot5 == 1)
	setActive(slot0.gotBtn, slot5 == 2)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>