<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ghostskinstoryactpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>ghostskinstoryactpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;GhostSkinStoryActPage&quot;, import(&quot;.TemplatePage.PreviewTemplatePage&quot;))

slot0.OnFirstFlush = function(slot0)
	slot0.super.OnFirstFlush(slot0)
	onButton(slot0, slot0:findTF(&quot;activity&quot;, slot0.btnList), function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.GHOSTSKINPAGE)
	end)
end

slot0.OnUpdateFlush = function(slot0)
	setActive(slot0:findTF(&quot;AD/redDot&quot;), GhostSkinPageLayer.IsShowRed())
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>