<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maoxiv2framepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>maoxiv2framepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MaoxiV2framePage&quot;, import(&quot;.TemplatePage.PtTemplatePage&quot;))

slot0.OnFirstFlush = function(slot0)
	uv0.super.OnFirstFlush(slot0)
	setActive(slot0.displayBtn, false)
	setActive(slot0.awardTF, false)
	onButton(slot0, slot0.battleBtn, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.TASK, {
			page = &quot;activity&quot;
		})
	end, SFX_PANEL)

	slot0.step = slot0:findTF(&quot;AD/switcher/phase2/Image/step&quot;)
	slot0.progress = slot0:findTF(&quot;AD/switcher/phase2/Image/progress&quot;)
	slot0.switchBtn = slot0:findTF(&quot;AD/switch_btn&quot;)
	slot0.bar = slot0:findTF(&quot;AD/switcher/phase2/Image/barContent/bar&quot;)
	slot0.phases = {
		slot0:findTF(&quot;AD/switcher/phase1&quot;),
		slot0:findTF(&quot;AD/switcher/phase2&quot;)
	}
	slot0.inPhase2 = false

	onToggle(slot0, slot0.switchBtn, function (slot0)
		if uv0.isSwitching then
			return
		end

		uv0.inPhase2 = slot0

		uv0:Switch(slot0)
	end, SFX_PANEL)

	if pg.TimeMgr.GetInstance():inTime(slot0.activity:getConfig(&quot;config_client&quot;)) then
		triggerToggle(slot0.switchBtn, true)
	end
end

slot0.Switch = function(slot0, slot1)
	slot0.isSwitching = true
	slot2 = GetOrAddComponent(slot0.phases[1], typeof(CanvasGroup))

	slot0.phases[2]:SetAsLastSibling()
	setActive(slot0.phases[1]:Find(&quot;Image&quot;), false)
	setLocalPosition(go(slot0.phases[1]), slot0.phases[2].localPosition)
	setActive(slot0.phases[1]:Find(&quot;label&quot;), true)
	LeanTween.value(go(slot0.phases[1]), 0, 1, 0.4):setOnUpdate(System.Action_float(function (slot0)
		uv0.alpha = slot0
	end))
	setActive(slot0.phases[2]:Find(&quot;Image&quot;), true)

	slot5 = GetOrAddComponent(slot0.phases[2], typeof(CanvasGroup))

	LeanTween.value(go(slot0.phases[2]), 0, 1, 0.4):setOnUpdate(System.Action_float(function (slot0)
		uv0.alpha = slot0
	end))
	setActive(slot0.phases[2]:Find(&quot;label&quot;), false)
	setLocalPosition(go(slot0.phases[2]), slot0.phases[1].localPosition)

	slot0.isSwitching = nil
	slot0.phases[2] = slot0.phases[1]
	slot0.phases[1] = slot0.phases[2]

	slot0:UpdateAwardGot()
end

slot0.UpdateAwardGot = function(slot0)
	setActive(slot0:findTF(&quot;switcher/phase2/got&quot;, slot0.bg), not slot0.ptData:CanGetNextAward() and slot0.inPhase2)
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	setActive(slot0.battleBtn, isActive(slot0.battleBtn) and pg.TimeMgr.GetInstance():inTime(slot0.activity:getConfig(&quot;config_client&quot;)))
	slot0:UpdateAwardGot()

	slot4, slot5, slot6 = slot0.ptData:GetResProgress()

	setText(slot0.step, slot6 &gt;= 1 and setColorStr(slot4, &quot;#74b9ff&quot;) or slot4)
	setText(slot0.progress, &quot;/&quot; .. slot5)
	setFillAmount(slot0.bar, slot4 / slot5)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>