<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mikasarepairepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mikasarepairepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MikasaRepairePage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.layer = slot0:findTF(&quot;layer&quot;)
end

slot0.OnFirstFlush = function(slot0)
end

slot0.OnUpdateFlush = function(slot0)
	slot0:update_task_list_mikasa_museum(slot0.activity, slot0.layer, 1)
end

slot0.update_task_list_mikasa_museum = function(slot0, slot1, slot2, slot3)
	slot4 = getProxy(TaskProxy)
	slot5 = slot1:getConfig(&quot;config_data&quot;)
	slot6 = getProxy(ActivityProxy)
	slot7 = slot2:Find(&quot;AD&quot;)
	slot8 = slot2:Find(&quot;item&quot;)

	onButton(slot0, slot8:Find(&quot;helpBtn&quot;), function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip.word_museum_help.tip
		})
	end, SFX_PANEL)

	slot10, slot11, slot12 = nil
	slot13 = {}
	slot14, slot15 = nil

	for slot19 = 1, 4 do
		slot23 = slot8:Find(&quot;Panel/layout_layer/repair_panel&quot; .. slot19 .. &quot;/Panel&quot;)
		slot12 = slot0:findTF(&quot;btn_repair&quot;, slot23)
		slot13[slot19] = nil

		for slot23 = 1, 4 do
			slot0:set_mikasa_btn(slot5[(slot19 - 1) * 4 + slot23], slot0:findTF(&quot;repair&quot; .. slot23, slot10), slot23 == 1 and 0 or slot5[(slot19 - 1) * 4 + slot23 - 1], slot23 &gt;= 4)

			if not slot13[slot19] then
				slot13[slot19] = slot4:getTaskById(slot14) and slot14 or nil
			end
		end

		slot15 = slot4:getTaskById(slot5[(slot19 - 1) * 4 + 1]) or slot4:getFinishTaskById(slot14)

		setActive(slot10:Find(&quot;line1/unselected&quot;), not slot15:isReceive())
		setActive(slot10:Find(&quot;line1/selected&quot;), slot15:isReceive())

		slot15 = slot4:getTaskById(slot5[(slot19 - 1) * 4 + 2]) or slot4:getFinishTaskById(slot14)

		setActive(slot10:Find(&quot;line2/unselected&quot;), not slot15:isReceive())
		setActive(slot10:Find(&quot;line2/selected&quot;), slot15:isReceive())

		slot15 = slot4:getTaskById(slot5[(slot19 - 1) * 4 + 3]) or slot4:getFinishTaskById(slot14)

		setActive(slot10:Find(&quot;to_award/unselected&quot;), not slot15:isReceive())
		setActive(slot10:Find(&quot;to_award/selected&quot;), slot15:isReceive())

		slot15 = slot4:getTaskById(slot5[slot19 * 4]) or slot4:getFinishTaskById(slot14)
		slot12:GetComponent(typeof(Image)).enabled = not slot15:isFinish()

		setActive(slot12:Find(&quot;get&quot;), slot15:isFinish() and not slot15:isReceive())
		setActive(slot12:Find(&quot;got&quot;), slot15:isReceive())
		onButton(slot0, slot12, function ()
			uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv1:getTaskById(uv2[uv3]))
		end, SFX_PANEL)
		setActive(slot10:Find(&quot;gear&quot;), not slot15:isFinish())

		if not slot15:isFinish() then
			slot20 = slot4:getTaskById(slot13[slot19])

			setText(slot10:Find(&quot;gear/test_bg/Text&quot;), slot6:getVirtualItemNumber(tonumber(slot20:getConfig(&quot;target_id&quot;))) .. &quot;/&quot; .. slot20:getConfig(&quot;target_num&quot;))
		end

		slot15 = slot13[slot19] and (slot4:getTaskById(slot14) or slot4:getFinishTaskById(slot14)) or nil

		setButtonEnabled(slot12, slot15 and slot15:isFinish())
		setActive(slot12:Find(&quot;mask&quot;), slot15 and slot15:isFinish())
	end

	slot12 = slot8:Find(&quot;btn_main&quot;)
	slot15 = slot4:getTaskById(slot5[#slot5]) or slot4:getFinishTaskById(slot14)
	slot12:GetComponent(typeof(Image)).enabled = not slot15:isFinish()

	setActive(slot12:Find(&quot;get&quot;), slot15:isFinish() and not slot15:isReceive())
	setActive(slot12:Find(&quot;got&quot;), slot15:isReceive())
	onButton(slot0, slot12, function ()
		if not uv0:isFinish() then
			slot0 = uv1:getActivityById(ActivityConst.MIKASA_DAILY_TASK_ACTIVITY)
			slot1 = pg.TimeMgr.GetInstance()

			if _.all(_.flatten({
				slot0:getConfig(&quot;config_data&quot;)[math.clamp(slot1:DiffDay(slot0.data1, slot1:GetServerTime()) + 1, 1, #slot0:getConfig(&quot;config_data&quot;))]
			}), function (slot0)
				return uv0:getFinishTaskById(slot0) ~= nil
			end) then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;word_museum_1&quot;))
			else
				uv3:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.TASK, {
					page = &quot;activity&quot;
				})
			end
		else
			uv3:emit(ActivityMediator.ON_TASK_SUBMIT, uv0)
		end
	end, SFX_PANEL)
	setButtonEnabled(slot12, not slot15:isReceive())
	slot0:set_mikasa_btn(slot14, slot8:Find(&quot;repair_main&quot;), 0, true, slot1:getConfig(&quot;config_client&quot;).story)

	for slot19 = 1, 4 do
		setActive(slot8:Find(&quot;repair_phase/point&quot; .. slot19), slot19 &lt;= slot15:getProgress())

		if slot19 &gt; 1 then
			setActive(slot8:Find(&quot;repair_phase/line&quot; .. slot19 - 1), slot19 &lt;= slot15:getProgress())
		end
	end

	setText(slot8:Find(&quot;repair_phase/Text&quot;), slot15:getProgress() .. &quot;/4&quot;)
end

slot0.set_mikasa_btn = function(slot0, slot1, slot2, slot3, slot4, slot5)
	slot7 = getProxy(TaskProxy):getTaskById(slot1) or slot6:getFinishTaskById(slot1)
	slot8 = slot2:Find(&quot;award&quot;)
	slot9 = slot2:Find(&quot;face&quot;)

	if slot4 then
		setActive(slot8, true)
		setActive(slot9, false)

		slot11 = pg.task_data_template[slot1].award_display[1]

		setActive(slot8, slot11)
		updateDrop(slot8, {
			type = slot11[1],
			id = slot11[2],
			count = slot11[3]
		})
		onButton(slot0, slot8, function ()
			uv0:emit(BaseUI.ON_DROP, uv1)
		end, SFX_PANEL)
		setActive(slot8:Find(&quot;mask&quot;), slot7:isReceive())
		setActive(slot8:Find(&quot;black_block&quot;), slot7:isReceive())
		setActive(slot2:Find(&quot;Text&quot;), false)
	else
		setActive(slot8, false)
		setActive(slot9, true)

		slot10 = setActive
		slot11 = slot9:Find(&quot;bg_select&quot;)
		slot12 = slot3 == 0 or slot6:getFinishTaskById(slot3)

		slot10(slot11, slot12)
		setActive(slot9:Find(&quot;mask&quot;), slot6:getFinishTaskById(slot1))
		setActive(slot9:Find(&quot;black_block&quot;), slot6:getFinishTaskById(slot1))
	end

	if slot7:getConfig(&quot;sub_type&quot;) == 90 and slot5 then
		for slot13, slot14 in ipairs(slot5) do
			if slot14[1] == slot1 and slot14[2] == slot7:getProgress() and not pg.NewStoryMgr.GetInstance():IsPlayed(slot14[3]) then
				pg.NewStoryMgr.GetInstance():Play(slot14[3])

				break
			end
		end
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>