<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monopolycar2024page.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>monopolycar2024page.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MonopolyCar2024Page&quot;, import(&quot;view.base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.startBtn = slot0:findTF(&quot;AD/start&quot;)
	slot0.leftCountTxt = slot0.startBtn:Find(&quot;Text&quot;):GetComponent(typeof(Text))
	slot0.turnCntTxt = slot0:findTF(&quot;AD/turn&quot;):GetComponent(typeof(Text))
	slot1 = slot0:findTF(&quot;AD/progress&quot;)
	slot0.progressTxt = slot1:GetComponent(typeof(Text))
	slot0.turnAwards = {
		slot0:findTF(&quot;AD/turn_awards/award_1&quot;),
		slot0:findTF(&quot;AD/turn_awards/award_2&quot;),
		slot0:findTF(&quot;AD/turn_awards/award_3&quot;)
	}
	slot0.turnGoBtn = slot0:findTF(&quot;AD/turn_awards/battle_btn&quot;)
	slot0.turnGetBtn = slot0:findTF(&quot;AD/turn_awards/get_btn&quot;)
	slot0.progressImage = slot0:findTF(&quot;AD/turn_awards/progress/bar&quot;)

	onButton(slot0, slot0.startBtn, function ()
		if not uv0.activity or uv0.activity:isEnd() then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;common_activity_end&quot;))

			return
		end

		for slot3, slot4 in ipairs(uv0.turnAwards) do
			setActive(slot4:Find(&quot;mark/get&quot;), false)
		end

		uv0:emit(ActivityMediator.GO_MONOPOLY2024, uv0.activity.id, function ()
			for slot3, slot4 in ipairs(uv0.turnAwards) do
				setActive(slot4:Find(&quot;mark/get&quot;), true)
			end
		end)
	end, SFX_PANEL)

	slot0.taskGoBtn = slot0:findTF(&quot;AD/battle_btn&quot;)
	slot0.taskGetBtn = slot0:findTF(&quot;AD/get_btn&quot;)
	slot0.taskGotBtn = slot0:findTF(&quot;AD/got_btn&quot;)
	slot0.taskDesc = slot0:findTF(&quot;AD/Text&quot;):GetComponent(typeof(Text))
	slot0.taskAward = slot0:findTF(&quot;AD/award&quot;)
	slot0.taskProgress = slot0:findTF(&quot;AD/taskProgress&quot;)
end

slot0.OnDataSetting = function(slot0)
end

slot0.OnFirstFlush = function(slot0)
end

slot0.OnUpdateFlush = function(slot0)
	slot0:UpdateTurnAwards()
	slot0:UpdateTask()
end

slot0.UpdateTurnAwards = function(slot0)
	slot4 = slot1.data1_list[6] or 0
	slot0.turnCntTxt.text = (slot0.activity.data1_list[3] or 1) - 1 .. &quot;/&quot; .. 3

	if (math.max(slot1.data2, 1) - 1) / #(slot1:getDataConfig(&quot;map&quot;) or {}) == 0 and slot3 &gt; 0 then
		slot8 = 1
	end

	slot0.progressTxt.text = string.format(&quot;%.1f&quot;, slot8 * 100) .. &quot;%&quot;
	slot9 = slot4 + 1
	slot10 = slot1:getDataConfig(&quot;sum_lap_reward_show&quot;)

	for slot14, slot15 in ipairs(slot0.turnAwards) do
		slot16 = slot10[slot14]

		updateDrop(slot15:Find(&quot;mask&quot;), Drop.New({
			type = slot16[1],
			id = slot16[2],
			count = slot16[3]
		}))
		onButton(slot0, slot15, function ()
			uv0:emit(BaseUI.ON_DROP, uv1)
		end, SFX_PANEL)
		setActive(slot15:Find(&quot;mark&quot;), slot14 == slot9)
		setActive(slot15:Find(&quot;got&quot;), slot14 &lt;= slot4)
	end

	slot11 = slot2 &lt; slot9
	slot12 = slot9 &lt;= slot3

	setActive(slot0.turnGoBtn, not slot12 and not slot11)
	setActive(slot0.turnGetBtn, slot12 and not slot11)

	slot13 = {
		0.183,
		0.587,
		1
	}

	if slot3 &lt;= 0 then
		setFillAmount(slot0.progressImage, 0)
	else
		setFillAmount(slot0.progressImage, slot13[slot3] or 1)
	end

	slot0.leftCountTxt.text = i18n(&quot;MonopolyCar2024Game_total_num_tip&quot;, math.ceil((pg.TimeMgr.GetInstance():GetServerTime() - slot1.data1) / 86400) * slot1:getDataConfig(&quot;daily_time&quot;) + (slot1.data1_list[1] or 0) - (slot1.data1_list[2] or 0))

	onButton(slot0, slot0.turnGetBtn, function ()
		pg.m02:sendNotification(GAME.MONOPOLY_OP, {
			activity_id = uv0.id,
			arg1 = uv1,
			cmd = ActivityConst.MONOPOLY_OP_ROUND_AWD
		})
	end, SFX_PANEL)
end

slot0.UpdateTask = function(slot0)
	if not getProxy(ActivityProxy):getActivityById(pg.activity_const.MONOPOLY_TASK_ACT_ID.act_id) or slot2:isEnd() then
		return
	end

	slot5 = getProxy(TaskProxy):getTaskById(slot2:getConfig(&quot;config_data&quot;)[1]) or slot4:getFinishTaskById(slot3) or Task.New({
		id = slot3
	})
	slot7 = slot5:getConfig(&quot;award_display&quot;)[1]

	updateDrop(slot0.taskAward:Find(&quot;mask&quot;), Drop.New({
		type = slot7[1],
		id = slot7[2],
		count = slot7[3]
	}))
	onButton(slot0, slot0.taskAward, function ()
		uv0:emit(BaseUI.ON_DROP, uv1)
	end, SFX_PANEL)

	slot9 = slot5:getConfig(&quot;target_num&quot;)

	if slot4:getTaskById(slot3) ~= nil then
		slot10 = math.min(slot5:getProgress(), slot9)
		slot15 = slot10

		setSlider(slot0.taskProgress, 0, slot9, slot15)

		slot11 = slot5:getConfig(&quot;desc&quot;)

		for slot15, slot16 in ipairs({
			slot10
		}) do
			slot11 = string.gsub(slot11, &quot;$&quot; .. slot15, slot16)
		end

		slot0.taskDesc.text = slot11
		slot13 = slot5:isReceive()

		setActive(slot0.taskGoBtn, not slot5:isFinish() and not slot13)
		setActive(slot0.taskGetBtn, slot12 and not slot13)
		setActive(slot0.taskGotBtn, slot13)
	else
		slot10 = slot9
		slot15 = slot10

		setSlider(slot0.taskProgress, 0, slot9, slot15)

		slot11 = slot5:getConfig(&quot;desc&quot;)

		for slot15, slot16 in ipairs({
			slot10
		}) do
			slot11 = string.gsub(slot11, &quot;$&quot; .. slot15, slot16)
		end

		slot0.taskDesc.text = slot11

		setActive(slot0.taskGoBtn, false)
		setActive(slot0.taskGetBtn, false)
		setActive(slot0.taskGotBtn, true)
	end

	onButton(slot0, slot0.taskGetBtn, function ()
		slot0 = uv0

		slot0:emit(ActivityMediator.ON_TASK_SUBMIT, uv1, function (slot0)
			if slot0 then
				uv0:OnUpdateFlush()
			end
		end)
	end, SFX_PANEL)
end

slot0.OnHideFlush = function(slot0)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>