<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neworleansloginpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neworleansloginpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewOrleansLoginPage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.showItemTpl = slot0:findTF(&quot;ShowItem&quot;, slot0.bg)
	slot0.showItemContainer = slot0:findTF(&quot;ItemShowList&quot;, slot0.bg)
	slot0.itemList = UIItemList.New(slot0.showItemContainer, slot0.showItemTpl)

	setActive(slot0.showItemTpl, false)

	slot0.item = slot0:findTF(&quot;item&quot;, slot0.bg)
	slot0.items = slot0:findTF(&quot;items&quot;, slot0.bg)
	slot0.uilist = UIItemList.New(slot0.items, slot0.item)

	setActive(slot0.item, false)

	slot0.stepText = slot0:findTF(&quot;step_text&quot;, slot0.bg)
end

slot0.OnDataSetting = function(slot0)
	slot0.linkActivity = getProxy(ActivityProxy):getActivityById(slot0.activity:getConfig(&quot;config_client&quot;).act_id)
	slot0.nday = 0
	slot0.taskProxy = getProxy(TaskProxy)
	slot0.taskGroup = slot0.linkActivity:getConfig(&quot;config_data&quot;)
	slot0.config = pg.activity_7_day_sign[slot0.activity:getConfig(&quot;config_id&quot;)]
	slot0.Day = #slot0.config.front_drops
	slot0.curDay = 0

	return updateActivityTaskStatus(slot0.linkActivity)
end

slot0.OnFirstFlush = function(slot0)
	slot1 = slot0.uilist

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot4 = uv0:findTF(&quot;item&quot;, slot2)
			slot6 = uv0.taskProxy:getTaskById(uv0.taskGroup[uv0.nday][slot1 + 1]) or uv0.taskProxy:getFinishTaskById(slot5)

			assert(slot6, &quot;without this task by id: &quot; .. slot5)

			slot7 = slot6:getConfig(&quot;award_display&quot;)[1]

			updateDrop(slot4, {
				type = slot7[1],
				id = slot7[2],
				count = slot7[3]
			})
			onButton(uv0, slot4, function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)

			slot9 = slot6:getProgress()
			slot10 = slot6:getConfig(&quot;target_num&quot;)

			setText(uv0:findTF(&quot;description&quot;, slot2), slot6:getConfig(&quot;desc&quot;))
			setText(uv0:findTF(&quot;progressText&quot;, slot2), slot9 .. &quot;/&quot; .. slot10)
			setSlider(uv0:findTF(&quot;progress&quot;, slot2), 0, slot10, slot9)

			slot12 = uv0:findTF(&quot;get_btn&quot;, slot2)

			setActive(uv0:findTF(&quot;go_btn&quot;, slot2), slot6:getTaskStatus() == 0)
			setActive(slot12, slot14 == 1)
			setActive(uv0:findTF(&quot;got_btn&quot;, slot2), slot14 == 2)
			onButton(uv0, slot11, function ()
				uv0:emit(ActivityMediator.ON_TASK_GO, uv1)
			end, SFX_PANEL)
			onButton(uv0, slot12, function ()
				uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv1)
			end, SFX_PANEL)
		end
	end)

	slot1 = slot0.itemList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventInit then
			slot3 = uv0.config.front_drops[slot1 + 1]

			updateDrop(slot2, {
				type = slot3[1],
				id = slot3[2],
				count = slot3[3]
			})
			onButton(uv0, slot2, function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)

			return
		end

		if slot0 == UIItemList.EventUpdate then
			setActive(uv0:findTF(&quot;icon_mask&quot;, slot2), slot1 &lt; uv0.curDay)
		end
	end)
end

slot0.OnUpdateFlush = function(slot0)
	slot0.nday = slot0.linkActivity.data3

	if checkExist(slot0.linkActivity:getConfig(&quot;config_client&quot;).story, {
		slot0.nday
	}, {
		1
	}) then
		pg.NewStoryMgr.GetInstance():Play(slot1[slot0.nday][1])
	end

	if slot0.stepText then
		setText(slot0.stepText, tostring(slot0.nday))
	end

	slot0.uilist:align(#slot0.taskGroup[slot0.nday])

	slot0.curDay = slot0.activity.data1

	slot0.itemList:align(slot0.Day)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>