<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>outpostptrepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>outpostptrepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;OutPostPtRePage&quot;, import(&quot;.TemplatePage.NewFrameTemplatePage&quot;))
slot1 = {
	16851,
	16852,
	16853,
	16854
}

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)

	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.switchBtn = slot0:findTF(&quot;AD/switcher/switch_btn&quot;)
	slot0.bar = slot0:findTF(&quot;AD/switcher/phase2/Image/bar&quot;)
	slot0.displayBtn = slot0:findTF(&quot;AD/display_btn&quot;)
	slot0.gotTag = slot0:findTF(&quot;AD/switcher/phase2/Image/got&quot;)
	slot3, slot4 = slot0:GetActTask()
	slot5 = slot3 and slot3:isReceive() and slot4

	setActive(slot0.displayBtn:Find(&quot;Image1&quot;), not slot5)
	setActive(slot0.displayBtn:Find(&quot;Image2&quot;), slot5)

	slot6 = nil

	onButton(slot0, slot0.displayBtn, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.TASK, {
			page = &quot;activity&quot;,
			targetId = uv1
		})
	end)
end

slot0.GetActTask = function(slot0)
	slot2 = getProxy(TaskProxy)
	slot3 = nil
	slot4 = false

	for slot8 = #uv0, 1, -1 do
		if slot2:getTaskById(slot1[slot8]) or slot2:getFinishTaskById(slot9) then
			slot3 = slot10

			if slot8 == #slot1 then
				slot4 = true
			end

			break
		end
	end

	return slot3, slot4
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>