<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secondanniversarypage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>secondanniversarypage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SecondAnniversaryPage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.btnShop = slot0:findTF(&quot;BtnShop&quot;)
	slot0.btnContainer = slot0:findTF(&quot;BtnList/Viewport/Content&quot;)
	slot0.btn1 = slot0:findTF(&quot;1&quot;, slot0.btnContainer)
	slot0.btn2 = slot0:findTF(&quot;2&quot;, slot0.btnContainer)
	slot0.btn3 = slot0:findTF(&quot;3&quot;, slot0.btnContainer)
	slot0.btn4 = slot0:findTF(&quot;4&quot;, slot0.btnContainer)
	slot0.btn5 = slot0:findTF(&quot;5&quot;, slot0.btnContainer)
	slot0.btn6 = slot0:findTF(&quot;6&quot;, slot0.btnContainer)
	slot0.btn7 = slot0:findTF(&quot;7&quot;, slot0.btnContainer)
	slot0.btn8 = slot0:findTF(&quot;8&quot;, slot0.btnContainer)
	slot0.btn9 = slot0:findTF(&quot;9&quot;, slot0.btnContainer)
	slot0.btnList1 = {
		slot0.btn1,
		slot0.btn2,
		slot0.btn3,
		slot0.btn4,
		slot0.btn5,
		slot0.btn6,
		slot0.btn7,
		slot0.btn8,
		slot0.btn9
	}
	slot0.btn11 = slot0:findTF(&quot;11&quot;, slot0.btnContainer)
	slot0.btn12 = slot0:findTF(&quot;12&quot;, slot0.btnContainer)
	slot0.btn13 = slot0:findTF(&quot;13&quot;, slot0.btnContainer)
	slot0.btn14 = slot0:findTF(&quot;14&quot;, slot0.btnContainer)
	slot0.btn15 = slot0:findTF(&quot;15&quot;, slot0.btnContainer)
	slot0.btn16 = slot0:findTF(&quot;16&quot;, slot0.btnContainer)
	slot0.btn17 = slot0:findTF(&quot;17&quot;, slot0.btnContainer)
	slot0.btn18 = slot0:findTF(&quot;18&quot;, slot0.btnContainer)
	slot0.btn19 = slot0:findTF(&quot;19&quot;, slot0.btnContainer)
	slot0.btnList2 = {
		slot0.btn11,
		slot0.btn12,
		slot0.btn13,
		slot0.btn14,
		slot0.btn15,
		slot0.btn16,
		slot0.btn17,
		slot0.btn18,
		slot0.btn19
	}
end

slot0.OnFirstFlush = function(slot0)
	onButton(slot0, slot0.btnShop, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.SKINSHOP)
	end, SFX_PANEL)
	slot0:initBtn(slot0.btnList1)
	slot0:initBtn(slot0.btnList2)
end

slot0.initBtn = function(slot0, slot1)
	onButton(slot0, slot1[1], function ()
		uv0:emit(ActivityMediator.GO_PRAY_POOL)
	end, SFX_PANEL)
	onButton(slot0, slot1[2], function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.SUMMARY)
	end, SFX_PANEL)
	onButton(slot0, slot1[3], function ()
		uv0:emit(ActivityMediator.SELECT_ACTIVITY, ActivityConst.ACTIVITY_TYPE_RETURN_AWARD_ID)
	end, SFX_PANEL)
	onButton(slot0, slot1[4], function ()
		uv0:emit(ActivityMediator.SELECT_ACTIVITY, ActivityConst.XIMU_LOGIN_ID)
	end, SFX_PANEL)
	onButton(slot0, slot1[5], function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.CHARGE, {
			wrap = ChargeScene.TYPE_DIAMOND
		})
	end, SFX_PANEL)
	onButton(slot0, slot1[6], function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.GETBOAT, {
			projectName = &quot;light&quot;
		})
	end, SFX_PANEL)
	onButton(slot0, slot1[7], function ()
		uv0:emit(ActivityMediator.SELECT_ACTIVITY, ActivityConst.SANDIEGO_PT_ID)
	end, SFX_PANEL)
	onButton(slot0, slot1[8], function ()
		uv0:emit(ActivityMediator.SELECT_ACTIVITY, ActivityConst.SKIN_U73)
	end, SFX_PANEL)
	onButton(slot0, slot1[9], function ()
		pg.TipsMgr.GetInstance():ShowTips(&quot;即将开放，敬请期待！&quot;)
	end, SFX_PANEL)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>