<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seventhinvitepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>seventhinvitepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SeventhInvitePage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.rtMarks = slot0._tf:Find(&quot;AD/progress&quot;)
	slot0.rtFinish = slot0._tf:Find(&quot;AD/award&quot;)
	slot0.rtBtns = slot0._tf:Find(&quot;AD/btn_list&quot;)
end

slot0.OnDataSetting = function(slot0)
	slot0.gameId = slot0.activity:getConfig(&quot;config_client&quot;).mini_game_id
	slot0.hubId = pg.mini_game[slot0.gameId].hub_id
	slot0.data = getProxy(MiniGameProxy):GetHubByHubId(slot0.hubId)
	slot0.ultimate = slot0.data.ultimate
	slot0.usedtime = slot0.data.usedtime
	slot0.maxtime = slot0.data:getConfig(&quot;reward_need&quot;)
end

slot0.OnFirstFlush = function(slot0)
	slot3 = slot0.rtBtns

	onButton(slot0, slot3:Find(&quot;go&quot;), function ()
		pg.m02:sendNotification(GAME.GO_MINI_GAME, uv0.gameId)
	end, SFX_PANEL)

	slot3 = slot0.rtBtns

	onButton(slot0, slot3:Find(&quot;get&quot;), function ()
		pg.m02:sendNotification(GAME.SEND_MINI_GAME_OP, {
			hubid = uv0.hubId,
			cmd = MiniGameOPCommand.CMD_ULTIMATE,
			args1 = {}
		})
	end, SFX_PANEL)
end

slot0.OnUpdateFlush = function(slot0)
	slot1 = slot0.maxtime
	slot2 = slot0.usedtime

	for slot7 = 1, slot0.rtMarks.childCount do
		setActive(slot0.rtMarks:GetChild(slot7 - 1):Find(&quot;mark&quot;), slot7 &lt;= slot2)
		setActive(slot8:Find(&quot;icon&quot;), slot7 == slot2 and slot0.ultimate == 0)
	end

	setActive(slot0.rtFinish:Find(&quot;got&quot;), slot0.ultimate == 1)
	setActive(slot0.rtBtns:Find(&quot;get&quot;), slot0.ultimate == 0 and slot2 == slot1)
	setActive(slot0.rtBtns:Find(&quot;got&quot;), slot0.ultimate == 1)
	setActive(slot0.rtBtns:Find(&quot;go&quot;), slot2 &lt; slot1)
	setActive(slot0.rtBtns:Find(&quot;red&quot;), slot2 &lt;= slot1 and slot0.ultimate ~= 1 and slot0.data.count &gt; 0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>