<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shioskinrepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>shioskinrepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ShioSkinRePage&quot;, import(&quot;.TemplatePage.SkinTemplatePage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.dayTF = slot0:findTF(&quot;day&quot;, slot0.bg)
	slot0.item1TF = slot0:findTF(&quot;item1&quot;, slot0.bg)
	slot0.item2TF = slot0:findTF(&quot;item2&quot;, slot0.bg)
	slot0.itemTFList = {
		slot0.item1TF,
		slot0.item2TF
	}
end

slot0.OnFirstFlush = function(slot0)
end

slot0.OnUpdateFlush = function(slot0)
	slot0.nday = slot0.activity.data3
	slot1 = #slot0.activity:getConfig(&quot;config_data&quot;)

	if slot0.dayTF then
		setText(slot0.dayTF, slot0.nday .. &quot;/&quot; .. slot1)
	end

	if checkExist(slot0.activity:getConfig(&quot;config_client&quot;).story, {
		slot0.nday
	}, {
		1
	}) then
		pg.NewStoryMgr.GetInstance():Play(slot2[slot0.nday][1])
	end

	for slot6 = 1, 2 do
		slot8 = slot6
		slot9 = slot0:findTF(&quot;item&quot;, slot0.itemTFList[slot6])
		slot11 = slot0.taskProxy:getTaskById(slot0.taskGroup[slot0.nday][slot6]) or slot0.taskProxy:getFinishTaskById(slot10)

		assert(slot11, &quot;without this task by id: &quot; .. slot10)

		slot12 = slot11:getConfig(&quot;award_display&quot;)[1]

		updateDrop(slot9, {
			type = slot12[1],
			id = slot12[2],
			count = slot12[3]
		})
		onButton(slot0, slot9, function ()
			uv0:emit(BaseUI.ON_DROP, uv1)
		end, SFX_PANEL)

		slot14 = slot11:getProgress()
		slot15 = slot11:getConfig(&quot;target_num&quot;)

		setText(slot0:findTF(&quot;description&quot;, slot7), slot11:getConfig(&quot;desc&quot;))
		setText(slot0:findTF(&quot;progressText&quot;, slot7), slot14 .. &quot;/&quot; .. slot15)
		setSlider(slot0:findTF(&quot;progress&quot;, slot7), 0, slot15, slot14)

		slot17 = slot0:findTF(&quot;get_btn&quot;, slot7)

		setActive(slot0:findTF(&quot;go_btn&quot;, slot7), slot11:getTaskStatus() == 0)
		setActive(slot17, slot19 == 1)
		setActive(slot0:findTF(&quot;got_btn&quot;, slot7), slot19 == 2)
		onButton(slot0, slot16, function ()
			uv0:emit(ActivityMediator.ON_TASK_GO, uv1)
		end, SFX_PANEL)
		onButton(slot0, slot17, function ()
			uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv1)
		end, SFX_PANEL)
	end
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>