<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skinencoreloginrepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>skinencoreloginrepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SkinEncoreLoginRePage&quot;, import(&quot;.SkinEncoreLoginPage&quot;))

slot0.GetTips = function(slot0)
	return pg.gametip.SkinDiscountHelp_Carnival.tip
end

slot0.GetCouponCountText = function(slot0)
	return string.format(&quot;&lt;color=#FFFFFF&gt;%s&lt;/color&gt;&quot;, slot0.couponCount)
end

slot0.GetGiftShopType = function(slot0)
	return ChargeScene.TYPE_PICK
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>