<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sofmapptpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>sofmapptpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SofmapPTPage&quot;, import(&quot;.TemplatePage.PtTemplatePage&quot;))
slot0.FADE_TIME = 0.5
slot0.SHOW_TIME = 1
slot0.FADE_OUT_TIME = 0.5
slot0.SpineActionByStep = {
	4,
	8,
	12,
	16,
	20
}

slot0.OnFirstFlush = function(slot0)
	uv0.super.OnFirstFlush(slot0)

	slot0.shop = slot0:findTF(&quot;shop&quot;, slot0.bg)
	slot0.shopAnim = GetComponent(slot0.shop, &quot;SpineAnimUI&quot;)
	slot0.sdContainer = slot0:findTF(&quot;sdcontainer&quot;, slot0.bg)
	slot0.spine = nil
	slot1 = GetSpineRequestPackage.New(&quot;mingshi_5&quot;, function (slot0)
		SetParent(slot0, uv0.sdContainer)

		uv0.spine = slot0
		uv0.spine.transform.localScale = Vector3.one

		if uv0.spine:GetComponent(&quot;SpineAnimUI&quot;) then
			slot1:SetAction(&quot;stand&quot;, 0)
		end

		uv0.spineLRQ = nil
	end)
	slot0.spineLRQ = slot1:Start()

	onButton(slot0, slot0:findTF(&quot;sdBtn&quot;, slot0.bg), function ()
		uv0:showBubble()
	end, SFX_PANEL)

	slot0.levelBtn = slot0:findTF(&quot;level_btn&quot;, slot0.bg)
	slot0.ptBtn = slot0:findTF(&quot;pt_btn&quot;, slot0.bg)
	slot0.bubble = slot0:findTF(&quot;bubble&quot;, slot0.bg)
	slot0.bubbleText = slot0:findTF(&quot;Text&quot;, slot0.bubble)
	slot0.bubbleCG = GetComponent(slot0.bubble, &quot;CanvasGroup&quot;)
	slot0.showBubbleTag = false

	onButton(slot0, slot0.getBtn, function ()
		slot0, slot1 = uv0.ptData:GetResProgress()

		uv0:emit(ActivityMediator.EVENT_PT_OPERATION, {
			cmd = 1,
			activity_id = uv0.ptData:GetId(),
			arg1 = slot1,
			callback = function ()
				uv0:showBubble(i18n(&quot;sofmapsd_3&quot;))
			end
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.levelBtn, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip.sofmap_attention.tip
		})
	end, SFX_PANEL)

	slot1 = {
		count = 0,
		type = DROP_TYPE_RESOURCE,
		id = slot0.ptData.resId
	}

	onButton(slot0, slot0.ptBtn, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_SINGLE_ITEM,
			drop = uv0
		})
	end, SFX_PANEL)
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)

	slot1, slot2, slot3 = slot0.ptData:GetResProgress()

	setText(slot0.progress, (slot3 &gt;= 1 and setColorStr(slot1, &quot;#68E9F4FF&quot;) or slot1) .. &quot;/&quot; .. slot2)

	slot4, slot5, slot6 = slot0.ptData:GetLevelProgress()

	if slot4 &lt;= uv0.SpineActionByStep[1] then
		slot0.shopAnim:SetAction(&quot;stand2&quot;, 0)
	elseif slot4 &lt;= uv0.SpineActionByStep[2] then
		slot0.shopAnim:SetAction(&quot;stand1&quot;, 0)
	elseif slot4 &lt;= uv0.SpineActionByStep[3] then
		slot0.shopAnim:SetAction(&quot;stand1x2&quot;, 0)
	elseif slot4 &lt;= uv0.SpineActionByStep[4] then
		slot0.shopAnim:SetAction(&quot;stand1x4&quot;, 0)
	elseif slot4 &lt;= uv0.SpineActionByStep[5] then
		slot0.shopAnim:SetAction(&quot;stand1x8&quot;, 0)
	end

	if not slot0.showBubbleTag then
		slot0:showBubble()

		slot0.showBubbleTag = true
	end
end

slot0.OnDestroy = function(slot0)
	if slot0.spineLRQ then
		slot0.spineLRQ:Stop()

		slot0.spineLRQ = nil
	end

	if slot0.spine then
		slot0.spine.transform.localScale = Vector3.one

		pg.PoolMgr.GetInstance():ReturnSpineChar(&quot;mingshi_5&quot;, slot0.spine)

		slot0.spine = nil
	end
end

slot0.showBubble = function(slot0, slot1)
	slot2 = nil

	if not slot1 then
		if isActive(slot0.battleBtn) then
			slot2 = i18n(&quot;sofmapsd_1&quot;)
		elseif isActive(slot0.getBtn) then
			slot2 = i18n(&quot;sofmapsd_2&quot;)
		elseif isActive(slot0.gotBtn) then
			slot2 = i18n(&quot;sofmapsd_4&quot;)
		end
	else
		slot2 = slot1
	end

	setText(slot0.bubbleText, slot2)

	slot4 = function()
		slot0 = LeanTween.value(go(uv0.bubble), 1, 0, uv1.FADE_OUT_TIME)
		slot0 = slot0:setOnUpdate(System.Action_float(uv2))

		slot0:setOnComplete(System.Action(function ()
			setActive(uv0.bubble, false)
		end))
	end

	LeanTween.cancel(go(slot0.bubble))
	setActive(slot0.bubble, true)

	slot5 = LeanTween.value(go(slot0.bubble), 0, 1, uv0.FADE_TIME)
	slot5 = slot5:setOnUpdate(System.Action_float(function (slot0)
		uv0.bubbleCG.alpha = slot0

		setLocalScale(uv0.bubble, Vector3.one * slot0)
	end))

	slot5:setOnComplete(System.Action(function ()
		LeanTween.delayedCall(go(uv0.bubble), uv1.SHOW_TIME, System.Action(uv2))
	end))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>