<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>springfesmainpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>springfesmainpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SpringFesMainPage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.go1 = slot0:findTF(&quot;1&quot;, slot0.bg)
	slot0.go2 = slot0:findTF(&quot;2&quot;, slot0.bg)
	slot0.go3 = slot0:findTF(&quot;3&quot;, slot0.bg)
	slot0.go4 = slot0:findTF(&quot;4&quot;, slot0.bg)
end

slot0.OnFirstFlush = function(slot0)
	onButton(slot0, slot0.go1, function ()
		uv0:emit(ActivityMediator.SELECT_ACTIVITY, 470)
	end)
	onButton(slot0, slot0.go2, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.COLORING)
	end)
	onButton(slot0, slot0.go3, function ()
		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.CHARGE, {
			wrap = 4
		})
	end)
	onButton(slot0, slot0.go4, function ()
		uv0:emit(ActivityMediator.SELECT_ACTIVITY, 473)
	end)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>