<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>towerclimbingsignpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>towerclimbingsignpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TowerClimbingSignPage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.icons = {
		slot0:findTF(&quot;AD/bg/npc1&quot;),
		slot0:findTF(&quot;AD/bg/npc2&quot;),
		slot0:findTF(&quot;AD/bg/npc3&quot;),
		slot0:findTF(&quot;AD/bg/npc4&quot;),
		slot0:findTF(&quot;AD/bg/npc5&quot;),
		slot0:findTF(&quot;AD/bg/npc6&quot;),
		slot0:findTF(&quot;AD/bg/npc7&quot;)
	}
	slot0.helpBtn = slot0:findTF(&quot;AD/help&quot;)
	slot0.goBtn = slot0:findTF(&quot;AD/go&quot;)
end

slot0.SetData = function(slot0)
	slot2 = getProxy(MiniGameProxy):GetHubByHubId(9)
	slot0.data = slot2
	slot0.ultimate = slot2.ultimate
	slot0.usedtime = slot2.usedtime
end

slot0.OnFirstFlush = function(slot0)
	slot0:SetData()
	onButton(slot0, slot0.goBtn, function ()
		pg.m02:sendNotification(GAME.GO_MINI_GAME, 13)
	end, SFX_PANEL)
	onButton(slot0, slot0.helpBtn, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip.towerclimbing_sign_help.tip
		})
	end, SFX_PANEL)
	slot0:UpdateSigned()
	slot0:CheckGet()
end

slot0.UpdateSigned = function(slot0)
	slot1 = slot0.data:getConfig(&quot;reward_need&quot;)
	slot2 = slot0.usedtime
	slot3 = slot0.ultimate == 0

	for slot7, slot8 in ipairs(slot0.icons) do
		setActive(slot8, slot7 &lt;= slot2)
	end
end

slot0.CheckGet = function(slot0)
	if slot0.ultimate == 0 then
		if slot0.usedtime &lt; slot0.data:getConfig(&quot;reward_need&quot;) then
			return
		end

		pg.m02:sendNotification(GAME.SEND_MINI_GAME_OP, {
			hubid = 9,
			cmd = MiniGameOPCommand.CMD_ULTIMATE,
			args1 = {}
		})
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>