<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>u110battlerepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>u110battlerepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;U110BattleRePage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.bg = slot0:findTF(&quot;AD&quot;)
	slot0.slider = slot0:findTF(&quot;slider&quot;, slot0.bg)
	slot0.step = slot0:findTF(&quot;step&quot;, slot0.bg)
	slot0.progress = slot0:findTF(&quot;progress&quot;, slot0.bg)
	slot0.desc = slot0:findTF(&quot;desc&quot;, slot0.bg)
	slot0.awardTF = slot0:findTF(&quot;award&quot;, slot0.bg)
	slot0.battleBtn = slot0:findTF(&quot;battle_btn&quot;, slot0.bg)
	slot0.getBtn = slot0:findTF(&quot;get_btn&quot;, slot0.bg)
	slot0.gotBtn = slot0:findTF(&quot;got_btn&quot;, slot0.bg)
	slot0.buildBtn = slot0:findTF(&quot;build_btn&quot;, slot0.bg)
end

slot0.OnDataSetting = function(slot0)
	slot0.taskIDList = _.flatten(slot0.activity:getConfig(&quot;config_data&quot;))
	slot0.taskProxy = getProxy(TaskProxy)
end

slot0.OnFirstFlush = function(slot0)
	onButton(slot0, slot0.battleBtn, function ()
		if not uv0.activity:getConfig(&quot;config_client&quot;).fightLinkActID or not getProxy(ActivityProxy):getActivityById(slot0) or slot1:isEnd() then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;challenge_end_tip&quot;))

			return
		end

		uv0:emit(ActivityMediator.SPECIAL_BATTLE_OPERA)
	end, SFX_PANEL)
	onButton(slot0, slot0.getBtn, function ()
		uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv0.curTaskVO)
	end, SFX_PANEL)
	onButton(slot0, slot0.buildBtn, function ()
		if not uv0.activity:getConfig(&quot;config_client&quot;).buildLinkActID or not getProxy(ActivityProxy):getActivityById(slot0) or slot1:isEnd() then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;challenge_end_tip&quot;))

			return
		end

		uv0:emit(ActivityMediator.EVENT_GO_SCENE, SCENE.GETBOAT, {
			projectName = BuildShipScene.PROJECTS.SPECIAL
		})
	end, SFX_PANEL)
end

slot0.OnUpdateFlush = function(slot0)
	slot1 = slot0:findCurTaskIndex()

	setText(slot0.step, slot1 .. &quot;/&quot; .. #slot0.taskIDList)

	slot3 = slot0.taskProxy:getTaskVO(slot0.taskIDList[slot1])
	slot0.curTaskVO = slot3

	setText(slot0.progress, (slot3:getConfig(&quot;target_num&quot;) &lt;= slot3:getProgress() and setColorStr(slot4, COLOR_GREEN) or slot4) .. &quot;/&quot; .. slot5)
	setSlider(slot0.slider, 0, slot5, slot4)

	slot6 = slot3:getConfig(&quot;award_display&quot;)[1]

	updateDrop(slot0.awardTF, {
		type = slot6[1],
		id = slot6[2],
		count = slot6[3]
	})
	onButton(slot0, slot0.awardTF, function ()
		uv0:emit(BaseUI.ON_DROP, uv1)
	end, SFX_PANEL)
	setText(slot0.desc, pg.task_data_template[slot2].desc)
	setActive(slot0.battleBtn, slot3:getTaskStatus() == 0)
	setActive(slot0.getBtn, slot9 == 1)
	setActive(slot0.gotBtn, slot9 == 2)
end

slot0.OnDestroy = function(slot0)
end

slot0.findCurTaskIndex = function(slot0)
	slot1 = nil

	for slot5, slot6 in ipairs(slot0.taskIDList) do
		if slot0.taskProxy:getTaskVO(slot6):getTaskStatus() &lt;= 1 then
			slot1 = slot5

			break
		elseif slot5 == #slot0.taskIDList then
			slot1 = slot5
		end
	end

	return slot1
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>