<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urexchangetaskpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>urexchangetaskpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;UrExchangeTaskPage&quot;, import(&quot;...base.BaseActivityPage&quot;))

slot0.OnInit = function(slot0)
	slot0.uilist = UIItemList.New(slot0:findTF(&quot;AD/task_list/content&quot;), slot0:findTF(&quot;AD/task_list/content/tpl&quot;))
	slot0.getBtn = slot0:findTF(&quot;AD/get_btn&quot;)
	slot0.gotBtn = slot0:findTF(&quot;AD/got_btn&quot;)
	slot0.unfinishBtn = slot0:findTF(&quot;AD/unfinish_btn&quot;)
end

slot0.OnDataSetting = function(slot0)
	if not slot0:GetTaskById(slot0.activity:getConfig(&quot;config_data&quot;)[1][1]) then
		pg.m02:sendNotification(GAME.ACTIVITY_OPERATION, {
			cmd = 1,
			activity_id = slot1.id
		})

		return true
	else
		return false
	end
end

slot0.OnUpdateFlush = function(slot0)
	slot3 = _.map(slot0.activity:getConfig(&quot;config_data&quot;)[1], function (slot0)
		return uv0:GetTaskById(slot0)
	end)
	slot4 = table.remove(slot3, #slot3)

	slot5 = function(slot0)
		if slot0:isFinish() and not slot0:isReceive() then
			return 0
		elseif slot0:isReceive() then
			return 2
		else
			return 1
		end
	end

	table.sort(slot3, function (slot0, slot1)
		return uv0(slot0) &lt; uv0(slot1)
	end)
	slot0.uilist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateTask(slot2, uv1[slot1 + 1])
		end
	end)
	slot0.uilist:align(#slot3)

	slot7 = slot4:isReceive()
	slot9 = slot4:isFinish() and not slot7 and _.all(slot3, function (slot0)
		return slot0:isFinish() and slot0:isReceive()
	end)

	onButton(slot0, slot0.getBtn, function ()
		if uv0 then
			uv1:emit(ActivityMediator.ON_TASK_SUBMIT, uv2)
		end
	end, SFX_PANEL)
	setActive(slot0.getBtn, slot9)
	setActive(slot0.unfinishBtn, not slot9 and not slot7)
	setActive(slot0.gotBtn, slot7)
end

slot0.GetTaskById = function(slot0, slot1)
	return getProxy(TaskProxy):getTaskById(slot1) or getProxy(TaskProxy):getFinishTaskById(slot1)
end

slot0.UpdateTask = function(slot0, slot1, slot2)
	assert(slot2)
	setText(slot1:Find(&quot;Text&quot;), slot2:getConfig(&quot;desc&quot;))

	slot3 = slot2:getConfig(&quot;award_display&quot;)[1]

	assert(slot3, slot2.id)
	assert(slot3)

	slot5 = slot1:Find(&quot;item&quot;)

	updateDrop(slot5, {
		type = slot3[1],
		id = slot3[2],
		count = slot3[3]
	})
	onButton(slot0, slot5, function ()
		uv0:emit(BaseUI.ON_DROP, uv1)
	end, SFX_PANEL)
	setActive(slot1:Find(&quot;mark&quot;), slot2:isFinish() and not slot2:isReceive())

	if slot6 and not slot7 then
		onButton(slot0, slot1, function ()
			uv0:emit(ActivityMediator.ON_TASK_SUBMIT, uv1)
		end, SFX_PANEL)
	else
		removeOnButton(slot1)
	end

	setActive(slot1:Find(&quot;progress_finish&quot;), slot6 and slot7)
	setSlider(slot1:Find(&quot;progress&quot;), 0, 1, slot2:getProgress() / slot2:getConfig(&quot;target_num&quot;))
	setText(slot1:Find(&quot;progress/Text&quot;), slot6 and &quot;&quot; or slot8 .. &quot;/&quot; .. slot9)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>