<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urextrafalgarpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>urextrafalgarpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;UrExTrafalgarPage&quot;, import(&quot;.TemplatePage.UrExchangeTemplatePage&quot;))
slot1 = pg.activity_holiday_site

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)

	slot0.icon = slot0:findTF(&quot;AD/icon&quot;)
	slot0.taskTypeDic = setmetatable({
		[uv0.MINI_GAME] = function (slot0, slot1)
			slot4 = getProxy(MiniGameProxy):GetHubByGameId(slot1[1]).count == 0

			return slot4 and &quot;1/1&quot; or &quot;0/1&quot;, not slot4 and function ()
				if getProxy(TaskProxy):getFinishTaskById(uv0[getProxy(ActivityProxy):getActivityById(ActivityConst.HOLIDAY_ACT_ID):getConfig(&quot;config_client&quot;).function_id[1]].task_id) then
					uv1:emit(ActivityMediator.GO_MINI_GAME, uv2)
				else
					pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;challenge_minigame_unlock&quot;))
				end
			end or nil
		end
	}, {
		__index = slot0.taskTypeDic
	})
end

slot0.OnFirstFlush = function(slot0)
	uv0.super.OnFirstFlush(slot0)
	setActive(slot0._tasksTF, false)
	setActive(slot0.icon, false)
	setActive(slot0._btnHelp, false)
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	setGray(slot0._btnExchange, true, true)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>