<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xiaotianeswimsuitskinpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>xiaotianeswimsuitskinpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;XiaotianeSwimsuitSkinPage&quot;, import(&quot;.TemplatePage.SkinTemplatePage&quot;))

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)

	slot0.rtDayImage = slot0.bg:Find(&quot;day_image&quot;)
	slot0.rtCharacter = slot0.bg:Find(&quot;character&quot;)
end

slot0.OnUpdateFlush = function(slot0)
	uv0.super.OnUpdateFlush(slot0)
	setText(slot0.dayTF, i18n(&quot;activity_permanent_progress&quot;) .. slot0.nday .. &quot;/&quot; .. #slot0.taskGroup)
	GetImageSpriteFromAtlasAsync(&quot;ui/activityuipage/xiaotianeswimsuitskinpage_atlas&quot;, tostring(slot0.nday), slot0.rtDayImage, true)

	if not slot0.model then
		slot1 = PoolMgr.GetInstance()

		slot1:GetSpineChar(&quot;xiaotiane_2&quot;, true, function (slot0)
			if uv0.model then
				return
			end

			uv0.model = slot0
			tf(slot0).localScale = Vector3(1, 1, 1)

			slot0:GetComponent(&quot;SpineAnimUI&quot;):SetAction(&quot;stand2&quot;, 0)
			setParent(slot0, uv0.rtCharacter)
		end)
	end
end

slot0.OnDestroy = function(slot0)
	if slot0.model then
		PoolMgr.GetInstance():ReturnSpineChar(&quot;xiaotiane_2&quot;, slot0.model)

		slot0.prefab1 = nil
		slot0.model1 = nil
	end

	uv0.super.OnDestroy(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>