<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yingxiv3framepage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>yingxiv3framepage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;YingxiV3FramePage&quot;, import(&quot;.TemplatePage.NewFrameTemplatePage&quot;))

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)

	slot0.gotTag = slot0:findTF(&quot;AD/switcher/phase2/got&quot;)
end

slot0.Switch = function(slot0, slot1)
	slot0.isSwitching = true
	slot2, slot3 = nil

	if slot1 then
		slot3 = slot0.phases[2]
		slot2 = slot0.phases[1]
	else
		slot3 = slot0.phases[1]
		slot2 = slot0.phases[2]
	end

	slot4 = GetOrAddComponent(slot2, typeof(CanvasGroup))

	slot3:SetAsLastSibling()
	setActive(slot2:Find(&quot;Image&quot;), false)
	setLocalPosition(go(slot2), slot3.localPosition)
	setActive(slot2:Find(&quot;label&quot;), true)
	LeanTween.value(go(slot2), 0, 1, 0.4):setOnUpdate(System.Action_float(function (slot0)
		uv0.alpha = slot0
	end))
	setActive(slot3:Find(&quot;Image&quot;), true)

	slot7 = GetOrAddComponent(slot3, typeof(CanvasGroup))

	LeanTween.value(go(slot3), 0, 1, 0.4):setOnUpdate(System.Action_float(function (slot0)
		uv0.alpha = slot0
	end))
	setActive(slot3:Find(&quot;label&quot;), false)
	setLocalPosition(go(slot3), slot2.localPosition)

	slot0.isSwitching = nil
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>