<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducateguidesequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducateguidesequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducateGuideSequence&quot;)
slot0.config = {
	NewEducateTalentLayer = {
		{
			id = &quot;tb2_1&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1
			end,
			args = function ()
				return {}
			end
		}
	},
	NewEducateMainScene = {
		{
			id = &quot;tb2_2&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1
			end,
			args = function ()
				return {}
			end,
			nextOne = function ()
				return &quot;tb2_3&quot;
			end
		},
		{
			id = &quot;tb2_3&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1 and not getProxy(NewEducateProxy):GetCurChar():GetFSM():GetState(NewEducateFSM.STYSTEM.TOPIC)
			end,
			args = function ()
				return {}
			end,
			nextOne = function ()
				return &quot;tb2_4&quot;
			end
		},
		{
			id = &quot;tb2_4&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1
			end,
			args = function ()
				return {}
			end,
			nextOne = function ()
				return &quot;tb2_5&quot;
			end
		},
		{
			id = &quot;tb2_5&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1
			end,
			args = function ()
				return {}
			end,
			nextOne = function ()
				return &quot;tb2_6&quot;
			end
		},
		{
			id = &quot;tb2_6&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1
			end,
			args = function ()
				return {}
			end,
			nextOne = function ()
				return &quot;tb2_7&quot;
			end
		},
		{
			id = &quot;tb2_7&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1
			end,
			args = function ()
				return {}
			end
		},
		{
			id = &quot;tb2_9&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 2
			end,
			args = function ()
				return {}
			end,
			nextOne = function ()
				return &quot;tb2_10&quot;
			end
		},
		{
			id = &quot;tb2_10&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 2
			end,
			args = function ()
				return {}
			end
		},
		{
			id = &quot;tb2_11&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 3
			end,
			args = function ()
				return {}
			end
		},
		{
			id = &quot;tb2_13&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 6
			end,
			args = function ()
				return {}
			end
		},
		{
			id = &quot;tb2_15&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 8
			end,
			args = function ()
				return {}
			end
		}
	},
	NewEducateScheduleScene = {
		{
			id = &quot;tb2_8&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 1
			end,
			args = function ()
				return {}
			end
		},
		{
			id = &quot;tb2_14&quot;,
			condition = function ()
				return getProxy(NewEducateProxy):GetCurChar():GetRoundData().round == 6
			end,
			args = function ()
				return {}
			end
		}
	}
}

slot0.CheckGuide = function(slot0, slot1)
	slot2 = slot1 or function ()
	end

	if NewEducateConst.LOCK_GUIDE then
		slot2()

		return
	end

	if getProxy(NewEducateProxy):GetCurChar():GetGameCnt() ~= 1 then
		slot2()

		return
	end

	if not underscore.detect(uv0.config[slot0] or {}, function (slot0)
		return not pg.NewStoryMgr.GetInstance():IsPlayed(slot0.id) and slot0.condition()
	end) then
		slot2()

		return
	end

	slot5 = slot4.id
	slot7 = slot4.args()

	if pg.SeriesGuideMgr.GetInstance():isRunning() then
		slot2()

		return
	end

	if not pg.NewGuideMgr.GetInstance():CanPlay() then
		slot2()

		return
	end

	slot8 = pg.m02

	slot8:sendNotification(GAME.STORY_UPDATE, {
		storyId = slot5
	})

	slot8 = pg.NewGuideMgr.GetInstance()

	slot8:Play(slot5, slot7, function ()
		if uv0.nextOne then
			slot0, slot1 = uv0.nextOne()

			uv1.PlayNextOne(slot0, slot1)
		end
	end, slot2)
end

slot0.PlayNextOne = function(slot0, slot1)
	if not slot0 then
		return
	end

	pg.NewGuideMgr.GetInstance():Play(slot0, slot1, function ()
	end)
	pg.m02:sendNotification(GAME.STORY_UPDATE, {
		storyId = slot0
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>