<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newbackyardthemetemplatemediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newbackyardthemetemplatemediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewBackYardThemeTemplateMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.FETCH_ALL_THEME = &quot;NewBackYardThemeTemplateMediator:FETCH_ALL_THEME&quot;
slot0.ON_CHARGE = &quot;NewBackYardThemeTemplateMediator:ON_CHARGE&quot;
slot0.ON_SHOPPING = &quot;NewBackYardShopMediator:ON_SHOPPING&quot;
slot0.ON_LIKE_THEME = &quot;NewBackYardThemeTemplateMediator:ON_LIKE_THEME&quot;
slot0.ON_COLECT_THEME = &quot;NewBackYardThemeTemplateMediator:ON_COLECT_THEME&quot;
slot0.ON_APPLY_TEMPLATE = &quot;NewBackYardThemeTemplateMediator:ON_APPLY_TEMPLATE&quot;
slot0.ON_UPLOAD_TEMPLATE = &quot;NewBackYardThemeTemplateMediator:ON_UPLOAD_TEMPLATE&quot;
slot0.ON_CANCEL_UPLOAD_TEMPLATE = &quot;NewBackYardThemeTemplateMediator:ON_CANCEL_UPLOAD_TEMPLATE&quot;
slot0.ON_DELETE_TEMPLATE = &quot;NewBackYardThemeTemplateMediator:ON_DELETE_TEMPLATE&quot;
slot0.GET_TEMPLATE_PLAYERINFO = &quot;NewBackYardThemeTemplateMediator:GET_TEMPLATE_PLAYERINFO&quot;
slot0.ON_DISPLAY_PLAYER_INFO = &quot;NewBackYardThemeTemplateMediator:ON_DISPLAY_PLAYER_INFO&quot;
slot0.ON_SEARCH = &quot;NewBackYardThemeTemplateMediator:ON_SEARCH&quot;
slot0.ON_REFRESH = &quot;NewBackYardThemeTemplateMediator:ON_REFRESH&quot;
slot0.ON_GET_THEMPLATE_DATA = &quot;NewBackYardThemeTemplateMediator:ON_GET_THEMPLATE_DATA&quot;
slot0.ON_GET_SPCAIL_TYPE_TEMPLATE = &quot;NewBackYardThemeTemplateMediator:ON_GET_SPCAIL_TYPE_TEMPLATE&quot;
slot0.GO_DECORATION = &quot;NewBackYardThemeTemplateMediator:GO_DECORATION&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.GO_DECORATION, function (slot0)
		uv0:sendNotification(GAME.GO_SCENE, SCENE.COURTYARD, {
			openDecoration = true
		})
	end)
	slot0:bind(uv0.ON_GET_SPCAIL_TYPE_TEMPLATE, function (slot0, slot1)
		uv0:sendNotification(GAME.BACKYARD_GET_SPECIFIED_TYPE_TEMPLATE, {
			type = slot1
		})
	end)
	slot0:bind(uv0.ON_GET_THEMPLATE_DATA, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.BACKYARD_GET_THEME_TEMPLATE_DATA, {
			templateId = slot1,
			callback = slot2
		})
	end)
	slot0:bind(uv0.ON_REFRESH, function (slot0, slot1, slot2, slot3, slot4)
		uv0:sendNotification(GAME.BACKYARD_REFRESH_SHOP_TEMPLATE, {
			timeType = slot3,
			type = slot1,
			page = slot2,
			force = slot4
		})
	end)
	slot0:bind(uv0.ON_SEARCH, function (slot0, slot1, slot2)
		if slot1 == BackYardConst.THEME_TEMPLATE_TYPE_CUSTOM or slot1 == BackYardConst.THEME_TEMPLATE_TYPE_COLLECTION then
			uv0.viewComponent:SearchKeyChange(slot2)
		elseif slot1 == BackYardConst.THEME_TEMPLATE_TYPE_SHOP then
			uv0:sendNotification(GAME.BACKYARD_SEARCH_THEME_TEMPLATE, {
				str = slot2
			})
		end
	end)
	slot0:bind(uv0.ON_SHOPPING, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.BUY_FURNITURE, {
			furnitureIds = slot1,
			type = slot2
		})
	end)
	slot0:bind(uv0.ON_DISPLAY_PLAYER_INFO, function (slot0, slot1, slot2, slot3)
		uv0.contextData.pos = slot2
		uv0.contextData.themeName = slot3

		uv0:sendNotification(GAME.FRIEND_SEARCH, {
			type = SearchFriendCommand.SEARCH_TYPE_RESUME,
			keyword = slot1
		})
	end)
	slot0:bind(uv0.GET_TEMPLATE_PLAYERINFO, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.BACKYARD_GET_THEME_TEMPLATE_PLAYE_INFO, {
			type = slot1,
			templateId = slot2.id,
			userId = slot2:GetUserId()
		})
	end)
	slot0:bind(uv0.ON_UPLOAD_TEMPLATE, function (slot0, slot1)
		if not getProxy(PlayerProxy):getData():CanUploadBackYardThemeTemplate() then
			uv0.contextData.msgBox:ExecuteAction(&quot;SetUp&quot;, {
				hideNo = true,
				content = i18n(&quot;backyard_theme_ban_upload_tip&quot;, slot2:GetBanUploadBackYardThemeTemplateTime())
			})

			return
		end

		if BackYardConst.MAX_UPLOAD_THEME_CNT &lt;= getProxy(DormProxy):GetUploadThemeTemplateCnt() then
			uv0.contextData.msgBox:ExecuteAction(&quot;SetUp&quot;, {
				hideNo = true,
				content = i18n(&quot;backyard_theme_upload_over_maxcnt&quot;)
			})

			return
		end

		uv0:sendNotification(GAME.BACKYARD_UPLOAD_THEME_TEMPLATE, {
			templateId = slot1.id
		})
	end)
	slot0:bind(uv0.ON_CANCEL_UPLOAD_TEMPLATE, function (slot0, slot1)
		uv0.contextData.msgBox:ExecuteAction(&quot;SetUp&quot;, {
			content = i18n(&quot;backyard_theme_cancel_template_upload_tip&quot;),
			onYes = function ()
				uv0:sendNotification(GAME.BACKYARD_UNLOAD_THEME_TEMPLATE, {
					templateId = uv1.id
				})
			end
		})
	end)
	slot0:bind(uv0.ON_DELETE_TEMPLATE, function (slot0, slot1)
		uv0.contextData.msgBox:ExecuteAction(&quot;SetUp&quot;, {
			content = i18n(&quot;backyard_theme_delete_themplate_tip&quot;),
			onYes = function ()
				uv0:sendNotification(GAME.BACKYARD_DELETE_THEME_TEMPLATE, {
					templateId = uv1.id
				})
			end
		})
	end)
	slot0:bind(uv0.ON_APPLY_TEMPLATE, function (slot0, slot1, slot2)
		slot4 = function()
			uv0:sendNotification(GAME.BACKYARD_APPLY_THEME_TEMPLATE, {
				template = uv1
			})
		end

		if not slot1:OwnThemeTemplateFurniture() then
			uv0.contextData.msgBox:ExecuteAction(&quot;SetUp&quot;, {
				type = BackYardThemeTemplateMsgBox.TYPE_IMAGE,
				content = i18n(&quot;backyard_theme_apply_tip1&quot;),
				srpiteName = slot1:GetTextureIconName(),
				md5 = slot1:GetIconMd5(),
				confirmTxt = i18n(&quot;backyard_theme_word_buy&quot;),
				cancelTxt = i18n(&quot;backyard_theme_word_apply&quot;),
				onYes = slot2,
				onCancel = slot4
			})

			return
		end

		slot4()
	end)
	slot0:bind(uv0.ON_LIKE_THEME, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.BACKYARD_LIKE_THEME_TEMPLATE, {
			templateId = slot1.id,
			uploadTime = slot2
		})
	end)
	slot0:bind(uv0.ON_COLECT_THEME, function (slot0, slot1, slot2, slot3)
		uv0:sendNotification(GAME.BACKYARD_COLLECT_THEME_TEMPLATE, {
			templateId = slot1.id,
			isCancel = slot2,
			uploadTime = slot3
		})
	end)
	slot0:bind(uv0.ON_CHARGE, function (slot0, slot1)
		if slot1 == PlayerConst.ResDiamond then
			pg.m02:sendNotification(GAME.GO_SCENE, SCENE.CHARGE, {
				wrap = ChargeScene.TYPE_DIAMOND
			})
		elseif slot1 == PlayerConst.ResDormMoney then
			pg.m02:sendNotification(GAME.GO_SCENE, SCENE.EVENT)
		end
	end)
	slot0:bind(uv0.FETCH_ALL_THEME, function (slot0, slot1)
		uv0:sendNotification(GAME.GET_ALL_BACKYARD_THEME_TEMPLATE, {
			callback = function (slot0, slot1, slot2)
				uv0.viewComponent:SetShopThemeTemplate(slot0)
				uv0.viewComponent:SetCustomThemeTemplate(slot1)
				uv0.viewComponent:SetCollectionThemeTemplate(slot2)
				uv1()
			end
		})
	end)
	slot0.viewComponent:SetDorm(getProxy(DormProxy):getData())
	slot0.viewComponent:SetPlayer(getProxy(PlayerProxy):getData())
end

slot0.listNotificationInterests = function(slot0)
	return {
		PlayerProxy.UPDATED,
		GAME.FRIEND_SEARCH_DONE,
		GAME.BACKYARD_REFRESH_SHOP_TEMPLATE_DONE,
		GAME.BACKYARD_GET_SPECIFIED_TYPE_TEMPLATE_DONE,
		GAME.BUY_FURNITURE_DONE,
		GAME.BACKYARD_APPLY_THEME_TEMPLATE_DONE,
		GAME.BACKYARD_SEARCH_THEME_TEMPLATE_DONE,
		GAME.BACKYARD_SEARCH_THEME_TEMPLATE_ERRO,
		GAME.BACKYARD_UNLOAD_THEME_TEMPLATE_DONE,
		GAME.BACKYARD_DELETE_THEME_TEMPLATE_DONE,
		GAME.BACKYARD_UPLOAD_THEME_TEMPLATE_DONE,
		DormProxy.THEME_TEMPLATE_UPDATED,
		DormProxy.DORM_UPDATEED,
		DormProxy.THEME_TEMPLATE_DELTETED,
		DormProxy.COLLECTION_THEME_TEMPLATE_ADDED,
		DormProxy.COLLECTION_THEME_TEMPLATE_DELETED,
		DormProxy.SHOP_THEME_TEMPLATE_DELETED,
		GAME.BACKYARD_REFRESH_SHOP_TEMPLATE_ERRO
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()
	slot4 = slot1:getType()

	if slot1:getName() == PlayerProxy.UPDATED then
		slot0.viewComponent:PlayerUpdated(slot3)
	elseif slot2 == DormProxy.THEME_TEMPLATE_UPDATED then
		slot5 = getProxy(DormProxy)
		slot7 = slot3.template

		if slot3.type == BackYardConst.THEME_TEMPLATE_TYPE_SHOP then
			slot0.viewComponent:ShopThemeTemplateUpdate(slot7)
		elseif slot6 == BackYardConst.THEME_TEMPLATE_TYPE_COLLECTION then
			slot0.viewComponent:CollectionThemeTemplateUpdate(slot7)
		elseif slot6 == BackYardConst.THEME_TEMPLATE_TYPE_CUSTOM then
			slot0.viewComponent:CustomThemeTemplateUpdate(slot7)
		end
	elseif slot2 == GAME.FRIEND_SEARCH_DONE then
		if slot3.list[1] then
			slot0:addSubLayers(Context.New({
				viewComponent = FriendInfoLayer,
				mediator = FriendInfoMediator,
				data = {
					backyardView = true,
					friend = slot3.list[1],
					pos = slot0.contextData.pos,
					msg = slot0.contextData.themeName
				}
			}))

			slot0.contextData.pos = nil
			slot0.contextData.themeName = nil
		end
	elseif slot2 == GAME.BACKYARD_REFRESH_SHOP_TEMPLATE_DONE then
		if slot3.existNew then
			BackYardThemeTempalteUtil.ClearAllCacheAsyn()
		end

		slot0.viewComponent:OnShopTemplatesUpdated(getProxy(DormProxy):GetShopThemeTemplates())
	elseif slot2 == DormProxy.DORM_UPDATEED then
		slot0.viewComponent:UpdateDorm(getProxy(DormProxy):getData())
	elseif slot2 == GAME.BUY_FURNITURE_DONE then
		slot0.viewComponent:FurnituresUpdated(slot4)
	elseif slot2 == GAME.BACKYARD_APPLY_THEME_TEMPLATE_DONE then
		slot0:sendNotification(GAME.GO_SCENE, SCENE.COURTYARD)
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;backyard_theme_apply_success&quot;))
	elseif slot2 == GAME.BACKYARD_SEARCH_THEME_TEMPLATE_DONE then
		slot0.viewComponent:ShopSearchKeyChange(slot3.template)
	elseif slot2 == GAME.BACKYARD_SEARCH_THEME_TEMPLATE_ERRO then
		slot0.viewComponent:ClearShopSearchKey()
	elseif slot2 == GAME.BACKYARD_UNLOAD_THEME_TEMPLATE_DONE then
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;backyard_theme_unload_success&quot;))
	elseif slot2 == DormProxy.THEME_TEMPLATE_DELTETED then
		slot0.viewComponent:DeleteCustomThemeTemplate(slot3.templateId)
	elseif slot2 == GAME.BACKYARD_DELETE_THEME_TEMPLATE_DONE then
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;backyard_theme_delete_success&quot;))
	elseif slot2 == GAME.BACKYARD_UPLOAD_THEME_TEMPLATE_DONE then
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;backyard_theme_upload_success&quot;))
	elseif slot2 == DormProxy.COLLECTION_THEME_TEMPLATE_ADDED then
		slot0.viewComponent:AddCollectionThemeTemplate(slot3.template)
	elseif slot2 == DormProxy.COLLECTION_THEME_TEMPLATE_DELETED then
		slot0.viewComponent:DeleteCollectionThemeTemplate(slot3.id)
	elseif slot2 == DormProxy.SHOP_THEME_TEMPLATE_DELETED then
		slot0.viewComponent:DeleteShopThemeTemplate(slot3.id)
	elseif slot2 == GAME.BACKYARD_REFRESH_SHOP_TEMPLATE_ERRO then
		slot0.viewComponent:OnShopTemplatesErro()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>