<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>praypoolconst.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>praypoolconst.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;PrayPoolConst&quot;)
slot0.SWITCH_TO_HOME_PAGE = &quot;SWITCH_TO_HOME_PAGE&quot;
slot0.SWITCH_TO_SELECT_POOL_PAGE = &quot;SWITCH_TO_SELECT_POOL_PAGE&quot;
slot0.SWITCH_TO_SELECT_SHIP_PAGE = &quot;SWITCH_TO_SELECT_SHIP_PAGE&quot;
slot0.CLICK_INDEX_BTN = &quot;CLICK_INDEX_BTN&quot;
slot0.CLICK_BUILD_BTN = &quot;CLICK_BUILD_BTN&quot;
slot0.START_BUILD_SHIP_EVENT = &quot;START_BUILD_SHIP_EVENT&quot;
slot0.BUILD_PRAY_POOL_CMD = &quot;BUILD_PRAY_POOL_CMD&quot;
slot0.BUILD_PRAY_POOL_SUCCESS = &quot;BUILD_PRAY_POOL_SUCCESS&quot;

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>