<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipmentskininfouiforshopwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>equipmentskininfouiforshopwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EquipmentSkinInfoUIForShopWindow&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;EquipmentSkinInfoUIForShop&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.displayPanel = slot0:findTF(&quot;display&quot;)
	slot0.displayActions = slot0.displayPanel:Find(&quot;actions&quot;)
	slot0.displayNameTxt = slot0:findTF(&quot;info/display_panel/name_container/name&quot;, slot0.displayPanel):GetComponent(typeof(Text))
	slot0.displayDescTxt = slot0:findTF(&quot;info/display_panel/desc&quot;, slot0.displayPanel):GetComponent(typeof(Text))
	slot0.playBtn = slot0:findTF(&quot;info/play_btn&quot;, slot0.displayPanel)
	slot0.confirmBtn = slot0._tf:Find(&quot;display/actions/confirm&quot;)

	setText(slot0:findTF(&quot;display/top/bg/infomation/title&quot;), i18n(&quot;words_information&quot;))
	setText(slot0:findTF(&quot;display/actions/cancel/upgrade&quot;), i18n(&quot;msgbox_text_cancel&quot;))
	setText(slot0:findTF(&quot;display/actions/confirm/change&quot;), i18n(&quot;shop_word_exchange&quot;))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SOUND_BACK)

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;display/top/btnBack&quot;), function ()
		uv0:Hide()
	end, SFX_CANCEL)

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;display/actions/cancel&quot;), function ()
		uv0:Hide()
	end, SFX_CANCEL)
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
	slot0:UpdateSkinView(slot1)

	slot0.showing = true
end

slot0.Open = function(slot0, slot1, slot2)
	onButton(slot0, slot0.confirmBtn, function ()
		slot0 = pg.equip_skin_template[uv0].name

		if uv1 then
			uv1(uv2, 1, slot0)
		end

		uv3:Hide()
	end, SFX_CANCEL)
	slot0:Show(slot1:getConfig(&quot;commodity_id&quot;) or slot1:getConfig(&quot;effect_args&quot;)[1])
end

slot0.UpdateSkinView = function(slot0, slot1)
	slot2 = slot0.displayPanel
	slot3 = pg.equip_skin_template[slot1]

	assert(slot3, &quot;miss config equip_skin_template &gt;&gt; &quot; .. slot1)

	slot0.displayNameTxt.text = slot3.name
	slot0.displayDescTxt.text = slot3.desc

	setScrollText(slot0:findTF(&quot;info/display_panel/equip_type/mask/Text&quot;, slot2), table.concat(_.map(slot3.equip_type, function (slot0)
		return EquipType.Type2Name2(slot0)
	end), &quot;,&quot;))
	onButton(slot0, slot0.playBtn, function ()
		uv0:emit(NewShopMainMediator.ON_ESKIN_PREVIEW, uv1)
	end, SFX_PANEL)
	updateDrop(slot0:findTF(&quot;info/equip&quot;, slot2), {
		type = DROP_TYPE_EQUIPMENT_SKIN,
		id = slot1
	})
end

slot0.Hide = function(slot0)
	if slot0.showing then
		uv0.super.Hide(slot0)
		pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)

		slot0.showing = false
	end
end

slot0.OnDestroy = function(slot0)
	slot0:Hide()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>