<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopsinglewindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>shopsinglewindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ShopSingleWindow&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;ShopsUISinglebox&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.itemTF = slot0:findTF(&quot;window/item&quot;)
	slot0.nameTF = slot0.itemTF:Find(&quot;display_panel/name_container/name/Text&quot;):GetComponent(typeof(Text))
	slot0.descTF = slot0.itemTF:Find(&quot;display_panel/desc/Text&quot;):GetComponent(typeof(Text))
	slot0.itemOwnTF = slot0.itemTF:Find(&quot;left/own&quot;)
	slot0.itemDetailTF = slot0.itemTF:Find(&quot;left/detail&quot;)
	slot0.confirmBtn = slot0:findTF(&quot;window/actions/confirm_btn&quot;)

	setText(slot0:findTF(&quot;window/actions/cancel_btn/pic&quot;), i18n(&quot;shop_word_cancel&quot;))
	setText(slot0:findTF(&quot;window/actions/confirm_btn/pic&quot;), i18n(&quot;shop_word_exchange&quot;))
	setText(slot0.itemTF:Find(&quot;ship_group/locked/Text&quot;), i18n(&quot;tag_ship_locked&quot;))
	setText(slot0.itemTF:Find(&quot;ship_group/unlocked/Text&quot;), i18n(&quot;tag_ship_unlocked&quot;))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0:findTF(&quot;window/actions/cancel_btn&quot;), function ()
		uv0:Close()
	end, SFX_CANCEL)

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;bg&quot;), function ()
		uv0:Close()
	end, SFX_CANCEL)
	onButton(slot0, slot0:findTF(&quot;window/top/btnBack&quot;), function ()
		uv0:Close()
	end, SFX_CANCEL)
end

slot0.Open = function(slot0, slot1, slot2)
	slot0.opening = true

	slot0:Show()
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
	slot0:InitWindow(slot1, slot2)
end

slot0.InitWindow = function(slot0, slot1, slot2)
	slot3 = {
		id = slot1:getConfig(&quot;commodity_id&quot;),
		type = slot1:getConfig(&quot;commodity_type&quot;),
		count = slot1:getConfig(&quot;num&quot;)
	}

	onButton(slot0, slot0.confirmBtn, function ()
		if uv0 then
			uv0(uv1, 1, uv2:getConfig(&quot;name&quot;))
		end

		uv3:Close()
	end, SFX_CANCEL)
	updateDrop(slot0.itemTF:Find(&quot;left/IconTpl&quot;), slot3)
	UpdateOwnDisplay(slot0.itemOwnTF, slot3)
	RegisterDetailButton(slot0, slot0.itemDetailTF, slot3)

	slot4 = slot3.type == DROP_TYPE_SHIP

	SetActive(slot0.itemTF:Find(&quot;ship_group&quot;), slot4)

	if slot4 then
		slot6 = tobool(getProxy(CollectionProxy):getShipGroup(pg.ship_data_template[slot3.id].group_type))

		SetActive(slot5:Find(&quot;unlocked&quot;), slot6)
		SetActive(slot5:Find(&quot;locked&quot;), not slot6)
	end

	slot0.descTF.text = slot3.desc or slot3:getConfig(&quot;desc&quot;)
	slot0.nameTF.text = slot3:getConfig(&quot;name&quot;)
end

slot0.Close = function(slot0)
	if slot0.opening then
		slot0.opening = false

		pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
		slot0:Hide()
	end
end

slot0.OnDestroy = function(slot0)
	if slot0.opening then
		slot0:Close()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>