<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventconst.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>eventconst.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">return {
	EVENT_OPEN_DOCK = &quot;event_open_dock&quot;,
	EVENT_LIST_UPDATE = &quot;event_list_update&quot;,
	EVENT_FLUSH_ALL = &quot;event_flush_all&quot;,
	EVENT_START = &quot;event_start&quot;,
	EVENT_FINISH = &quot;event_finish&quot;,
	EVENT_GIVEUP = &quot;event_giveup&quot;,
	EVENT_TYPE_NIGHT = 5
}
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>