<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandshipordercard.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandshipordercard.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandShipOrderCard&quot;)
slot1 = Color.New(0.2235294117647059, 0.7450980392156863, 1, 1)
slot2 = Color.New(0.8274509803921568, 0.8274509803921568, 0.8274509803921568, 1)
slot3 = Color.New(0.8588235294117647, 0.8588235294117647, 0.8588235294117647, 1)
slot4 = Color.New(1, 0.6823529411764706, 0.13333333333333333, 1)
slot5 = Color.New(1, 1, 1, 1)

slot0.Ctor = function(slot0, slot1)
	slot0._tf = slot1
	slot0.bgTr = slot1:Find(&quot;bg&quot;)
	slot0.bgImg = slot1:Find(&quot;bg&quot;):GetComponent(typeof(Image))
	slot0.request = slot1:Find(&quot;request&quot;)
	slot0.requestCG = GetOrAddComponent(slot0.request, typeof(CanvasGroup))
	slot0.uiRequestList = UIItemList.New(slot1:Find(&quot;request&quot;), slot1:Find(&quot;request/tpl&quot;))
	slot0.titleTr = slot1:Find(&quot;title&quot;)
	slot0.titleLineImg = slot1:Find(&quot;title/line&quot;):GetComponent(typeof(Image))
	slot0.titleTxt = slot1:Find(&quot;title/Text&quot;):GetComponent(typeof(Text))
	slot0.loadingTr = slot1:Find(&quot;state_loading&quot;)
	slot0.loadingRequest = slot1:Find(&quot;loading_request&quot;)
	slot0.loadingAward = slot1:Find(&quot;loading_award&quot;)
	slot0.finishTr = slot1:Find(&quot;state_finish&quot;)
	slot0.award = slot1:Find(&quot;award&quot;)
	slot0.uiAwardList = UIItemList.New(slot1:Find(&quot;award&quot;), slot1:Find(&quot;award/tpl&quot;))
	slot0.lockTr = slot1:Find(&quot;state_lock&quot;)
	slot0.normalTr = slot1:Find(&quot;normal_award&quot;)
	slot0.levelLockTr = slot1:Find(&quot;state_lock/level&quot;)
	slot0.levelLockTxt = slot0.levelLockTr:Find(&quot;Text&quot;):GetComponent(typeof(Text))
	slot0.resLockTr = slot1:Find(&quot;state_lock/gold&quot;)
	slot0.resLockTxt = slot0.resLockTr:Find(&quot;content/Text&quot;):GetComponent(typeof(Text))
	slot0.timeTxt = slot1:Find(&quot;loading_request/time/content/Text&quot;):GetComponent(typeof(Text))
	slot0.getBtn = slot1:Find(&quot;state_finish/get&quot;)
	slot0.signTr = slot1:Find(&quot;sign&quot;)
	slot0.resImg = slot1:Find(&quot;state_lock/gold/content/icon&quot;)

	setText(slot1:Find(&quot;loading_award/state/Text&quot;), i18n(&quot;island_order_get_label&quot;))
	setText(slot1:Find(&quot;normal_award/state/Text&quot;), i18n(&quot;island_order_get_label&quot;))
	setText(slot0.getBtn:Find(&quot;Text&quot;), i18n(&quot;island_order_get_label&quot;))

	slot0.animator = slot1:GetComponent(typeof(Animation))
	slot0.aniDft = slot1:GetComponent(typeof(DftAniEvent))
end

slot0.Flush = function(slot0, slot1, slot2)
	slot0.slot = slot1

	slot0:FlushMain(slot1, slot2)
	slot0:UpdateTimer(slot1)
end

slot0.FlushMain = function(slot0, slot1, slot2)
	slot0:SwitchMode(slot1, slot2)
	slot0:UpdateRequest(slot1)
	slot0:UpdateAward(slot1)
	slot0:UpdateLockTip(slot1)
	slot0:UpdateTitle(slot1)
end

slot0.PlayAniamtion = function(slot0, slot1, slot2, slot3)
	slot4 = function()
		slot0 = uv0.aniDft

		slot0:SetEndEvent(function ()
			uv0.aniDft:SetEndEvent(nil)

			if uv1 then
				uv1()
			end
		end)
	end

	if slot1 == IslandShipOrder.OP_TYPE_UNLOCK then
		slot4()
		slot0.animator:Play(&quot;anim_island_shiporder_unlock&quot;)
	elseif slot1 == IslandShipOrder.OP_TYPE_LOADUP and slot2 then
		slot4()
		slot0.animator:Play(&quot;anim_island_shiporder_intransit&quot;)
	elseif slot1 == IslandShipOrder.OP_TYPE_GET_AWARD then
		slot4()
		slot0.animator:Play(&quot;anim_island_shiporder_next&quot;)
	else
		slot3()
	end
end

slot0.PlayFinishAnimation = function(slot0, slot1, slot2)
	if slot1 then
		slot3 = Clone(slot0.slot)
		slot3.endTime = pg.TimeMgr.GetInstance():GetServerTime() + 10

		slot0:FlushMain(slot3, slot0.mode)
	end

	slot0.aniDft:SetEndEvent(nil)
	slot0.aniDft:SetEndEvent(function ()
		uv0.aniDft:SetEndEvent(nil)

		if uv1 then
			uv0:FlushMain(uv0.slot, uv0.mode)
		end

		if uv2 then
			uv2()
		end
	end)
	slot0.animator:Play(&quot;anim_island_shiporder_complete&quot;)
end

slot0.SwitchMode = function(slot0, slot1, slot2)
	slot0.mode = slot2

	slot0:UpdateStyle(slot1, slot2)
end

slot0.UpdateTimer = function(slot0, slot1)
	slot0:RemoveTimer()

	if slot1:IsSubmited() and not slot1:IsFinished() then
		slot0:AddTimer(slot1)
	elseif slot1:IsFinished() then
		slot0:PlayFinishAnimation(true)
	end
end

slot0.RemoveTimer = function(slot0)
	if slot0.timer then
		slot0.timer:Stop()

		slot0.timer = nil
	end
end

slot0.AddTimer = function(slot0, slot1)
	slot2 = slot1:GetEndTime()
	slot0.timer = Timer.New(function (slot0, slot1, slot2)
		slot4 = uv0 - pg.TimeMgr.GetInstance():GetServerTime()
		uv1.timeTxt.text = pg.TimeMgr.GetInstance():DescCDTime(slot4)

		if slot4 &lt;= 0 then
			uv1:RemoveTimer()
			uv1:PlayFinishAnimation(function ()
				uv0:Flush(uv1, uv0.mode)
			end)
		end
	end, 1, -1)

	slot0.timer.func()
	slot0.timer:Start()
end

slot0.UpdateTitle = function(slot0, slot1)
	if slot1:IsWaiting() then
		slot0.titleTxt.text = i18n(&quot;island_order_ship_worktime&quot;, pg.TimeMgr.GetInstance():DescCDTime(slot1:GetNeedTime()))
	elseif slot1:IsSubmited() and not slot1:IsFinished() then
		slot0.titleTxt.text = i18n(&quot;island_order_ship_working&quot;)
	elseif slot1:IsFinished() then
		slot0.titleTxt.text = i18n(&quot;island_order_ship_end_work&quot;)
	end
end

slot0.UpdateLockTip = function(slot0, slot1)
	slot2 = slot1:GetUnlockLevel()
	slot3 = slot1:GetUnlockGold()
	slot0.levelLockTxt.text = i18n(&quot;island_order_ship_unlock_tip&quot;)
	slot0.resLockTxt.text = &quot;X&quot; .. slot3.count .. i18n(&quot;island_order_ship_unlock_tip_2&quot;)

	GetImageSpriteFromAtlasAsync(&quot;island/&quot; .. pg.island_item_data_template[slot3.id].icon, &quot;&quot;, slot0.resImg)
end

slot0.UpdateAward = function(slot0, slot1)
	slot0.uiAwardList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			updateCustomDrop(slot2, Drop.New(uv0[slot1 + 1]))
		end
	end)
	slot0.uiAwardList:align(#slot1:GetOrder():GetAwardList())
end

slot0.UpdateRequest = function(slot0, slot1)
	slot0.uiRequestList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			GetImageSpriteFromAtlasAsync(&quot;island/&quot; .. (Drop.New(uv0[slot1 + 1]).icon or slot4:getConfig(&quot;icon&quot;)), &quot;&quot;, slot2:Find(&quot;icon&quot;))

			slot6 = slot4.state == 1
			slot7 = slot4:getOwnedCount()

			setText(slot2:Find(&quot;cnt&quot;), setColorStr(slot7 .. &quot;/&quot; .. slot4.count, (slot4.count &lt;= slot7 or slot6) and &quot;#39beff&quot; or &quot;#f36c6e&quot;))
			setActive(slot2:Find(&quot;finish&quot;), slot6)
			setActive(slot2:Find(&quot;loaded&quot;), slot6)
			setActive(slot2:Find(&quot;loaded_1&quot;), false)
			setActive(slot2:Find(&quot;enough&quot;), not slot6 and slot4.count &lt;= slot7)
		end
	end)
	slot0.uiRequestList:align(#slot1:GetOrder():GetConsumeList())
end

slot0.UpdateStyle = function(slot0, slot1, slot2)
	slot3 = slot1:IsLock()
	slot4 = slot1:IsWaiting()
	slot5 = slot1:IsFinished()
	slot6 = slot1:IsSubmited() and not slot5
	slot7 = slot1:CanUnlock()
	slot8 = slot2 == IslandShipOrderPage.MODE_REQUEST_VIEW
	slot9 = slot2 == IslandShipOrderPage.MODE_AWARD_VIEW

	setActive(slot0.loadingTr, slot6)
	setActive(slot0.loadingRequest, slot6 and slot8)
	setActive(slot0.loadingAward, slot6 and slot9)
	setActive(slot0.finishTr, slot5)
	setActive(slot0.request, not slot3 and slot8 and not slot5)
	setActive(slot0.award, not slot3 and slot9 or slot5)
	setActive(slot0.lockTr, slot3)
	setActive(slot0.normalTr, slot4 and slot9)
	setActive(slot0.levelLockTr, slot3 and not slot7)
	setActive(slot0.resLockTr, slot3 and slot7)
	setActive(slot0.titleTr, not slot3)

	slot0.requestCG.alpha = slot6 and 0.6 or 1
	slot0.titleTr.sizeDelta = slot4 and Vector2(360, 39) or Vector2(155, 39)

	slot0:UpdateBgColor(slot1)
	slot0:UpdateTitleColor(slot1)
end

slot0.UpdateBgColor = function(slot0, slot1)
	if slot1:IsSubmited() and not slot1:IsFinished() then
		setActive(slot0.bgTr, false)

		return
	end

	setActive(slot0.bgTr, true)

	slot0.bgImg.color = slot1:IsFinished() and uv0 or uv1
end

slot0.UpdateTitleColor = function(slot0, slot1)
	if slot1:IsFinished() then
		slot0.titleLineImg.color = uv0
	elseif slot1:IsSubmited() and not slot1:IsFinished() then
		slot0.titleLineImg.color = uv1
	elseif slot1:IsWaiting() then
		slot0.titleLineImg.color = uv2
	end

	slot0.titleTxt.color = slot1:IsWaiting() and uv2 or uv3
end

slot0.Dispose = function(slot0)
	slot0:RemoveTimer()
	slot0.aniDft:SetEndEvent(nil)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>