<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandshiporderloaduppage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandshiporderloaduppage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandShipOrderLoadUpPage&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandShipOrderLoadUpUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.mainTr = slot0:findTF(&quot;main&quot;)
	slot0.cntTxt = slot0:findTF(&quot;main/name/count&quot;):GetComponent(typeof(Text))
	slot0.submitBtn = slot0:findTF(&quot;main/btn/btn_1&quot;)
	slot0.noResBtn = slot0:findTF(&quot;main/btn/btn_2&quot;)
	slot0.awardCntTxt = slot0:findTF(&quot;main/price/Text&quot;):GetComponent(typeof(Text))
	slot0.nameTxt = slot0:findTF(&quot;main/name&quot;):GetComponent(typeof(Text))

	setText(slot0:findTF(&quot;main/title/Text&quot;), i18n(&quot;island_order_ship_loadup_award&quot;))
	setText(slot0:findTF(&quot;main/btn/btn_2/Text&quot;), i18n(&quot;island_order_ship_loadup_nores&quot;))
	setText(slot0:findTF(&quot;main/btn/btn_1/Text&quot;), i18n(&quot;island_order_ship_loadup&quot;))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:emit(IslandShipOrderPage.EVENT_CLOSE_LOAD_UP)
	end, SFX_PANEL)
	onButton(slot0, slot0.submitBtn, function ()
		if not uv0.slot or not uv0.index then
			return
		end

		uv0:emit(IslandMediator.SUBMIT_SHIP_ORDER_ITME, uv0.slot.id, uv0.index)
	end, SFX_PANEL)
end

slot0.Show = function(slot0, slot1, slot2, slot3)
	uv0.super.Show(slot0)

	slot0.slot = slot2
	slot0.index = slot3
	slot0.mainTr.localPosition = slot1
	slot5 = Drop.New(slot2:GetOrder():GetComsume(slot3))
	slot8 = slot5.count &lt;= slot5:getOwnedCount()
	slot0.cntTxt.text = setColorStr(slot6 .. &quot;/&quot; .. slot7, slot8 and &quot;#39beff&quot; or &quot;#f36c6e&quot;)
	slot0.nameTxt.text = slot5:getName()
	slot0.awardCntTxt.text = &quot;X&quot; .. slot2:GetOrder():GetConsumeAwards(slot3)[1].count

	setActive(slot0.submitBtn, slot8)
	setActive(slot0.noResBtn, not slot8)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>