<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandorderlevelinfopage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandorderlevelinfopage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandOrderLevelInfoPage&quot;, import(&quot;...base.IslandBasePage&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandOrderLevelInfoUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.levelTxt = slot0:findTF(&quot;frame/animroot/level&quot;):GetComponent(typeof(Text))
	slot0.expTr = slot0:findTF(&quot;frame/animroot/slider&quot;)
	slot0.expTxt = slot0:findTF(&quot;frame/animroot/exp&quot;):GetComponent(typeof(Text))
	slot0.cntTxt = slot0:findTF(&quot;frame/bg/Image/cnt&quot;):GetComponent(typeof(Text))
	slot0.uiItemList = UIItemList.New(slot0:findTF(&quot;frame/animroot/rect/content&quot;), slot0:findTF(&quot;frame/animroot/rect/content/tpl&quot;))
	slot0.animator = slot0._tf:GetComponent(typeof(Animation))
	slot0.aniDft = slot0._tf:GetComponent(typeof(DftAniEvent))
	slot0.canvasGroup = GetOrAddComponent(slot0._tf, typeof(CanvasGroup))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		slot0 = uv0

		slot0:PlayExitAnimation(function ()
			uv0:Hide()
		end)
	end, SFX_PANEL)
end

slot0.PlayExitAnimation = function(slot0, slot1)
	slot0.canvasGroup.blocksRaycasts = false

	slot0.aniDft:SetEndEvent(function ()
		uv0.canvasGroup.blocksRaycasts = true

		if uv1 then
			uv1()
		end
	end)
	slot0.animator:Play(&quot;anim_island_shiporder_LVinfo_out&quot;)
end

slot0.AddListeners = function(slot0)
	slot0:AddListener(IslandOrderAgency.ORDER_FINISH_UPDATE, slot0.OnReset)
end

slot0.RemoveListener = function(slot0)
	slot0:RemoveListener(IslandOrderAgency.ORDER_FINISH_UPDATE, slot0.OnReset)
end

slot0.OnReset = function(slot0)
	slot0:Flush()
end

slot0.Show = function(slot0)
	uv0.super.Show(slot0)
	slot0:Flush()
end

slot0.Flush = function(slot0)
	slot1 = getProxy(IslandProxy):GetIsland():GetOrderAgency()

	slot0:FlushLevelInfo(slot1)
	slot0:FlushList(slot1)
	slot0:FlushCnt(slot1)
end

slot0.FlushCnt = function(slot0, slot1)
	slot0.cntTxt.text = i18n(&quot;island_order_leftcnt_dispaly&quot;, slot1:GetLeftUrgentCnt())
end

slot0.FlushLevelInfo = function(slot0, slot1)
	slot0.levelTxt.text = &quot;Lv.&quot; .. slot1:GetLevel()

	if slot1:IsMaxLevel() then
		setSlider(slot0.expTr, 0, 1, 1)

		slot0.expTxt.text = &quot;MAX&quot;
	else
		slot2 = slot1:GetExp()
		slot3 = math.max(1, slot1:GetNextTargetExp())

		setSlider(slot0.expTr, 0, 1, slot2 / slot3)

		slot0.expTxt.text = &quot;&lt;size=60&gt;&lt;color=#ffaf1b&gt;&quot; .. slot2 .. &quot;&lt;/color&gt;&lt;/size&gt;&lt;color=#979797&gt;/&quot; .. slot3 .. &quot;&lt;/color&gt;&quot;
	end
end

slot0.FlushList = function(slot0, slot1)
	slot2 = pg.island_order_favor.all

	slot0.uiItemList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			uv1:UpdateCard(uv2, slot2, slot3)

			if uv2:IsGotAward(slot3) then
				uv3 = slot1 + 1
			end
		end
	end)
	slot0.uiItemList:align(#slot2)
	scrollTo(slot0.uiItemList.container.parent, 0, 1)
	slot0:ScrollTo(1, slot2)
end

slot0.ScrollTo = function(slot0, slot1, slot2)
	onNextTick(function ()
		slot4 = uv2.uiItemList.container.localPosition
		uv2.uiItemList.container.localPosition = Vector3(slot4.x - math.abs(uv2.uiItemList.container:GetChild(math.min(uv0, #uv1 * 0.5 - 1)).localPosition.x - uv2.uiItemList.container:GetChild(0).localPosition.x), slot4.y, 0)
	end)
end

slot0.UpdateCard = function(slot0, slot1, slot2, slot3)
	slot0:UpdateAwards(slot2, slot3)

	slot4 = slot1:IsGotAward(slot3)
	slot6 = slot1:CanGetAward(slot3) or slot4

	setActive(slot2:Find(&quot;got&quot;), slot4)
	setActive(slot2:Find(&quot;finish&quot;), slot6)
	setText(slot2:Find(&quot;num&quot;), setColorStr(slot3 &lt; 10 and &quot;0&quot; .. slot3 or slot3, slot6 and &quot;#FFFFFF&quot; or &quot;#979797&quot;))
	onButton(slot0, slot2, function ()
		if uv0 and not uv1 then
			uv2:emit(IslandMediator.ON_GET_ORDER_EXP_AWARD, uv3)
		end
	end, SFX_PANEL)
end

slot0.UpdateAwards = function(slot0, slot1, slot2)
	slot4 = UIItemList.New(slot1:Find(&quot;awards&quot;), slot1:Find(&quot;awards/IslandItemTpl&quot;))

	slot4:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			updateCustomDrop(slot2, Drop.Create(uv0[slot1 + 1]))
		end
	end)
	slot4:align(math.min(2, #pg.island_order_favor[slot2].award_display))
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>