<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maincommissionbtn4mellow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>maincommissionbtn4mellow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainCommissionBtn4Mellow&quot;, import(&quot;.MainCommissionBtn&quot;))

slot0.Ctor = function(slot0, slot1, slot2, slot3)
	uv0.super.Ctor(slot0, slot1, slot2, 0)

	slot0.animationPlayer = slot1:GetComponent(typeof(Animation))
end

slot0.OnClick = function(slot0)
	slot0.animationPlayer:Play(&quot;anim_newmain_extend_show&quot;)
	slot0:emit(NewMainMediator.OPEN_COMMISION)
end

slot0.ResetCommissionBtn = function(slot0)
	slot0.animationPlayer:Play(&quot;anim_newmain_extend_hide&quot;)
end

slot0.Flush = function(slot0, slot1)
	slot3 = getProxy(ContextProxy):getCurrentContext():getContextByMediator(CommissionInfoMediator)

	if not slot1 and not slot3 then
		slot0:ResetCommissionBtn()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>