<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maincamerabtn.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>maincamerabtn.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainCameraBtn&quot;, import(&quot;.MainBaseBtn&quot;))

slot0.OnClick = function(slot0)
	slot0:OpenCamera()
end

slot0.Flush = function(slot0, slot1)
	setActive(slot0._tf, true)
end

slot0.OpenCamera = function(slot0)
	if pg.SdkMgr.GetInstance():IsYunPackage() then
		pg.TipsMgr.GetInstance():ShowTips(&quot;指挥官，当前平台不支持该功能哦&quot;)

		return
	end

	slot1, slot2 = nil

	slot1 = function()
		uv0:emit(NewMainMediator.GO_SNAPSHOT)
	end

	slot2 = function()
		if PermissionHelper.IsAndroid() then
			pg.MsgboxMgr.GetInstance():ShowMsgBox({
				content = i18n(&quot;apply_permission_camera_tip3&quot;),
				onYes = function ()
					PermissionHelper.RequestCamera(uv0, uv1)
				end
			})
		elseif PermissionHelper.IsIOS() then
			pg.MsgboxMgr.GetInstance():ShowMsgBox({
				content = i18n(&quot;apply_permission_camera_tip2&quot;)
			})
		end
	end

	pg.MsgboxMgr.GetInstance():ShowMsgBox({
		content = i18n(&quot;apply_permission_camera_tip1&quot;),
		onYes = function ()
			PermissionHelper.RequestCamera(uv0, uv1)
		end
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>