<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginsceneconst.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>loginsceneconst.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;LoginSceneConst&quot;)
slot0.DEFINE = {
	SERVER_PANEL = 9,
	TRANSCODE_ALERT_VIEW = 5,
	ACCOUNT_BTN = 10,
	BG_LAY = 8,
	PRESS_TO_LOGIN = 7,
	REGISTER_PANEL_VIEW = 2,
	CURRENT_SERVER = 11,
	TENCENT_LOGIN_VIEW = 3,
	AIRI_LOGIN_PANEL_VIEW = 4,
	YOSTAR_ALERT_VIEW = 6,
	LOGIN_PANEL_VIEW = 1
}
slot0.SWITCH_SUB_VIEW = &quot;switch_sub_view&quot;
slot0.CLEAR_REGISTER_VIEW = &quot;clear_register_view&quot;

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>