<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newplayermediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newplayermediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewPlayerMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.ON_CREATE = &quot;NewPlayerMediator:ON_CREATE&quot;
slot0.ON_SKILLINFO = &quot;NewPlayerMediator:ON_SKILLINFO&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_CREATE, function (slot0, slot1, slot2)
		uv0:sendNotification(GAME.CREATE_NEW_PLAYER, {
			nickname = slot1,
			shipId = slot2
		})
	end)
	slot0:bind(uv0.ON_SKILLINFO, function (slot0, slot1)
		uv0:addSubLayers(Context.New({
			mediator = SkillInfoMediator,
			viewComponent = SkillInfoLayer,
			data = {
				fromNewShip = true,
				skillId = slot1
			}
		}))
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.CREATE_NEW_PLAYER_DONE,
		GAME.LOAD_PLAYER_DATA_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.CREATE_NEW_PLAYER_DONE then
		slot0.facade:sendNotification(GAME.LOAD_PLAYER_DATA, {
			isNewPlayer = true,
			id = slot3
		})
	elseif slot2 == GAME.LOAD_PLAYER_DATA_DONE then
		slot0:sendNotification(GAME.GO_SCENE, SCENE.MAINUI)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>