<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandgetshippage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandgetshippage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandGetShipPage&quot;, import(&quot;.IslandBaseShipDisplayPage&quot;))
slot1 = &quot;hi&quot;

slot0.getUIName = function(slot0)
	return &quot;IslandGetShipUI&quot;
end

slot0.NeedCache = function(slot0)
	return false
end

slot0.Preload = function(slot0, slot1, slot2)
	seriesAsync({
		function (slot0)
			uv0:PlayTimeline(slot0, uv1)
		end,
		function (slot0)
			uv0:PrepareCharacterScene(slot0)
		end
	}, function ()
		IslandGuideChecker.CheckGuide(&quot;ISLAND_GUIDE_12&quot;)
		existCall(uv0)
	end)
end

slot0.PlayTimeline = function(slot0, slot1, slot2)
	slot0:PlayGetShipTimeline(slot2:getConfig(&quot;unit_id&quot;), slot1)
end

slot0.OnLoaded = function(slot0)
	slot0.mainPanel = slot0._tf:Find(&quot;main&quot;)
	slot0.radarTr = slot0._tf:Find(&quot;main/rader&quot;)
	slot0.drawPolygon = slot0._tf:Find(&quot;main/rader/Quad&quot;):GetComponent(&quot;DrawPolygon&quot;)
	slot0.back = slot0._tf:Find(&quot;main/back&quot;)
	slot0.goBtn = slot0._tf:Find(&quot;main/go&quot;)
	slot0.chatTr = slot0._tf:Find(&quot;chat&quot;)
	slot0.chatTxt = slot0._tf:Find(&quot;chat/Text&quot;):GetComponent(typeof(Text))
	slot0.nameTxt = slot0._tf:Find(&quot;main/name&quot;):GetComponent(typeof(Text))
	slot1 = slot0._tf:Find(&quot;main/en&quot;)
	slot0.enNameTxt = slot1:GetComponent(typeof(Text))

	setActive(slot0.chatTr, false)

	slot0.radarTxts = {
		slot0:findTF(&quot;main/rader/1/Text&quot;):GetComponent(typeof(Text)),
		slot0:findTF(&quot;main/rader/2/Text&quot;):GetComponent(typeof(Text)),
		slot0:findTF(&quot;main/rader/3/Text&quot;):GetComponent(typeof(Text)),
		slot0:findTF(&quot;main/rader/4/Text&quot;):GetComponent(typeof(Text)),
		slot0:findTF(&quot;main/rader/5/Text&quot;):GetComponent(typeof(Text)),
		slot0:findTF(&quot;main/rader/6/Text&quot;):GetComponent(typeof(Text))
	}
end

slot0.GetActiveCamName = function(slot0)
	return IslandConst.GET_CHARA_CAMERA_NAME
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.back, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.goBtn, function ()
		uv0:Hide()
		uv0:OpenScenePage(IslandShipMainPage)
	end, SFX_PANEL)
	slot0:InitRaderTxt()
end

slot0.OnShow = function(slot0, slot1)
	slot0.ship = slot1

	setActive(slot0.mainPanel, false)
	slot0:LoadCharacter(slot0.ship:GetModel())
end

slot0.OnCharLoaded = function(slot0)
	slot0.passTime = 0
	slot0.animator = GetOrAddComponent(slot0.role.transform:GetChild(0), typeof(Animator))

	if not slot0.handle then
		slot0.handle = UpdateBeat:CreateListener(slot0.Update, slot0)
	end

	UpdateBeat:AddListener(slot0.handle)
	slot0:PlayAnimation()
	slot0:UpdateChat(slot0.ship)
end

slot0.Update = function(slot0)
	slot0.passTime = slot0.passTime + Time.deltaTime

	if slot0.animator:GetCurrentAnimatorStateInfo(0):IsName(uv0) and not slot0.endTime then
		slot0.endTime = slot0.passTime + slot1.length / slot0.animator.speed
	end

	if slot0.endTime and slot0.endTime &lt;= slot0.passTime then
		slot0:OnHelloAnimEnd()

		slot0.endTime = nil
	end
end

slot0.OnHelloAnimEnd = function(slot0)
	setActive(slot0.mainPanel, true)
	slot0:InitRader(slot0.ship)
	slot0:UpdateNames(slot0.ship)
	setActive(slot0.chatTr, false)

	if slot0.handle then
		UpdateBeat:RemoveListener(slot0.handle)

		slot0.handle = nil
	end
end

slot0.PlayAnimation = function(slot0)
	slot1 = Animator.StringToHash(uv0)

	for slot5 = 1, slot0.animator.layerCount do
		slot0.animator:CrossFadeInFixedTime(slot1, 0.2, slot5 - 1)
	end
end

slot0.GetSmoothRotateObject = function(slot0)
	return GetOrAddComponent(slot0:findTF(&quot;main/event&quot;), typeof(SmoothRotateObject))
end

slot0.UpdateChat = function(slot0, slot1)
	slot0.chatTxt.text = slot1:GetNewShipWord()
end

slot0.InitRaderTxt = function(slot0)
	for slot4, slot5 in ipairs(IslandShipAttr.ATTRS) do
		slot0.radarTxts[slot4].text = IslandShipAttr.ToChinese(slot5)
	end
end

slot0.InitRader = function(slot0, slot1)
	slot4 = {}
	slot5 = IslandCalcUtil.GetUnReHexPoints(slot0.radarTr.rect.width - 10, slot0.radarTr.rect.height - 10, 30)
	slot9 = 0
	slot10 = 0

	table.insert({}, Vector3(slot9, slot10, 0))

	for slot9, slot10 in ipairs(IslandShipAttr.ATTRS) do
		table.insert(slot3, slot0:GetPoint(slot5[slot9], slot1:GetAttr(slot10), 30))
		table.insert(slot4, 0)
		table.insert(slot4, slot9)

		if slot9 + 1 &gt; #slot2 then
			table.insert(slot4, 1)
		else
			table.insert(slot4, slot9 + 1)
		end
	end

	slot0.drawPolygon:draw(IslandCalcUtil.Vetor3Table2Array(slot3), slot4)
end

slot0.GetPoint = function(slot0, slot1, slot2, slot3)
	return Vector2.Normalize(slot1) * Vector2.Magnitude(slot1) * Mathf.Clamp01(slot2 / slot3)
end

slot0.UpdateNames = function(slot0, slot1)
	slot0.nameTxt.text = slot1:GetName()
	slot0.enNameTxt.text = slot1:GetEnName()
end

slot0.OnDestroy = function(slot0)
	uv0.super.OnDestroy(slot0)

	if slot0.handle then
		UpdateBeat:RemoveListener(slot0.handle)

		slot0.handle = nil
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>