<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandshipislandcommandermainpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandshipislandcommandermainpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandShipIslandCommanderMainPage&quot;, import(&quot;.IslandBaseShipDisplayPage&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandCommanderMainUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.backBtn = slot0:findTF(&quot;adapt/left_panel/back&quot;)
	slot0.homeBtn = slot0:findTF(&quot;adapt/home&quot;)

	setText(slot0:findTF(&quot;adapt/left_panel/title/Text&quot;), i18n(&quot;island_dressup_titile&quot;))
	setActive(slot0.homeBtn, false)
end

slot0.AddListeners = function(slot0)
end

slot0.RemoveListeners = function(slot0)
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0.homeBtn, function ()
		uv0:emit(BaseUI.ON_HOME)
	end, SFX_PANEL)
	onButton(slot0, slot0.backBtn, function ()
		if uv0:CheckDressIsDirty() then
			uv0:ShowMsgBox({
				type = IslandMsgBox.TYPE_COMMON,
				content = i18n(&quot;island_dressup_tip_1&quot;),
				onYes = function ()
					uv0.currentChildPage:SaveDressUpData()
					uv0:Hide()
				end,
				onNo = function ()
					uv0:Hide()
				end
			})
		else
			uv0:Hide()
		end
	end, SFX_PANEL)
end

slot0.Show = function(slot0)
	uv0.super.Show(slot0)
	slot0:Flush()

	slot1 = pg.island_unit_character[0]
	slot0.shipDressHelper = IslandShipDressHelperNew.New()
	slot2 = slot0.shipDressHelper

	slot2:SetShipId(0)
	slot0:LoadCharacter({
		model = slot1.model,
		animator = slot1.animator
	}, true)

	slot0.currentChildPage = slot0:OpenPage(IslandShipDressUpPageNew, 0, false, slot0.shipDressHelper, function (slot0)
		uv0:SetObjInitRotaion(slot0)
	end)
end

slot0.Flush = function(slot0)
end

slot0.GetSmoothRotateObject = function(slot0)
	return GetOrAddComponent(slot0:findTF(&quot;adapt/char&quot;), typeof(SmoothRotateObject))
end

slot0.OnCharLoaded = function(slot0)
	slot0.shipDressHelper:OnRoleLoaded(slot0.role.transform)
end

slot0.Hide = function(slot0)
	slot0.currentChildPage:Destroy()
	slot0.shipDressHelper:Destroy()
	uv0.super.Hide(slot0)

	if slot0.timer then
		slot0.timer:Stop()
	end
end

slot0.OnDestroy = function(slot0)
end

slot0.SetObjInitRotaion = function(slot0, slot1)
	slot2 = slot0:GetSmoothRotateObject()
	slot2.rotationSpeed = 5

	ReflectionHelp.RefSetProperty(typeof(SmoothRotateObject), &quot;targetRotation&quot;, slot2, slot1)

	if slot0.timer then
		slot0.timer:Stop()
	end

	slot0.timer = Timer.New(function ()
		uv0.rotationSpeed = pg.island_set.character_detail_camera_speed.key_value_int
	end, 0.5, 1)

	slot0.timer:Start()
end

slot0.CheckDressIsDirty = function(slot0)
	return slot0.currentChildPage:CheckDressIsDirty()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>