<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feastinvitationpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>feastinvitationpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;FeastInvitationPage&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;FeastInvitationUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.backBtn = slot0:findTF(&quot;return&quot;)
	slot0.scrollrect = slot0:findTF(&quot;left/scrollrect&quot;)
	slot0.uilist = UIItemList.New(slot0:findTF(&quot;left/scrollrect/conent&quot;), slot0:findTF(&quot;left/scrollrect/conent/tpl&quot;))
	slot0.resTicketTr = slot0:findTF(&quot;res/ticket&quot;)
	slot0.resGiftTr = slot0:findTF(&quot;res/gift&quot;)
	slot0.resTicket = slot0:findTF(&quot;res/ticket/Text&quot;):GetComponent(typeof(Text))
	slot0.resGift = slot0:findTF(&quot;res/gift/Text&quot;):GetComponent(typeof(Text))
	slot0.ticketTr = slot0:findTF(&quot;main/ticket&quot;)
	slot0.ticketMarkTr = slot0:findTF(&quot;main/ticket/finish&quot;)
	slot0.giftTr = slot0:findTF(&quot;main/gift&quot;)
	slot0.giftImg = slot0.giftTr:Find(&quot;icon&quot;):GetComponent(typeof(Image))
	slot0.giftMarkTr = slot0:findTF(&quot;main/gift/finish&quot;)
	slot0.ticketTxt = slot0.ticketTr:Find(&quot;make/Text&quot;):GetComponent(typeof(Text))

	setText(slot0.giftTr:Find(&quot;make/Text&quot;), i18n(&quot;feast_label_give_gift&quot;))
	setText(slot0.ticketTr:Find(&quot;finish/frame/label&quot;), i18n(&quot;feast_label_give_invitation_finish&quot;))
	setText(slot0.giftTr:Find(&quot;finish/frame/label&quot;), i18n(&quot;feast_label_give_gift_finish&quot;))

	slot0.painting = slot0:findTF(&quot;main/painting&quot;):GetComponent(typeof(Image))
	slot0.puzzlePage = FeastMakeTicketPage.New(slot0._tf, slot0.event)
	slot0.giveTicketPage = FeastGiveTicketPage.New(slot0._tf, slot0.event)
	slot0.giveGiftPage = FeastGiveGiftPage.New(slot0._tf, slot0.event)
	slot0.resWindow = FeastResWindow.New(slot0._tf, slot0.event)
	slot0.homeBtn = slot0:findTF(&quot;home&quot;)
end

slot0.OnInit = function(slot0)
	slot0:bind(FeastScene.ON_SKIP_GIVE_GIFT, function (slot0, slot1)
		uv0.giveTicketPage:ExecuteAction(&quot;Show&quot;, slot1)
	end)
	slot0:bind(FeastScene.ON_MAKE_TICKET, function (slot0)
		uv0:OnFlush()
		uv0:UpdateRes()
	end)
	slot0:bind(FeastScene.ON_GOT_TICKET, function (slot0)
		uv0:OnFlush()
	end)
	slot0:bind(FeastScene.ON_GOT_GIFT, function (slot0)
		uv0:OnFlush()
		uv0:UpdateRes()
	end)
	onButton(slot0, slot0.backBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.homeBtn, function ()
		uv0:emit(BaseUI.ON_HOME)
	end, SFX_PANEL)
end

slot0.OnFlush = function(slot0)
	if slot0.feastShip then
		slot0:UpdateMain(slot0.feastShip)
	end

	slot0:UpdateFeastShips(getProxy(FeastProxy):getRawData():GetInvitedFeastShipList())
end

slot0.Show = function(slot0)
	uv0.super.Show(slot0)
	pg.UIMgr.GetInstance():OverlayPanel(slot0._tf)
	slot0:UpdateFeastShips(getProxy(FeastProxy):getRawData():GetInvitedFeastShipList())
	slot0:UpdateRes()
	triggerToggle(slot0.toggles[1], true)
	scrollTo(slot0.scrollrect, 0, 1)
end

slot0.UpdateRes = function(slot0)
	slot1 = getProxy(FeastProxy)
	slot1, slot2 = slot1:GetConsumeList()
	slot3 = getProxy(ActivityProxy)
	slot3 = slot3:getActivityByType(ActivityConst.ACTIVITY_TYPE_VIRTUAL_BAG)
	slot0.ticketCnt = slot3:getVitemNumber(slot1)
	slot0.giftCnt = slot3:getVitemNumber(slot2)
	slot0.resTicket.text = slot0.ticketCnt
	slot0.resGift.text = slot0.giftCnt

	onButton(slot0, slot0.resTicketTr, function ()
		uv0.resWindow:ExecuteAction(&quot;Show&quot;, uv1)
	end, SFX_PANEL)
	onButton(slot0, slot0.resGiftTr, function ()
		uv0.resWindow:ExecuteAction(&quot;Show&quot;, uv1)
	end, SFX_PANEL)
end

slot0.UpdateFeastShips = function(slot0, slot1)
	slot0.toggles = {}

	slot0.uilist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			LoadSpriteAsync(&quot;FeastIcon/&quot; .. slot3:GetPrefab(), function (slot0)
				slot1 = uv0:Find(&quot;icon&quot;):GetComponent(typeof(Image))
				slot1.sprite = slot0

				slot1:SetNativeSize()
			end)
			setActive(slot2:Find(&quot;finish&quot;), slot3:GotGift() and slot3:GotTicket())
			onToggle(uv1, slot2, function (slot0)
				if slot0 then
					uv0:UpdateMain(uv1)
				end
			end, SFX_PANEL)
			table.insert(uv1.toggles, slot2)
		end
	end)
	slot0.uilist:align(#slot1)
end

slot1 = {
	[0] = i18n(&quot;feast_label_make_invitation&quot;),
	i18n(&quot;feast_label_give_invitation&quot;)
}

slot0.UpdateMain = function(slot0, slot1)
	setActive(slot0.ticketMarkTr, slot1:GotTicket())
	setActive(slot0.giftMarkTr, slot1:GotGift())

	slot0.ticketTxt.text = uv0[slot1:GetInvitationState()]
	slot2 = slot1:GetPrefab()

	LoadSpriteAsync(&quot;FeastPainting/&quot; .. slot2, function (slot0)
		uv0.painting.sprite = slot0

		uv0.painting:SetNativeSize()
	end)
	LoadSpriteAsync(&quot;FeastCharGift/&quot; .. slot2, function (slot0)
		uv0.giftImg.sprite = slot0

		uv0.giftImg:SetNativeSize()
	end)
	onButton(slot0, slot0.ticketTr, function ()
		if uv0:HasTicket() then
			uv1.giveTicketPage:ExecuteAction(&quot;Show&quot;, uv0)
		elseif not uv0:GotTicket() then
			if uv1.ticketCnt &lt;= 0 then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;feast_no_invitation&quot;))

				return
			end

			uv1.puzzlePage:ExecuteAction(&quot;Show&quot;, uv0)
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.giftTr, function ()
		if not uv0:GotTicket() then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;feast_cant_give_gift_tip&quot;))

			return
		end

		if uv1.giftCnt &lt;= 0 then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;feast_no_gift&quot;))

			return
		end

		if not uv0:GotGift() then
			uv1.giveGiftPage:ExecuteAction(&quot;Show&quot;, uv0)
		end
	end, SFX_PANEL)

	slot0.feastShip = slot1
end

slot0.Hide = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf, slot0._parentTf)

	if slot0.puzzlePage and slot0.puzzlePage:GetLoaded() and slot0.puzzlePage:isShowing() then
		slot0.puzzlePage:Hide()
	end

	if slot0.giveTicketPage and slot0.giveTicketPage:GetLoaded() and slot0.giveTicketPage:isShowing() then
		slot0.giveTicketPage:Hide()
	end

	if slot0.giveGiftPage and slot0.giveGiftPage:GetLoaded() and slot0.giveGiftPage:isShowing() then
		slot0.giveGiftPage:Hide()
	end

	if slot0.resWindow and slot0.resWindow:GetLoaded() and slot0.resWindow:isShowing() then
		slot0.resWindow:Hide()
	end

	uv0.super.Hide(slot0)

	slot0.feastShip = nil
end

slot0.onBackPressed = function(slot0)
	if slot0.puzzlePage and slot0.puzzlePage:GetLoaded() and slot0.puzzlePage:isShowing() then
		slot0.puzzlePage:Hide()

		return
	end

	if slot0.giveTicketPage and slot0.giveTicketPage:GetLoaded() and slot0.giveTicketPage:isShowing() then
		if not slot0.giveTicketPage:CanInterAction() then
			return
		end

		slot0.giveTicketPage:Hide()

		return
	end

	if slot0.giveGiftPage and slot0.giveGiftPage:GetLoaded() and slot0.giveGiftPage:isShowing() then
		if not slot0.giveGiftPage:CanInterAction() then
			return
		end

		slot0.giveGiftPage:Hide()

		return
	end

	if slot0.resWindow and slot0.resWindow:GetLoaded() and slot0.resWindow:isShowing() then
		slot0.resWindow:Hide()

		return
	end

	if slot0:isShowing() then
		slot0:Hide()
	end
end

slot0.OnDestroy = function(slot0)
	if slot0.puzzlePage then
		slot0.puzzlePage:Destroy()

		slot0.puzzlePage = nil
	end

	if slot0.giveTicketPage then
		slot0.giveTicketPage:Destroy()

		slot0.giveTicketPage = nil
	end

	if slot0.giveGiftPage then
		slot0.giveGiftPage:Destroy()

		slot0.giveGiftPage = nil
	end

	if slot0.resWindow then
		slot0.resWindow:Destroy()

		slot0.resWindow = nil
	end

	if slot0:isShowing() then
		slot0:Hide()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>