<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainactfeastbtn.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainactfeastbtn.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainActFeastBtn&quot;, import(&quot;.MainBaseActivityBtn&quot;))

slot0.InShowTime = function(slot0)
	slot0.config = {
		param = &quot;0&quot;,
		name = &quot;event_minigame&quot;,
		text_pic = &quot;text_event_minigame&quot;,
		type = 0,
		pic = &quot;event_minigame&quot;,
		id = 20,
		group_id = 5,
		order = 1,
		time = {
			&quot;default&quot;
		}
	}

	return getProxy(ActivityProxy):getActivityByType(ActivityConst.ACTIVITY_TYPE_FEAST) and not slot1:isEnd()
end

slot0.CustomOnClick = function(slot0)
	slot0:emit(NewMainMediator.GO_SCENE, SCENE.FEAST)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>