<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainacttolovebtn.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainacttolovebtn.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainActToLoveBtn&quot;, import(&quot;.MainBaseActivityBtn&quot;))

slot0.GetEventName = function(slot0)
	return &quot;event_tolove&quot;
end

slot0.GetActivityID = function(slot0)
	if not checkExist(slot0.config, {
		&quot;time&quot;
	}) then
		return nil
	end

	return slot1[1] == &quot;default&quot; and slot1[2] or nil
end

slot0.OnClick = function(slot0)
	if getProxy(ActivityProxy):getActivityById(ActivityConst.TOLOVE_MINIGAME_TASK_ID) == nil or slot1:isEnd() then
		pg.m02:sendNotification(GAME.LOAD_LAYERS, {
			parentContext = getProxy(ContextProxy):getCurrentContext(),
			context = Context.New({
				mediator = MedalCollectionTemplateMediator,
				viewComponent = ToLoveCollabMedalView,
				weight = LayerWeightConst.TOP_LAYER
			})
		})
	else
		uv0.super.OnClick(slot0)
	end
end

slot0.OnInit = function(slot0)
	if getProxy(ActivityProxy):getActivityById(ActivityConst.TOLOVE_MINIGAME_TASK_ID) ~= nil and not slot1:isEnd() then
		setActive(slot0.tipTr.gameObject, ToLoveCollabBackHillScene.IsShowMainTip())
	else
		setActive(slot0.tipTr.gameObject, false)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>