<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secondsummarypage2.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>secondsummarypage2.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SecondSummaryPage2&quot;, import(&quot;.SummaryAnimationPage&quot;))

slot0.OnInit = function(slot0)
	setPaintingPrefabAsync(slot0._tf:Find(&quot;paint_panel/painting&quot;), Ship.New({
		configId = slot0.summaryInfoVO.flagShipId
	}):getPainting(), &quot;chuanwu&quot;)
	setText(slot0._tf:Find(&quot;window_1/name&quot;), slot0.summaryInfoVO.name)
	setText(slot0._tf:Find(&quot;window_1/time/Text&quot;), &quot;「&quot; .. slot0.summaryInfoVO.registerTime .. &quot;」&quot;)
	setText(slot0._tf:Find(&quot;window_1/server/Text&quot;), &quot;「&quot; .. slot0.summaryInfoVO.serverName .. &quot;」&quot;)
	setText(slot0._tf:Find(&quot;window_1/day/Text&quot;), slot0.summaryInfoVO.days)

	slot2 = slot0.summaryInfoVO:hasGuild()

	setActive(slot0._tf:Find(&quot;window_2/has_guild&quot;), slot2)
	setActive(slot0._tf:Find(&quot;window_2/without&quot;), not slot2)

	slot3 = slot0._tf:Find(&quot;window_2/&quot; .. (slot2 and &quot;has_guild&quot; or &quot;without&quot;))

	if slot2 then
		setText(slot3:Find(&quot;guild_name/Text&quot;), &quot;「&quot; .. slot0.summaryInfoVO.guildName .. &quot;」&quot;)
	end

	setText(slot3:Find(&quot;chapter_name/Text&quot;), &quot;「&quot; .. slot0.summaryInfoVO.chapterName .. &quot;」&quot;)

	if slot0.summaryInfoVO.worldProgressTask &gt; 0 then
		setText(slot3:Find(&quot;world_name/Text&quot;), &quot;「&quot; .. pg.world_task_data[slot0.summaryInfoVO.worldProgressTask].name .. &quot;」&quot;)
	else
		setText(slot3:Find(&quot;world_name/Text&quot;), i18n(&quot;five_shujuhuigu&quot;))
	end

	setText(slot0._tf:Find(&quot;window_3/count/Text&quot;), slot0.summaryInfoVO.furnitureCount)
	setText(slot0._tf:Find(&quot;window_3/coin/Text&quot;), slot0.summaryInfoVO.furnitureWorth)
	setText(slot0._tf:Find(&quot;window_4/collection/Text&quot;), slot0.summaryInfoVO.collectionNum)
	setText(slot0._tf:Find(&quot;window_4/power/Text&quot;), slot0.summaryInfoVO.powerRaw)
	setText(slot0._tf:Find(&quot;window_4/ship/Text&quot;), slot0.summaryInfoVO.totalShipNum)
	setText(slot0._tf:Find(&quot;window_4/top_ship/Text&quot;), slot0.summaryInfoVO.topShipNum)
	setText(slot0._tf:Find(&quot;window_4/best_ship/Text&quot;), slot0.summaryInfoVO.bestShipNum)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>