<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secondsummarypage3.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>secondsummarypage3.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SecondSummaryPage3&quot;, import(&quot;.SummaryAnimationPage&quot;))

slot0.OnInit = function(slot0)
	setActive(slot0._tf:Find(&quot;propose_panel&quot;), slot0.summaryInfoVO.isProPose)
	setActive(slot0._tf:Find(&quot;un_panel&quot;), not slot0.summaryInfoVO.isProPose)

	if slot0.summaryInfoVO.isProPose then
		slot2 = slot0._tf:Find(&quot;propose_panel&quot;)

		setPaintingPrefabAsync(slot2:Find(&quot;paint_panel/painting&quot;), Ship.New({
			configId = slot0.summaryInfoVO.firstLadyId
		}):getPainting(), &quot;chuanwu&quot;)
		setText(slot2:Find(&quot;window_5/ship_name/Text&quot;), slot0.summaryInfoVO.firstProposeName)
		setText(slot2:Find(&quot;window_5/day/Text&quot;), slot0.summaryInfoVO.proposeTime)
		setText(slot2:Find(&quot;window_6/number/Text&quot;), slot0.summaryInfoVO.proposeCount)
		setText(slot2:Find(&quot;window_6/number_2/Text&quot;), slot0.summaryInfoVO.maxIntimacyNum)
	end
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0, slot1, slot0._tf:Find(slot0.summaryInfoVO.isProPose and &quot;propose_panel&quot; or &quot;un_panel&quot;))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>