<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secondsummarypage4.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>secondsummarypage4.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SecondSummaryPage4&quot;, import(&quot;.SummaryAnimationPage&quot;))
slot0.PerPageCount = 6
slot0.PageTypeFurniture = 1
slot0.PageTypeIconFrame = 2

slot0.OnInit = function(slot0)
	setActive(slot0._tf:Find(&quot;tip&quot;), slot0.summaryInfoVO.pageType == uv0.PageTypeFurniture)
	setActive(slot0._tf:Find(&quot;tip_2&quot;), slot1 == uv0.PageTypeIconFrame)

	slot2 = nil

	if slot1 == uv0.PageTypeFurniture then
		slot2 = slot0.summaryInfoVO.medalList
	elseif slot1 == uv0.PageTypeIconFrame then
		slot2 = slot0.summaryInfoVO.iconFrameList
	else
		assert(false, &quot;page type error&quot;)
	end

	slot3 = {}
	slot4 = uv0.PerPageCount * (slot0.summaryInfoVO.samePage - 1) + 1
	slot8 = #slot2

	for slot8 = slot4, math.min(slot4 + uv0.PerPageCount - 1, slot8) do
		table.insert(slot3, slot2[slot8])
	end

	slot5 = getProxy(AttireProxy)
	slot6 = UIItemList.New(slot0._tf:Find(&quot;scroll_rect/content&quot;), slot0._tf:Find(&quot;scroll_rect/content/item_tpl&quot;))

	slot6:make(function (slot0, slot1, slot2)
		slot3 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			setActive(slot2:Find(&quot;icon/Image&quot;), uv0 == uv1.PageTypeFurniture)
			setActive(slot2:Find(&quot;icon/frame&quot;), uv0 == uv1.PageTypeIconFrame)
			setActive(slot2:Find(&quot;date&quot;), uv0 == uv1.PageTypeFurniture)
			setText(slot2:Find(&quot;date&quot;), i18n(&quot;player_summary_data&quot;))
			setText(slot2:Find(&quot;from&quot;), i18n(&quot;player_summary_from&quot;))

			if uv2.summaryInfoVO.pageType == uv1.PageTypeFurniture then
				slot4 = uv3[slot3]
				slot6 = pg.furniture_data_template[slot4]

				GetImageSpriteFromAtlasAsync(&quot;furnitureicon/&quot; .. slot6.icon, &quot;&quot;, slot2:Find(&quot;icon/Image&quot;), true)
				setText(slot2:Find(&quot;controll/name/Text&quot;), slot6.name)
				setText(slot2:Find(&quot;from/Text&quot;), slot6.gain_by)
				setText(slot2:Find(&quot;date/Text&quot;), uv2.summaryInfoVO.furnitures[slot4] and slot5:getDate() or i18n(&quot;summary_page_un_rearch&quot;))
			elseif uv2.summaryInfoVO.pageType == uv1.PageTypeIconFrame then
				slot4, slot5 = unpack(uv3[slot3])
				slot6 = uv4:getAttireFrame(AttireConst.TYPE_ICON_FRAME, slot4)

				setLocalScale(slot2:Find(&quot;icon/frame&quot;), Vector3(slot5, slot5, slot5))
				PoolMgr.GetInstance():GetPrefab(slot6:getIcon(), slot6:getConfig(&quot;id&quot;), true, function (slot0)
					setParent(slot0, uv0:Find(&quot;icon/frame&quot;), false)
				end)
				setText(slot2:Find(&quot;controll/name/Text&quot;), slot6:getConfig(&quot;name&quot;))
				setText(slot2:Find(&quot;from/Text&quot;), slot6:getConfig(&quot;gain_by&quot;))
			else
				assert(false, &quot;logic error&quot;)
			end
		end
	end)
	slot6:align(#slot3)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>