<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summaryanimationpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>summaryanimationpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SummaryAnimationPage&quot;, import(&quot;.SummaryPage&quot;))

slot0.OnInit = function(slot0)
	assert(false, &quot;must be overwrite&quot;)
end

slot0.Show = function(slot0, slot1, slot2)
	setActive(slot0._tf, true)

	slot0.inAniming = true

	(slot2 or slot0._tf):GetComponent(typeof(DftAniEvent)):SetEndEvent(function (slot0)
		uv0.inAniming = nil

		if uv1 then
			uv1()
		end
	end)
end

slot0.inAnim = function(slot0)
	return slot0.inAniming
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>