<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summarypage4.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>summarypage4.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SummaryPage4&quot;, import(&quot;.SummaryAnimationPage&quot;))

slot0.OnInit = function(slot0)
	slot2 = slot0.summaryInfoVO.furnitures
	slot3 = {}

	for slot7 = 1, findTF(slot0._go, &quot;content&quot;).childCount do
		slot8 = slot1:GetChild(slot7 - 1)
		slot11 = slot2[tonumber(go(slot8).name)]

		triggerToggle(findTF(slot8, &quot;info&quot;), slot11)

		if slot11 then
			setText(slot9:Find(&quot;from/Text&quot;), slot11:getConfig(&quot;gain_by&quot;))
		else
			setText(slot9:Find(&quot;from/Text&quot;), pg.furniture_data_template[slot10] and slot12.gain_by or &quot;--：--:--&quot;)
		end

		setText(slot9:Find(&quot;date/Text&quot;), slot11 and slot11:getDate() or i18n(&quot;summary_page_un_rearch&quot;))
		table.insert(slot3, slot9)
	end

	setActive(slot0._go, false)
end

slot0.Clear = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>