<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>awardwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>awardwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AwardWindow&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;ActivitybonusWindow_nonPt&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.closeBtn = slot0:findTF(&quot;window/top/btnBack&quot;)
	slot0.uiItemList = UIItemList.New(slot0:findTF(&quot;window/panel/list&quot;), slot0:findTF(&quot;window/panel/list/item&quot;))
	slot0.currentTitle = slot0:findTF(&quot;window/pt/title&quot;):GetComponent(typeof(Text))
	slot0.currentTxt = slot0:findTF(&quot;window/pt/Text&quot;):GetComponent(typeof(Text))

	setText(slot0:findTF(&quot;window/top/bg/infomation&quot;), i18n(&quot;world_expedition_reward_display&quot;))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.closeBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot1 = slot0.uiItemList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateItem(slot1, slot2)
		end
	end)
end

slot0.UpdateItem = function(slot0, slot1, slot2)
	slot3 = slot0.awards[slot1 + 1]
	slot4 = slot2:Find(&quot;award&quot;)

	updateDrop(slot4, {
		type = slot3[1],
		id = slot3[2],
		count = slot3[3]
	})
	onButton(slot0, slot4, function ()
		uv0:emit(BaseUI.ON_DROP, uv1)
	end, SFX_PANEL)
	setActive(slot2:Find(&quot;award/mask&quot;), slot1 + 1 &lt;= slot0.finishIndex)
	setText(slot2:Find(&quot;target/title&quot;), slot0.targetTitle)
	setText(slot2:Find(&quot;target/Text&quot;), slot1 + 1)
	setText(slot2:Find(&quot;title/Text&quot;), &quot;PHASE  &quot; .. slot1 + 1)
end

slot0.Flush = function(slot0, slot1, slot2, slot3)
	slot0.awards = slot1
	slot0.finishIndex = slot2
	slot0.targetTitle = slot3[2]

	slot0.uiItemList:align(#slot0.awards)

	slot0.currentTitle.text = slot3[1]
	slot0.currentTxt.text = slot2

	slot0:Show()
end

slot0.Show = function(slot0)
	uv0.super.Show(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
end

slot0.Hide = function(slot0)
	uv0.super.Hide(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>