<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gloryawardwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>gloryawardwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;GloryAwardWindow&quot;, import(&quot;.PtAwardWindow&quot;))

slot1 = function(slot0)
	slot2 = getProxy(TaskProxy)

	slot0.UIlist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot4 = uv1:getTaskVO(uv0[slot1 + 1])

			setText(slot2:Find(&quot;title/Text&quot;), &quot;PHASE &quot; .. slot1 + 1)
			setText(slot2:Find(&quot;target/title&quot;), slot4:getConfig(&quot;desc&quot;))
			setText(slot2:Find(&quot;target/Text&quot;), &quot;&quot;)

			slot5 = slot4:getConfig(&quot;award_display&quot;)[1]

			updateDrop(slot2:Find(&quot;award&quot;), {
				type = slot5[1],
				id = slot5[2],
				count = slot5[3]
			})
			onButton(uv2.binder, slot2:Find(&quot;award&quot;), function ()
				uv0.binder:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
			setActive(slot2:Find(&quot;award/mask&quot;), slot4:isReceive())
		end
	end)
	slot0.UIlist:align(#slot0.taskList)
end

slot0.Show = function(slot0, slot1)
	slot0.taskList = slot1.taskList
	slot0.taskVO = slot1.taskVO

	uv0(slot0)

	slot0.totalTxt.text = slot0.taskVO:getProgress()
	slot0.totalTitleTxt.text = i18n(&quot;pt_total_count&quot;, i18n(&quot;pass_times&quot;))

	setActive(slot0._tf, true)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>