<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>killenemyawardwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>killenemyawardwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;KillEnemyAwardWindow&quot;, import(&quot;.PtAwardWindow&quot;))

slot1 = function(slot0, slot1, slot2, slot3)
	slot0.UIlist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			setText(slot2:Find(&quot;title/Text&quot;), &quot;PHASE &quot; .. slot1 + 1)
			setActive(slot2:Find(&quot;target/Text&quot;), false)
			setText(slot2:Find(&quot;target/title&quot;), uv1[slot1 + 1])
			setActive(slot2:Find(&quot;target/icon&quot;), false)
			updateDrop(slot2:Find(&quot;award&quot;), {
				type = slot3[1],
				id = slot3[2],
				count = slot3[3]
			}, {
				hideName = true
			})
			onButton(uv2.binder, slot2:Find(&quot;award&quot;), function ()
				uv0.binder:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
			setActive(slot2:Find(&quot;award/mask&quot;), slot1 + 1 &lt;= uv3)
		end
	end)
	slot0.UIlist:align(#slot1)
end

slot0.Show = function(slot0, slot1)
	uv0(slot0, slot1.dropList, slot1.descs, slot1.finishedIndex)
	setActive(slot0.ptTF, false)
	setActive(slot0._tf, true)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>