<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>returnerawardwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>returnerawardwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ReturnerAwardWindow&quot;, import(&quot;.PtAwardWindow&quot;))

slot1 = function(slot0, slot1, slot2, slot3)
	slot0.UIlist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]
			slot4 = uv1[slot1 + 1]
			uv2.resTitle = string.gsub(uv2.resTitle, &quot;：&quot;, &quot;&quot;)

			setText(slot2:Find(&quot;title/Text&quot;), &quot;PHASE &quot; .. slot1 + 1)
			setText(slot2:Find(&quot;target/Text&quot;), slot4)
			setText(slot2:Find(&quot;target/title&quot;), uv2.resTitle)
			updateDrop(slot2:Find(&quot;award&quot;), {
				type = slot3[1],
				id = slot3[2],
				count = slot3[3]
			}, {
				hideName = true
			})
			onButton(uv2.binder, slot2:Find(&quot;award&quot;), function ()
				uv0.binder:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
			setActive(slot2:Find(&quot;award/mask&quot;), table.contains(uv3, slot4))

			if slot2:Find(&quot;target/icon&quot;) and uv2.resIcon and uv2.resIcon ~= &quot;&quot; then
				setActive(slot2:Find(&quot;target/icon&quot;), true)
				LoadImageSpriteAsync(uv2.resIcon, slot2:Find(&quot;target/icon&quot;), false)
			else
				setActive(slot2:Find(&quot;target/icon&quot;), false)
			end
		end
	end)
	slot0.UIlist:align(#slot1)
end

slot0.Show = function(slot0, slot1)
	slot7 = Drop.New({
		type = DROP_TYPE_RESOURCE,
		id = slot1.resId
	}):getName()
	slot0.cntTitle = i18n(&quot;pt_total_count&quot;, slot7)
	slot0.resTitle = i18n(&quot;pt_count&quot;, slot7)
	slot0.cntTitle = string.gsub(slot0.cntTitle, &quot;：&quot;, &quot;&quot;)

	slot0:updateResIcon(slot1.resId, slot1.resIcon, slot1.type)
	uv0(slot0, slot1.dropList, slot1.targets, slot1.fetchList)

	slot0.totalTxt.text = slot1.count
	slot0.totalTitleTxt.text = slot0.cntTitle

	setActive(slot0._tf, true)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>