<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taskawardwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>taskawardwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TaskAwardWindow&quot;, import(&quot;.PtAwardWindow&quot;))

slot1 = function(slot0)
	slot2 = function(slot0)
		for slot4, slot5 in ipairs(uv0.tasklist) do
			if type(slot5) == &quot;table&quot; then
				for slot9, slot10 in ipairs(slot5) do
					if slot10 == slot0 then
						return slot4
					end
				end
			elseif slot0 == slot5 then
				return slot4
			end
		end
	end

	slot3 = getProxy(TaskProxy)
	slot4 = nil

	for slot8 = #_.flatten(slot0.tasklist), 1, -1 do
		if slot3:getFinishTaskById(slot1[slot8]) and slot10:isReceive() then
			slot4 = slot9
		end
	end

	slot4 = slot4 or slot1[(slot0.index - 1) * 2 + 1]

	slot0.UIlist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot4 = uv1:getTaskById(uv0[slot1 + 1]) or uv1:getFinishTaskById(slot3) or Task.New({
				id = slot3
			})
			slot5 = GetPerceptualSize(slot4:getConfig(&quot;name&quot;))

			setText(slot2:Find(&quot;title/Text&quot;), &quot;PHASE &quot; .. uv2(slot3))
			setText(slot2:Find(&quot;target/title&quot;), slot4:getConfig(&quot;name&quot;))
			setText(slot2:Find(&quot;target/Text&quot;), &quot;&quot;)

			if slot2:Find(&quot;target/icon&quot;) then
				if uv3.resIcon == &quot;&quot; then
					uv3.resIcon = nil
				end

				if uv3.resIcon then
					LoadImageSpriteAsync(uv3.resIcon, slot2:Find(&quot;target/icon&quot;), false)
				end

				setActive(slot2:Find(&quot;target/icon&quot;), uv3.resIcon)
				setActive(slot2:Find(&quot;target/mark&quot;), uv3.resIcon)
			end

			slot6 = slot4:getConfig(&quot;award_display&quot;)[1]

			updateDrop(slot2:Find(&quot;award&quot;), {
				type = slot6[1],
				id = slot6[2],
				count = slot6[3]
			})
			onButton(uv3.binder, slot2:Find(&quot;award&quot;), function ()
				uv0.binder:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
			setActive(slot2:Find(&quot;award/mask&quot;), slot4:isReceive() or uv4 and slot3 &lt; uv4)
		end
	end)
	slot0.UIlist:align(#slot1)
end

slot0.Show = function(slot0, slot1)
	slot0.tasklist = slot1.tasklist
	slot0.ptId = slot1.ptId
	slot0.totalPt = slot1.totalPt
	slot0.index = slot1.index or 1

	slot0:updateResIcon(slot1.resId, slot1.resIcon, slot1.type)
	uv0(slot0)

	slot0.totalTxt.text = slot0.totalPt
	slot0.totalTitleTxt.text = i18n(&quot;award_window_pt_title&quot;)

	setActive(slot0._tf, true)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>