<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlecolumncldcomponent.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlecolumncldcomponent.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = class(&quot;BattleColumnCldComponent&quot;, slot0.Battle.BattleCldComponent)
slot0.Battle.BattleColumnCldComponent = slot1
slot1.__name = &quot;BattleColumnCldComponent&quot;

slot1.Ctor = function(slot0, slot1, slot2)
	uv0.Battle.BattleColumnCldComponent.super.Ctor(slot0)

	slot0._range = slot1 * 0.5
	slot0._tickness = slot2 * 0.5
	slot0._box = pg.CldNode.New()
end

slot1.GetCldBox = function(slot0, slot1)
	return slot0._box:UpdateCylinder(slot1, slot0._tickness, slot0._range)
end

slot1.GetCldBoxSize = function(slot0)
	return {
		range = slot0._range,
		tickness = slot0._tickness
	}
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>