<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagrammainmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>instagrammainmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;InstagramMainMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.OPEN_CHAT = &quot;InstagramMainMediator:OPEN_CHAT&quot;
slot0.OPEN_JUUS = &quot;InstagramMainMediator:OPEN_JUUS&quot;
slot0.CLOSE_CHAT = &quot;InstagramMainMediator:CLOSE_CHAT&quot;
slot0.CLOSE_JUUS = &quot;InstagramMainMediator:CLOSE_JUUS&quot;
slot0.CHANGE_JUUS_TIP = &quot;InstagramMainMediator:CHANGE_JUUS_TIP&quot;
slot0.CHANGE_CHAT_TIP = &quot;InstagramMainMediator:CHANGE_CHAT_TIP&quot;
slot0.CLOSE_ALL = &quot;InstagramMainMediator:CLOSE_ALL&quot;
slot0.CLOSE_JUUS_DETAIL = &quot;InstagramMainMediator:CLOSE_JUUS_DETAIL&quot;
slot0.JUUS_BACK_PRESSED = &quot;InstagramMainMediator:JUUS_BACK_PRESSED&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.OPEN_CHAT, function (slot0)
		uv0:addSubLayers(Context.New({
			viewComponent = InstagramChatLayer,
			mediator = InstagramChatMediator
		}))
	end)
	slot0:bind(uv0.OPEN_JUUS, function (slot0)
		uv0:addSubLayers(Context.New({
			viewComponent = InstagramLayer,
			mediator = InstagramMediator
		}))
	end)
	slot0:bind(uv0.CLOSE_CHAT, function (slot0)
		uv0:removeSubLayers(InstagramChatMediator)
	end)
	slot0:bind(uv0.CLOSE_JUUS, function (slot0)
		uv0:removeSubLayers(InstagramMediator)
	end)
	slot0:bind(uv0.CLOSE_JUUS_DETAIL, function (slot0)
		uv0:sendNotification(InstagramMediator.CLOSE_DETAIL)
	end)
	slot0:bind(uv0.JUUS_BACK_PRESSED, function (slot0)
		uv0:sendNotification(InstagramMediator.BACK_PRESSED)
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		uv0.CHANGE_CHAT_TIP,
		uv0.CHANGE_JUUS_TIP,
		uv0.CLOSE_ALL
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == uv0.CHANGE_CHAT_TIP then
		slot0.viewComponent:ChangeChatTip()
	elseif slot2 == uv0.CHANGE_JUUS_TIP then
		slot0.viewComponent:ChangeJuusTip()
	elseif slot2 == uv0.CLOSE_ALL then
		slot0.viewComponent:closeView()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>