<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagrammainui.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>instagrammainui.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;InstagramMainUI&quot;, import(&quot;...base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;InstagramMainUI&quot;
end

slot0.init = function(slot0)
	slot0.bg = slot0:findTF(&quot;bg&quot;)
	slot0.helpBtn = slot0:findTF(&quot;mainPanel/helpBtn&quot;)
	slot0.chatBtn = slot0:findTF(&quot;mainPanel/left/chatBtn&quot;)
	slot0.juusBtn = slot0:findTF(&quot;mainPanel/left/juusBtn&quot;)
	slot0.musicPlayerView = MainMusicPlayerView.New(slot0._tf, slot0.event)

	slot0.musicPlayerView:SetExtra(slot0._tf:Find(&quot;MusicPlayer&quot;))
	slot0:ChangeChatTip()
	slot0:ChangeJuusTip()
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		groupName = &quot;Instagram&quot;,
		weight = LayerWeightConst.SECOND_LAYER
	})
end

slot0.didEnter = function(slot0)
	slot0:SetUp()
	slot0:FlushMusicPlayer()

	if slot0.contextData.current then
		SetActive(slot0:findTF(&quot;choose&quot;, slot0.chatBtn), slot0.contextData.current == &quot;chat&quot;)
		SetActive(slot0:findTF(&quot;choose&quot;, slot0.juusBtn), slot0.contextData.current == &quot;juus&quot;)
	else
		triggerButton(slot0.chatBtn)
	end
end

slot0.FlushMusicPlayer = function(slot0)
	if tobool(slot0.musicPlayerView:isShowing()) ~= (pg.BgmMgr.GetInstance():GetNow() == &quot;MainMusicPlayer&quot;) then
		if slot1 then
			slot0.musicPlayerView:ExecuteAction(&quot;Show&quot;, false)
		else
			slot0.musicPlayerView:ExecuteAction(&quot;Hide&quot;)
		end
	end
end

slot0.SetUp = function(slot0)
	onButton(slot0, slot0.bg, function ()
		uv0:OnClose()
	end, SFX_PANEL)
	onButton(slot0, slot0.helpBtn, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip.music_juus.tip
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.chatBtn, function ()
		uv0.contextData.current = &quot;chat&quot;

		if isActive(uv0:findTF(&quot;choose&quot;, uv0.juusBtn)) then
			uv0:emit(InstagramMainMediator.CLOSE_JUUS_DETAIL)
		end

		SetActive(uv0:findTF(&quot;choose&quot;, uv0.chatBtn), uv0.contextData.current == &quot;chat&quot;)
		SetActive(uv0:findTF(&quot;choose&quot;, uv0.juusBtn), uv0.contextData.current == &quot;juus&quot;)
		uv0:emit(InstagramMainMediator.OPEN_CHAT)
		uv0:emit(InstagramMainMediator.CLOSE_JUUS)
	end, SFX_PANEL)
	onButton(slot0, slot0.juusBtn, function ()
		uv0.contextData.current = &quot;juus&quot;

		SetActive(uv0:findTF(&quot;choose&quot;, uv0.chatBtn), uv0.contextData.current == &quot;chat&quot;)
		SetActive(uv0:findTF(&quot;choose&quot;, uv0.juusBtn), uv0.contextData.current == &quot;juus&quot;)
		uv0:emit(InstagramMainMediator.OPEN_JUUS)
		uv0:emit(InstagramMainMediator.CLOSE_CHAT)
	end, SFX_PANEL)
end

slot0.OnClose = function(slot0)
	if isActive(slot0:findTF(&quot;choose&quot;, slot0.juusBtn)) then
		slot0:emit(InstagramMainMediator.JUUS_BACK_PRESSED)
	else
		slot0:closeView()
	end
end

slot0.ChangeJuusTip = function(slot0)
	SetActive(slot0:findTF(&quot;tip&quot;, slot0.juusBtn), getProxy(InstagramProxy):ShouldShowTip())
end

slot0.ChangeChatTip = function(slot0)
	SetActive(slot0:findTF(&quot;tip&quot;, slot0.chatBtn), getProxy(InstagramChatProxy):ShouldShowTip())
end

slot0.willExit = function(slot0)
	slot0.musicPlayerView:Destroy()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>