<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandfindingpathplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandfindingpathplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandFindingPathPlayer&quot;, import(&quot;.IslandBasePerformancePlayer&quot;))

slot0.Play = function(slot0, slot1, slot2)
	slot0:emit(IslandBaseScene.LINK_CORE_EVENT, IslandProxy.START_PATHFINDER, {
		navData = {
			unitId = slot1.object,
			position = slot1.position,
			speed = slot1.speed,
			hide = slot1.hide,
			waitUntilDone = slot1.waitUntilDone,
			index = slot1.index
		},
		callback = slot2
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>