<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandperformanceactiveunitplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandperformanceactiveunitplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandPerformanceActiveUnitPlayer&quot;, import(&quot;.IslandBasePerformancePlayer&quot;))

slot0.Play = function(slot0, slot1, slot2)
	slot3 = slot1.unitType or IslandConst.UNIT_LIST_OBJ
	slot4 = defaultValue(slot1.show, true)
	slot5 = ipairs
	slot6 = slot1.unitIdList or {}

	for slot8, slot9 in slot5(slot6) do
		slot0:emit(IslandBaseScene.LINK_CORE_EVENT, IslandProxy.ACTIVE_OR_DISABLE_UNIT, slot9, slot3, slot4)
	end

	slot2()
end

slot0.Clear = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>