<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandcustomerhudpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandcustomerhudpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandCustomerHudPanel&quot;, import(&quot;Mod.Island.Core.View.IslandBaseHudPanel&quot;))

slot0.GetUIName = function(slot0)
	return &quot;IslandCustomerHud&quot;
end

slot0.OnInit = function(slot0)
	slot0.hudImage = slot0._tf:Find(&quot;hudImage&quot;)
	slot0.unitPosition = pg.island_world_objects[slot0.unitId].param.position
	slot0.images = pg.island_set.island_manage_bubble_resource.key_value_varchar
	slot0.durations = pg.island_set.island_manage_bubble_duration.key_value_varchar
	slot0.cds = pg.island_set.island_manage_bubble_cd.key_value_varchar

	GetImageSpriteFromAtlasAsync(slot0.images[math.random(#slot0.images)], &quot;&quot;, slot0.hudImage)

	slot0.timer = Timer.New(function ()
		uv0.active = not uv0.active

		if uv0.active then
			GetImageSpriteFromAtlasAsync(uv0.images[math.random(#uv0.images)], &quot;&quot;, uv0.hudImage)

			uv0.timer.duration = math.random(uv0.durations[1], uv0.durations[2])
		else
			uv0.timer.duration = math.random(uv0.cds[1], uv0.cds[2])
		end
	end, math.random(slot0.durations[1], slot0.durations[2]), -1)

	slot0.timer:Start()
end

slot0.OnDispose = function(slot0)
	slot0.timer:Stop()

	slot0.timer = nil

	uv0.super.OnDispose(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>