<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shipcustommsgbox.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>shipcustommsgbox.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ShipCustomMsgBox&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;ShipCustomMsgBox&quot;
end

slot0.OnInit = function(slot0)
	slot0.customMsgbox = slot0._tf
	slot1 = slot0.customMsgbox
	slot0.msgBoxItemPanel = slot1:Find(&quot;frame/bg/item_panel&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgboxItemContains = slot1:Find(&quot;frame/bg/item_panel/items&quot;)
	slot1 = slot0.msgboxItemContains
	slot0.msgBoxItemTpl = slot1:Find(&quot;equipmenttpl&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxItemContent = slot1:Find(&quot;frame/bg/item_panel/content&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxItemContent1 = slot1:Find(&quot;frame/bg/item_panel/content_num&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxCancelBtn = slot1:Find(&quot;frame/btns/cancel_btn&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxConfirmBtn = slot1:Find(&quot;frame/btns/confirm_btn&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxContent = slot1:Find(&quot;frame/bg/content&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBtnBack = slot1:Find(&quot;frame/top/btnBack&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxTitle = slot1:Find(&quot;frame/top/title_list/infomation/title&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxTitleEn = slot1:Find(&quot;frame/top/title_list/infomation/title_en&quot;)

	SetActive(slot0.customMsgbox, false)

	slot0.settings = {}

	onButton(slot0, slot0.msgBoxConfirmBtn, function ()
		if uv0.settings.onYes then
			uv0.settings.onYes()
		else
			uv0:hideCustomMsgBox()
		end
	end, SFX_PANEL)
	SetActive(slot0.msgBoxCancelBtn, not defaultValue(slot0.settings.hideNO, false))
	onButton(slot0, slot0.msgBoxCancelBtn, function ()
		if uv0.settings.onCancel then
			uv0.settings.onCancel()
		else
			uv0:hideCustomMsgBox()
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.customMsgbox, function ()
		uv0:hideCustomMsgBox()
	end, SFX_PANEL)
	onButton(slot0, slot0.msgBtnBack, function ()
		uv0:hideCustomMsgBox()
	end, SFX_CANCEL)
end

slot0.SetShareData = function(slot0, slot1)
	slot0.shareData = slot1
end

slot0.showCustomMsgBox = function(slot0, slot1)
	slot0.isShowCustomMsgBox = true
	slot0.settings = slot1

	setActive(slot0.customMsgbox, true)
	pg.UIMgr.GetInstance():OverlayPanel(slot0.customMsgbox, {
		groupName = LayerWeightConst.GROUP_SHIPINFOUI
	})

	slot2 = slot1.items and #slot1.items &gt; 0

	setActive(slot0.msgBoxItemPanel, slot2)
	setActive(slot0.msgBoxContent, not slot2)

	if slot2 then
		for slot8 = slot0.msgboxItemContains.childCount + 1, #slot1.items do
			cloneTplTo(slot0.msgBoxItemTpl, slot0.msgboxItemContains)
		end

		for slot8 = 1, slot0.msgboxItemContains.childCount do
			SetActive(slot0.msgboxItemContains:GetChild(slot8 - 1), slot8 &lt;= #slot3)

			if slot8 &lt;= #slot3 then
				slot10 = slot3[slot8]

				updateDrop(slot9, slot10)

				slot11 = 0

				if slot10.type == DROP_TYPE_RESOURCE then
					slot11 = slot0.shareData.player:getResById(slot10.id)
				elseif slot10.type == DROP_TYPE_ITEM then
					slot11 = getProxy(BagProxy):getItemCountById(slot10.id)
				end

				setText(slot9:Find(&quot;icon_bg/count&quot;), (slot11 &lt; slot10.count and &quot;&lt;color=#D6341DFF&gt;&quot; .. slot11 .. &quot;&lt;/color&gt;&quot; or &quot;&lt;color=#A9F548FF&gt;&quot; .. slot11 .. &quot;&lt;/color&gt;&quot;) .. &quot;/&quot; .. slot12)
			end
		end

		setText(slot0.msgBoxItemContent, slot1.content or &quot;&quot;)
		setText(slot0.msgBoxItemContent1, slot1.content1 or &quot;&quot;)
	else
		setText(slot0.msgBoxContent, slot1.content or &quot;&quot;)
	end

	if slot1.title then
		setText(slot0.msgBoxTitle, slot1.title.title)
		setText(slot0.msgBoxTitleEn, slot1.title.titleEn or &quot;&quot;)
	end
end

slot0.hideCustomMsgBox = function(slot0)
	slot0.isShowCustomMsgBox = nil

	SetActive(slot0.customMsgbox, false)
end

slot0.OnDestroy = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0.customMsgbox, slot0._tf)

	slot0.shareData = nil
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>