<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mapbuilderexsp.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mapbuilderexsp.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MapBuilderEXSP&quot;, import(&quot;.MapBuilderSPSeriesFull&quot;))

slot0.GetType = function(slot0)
	return MapBuilder.TYPEATELIERYUMIA
end

slot0.getUIName = function(slot0)
	return &quot;LevelSelectEXSPUI&quot;
end

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)

	slot1 = slot0._tf
	slot0.personalBtn = slot1:Find(&quot;Story/PersonalCard&quot;)
	slot0.personalPage = SecretsAbyssPersonalPage.New(slot0._tf, slot0, {})

	onButton(slot0, slot0.personalBtn, function ()
		uv0.personalPage:ExecuteAction(&quot;Show&quot;)
	end)
end

slot0.UpdateMapVO = function(slot0, slot1)
	uv0.super.UpdateMapVO(slot0, slot1)

	if slot0.activity:getConfig(&quot;config_client&quot;).roll_task then
		slot2 = slot0.personalPage

		slot2:RegisterRandomCallback(function ()
			uv0.sceneParent:emit(LevelMediator2.ON_UPDATE_LOWPRIORITY_TASK, uv0.activity:getConfig(&quot;config_client&quot;).roll_task)
		end)
	end
end

slot0.SetDisplayMode = function(slot0, slot1)
	uv0.super.SetDisplayMode(slot0, slot1)

	if slot0.contextData.displayMode == uv0.DISPLAY.BATTLE then
		quickPlayAnimation(slot0._tf, &quot;Anim_LevelSelectAtelierYumia_Battle_In&quot;)
	else
		quickPlayAnimation(slot0._tf, &quot;Anim_LevelSelectAtelierYumia_In&quot;)
	end
end

slot0.PlayerLevelTplAnimation = function(slot0, slot1, slot2)
	quickPlayAnimation(slot1, switch(slot2.status, {
		Lock = function ()
			return &quot;Anim_LevelSelectAtelierYumia_LevelTplLock_In&quot;
		end,
		Normal = function ()
			return &quot;Anim_LevelSelectAtelierYumia_LevelTpNormal_In&quot;
		end,
		Hard = function ()
			return &quot;Anim_LevelSelectAtelierYumia_LevelTpHard_In&quot;
		end
	}))
end

slot0.UpdateStory = function(slot0)
	slot1 = {}
	slot2 = pg.NewStoryMgr.GetInstance()
	slot3 = 0
	slot4 = 0
	slot5 = {}

	for slot9, slot10 in pairs(slot0.storyNodesDict) do
		slot12 = slot10:IsActive(slot0.activity, slot0.ptActivity)
		slot13 = slot10:IsReaded()

		if not _G.isActive(slot0.storyHolder:Find(tostring(slot10.id))) and slot12 then
			setActive(slot11, slot12)
			quickPlayAnimation(slot11, switch(slot10:GetType(), {
				[BossRushStoryNode.NODE_TYPE.NORMAL] = function ()
					return &quot;Anim_LevelSelectAtelierYumia_storytpl_In&quot;
				end,
				[BossRushStoryNode.NODE_TYPE.BATTLE] = function ()
					return &quot;Anim_LevelSelectAtelierYumia_bettletpl_In&quot;
				end,
				[BossRushStoryNode.NODE_TYPE.LOCATION] = function ()
					return &quot;Anim_LevelSelectAtelierYumia_Item_Lock_In&quot;
				end
			}, function ()
				assert(false)
			end))
		else
			setActive(slot11, slot12)
		end

		if slot10:GetType() ~= BossRushStoryNode.NODE_TYPE.LOCATION then
			slot3 = slot3 + (slot13 and 1 or 0)
			slot4 = slot4 + 1

			if slot13 then
				table.insert(slot5, slot10)
			end
		end

		if slot12 then
			slot14 = nil
			slot16 = slot10:GetParams(&quot;item_lock&quot;) and Drop.Create(slot15[2]) or nil
			slot14 = slot16 and slot16:getOwnedCount() &lt; slot16.count and &quot;item_lock&quot; or switch(slot10:GetType(), {
				[BossRushStoryNode.NODE_TYPE.NORMAL] = function ()
					return &quot;story&quot;
				end,
				[BossRushStoryNode.NODE_TYPE.BATTLE] = function ()
					return &quot;battle&quot;
				end,
				[BossRushStoryNode.NODE_TYPE.LOCATION] = function ()
					return &quot;location&quot;
				end
			})

			eachChild(slot11, function (slot0, slot1)
				setActive(slot0, slot0.name == uv0)
			end)
			switch(slot14, {
				story = function (slot0)
					setText(slot0:Find(&quot;name/Text&quot;), uv0:GetName())
					onButton(uv1, slot0, function ()
						if uv0 then
							return
						end

						uv2:PlayStory(uv1:GetStory(), function ()
							uv0:UpdateView()
							uv0:CheckAutoShowPersonal()
						end)
					end)
				end,
				battle = function (slot0)
					setText(slot0:Find(&quot;name/Text&quot;), uv0:GetName())
					onButton(uv1, slot0, function ()
						if uv0 then
							return
						end

						uv2:PlayStory(uv1:GetStory(), function ()
							uv0:UpdateView()
							uv0:CheckAutoShowPersonal()
						end)
					end)
				end,
				location = function (slot0)
					setText(slot0:Find(&quot;name/Text&quot;), uv0:GetName())

					if PLATFORM_CODE ~= PLATFORM_US then
						setActive(slot0:Find(&quot;en&quot;), true)
						setText(slot0:Find(&quot;en&quot;), uv0:getConfig(&quot;en_name&quot;))
					end
				end
			}, function ()
				warning(&quot;error state without any display:&quot;, uv0)
			end, slot11:Find(slot14))
		end
	end

	setText(slot0.progressText, slot3 .. &quot;/&quot; .. slot4)
	setActive(slot0.storyAward, tobool(slot0.storyTask))

	if slot0.storyTask then
		updateDrop(slot0.storyAward:GetChild(0), Drop.Create(slot0.storyTask:getConfig(&quot;award_display&quot;)[1]))
		setActive(slot0.storyAward:Find(&quot;get&quot;), slot0.storyTask:getTaskStatus() == 1)
		setActive(slot0.storyAward:Find(&quot;got&quot;), slot8 == 2)
		onButton(slot0, slot0.storyAward, function ()
			uv0:emit(BaseUI.ON_DROP, uv1)
		end)
	end

	table.sort(slot5, function (slot0, slot1)
		return slot0:getConfig(&quot;id&quot;) &lt; slot1:getConfig(&quot;id&quot;)
	end)

	slot6 = slot5[#slot5]
	slot7 = nil
	slot8 = #slot5 - 1

	while slot8 &gt; 0 do
		if #slot0.personalPage:GetActivitySingleEventOption(slot5[slot8]) &gt; 0 then
			slot7 = slot5[slot8]

			break
		end

		slot8 = slot8 - 1
	end

	if slot6 and #slot0.personalPage:GetActivitySingleEventOption(slot6) &gt; 0 or slot7 and #slot0.personalPage:GetActivitySingleEventOption(slot7) &gt; 0 then
		setActive(slot0.personalBtn, true)
	else
		setActive(slot0.personalBtn, false)
	end

	slot0.personalPage:SetBossRushNode(slot6, slot7 and slot7 or slot6)

	if slot3 == slot4 then
		slot0.personalPage:UnlockRandom()
	end

	if slot0.activity:getConfig(&quot;config_client&quot;).first_story then
		pg.NewStoryMgr.GetInstance():Play(slot0.activity:getConfig(&quot;config_client&quot;).first_story)
	end
end

slot0.CheckAutoShowPersonal = function(slot0)
	if #slot0.personalPage:GetActivitySingleEventOption(slot0.personalPage:GetCurrentEvent()) &gt; 0 then
		slot0.personalPage:SetUpgrade()
		slot0.personalPage:ExecuteAction(&quot;Show&quot;)
		slot0.personalPage:ExecuteAction(&quot;UpdateView&quot;)
	end
end

slot0.presonalRandomData = nil

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>