<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mapbuilderatelier.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mapbuilderatelier.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MapBuilderAtelier&quot;, import(&quot;.MapBuilderNormal&quot;))

slot0.GetType = function(slot0)
	return MapBuilder.TYPEATELIER
end

slot0.OnShow = function(slot0)
	uv0.super.OnShow(slot0)
	setImageSprite(slot0.sceneParent.actEliteBtn, GetSpriteFromAtlas(&quot;ui/levelmainscene_atlas&quot;, &quot;btn_lianjin&quot;), true)
end

slot0.OnHide = function(slot0)
	setImageSprite(slot0.sceneParent.actEliteBtn, GetSpriteFromAtlas(&quot;ui/levelmainscene_atlas&quot;, &quot;btn_elite&quot;), true)
	uv0.super.OnHide(slot0)
end

slot0.UpdateButtons = function(slot0)
	uv0.super.UpdateButtons(slot0)
	setActive(slot0.sceneParent.actAtelierBuffBtn, Map.ACTIVITY_EASY &lt; slot0.data:getConfig(&quot;type&quot;))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>