<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducateendinglayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducateendinglayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducateEndingLayer&quot;, import(&quot;.NewEducateCollectLayerTemplate&quot;))

slot0.getUIName = function(slot0)
	return &quot;NewEducateEndingUI&quot;
end

slot0.initConfig = function(slot0)
	slot0.config = pg.child2_ending
	slot0.allIds = slot0.contextData.permanentData:GetAllEndingIds()
	slot0.unlockIds = slot0.contextData.permanentData:GetActivatedEndings()
	slot0.finishedIds = slot0.contextData.permanentData:GetFinishedEndings()
	slot0.char = getProxy(NewEducateProxy):GetChar(slot0.contextData.permanentData.id)
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0:findTF(&quot;anim_root/close&quot;), function ()
		uv0:PlayAnimClose()
	end, SFX_PANEL)
	slot0:InitPageInfo()
	setText(slot0.performTF:Find(&quot;review_btn/Text&quot;), i18n(&quot;child_btn_review&quot;))
	setText(slot0.curCntTF, #slot0.unlockIds)
	setText(slot0.allCntTF, &quot;/&quot; .. #slot0.allIds)

	slot0.toggleTF = slot0.windowTF:Find(&quot;toggle&quot;)

	setText(slot0.toggleTF:Find(&quot;on/Text&quot;), i18n(&quot;child2_endings_toggle_on&quot;))
	setText(slot0.toggleTF:Find(&quot;off/Text&quot;), i18n(&quot;child2_endings_toggle_off&quot;))

	slot0.tpl = slot0.windowTF:Find(&quot;condition_tpl&quot;)

	onToggle(slot0, slot0.toggleTF, function (slot0)
		uv0:UpdatePage()
	end, SFX_PANEL)
	slot0:UpdatePage()
end

slot0.UpdateItem = function(slot0, slot1, slot2)
	slot3 = slot0.config[slot1]
	slot4 = table.contains(slot0.unlockIds, slot3.id)

	setActive(slot2:Find(&quot;unlock&quot;), slot4)
	setActive(slot2:Find(&quot;lock&quot;), not slot4)
	setActive(slot2:Find(&quot;finished&quot;), table.contains(slot0.finishedIds, slot3.id))
	setText(slot2:Find(&quot;name&quot;), slot4 and slot3.name or &quot;???&quot;)

	if slot4 then
		LoadImageSpriteAsync(&quot;bg/&quot; .. slot3.pic, slot2:Find(&quot;unlock/mask/Image&quot;))
		onButton(slot0, slot2, function ()
			uv0:ShowPerformWindow(uv1)
		end, SFX_PANEL)
	else
		removeOnButton(slot2)
	end

	slot6 = {}

	if slot0.toggleTF:GetComponent(typeof(Toggle)).isOn then
		setActive(slot2:Find(&quot;lock&quot;), true)
		setActive(slot2:Find(&quot;lock/icon&quot;), not slot4)
		setActive(slot2:Find(&quot;mask&quot;), slot4)

		slot6 = slot3.condition_desc
	else
		setActive(slot2:Find(&quot;mask&quot;), false)
	end

	slot0:UpdateConditions(slot6, slot2:Find(&quot;lock/conditions&quot;))
end

slot0.UpdateConditions = function(slot0, slot1, slot2)
	slot3 = 0

	for slot7 = 1, #slot1 do
		slot8 = slot1[slot7]
		slot3 = slot3 + 1
		slot9 = slot7 &lt;= slot2.childCount and slot2:GetChild(slot7 - 1) or cloneTplTo(slot0.tpl, slot2)
		slot10 = slot0.char:LogicalOperator({
			operator = &quot;||&quot;,
			conditions = slot8[1]
		})

		setActive(slot9:Find(&quot;icon/unlock&quot;), slot10)
		setTextColor(slot9:Find(&quot;Text&quot;), Color.NewHex(slot10 and &quot;F59F48&quot; or &quot;888888&quot;))
		setText(slot9:Find(&quot;Text&quot;), slot8[2])
	end

	for slot7 = 1, slot2.childCount do
		setActive(slot2:GetChild(slot7 - 1), slot7 &lt;= slot3)
	end
end

slot0.ShowPerformWindow = function(slot0, slot1)
	slot2 = slot0.performTF
	slot2 = slot2:Find(&quot;Image&quot;)

	LoadImageSpriteAsync(&quot;bg/&quot; .. slot1.pic, slot2)
	setActive(slot0.performTF, true)
	onButton(slot0, slot2, function ()
		setActive(uv0.performTF, false)
	end, SFX_PANEL)

	slot5 = slot0.performTF

	onButton(slot0, slot5:Find(&quot;review_btn&quot;), function ()
		pg.NewStoryMgr.GetInstance():Play(uv0.performance, nil, true)
	end, SFX_PANEL)
end

slot0.PlayAnimChange = function(slot0)
	slot0.anim:Stop()
	slot0.anim:Play(&quot;anim_educate_ending_change&quot;)
end

slot0.PlayAnimClose = function(slot0)
	slot0.anim:Play(&quot;anim_educate_ending_out&quot;)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>