<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducatecollectentrancelayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducatecollectentrancelayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducateCollectEntranceLayer&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;NewEducateCollectEntranceUI&quot;
end

slot0.init = function(slot0)
	slot0.anim = slot0._tf:Find(&quot;anim_root&quot;):GetComponent(typeof(Animation))
	slot0.animEvent = slot0._tf:Find(&quot;anim_root&quot;):GetComponent(typeof(DftAniEvent))

	slot0.animEvent:SetEndEvent(function ()
		uv0:emit(uv1.ON_CLOSE)
	end)

	slot0.contentTF = slot0._tf:Find(&quot;anim_root/content&quot;)
	slot0.contentTF.offsetMin = Vector2(slot0.contextData.isSelect and 208 or 0, 0)
	slot0.contentTF.offsetMax = Vector2(0, 0)
	slot0.memoryBtn = slot0.contentTF:Find(&quot;memory_btn&quot;)
	slot0.polaroidBtn = slot0.contentTF:Find(&quot;polaroid_btn&quot;)
	slot0.endingBtn = slot0.contentTF:Find(&quot;ending_btn&quot;)
	slot0.reviewBtn = slot0.contentTF:Find(&quot;review_btn&quot;)
	slot0.leftTF = slot0._tf:Find(&quot;anim_root/left&quot;)
	slot0.togglesTF = slot0.leftTF:Find(&quot;toggles&quot;)
	slot0.ids = {
		0
	}
	slot0.ids = table.mergeArray(slot0.ids, pg.child2_data.all)
	slot0.toggleList = UIItemList.New(slot0.togglesTF, slot0.togglesTF:Find(&quot;tpl&quot;))
end

slot0.didEnter = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		weight = LayerWeightConst.SECOND_LAYER
	})
	onButton(slot0, slot0._tf, function ()
		uv0:_close()
	end, SFX_PANEL)
	onButton(slot0, slot0.memoryBtn, function ()
		if uv0.contextData.id == 0 then
			uv0:emit(NewEducateCollectEntranceMediator.GO_SUBLAYER, Context.New({
				mediator = EducateCollectMediatorTemplate,
				viewComponent = EducateMemoryLayer
			}))
		else
			uv0:emit(NewEducateCollectEntranceMediator.GO_SUBLAYER, Context.New({
				mediator = NewEducateCollectMediatorTemplate,
				viewComponent = NewEducateMemoryLayer,
				data = {
					permanentData = uv0.permanentData
				}
			}))
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.polaroidBtn, function ()
		if uv0.contextData.id == 0 then
			if isActive(uv0.polaroidBtn:Find(&quot;lock&quot;)) then
				return
			end

			uv0:emit(NewEducateCollectEntranceMediator.GO_SUBLAYER, Context.New({
				mediator = EducateCollectMediatorTemplate,
				viewComponent = EducatePolaroidLayer
			}))
			setActive(uv0.polaroidBtn:Find(&quot;new&quot;), false)
		else
			uv0:emit(NewEducateCollectEntranceMediator.GO_SUBLAYER, Context.New({
				mediator = NewEducateCollectMediatorTemplate,
				viewComponent = NewEducatePolaroidLayer,
				data = {
					permanentData = uv0.permanentData
				}
			}))
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.endingBtn:Find(&quot;unlock&quot;), function ()
		if uv0.contextData.id == 0 then
			if isActive(uv0.endingBtn:Find(&quot;lock&quot;)) then
				return
			end

			uv0:emit(NewEducateCollectEntranceMediator.GO_SUBLAYER, Context.New({
				mediator = EducateCollectMediatorTemplate,
				viewComponent = EducateEndingLayer
			}))
		else
			uv0:emit(NewEducateCollectEntranceMediator.GO_SUBLAYER, Context.New({
				mediator = NewEducateCollectMediatorTemplate,
				viewComponent = NewEducateEndingLayer,
				data = {
					permanentData = uv0.permanentData
				}
			}))
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.reviewBtn, function ()
		if uv0.contextData.id == 0 then
			uv0:emit(uv1.ON_CLOSE)
			pg.m02:sendNotification(GAME.GO_SCENE, SCENE.WORLD_COLLECTION, {
				page = WorldMediaCollectionScene.PAGE_MEMORTY,
				memoryGroup = EducateConst.REVIEW_GROUP_ID
			})
		else
			uv0:emit(uv1.ON_CLOSE)
			pg.m02:sendNotification(GAME.GO_SCENE, SCENE.WORLD_COLLECTION, {
				page = WorldMediaCollectionScene.PAGE_MEMORTY,
				memoryGroup = pg.child2_data[uv0.contextData.id].memory_group
			})
		end
	end, SFX_PANEL)
	slot0.toggleList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventInit then
			slot3 = uv0.ids[slot1 + 1]
			slot2.name = slot3

			LoadImageSpriteAsync(&quot;qicon/&quot; .. (slot3 == 0 and &quot;linghangyuan1_1&quot; or pg.child2_data[slot3].head), slot2:Find(&quot;icon&quot;))
			onToggle(uv0, slot2, function (slot0)
				if slot0 then
					uv0.contextData.id = uv1

					if uv0.contextData.id == 0 then
						uv0:FlushTBView()
					else
						uv0:FlushView(uv0.contextData.id)
					end
				end
			end, SFX_PANEL)
		end
	end)
	slot0.toggleList:align(#slot0.ids)
	setActive(slot0.leftTF, slot0.contextData.isSelect)

	if slot0.contextData.isSelect then
		triggerToggle(slot0.togglesTF:Find(tostring(slot0.contextData.id)), true)
	else
		slot0:FlushView(slot0.contextData.id)
	end
end

slot0.FlushView = function(slot0, slot1)
	slot0.permanentData = getProxy(NewEducateProxy):GetChar(slot1):GetPermanentData()

	setText(slot0.memoryBtn:Find(&quot;Text&quot;), #slot0.permanentData:GetUnlockMemoryIds() .. &quot;/&quot; .. #slot0.permanentData:GetAllMemoryIds())
	setActive(slot0.memoryBtn:Find(&quot;new&quot;), false)
	setActive(slot0.polaroidBtn:Find(&quot;lock&quot;), false)
	setText(slot0.polaroidBtn:Find(&quot;Text&quot;), #slot0.permanentData:GetUnlockPolaroidGroups() .. &quot;/&quot; .. #slot0.permanentData:GetAllPolaroidGroups())
	setActive(slot0.polaroidBtn:Find(&quot;new&quot;), false)
	setText(slot0.endingBtn:Find(&quot;unlock/Text&quot;), #slot0.permanentData:GetActivatedEndings() .. &quot;/&quot; .. #slot0.permanentData:GetAllEndingIds())

	slot8 = NewEducateConst.LOCK_ENDING and slot0.permanentData:GetGameCnt()

	setActive(slot0.endingBtn:Find(&quot;unlock&quot;), not slot8)
	setActive(slot0.endingBtn:Find(&quot;lock&quot;), slot8)
end

slot0.FlushTBView = function(slot0)
	slot1 = getProxy(EducateProxy)

	setText(slot0.memoryBtn:Find(&quot;Text&quot;), #slot1:GetMemories() .. &quot;/&quot; .. #pg.child_memory.all)
	slot0:UpdateMemoryTip()

	slot5, slot6 = slot1:GetPolaroidGroupCnt()

	setText(slot0.polaroidBtn:Find(&quot;Text&quot;), slot5 .. &quot;/&quot; .. slot6)
	setActive(slot0.polaroidBtn:Find(&quot;lock&quot;), not EducateHelper.IsSystemUnlock(EducateConst.SYSTEM_POLAROID))
	setActive(slot0.polaroidBtn:Find(&quot;new&quot;), EducateTipHelper.IsShowNewTip(EducateTipHelper.NEW_POLAROID))
	setText(slot0.endingBtn:Find(&quot;unlock/Text&quot;), #slot1:GetFinishEndings() .. &quot;/&quot; .. #pg.child_ending.all)

	slot8 = EducateHelper.IsSystemUnlock(EducateConst.SYSTEM_ENDING) or #slot3 &gt; 0

	setActive(slot0.endingBtn:Find(&quot;unlock&quot;), slot8)
	setActive(slot0.endingBtn:Find(&quot;lock&quot;), not slot8)
end

slot0.UpdateMemoryTip = function(slot0)
	slot3 = slot0.memoryBtn

	setActive(slot3:Find(&quot;new&quot;), underscore.any(pg.child_memory.all, function (slot0)
		return EducateTipHelper.IsShowNewTip(EducateTipHelper.NEW_MEMORY, slot0)
	end))
end

slot0._close = function(slot0)
	slot0.anim:Play(&quot;anim_educate_collectentrance_out&quot;)
end

slot0.onBackPressed = function(slot0)
	slot0:_close()
end

slot0.willExit = function(slot0)
	slot0.animEvent:SetEndEvent(nil)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>