<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guildeventreportmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>guildeventreportmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;GuildEventReportMediator&quot;, import(&quot;...base.ContextMediator&quot;))
slot0.ON_GET_REPORTS = &quot;GuildEventReportMediator:ON_GET_REPORTS&quot;
slot0.ON_SUBMIT_REPORTS = &quot;GuildEventReportMediator:ON_SUBMIT_REPORTS&quot;
slot0.GET_REPORT_RANK = &quot;GuildEventReportMediator:GET_REPORT_RANK&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.GET_REPORT_RANK, function (slot0, slot1)
		uv0:sendNotification(GAME.GET_GUILD_REPORT_RANK, {
			id = slot1
		})
	end)
	slot0:bind(uv0.ON_SUBMIT_REPORTS, function (slot0, slot1)
		uv0:sendNotification(GAME.SUBMIT_GUILD_REPORT, {
			ids = slot1
		})
	end)
	slot0:bind(uv0.ON_GET_REPORTS, function (slot0, slot1)
		uv0:sendNotification(GAME.GET_GUILD_REPORT, {
			callback = slot1
		})
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.SUBMIT_GUILD_REPORT_DONE,
		GAME.GET_GUILD_REPORT_RANK_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.SUBMIT_GUILD_REPORT_DONE then
		slot0.viewComponent:UpdateReports(slot3.list)
	elseif slot2 == GAME.GET_GUILD_REPORT_RANK_DONE then
		slot0.viewComponent:OnGetReportRankList(slot3.ranks)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>