<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandminishipcard.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandminishipcard.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandMiniShipCard&quot;)

slot0.Ctor = function(slot0, slot1)
	slot0.go = slot1
	slot0.tf = slot1.transform
	slot0.addBtn = slot0.tf:Find(&quot;add&quot;)
	slot0.iconTr = slot0.tf:Find(&quot;icon&quot;)
	slot0.selected = slot0.tf:Find(&quot;sel&quot;)
	slot0.selImg = slot0.tf:Find(&quot;sel_1&quot;):GetComponent(typeof(Image))
	slot0.redDot = slot0.tf:Find(&quot;red_dot&quot;)
end

slot0.Update = function(slot0, slot1, slot2)
	slot0.configId = slot1
	slot0.ship = getProxy(IslandProxy):GetIsland():GetCharacterAgency():GetShipById(slot1)

	setActive(slot0.addBtn, not slot0.ship)
	GetImageSpriteFromAtlasAsync(&quot;island/IslandShipIcon/&quot; .. IslandShip.StaticGetPrefab(slot1), &quot;&quot;, slot0.iconTr)
	slot0:UpdateSelected(slot2)
	slot0:FlushRedDot()
end

slot0.FlushRedDot = function(slot0)
	setActive(slot0.redDot, false)
end

slot0.UpdateSelected = function(slot0, slot1)
	setActive(slot0.selected, slot1 == slot0.configId)
end

slot0.Dispose = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>