<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldmediacollectionrecordgrouplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldmediacollectionrecordgrouplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WorldMediaCollectionRecordGroupLayer&quot;, import(&quot;.WorldMediaCollectionTemplateLayer&quot;))

slot0.getUIName = function(slot0)
	return &quot;WorldMediaCollectionRecordGroupUI&quot;
end

slot0.OnInit = function(slot0)
	slot1 = slot0._tf
	slot0.scroll = slot1:Find(&quot;ScrollRect&quot;)
	slot1 = slot0.scroll
	slot0.scrollComp = slot1:GetComponent(&quot;LScrollRect&quot;)
	slot2 = slot0.scroll

	setActive(slot2:Find(&quot;Item&quot;), false)

	slot1 = slot0.scroll
	slot0.content = slot1:Find(&quot;Viewport/Content&quot;)
	slot1 = slot0.scroll
	slot0.progressText = slot1:Find(&quot;ProgressText&quot;)
	slot0.recordTogGroup = slot0:findTF(&quot;Toggles&quot;, slot0._top)
	slot0.recordToggles = {
		slot0:findTF(&quot;0&quot;, slot0.recordTogGroup),
		slot0:findTF(&quot;1&quot;, slot0.recordTogGroup),
		slot0:findTF(&quot;2&quot;, slot0.recordTogGroup),
		slot0:findTF(&quot;3&quot;, slot0.recordTogGroup)
	}
	slot0.recordFilterIndex = {
		false,
		false,
		false
	}

	_.each(pg.world_collection_record_group.all, function (slot0)
		uv0.recordFilterIndex[pg.world_collection_record_group[slot0].type] = true
	end)

	slot1 = #slot0.recordFilterIndex
	slot2 = nil

	for slot6 = 1, #slot0.recordFilterIndex do
		setActive(slot0.recordToggles[1 + slot6], slot0.recordFilterIndex[slot6])

		if not slot0.recordFilterIndex[slot6] then
			slot1 = slot1 - 1
		else
			slot2 = slot2 or slot6 + 1
		end
	end

	setActive(slot0.recordToggles[1], slot1 &gt; 1)

	slot3 = slot0.contextData.toggle or (slot1 &lt;= 1 and slot2 or 1)
	slot0.contextData.toggle = nil

	triggerToggle(slot0.recordToggles[slot3], true)
	slot0:SwitchRecordFilter(slot3)

	for slot7, slot8 in ipairs(slot0.recordToggles) do
		onToggle(slot0, slot8, function (slot0)
			if not slot0 then
				return
			end

			uv0:SwitchRecordFilter(uv1)
			uv0:RecordFilter()
		end, SFX_UI_TAG)
	end

	slot0.scrollComp.onUpdateItem = function(slot0, slot1)
		uv0:OnUpdateGroup(slot0 + 1, slot1)
	end

	slot0.recordGroups = {}

	slot0.viewParent:Add2TopContainer(slot0.recordTogGroup)

	slot0.loader = AutoLoader.New()

	setText(slot0.scroll:Find(&quot;ProgressDesc&quot;), i18n(&quot;world_collection_3&quot;))
end

slot0.Show = function(slot0)
	uv0.super.Show(slot0)
	setActive(slot0.recordTogGroup, true)
end

slot0.Hide = function(slot0)
	LeanTween.cancel(go(slot0.content))
	slot0.scrollComp:SetDraggingStatus(false)
	slot0.scrollComp:StopMovement()

	slot0.scrolling = false

	uv0.super.Hide(slot0)
	setActive(slot0.recordTogGroup, false)
	uv0.super.Hide(slot0)
end

slot1 = {
	&quot;img_zhuxian&quot;,
	&quot;img_zhixian&quot;,
	&quot;img_shoujijilu&quot;
}

slot0.OnUpdateGroup = function(slot0, slot1, slot2)
	if slot0.exited then
		return
	end

	slot3 = slot0.recordGroups[slot1]

	assert(slot3, &quot;Not Initialize FileGroup Index &quot; .. slot1)

	slot4 = tf(slot2)

	setText(slot4:Find(&quot;FileIndex&quot;), slot3.id)

	slot7 = nil
	slot8 = slot4:Find(&quot;NameRect/FileName1&quot;):GetComponent(typeof(Text))
	slot8.fontSize = GetPerceptualSize(slot3.name_abbreviate) &lt;= 4 and 32 or slot6 &lt;= 6 and 28 or 24
	slot8.text = slot3.name_abbreviate

	slot0.loader:GetSprite(&quot;ui/WorldMediaCollectionRecordUI_atlas&quot;, uv0[slot3.type], slot4:Find(&quot;BG&quot;))

	slot9 = nowWorld():GetCollectionProxy()

	setText(slot4:Find(&quot;FileProgress&quot;), _.reduce(slot3.child, 0, function (slot0, slot1)
		if WorldCollectionProxy.GetCollectionTemplate(slot1) and WorldMediaCollectionRecordDetailLayer.CheckRecordIsUnlock(slot2) then
			slot0 = slot0 + 1
		end

		return slot0
	end) .. &quot;/&quot; .. #slot3.child)

	slot12 = slot0.scroll.rect.width
	slot13 = slot0.scroll:Find(&quot;Item&quot;).rect.width
	slot14 = slot0.content:GetComponent(typeof(HorizontalLayoutGroup))
	slot15 = slot14.padding.left
	slot16 = slot14.spacing

	onButton(slot0, slot4, function ()
		uv0.viewParent:ShowRecordGroup(uv1.id)
	end, SFX_PANEL)
end

slot0.SwitchRecordFilter = function(slot0, slot1)
	if slot1 == 1 then
		slot0.recordFilterIndex = {
			true,
			true,
			true
		}
	else
		for slot5 in ipairs(slot0.recordFilterIndex) do
			slot0.recordFilterIndex[slot5] = slot1 - 1 == slot5
		end
	end
end

slot0.RecordFilter = function(slot0)
	table.clear(slot0.recordGroups)
	_.each(pg.world_collection_record_group.all, function (slot0)
		slot1 = pg.world_collection_record_group[slot0]
		uv0 = uv0 + #slot1.child
		uv1 = uv1 + _.reduce(slot1.child, 0, function (slot0, slot1)
			if WorldCollectionProxy.GetCollectionTemplate(slot1) and WorldMediaCollectionRecordDetailLayer.CheckRecordIsUnlock(slot2) then
				slot0 = slot0 + 1
			end

			return slot0
		end)

		if uv2.recordFilterIndex[slot1.type] then
			table.insert(uv2.recordGroups, slot1)
		end
	end)
	setText(slot0.progressText, 0 .. &quot;/&quot; .. 0)
	table.sort(slot0.recordGroups, function (slot0, slot1)
		return slot0.id &lt; slot1.id
	end)
	slot0.scrollComp:SetTotalCount(#slot0.recordGroups)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>