<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldmediacollectionalbumgrouplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldmediacollectionalbumgrouplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WorldMediaCollectionAlbumGroupLayer&quot;, import(&quot;.WorldMediaCollectionSubLayer&quot;))

slot0.getUIName = function(slot0)
	return &quot;WorldMediaCollectionAlbumGroupUI&quot;
end

slot0.OnInit = function(slot0)
	uv0.super.OnInit(slot0)
	assert(slot0.viewParent, &quot;Need assign ViewParent for &quot; .. slot0.__cname)

	slot0.albumGroups = _.map(pg.activity_medal_group.all, function (slot0)
		return pg.activity_medal_group[slot0]
	end)
	slot0.albumGroupList = slot0:findTF(&quot;GroupRect&quot;):GetComponent(&quot;LScrollRect&quot;)

	slot0.albumGroupList.onInitItem = function(slot0)
		uv0:onInitAlbumGroup(slot0)
	end

	slot0.albumGroupList.onUpdateItem = function(slot0, slot1)
		uv0:onUpdateAlbumGroup(slot0 + 1, slot1)
	end

	slot0.albumGroupInfos = {}

	setActive(slot0:findTF(&quot;GroupItem&quot;, slot0.albumGroupList), false)

	slot0.albumGroupViewport = slot0:findTF(&quot;Viewport&quot;, slot0.albumGroupList)
	slot0.albumGroupsGrid = slot0:findTF(&quot;Viewport/Content&quot;, slot0.albumGroupList):GetComponent(typeof(GridLayoutGroup))
	slot0.loader = AutoLoader.New()

	setText(slot0:findTF(&quot;top/title/text&quot;), i18n(&quot;word_limited_activity&quot;))
	setText(slot0:findTF(&quot;top/expireCheckBox/text&quot;), i18n(&quot;word_show_expire_content&quot;))

	slot0.showExpireBtn = slot0:findTF(&quot;top/expireCheckBox/click&quot;)
	slot0.showExpireCheckBox = slot0:findTF(&quot;top/expireCheckBox/checkBox/check&quot;)
	slot0.showExpire = true

	onButton(slot0, slot0.showExpireBtn, function ()
		uv0.showExpire = not uv0.showExpire

		uv0:ExpireFilter()
		uv0:UpdateView()
		setActive(uv0.showExpireCheckBox, uv0.showExpire)
	end)
	triggerButton(slot0.showExpireBtn)

	slot0.rectAnchorX = slot0:findTF(&quot;GroupRect&quot;).anchoredPosition.x

	slot0:UpdateView(slot0.showExpireBtn)
end

slot0.onInitAlbumGroup = function(slot0, slot1)
	if slot0.exited then
		return
	end

	onButton(slot0, slot1, function ()
		if uv0.albumGroupInfos[uv1] then
			uv0.viewParent:ShowAlbum(slot0)
		end
	end, SOUND_BACK)
end

slot0.onUpdateAlbumGroup = function(slot0, slot1, slot2)
	if slot0.exited then
		return
	end

	slot3 = slot0.albumGroups[slot1]
	slot0.albumGroupInfos[slot2] = slot3

	slot0.loader:GetSpriteQuiet(slot3.entrance_picture, &quot;&quot;, tf(slot2):Find(&quot;BG&quot;))
	setActive(tf(slot2):Find(&quot;expireMask&quot;), ActivityMedalGroup.IsMedalGroupCollectionGrey(slot3.id) and ActivityMedalGroup.GetMedalGroupStateByID(slot3.id) &lt; ActivityMedalGroup.STATE_ACTIVE)
end

slot0.Return2MemoryGroup = function(slot0)
	slot0.albumGroupList:SetTotalCount(#slot0.albumGroups, slot0:GetIndexRatio(0))
end

slot0.SwitchReddotMemory = function(slot0)
	slot1 = 0
	slot2 = getProxy(PlayerProxy):getRawData().id

	for slot6, slot7 in ipairs(slot0.albumGroups) do
		if PlayerPrefs.GetInt(&quot;ALBUM_GROUP_NOTIFICATION&quot; .. slot2 .. &quot; &quot; .. slot7.id, 0) == 1 then
			slot1 = slot6

			break
		end
	end

	if slot1 == 0 then
		return
	end

	slot0.albumGroupList:SetTotalCount(#slot0.albumGroups, slot0:GetIndexRatio(slot1))
end

slot0.GetIndexRatio = function(slot0, slot1)
	slot2 = 0

	if slot1 &gt; 0 then
		slot4 = slot0.albumGroupsGrid.cellSize.y + slot0.albumGroupsGrid.spacing.y
		slot5 = slot0.albumGroupsGrid.constraintCount
		slot2 = Mathf.Clamp01((slot4 * math.floor((slot1 - 1) / slot5) + slot0.albumGroupList.paddingFront) / (slot4 * math.ceil(#slot0.albumGroups / slot5) - slot0.albumGroupViewport.rect.height))
	end

	return slot2
end

slot0.ExpireFilter = function(slot0)
	slot1 = {}

	for slot5, slot6 in ipairs(pg.activity_medal_group.all) do
		slot8 = ActivityMedalGroup.GetMedalGroupStateByID(pg.activity_medal_group[slot6].id)

		if slot0.showExpire or ActivityMedalGroup.STATE_ACTIVE &lt;= slot8 then
			table.insert(slot1, slot7)
		end
	end

	slot0.albumGroups = slot1
end

slot0.UpdateView = function(slot0)
	setAnchoredPosition(slot0:findTF(&quot;GroupRect&quot;), {
		x = WorldMediaCollectionScene.WorldRecordLock() and 0 or slot0.rectAnchorX
	})
	slot0.albumGroupList:SetTotalCount(#slot0.albumGroups, 0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>