<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maintagsview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>maintagsview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainTagsView&quot;, import(&quot;..base.MainBaseView&quot;))

slot0.Ctor = function(slot0, slot1, slot2)
	uv0.super.Ctor(slot0, slot1, slot2)

	slot0.monthCardTag = findTF(slot0._tf, &quot;monthcard&quot;)
	slot0.sellTag = findTF(slot0._tf, &quot;sell&quot;)
	slot0.skinTag = findTF(slot0._tf, &quot;skin&quot;)
	slot0.buildTag = findTF(slot0._tf, &quot;build&quot;)
	slot0.tecShipGiftTag = findTF(slot0._tf, &quot;tecshipgift&quot;)
	slot0.mallTip = findTF(slot0._tf, &quot;tip&quot;)
end

slot0.Init = function(slot0)
	slot1 = {}

	table.insert(slot1, function (slot0)
		TagTipHelper.TecShipGiftTip(uv0.tecShipGiftTag)
		onNextTick(slot0)
	end)
	table.insert(slot1, function (slot0)
		TagTipHelper.MonthCardTagTip(uv0.monthCardTag)
		onNextTick(slot0)
	end)
	table.insert(slot1, function (slot0)
		TagTipHelper.SkinTagTip(uv0.skinTag)
		onNextTick(slot0)
	end)
	table.insert(slot1, function (slot0)
		TagTipHelper.FuDaiTagTip(uv0.sellTag)
		onNextTick(slot0)
	end)
	table.insert(slot1, function (slot0)
		if not uv0:AnyMallTipShowing() then
			TagTipHelper.FreeGiftTag({
				uv0.mallTip
			})
		else
			setActive(uv0.mallTip, false)
		end

		onNextTick(slot0)
	end)
	table.insert(slot1, function (slot0)
		TagTipHelper.FreeBuildTicketTip(uv0.buildTag)
		onNextTick(slot0)
	end)
	seriesAsync(slot1)
end

slot0.AnyMallTipShowing = function(slot0)
	return _.any({
		slot0.monthCardTag,
		slot0.sellTag,
		slot0.skinTag,
		slot0.tecShipGiftTag
	}, function (slot0)
		return slot0:GetComponent(typeof(Image)).enabled
	end)
end

slot0.Refresh = function(slot0)
	slot0:Init()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>