<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mailrewardwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mailrewardwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MailRewardWindow&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;MailRewardMsgboxUI&quot;
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot0.closeBtn = slot0:findTF(&quot;adapt/window/top/btnBack&quot;)

	onButton(slot0, slot0.closeBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot0.cancelButton = slot0:findTF(&quot;adapt/window/button_container/btn_not&quot;)
	slot0.confirmButton = slot0:findTF(&quot;adapt/window/button_container/btn_ok&quot;)
	slot0._window = slot0._tf:Find(&quot;adapt/window&quot;)
	slot0.item_panel = slot0._window:Find(&quot;item_panel&quot;)
	slot0.reward_gold = slot0.item_panel:Find(&quot;parentAdpter/textAdpter/reward_gold&quot;)
	slot0.reward_goldText = slot0.reward_gold:Find(&quot;gold_text&quot;)
	slot0.reward_oil = slot0.item_panel:Find(&quot;parentAdpter/textAdpter/reward_oil&quot;)
	slot0.reward_oilText = slot0.reward_oil:Find(&quot;oil_text&quot;)
	slot0._itemListItemContainer = slot0.item_panel:Find(&quot;parentAdpter/rewardAdpter/list&quot;)
	slot0._itemListItemTpl = slot0.item_panel:Find(&quot;parentAdpter/rewardAdpter/item&quot;)
	slot0.titleTips = slot0._window:Find(&quot;top/bg/infomation/title&quot;)

	setText(slot0.reward_goldText, i18n(&quot;mail_storeroom_max_4&quot;))
	setText(slot0.reward_oilText, i18n(&quot;mail_storeroom_max_3&quot;))
	setText(slot0.titleTips, i18n(&quot;mail_boxtitle_information&quot;))
	setText(slot0.item_panel:Find(&quot;parentAdpter/rewardAdpter/Text&quot;), i18n(&quot;mail_storeroom_collect&quot;))
	setText(slot0.cancelButton:Find(&quot;Text&quot;), i18n(&quot;mail_box_cancel&quot;))
	setText(slot0.confirmButton:Find(&quot;Text&quot;), i18n(&quot;mail_box_confirm&quot;))
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
	onButton(slot0, slot0.cancelButton, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.confirmButton, function ()
		uv0:Hide()

		if uv1.onYes then
			uv1.onYes()
		end
	end, SFX_PANEL)

	slot2 = getProxy(PlayerProxy):getData()
	slot3 = false
	slot4 = false
	slot5 = {}

	if slot1.content.oil &gt; 0 then
		table.insert(slot5, Drop.New({
			type = DROP_TYPE_RESOURCE,
			id = PlayerConst.ResOil,
			count = slot1.content.oil
		}))

		slot4 = slot2:getLevelMaxOil() &lt;= slot2:getResource(PlayerConst.ResOil) + slot1.content.oil
	end

	if slot1.content.gold &gt; 0 then
		table.insert(slot5, Drop.New({
			type = DROP_TYPE_RESOURCE,
			id = PlayerConst.ResGold,
			count = slot1.content.gold
		}))

		slot3 = slot2:getLevelMaxGold() &lt;= slot2:getResource(PlayerConst.ResGold) + slot1.content.gold
	end

	setActive(slot0.reward_oil, slot4)
	setActive(slot0.reward_gold, slot3)

	slot6 = slot3 or slot4

	setActive(slot0.item_panel:Find(&quot;parentAdpter/textAdpter&quot;), slot6)
	UIItemList.StaticAlign(slot0._itemListItemContainer, slot0._itemListItemTpl, #slot5, function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			updateDrop(slot2:Find(&quot;IconTpl&quot;), uv0[slot1])
		end
	end)

	slot9 = UnityEngine.RectOffset.New()
	slot9.bottom = 0
	slot9.left = 0
	slot9.right = 0
	slot9.top = slot6 and 17 or 32
	slot0.item_panel:Find(&quot;parentAdpter&quot;):GetComponent(typeof(UnityEngine.UI.HorizontalOrVerticalLayoutGroup)).padding = slot9

	Canvas.ForceUpdateCanvases()
end

slot0.Hide = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
	uv0.super.Hide(slot0)
end

slot0.OnDestroy = function(slot0)
	if slot0:isShowing() then
		slot0:Hide()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>