<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mailoverflowwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mailoverflowwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MailOverflowWindow&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;MailOverflowMsgboxUI&quot;
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot0.closeBtn = slot0:findTF(&quot;adapt/window_overflow/top/btnBack&quot;)

	onButton(slot0, slot0.closeBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot0._window_overflow = slot0._tf:Find(&quot;adapt/window_overflow&quot;)
	slot0.titleTips = slot0._window_overflow:Find(&quot;top/bg/infomation/title&quot;)
	slot0._itemConfireText = slot0._window_overflow:Find(&quot;content&quot;)
	slot0._confireLabel = slot0._window_overflow:Find(&quot;desc/label1&quot;)
	slot0._confireInput = slot0._window_overflow:Find(&quot;desc/InputField&quot;)
	slot0._overflowtitleTips = slot0._window_overflow:Find(&quot;top/bg/infomation/title&quot;)
	slot0.PlaceholderText = slot0._confireInput:Find(&quot;Placeholder&quot;)
	slot0._overflowcancelButton = slot0._window_overflow:Find(&quot;button_container/btn_not&quot;)
	slot0._overflowconfirmButton = slot0._window_overflow:Find(&quot;button_container/btn_ok&quot;)
	slot0.item = slot0._window_overflow:Find(&quot;item&quot;)
	slot0.items = slot0._window_overflow:Find(&quot;items&quot;)
	slot0.itemList = UIItemList.New(slot0.items, slot0.item)

	setText(slot0._overflowcancelButton:Find(&quot;Text&quot;), i18n(&quot;mail_box_cancel&quot;))
	setText(slot0._overflowconfirmButton:Find(&quot;Text&quot;), i18n(&quot;mail_box_confirm&quot;))
	setText(slot0.titleTips, i18n(&quot;mail_boxtitle_information&quot;))
	setText(slot0.PlaceholderText, i18n(&quot;mail_search&quot;))
end

slot0.Updatelayout = function(slot0)
	if not slot0.key then
		slot0.key = math.random(100000, 999999)

		setText(slot0._confireLabel, i18n(&quot;mail_storeroom_max_2&quot;, slot0.key))
	else
		setText(slot0._confireLabel, &quot;&quot;)
	end
end

slot0.showConformMsgBox = function(slot0, slot1)
	setText(slot0._itemConfireText, slot1.content)

	slot0.key = nil

	slot0:Updatelayout()
	onButton(slot0, slot0._overflowcancelButton, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0._overflowconfirmButton, function ()
		if uv0.key and uv0.key ~= tonumber(getInputText(uv0._confireInput)) then
			pg.TipsMgr:GetInstance():ShowTips(i18n(&quot;mail_input_erro&quot;))

			return
		end

		uv0:Hide()

		if uv1.onYes then
			uv1.onYes()
		end
	end, SFX_PANEL)
	setActive(slot0.item, false)
	slot0.itemList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot4 = uv0.dropList[slot1 + 1]

			updateDrop(slot2:Find(&quot;IconTpl&quot;), {
				type = slot4.type,
				id = slot4.id,
				count = slot4.count
			})
		end
	end)
	slot0.itemList:align(#slot1.dropList)
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
	slot0:showConformMsgBox(slot1)
end

slot0.Hide = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
	uv0.super.Hide(slot0)
	setInputText(slot0._confireInput, &quot;&quot;)
end

slot0.OnDestroy = function(slot0)
	if slot0:isShowing() then
		slot0:Hide()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>