<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ateliertools.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>ateliertools.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">return {
	IsUnlockAtelier = function (slot0, slot1)
		slot2 = slot0:getConfig(&quot;config_client&quot;)[slot1]
		slot4 = slot2.unlockStoryID
		slot5 = true

		if tonumber(slot2.unlockStageID) then
			slot5 = getProxy(ChapterProxy):getChapterById(slot3, true) and slot7.isClear(slot7)
		end

		if slot4 then
			slot5 = slot5 and pg.NewStoryMgr.GetInstance():IsPlayed(slot4)
		end

		return slot5
	end,
	UpdateYumiaItem = function (slot0, slot1)
		GetImageSpriteFromAtlasAsync(&quot;weaponframes&quot;, &quot;bg&quot; .. ItemRarity.Rarity2Print(slot1:GetRarity()), slot0:Find(&quot;IconTpl/icon_bg&quot;))

		slot9 = &quot;IconTpl/icon_bg/icon&quot;

		GetImageSpriteFromAtlasAsync(slot1:GetIconPath(), &quot;&quot;, slot0:Find(slot9))

		slot4 = slot1:GetProps()
		slot5 = slot0:Find(&quot;List&quot;)

		for slot9 = 0, 3 do
			slot11 = nil

			GetImageSpriteFromAtlasAsync(&quot;ui/ateliercommonyumiaui_atlas&quot;, (not table.contains(slot4, slot9 + 1) or AtelierFormulaCircle.ELEMENT_NAME[slot9 + 1]) and AtelierFormulaCircle.ELEMENT_NAME[slot9 + 1] .. &quot;_2&quot;, slot5:GetChild(slot9))
		end

		if slot1.GetCategory(slot1) ~= 0 then
			GetImageSpriteFromAtlasAsync(&quot;ui/ateliercommonyumiaui_atlas&quot;, &quot;category&quot; .. slot6, slot0.Find(slot0, &quot;categoryBg/category&quot;))
		end

		setActive(slot0:Find(&quot;categoryBg&quot;), slot6 ~= 0)
		setText(slot0:Find(&quot;cntText&quot;), slot1.count)
	end
}
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>