<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backyarddecrationlayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>backyarddecrationlayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BackYardDecrationLayer&quot;, import(&quot;...base.BaseUI&quot;))
slot0.INNER_SELECTED_FURNITRUE = &quot;BackYardDecrationLayer:INNER_SELECTED_FURNITRUE&quot;
slot1 = 1
slot2 = 2
slot3 = 3
slot4 = 4
slot5 = 5
slot6 = 6
slot7 = 7
slot8 = 8
slot9 = 9

slot0.getUIName = function(slot0)
	return &quot;BackYardDecorationUI&quot;
end

slot0.init = function(slot0)
	slot0.animation = slot0._tf:GetComponent(typeof(Animation))
	slot0.dftAniEvent = slot0._tf:GetComponent(typeof(DftAniEvent))
	slot0.adpter = slot0:findTF(&quot;adpter&quot;)
	slot0.pageConainer = slot0:findTF(&quot;adpter/bottom/animroot/root/pages&quot;)
	slot0.bAnimtion = slot0:findTF(&quot;adpter/bottom&quot;):GetComponent(typeof(Animation))
	slot0.shopBtn = slot0:findTF(&quot;adpter/shop_btn&quot;)
	slot0.saveBtn = slot0:findTF(&quot;adpter/bottom/animroot/save_btn&quot;)
	slot0.clearBtn = slot0:findTF(&quot;adpter/bottom/animroot/clear_btn&quot;)
	slot0.bottomTr = slot0:findTF(&quot;adpter/bottom&quot;)
	slot0.orderBtn = slot0:findTF(&quot;adpter/bottom/animroot/root/fliter_container/order&quot;)
	slot0.orderBtnTxt = slot0.orderBtn:Find(&quot;Text&quot;):GetComponent(typeof(Image))
	slot0.orderBtnIcon = slot0.orderBtn:Find(&quot;icon&quot;)
	slot0.filterBtn = slot0:findTF(&quot;adpter/bottom/animroot/root/fliter_container/filter&quot;)
	slot0.filterBtnTxt = slot0.filterBtn:Find(&quot;Text&quot;):GetComponent(typeof(Image))
	slot0.filterBtnTxt.sprite = GetSpriteFromAtlas(&quot;ui/NewBackYardDecorateUI_atlas&quot;, &quot;text_default&quot;)
	slot1 = slot0.filterBtnTxt

	slot1:SetNativeSize()

	slot0.searchInput = slot0:findTF(&quot;adpter/bottom/animroot/root/fliter_container/search/search&quot;)

	setText(slot0.searchInput:Find(&quot;holder&quot;), i18n(&quot;courtyard_label_search_holder&quot;))

	slot0.searchClear = slot0:findTF(&quot;adpter/bottom/animroot/root/fliter_container/search/search/clear&quot;)
	slot0.hideBtn = slot0:findTF(&quot;adpter/bottom/animroot/root/fliter_container/hide&quot;)
	slot0.showBtn = slot0:findTF(&quot;adpter/bottom/animroot/show_btn&quot;)
	slot0.showPutListBtn = slot0:findTF(&quot;adpter/putlist_btn&quot;)
	slot0.themePage = BackYardDecorationThemePage.New(slot0.pageConainer, slot0.event, slot0.contextData)
	slot0.furniturePage = BackYardDecorationFurniturePage.New(slot0.pageConainer, slot0.event, slot0.contextData)
	slot0.putListPage = BackYardDecorationPutlistPage.New(slot0.adpter, slot0.event, slot0.contextData)

	slot0.putListPage.OnShow = function(slot0)
		setActive(uv0.showPutListBtn, not slot0)
	end

	slot0.putListPage.OnShowImmediately = function()
		setActive(uv0.showPutListBtn, false)
	end

	slot0.contextData.furnitureDescMsgBox = BackYardDecorationDecBox.New(slot0._tf, slot0.event, slot0.contextData)
	slot0.contextData.filterPanel = BackYardDecorationFilterPanel.New(slot0._tf, slot0.event, slot0.contextData)
	slot0.pages = {
		[uv0] = slot0.themePage,
		[uv1] = slot0.furniturePage,
		[uv2] = slot0.furniturePage,
		[uv3] = slot0.furniturePage,
		[uv4] = slot0.furniturePage,
		[uv5] = slot0.furniturePage,
		[uv6] = slot0.furniturePage,
		[uv7] = slot0.furniturePage,
		[uv8] = slot0.furniturePage
	}
	slot0.themeTag = slot0:findTF(&quot;adpter/bottom/animroot/root/theme&quot;)

	setText(slot0.shopBtn:Find(&quot;Text&quot;), i18n(&quot;courtyard_label_shop_1&quot;))
	setText(slot0.showPutListBtn:Find(&quot;Text&quot;), i18n(&quot;courtyard_label_placed_furniture&quot;))
	setText(slot0.saveBtn:Find(&quot;Text&quot;), i18n(&quot;courtyard_label_save&quot;))
	setText(slot0.clearBtn:Find(&quot;Text&quot;), i18n(&quot;courtyard_label_clear&quot;))
end

slot0.didEnter = function(slot0)
	slot0.orderMode = BackYardDecorationFilterPanel.ORDER_MODE_DASC

	onToggle(slot0, slot0.orderBtn, function (slot0)
		uv0.orderMode = slot0 and BackYardDecorationFilterPanel.ORDER_MODE_ASC or BackYardDecorationFilterPanel.ORDER_MODE_DASC

		if uv0.pageType then
			uv0.pages[uv0.pageType]:ExecuteAction(&quot;OrderModeUpdated&quot;, uv0.orderMode)
		end

		uv1(uv0.orderMode)
	end, SFX_PANEL)
	(function (slot0)
		slot1 = &quot;&quot;

		if slot0 == BackYardDecorationFilterPanel.ORDER_MODE_ASC then
			slot1 = &quot;text_asc&quot;
			uv0.orderBtnIcon.localEulerAngles = Vector3(0, 0, 0)
		elseif slot0 == BackYardDecorationFilterPanel.ORDER_MODE_DASC then
			slot1 = &quot;text_dasc&quot;
			uv0.orderBtnIcon.localEulerAngles = Vector3(0, 0, 180)
		end

		uv0.orderBtnTxt.sprite = GetSpriteFromAtlas(&quot;ui/NewBackYardDecorateUI_atlas&quot;, slot1)

		uv0.orderBtnTxt:SetNativeSize()
	end)(slot0.orderMode)
	onButton(slot0, slot0.shopBtn, function ()
		uv0:emit(BackYardDecorationMediator.OPEN_SHOP)
	end, SFX_PANEL)
	onButton(slot0, slot0.searchClear, function ()
		setInputText(uv0.searchInput, &quot;&quot;)
	end, SFX_PANEL)
	onButton(slot0, slot0.saveBtn, function ()
		uv0.dftAniEvent:SetEndEvent(function ()
			uv0.dftAniEvent:SetEndEvent(nil)
			uv0:emit(BackYardDecorationMediator.SAVE_ALL)
		end)
		uv0.animation:Play(&quot;anim_courtyard_decoration_out&quot;)
	end, SFX_PANEL)
	onButton(slot0, slot0.clearBtn, function ()
		uv0:emit(BackYardDecorationMediator.ClEAR_ALL, true)
	end, SFX_PANEL)
	onButton(slot0, slot0.filterBtn, function ()
		if not uv0.pageType then
			return
		end

		slot0 = uv0.pages[uv0.pageType]

		slot0:ShowFilterPanel(function (slot0)
			slot1 = nil
			uv0.filterBtnTxt.sprite = GetSpriteFromAtlas(&quot;ui/NewBackYardDecorateUI_atlas&quot;, i18n(&quot;backyard_sort_tag_price&quot;) == slot0 and &quot;text_price&quot; or i18n(&quot;backyard_sort_tag_comfortable&quot;) == slot0 and &quot;text_comfortable&quot; or i18n(&quot;backyard_sort_tag_size&quot;) == slot0 and &quot;text_area&quot; or &quot;text_default&quot;)

			uv0.filterBtnTxt:SetNativeSize()
		end)
	end, SFX_PANEL)
	onInputChanged(slot0, slot0.searchInput, function (slot0)
		if not uv0.pageType then
			return
		end

		setActive(uv0.searchClear, slot0 ~= &quot;&quot;)
		uv0.pages[uv0.pageType]:ExecuteAction(&quot;SearchKeyUpdated&quot;, slot0)
	end)
	onButton(slot0, slot0.showPutListBtn, function ()
		uv0.putListPage:ExecuteAction(&quot;SetUp&quot;, 0, uv0.dorm, uv0.themes, uv0.orderMode)
	end, SFX_PANEL)
	onToggle(slot0, slot0.themeTag, function (slot0)
		if slot0 then
			uv0:SwitchToPage(uv1)
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.hideBtn, function ()
		uv0.bAnimtion:Play(&quot;anim_courtyard_decoration_bottomout&quot;)
	end, SFX_PANEL)
	onButton(slot0, slot0.showBtn, function ()
		uv0.bAnimtion:Play(&quot;anim_courtyard_decoration_bottomin&quot;)
	end, SFX_PANEL)

	slot0.tags = {
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/1&quot;),
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/2&quot;),
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/3&quot;),
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/4&quot;),
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/5&quot;),
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/6&quot;),
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/7&quot;),
		slot0:findTF(&quot;adpter/bottom/animroot/root/tags/8&quot;)
	}

	onNextTick(function ()
		uv0:emit(BackYardDecorationMediator.ON_SET_UP)
	end)
end

slot0.SetDorm = function(slot0, slot1)
	slot0.dorm = slot1
end

slot0.UpdateDorm = function(slot0, slot1)
	slot0.dorm = slot1

	if slot0.pageType then
		slot0.pages[slot0.pageType]:ExecuteAction(&quot;DormUpdated&quot;, slot0.dorm)
	end

	if slot0.putListPage:GetLoaded() and slot0.putListPage:isShowing() then
		slot0.putListPage:ExecuteAction(&quot;DormUpdated&quot;, slot0.dorm)
	end
end

slot0.OnApplyThemeBefore = function(slot0)
	if slot0.pageType then
		slot0.pages[slot0.pageType]:ExecuteAction(&quot;OnApplyThemeBefore&quot;)
	end
end

slot0.OnApplyThemeAfter = function(slot0, slot1)
	if slot0.pageType then
		slot0.pages[slot0.pageType]:ExecuteAction(&quot;OnApplyThemeAfter&quot;, slot1)
	end
end

slot0.UpdateFurnitrue = function(slot0, slot1)
	if slot0.pageType then
		slot0.pages[slot0.pageType]:ExecuteAction(&quot;FurnitureUpdated&quot;, slot1)
	end
end

slot0.SetThemes = function(slot0, slot1)
	slot0.themes = slot1
end

slot0.CustomThemeAdded = function(slot0, slot1)
	slot0.themes[slot1.id] = slot1

	if slot0.pageType then
		slot0.pages[slot0.pageType]:ExecuteAction(&quot;CustomThemeAdded&quot;, slot1)
	end
end

slot0.CustomThemeDeleted = function(slot0, slot1)
	slot0.themes[slot1] = nil

	if slot0.pageType then
		slot0.pages[slot0.pageType]:ExecuteAction(&quot;CustomThemeDeleted&quot;, slot1)
	end
end

slot0.ThemeUpdated = function(slot0)
	if slot0.pageType then
		slot0.pages[slot0.pageType]:ExecuteAction(&quot;ThemeUpdated&quot;)
	end
end

slot0.UpdateTagTF = function(slot0, slot1, slot2)
	onToggle(slot0, slot2, function (slot0)
		if slot0 then
			uv0:SwitchToPage(uv1)
		end
	end, SFX_PANEL)
end

slot0.InitPages = function(slot0)
	for slot4, slot5 in ipairs(slot0.tags) do
		slot0:UpdateTagTF(slot4 + 1, slot5)
	end

	triggerToggle(slot0.themeTag, true)
end

slot0.SwitchToPage = function(slot0, slot1)
	if slot0.pageType == slot1 then
		return
	end

	if slot0.page and not slot0.page:GetLoaded() then
		return
	end

	slot2 = slot0.pages[slot1]

	if slot0.page and slot0.page ~= slot2 then
		slot0.page:ExecuteAction(&quot;Hide&quot;)
	end

	slot2:ExecuteAction(&quot;SetUp&quot;, slot1, slot0.dorm, slot0.themes, slot0.orderMode)

	slot0.page = slot2
	slot0.pageType = slot1

	setActive(slot0.filterBtn, slot0.pageType ~= uv0)
end

slot0.willExit = function(slot0)
	slot0.dftAniEvent:SetEndEvent(nil)
	slot0.themePage:Destroy()
	slot0.furniturePage:Destroy()
	slot0.putListPage:Destroy()
	slot0.contextData.furnitureDescMsgBox:Destroy()
	slot0.contextData.filterPanel:Destroy()
	BackYardThemeTempalteUtil.ClearAllCache()
end

slot0.onBackPressed = function(slot0)
	if slot0.themePage:OnBackPressed() then
		return
	end

	if slot0.furniturePage:OnBackPressed() then
		return
	end

	if slot0.putListPage:OnBackPressed() then
		return
	end

	if slot0.contextData.furnitureDescMsgBox:GetLoaded() and slot0.contextData.furnitureDescMsgBox:isShowing() then
		slot0.contextData.furnitureDescMsgBox:Hide()

		return
	end

	if slot0.contextData.filterPanel:GetLoaded() and slot0.contextData.filterPanel:isShowing() then
		slot0.contextData.filterPanel:Hide()

		return
	end

	triggerButton(slot0.saveBtn)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>