<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldswitchplanninglayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldswitchplanninglayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WorldSwitchPlanningLayer&quot;, import(&quot;view.base.BaseUI&quot;))
slot0.MODE_DIFFICULT = 0
slot0.MODE_SAFE = 1
slot0.MODE_TREASURE = 2
slot0.modeToggleDic = {
	[0] = {
		boss = true,
		wait_2 = true,
		wait = true,
		base = true,
		consume = true
	},
	{
		safe = true,
		wait_2 = true,
		wait = true,
		boss = true,
		consume = true
	},
	{
		treasure = true,
		consume = true,
		wait = true,
		boss = true
	}
}

slot0.getUIName = function(slot0)
	return &quot;WorldSwitchPlanningUI&quot;
end

slot0.init = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)

	slot0.rtBg = slot0._tf:Find(&quot;bg&quot;)

	onButton(slot0, slot0.rtBg, function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot0.rtWindow = slot0._tf:Find(&quot;window&quot;)
	slot0.btnBack = slot0.rtWindow:Find(&quot;top/btnBack&quot;)

	onButton(slot0, slot0.btnBack, function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot0.btnCancel = slot0.rtWindow:Find(&quot;button_container/custom_button_2&quot;)

	setText(slot0.btnCancel:Find(&quot;pic&quot;), i18n(&quot;text_cancel&quot;))
	onButton(slot0, slot0.btnCancel, function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot0.btnConfirm = slot0.rtWindow:Find(&quot;button_container/custom_button_1&quot;)

	setText(slot0.btnConfirm:Find(&quot;pic&quot;), i18n(&quot;text_confirm&quot;))
	onButton(slot0, slot0.btnConfirm, function ()
		uv0:emit(WorldSwitchPlanningMediator.OnConfirm)
		uv0:closeView()
	end, SFX_CONFIRM)

	slot0.btnMove = slot0.rtWindow:Find(&quot;button_container/custom_button_3&quot;)

	setText(slot0.btnMove:Find(&quot;pic&quot;), i18n(&quot;text_goto&quot;))
	onButton(slot0, slot0.btnMove, function ()
		if nowWorld():GetInventoryProxy():GetItemCount(WorldConst.SwitchPlainingItemId) &gt; 0 then
			uv0:emit(WorldSwitchPlanningMediator.OnMove, {
				inMap = true,
				context = Context.New({
					mediator = WorldInventoryMediator,
					viewComponent = WorldInventoryLayer
				})
			})
		elseif not slot0:IsSystemOpen(WorldConst.SystemResetShop) then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;world_automode_treasure_3&quot;))
		else
			uv0:emit(WorldSwitchPlanningMediator.OnMove, {
				inMap = false,
				context = Context.New({
					mediator = WorldShopMediator,
					viewComponent = WorldShopLayer
				})
			})
		end

		uv0:closeView()
	end, SFX_CONFIRM)

	slot0.rtContent = slot0.rtWindow:Find(&quot;content&quot;)

	onToggle(slot0, slot0.rtContent:Find(&quot;toggles/toggle_base&quot;), function (slot0)
		if slot0 then
			uv0:updateView(uv1.MODE_DIFFICULT)
			scrollTo(uv0.rtView:Find(&quot;content&quot;), nil, 1)
		end
	end, SFX_PANEL)
	onToggle(slot0, slot0.rtContent:Find(&quot;toggles/toggle_safe&quot;), function (slot0)
		if slot0 then
			uv0:updateView(uv1.MODE_SAFE)
			scrollTo(uv0.rtView:Find(&quot;content&quot;), nil, 1)
		end
	end, SFX_PANEL)

	slot4 = function(slot0)
		if slot0 then
			uv0:updateView(uv1.MODE_TREASURE)
			scrollTo(uv0.rtView:Find(&quot;content&quot;), nil, 1)
		end
	end

	slot5 = SFX_PANEL

	onToggle(slot0, slot0.rtContent:Find(&quot;toggles/toggle_treasure&quot;), slot4, slot5)

	slot0.rtView = slot0.rtContent:Find(&quot;view&quot;)

	for slot4, slot5 in ipairs({
		&quot;base&quot;,
		&quot;treasure&quot;
	}) do
		slot6 = slot0.rtView
		slot6 = slot6:Find(&quot;content/&quot; .. slot5 .. &quot;/toggles&quot;)
		slot7 = slot6:Find(&quot;all&quot;)
		slot8 = {}
		slot9 = 0
		slot10 = slot6.childCount

		eachChild(slot6, function (slot0)
			onToggle(uv0, slot0, function (slot0)
				uv0[uv1.name] = slot0 and 1 or 0
				uv2 = uv2 + (slot0 and 1 or 0) - defaultValue(uv0[uv1.name], 0)
				slot2 = true

				if uv1 == uv3 and slot0 then
					eachChild(uv4, function (slot0)
						if slot0 ~= uv0 and GetComponent(slot0, typeof(Toggle)).isOn == true then
							triggerToggle(slot0, false)

							uv1 = false
						end
					end)
				elseif uv2 == 0 or uv2 &gt;= uv5 - 1 then
					triggerToggle(uv3, true)

					slot2 = false
				elseif uv2 &gt; 1 and GetComponent(uv3, typeof(Toggle)).isOn == true then
					triggerToggle(uv3, false)

					slot2 = false
				end

				if slot2 then
					uv6:saveConfig(uv7)
				end
			end, SFX_PANEL)
		end)
	end

	slot1 = pg.gameset.joint_boss_ticket.description
	slot2 = slot1[1] + slot1[2]
	slot4 = {}

	table.insert(slot4, &quot;&quot;)
	table.insert(slot4, slot1[1] .. &quot;&amp;&quot; .. slot2)
	table.insert(slot4, tostring(slot2))

	slot8 = slot4[3]
	slot0.togglesList = {
		safe = {
			getFlag = function ()
				return PlayerPrefs.GetString(&quot;auto_switch_difficult_safe&quot;, &quot;all&quot;)
			end,
			setFlag = function (slot0)
				PlayerPrefs.SetString(&quot;auto_switch_difficult_safe&quot;, slot0)
				PlayerPrefs.Save()
			end,
			info = {
				all = &quot;all&quot;,
				only = &quot;only&quot;
			}
		},
		wait = {
			getFlag = function ()
				return PlayerPrefs.GetInt(&quot;auto_switch_wait&quot;, 0)
			end,
			setFlag = function (slot0)
				PlayerPrefs.SetInt(&quot;auto_switch_wait&quot;, slot0)
				PlayerPrefs.Save()
			end,
			info = {
				yes = 1,
				no = 0
			}
		},
		wait_2 = {
			getFlag = function ()
				return PlayerPrefs.GetInt(&quot;auto_switch_wait_2&quot;, 0)
			end,
			setFlag = function (slot0)
				PlayerPrefs.SetInt(&quot;auto_switch_wait_2&quot;, slot0)
				PlayerPrefs.Save()
			end,
			info = {
				yes = 1,
				no = 0
			}
		},
		boss = {
			getFlag = function ()
				return getProxy(SettingsProxy):GetWorldBossProgressTipFlag()
			end,
			setFlag = function (slot0)
				getProxy(SettingsProxy):WorldBossProgressTipFlag(slot0)
			end,
			info = {
				no = slot4[1],
				[&quot;100&quot;] = slot4[2],
				[&quot;200&quot;] = slot8
			}
		},
		consume = {
			getFlag = function ()
				return getProxy(SettingsProxy):GetWorldFlag(&quot;consume_item&quot;)
			end,
			setFlag = function (slot0)
				getProxy(SettingsProxy):SetWorldFlag(&quot;consume_item&quot;, slot0)
			end,
			info = {
				yes = true,
				no = false
			}
		}
	}

	for slot8, slot9 in pairs(slot0.togglesList) do
		slot14 = &quot;/toggles&quot;
		slot10 = slot0.rtView:Find(&quot;content/&quot; .. slot8 .. slot14)

		for slot14, slot15 in pairs(slot9.info) do
			onToggle(slot0, slot10:Find(slot14), function (slot0)
				if slot0 then
					uv0.setFlag(uv1)
				end
			end, SFX_PANEL)
		end
	end

	for slot9, slot10 in pairs({
		base = {
			text = &quot;world_automode_setting_1&quot;,
			info = {
				[&quot;5&quot;] = &quot;world_automode_setting_1_2&quot;,
				until_4 = &quot;world_automode_setting_1_1&quot;,
				[&quot;6&quot;] = &quot;world_automode_setting_1_3&quot;,
				all = &quot;world_automode_setting_1_4&quot;
			}
		},
		safe = {
			text = &quot;world_automode_setting_2&quot;,
			info = {
				all = &quot;world_automode_setting_2_2&quot;,
				only = &quot;world_automode_setting_2_1&quot;
			}
		},
		treasure = {
			text = &quot;world_automode_setting_new_1&quot;,
			info = {
				all = &quot;world_automode_setting_new_1_5&quot;,
				[&quot;6&quot;] = &quot;world_automode_setting_new_1_4&quot;,
				[&quot;5&quot;] = &quot;world_automode_setting_new_1_3&quot;,
				until_3 = &quot;world_automode_setting_new_1_1&quot;,
				[&quot;4&quot;] = &quot;world_automode_setting_new_1_2&quot;
			}
		},
		wait = {
			text = &quot;world_automode_setting_all_1&quot;,
			info = {
				yes = &quot;world_automode_setting_all_1_1&quot;,
				no = &quot;world_automode_setting_all_1_2&quot;
			}
		},
		wait_2 = {
			text = &quot;world_automode_setting_all_4&quot;,
			info = {
				yes = &quot;world_automode_setting_all_4_1&quot;,
				no = &quot;world_automode_setting_all_4_2&quot;
			}
		},
		boss = {
			text = &quot;world_automode_setting_all_2&quot;,
			info = {
				[&quot;200&quot;] = &quot;world_automode_setting_all_2_3&quot;,
				[&quot;100&quot;] = &quot;world_automode_setting_all_2_2&quot;,
				no = &quot;world_automode_setting_all_2_1&quot;
			}
		},
		consume = {
			text = &quot;world_automode_setting_all_3&quot;,
			info = {
				yes = &quot;world_automode_setting_all_3_2&quot;,
				no = &quot;world_automode_setting_all_3_1&quot;
			}
		}
	}) do
		slot15 = slot10.text

		setText(slot0.rtView:Find(&quot;content/&quot; .. slot9):Find(&quot;Text&quot;), i18n(slot15))

		for slot15, slot16 in pairs(slot10.info) do
			setText(slot11:Find(&quot;toggles/&quot; .. slot15 .. &quot;/Text&quot;), i18n(slot16))
		end
	end

	setText(slot0.rtWindow:Find(&quot;top/bg/title&quot;), i18n(&quot;world_automode_title_1&quot;))
	setText(slot0.rtWindow:Find(&quot;top/bg/title/title_en&quot;), i18n(&quot;world_automode_title_2&quot;))
	setText(slot0.rtContent:Find(&quot;toggles/toggle_base/Text&quot;), i18n(&quot;area_putong&quot;))
	setText(slot0.rtContent:Find(&quot;toggles/toggle_safe/Text&quot;), i18n(&quot;area_anquan&quot;))
	setText(slot0.rtContent:Find(&quot;toggles/toggle_treasure/Text&quot;), i18n(&quot;area_yinmi&quot;))
end

slot0.didEnter = function(slot0)
	triggerToggle(slot0.rtContent:Find(&quot;toggles&quot;):GetChild(PlayerPrefs.GetInt(&quot;auto_switch_mode&quot;, 0)), true)
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

slot0.initToggle = function(slot0, slot1)
	slot2 = slot0.togglesList[slot1]
	slot3 = slot2.getFlag()

	for slot7, slot8 in pairs(slot2.info) do
		if slot8 == slot3 then
			triggerToggle(slot0.rtView:Find(&quot;content/&quot; .. slot1 .. &quot;/toggles/&quot; .. slot7), true)

			break
		end
	end
end

slot0.updateView = function(slot0, slot1)
	PlayerPrefs.SetInt(&quot;auto_switch_mode&quot;, slot1)
	PlayerPrefs.Save()

	slot3 = slot1 == uv0.MODE_TREASURE and not nowWorld():GetGobalFlag(&quot;treasure_flag&quot;)

	setActive(slot0.rtView:Find(&quot;content&quot;), not slot3)
	setActive(slot0.rtContent:Find(&quot;scrollbar&quot;), not slot3)
	setActive(slot0.rtView:Find(&quot;tip&quot;), slot3)
	setActive(slot0.btnConfirm, not slot3)
	setActive(slot0.btnMove, slot3)

	if slot3 then
		if slot2:GetInventoryProxy():GetItemCount(WorldConst.SwitchPlainingItemId) &gt; 0 then
			setText(slot0.rtView:Find(&quot;tip/Text&quot;), i18n(&quot;world_automode_treasure_2&quot;))
		else
			setText(slot0.rtView:Find(&quot;tip/Text&quot;), i18n(&quot;world_automode_treasure_1&quot;))
		end
	end

	slot5 = slot0.rtView

	eachChild(slot5:Find(&quot;content&quot;), function (slot0)
		setActive(slot0, uv0.modeToggleDic[uv1][slot0.name])

		if uv0.modeToggleDic[uv1] then
			switch(slot0.name, {
				base = function ()
					slot0 = {}
					slot4 = &quot;auto_switch_difficult_base&quot;
					slot5 = &quot;all&quot;

					for slot4, slot5 in ipairs(uv0.paresingToggleString(PlayerPrefs.GetString(slot4, slot5))) do
						slot0[slot5] = true
					end

					slot2 = uv1.rtView

					eachChild(slot2:Find(&quot;content/base/toggles&quot;), function (slot0)
						triggerToggle(slot0, uv0[slot0.name])
					end)
				end,
				treasure = function ()
					slot0 = {}
					slot4 = &quot;auto_switch_difficult_treasure&quot;
					slot5 = &quot;all&quot;

					for slot4, slot5 in ipairs(uv0.paresingToggleString(PlayerPrefs.GetString(slot4, slot5))) do
						slot0[slot5] = true
					end

					slot2 = uv1.rtView

					eachChild(slot2:Find(&quot;content/treasure/toggles&quot;), function (slot0)
						triggerToggle(slot0, uv0[slot0.name])
					end)
				end
			}, function ()
				uv0:initToggle(uv1.name)
			end)
		end
	end)
end

slot0.saveConfig = function(slot0, slot1)
	slot4 = slot0.rtView

	eachChild(slot4:Find(&quot;content/&quot; .. slot1 .. &quot;/toggles&quot;), function (slot0)
		if GetComponent(slot0, typeof(Toggle)).isOn then
			table.insert(uv0, slot0.name)
		end
	end)
	PlayerPrefs.SetString(&quot;auto_switch_difficult_&quot; .. slot1, table.concat({}, &quot;&amp;&quot;))
	PlayerPrefs.Save()
end

slot0.paresingToggleString = function(slot0)
	if not slot0 or slot0 == &quot;&quot; then
		return {}
	end

	return string.split(slot0, &quot;&amp;&quot;)
end

slot0.checkDifficultValid = function(slot0, slot1)
	for slot6, slot7 in ipairs(uv0.paresingToggleString(slot0)) do
		if slot7 == &quot;all&quot; then
			return true
		elseif string.sub(slot7, 1, 6) == &quot;until_&quot; then
			if slot1 &lt;= tonumber(string.sub(slot7, 7)) then
				return true
			end
		elseif slot1 == tonumber(slot7) then
			return true
		end
	end

	return false
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>