<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldshoplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldshoplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WorldShopLayer&quot;, import(&quot;view.base.BaseUI&quot;))
slot0.Listeners = {
	onUpdateGoods = &quot;updateGoods&quot;
}
slot0.optionsPath = {
	&quot;adapt/top/title/option&quot;
}

slot0.getUIName = function(slot0)
	return &quot;WorldShopUI&quot;
end

slot0.getBGM = function(slot0)
	return &quot;story-richang&quot;
end

slot0.init = function(slot0)
	for slot4, slot5 in pairs(uv0.Listeners) do
		slot0[slot4] = function (...)
			uv0[uv1](uv2, ...)
		end
	end

	slot0.btnBack = slot0:findTF(&quot;adapt/top/title/back_button&quot;)
	slot0.rtRes = slot0:findTF(&quot;adapt/middle/content/res&quot;)
	slot0.rtResetTime = slot0:findTF(&quot;adapt/middle/content/resetTimer&quot;)
	slot0.rtResetTip = slot0:findTF(&quot;adapt/middle/content/resetTip&quot;)
	slot0.rtShop = slot0:findTF(&quot;adapt/middle/content/world_shop&quot;)
	slot0.goodsItemList = UIItemList.New(slot0.rtShop:Find(&quot;content&quot;), slot0.rtShop:Find(&quot;content/item_tpl&quot;))
	slot0.singleWindow = OriginShopSingleWindow.New(slot0._tf, slot0.event)
	slot0.multiWindow = OriginShopMultiWindow.New(slot0._tf, slot0.event)
end

slot0.didEnter = function(slot0)
	pg.UIMgr.GetInstance():OverlayPanel(slot0._tf, {
		groupName = slot0:getGroupNameFromData()
	})
	onButton(slot0, slot0.btnBack, function ()
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, slot0.rtRes, function ()
		uv0:emit(uv1.ON_DROP, {
			type = DROP_TYPE_RESOURCE,
			id = WorldConst.ResourceID
		})
	end, SFX_PANEL)
	slot0.goodsItemList:make(function (slot0, slot1, slot2)
		slot3 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			slot4 = Goods.Create(uv0.goodsList[slot3], Goods.TYPE_WORLD)

			WorldGoodsCard.New(slot2):update(slot4)

			slot6 = slot4:getLimitCount()

			setText(slot2:Find(&quot;item/count_contain/label&quot;), i18n(&quot;activity_shop_exchange_count&quot;))
			setText(slot2:Find(&quot;item/count_contain/count&quot;), slot6 - slot4.buyCount .. &quot;/&quot; .. slot6)
			setTextColor(slot2:Find(&quot;item/count_contain/count&quot;), Color.New(unpack(ActivityGoodsCard.DefaultColor)))
			setTextColor(slot2:Find(&quot;item/count_contain/label&quot;), Color.New(unpack(ActivityGoodsCard.DefaultColor)))
			onButton(uv0, slot2, function ()
				slot0 = nowWorld()

				if uv0:getConfig(&quot;genre&quot;) == ShopArgs.WorldCollection and slot0:GetTaskProxy():hasDoingCollectionTask() then
					pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;world_collection_task_tip_1&quot;))

					return
				elseif uv0.id == 100000 and not underscore.any(underscore.values(slot0.pressingAwardDic), function (slot0)
					return slot0.flag
				end) then
					pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;world_complete_item_tip&quot;))

					return
				end

				if not uv0:canPurchase() then
					pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;buy_countLimit&quot;))

					return
				end

				(uv1 &gt; 1 and uv2.multiWindow or uv2.singleWindow):ExecuteAction(&quot;Open&quot;, uv0, function (slot0, slot1)
					uv0:emit(WorldShopMediator.BUY_ITEM, slot0.id, slot1)
				end)
			end, SFX_PANEL)
		end
	end)
	slot0:AddWorldListener()

	slot1 = nowWorld()

	slot0:updateGoods(nil, , slot1:GetWorldShopGoodsDictionary())

	slot2 = slot1:IsReseted()

	setActive(slot0.rtResetTime, slot2)
	setActive(slot0.rtResetTip, not slot2)
	setText(slot0.rtResetTime:Find(&quot;number&quot;), math.floor(slot1:GetResetWaitingTime() / 86400))
	setText(slot0.rtResetTip:Find(&quot;info&quot;), i18n(&quot;world_shop_preview_tip&quot;))

	if slot2 then
		WorldGuider.GetInstance():PlayGuide(&quot;WorldG180&quot;)
	end
end

slot0.onBackPressed = function(slot0)
	if slot0.singleWindow:isShowing() then
		slot0.singleWindow:Close()

		return
	end

	if slot0.multiWindow:isShowing() then
		slot0.multiWindow:Close()

		return
	end

	pg.CriMgr.GetInstance():PlaySoundEffect_V3(SFX_CANCEL)
	triggerButton(slot0.btnBack)
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
	slot0:RemoveWorldListener()
	slot0.singleWindow:Destroy()
	slot0.multiWindow:Destroy()
end

slot0.setPlayer = function(slot0, slot1)
	slot0.player = slot1

	GetImageSpriteFromAtlasAsync(Drop.New({
		type = DROP_TYPE_RESOURCE,
		id = WorldConst.ResourceID
	}):getIcon(), &quot;&quot;, slot0.rtRes:Find(&quot;icon&quot;), true)
	setText(slot0.rtRes:Find(&quot;number&quot;), slot0.player:getResource(WorldConst.ResourceID))
end

slot0.AddWorldListener = function(slot0)
	nowWorld():AddListener(World.EventUpdateShopGoods, slot0.onUpdateGoods)
end

slot0.RemoveWorldListener = function(slot0)
	nowWorld():RemoveListener(World.EventUpdateShopGoods, slot0.onUpdateGoods)
end

slot0.updateGoods = function(slot0, slot1, slot2, slot3)
	slot4 = pg.TimeMgr.GetInstance()
	slot5 = nowWorld()
	slot6 = slot5.expiredTime
	slot7 = slot5:GetTaskProxy()
	slot8 = {}

	for slot12, slot13 in pairs(slot3) do
		if slot4:inTime(pg.shop_template[slot12].time) then
			if not slot4:inTime(pg.shop_template[slot12].time, slot6 - 1) then
				-- Nothing
			elseif slot12 == 100000 and not nowWorld():IsReseted() then
				-- Nothing
			elseif pg.shop_template[slot12].genre ~= ShopArgs.WorldCollection or slot13 ~= 0 or not slot7:getRecycleTask(pg.shop_template[slot12].effect_args[2]) then
				table.insert(slot8, {
					id = slot12,
					count = slot13
				})
			end
		end
	end

	table.sort(slot8, CompareFuncs({
		function (slot0)
			return pg.shop_template[slot0.id].order
		end,
		function (slot0)
			return slot0.id
		end
	}))

	slot0.goodsList = slot8

	slot0.goodsItemList:align(#slot0.goodsList)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>