<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldguider.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldguider.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = singletonClass(&quot;WorldGuider&quot;, import(&quot;....Mod.Experiment.BaseEntity&quot;))
slot0.Fields = {
	tStamina = &quot;number&quot;,
	tempGridPos = &quot;table&quot;
}

slot0.Init = function(slot0)
	slot0.tempGridPos = {}
end

slot0.SetTempGridPos = function(slot0, slot1, slot2)
	slot0.tempGridPos[slot2 or 1] = pg.NewGuideMgr.GetInstance()._tf:InverseTransformPoint(slot1)
end

slot0.SetTempGridPos2 = function(slot0, slot1, slot2)
	slot0:SetTempGridPos(GameObject.Find(&quot;OverlayCamera&quot;):GetComponent(typeof(Camera)):ScreenToWorldPoint(GameObject.Find(&quot;LevelCamera&quot;):GetComponent(typeof(Camera)):WorldToScreenPoint(slot1)), slot2)
end

slot0.GetTempGridPos = function(slot0, slot1)
	return slot0.tempGridPos[slot1 or 1]
end

slot0.CheckPlayChooseCamp = function(slot0)
	if nowWorld():GetRealm() == nil or slot1 &lt; 1 then
		slot0:PlayGuide(&quot;WorldG001&quot;)
	end
end

slot0.CheckIntruduce = function(slot0)
	if nowWorld():GetRealm() and slot1 &gt; 0 then
		if slot1 == 1 then
			slot0:PlayGuide(&quot;WorldG002_1&quot;)
		elseif slot1 == 2 then
			slot0:PlayGuide(&quot;WorldG002_2&quot;)
		end
	end
end

slot0.CheckUseStaminaItem = function(slot0)
	slot2 = nowWorld():GetInventoryProxy()
	slot3 = 0

	for slot7, slot8 in ipairs({
		251,
		252,
		253
	}) do
		slot3 = slot3 + slot2:GetItemCount(slot8)
	end

	if slot3 &gt; 0 then
		slot0:PlayGuide(&quot;WorldG020&quot;)
	end
end

slot0.CheckMapLimit = function(slot0)
	pg.NewGuideMgr.GetInstance():Play(&quot;WorldG012&quot;)
end

slot0.SpecialCheck = function(slot0, slot1)
	if slot1 == &quot;WorldG008&quot; and nowWorld():GetActiveMap() ~= nil and slot2.findex == 2 then
		return &quot;WorldG008_2&quot;
	end

	return slot1
end

slot0.interruptReplayList = {
	&quot;WorldG007&quot;,
	&quot;WorldG021&quot;,
	&quot;WorldG100&quot;,
	&quot;WorldG121&quot;,
	&quot;WorldG141&quot;,
	&quot;WorldG151&quot;
}

slot0.PlayGuide = function(slot0, slot1, slot2, slot3)
	slot4 = pg.NewGuideMgr.GetInstance()

	if not GUIDE_WROLD or not slot2 and pg.NewStoryMgr.GetInstance():IsPlayed(slot1) or not slot4:CanPlay() then
		existCall(slot3)

		return false
	end

	if not _.any(uv0.interruptReplayList, function (slot0)
		return uv0 == slot0
	end) then
		pg.m02:sendNotification(GAME.STORY_UPDATE, {
			storyId = slot1
		})
	end

	slot4:Play(slot1, nil, function ()
		return existCall(uv0)
	end)

	return true
end

slot0.WORLD_HIDE_UI = &quot;world hide ui&quot;
slot0.WORLD_OPEN_MAP_OVERVIEW = &quot;world open map overview&quot;
slot0.WORLD_SHOW_MARGIN = &quot;world show margin&quot;
slot0.WORLD_SCANNER_DISPLAY = &quot;world scanner display&quot;
slot0.WORLD_GET_COMPASS_POS = &quot;world get compass pos&quot;
slot0.WORLD_GET_COMPASS_MAP_POS = &quot;world get compass map pos&quot;
slot0.WORLD_GET_SLG_TILE_POS = &quot;world get slg tile pos&quot;
slot0.WORLD_GET_SCANNER_POS = &quot;world get scanner pos&quot;
slot0.WORLD_OPEN_TRANSPORT_POS = &quot;world open transport pos&quot;
slot0.WORLD_SELECT_MODEL_MAP = &quot;world select model map&quot;
slot0.WORLD_FOCUS_EDGE = &quot;world focus edge&quot;
slot0.WORLD_FOCUS_EVENT = &quot;world focus event&quot;
slot0.WORLD_SCANNER_EVENT = &quot;world scanner event&quot;
slot0.WORLD_HELP_EVENT = &quot;world help event&quot;
slot0.WORLD_RECALL = &quot;world recall&quot;
slot1 = {
	[slot0.WORLD_HIDE_UI] = function (slot0, slot1, slot2)
		if slot1.type == 1 then
			slot2:HideMapRightCompass()
		elseif slot1.type == 2 then
			slot2:HideMapRightMemo()
		elseif slot1.type == 3 then
			-- Nothing
		elseif slot1.type == 4 then
			slot2:HideOverall()
		end
	end,
	[slot0.WORLD_GET_COMPASS_POS] = function (slot0, slot1, slot2)
		slot2:GetCompassGridPos(slot1.row, slot1.column, slot1.cachedIndex)
	end,
	[slot0.WORLD_GET_COMPASS_MAP_POS] = function (slot0, slot1, slot2)
		slot2:GetEntranceTrackMark(slot1.mapId, slot1.cachedIndex)
	end,
	[slot0.WORLD_GET_SLG_TILE_POS] = function (slot0, slot1, slot2)
		slot2:GetSlgTilePos(slot1.row, slot1.column, slot1.cachedIndex)
	end,
	[slot0.WORLD_GET_SCANNER_POS] = function (slot0, slot1, slot2)
		slot2:GetScannerPos(slot1 and slot1.cachedIndex or 1)
	end,
	[slot0.WORLD_OPEN_MAP_OVERVIEW] = function (slot0, slot1, slot2)
		slot2:Op(&quot;OpShowMarkOverview&quot;, {
			ids = slot1.mapIds
		})
	end,
	[slot0.WORLD_SHOW_MARGIN] = function (slot0, slot1, slot2)
		slot2:ShowMargin(slot1.tdType)
	end,
	[slot0.WORLD_SCANNER_DISPLAY] = function (slot0, slot1, slot2)
		if slot1.open == 1 then
			slot2:OnLongPressMap(slot1.row, slot1.column)
		else
			slot2:HideScannerPanel()
		end
	end,
	[slot0.WORLD_OPEN_TRANSPORT_POS] = function (slot0, slot1, slot2)
		slot2:EnterTransportWorld()
	end,
	[slot0.WORLD_SELECT_MODEL_MAP] = function (slot0, slot1, slot2)
		slot2:GuideSelectModelMap(slot1.mapId)
	end,
	[slot0.WORLD_FOCUS_EDGE] = function (slot0, slot1, slot2)
		slot2:Op(&quot;OpMoveCameraTarget&quot;, slot1.line, slot1.stayTime)
	end,
	[slot0.WORLD_FOCUS_EVENT] = function (slot0, slot1, slot2)
		slot2:Op(&quot;OpMoveCamera&quot;, slot1.eventId, slot1.stayTime)
	end,
	[slot0.WORLD_SCANNER_EVENT] = function (slot0, slot1, slot2)
		slot2:GuideShowScannerEvent(slot1.eventId)
	end,
	[slot0.WORLD_HELP_EVENT] = function (slot0, slot1, slot2)
		slot2:emit(WorldMediator.OnOpenLayer, Context.New({
			mediator = WorldHelpMediator,
			viewComponent = WorldHelpLayer,
			data = {
				titleId = slot1.titleId,
				pageId = slot1.pageId
			}
		}))
	end,
	[slot0.WORLD_RECALL] = function (slot0, slot1, slot2)
		slot2:Op(&quot;OpInteractive&quot;)
	end
}

slot0.GetWorldGuiderNotifies = function(slot0)
	return underscore.keys(uv0)
end

slot0.WorldGuiderNotifyHandler = function(slot0, slot1, slot2, slot3)
	switch(slot1, uv0, nil, slot1, slot2, slot3)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>