<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldcollectionmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldcollectionmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WorldCollectionMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.ON_ACHIEVE_STAR = &quot;WorldCollectionMediator.ON_ACHIEVE_STAR&quot;
slot0.ON_ACHIEVE_OVERVIEW = &quot;WorldCollectionMediator.ON_ACHIEVE_OVERVIEW&quot;
slot0.ON_MAP = &quot;WorldCollectionMediator.ON_MAP&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_ACHIEVE_STAR, function (slot0, slot1)
		uv0:sendNotification(GAME.WORLD_ACHIEVE, {
			list = slot1
		})
	end)
	slot0:bind(uv0.ON_ACHIEVE_OVERVIEW, function (slot0)
		uv0:sendNotification(WorldMediator.OnOpenMarkMap, {
			mode = &quot;Achievement&quot;
		})
	end)
	slot0:bind(uv0.ON_MAP, function (slot0, slot1)
		uv0:sendNotification(uv1.ON_MAP, {
			entrance = slot1,
			mapTypes = {
				&quot;complete_chapter&quot;,
				&quot;base_chapter&quot;
			}
		})
	end)
	slot0.viewComponent:SetAchievementList(nowWorld():GetAtlas():GetAchEntranceList())
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.WORLD_ACHIEVE_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.WORLD_ACHIEVE_DONE then
		slot4 = slot0.viewComponent

		slot4:emit(BaseUI.ON_ACHIEVE, slot3.drops, function ()
			uv0.viewComponent:flushAchieveUpdate(uv1.list)
		end)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>