<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldswitchplanningmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldswitchplanningmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WorldSwitchPlanningMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.OnConfirm = &quot;WorldSwitchPlanningMediator.OnConfirm&quot;
slot0.OnMove = &quot;WorldSwitchPlanningMediator.OnMove&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.OnConfirm, function (slot0)
		uv0:sendNotification(WorldMediator.OnStartAutoSwitch)
	end)
	slot0:bind(uv0.OnMove, function (slot0, slot1)
		uv0:sendNotification(WorldMediator.OnMoveAndOpenLayer, slot1)
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {}
end

slot0.handleNotification = function(slot0, slot1)
	slot2 = slot1:getName()
	slot3 = slot1:getBody()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>