<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worldinformationmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>worldinformationmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WorldInformationMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.OnTriggerTask = &quot;WorldInformationMediator.OnTriggerTask&quot;
slot0.OnSubmitTask = &quot;WorldInformationMediator.OnSubmitTask&quot;
slot0.OnTaskGoto = &quot;WorldInformationMediator.OnTaskGoto&quot;
slot0.OnOpenDailyTaskPanel = &quot;WorldInformationMediator.OnOpenDailyTaskPanel&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.OnTaskGoto, function (slot0, slot1)
		uv0:sendNotification(WorldMediator.OnTriggerTaskGo, {
			taskId = slot1
		})
	end)
	slot0:bind(uv0.OnTriggerTask, function (slot0, slot1)
		uv0:sendNotification(GAME.WORLD_TRIGGER_TASK, {
			taskId = slot1
		})
	end)
	slot0:bind(uv0.OnSubmitTask, function (slot0, slot1)
		uv0:sendNotification(GAME.WORLD_SUMBMIT_TASK, {
			taskId = slot1.id
		})
	end)
	slot0:bind(uv0.OnOpenDailyTaskPanel, function (slot0)
		nowWorld():GetTaskProxy():checkDailyTask(function ()
			uv0:addSubLayers(Context.New({
				mediator = WorldDailyTaskMediator,
				viewComponent = WorldDailyTaskLayer
			}))
		end)
	end)
	slot0.viewComponent:setWorldTaskProxy(nowWorld():GetTaskProxy())
end

slot0.listNotificationInterests = function(slot0)
	return {
		WorldCollectionMediator.ON_MAP
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == WorldCollectionMediator.ON_MAP then
		slot0.viewComponent:closeView()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>