<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settingsredeempanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>settingsredeempanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SettingsRedeemPanel&quot;, import(&quot;.SettingsBasePanel&quot;))

slot0.GetUIName = function(slot0)
	return &quot;SettingsRedeem&quot;
end

slot0.GetTitle = function(slot0)
	return i18n(&quot;Settings_title_Redeem&quot;)
end

slot0.GetTitleEn = function(slot0)
	return &quot;  / KEY&quot;
end

slot0.OnInit = function(slot0)
	slot0.codeInput = findTF(slot0._tf, &quot;voucher&quot;)
	slot0.placeholder = findTF(slot0.codeInput, &quot;Placeholder&quot;)
	slot0.placeholder:GetComponent(typeof(Text)).text = i18n(&quot;exchangecode_use_placeholder&quot;)
	slot0.achieveBtn = findTF(slot0.codeInput, &quot;submit&quot;)

	onButton(slot0, slot0.achieveBtn, function ()
		pg.m02:sendNotification(GAME.EXCHANGECODE_USE, {
			key = uv0.codeInput:GetComponent(typeof(InputField)).text
		})
	end, SFX_CONFIRM)
	setGray(slot0.achieveBtn, getInputText(slot0.codeInput) == &quot;&quot;)
	onInputChanged(slot0, slot0.codeInput, function ()
		setGray(uv0.achieveBtn, getInputText(uv0.codeInput) == &quot;&quot;)
	end)
	setText(findTF(slot0._tf, &quot;voucher/prompt&quot;), i18n(&quot;Settings_title_Redeem_input_label&quot;))
	setText(findTF(slot0._tf, &quot;voucher/Placeholder&quot;), i18n(&quot;Settings_title_Redeem_input_placeholder&quot;))
	setText(findTF(slot0._tf, &quot;voucher/submit/Image&quot;), i18n(&quot;Settings_title_Redeem_input_submit&quot;))
end

slot0.ClearExchangeCode = function(slot0)
	slot0.codeInput:GetComponent(typeof(InputField)).text = &quot;&quot;
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>