<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settingsstoryspeedpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>settingsstoryspeedpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SettingsStorySpeedPanel&quot;, import(&quot;.SettingsBasePanel&quot;))

slot0.GetUIName = function(slot0)
	return &quot;SettingsStorySpeed&quot;
end

slot0.GetTitle = function(slot0)
	return i18n(&quot;story_setting_label&quot;)
end

slot0.GetTitleEn = function(slot0)
	return &quot;  / AUTO SPEED&quot;
end

slot0.OnInit = function(slot0)
	slot0.btns = {}

	for slot5 = 1, slot0._tf:Find(&quot;speeds&quot;).childCount do
		slot6 = slot1:GetChild(slot5 - 1)

		onToggle(slot0, slot6, function (slot0)
			if slot0 then
				getProxy(SettingsProxy):SetStorySpeed(Story.STORY_AUTO_SPEED[uv0])
			end
		end, SFX_PANEL)
		setText(slot6:Find(&quot;Text&quot;), i18n(&quot;setting_story_speed_&quot; .. slot5))

		slot0.btns[slot5] = slot6
	end
end

slot0.OnUpdate = function(slot0)
	triggerToggle(slot0.btns[table.indexof(Story.STORY_AUTO_SPEED, getProxy(SettingsProxy):GetStorySpeed()) or 2], true)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>