<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settingssecondpasswordpanle.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>settingssecondpasswordpanle.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SettingsSecondPasswordPanle&quot;, import(&quot;.SettingsBasePanel&quot;))

slot0.GetUIName = function(slot0)
	return &quot;SettingsSecondPassWord&quot;
end

slot0.GetTitle = function(slot0)
	return i18n(&quot;Settings_title_Secpw&quot;)
end

slot0.GetTitleEn = function(slot0)
	return &quot;  / SECOND-TIER PASSWORD&quot;
end

slot0.OnInit = function(slot0)
	slot0.helpBtn = findTF(slot0._tf, &quot;btnhelp&quot;)
	slot0.closeBtn = findTF(slot0._tf, &quot;options/close&quot;)
	slot0.openBtn = findTF(slot0._tf, &quot;options/open&quot;)

	setText(slot0._tf:Find(&quot;options/close/Text&quot;), i18n(&quot;settings_pwd_label_close&quot;))
	setText(slot0._tf:Find(&quot;options/open/Text&quot;), i18n(&quot;settings_pwd_label_open&quot;))
	slot0:SetData()
	slot0:RegisterEvent()
end

slot0.SetData = function(slot0)
	slot0.rawdata = getProxy(SecondaryPWDProxy):getRawData()
end

slot0.RegisterEvent = function(slot0)
	onButton(slot0, slot0.helpBtn, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = i18n(&quot;secondary_password_help&quot;)
		})
	end)
	onButton(slot0, slot0.closeBtn, function ()
		if uv0.rawdata.state &gt; 0 then
			slot0 = pg.SecondaryPWDMgr.GetInstance()

			slot0:ChangeSetting({}, function ()
				uv0:UpdateBtnState()
			end)
		end
	end, SFX_UI_TAG)
	onButton(slot0, slot0.openBtn, function ()
		if uv0.rawdata.state &lt;= 0 then
			slot0 = function()
				slot0 = pg.SecondaryPWDMgr.GetInstance()

				slot0:SetPassword(function ()
					uv0:UpdateBtnState()
				end)
			end

			if PlayerPrefs.GetFloat(&quot;firstOpenSecondaryPassword&quot;) == 0 then
				pg.MsgboxMgr.GetInstance():ShowMsgBox({
					type = MSGBOX_TYPE_HELP,
					helps = i18n(&quot;secondary_password_help&quot;),
					onYes = slot0,
					onClose = slot0
				})
				PlayerPrefs.SetFloat(&quot;firstOpenSecondaryPassword&quot;, 1)
				PlayerPrefs.Save()
			else
				slot0()
			end
		end
	end, SFX_UI_TAG)
end

slot0.UpdateBtnState = function(slot0)
	slot1 = slot0.rawdata.state &gt; 0

	setActive(slot0.closeBtn:Find(&quot;on&quot;), not slot1)
	setActive(slot0.closeBtn:Find(&quot;off&quot;), slot1)
	setActive(slot0.openBtn:Find(&quot;on&quot;), slot1)
	setActive(slot0.openBtn:Find(&quot;off&quot;), not slot1)
	pg.m02:sendNotification(NewSettingsMediator.ON_SECON_PWD_STATE_CHANGE)
end

slot0.OnUpdate = function(slot0)
	slot0:UpdateBtnState()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>