<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settingsaccountspecialpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>settingsaccountspecialpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SettingsAccountSpecialPanel&quot;, import(&quot;.SettingsBasePanel&quot;))

slot0.GetUIName = function(slot0)
	return &quot;SettingsAccountSpecial&quot;
end

slot0.GetTitle = function(slot0)
	return i18n(&quot;settings_title_account_del&quot;)
end

slot0.GetTitleEn = function(slot0)
	return &quot; / ACCOUNT SETTING&quot;
end

slot0.OnInit = function(slot0)
	slot0:findUI()
	slot0:addListener()
end

slot0.OnUpdate = function(slot0)
end

slot0.findUI = function(slot0)
	slot0.expandBtn = slot0._tf:Find(&quot;ExpandBtn&quot;)
	slot0.panel = slot0._tf:Find(&quot;Panel&quot;)
	slot0.deleteTitle = slot0.panel:Find(&quot;Notice/DelTitle&quot;)
	slot0.deleteDesc = slot0.panel:Find(&quot;Notice/Text&quot;)
	slot0.confirmText = slot0.panel:Find(&quot;Confirm/Text&quot;)
	slot0.comfirmToggle = slot0.panel:Find(&quot;Confirm/Text/Toggle&quot;)
	slot0.delBtnDiasble = slot0.panel:Find(&quot;DelBtnDisable&quot;)
	slot0.delBtn = slot0.panel:Find(&quot;DelBtn&quot;)

	setText(slot0.deleteTitle, i18n(&quot;settings_text_account_del&quot;))
	setText(slot0.deleteDesc, i18n(&quot;settings_text_account_del_desc&quot;))
	setText(slot0.confirmText, i18n(&quot;settings_text_account_del_confirm&quot;))
	setText(slot0.delBtnDiasble:Find(&quot;Text&quot;), i18n(&quot;settings_text_account_del_btn&quot;))
	setText(slot0.delBtn:Find(&quot;Text&quot;), i18n(&quot;settings_text_account_del_btn&quot;))
	triggerToggle(slot0.comfirmToggle, false)
end

slot0.addListener = function(slot0)
	onButton(slot0, slot0.expandBtn, function ()
		setSizeDelta(uv0._tf, {
			x = 1558,
			y = 515
		})
		scrollToBottom(uv0._tf.parent.parent)
		setActive(uv0.panel, true)
		setActive(uv0.expandBtn, false)
	end, SFX_PANEL)
	onToggle(slot0, slot0.comfirmToggle, function (slot0)
		setActive(uv0.delBtnDiasble, not slot0)
		setActive(uv0.delBtn, slot0)
	end, SFX_PANEL)
	onToggle(slot0, slot0.confirmText, function (slot0)
		triggerToggle(uv0.comfirmToggle, slot0)
	end, SFX_PANEL)
	onButton(slot0, slot0.delBtn, function ()
		uv0:openMsgBox()
	end, SFX_PANEL)
end

slot0.openMsgBox = function(slot0)
	pg.MsgboxMgr.GetInstance():ShowMsgBox({
		modal = true,
		type = MSGBOX_TYPE_ACCOUNTDELETE,
		title = pg.MsgboxMgr.TITLE_INFORMATION,
		weight = LayerWeightConst.TOP_LAYER,
		onYes = function (slot0)
			if slot0 == i18n(&quot;box_account_del_target&quot;) then
				pg.SdkMgr.GetInstance():AccountDelete()
			else
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;tip_account_del_dismatch&quot;))
			end
		end
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>