<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settingsagreementchtpanle.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>settingsagreementchtpanle.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SettingsAgreementCHTPanle&quot;, import(&quot;.SettingsAgreementPanle&quot;))

slot0.OnInit = function(slot0)
	slot1 = slot0._tf:Find(&quot;private&quot;)

	onButton(slot0, slot1, function ()
		pg.UserAgreementMgr.GetInstance():ShowChtPrivate()
	end, SFX_PANEL)

	slot2 = slot0._tf:Find(&quot;licence&quot;)

	onButton(slot0, slot2, function ()
		pg.UserAgreementMgr.GetInstance():ShowChtLicence()
	end, SFX_PANEL)
	setText(slot1:Find(&quot;Text&quot;), i18n(&quot;setting_label_private&quot;))
	setText(slot2:Find(&quot;Text&quot;), i18n(&quot;setting_label_licence&quot;))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>