<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settingsmainscenepanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>settingsmainscenepanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SettingsMainScenePanel&quot;, import(&quot;.SettingsBasePanel&quot;))
slot0.STANDBY_MODE_KEY = &quot;STANDBY_MODE_KEY&quot;
slot0.FLAGSHIP_INTERACTION_KEY = &quot;FLAGSHIP_INTERACTION_KEY&quot;
slot1 = slot0.STANDBY_MODE_KEY
slot2 = &quot;TIME_SYSTEM_KEY&quot;
slot3 = slot0.FLAGSHIP_INTERACTION_KEY
slot4 = &quot;ENTER_STANDBY_MODE_TIME&quot;
slot5 = {
	[0] = 60,
	180,
	600
}

slot0.IsEnableStandbyMode = function()
	return uv0.GetIntegerCache(uv1) == 1
end

slot0.IsEnable24HourSystem = function()
	return uv0.GetIntegerCache(uv1) == 1
end

slot0.IsEnableFlagShipInteraction = function()
	return uv0.GetIntegerCache(uv1) == 1
end

slot0.GetEnterFlagShipValue = function()
	return uv0.GetIntegerCache(uv1)
end

slot0.GetEnterFlagShipTime = function()
	return uv1[uv0.GetEnterFlagShipValue()] or 60
end

slot0.GetUIName = function(slot0)
	return &quot;SettingsMainScene&quot;
end

slot0.GetTitle = function(slot0)
	return i18n(&quot;main_scene_settings&quot;)
end

slot0.GetTitleEn = function(slot0)
	return &quot;   / STANDBY MODE SETTINGS&quot;
end

slot0.OnInit = function(slot0)
	slot0.subToggles = {}

	slot0:InitTimeSystemToggle()
	slot0:InitFlagShipInteractionToggle()
	slot0:InitEnterStandbyModeTime()
	slot0:InitStandbyModeToggle()
end

slot0.CommonToggleSetting = function(slot0, slot1, slot2, slot3, slot4, slot5)
	setScrollText(slot1:Find(&quot;mask/Text&quot;), slot3)

	slot6 = slot1:Find(&quot;on&quot;)
	slot7 = slot1:Find(&quot;off&quot;)

	if slot4 then
		if slot5 then
			slot5(true)
		end

		triggerToggle(slot6, true)
	else
		if slot5 then
			slot5(false)
		end

		triggerToggle(slot7, true)
	end

	onToggle(slot0, slot6, function (slot0)
		if slot0 then
			uv0.SetIntegerCache(uv1, 1)

			if uv2 then
				uv2(true)
			end
		end
	end, SFX_PANEL)
	onToggle(slot0, slot7, function (slot0)
		if slot0 then
			uv0.SetIntegerCache(uv1, 0)

			if uv2 then
				uv2(false)
			end
		end
	end, SFX_PANEL)
end

slot0.InitStandbyModeToggle = function(slot0)
	slot1 = slot0._tf

	slot0:CommonToggleSetting(slot1:Find(&quot;options/1&quot;), uv0, i18n(&quot;settings_enable_standby_mode&quot;), uv1.IsEnableStandbyMode(), function (slot0)
		uv0:EnableOrDisableSubToggles(slot0)
	end)
end

slot0.EnableOrDisableSubToggles = function(slot0, slot1)
	for slot5, slot6 in ipairs(slot0.subToggles) do
		slot7 = GetOrAddComponent(slot6, typeof(CanvasGroup))
		slot7.alpha = slot1 and 1 or 0.7
		slot7.blocksRaycasts = slot1
	end
end

slot0.InitTimeSystemToggle = function(slot0)
	slot1 = slot0._tf:Find(&quot;options/2&quot;)

	slot0:CommonToggleSetting(slot1, uv0, i18n(&quot;settings_time_system&quot;), uv1.IsEnable24HourSystem())
	table.insert(slot0.subToggles, slot1)
end

slot0.InitFlagShipInteractionToggle = function(slot0)
	slot1 = slot0._tf:Find(&quot;options/3&quot;)

	slot0:CommonToggleSetting(slot1, uv0, i18n(&quot;settings_flagship_interaction&quot;), uv1.IsEnableFlagShipInteraction())
	table.insert(slot0.subToggles, slot1)
end

slot0.InitEnterStandbyModeTime = function(slot0)
	slot1 = slot0._tf:Find(&quot;time&quot;)

	setScrollText(slot1:Find(&quot;notify_tpl/mask/Text&quot;), i18n(&quot;settings_enter_standby_mode_time&quot;))
	table.insert(slot0.subToggles, slot1)

	if ({
		[0] = slot1:Find(&quot;notify_tpl/1&quot;),
		slot1:Find(&quot;notify_tpl/2&quot;),
		slot1:Find(&quot;notify_tpl/3&quot;)
	})[uv0.GetEnterFlagShipValue()] then
		triggerToggle(slot4, true)
	end

	for slot8, slot9 in pairs(slot2) do
		onToggle(slot0, slot9, function (slot0)
			if slot0 then
				uv0.SetIntegerCache(uv1, uv2)
			end
		end, SFX_PANEL)
	end
end

slot0.SetIntegerCache = function(slot0, slot1)
	PlayerPrefs.SetInt(slot0 .. &quot;_&quot; .. getProxy(PlayerProxy):getRawData().id, slot1)
	PlayerPrefs.Save()
end

slot0.GetIntegerCache = function(slot0)
	return PlayerPrefs.GetInt(slot0 .. &quot;_&quot; .. getProxy(PlayerProxy):getRawData().id, 0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>