<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>settingsworldpanle.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>settingsworldpanle.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SettingsWorldPanle&quot;, import(&quot;.SettingsBasePanel&quot;))

slot0.GetUIName = function(slot0)
	return &quot;SettingsWorld&quot;
end

slot0.GetTitle = function(slot0)
	return i18n(&quot;world_setting_title&quot;)
end

slot0.GetTitleEn = function(slot0)
	return &quot;  / OPERATION SETTINGS&quot;
end

slot0.OnInit = function(slot0)
	slot2 = slot0._tf
	slot3 = slot0._tf
	slot0.uilist = UIItemList.New(slot2:Find(&quot;options&quot;), slot3:Find(&quot;options/notify_tpl&quot;))
	slot1 = slot0.uilist

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateItem(slot1 + 1, slot2)
		end
	end)

	slot0.worldbossProgressTip = findTF(slot0._tf, &quot;world_boss&quot;)
end

slot0.UpdateItem = function(slot0, slot1, slot2)
	slot3 = slot0.list[slot1]

	slot2:Find(&quot;mask/Text&quot;):GetComponent(&quot;ScrollText&quot;):SetText(slot3.title)
	onButton(slot0, slot2:Find(&quot;mask/Text&quot;), function ()
		pg.m02:sendNotification(NewSettingsMediator.SHOW_DESC, uv0)
	end, SFX_PANEL)
	removeOnToggle(slot2:Find(&quot;on&quot;))

	if slot0:GetDefaultValue(slot3) then
		triggerToggle(slot2:Find(&quot;on&quot;), true)
	else
		triggerToggle(slot2:Find(&quot;off&quot;), true)
	end

	onToggle(slot0, slot2:Find(&quot;on&quot;), function (slot0)
		uv0:OnItemSwitch(uv1, slot0)
	end, SFX_UI_TAG, SFX_UI_CANCEL)
end

slot0.OnItemSwitch = function(slot0, slot1, slot2)
	getProxy(SettingsProxy):SetWorldFlag(slot1.key, slot2)
end

slot0.GetDefaultValue = function(slot0, slot1)
	return getProxy(SettingsProxy):GetWorldFlag(slot1.key)
end

slot0.GetList = function(slot0)
	return {
		{
			key = &quot;story_tips&quot;,
			title = i18n(&quot;world_setting_quickmode&quot;),
			desc = i18n(&quot;world_setting_quickmodetip&quot;)
		},
		{
			key = &quot;consume_item&quot;,
			title = i18n(&quot;world_setting_submititem&quot;),
			desc = i18n(&quot;world_setting_submititemtip&quot;)
		},
		{
			key = &quot;auto_save_area&quot;,
			title = i18n(&quot;world_setting_mapauto&quot;),
			desc = i18n(&quot;world_setting_mapautotip&quot;)
		}
	}
end

slot0.DisplayWorldBossProgressTipSettings = function(slot0)
	slot1 = pg.NewStoryMgr.GetInstance():IsPlayed(&quot;WorldG190&quot;)

	setActive(slot0.worldbossProgressTip, slot1)

	if slot1 then
		slot0:InitWorldBossProgressTipSettings()
	end
end

slot0.InitWorldBossProgressTipSettings = function(slot0)
	slot3 = getProxy(SettingsProxy):GetWorldBossProgressTipFlag()

	slot4 = function(slot0, slot1)
		onToggle(uv1, slot1, function (slot0)
			if slot0 then
				getProxy(SettingsProxy):WorldBossProgressTipFlag(uv0)
			end
		end, SFX_PANEL)

		if tostring(uv0[slot0]) == uv2 then
			triggerToggle(slot1, true)
		end
	end

	slot10 = &quot;world_boss_progress_tip_title&quot;

	slot0.worldbossProgressTip:Find(&quot;notify_tpl&quot;):Find(&quot;mask/Text&quot;):GetComponent(&quot;ScrollText&quot;):SetText(i18n(slot10))

	for slot10 = 1, #slot0:GetWorldBossProgressTipConfig() do
		slot4(slot10, slot5:Find(tostring(slot10)))
	end

	onButton(slot0, slot5:Find(&quot;mask/Text&quot;), function ()
		pg.m02:sendNotification(NewSettingsMediator.SHOW_DESC, {
			desc = i18n(&quot;world_boss_progress_tip_desc&quot;)
		})
	end, SFX_PANEL)
end

slot0.GetWorldBossProgressTipConfig = function(slot0)
	slot1 = pg.gameset.joint_boss_ticket.description
	slot2 = {}

	table.insert(slot2, &quot;&quot;)

	slot3 = slot1[1] + slot1[2]

	table.insert(slot2, slot1[1] .. &quot;&amp;&quot; .. slot3)
	table.insert(slot2, slot3)

	return slot2
end

slot0.OnUpdate = function(slot0)
	slot0.list = slot0:GetList()

	slot0.uilist:align(#slot0.list)
	slot0:DisplayWorldBossProgressTipSettings()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>