<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlescalebullet.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlescalebullet.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot0.Battle.BattleScaleBullet = class(&quot;BattleScaleBullet&quot;, slot0.Battle.BattleBullet)
slot0.Battle.BattleScaleBullet.__name = &quot;BattleScaleBullet&quot;
slot1 = slot0.Battle.BattleScaleBullet

slot1.Ctor = function(slot0)
	uv0.super.Ctor(slot0)
end

slot1.Update = function(slot0, slot1)
	uv0.super.Update(slot0, slot1)
	slot0:updateModelScale()
end

slot1.updateModelScale = function(slot0)
	slot2 = slot0._tf.localScale
	slot2.x = slot0._bulletData:GetBoxSize().x * 2
	slot0._tf.localScale = slot2
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>