<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlelaserarea.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlelaserarea.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = slot0.Battle.BattleBulletEvent
slot2 = slot0.Battle.BattleResourceManager
slot3 = slot0.Battle.BattleConfig
slot4 = class(&quot;BattleLaserArea&quot;, slot0.Battle.BattleBullet)
slot0.Battle.BattleLaserArea = slot4
slot4.__name = &quot;BattleLaserArea&quot;

slot4.Update = function(slot0, slot1)
	if slot0._bulletData:GetSpeed().x ~= 0 or slot2.z ~= 0 or slot2.y ~= 0 then
		slot0:UpdatePosition()
	end
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>