<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlestraybullet.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlestraybullet.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = slot0.Battle.BattleResourceManager
slot0.Battle.BattleStrayBullet = class(&quot;BattleStrayBullet&quot;, slot0.Battle.BattleBullet)
slot0.Battle.BattleStrayBullet.__name = &quot;BattleStrayBullet&quot;
slot2 = slot0.Battle.BattleStrayBullet

slot2.Ctor = function(slot0, slot1, slot2)
	uv0.super.Ctor(slot0, slot1, slot2)
end

slot2.SetSpawn = function(slot0, slot1)
	uv0.super.SetSpawn(slot0, slot1)

	slot0._targetPos = Clone(slot0._bulletData:GetExplodePostion())
	slot0._spawnDir = slot0._speed.normalized
	slot0._velocity = slot0._bulletData:GetVelocity() * (1 + uv1.Battle.BattleAttr.GetCurrent(slot0._bulletData, &quot;bulletSpeedRatio&quot;))
	slot0._velocity = uv1.Battle.BattleFormulas.ConvertBulletSpeed(slot0._velocity)
	slot0._step = Vector3.Distance(slot0._targetPos, slot0._spawnPos) / slot0._velocity
	slot0._count = math.random(600) - 300
	slot0.updateSpeed = uv0._doStray
end

slot2._doStray = function(slot0)
	slot1 = slot0._targetPos

	if slot0._step &gt; 0 and slot1 and not slot1:EqualZero() then
		slot0._count = slot0._count / 1.06
		slot0._step = slot0._step - 1
		slot2 = slot0._bulletData:GetPosition()
		slot3 = slot0._velocity
		slot0._speed = Vector3(slot1.x - slot2.x, 0, slot1.z - slot2.z).normalized
		slot0._speed = slot0._speed + Vector3(slot0._speed.z * slot0._count / 100, 0, -slot0._speed.x * slot0._count / 100)
		slot0._speed = slot0._speed.normalized
		slot0._speed = Vector3(slot0._speed.x * slot3, 0, slot0._speed.z * slot3)
	else
		slot0.updateSpeed = uv0._updateSpeed
	end
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>