<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlecannonbullet.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlecannonbullet.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = slot0.Battle.BattleResourceManager
slot0.Battle.BattleCannonBullet = class(&quot;BattleCannonBullet&quot;, slot0.Battle.BattleBullet)
slot0.Battle.BattleCannonBullet.__name = &quot;BattleCannonBullet&quot;

slot0.Battle.BattleCannonBullet.Ctor = function(slot0, slot1, slot2)
	uv0.Battle.BattleCannonBullet.super.Ctor(slot0, slot1, slot2)
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>