<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battletorpedobullet.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battletorpedobullet.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = slot0.Battle.BattleTorpedoBullet
slot2 = slot0.Battle.BattleResourceManager
slot0.Battle.BattleTorpedoBullet = class(&quot;BattleTorpedoBullet&quot;, slot0.Battle.BattleBullet)
slot0.Battle.BattleTorpedoBullet.__name = &quot;BattleTorpedoBullet&quot;
slot3 = slot0.Battle.BattleTorpedoBullet

slot3.Ctor = function(slot0)
	uv0.super.Ctor(slot0)
end

slot3.Dispose = function(slot0)
	if slot0._alert then
		slot0._alert:Dispose()
	end

	uv0.super.Dispose(slot0)
end

slot3.Advance = function(slot0)
	slot0._speed = slot0._speed * 2
end

slot3.GetZExtraOffset = function(slot0)
	return 0
end

slot3.MakeAlert = function(slot0, slot1)
	slot0._alert = uv0.Battle.TorAlert.New(slot1)

	slot0._alert:SetPosition(slot0._bulletData:GetPosition(), slot0._bulletData:GetYAngle())
end

slot3.Neutrailze = function(slot0)
	SetActive(slot0._go, false)
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>