<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transcodealertview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>transcodealertview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TranscodeAlertView&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;TranscodeAlertView&quot;
end

slot0.OnLoaded = function(slot0)
end

slot0.SetShareData = function(slot0, slot1)
	slot0.shareData = slot1
end

slot0.OnInit = function(slot0)
	slot0.transcodeAlert = slot0._tf
	slot0.tcSureBtn = slot0:findTF(&quot;transcode_sure&quot;, slot0.transcodeAlert)
	slot0.uidTxt = slot0:findTF(&quot;uid_input_txt&quot;, slot0.transcodeAlert):GetComponent(typeof(InputField))
	slot0.transcodeTxt = slot0:findTF(&quot;transcode_input_txt&quot;, slot0.transcodeAlert):GetComponent(typeof(InputField))
	slot0.tcDesc = slot0:findTF(&quot;desc&quot;, slot0.transcodeAlert)

	setText(slot0.tcDesc, i18n(&quot;transcode_desc&quot;))
	slot0:InitEvent()
end

slot0.InitEvent = function(slot0)
	onButton(slot0, slot0.tcSureBtn, function ()
		slot1 = uv0.transcodeTxt.text

		if uv0.uidTxt.text == &quot;&quot; or slot1 == &quot;&quot; then
			pg.MsgboxMgr.GetInstance():ShowMsgBox({
				hideNo = true,
				content = i18n(&quot;transcode_empty_tip&quot;)
			})
		else
			pg.SdkMgr.GetInstance():LoginWithTranscode(slot0, slot1)
		end
	end)
	onButton(slot0, slot0.transcodeAlert, function ()
		uv0:Hide()
	end)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>