<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yostaralertview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>yostaralertview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;YostarAlertView&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;YostarAlertView&quot;
end

slot0.OnLoaded = function(slot0)
end

slot0.SetShareData = function(slot0, slot1)
	slot0.shareData = slot1
end

slot0.OnInit = function(slot0)
	slot0.yostarAlert = slot0._tf
	slot0.yostarEmailTxt = slot0:findTF(&quot;email_input_txt&quot;, slot0.yostarAlert)
	slot0.yostarCodeTxt = slot0:findTF(&quot;code_input_txt&quot;, slot0.yostarAlert)
	slot0.yostarGenCodeBtn = slot0:findTF(&quot;gen_code_btn&quot;, slot0.yostarAlert)
	slot0.yostarGenTxt = slot0:findTF(&quot;Text&quot;, slot0.yostarGenCodeBtn)
	slot0.yostarSureBtn = slot0:findTF(&quot;login_btn&quot;, slot0.yostarAlert)
	slot0.email_text = slot0:findTF(&quot;title1&quot;, slot0.yostarAlert)
	slot0.emailhold_text = slot0:findTF(&quot;Placeholder&quot;, slot0.yostarEmailTxt)
	slot0.code_text = slot0:findTF(&quot;title2&quot;, slot0.yostarAlert)
	slot0.codehold_text = slot0:findTF(&quot;Placeholder&quot;, slot0.yostarCodeTxt)
	slot0.genBtn_text = slot0:findTF(&quot;Text&quot;, slot0.yostarGenCodeBtn)
	slot0.desc_text = slot0:findTF(&quot;desc&quot;, slot0.yostarAlert)
	slot0.loginBtn_text = slot0:findTF(&quot;Image&quot;, slot0.yostarSureBtn)

	setText(slot0.email_text, i18n(&quot;email_text&quot;))
	setText(slot0.emailhold_text, i18n(&quot;emailhold_text&quot;))
	setText(slot0.code_text, i18n(&quot;code_text&quot;))
	setText(slot0.codehold_text, i18n(&quot;codehold_text&quot;))
	setText(slot0.genBtn_text, i18n(&quot;genBtn_text&quot;))
	setText(slot0.desc_text, i18n(&quot;desc_text&quot;))
	setText(slot0.loginBtn_text, slot0.contextData.isLinkMode == true and i18n(&quot;linkBtn_text&quot;) or i18n(&quot;loginBtn_text&quot;))
	slot0:InitEvent()
end

slot0.InitEvent = function(slot0)
	onButton(slot0, slot0.yostarAlert, function ()
		setActive(uv0.yostarAlert, false)

		if uv0.contextData.isDestroyOnClose == true then
			uv0:Destroy()
		end
	end)
	onButton(slot0, slot0.yostarGenCodeBtn, function ()
		if getInputText(uv0.yostarEmailTxt) ~= &quot;&quot; then
			pg.SdkMgr.GetInstance():VerificationCodeReq(slot0)
			uv0:CheckAiriGenCodeCounter()
		else
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;verification_code_req_tip1&quot;))
		end
	end)
	onButton(slot0, slot0.yostarSureBtn, function ()
		slot1 = getInputText(uv0.yostarCodeTxt)

		if getInputText(uv0.yostarEmailTxt) ~= &quot;&quot; and slot1 ~= &quot;&quot; then
			if uv0.contextData.isLinkMode == true then
				pg.SdkMgr.GetInstance():LinkSocial(AIRI_PLATFORM_YOSTAR, slot0, slot1)
			else
				pg.SdkMgr.GetInstance():LoginWithSocial(AIRI_PLATFORM_YOSTAR, slot0, slot1)
			end
		else
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;verification_code_req_tip3&quot;))
		end
	end)
	slot0:CheckAiriGenCodeCounter()
end

slot0.CheckAiriGenCodeCounter = function(slot0)
	if GetAiriGenCodeTimeRemain() &gt; 0 then
		setButtonEnabled(slot0.yostarGenCodeBtn, false)

		slot0.genCodeTimer = Timer.New(function ()
			if GetAiriGenCodeTimeRemain() &gt; 0 then
				setText(uv0.yostarGenTxt, &quot;(&quot; .. slot0 .. &quot;)&quot;)
			else
				setText(uv0.yostarGenTxt, i18n(&quot;genBtn_text&quot;))
				uv0:ClearAiriGenCodeTimer()
			end
		end, 1, -1)

		slot0.genCodeTimer:Start()
	end
end

slot0.ClearAiriGenCodeTimer = function(slot0)
	setButtonEnabled(slot0.yostarGenCodeBtn, true)

	if slot0.genCodeTimer then
		slot0.genCodeTimer:Stop()

		slot0.genCodeTimer = nil
	end
end

slot0.OnDestroy = function(slot0)
	slot0:ClearAiriGenCodeTimer()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>