<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipmentsortcfg.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>equipmentsortcfg.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">return {
	index = {
		{
			spr = &quot;index_all&quot;,
			tag = i18n(&quot;word_equipment_all&quot;)
		},
		{
			spr = &quot;index_cannon&quot;,
			tag = i18n(&quot;word_equipment_small_cannon&quot;),
			types = {
				EquipType.CannonQuZhu
			}
		},
		{
			spr = &quot;index_cannon&quot;,
			tag = i18n(&quot;word_equipment_medium_cannon&quot;),
			types = {
				EquipType.CannonQingXun,
				EquipType.CannonZhongXun
			}
		},
		{
			spr = &quot;index_cannon&quot;,
			tag = i18n(&quot;word_equipment_big_cannon&quot;),
			types = {
				EquipType.CannonZhanlie,
				EquipType.CannonZhongXun2
			}
		},
		{
			spr = &quot;index_tarpedo&quot;,
			tag = i18n(&quot;word_equipment_warship_torpedo&quot;),
			types = {
				EquipType.Torpedo
			}
		},
		{
			spr = &quot;index_tarpedo&quot;,
			tag = i18n(&quot;word_equipment_submarine_torpedo&quot;),
			types = {
				EquipType.SubmarineTorpedo
			}
		},
		{
			spr = &quot;index_antiaircraft&quot;,
			tag = i18n(&quot;word_equipment_antiaircraft&quot;),
			types = {
				EquipType.AntiAircraft,
				EquipType.RangedAntiAircraft
			}
		},
		{
			spr = &quot;index_aircraft&quot;,
			tag = i18n(&quot;word_equipment_fighter&quot;),
			types = {
				EquipType.FighterAircraft
			}
		},
		{
			spr = &quot;index_aircraft&quot;,
			tag = i18n(&quot;word_equipment_bomber&quot;),
			types = {
				EquipType.BomberAircraft
			}
		},
		{
			spr = &quot;index_aircraft&quot;,
			tag = i18n(&quot;word_equipment_torpedo_bomber&quot;),
			types = {
				EquipType.TorpedoAircraft
			}
		},
		{
			spr = &quot;index_equip&quot;,
			tag = i18n(&quot;word_equipment_equip&quot;),
			types = {
				EquipType.Equipment,
				EquipType.AntiSubAircraft,
				EquipType.Sonar,
				EquipType.Helicopter,
				EquipType.Goods
			}
		},
		{
			spr = &quot;index_equip&quot;,
			tag = i18n(&quot;word_equipment_special&quot;),
			types = {
				EquipType.SeaPlane,
				EquipType.Missile
			}
		}
	},
	skinIndex = {
		{
			types = {}
		},
		{
			types = {
				EquipType.CannonQuZhu,
				EquipType.CannonQingXun,
				EquipType.CannonZhongXun,
				EquipType.CannonZhanlie,
				EquipType.CannonZhongXun2
			}
		},
		{
			types = {
				EquipType.Torpedo,
				EquipType.SubmarineTorpedo
			}
		},
		{
			types = {
				EquipType.FighterAircraft,
				EquipType.TorpedoAircraft,
				EquipType.BomberAircraft,
				EquipType.SeaPlane
			}
		},
		{
			types = {
				EquipType.Equipment
			}
		}
	},
	campIndex = {
		{
			types = {}
		},
		{
			types = {
				Nation.US
			}
		},
		{
			types = {
				Nation.EN
			}
		},
		{
			types = {
				Nation.JP
			}
		},
		{
			types = {
				Nation.DE
			}
		},
		{
			types = {
				Nation.CN
			}
		},
		{
			types = {
				Nation.ITA
			}
		},
		{
			types = {
				Nation.SN
			}
		},
		{
			types = {
				Nation.FF,
				Nation.FR
			}
		},
		{
			types = {
				Nation.FF,
				Nation.FR
			}
		},
		{
			types = {
				Nation.LINK
			}
		},
		{
			types = {
				Nation.CM,
				Nation.MOT,
				Nation.NL
			}
		}
	},
	propertyIndex = {
		{
			types = {}
		},
		{
			types = {
				AttributeType.Cannon
			}
		},
		{
			types = {
				AttributeType.Air
			}
		},
		{
			types = {
				AttributeType.Dodge
			}
		},
		{
			types = {
				AttributeType.AntiAircraft
			}
		},
		{
			types = {
				AttributeType.Torpedo
			}
		},
		{
			types = {
				AttributeType.Reload
			}
		},
		{
			types = {
				AttributeType.Durability
			}
		},
		{
			types = {
				AttributeType.AntiSub
			}
		},
		{
			types = {
				AttributeType.OxyMax
			}
		},
		{
			types = {
				AttributeType.Speed
			}
		},
		{
			types = {
				AttributeType.Hit
			}
		},
		{
			types = {
				AttributeType.Luck
			}
		}
	},
	ammoIndex1 = {
		{
			types = {}
		},
		{
			types = {
				EquipType.AmmoType_1
			}
		},
		{
			types = {
				EquipType.AmmoType_2
			}
		},
		{
			types = {
				EquipType.AmmoType_3
			}
		},
		{
			types = {
				EquipType.AmmoType_4,
				EquipType.AmmoType_5,
				EquipType.AmmoType_6,
				EquipType.AmmoType_7,
				EquipType.AmmoType_8,
				EquipType.AmmoType_9,
				EquipType.AmmoType_10
			}
		}
	},
	ammoIndex2 = {
		{
			types = {}
		},
		{
			types = {
				EquipType.AmmoType_4
			}
		},
		{
			types = {
				EquipType.AmmoType_5
			}
		}
	},
	sort = {
		{
			spr = &quot;sort_rarity&quot;,
			type = 1,
			tag = i18n(&quot;word_equipment_rarity&quot;),
			pages = {
				0,
				1,
				2
			},
			values = {
				&quot;rarity&quot;,
				&quot;nationality&quot;,
				&quot;id&quot;,
				&quot;level&quot;
			}
		},
		{
			spr = &quot;sort_intensify&quot;,
			type = 2,
			tag = i18n(&quot;word_equipment_intensify&quot;),
			pages = {
				0,
				2
			},
			values = {
				&quot;level&quot;,
				&quot;rarity&quot;,
				&quot;nationality&quot;,
				&quot;id&quot;
			}
		}
	},
	getWeight = function (slot0, slot1)
		if slot1 == &quot;nationality&quot; then
			return 100 - slot0.getConfig(slot0, slot1)
		else
			return slot0.getConfig(slot0, slot1)
		end
	end,
	sortFunc = function (slot0, slot1)
		slot2 = {
			function (slot0)
				return slot0.isSkin and 0 or 1
			end,
			function (slot0)
				if not slot0.isSkin then
					return 0
				else
					return (uv0 and -1 or 1) * (pg.equip_skin_template[slot0.id][uv1.value] or 0)
				end
			end,
			function (slot0)
				if not slot0.isSkin then
					return 0
				else
					return (uv0 and -1 or 1) * -slot0.id
				end
			end
		}

		for slot6, slot7 in ipairs(slot0.values) do
			table.insert(slot2, function (slot0)
				if slot0.isSkin then
					return 0
				else
					return (uv0 and -1 or 1) * -uv1.getWeight(slot0, uv2)
				end
			end)
		end

		return slot2
	end
}
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>