<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipupgradelayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>equipupgradelayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EquipUpgradeLayer&quot;, import(&quot;..base.BaseUI&quot;))
slot0.CHAT_DURATION_TIME = 0.3

slot0.getUIName = function(slot0)
	return &quot;EquipUpgradeUI&quot;
end

slot0.setItems = function(slot0, slot1)
	slot0.itemVOs = slot1
end

slot0.init = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		weight = LayerWeightConst.SECOND_LAYER
	})

	slot0.mainPanel = slot0:findTF(&quot;main&quot;)
	slot0.finishPanel = slot0:findTF(&quot;finish_panel&quot;)

	setActive(slot0.mainPanel, true)
	setActive(slot0.finishPanel, false)

	slot0.equipmentList = slot0:findTF(&quot;panel/equipment_list&quot;, slot0.mainPanel)
	slot0.equipmentContain = slot0:findTF(&quot;equipments&quot;, slot0.equipmentList)
	slot0.equipmentTpl = slot0:getTpl(&quot;equiptpl&quot;, slot0.equipmentContain)

	setActive(slot0.equipmentList, false)

	slot0.equipmentPanel = slot0:findTF(&quot;panel/equipment_panel&quot;, slot0.mainPanel)
	slot0.materialPanel = slot0:findTF(&quot;panel/material_panel&quot;, slot0.mainPanel)
	slot0.startBtn = slot0:findTF(&quot;start_btn&quot;, slot0.materialPanel)
	slot0.overLimit = slot0:findTF(&quot;materials/limit&quot;, slot0.materialPanel)

	setText(slot0:findTF(&quot;text&quot;, slot0.overLimit), i18n(&quot;equipment_upgrade_overlimit&quot;))

	slot0.materialsContain = slot0:findTF(&quot;materials/materials&quot;, slot0.materialPanel)
	slot0.uiMain = pg.UIMgr.GetInstance().UIMain
	slot0.Overlay = pg.UIMgr.GetInstance().OverlayMain
end

slot0.updateRes = function(slot0, slot1)
	slot0.playerVO = slot1
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SFX_CANCEL)
	slot0:updateAll()
end

slot0.updateAll = function(slot0)
	setActive(slot0.equipmentList, slot0.contextData.shipVO)

	if slot0.contextData.shipVO then
		slot0:displayEquipments()

		if slot0.contextData.pos then
			triggerButton(slot0.equipmentTFs[slot0.contextData.pos])
		else
			triggerButton(slot0.equipmentContain:GetChild(0))
		end
	else
		slot0:updateEquipment()
		slot0:updateMaterials()
	end
end

slot0.displayEquipments = function(slot0)
	slot0.equipmentTFs = {}

	removeAllChildren(slot0.equipmentContain)

	for slot5, slot6 in ipairs(slot0.contextData.shipVO.equipments) do
		if slot6 then
			slot7 = cloneTplTo(slot0.equipmentTpl, slot0.equipmentContain)

			updateEquipment(slot7, slot6)
			setActive(slot7:Find(&quot;tip&quot;), false)

			if slot0:isMaterialEnough(slot6) and slot6:getConfig(&quot;next&quot;) ~= 0 then
				setActive(slot8, true)
				blinkAni(slot8, 0.5)
			end

			onButton(slot0, slot7, function ()
				if uv0.contextData.pos then
					setActive(uv0.equipmentTFs[slot0]:Find(&quot;selected&quot;), false)
					setActive(uv0.equipmentTFs[slot0]:Find(&quot;tip&quot;), uv0:isMaterialEnough(uv1:getEquip(slot0)) and uv1:getEquip(slot0):getConfig(&quot;next&quot;) ~= 0)
				end

				uv0.contextData.pos = uv2
				uv0.contextData.equipmentId = uv3.id
				uv0.contextData.equipmentVO = uv3
				slot0 = uv0.contextData.pos

				setActive(uv0.equipmentTFs[slot0]:Find(&quot;selected&quot;), true)
				setActive(uv0.equipmentTFs[slot0]:Find(&quot;tip&quot;), false)
				uv0:updateEquipment()
				uv0:updateMaterials()
			end, SFX_PANEL)

			slot0.equipmentTFs[slot5] = slot7
		end
	end
end

slot0.isMaterialEnough = function(slot0, slot1)
	slot2 = true

	if not slot1:getConfig(&quot;trans_use_item&quot;) then
		return false
	end

	for slot7 = 1, #slot3 do
		if defaultValue(slot0.itemVOs[slot3[slot7][1]], {
			count = 0
		}).count &lt; slot3[slot7][2] then
			slot2 = false
		end
	end

	return slot2
end

slot0.updateEquipment = function(slot0)
	slot1 = slot0.contextData.equipmentVO
	slot0.contextData.equipmentId = slot1.id

	slot0:updateAttrs(slot0.equipmentPanel:Find(&quot;view/content&quot;), slot1, slot1:getConfig(&quot;next&quot;) &gt; 0 and slot1:MigrateTo(slot1:getConfig(&quot;next&quot;)) or nil)
	changeToScrollText(slot0.equipmentPanel:Find(&quot;name_container&quot;), slot1:getConfig(&quot;name&quot;))
	setActive(findTF(slot0.equipmentPanel, &quot;unique&quot;), slot1:isUnique())
	updateEquipment(slot0:findTF(&quot;equiptpl&quot;, slot0.equipmentPanel), slot1)
end

slot1 = function(slot0)
	slot0.sub = {
		_.detect(slot0.sub, function (slot0)
			return slot0.type == AttributeType.Damage
		end)
	}
end

slot2 = function(slot0)
	slot0.sub = {
		_.detect(slot0.sub, function (slot0)
			return slot0.type == AttributeType.Corrected
		end)
	}
end

slot0.updateAttrs = function(slot0, slot1, slot2, slot3)
	for slot8 = 1, #slot2:GetPropertiesInfo().weapon.sub do
		uv0(slot4.weapon.sub[slot8])
	end

	uv1(slot4.equipInfo)

	slot4.equipInfo.lock_open = true

	if slot3 then
		Equipment.InsertAttrsUpgrade(slot4.attrs, slot3:GetPropertiesInfo().attrs)

		if checkExist(slot2:GetSkill(), {
			&quot;name&quot;
		}) ~= checkExist(slot3:GetSkill(), {
			&quot;name&quot;
		}) then
			table.insert(slot4.attrs, {
				lock_open = true,
				name = i18n(&quot;skill&quot;),
				value = setColorStr(checkExist(slot6, {
					&quot;name&quot;
				}) or i18n(&quot;equip_info_25&quot;), &quot;#FFDE00FF&quot;),
				sub = {
					{
						name = i18n(&quot;equip_info_26&quot;),
						value = setColorStr(checkExist(slot7, {
							&quot;name&quot;
						}) or i18n(&quot;equip_info_25&quot;), &quot;#FFDE00FF&quot;)
					}
				}
			})
		end

		if #slot5.weapon.sub &gt; #slot4.weapon.sub then
			for slot11 = #slot4.weapon.sub, #slot5.weapon.sub do
				table.insert(slot4.weapon.sub, {
					name = i18n(&quot;equip_info_25&quot;),
					sub = {}
				})
			end
		end

		for slot11 = #slot4.weapon.sub, 1, -1 do
			slot12 = slot4.weapon.sub[slot11]

			if slot5.weapon.sub[slot11] then
				uv0(slot5.weapon.sub[slot11])
			else
				slot13 = {
					name = i18n(&quot;equip_info_25&quot;),
					sub = {}
				}
			end

			if slot12.name ~= slot13.name then
				slot12.sub = {
					{
						name = i18n(&quot;equip_info_27&quot;),
						value = slot13.name
					}
				}
			else
				Equipment.InsertAttrsUpgrade(slot12.sub, slot13.sub)
			end

			if #slot12.sub == 0 then
				table.remove(slot4.weapon.sub, slot11)

				if slot5.weapon.sub[slot11] then
					table.remove(slot5.weapon.sub, slot11)
				end
			end
		end

		uv1(slot5.equipInfo)
		Equipment.InsertAttrsUpgrade(slot4.equipInfo.sub, slot5.equipInfo.sub)
	end

	updateEquipUpgradeInfo(slot1, slot4, slot0.contextData.shipVO)
end

slot0.updateMaterials = function(slot0)
	slot1 = true
	slot2 = slot0.contextData.equipmentVO
	slot4 = slot2:getConfig(&quot;trans_use_gold&quot;)
	slot3 = defaultValue(slot2:getConfig(&quot;trans_use_item&quot;), {})
	slot5 = nil
	slot6 = 0

	for slot10 = 1, 3 do
		slot11 = slot0.materialsContain:GetChild(slot10 - 1)

		setActive(findTF(slot11, &quot;off&quot;), not slot3[slot10])
		setActive(findTF(slot11, &quot;equiptpl&quot;), slot3[slot10])

		if slot3[slot10] then
			slot12 = slot3[slot10][1]
			slot13 = findTF(slot11, &quot;equiptpl&quot;)

			updateItem(slot13, Item.New({
				id = slot12
			}))
			onButton(slot0, slot13, function ()
				uv0:emit(EquipUpgradeMediator.ON_ITEM, uv1)
			end, SFX_PANEL)

			slot14 = defaultValue(slot0.itemVOs[slot12], {
				count = 0
			})
			slot15 = slot14.count .. &quot;/&quot; .. slot3[slot10][2]

			if slot14.count &lt; slot3[slot10][2] then
				slot15 = setColorStr(slot14.count, COLOR_RED) .. &quot;/&quot; .. slot3[slot10][2]
				slot1 = false
				slot5 = slot3[slot10]
			end

			slot16 = findTF(slot13, &quot;icon_bg/count&quot;)

			setActive(slot16, true)
			setText(slot16, slot15)
			onButton(slot0, slot13:Find(&quot;click&quot;), function ()
				setActive(uv0:Find(&quot;click&quot;), false)

				uv1 = uv1 - 1
			end, SFX_PANEL)
			setActive(slot13:Find(&quot;click&quot;), slot2:getConfig(&quot;level&quot;) &gt; 10)

			slot6 = slot6 + (slot2:getConfig(&quot;level&quot;) &gt; 10 and 1 or 0)
		end
	end

	setText(slot0:findTF(&quot;cost/consume&quot;, slot0.materialPanel), slot4)
	setActive(slot0.startBtn, slot3)

	slot7 = Equipment.canUpgrade(slot2.configId)

	setActive(slot0.materialsContain, slot7)
	setActive(slot0.overLimit, not slot7)
	onButton(slot0, slot0.startBtn, function ()
		if not uv0 then
			if not ItemTipPanel.ShowItemTipbyID(uv1[1]) then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;ship_shipUpgradeLayer2_noMaterail&quot;))
			end

			return
		end

		if uv2 &gt; 0 then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;equipment_upgrade_costcheck_error&quot;))

			return
		end

		if uv3.playerVO.gold &lt; uv4 then
			GoShoppingMsgBox(i18n(&quot;switch_to_shop_tip_2&quot;, i18n(&quot;word_gold&quot;)), ChargeScene.TYPE_ITEM, {
				{
					59001,
					uv4 - uv3.playerVO.gold,
					uv4
				}
			})

			return
		end

		uv3:updateMaterials()
		uv3:emit(EquipUpgradeMediator.EQUIPMENT_UPGRDE)
	end, SFX_UI_DOCKYARD_REINFORCE)
	setButtonEnabled(slot0.startBtn, slot7)
end

slot0.upgradeFinish = function(slot0, slot1, slot2)
	setActive(slot0.mainPanel, false)
	setActive(slot0.finishPanel, true)
	onButton(slot0, slot0.finishPanel:Find(&quot;bg&quot;), function ()
		setActive(uv0.mainPanel, true)
		setActive(uv0.finishPanel, false)
	end, SFX_CANCEL)
	changeToScrollText(slot0.finishPanel:Find(&quot;frame/equipment_panel/name_container&quot;), slot2:getConfig(&quot;name&quot;))
	setActive(findTF(slot0.finishPanel, &quot;frame/equipment_panel/unique&quot;), slot2:isUnique())
	updateEquipment(slot0:findTF(&quot;frame/equipment_panel/equiptpl&quot;, slot0.finishPanel), slot2)
	slot0:updateAttrs(slot0:findTF(&quot;frame/equipment_panel/view/content&quot;, slot0.finishPanel), slot1, slot2)
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>