<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spweaponsortcfg.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>spweaponsortcfg.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">return {
	sort = {
		{
			spr = &quot;sort_rarity&quot;,
			type = 1,
			tag = i18n(&quot;word_equipment_rarity&quot;),
			values = {
				&quot;rarity&quot;,
				&quot;id&quot;,
				&quot;level&quot;
			}
		},
		{
			spr = &quot;sort_intensify&quot;,
			type = 2,
			tag = i18n(&quot;word_equipment_intensify&quot;),
			values = {
				&quot;level&quot;,
				&quot;rarity&quot;,
				&quot;id&quot;
			}
		}
	},
	getWeight = function (slot0, slot1)
		return SpWeapon.bindConfigTable()[slot0.GetConfigID(slot0)][slot1]
	end,
	sortFunc = function (slot0, slot1)
		slot2 = {}

		for slot6, slot7 in ipairs(slot0.values) do
			table.insert(slot2, function (slot0)
				return (uv0 and -1 or 1) * -uv1.getWeight(slot0, uv2)
			end)
		end

		return slot2
	end
}
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>