<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friendinfolayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>friendinfolayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;FriendInfoLayer&quot;, import(&quot;..base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;FriendInfoUI&quot;
end

slot0.setFriend = function(slot0, slot1)
	slot0.friend = slot1
end

slot0.setFriendProxy = function(slot0, slot1)
	slot0.friendProxy = slot1
end

slot1 = {
	&quot;OPEN_RESUME&quot;,
	&quot;OPEND_FRIEND&quot;,
	&quot;OPEN_BACKYARD&quot;,
	&quot;TOGGLE_BLACK&quot;,
	&quot;OPEN_INFORM&quot;
}

slot0.init = function(slot0)
	if slot0.contextData.form == NotificationLayer.FORM_BATTLE then
		setParent(slot0._tf, slot0.contextData.parent)
	elseif slot0.contextData.form == NotificationLayer.FORM_MAIN then
		pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
			groupName = slot0:getGroupNameFromData(),
			weight = LayerWeightConst.SECOND_LAYER
		})
	else
		pg.UIMgr.GetInstance():OverlayPanel(slot0._tf, {
			groupName = slot0:getGroupNameFromData(),
			weight = LayerWeightConst.SECOND_LAYER
		})
	end

	slot0.frame = slot0:findTF(&quot;frame&quot;)
	slot0.iconTF = slot0:findTF(&quot;frame/left_bg/icon_bg/frame/icon&quot;):GetComponent(typeof(Image))
	slot0.starsTF = slot0:findTF(&quot;frame/left_bg/icon_bg/stars&quot;)
	slot0.starTF = slot0:findTF(&quot;frame/left_bg/icon_bg/stars/star&quot;)
	slot0.playerNameTF = slot0:findTF(&quot;frame/left_bg/name_bg/Text&quot;):GetComponent(typeof(Text))
	slot0.levelTF = slot0:findTF(&quot;frame/left_bg/icon_bg/lv/Text&quot;):GetComponent(typeof(Text))
	slot0.resumeEmblem = slot0:findTF(&quot;frame/left_bg/emblem&quot;)
	slot0.resumeRank = slot0:findTF(&quot;frame/left_bg/emblem/Text&quot;):GetComponent(typeof(Text))
	slot0.informPanel = slot0:findTF(&quot;inform_panel&quot;)
	slot0.toggleTpl = slot0:findTF(&quot;inform_panel/frame/window/main/Toggle&quot;)
	slot0.buttonTpl = slot0:findTF(&quot;inform_panel/frame/window/main/button&quot;)
	slot0.toggleContainer = slot0:findTF(&quot;inform_panel/frame/window/main/toggles&quot;)
	slot0.confirmBtn = slot0:findTF(&quot;frame/window/buttons/confirm_btn&quot;, slot0.informPanel)
	slot0.cancelBtn = slot0:findTF(&quot;frame/window/buttons/cancel_btn&quot;, slot0.informPanel)
	slot0.backBtn = slot0:findTF(&quot;inform_panel/frame/window/top/btnBack&quot;)
	slot0.nameTF = slot0:findTF(&quot;inform_panel/frame/window/name&quot;):GetComponent(typeof(Text))

	if slot0.contextData.pos then
		if slot0.contextData.backyardView then
			slot2 = slot0:findTF(&quot;frame_for_backyard&quot;)
			slot2.position = slot0.contextData.pos
			slot2.localPosition = Vector3(slot2.localPosition.x, slot2.localPosition.y, 0)
		else
			slot0.height = slot0._tf.rect.height
			slot0.frame.position = slot0.contextData.pos
			slot0.frame.localPosition = Vector3(slot2.x, slot0.frame.localPosition.y &lt;= -1 * (slot0.height / 2 - slot0.frame.sizeDelta.y) and slot3 or slot2.y, 0)
		end
	end
end

slot0.didEnter = function(slot0)
	slot0:Init()
	onButton(slot0, slot0._tf, function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SOUND_BACK)
end

slot0.Init = function(slot0)
	slot1 = slot0.contextData.backyardView

	slot0:initInfo()
	setActive(slot0:findTF(&quot;frame_for_backyard&quot;), slot1)
	setActive(slot0:findTF(&quot;frame&quot;), not slot1)

	slot2 = nil
	slot2 = (not slot1 or slot0:findTF(&quot;frame_for_backyard/right_bg&quot;)) and slot0:findTF(&quot;frame/right_bg&quot;)
	slot0.btnTFs = {}

	for slot6, slot7 in ipairs(uv0) do
		slot8 = slot2:GetChild(slot6 - 1)

		setActive(slot8, true)
		onButton(slot0, slot8, function ()
			if uv0 == &quot;&quot; then
				return
			end

			if uv0 == &quot;OPEN_INFORM&quot; then
				if not table.contains(getProxy(ChatProxy).informs, uv1.friend.id .. uv1.contextData.msg) then
					uv1:openInfromPanel()
				else
					pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;chat_msg_inform&quot;))
				end
			else
				uv1:emit(FriendInfoMediator[uv0])
			end
		end)

		slot0.btnTFs[slot6] = slot8
	end

	setActive(slot0.btnTFs[5], slot0.contextData.msg)
	setButtonEnabled(slot0.btnTFs[2], not slot0.friendProxy:isFriend(slot0.friend.id))
	slot0:updateBlack()

	if slot0.contextData.form == NotificationLayer.FORM_BATTLE then
		setActive(slot0.btnTFs[3], false)

		slot3 = slot0:findTF(&quot;frame&quot;)
		slot4 = slot3.sizeDelta
		slot3.sizeDelta = Vector2(slot4.x, slot4.y - 66.7)
	end

	setActive(slot0:findTF(&quot;frame/left_bg&quot;, false))
end

slot0.openInfromPanel = function(slot0)
	setActive(slot0.informPanel, true)

	if not slot0.isInitInform then
		slot0.isInitInform = true

		slot0:initInform()
	end
end

slot0.initInform = function(slot0)
	slot0.informInfoForBackYard = {}
	slot1 = nil

	if slot0.contextData.backyardView then
		slot6 = &quot;backyard_theme_inform_them&quot;
		slot7 = slot0.contextData.msg
		slot0.nameTF.text = i18n(&quot;inform_player&quot;, slot0.friend.name) .. i18n(slot6, slot7)

		for slot6, slot7 in ipairs(require(&quot;ShareCfg.InformForBackYardThemeTemplateCfg&quot;)) do
			slot8 = cloneTplTo(slot0.buttonTpl, slot0.toggleContainer)
			slot9 = slot8:Find(&quot;Label&quot;)
			slot9:GetComponent(&quot;Text&quot;).text = slot7.content
			slot9 = false

			onButton(slot0, slot8, function ()
				uv0 = not uv0

				setActive(uv1:Find(&quot;Background/Checkmark&quot;), uv0)

				if uv0 then
					table.insert(uv2.informInfoForBackYard, uv3)
				elseif table.contains(uv2.informInfoForBackYard, uv3) then
					table.removebyvalue(uv2.informInfoForBackYard, uv3)
				end
			end)
		end
	else
		slot6 = slot0.friend.name
		slot0.nameTF.text = i18n(&quot;inform_player&quot;, slot6)

		for slot6, slot7 in ipairs(require(&quot;ShareCfg.informCfg&quot;)) do
			slot8 = cloneTplTo(slot0.toggleTpl, slot0.toggleContainer)
			slot9 = slot8:Find(&quot;Label&quot;)
			slot9:GetComponent(&quot;Text&quot;).text = slot7.content

			onToggle(slot0, slot8, function (slot0)
				if slot0 then
					uv0.informInfo = uv1.content
				end
			end)
		end
	end

	onButton(slot0, slot0.confirmBtn, function ()
		if not uv0.contextData.msg then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;inform_chat_msg&quot;))

			return
		end

		if uv1 then
			if #uv0.informInfoForBackYard == 0 then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;inform_select_type&quot;))

				return
			end

			uv0:emit(FriendInfoMediator.INFORM_BACKYARD, uv0.friend.id, uv0.informInfoForBackYard, uv0.contextData.msg, uv0.friend.name)
		else
			if not uv0.informInfo then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;inform_select_type&quot;))

				return
			end

			uv0:emit(FriendInfoMediator.INFORM, uv0.friend.id, uv0.informInfo, uv0.contextData.msg)
		end
	end)
	onButton(slot0, slot0.cancelBtn, function ()
		uv0:closeInfromPanel()
	end)
	onButton(slot0, slot0.backBtn, function ()
		uv0:closeInfromPanel()
	end)
end

slot0.closeInfromPanel = function(slot0)
	setActive(slot0.informPanel, false)

	slot0.informInfo = nil
end

slot0.initInfo = function(slot0)
	assert(slot0.friend, &quot;self.friend is nil&quot;)

	slot1 = pg.ship_data_statistics[slot0.friend.icon]

	assert(slot1, &quot;shipCfg is nil &gt;&gt; id ==&quot; .. slot0.friend.icon)

	slot2 = pg.ship_skin_template[slot1.skin_id]

	assert(slot2, &quot;skinCfg is nil &gt;&gt; id ==&quot; .. slot1.skin_id)
	LoadSpriteAsync(&quot;qicon/&quot; .. slot2.painting, function (slot0)
		if not IsNil(uv0.iconTF) then
			if not slot0 then
				uv0.iconTF.sprite = GetSpriteFromAtlas(&quot;heroicon/unknown&quot;, &quot;&quot;)
			else
				uv0.iconTF.sprite = slot0
			end
		end
	end)

	for slot7 = slot0.starsTF.childCount, slot1.star - 1 do
		cloneTplTo(slot0.starTF, slot0.starsTF)
	end

	for slot7 = 1, slot1.star do
		setActive(slot0.starsTF:GetChild(slot7 - 1), slot7 &lt;= slot1.star)
	end

	slot0.playerNameTF.text = slot0.friend.name
	slot0.levelTF.text = slot0.friend.level
	slot4 = SeasonInfo.getMilitaryRank(slot0.friend.score, slot0.friend.rank)

	LoadImageSpriteAsync(&quot;emblem/&quot; .. SeasonInfo.getEmblem(slot0.friend.score, slot0.friend.rank), slot0.resumeEmblem)
end

slot0.updateBlack = function(slot0)
	slot1 = slot0.friendProxy:getBlackPlayerById(slot0.friend.id) ~= nil

	setActive(findTF(slot0.btnTFs[4], &quot;black&quot;), not slot1)
	setActive(findTF(slot0.btnTFs[4], &quot;unblack&quot;), slot1)
end

slot0.willExit = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>