<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commandercattalentpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>commandercattalentpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CommanderCatTalentPage&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;CommanderCatTalentui&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.resetFrame = slot0:findTF(&quot;frame/point/reset_frame&quot;)
	slot0.resetTimeTF = slot0:findTF(&quot;frame/point/reset_frame/reset_time&quot;)
	slot0.resetTimeTxt = slot0:findTF(&quot;frame/point/reset_frame/reset_time/Text&quot;):GetComponent(typeof(Text))
	slot0.resetTimeBtn = slot0:findTF(&quot;frame/point/reset_frame/reset_btn&quot;)
	slot0.pointTxt = slot0:findTF(&quot;frame/point/usage_frame/point/Text&quot;):GetComponent(typeof(Text))
	slot0.useBtn = slot0:findTF(&quot;frame/point/usage_frame/use_btn&quot;)
	slot0.uilist = UIItemList.New(slot0:findTF(&quot;frame/talents/content&quot;), slot0:findTF(&quot;frame/talents/content/talent_tpl&quot;))
	slot0.resetPanel = CommanderResetTalentPage.New(slot0._parentTf, slot0.event, slot0.contextData)
	slot0.usagePanel = CommanderUsageTalentPage.New(slot0._parentTf, slot0.event, slot0.contextData)

	setText(slot0:findTF(&quot;frame/point/Text&quot;), i18n(&quot;commander_level_up_tip&quot;))
end

slot0.OnInit = function(slot0)
	slot0:RegisterEvent()
	onButton(slot0, slot0.resetTimeBtn, function ()
		if uv0.commanderVO:IsSameTalent() then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;commander_reset_talent_is_not_need&quot;))

			return
		end

		if uv0.inChapter then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;commander_is_in_battle&quot;))

			return
		end

		if uv0.commanderVO:CanReset() then
			uv0.resetPanel:ExecuteAction(&quot;Show&quot;, uv0.commanderVO)
		else
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;commander_reset_talent_time_no_rearch&quot;))
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.useBtn, function ()
		if uv0.inChapter then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;commander_is_in_battle&quot;))

			return
		end

		if uv0.commanderVO:getTalentPoint() &gt; 0 then
			uv0.usagePanel:ExecuteAction(&quot;Show&quot;, uv0.commanderVO)
		else
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;commander_skill_point_noengough&quot;))
		end
	end, SFX_PANEL)
end

slot0.RegisterEvent = function(slot0)
	slot0:bind(CommanderCatScene.EVENT_FOLD, function (slot0, slot1)
		if slot1 then
			LeanTween.moveX(rtf(uv0._tf), 1000, 0.5)
		else
			LeanTween.moveX(rtf(uv0._tf), -410, 0.5)
		end
	end)
	slot0:bind(CommanderCatScene.EVENT_SELECTED, function (slot0, slot1)
		uv0:Flush(slot1)
	end)
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)
	slot0:Flush(slot1)
end

slot0.Flush = function(slot0, slot1)
	slot0.commanderVO = slot1
	slot0.inChapter = CommanderCatUtil.CommanderInChapter(slot0.commanderVO)

	slot0:RemoveTimer()
	slot0:UpdatePoint()
	slot0:UpdateStyle()
	slot0:UpdateTimer()
	slot0:UpdateTalents()
end

slot0.UpdateTalents = function(slot0)
	slot2 = slot0.commanderVO:GetDisplayTalents()

	slot0.uilist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			uv1:UpdateTalentCard(slot2, slot3)

			if slot3 then
				setActive(slot2:Find(&quot;unlock/lock&quot;), not uv2:IsLearnedTalent(slot3.id))
			end
		end
	end)
	slot0.uilist:align(CommanderConst.MAX_TELENT_COUNT)
end

slot0.UpdateTalentCard = function(slot0, slot1, slot2)
	slot3 = slot1:Find(&quot;unlock&quot;)
	slot4 = slot1:Find(&quot;lock&quot;)

	if slot2 then
		GetImageSpriteFromAtlasAsync(&quot;CommanderTalentIcon/&quot; .. slot2:getConfig(&quot;icon&quot;), &quot;&quot;, slot3:Find(&quot;icon&quot;))

		if slot3:Find(&quot;tree_btn&quot;) then
			onButton(slot0, slot5, function ()
				uv0.contextData.treePanel:ExecuteAction(&quot;Show&quot;, uv1)
			end, SFX_PANEL)
		end

		setText(slot3:Find(&quot;name_bg/Text&quot;), slot2:getConfig(&quot;name&quot;))
		setScrollText(slot3:Find(&quot;desc/Text&quot;), slot2:getConfig(&quot;desc&quot;))
	end

	setActive(slot3, slot2)

	if slot4 then
		setActive(slot4, not slot2)
	end
end

slot0.UpdateTimer = function(slot0)
	slot1 = slot0.commanderVO
	slot4 = slot1:getPt() &gt; 0 or pg.TimeMgr.GetInstance():GetServerTime() &lt; slot1:GetNextResetAbilityTime()

	setActive(slot0.resetTimeBtn, slot4)
	setActive(slot0.resetTimeTF, slot4)
	slot0:AddTimer()
end

slot0.AddTimer = function(slot0)
	if slot0.commanderVO:GetNextResetAbilityTime() &lt;= pg.TimeMgr.GetInstance():GetServerTime() then
		slot0.resetTimeTxt.text = i18n(&quot;commander_reset_talent&quot;)

		setActive(slot0.resetTimeTF, false)

		return
	end

	slot0.timer = Timer.New(function ()
		uv0 = pg.TimeMgr.GetInstance():GetServerTime()

		if uv1 - uv0 &gt; 0 then
			uv2.resetTimeTxt.text = pg.TimeMgr.GetInstance():DescCDTime(slot0)
		else
			uv2.resetTimeTxt.text = i18n(&quot;commander_reset_talent&quot;)

			setActive(uv2.resetTimeTF, false)
		end
	end, 1, -1)

	slot0.timer:Start()
	slot0.timer.func()
end

slot0.UpdatePoint = function(slot0)
	slot0.pointTxt.text = slot0.commanderVO:getTalentPoint()
end

slot0.UpdateStyle = function(slot0)
	setActive(slot0.resetFrame, not slot0.commanderVO:IsRegularTalent())
end

slot0.RemoveTimer = function(slot0)
	if slot0.timer then
		slot0.timer:Stop()

		slot0.timer = nil
	end
end

slot0.CanBack = function(slot0)
	if slot0.usagePanel and slot0.usagePanel:GetLoaded() and slot0.usagePanel.CanBack and not slot0.usagePanel:CanBack() then
		return false
	end

	if slot0.usagePanel and slot0.usagePanel:GetLoaded() and slot0.usagePanel:isShowing() then
		slot0.usagePanel:Hide()

		return false
	end

	if slot0.resetPanel and slot0.resetPanel:GetLoaded() and slot0.resetPanel:isShowing() then
		slot0.resetPanel:Hide()

		return false
	end

	return true
end

slot0.OnDestroy = function(slot0)
	slot0:RemoveTimer()

	if slot0.usagePanel then
		slot0.usagePanel:Destroy()

		slot0.usagePanel = nil
	end

	if slot0.resetPanel then
		slot0.resetPanel:Destroy()

		slot0.resetPanel = nil
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>