<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commanderresettalentpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>commanderresettalentpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CommanderResetTalentPage&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;CommanderCatResetTalentUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.resetCancelBtn = slot0:findTF(&quot;bg/frame/cancel_btn&quot;)
	slot0.resetConfirmBtn = slot0:findTF(&quot;bg/frame/confirm_btn&quot;)
	slot0.resetCloseBtn = slot0:findTF(&quot;bg/frame/close_btn&quot;)
	slot0.resetGoldTxt = slot0:findTF(&quot;bg/frame/bg/tip/texts/Text&quot;):GetComponent(typeof(Text))
	slot0.resetPointTxt = slot0:findTF(&quot;bg/frame/bg/tip/texts1/Text&quot;):GetComponent(typeof(Text))
	slot0.resetList = UIItemList.New(slot0:findTF(&quot;bg/frame/bg/talents/content&quot;), slot0:findTF(&quot;bg/frame/bg/talents/content/talent_tpl&quot;))
	slot2 = string.split(i18n(&quot;commander_choice_talent_reset&quot;), &quot;$1&quot;)
	slot3 = string.split(slot2[2], &quot;\t&quot;)
	slot4 = string.split(slot3[2], &quot;$2&quot;)

	setText(slot0:findTF(&quot;bg/frame/bg/tip/texts/label&quot;), slot2[1] .. &quot; &quot;)
	setText(slot0:findTF(&quot;bg/frame/bg/tip/texts/label1&quot;), &quot; &quot; .. slot3[1])
	setText(slot0:findTF(&quot;bg/frame/bg/tip/texts1/label&quot;), slot4[1] .. &quot; &quot;)
	setText(slot0:findTF(&quot;bg/frame/bg/tip/texts1/label1&quot;), &quot; &quot; .. slot4[2])
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.resetCloseBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.resetCancelBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.resetConfirmBtn, function ()
		if uv0.commanderVO then
			if getProxy(PlayerProxy):getRawData().gold &lt; uv0.total then
				GoShoppingMsgBox(i18n(&quot;switch_to_shop_tip_2&quot;, i18n(&quot;word_gold&quot;)), ChargeScene.TYPE_ITEM, {
					{
						59001,
						uv0.total - slot0.gold,
						uv0.total
					}
				})

				return
			end

			uv0.contextData.msgBox:ExecuteAction(&quot;Show&quot;, {
				content = i18n(&quot;commander_reset_talent_tip&quot;),
				onYes = function ()
					uv0:emit(CommanderCatMediator.RESET_TALENT, uv0.commanderVO.id)
					uv0:Hide()
				end
			})
		end
	end, SFX_PANEL)
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)
	slot0._tf:SetAsLastSibling()

	slot0.commanderVO = slot1

	slot0:Flush()
end

slot0.Flush = function(slot0)
	slot1 = slot0.commanderVO

	slot0.resetList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateTalentCard(slot2, uv1[slot1 + 1])
		end
	end)
	slot0.resetList:align(#slot1:getTalentOrigins())

	slot0.total = slot1:getResetTalentConsume()
	slot0.resetGoldTxt.text = getProxy(PlayerProxy):getRawData().gold &lt; slot0.total and &quot;&lt;color=&quot; .. COLOR_RED .. &quot;&gt;&quot; .. slot0.total .. &quot;&lt;/color&gt;&quot; or slot0.total
	slot0.resetPointTxt.text = slot1:getTotalPoint()
	GetComponent(slot0.resetGoldTxt, typeof(Outline)).enabled = slot0.total &lt;= slot3.gold
end

slot0.UpdateTalentCard = function(slot0, slot1, slot2)
	slot3 = slot1:Find(&quot;unlock&quot;)
	slot4 = slot1:Find(&quot;lock&quot;)

	if slot2 then
		GetImageSpriteFromAtlasAsync(&quot;CommanderTalentIcon/&quot; .. slot2:getConfig(&quot;icon&quot;), &quot;&quot;, slot3:Find(&quot;icon&quot;))

		if slot3:Find(&quot;tree_btn&quot;) then
			onButton(slot0, slot5, function ()
				uv0.contextData.treePanel:ExecuteAction(&quot;Show&quot;, uv1)
			end, SFX_PANEL)
		end

		setText(slot3:Find(&quot;name_bg/Text&quot;), slot2:getConfig(&quot;name&quot;))
		setScrollText(slot3:Find(&quot;desc/Text&quot;), slot2:getConfig(&quot;desc&quot;))
	end

	setActive(slot3, slot2)

	if slot4 then
		setActive(slot4, not slot2)
	end
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>