<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commanderreplacetalentpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>commanderreplacetalentpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CommanderReplaceTalentPage&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;CommanderCatReplaceTalentUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.replaceList = UIItemList.New(slot0:findTF(&quot;bg/frame/bg/talents/content&quot;), slot0:findTF(&quot;bg/frame/bg/talents/content/talent&quot;))
	slot0.replaceTargetTF = slot0:findTF(&quot;bg/frame/bg/talent&quot;)
	slot0.replaceTalent = slot0:findTF(&quot;bg/frame/bg/replace&quot;)
	slot0.replaceCloseBtn = slot0:findTF(&quot;bg/frame/close_btn&quot;)
	slot0.replaceCancelBtn = slot0:findTF(&quot;bg/frame/cancel_btn&quot;)
	slot0.confirmBtn = slot0:findTF(&quot;bg/frame/confirm_btn&quot;)

	setActive(slot0:findTF(&quot;bg/frame/consume&quot;), false)
	setText(slot0:findTF(&quot;bg/frame/bg/title/Text&quot;), i18n(&quot;commander_choice_talent_3&quot;))
	setText(slot0:findTF(&quot;bg/frame/bg/talents/title/Text&quot;), i18n(&quot;commander_choice_talent_2&quot;))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0.replaceCloseBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.replaceCancelBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
end

slot0.Show = function(slot0, slot1, slot2)
	uv0.super.Show(slot0)
	slot0._tf:SetAsLastSibling()

	slot0.commander = slot1

	slot0:UpdateTalents(slot2, nil)
	slot0:UpdateList(slot2)
end

slot0.UpdateList = function(slot0, slot1)
	slot0.replaceList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			onButton(uv1, slot2, function ()
				if uv0.prevToggle ~= uv1 then
					uv0:UpdateTalents(uv2, uv3)

					if uv0.prevToggle then
						setActive(uv0.prevToggle:Find(&quot;mark&quot;), false)
					end

					uv0.prevToggle = uv1

					setActive(uv1:Find(&quot;mark&quot;), true)
				end
			end, SFX_PANEL)
			GetImageSpriteFromAtlasAsync(&quot;CommanderTalentIcon/&quot; .. uv0[slot1 + 1]:getConfig(&quot;icon&quot;), &quot;&quot;, slot2)
		end
	end)
	slot0.replaceList:align(#slot0.commander:getTalents())
end

slot0.UpdateTalents = function(slot0, slot1, slot2)
	slot3 = slot0.commander

	slot0:UpdateTalentCard(slot0.replaceTargetTF, slot1)
	slot0:UpdateTalentCard(slot0.replaceTalent, slot2)
	onButton(slot0, slot0.confirmBtn, function ()
		if uv0 and uv1 and uv2 then
			if uv0:getConfig(&quot;worth&quot;) &gt; 1 then
				pg.MsgboxMgr.GetInstance():ShowMsgBox({
					content = i18n(&quot;commander_ability_replace_warning&quot;),
					onYes = function ()
						uv0:emit(CommanderCatMediator.LEARN_TALENT, uv1.id, uv2.id, uv3.id)
						uv0:Hide()
					end
				})
			else
				uv3:emit(CommanderCatMediator.LEARN_TALENT, uv2.id, uv1.id, uv0.id)
				uv3:Hide()
			end
		end
	end, SFX_PANEL)
end

slot0.UpdateTalentCard = function(slot0, slot1, slot2)
	slot3 = slot1:Find(&quot;unlock&quot;)
	slot4 = slot1:Find(&quot;lock&quot;)

	if slot2 then
		GetImageSpriteFromAtlasAsync(&quot;CommanderTalentIcon/&quot; .. slot2:getConfig(&quot;icon&quot;), &quot;&quot;, slot3:Find(&quot;icon&quot;))

		if slot3:Find(&quot;tree_btn&quot;) then
			onButton(slot0, slot5, function ()
				uv0.contextData.treePanel:ExecuteAction(&quot;Show&quot;, uv1)
			end, SFX_PANEL)
		end

		setText(slot3:Find(&quot;name_bg/Text&quot;), slot2:getConfig(&quot;name&quot;))
		setScrollText(slot3:Find(&quot;desc/Text&quot;), slot2:getConfig(&quot;desc&quot;))
	end

	setActive(slot3, slot2)

	if slot4 then
		setActive(slot4, not slot2)
	end
end

slot0.Hide = function(slot0)
	uv0.super.Hide(slot0)

	if slot0.prevToggle then
		setActive(slot0.prevToggle:Find(&quot;mark&quot;), false)

		slot0.prevToggle = nil
	end
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>