<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metashoppage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>metashoppage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MetaShopPage&quot;, import(&quot;.ActivitySelectableShopPage&quot;))

slot0.ResId2ItemId = function(slot0, slot1)
	return slot1
end

slot0.SetResIcon = function(slot0)
	uv0.super.SetResIcon(slot0, DROP_TYPE_ITEM)
end

slot0.UpdateTip = function(slot0)
	slot0.tipText.text = i18n(&quot;meta_shop_tip&quot;)
end

slot0.SetPurchaseConfirmCb = function(slot0, slot1)
	slot0.purchaseWindow:ExecuteAction(&quot;SetConfirmCb&quot;, function (slot0, slot1, slot2)
		uv0:emit(NewShopMainMediator.ON_META_SHOP, uv0.shop.activityId, 1, slot0, slot2, slot1)
	end)
	slot0.purchaseWindow:ExecuteAction(&quot;Hide&quot;)
end

slot0.OnUpdatePlayer = function(slot0)
end

slot0.OnUpdateItems = function(slot0)
	slot0:RefreshResItemList()
end

slot0.GetResDataList = function(slot0)
	slot1 = {}

	for slot6, slot7 in ipairs(slot0.shop:GetResList()) do
		table.insert(slot1, {
			type = DROP_TYPE_ITEM,
			resID = slot7,
			cnt = (slot0.items[slot7] or Item.New({
				count = 0,
				id = slot7
			})).count
		})
	end

	return slot1
end

slot0.RefreshUI = function(slot0)
	slot0:UpdateTip()
	setActive(slot0.tipTextGo, true)
	setActive(slot0.helpBtn, false)
	setActive(slot0.resolveBtn, false)
	setActive(slot0.refreshBtn, false)
end

slot0.OnPurchase = function(slot0, slot1, slot2)
	slot0:emit(NewShopMainMediator.ON_META_SHOP, slot0.shop.activityId, 1, slot1.id, slot2, {
		{
			key = slot1:getConfig(&quot;commodity_id&quot;),
			value = slot2
		}
	})
end

slot0.GetPaintingName = function(slot0)
	slot1, slot2, slot3 = uv0.super.GetPaintingName(slot0)
	slot4 = nil

	return (type(slot1) ~= &quot;table&quot; or slot1[math.random(1, #slot1)]) and slot1, slot2, slot3
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>