<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dorm3dinstagramcard.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>dorm3dinstagramcard.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Dorm3dInstagramCard&quot;)

slot0.Ctor = function(slot0, slot1)
	slot0._go = slot1
	slot0._tf = tf(slot1)
	slot0.iconTF = slot0._tf:Find(&quot;head/icon&quot;)
	slot0.nameTxt = slot0._tf:Find(&quot;name&quot;)
	slot0.txt = slot0._tf:Find(&quot;Text&quot;)
	slot0.like = slot0._tf:Find(&quot;like/Text&quot;)
	slot0.likeMark = slot0._tf:Find(&quot;like/mark&quot;)
	slot0.tip = slot0._tf:Find(&quot;head/tip&quot;)
	slot0.image = slot0._tf:Find(&quot;image&quot;)
	slot0.mask = slot0._tf:Find(&quot;mask&quot;)
	slot0.maskTxt = slot0._tf:Find(&quot;mask/content/Text&quot;)
end

slot0.Update = function(slot0, slot1)
	slot0.instagram = slot1

	setImageSprite(slot0.iconTF, LoadSprite(&quot;qicon/&quot; .. slot1:GetIcon()), false)
	setText(slot0.nameTxt, slot1:GetName())
	LoadSpriteAsync(&quot;Dorm3dIns/&quot; .. slot1:GetPicture(), function (slot0)
		setImageSprite(uv0.image, slot0, false)
	end)
	setActive(slot0.likeMark, slot1:IsGood())
	setText(slot0.txt, slot1:GetText())
	setActive(slot0.tip, slot1:ShouldTip())
	setActive(slot0.mask, slot1:IsLock())
	setText(slot0.maskTxt, slot1:GetUnLockConditionDesc())
end

slot0.Dispose = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>