<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlesceneobject.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlesceneobject.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot1 = class(&quot;BattleSceneObject&quot;)
ys.Battle.BattleSceneObject = slot1
slot1.__name = &quot;BattleSceneObject&quot;

slot1.Ctor = function(slot0)
end

slot1.GetGO = function(slot0)
	return slot0._go
end

slot1.GetTf = function(slot0)
	return slot0._tf
end

slot1.SetGO = function(slot0, slot1)
	slot0._go = slot1
	slot0._tf = slot1.transform
end

slot1.GetCldBoxSize = function(slot0)
	assert(false, slot0.__name .. &quot;.GetCldBoxSize: this function should be override!!!&quot;)
end

slot1.GetCldBox = function(slot0)
	assert(false, slot0.__name .. &quot;.GetCldBox: this function should be override!!!&quot;)
end

slot1.GetCldData = function(slot0)
	assert(false, slot0.__name .. &quot;.GetCldData: this function should be override!!!&quot;)
end

slot1.GetGOPosition = function(slot0)
	return slot0._tf.localPosition
end

slot1.CameraOrthogonal = function(slot0, slot1)
	slot0._tf.localRotation = slot1.transform.localRotation
end

slot1.Dispose = function(slot0)
	slot0._tf = nil

	uv0.Battle.BattleResourceManager.GetInstance():DestroyOb(slot0._go)

	slot0._go = nil
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>