<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courtyardpedestalroad.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>courtyardpedestalroad.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CourtYardPedestalRoad&quot;, import(&quot;.CourtYardPedestalStructure&quot;))
slot1 = {
	-920,
	-1080,
	-1230,
	-1230
}

slot0.GetAssetPath = function(slot0)
	return &quot;furnitrues/base/road_&quot; .. slot0.level
end

slot0.OnLoaded = function(slot0, slot1)
	setAnchoredPosition(slot1, Vector3(0, uv0[slot0.level], 0))

	if slot0.level ~= 4 then
		slot4 = slot1.transform

		onButton(slot0, slot4:Find(&quot;warn&quot;), function ()
			if CourtYardConst.MAX_STOREY_LEVEL + 1 == uv0.level then
				return
			end

			if uv0:IsEditModeOrIsVisit() then
				return
			end

			uv0.parent.msgBox:ExecuteAction(&quot;Show&quot;)
		end, SFX_PANEL)
		onButton(slot0, slot1, function ()
			if CourtYardConst.MAX_STOREY_LEVEL + 1 == uv0.level then
				return
			end

			if uv0:IsEditModeOrIsVisit() then
				return
			end

			uv0.parent.msgBox:ExecuteAction(&quot;Show&quot;)
		end, SFX_PANEL)
	end

	tf(slot1):SetSiblingIndex(0)
end

slot0.GetParent = function(slot0)
	return slot0.parent._tf:Find(&quot;base&quot;)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>