<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>townskinpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>townskinpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TownSkinPage&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;TownSkinPageUI&quot;
end

slot0.init = function(slot0)
	slot0.activity = getProxy(ActivityProxy):getActivityById(5535)
	slot0.story = slot0.activity:getConfig(&quot;config_client&quot;).story
	slot0.storyStateDic = {}

	slot0:ShowMask(false)

	slot0.isPlaying = false

	slot0:InitStoryState()
	slot0:UpdateStoryView()
	slot0:UpdateItemView(slot0.activity)
end

slot0.InitStoryState = function(slot0)
	for slot4, slot5 in ipairs(slot0.story) do
		if checkExist(slot0.story, {
			slot4
		}, {
			1
		}) then
			slot6 = false

			if pg.NewStoryMgr.GetInstance():IsPlayed(slot5[1]) then
				slot6 = true
			end

			slot0.storyStateDic[pg.NewStoryMgr.GetInstance():StoryName2StoryId(slot7)] = slot6
		end
	end
end

slot0.UpdateStoryView = function(slot0)
	for slot5, slot6 in ipairs({
		&quot;pittsburgh&quot;,
		&quot;indiana&quot;,
		&quot;fargo&quot;,
		&quot;kersaint&quot;,
		&quot;friedrich&quot;,
		&quot;painleve&quot;
	}) do
		slot9 = slot0.storyStateDic[pg.NewStoryMgr.GetInstance():StoryName2StoryId(slot0.story[slot5][1])]

		setActive(slot0._tf:Find(&quot;frame/bg/&quot; .. slot6 .. &quot;/locked&quot;), not slot9)
		setActive(slot0._tf:Find(&quot;frame/bg/&quot; .. slot6 .. &quot;/unlocked&quot;), slot9)

		if slot9 then
			onButton(slot0, slot11, function ()
				pg.NewStoryMgr.GetInstance():Play(pg.NewStoryMgr.GetInstance():StoryId2StoryName(uv0), nil, true)
			end)
		else
			onButton(slot0, slot10, function ()
				if getProxy(ActivityProxy):getActivityById(5535).data1 &lt;= 0 then
					pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;activity_0815_town_memory&quot;))

					return
				end

				pg.m02:sendNotification(GAME.ACTIVITY_UNLOCKSTORYT, {
					cmd = 1,
					activity_id = uv0.activity.id,
					arg1 = uv1
				})
			end)
		end
	end
end

slot0.UpdateItemView = function(slot0, slot1)
	setText(slot0._tf:Find(&quot;frame/des/count&quot;), tostring(slot1.data1))
end

slot0.UpdataStoryState = function(slot0, slot1)
	slot0.storyStateDic[slot1.storyId] = true
	slot3 = 0

	for slot7, slot8 in ipairs(slot0.story) do
		if pg.NewStoryMgr.GetInstance():StoryName2StoryId(slot8[1]) == slot2 then
			slot3 = slot7
		end
	end

	for slot8, slot9 in ipairs({
		&quot;pittsburgh&quot;,
		&quot;indiana&quot;,
		&quot;fargo&quot;,
		&quot;kersaint&quot;,
		&quot;friedrich&quot;,
		&quot;painleve&quot;
	}) do
		if slot8 == slot3 then
			slot11 = slot0._tf
			slot11 = slot11:Find(&quot;frame/bg/&quot; .. slot9 .. &quot;/locked&quot;)
			slot12 = slot0._tf
			slot12 = slot12:Find(&quot;frame/bg/&quot; .. slot9 .. &quot;/unlocked&quot;)
			slot13 = slot11:GetComponent(typeof(Animation))

			slot13:Play(&quot;anim_cowboy_skin_fargo_unlock&quot;)
			slot0:ShowMask(true)

			slot0.isPlaying = true

			onDelayTick(function ()
				uv0.isPlaying = false

				uv0:ShowMask(false)
				setActive(uv1, not uv2)
				setActive(uv3, uv2)
				pg.NewStoryMgr.GetInstance():Play(pg.NewStoryMgr.GetInstance():StoryId2StoryName(uv4))
			end, slot13:GetClip(&quot;anim_cowboy_skin_fargo_unlock&quot;).length)

			if slot0.storyStateDic[slot2] then
				onButton(slot0, slot12, function ()
					pg.NewStoryMgr.GetInstance():Play(pg.NewStoryMgr.GetInstance():StoryId2StoryName(uv0), nil, true)
				end)
			else
				onButton(slot0, slot11, function ()
					if getProxy(ActivityProxy):getActivityById(5535).data1 &lt;= 0 then
						pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;activity_0815_town_memory&quot;))

						return
					end

					pg.m02:sendNotification(GAME.ACTIVITY_UNLOCKSTORYT, {
						cmd = 1,
						activity_id = uv0.activity.id,
						arg1 = uv1
					})
				end)
			end
		end
	end
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0._tf:Find(&quot;frame/back&quot;), function ()
		uv0:onBackPressed()
	end, SFX_PANEL)
	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:onBackPressed()
	end, SFX_PANEL)
	onButton(slot0, slot0._tf:Find(&quot;frame/des/itemDes&quot;), function ()
		uv0:emit(BaseUI.ON_DROP, {
			type = DROP_TYPE_VITEM,
			id = uv0.activity:getConfig(&quot;config_id&quot;),
			count = getProxy(ActivityProxy):getActivityById(5535).data1
		})
	end)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
end

slot0.ShowMask = function(slot0, slot1)
	GetOrAddComponent(slot0._tf:Find(&quot;mask&quot;), typeof(CanvasGroup)).blocksRaycasts = slot1
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

slot0.onBackPressed = function(slot0)
	if slot0.isPlaying then
		return
	end

	slot0.super.onBackPressed(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>