<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>townskinmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>townskinmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TownSkinMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.UnlockStoryDone = &quot;TownSkinMediator.UnlockStoryDone&quot;

slot0.register = function(slot0)
end

slot0.listNotificationInterests = function(slot0)
	return {
		uv0.UnlockStoryDone,
		ActivityProxy.ACTIVITY_UPDATED,
		GAME.ACTIVITY_STORYUNLOCKED_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.ACTIVITY_STORYUNLOCKED_DONE then
		slot0.viewComponent:UpdataStoryState(slot3)
	elseif slot2 == ActivityProxy.ACTIVITY_UPDATED and slot3:getConfig(&quot;type&quot;) == ActivityConst.ACTIVITY_TYPE_TownSkinStory then
		slot0.viewComponent:UpdateItemView(slot3)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>