<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainequipmentchangesequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainequipmentchangesequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainEquipmentChangeSequence&quot;)

slot0.Execute = function(slot0, slot1)
	if not ItemShowPanel.ConfigData.isOpen then
		slot1()

		return
	end

	if PlayerPrefs.GetInt(&quot;ItemIconChange_&quot; .. slot2.equipID, 0) == 0 then
		slot5 = function()
			uv0()
			PlayerPrefs.SetInt(&quot;ItemIconChange_&quot; .. uv1, 1)
		end

		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			modal = true,
			hideNo = true,
			hideClose = true,
			type = MSGBOX_TYPE_JUST_FOR_SHOW,
			title = pg.MsgboxMgr.TITLE_INFORMATION,
			weight = LayerWeightConst.TOP_LAYER,
			onClose = slot5,
			onYes = slot5
		})
	else
		slot1()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>