<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainrequestvoteinfosequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainrequestvoteinfosequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainRequestVoteInfoSequence&quot;)

slot0.Execute = function(slot0, slot1)
	if not slot0:ExistVoteAct() then
		slot1()

		return
	end

	seriesAsync({
		function (slot0)
			uv0:RequestMainStage(slot0)
		end,
		function (slot0)
			uv0:RequestFunStage(slot0)
		end
	}, slot1)
end

slot0.ExistVoteAct = function(slot0)
	return MainVoteEntranceBtn.New():InShowTime()
end

slot0.RequestMainStage = function(slot0, slot1)
	if not _.detect(pg.activity_vote.all, function (slot0)
		return pg.TimeMgr.GetInstance():inTime(pg.activity_vote[slot0].time_vote) and slot1.is_in_game == 1 and slot1.type ~= VoteConst.RACE_TYPE_FUN
	end) or not slot0:ShouldRequestMainStage(slot2) then
		slot1()

		return
	end

	pg.m02:sendNotification(GAME.FETCH_VOTE_INFO, {
		voteId = slot2,
		callback = function ()
			uv0.lastRequestTime = pg.TimeMgr.GetInstance():GetServerTime()

			uv1()
		end
	})
end

slot0.ShouldRequestMainStage = function(slot0, slot1)
	return not getProxy(VoteProxy):RawGetVoteGroupByConfigId(slot1) or VoteConst.RankExpiredTime &lt; pg.TimeMgr.GetInstance():GetServerTime() - (uv0.lastRequestTime or 0) or slot2 and slot2.configId ~= slot1
end

slot0.RequestFunStage = function(slot0, slot1)
	if not _.detect(pg.activity_vote.all, function (slot0)
		return pg.TimeMgr.GetInstance():inTime(pg.activity_vote[slot0].time_vote) and slot1.is_in_game == 1 and slot1.type == VoteConst.RACE_TYPE_FUN
	end) or not slot0:ShouldRequestFunStage(slot2) then
		slot1()

		return
	end

	pg.m02:sendNotification(GAME.FETCH_VOTE_INFO, {
		voteId = slot2,
		callback = function ()
			uv0.lastRequestTimeForFun = pg.TimeMgr.GetInstance():GetServerTime()

			uv1()
		end
	})
end

slot0.ShouldRequestFunStage = function(slot0, slot1)
	return not getProxy(VoteProxy):RawGetVoteGroupByConfigId(slot1) or VoteConst.RankExpiredTime &lt; pg.TimeMgr.GetInstance():GetServerTime() - (uv0.lastRequestTimeForFun or 0) or slot2 and slot2.configId ~= slot1
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>