<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainforceplayernamemodificationsequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainforceplayernamemodificationsequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainForcePlayerNameModificationSequence&quot;)

slot0.Execute = function(slot0, slot1)
	if getProxy(PlayerProxy):getRawData():WhetherServerModifiesName() then
		slot0:ShowModityPlayerNameWindow(slot1)
	else
		slot1()
	end
end

slot0.ShowModityPlayerNameWindow = function(slot0, slot1)
	slot0.renameWindow = slot0.renameWindow or ForcePlayerNameModificationPage.New(pg.UIMgr.GetInstance().OverlayMain)

	slot0.renameWindow:ExecuteAction(&quot;Show&quot;, function ()
		uv0:Clear()
	end)
end

slot0.Clear = function(slot0)
	if slot0.renameWindow then
		slot0.renameWindow:Destroy()

		slot0.renameWindow = nil
	end
end

slot0.Dispose = function(slot0)
	slot0:Clear()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>