<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maincheckshipnumsequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>maincheckshipnumsequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainCheckShipNumSequence&quot;)

slot0.Execute = function(slot0, slot1)
	pg.m02:sendNotification(GAME.GET_SHIP_CNT, {
		callback = function (slot0)
			if uv0:Check(slot0) then
				uv1()
			end
		end
	})
end

slot0.Check = function(slot0, slot1)
	if not (slot1 &lt;= getProxy(BayProxy):getRawShipCount()) then
		originalPrint(slot1, slot2)
		slot0:ShowTip()
	end

	return slot3
end

slot0.ShowTip = function(slot0)
	pg.MsgboxMgr.GetInstance():ShowMsgBox({
		modal = true,
		hideNo = true,
		hideClose = true,
		content = i18n(&quot;dockyard_data_loss_detected&quot;),
		onYes = function ()
			pg.m02:sendNotification(GAME.LOGOUT, {
				code = 0
			})
		end
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>