<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainstroysequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainstroysequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainStroySequence&quot;)

slot0.Execute = function(slot0, slot1)
	slot2 = {}

	slot0:CollectTaskStories(slot2)
	slot0:CollectCommanderStories(slot2)
	slot0:CollectNpcStories(slot2)
	slot0:CollectPuzzlaStories(slot2)
	slot0:CollectIdolStories(slot2)
	slot0:CollectDOAStories(slot2)
	slot0:CollectActivityStage(slot2)
	slot0:Play(slot2, slot1)
end

slot0.Play = function(slot0, slot1, slot2)
	slot3 = {}

	for slot7, slot8 in ipairs(slot1) do
		if type(slot8) == &quot;string&quot; and not pg.NewStoryMgr.GetInstance():IsPlayed(slot8) then
			table.insert(slot3, function (slot0)
				pg.NewStoryMgr.GetInstance():Play(uv0, slot0, true, true)
			end)
		elseif type(slot8) == &quot;function&quot; then
			table.insert(slot3, slot8)
		end
	end

	seriesAsync(slot3, slot2)
end

slot0.CollectTaskStories = function(slot0, slot1)
	for slot6, slot7 in pairs(getProxy(TaskProxy):getRawData()) do
		if slot7:getConfig(&quot;story_id&quot;) and slot8 ~= &quot;&quot; then
			table.insert(slot1, slot8)
		end
	end
end

slot0.CollectCommanderStories = function(slot0, slot1)
	if ENABLE_GUIDE and getProxy(PlayerProxy):getRawData().level &gt;= 40 then
		table.insert(slot1, &quot;ZHIHUIMIAO1&quot;)
	end
end

slot0.CollectNpcStories = function(slot0, slot1)
	for slot5, slot6 in ipairs(getGameset(&quot;act_npc_ship_id&quot;)[2]) do
		if getProxy(ActivityProxy):getActivityById(slot6) and not slot7:isEnd() and slot7:getConfig(&quot;config_client&quot;).npc then
			slot10 = slot8.npc[2]

			if slot8.npc[1] and slot9 ~= &quot;&quot; then
				table.insert(slot1, slot9)
			end

			if slot10 and type(slot10) == &quot;number&quot; then
				table.insert(slot1, function (slot0)
					if getProxy(TaskProxy):getTaskVO(uv0) and slot1:isFinish() and not slot1:isReceive() then
						pg.m02:sendNotification(GAME.FETCH_NPC_SHIP, {
							taskId = slot1.id,
							callback = slot0
						})
					else
						slot0()
					end
				end)
			end
		end
	end
end

slot0.CollectPuzzlaStories = function(slot0, slot1)
	for slot6, slot7 in ipairs(getProxy(ActivityProxy):getActivitiesByType(ActivityConst.ACTIVITY_TYPE_PUZZLA)) do
		if slot7 and not slot7:isEnd() and type(slot7:getConfig(&quot;config_client&quot;)) == &quot;table&quot; and slot8[2] and type(slot8[2]) == &quot;string&quot; then
			table.insert(slot1, slot8[2])
		end
	end
end

slot0.CollectIdolStories = function(slot0, slot1)
	if getProxy(ActivityProxy):getActivityById(ActivityConst.MUSIC_CHUIXUE7DAY_ID) and not slot2:isEnd() and slot2:getConfig(&quot;config_client&quot;).story[1][1] then
		table.insert(slot1, slot4)
	end
end

slot0.CollectDOAStories = function(slot0, slot1)
	if getProxy(ActivityProxy):getActivityById(ActivityConst.DOA_COLLECTION_FURNITURE) and not slot2:isEnd() and slot2:getConfig(&quot;config_client&quot;).story ~= nil then
		table.insert(slot1, slot2:getConfig(&quot;config_client&quot;).story)
	end
end

slot0.CollectActivityStage = function(slot0, slot1)
	slot5 = ActivityConst.ACTIVITY_TYPE_ZPROJECT

	for slot5, slot6 in ipairs(getProxy(ActivityProxy):getActivitiesByType(slot5)) do
		if slot6 and not slot6:isEnd() and slot6:getConfig(&quot;config_client&quot;).story ~= nil then
			table.insert(slot1, slot6:getConfig(&quot;config_client&quot;).story)
		end
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>