<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainurgencyscenesequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainurgencyscenesequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainUrgencySceneSequence&quot;)

slot0.Execute = function(slot0, slot1)
	slot0:NextOne(1, {
		&quot;SkipToActivity&quot;,
		&quot;SkipToReFluxActivity&quot;,
		&quot;SkipToTechnology&quot;
	}, slot1)
end

slot0.NextOne = function(slot0, slot1, slot2, slot3)
	if not slot0[slot2[slot1]](slot0) then
		return
	end

	if slot5 and slot1 &lt; #slot2 then
		slot0:NextOne(slot1 + 1, slot2, slot3)
	else
		slot3()
	end
end

slot0.SkipToActivity = function(slot0)
	if getProxy(ActivityProxy):findNextAutoActivity() then
		pg.m02:sendNotification(GAME.GO_SCENE, SCENE.ACTIVITY)

		return false
	end

	return true
end

slot0.SkipToReFluxActivity = function(slot0)
	if getProxy(RefluxProxy):isCanSign() and slot1:isInRefluxTime() then
		pg.m02:sendNotification(GAME.GO_SCENE, SCENE.REFLUX)

		return false
	end

	return true
end

slot0.SkipToTechnology = function(slot0)
	slot1 = getProxy(PlayerProxy):getRawData().level

	if not LOCK_TECHNOLOGY and pg.SystemOpenMgr.GetInstance():isOpenSystem(slot1, &quot;TechnologyMediator&quot;) and not pg.NewStoryMgr.GetInstance():IsPlayed(&quot;FANGAN1&quot;) then
		slot2 = pg.m02

		slot2:sendNotification(GAME.GO_SCENE, SCENE.SELTECHNOLOGY)

		slot2 = pg.NewStoryMgr.GetInstance()

		slot2:Play(&quot;FANGAN1&quot;, function ()
		end, true)

		return false
	end

	return true
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>