<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainrefundsequence.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>mainrefundsequence.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MainRefundSequence&quot;)

slot0.Execute = function(slot0, slot1)
	if getProxy(UserProxy).data.limitServerIds and #slot2.data.limitServerIds &gt; 0 then
		pg.m02:sendNotification(GAME.GET_REFUND_INFO, {
			callback = function ()
				uv0:ShowTip(uv1)
			end
		})
	else
		slot1()
	end
end

slot0.ShowTip = function(slot0, slot1)
	if getProxy(PlayerProxy):getRefundInfo() then
		slot3 = getProxy(ServerProxy)
		slot4 = true

		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			modal = true,
			hideClose = true,
			content = i18n(&quot;Supplement_pay1&quot;),
			onYes = function ()
				if uv0 then
					pg.m02:sendNotification(GAME.GO_SCENE, SCENE.BACK_CHARGE)
				else
					Application.Quit()
				end
			end,
			onNo = function ()
				pg.m02:sendNotification(GAME.LOGOUT, {
					code = 0
				})
			end,
			yesText = i18n(&quot;Supplement_pay4&quot;),
			noText = i18n(&quot;word_back&quot;)
		})

		return
	end

	slot1()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>