<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>canteenbuiding.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>canteenbuiding.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CanteenBuiding&quot;, import(&quot;.NavalAcademyUpgradableBuilding&quot;))

slot0.GetGameObjectName = function(slot0)
	return &quot;canteen&quot;
end

slot0.GetTitle = function(slot0)
	return i18n(&quot;school_title_shitang&quot;)
end

slot0.OnClick = function(slot0)
	slot0:emit(NavalAcademyMediator.ON_OPEN_OILRESFIELD)
end

slot0.GetResField = function(slot0)
	return slot0.parent.oilResField
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>