<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backchargemediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>backchargemediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BackChargeMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.CHARGE = &quot;BackChargeMediator:CHARGE&quot;

slot0.register = function(slot0)
	slot0.viewComponent:setPlayer(getProxy(PlayerProxy):getData())

	if getProxy(ShopsProxy):getChargedList() then
		slot0.viewComponent:setChargedList(slot4)
	end

	slot0:bind(uv0.CHARGE, function (slot0, slot1)
		uv0:sendNotification(GAME.REFUND_CHHARGE, {
			shopId = slot1
		})
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		PlayerProxy.UPDATED,
		GAME.CHARGE_SUCCESS,
		GAME.REFUND_INFO_UPDATE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == PlayerProxy.UPDATED then
		-- Nothing
	elseif slot2 == ShopsProxy.CHARGED_LIST_UPDATED then
		-- Nothing
	elseif slot2 == GAME.CHARGE_CONFIRM_FAILED then
		-- Nothing
	elseif slot2 == GAME.CHARGE_SUCCESS then
		slot0:sendNotification(GAME.GET_REFUND_INFO)
	elseif slot2 == GAME.REFUND_INFO_UPDATE then
		slot0.viewComponent:refundUpdate()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>