<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatroombubble.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>chatroombubble.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ChatRoomBubble&quot;, import(&quot;.ChatBubble&quot;))

slot0.init = function(slot0)
	slot0.nameTF = findTF(slot0.tf, &quot;desc/name&quot;):GetComponent(&quot;Text&quot;)
	slot0.circle = findTF(slot0.tf, &quot;shipicon/frame&quot;)
	slot0.face = findTF(slot0.tf, &quot;face/content&quot;)
	slot0.timeTF = findTF(slot0.tf, &quot;time&quot;):GetComponent(&quot;Text&quot;)
	slot0.headTF = findTF(slot0.tf, &quot;shipicon/icon&quot;):GetComponent(&quot;Image&quot;)
	slot0.stars = findTF(slot0.tf, &quot;shipicon/stars&quot;)
	slot0.star = findTF(slot0.stars, &quot;star&quot;)
	slot0.frame = findTF(slot0.tf, &quot;shipicon/frame&quot;):GetComponent(&quot;Image&quot;)
	slot0.chatBgWidth = 665
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>