<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iteminfolayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>iteminfolayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ItemInfoLayer&quot;, import(&quot;..base.BaseUI&quot;))
slot1 = 5
slot2 = 11
slot3 = 100
slot4 = 53996
slot5 = {
	USE = 3,
	RESOLVE = 2,
	COMPOSE = 1
}

slot0.getUIName = function(slot0)
	return &quot;ItemInfoUI&quot;
end

slot0.init = function(slot0)
	slot1 = pg.UIMgr.GetInstance()

	slot1:BlurPanel(slot0._tf, false, {
		weight = slot0:getWeightFromData()
	})

	slot0.window = slot0:findTF(&quot;window&quot;)
	slot2 = slot0.window

	setText(slot2:Find(&quot;top/bg/infomation/title&quot;), i18n(&quot;words_information&quot;))

	slot1 = slot0.window
	slot0.btnContent = slot1:Find(&quot;actions&quot;)

	eachChild(slot0.btnContent, function (slot0)
		setActive(slot0, false)
	end)

	slot4 = i18n
	slot5 = &quot;go_skinexperienceshop_btn_label&quot;

	for slot4, slot5 in pairs({
		okBtn = {
			&quot;ok_button&quot;,
			i18n(&quot;msgbox_text_confirm&quot;)
		},
		useBtn = {
			&quot;use_button&quot;
		},
		batchUseBtn = {
			&quot;batch_use_button&quot;
		},
		useOneBtn = {
			&quot;use_one_button&quot;
		},
		composeBtn = {
			&quot;compose_button&quot;
		},
		resolveBtn = {
			&quot;resolve_button&quot;,
			i18n(&quot;msgbox_text_analyse&quot;)
		},
		loveRepairBtn = {
			&quot;love_lettle_repair_button&quot;,
			i18n(&quot;loveletter_exchange_button&quot;)
		},
		metaskillBtn = {
			&quot;metaskill_use_btn&quot;,
			i18n(&quot;msgbox_text_use&quot;)
		},
		blueBtn = {
			&quot;blue_btn&quot;
		},
		yellowBtn = {
			&quot;yellow_btn&quot;
		},
		recycleBtn = {
			&quot;recycle_btn&quot;,
			i18n(&quot;recycle_btn_label&quot;)
		},
		skinShopBtn = {
			&quot;skin_shop_btn&quot;,
			i18n(&quot;go_skinshop_btn_label&quot;)
		},
		skinExperienceShopBtn = {
			&quot;skin_experience_shop_btn&quot;,
			slot4(slot5)
		}
	}) do
		slot6, slot7 = unpack(slot5)
		slot0[slot4] = slot0.btnContent:Find(slot6)

		if slot7 then
			setText(slot0[slot4]:Find(&quot;pic&quot;), slot7)
		end
	end

	slot1 = slot0.window
	slot0.itemTF = slot1:Find(&quot;item&quot;)
	slot0.operatePanel = slot0:findTF(&quot;operate&quot;)
	slot1 = slot0.operatePanel
	slot1 = slot1:Find(&quot;item/left/own/Text&quot;)
	slot0.countTF = slot1:GetComponent(typeof(Text))
	slot1 = slot0.operatePanel
	slot0.keepFateTog = slot1:Find(&quot;got/keep_tog&quot;)
	slot2 = slot0.keepFateTog

	setText(slot2:Find(&quot;label&quot;), i18n(&quot;keep_fate_tip&quot;))

	slot0.operateBtns = {}
	slot2 = slot0.operatePanel
	slot0.operateBtns.Confirm = slot2:Find(&quot;actions/confirm_button&quot;)
	slot2 = slot0.operatePanel
	slot0.operateBtns.Cancel = slot2:Find(&quot;actions/cancel_button&quot;)
	slot2 = slot0.operatePanel
	slot0.operateBtns.Resolve = slot2:Find(&quot;actions/resolve_button&quot;)
	slot2 = slot0.operateBtns.Confirm

	setText(slot2:Find(&quot;label&quot;), i18n(&quot;msgbox_text_confirm&quot;))

	slot2 = slot0.operateBtns.Cancel

	setText(slot2:Find(&quot;label&quot;), i18n(&quot;msgbox_text_cancel&quot;))

	slot2 = slot0.operateBtns.Resolve

	setText(slot2:Find(&quot;label&quot;), i18n(&quot;msgbox_text_analyse&quot;))
	SetActive(slot0.operatePanel, false)
	SetActive(slot0.window, true)

	slot0.operateMode = nil
	slot1 = slot0.operatePanel
	slot0.operateBonusList = slot1:Find(&quot;got/panel_bg/list&quot;)
	slot1 = slot0.operatePanel
	slot0.operateBonusTpl = slot1:Find(&quot;got/panel_bg/list/item&quot;)
	slot1 = slot0.operatePanel
	slot0.operateCountdesc = slot1:Find(&quot;count/image_text&quot;)
	slot1 = slot0.operatePanel
	slot0.operateValue = slot1:Find(&quot;count/number_panel/value&quot;)
	slot1 = slot0.operatePanel
	slot0.operateValueInput = slot1:Find(&quot;count/number_panel/InputField&quot;)
	slot1 = slot0.operatePanel
	slot0.operateLeftButton = slot1:Find(&quot;count/number_panel/left&quot;)
	slot1 = slot0.operatePanel
	slot0.operateRightButton = slot1:Find(&quot;count/number_panel/right&quot;)
	slot1 = slot0.operatePanel
	slot0.operateMaxButton = slot1:Find(&quot;count/max&quot;)
	slot0.recycleConfirmationPage = ItemRecycleConfirmationPage.New(pg.UIMgr.GetInstance().OverlayMain)
	slot1 = slot0.recycleConfirmationPage

	slot1:SetCallback(function ()
		setActive(uv0._tf, false)
	end, function ()
		setActive(uv0._tf, true)
	end)
end

slot0.getButton = function(slot0, slot1, slot2)
	slot0[slot1] = slot0[slot1] or cloneTplTo(slot2, slot0.btnContent)

	setActive(slot0[slot1], true)

	return slot0[slot1]
end

slot0.setDrop = function(slot0, slot1)
	if slot1.type == DROP_TYPE_SHIP then
		slot0:setItemInfo(slot1, slot0.itemTF)
	elseif slot1.type == DROP_TYPE_ITEM then
		slot1.count = getProxy(BagProxy):getItemCountById(slot1.id)

		slot0:setItem(slot1)
	else
		assert(false, &quot;do not support current kind of type: &quot; .. slot1.type)
	end
end

slot0.setItemInfo = function(slot0, slot1, slot2)
	updateDrop(slot2:Find(&quot;left/IconTpl&quot;), setmetatable({
		count = 0
	}, {
		__index = slot1
	}))
	UpdateOwnDisplay(slot2:Find(&quot;left/own&quot;), slot1)
	RegisterDetailButton(slot0, slot2:Find(&quot;left/detail&quot;), slot1)
	setText(slot2:Find(&quot;display_panel/name_container/name/Text&quot;), slot1:getConfig(&quot;name&quot;))
	setText(slot2:Find(&quot;display_panel/desc/Text&quot;), slot1.desc)
	setActive(slot2:Find(&quot;display_panel/name_container/shiptype&quot;), slot1.type == DROP_TYPE_SHIP)

	if slot1.type == DROP_TYPE_SHIP then
		GetImageSpriteFromAtlasAsync(&quot;shiptype&quot;, shipType2print(slot1:getConfig(&quot;type&quot;)), slot3, false)
	end
end

slot0.updateItemCount = function(slot0, slot1)
	slot0.countTF.text = slot1
end

slot0.setItem = function(slot0, slot1)
	slot0:setItemInfo(slot1, slot0.itemTF)

	slot0.itemVO = slot1:getSubClass()

	if not Item.CanInBag(slot0.itemVO.id) then
		return
	end

	if slot0.itemVO:getConfig(&quot;compose_number&quot;) &gt; 0 and slot2 &lt;= slot0.itemVO.count then
		slot0:setItemInfo(slot1, slot0.operatePanel:Find(&quot;item&quot;))

		slot0.operateMax = slot0.itemVO.count / slot2

		setActive(slot0.composeBtn, true)
	end

	if slot0.itemVO:getConfig(&quot;usage&quot;) == ItemUsage.SOS then
		setText(slot0.useBtn:Find(&quot;text&quot;), 1)
		setActive(slot0.useBtn, true)
	end

	slot3 = slot0.itemVO:getConfig(&quot;type&quot;)

	if Item.IsLoveLetterCheckItem(slot0.itemVO.id) then
		slot5 = slot0:getButton(&quot;checkMail&quot;, slot0.blueBtn)

		setText(slot5:Find(&quot;pic&quot;), i18n(&quot;loveletter_recover_bottom1&quot;))
		onButton(slot0, slot5, function ()
			uv0:emit(ItemInfoMediator.CHECK_LOVE_LETTER_MAIL, uv0.itemVO.id, uv1)
		end, SFX_CONFIRM)

		slot6 = slot0:getButton(&quot;repairMail&quot;, slot0.yellowBtn)

		setText(slot6:Find(&quot;pic&quot;), i18n(&quot;loveletter_recover_bottom2&quot;))
		onButton(slot0, slot6, function ()
			if not uv0 then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;loveletter_recover_tip1&quot;))
			elseif #uv0 == 0 then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;loveletter_recover_tip3&quot;))
			else
				if #uv0 == 1 then
					pg.MsgboxMgr.GetInstance():ShowMsgBox({
						delayConfirm = 3,
						content = i18n(&quot;loveletter_recover_text1&quot;, uv0[1], ShipGroup.New({
							id = uv1
						}):getName()),
						onYes = function ()
							uv0:emit(ItemInfoMediator.REPAIR_LOVE_LETTER_MAIL, uv0.itemVO.id, uv1, uv2)
						end
					})

					return
				end

				table.sort(uv0)
				pg.MsgboxMgr.GetInstance():ShowMsgBox({
					hideYes = true,
					content = i18n(&quot;loveletter_recover_text2&quot;, ShipGroup.New({
						id = uv1
					}):getName()),
					custom = underscore.map(uv0, function (slot0)
						return {
							delayButton = 3,
							text = i18n(&quot;loveletter_recover_bottom3&quot;, slot0),
							sound = SFX_CONFIRM,
							onCallback = function ()
								uv0:emit(ItemInfoMediator.REPAIR_LOVE_LETTER_MAIL, uv0.itemVO.id, uv1, uv2)
							end,
							btnType = pg.MsgboxMgr.BUTTON_YELLOW
						}
					end)
				})
			end
		end, SFX_PANEL)
		setGray(slot6, not getProxy(BagProxy):GetLoveLetterRepairInfo(slot0.itemVO.id .. &quot;_&quot; .. (slot0.itemVO.extra or pg.loveletter_2018_2021[slot0.itemVO.id].ship_group_id)) or #slot7 == 0)

		return
	end

	if slot0.itemVO:getConfig(&quot;type&quot;) == Item.EQUIPMENT_BOX_TYPE_5 then
		slot7 = slot0.operatePanel

		slot0:setItemInfo(slot1, slot7:Find(&quot;item&quot;))
		setActive(slot0.useOneBtn, true)
		onButton(slot0, slot0.useOneBtn, function ()
			SetActive(uv0.operatePanel, true)
			SetActive(uv0.window, false)

			uv0.operateMode = uv1.USE

			uv0:SetOperateCount(1)
		end, SFX_PANEL)
	elseif slot0.itemVO:CanOpen() then
		setText(slot0.useBtn:Find(&quot;text&quot;), 1)
		setActive(slot0.useBtn, true)

		if slot0.itemVO.count &gt; 1 then
			setText(slot0.batchUseBtn:Find(&quot;text&quot;), math.min(slot0.itemVO.count, 10))
			setActive(slot0.batchUseBtn, true)
		end
	elseif slot3 == Item.BLUEPRINT_TYPE then
		slot5 = getProxy(TechnologyProxy):GetBlueprint4Item(slot0.itemVO.id)

		if not LOCK_FRAGMENT_SHOP and slot5 and slot4:getBluePrintById(slot5):isMaxLevel() then
			setActive(slot0.resolveBtn, true)
			slot0:UpdateBlueprintResolveNum()
		end

		slot0:setItemInfo(slot1, slot0.operatePanel:Find(&quot;item&quot;))
		setActive(slot0.okBtn, true)
	elseif slot3 == Item.TEC_SPEEDUP_TYPE then
		setActive(slot0.resolveBtn, true)
		slot0:UpdateSpeedUpResolveNum()
		slot0:setItemInfo(slot1, slot0.operatePanel:Find(&quot;item&quot;))
		setActive(slot0.okBtn, true)
	elseif slot3 == Item.LOVE_LETTER_TYPE then
		setActive(slot0.loveRepairBtn, getProxy(ActivityProxy):getActivityByType(ActivityConst.ACTIVITY_TYPE_LOVE_LETTER) and not slot4:isEnd() and slot4.data1 &gt; 0 and slot0.itemVO.extra == 31201)
		onButton(slot0, slot0.loveRepairBtn, function ()
			pg.MsgboxMgr.GetInstance():ShowMsgBox({
				content = i18n(&quot;loveletter_exchange_confirm&quot;),
				onYes = function ()
					uv0:emit(ItemInfoMediator.EXCHANGE_LOVE_LETTER_ITEM, uv1.id)
				end
			})
		end, SFX_PANEL)
		setActive(slot0.okBtn, true)
	elseif slot3 == Item.METALESSON_TYPE then
		setActive(slot0.metaskillBtn, true)
		onButton(slot0, slot0.metaskillBtn, function ()
			uv0:closeView()
			pg.m02:sendNotification(GAME.GO_SCENE, SCENE.METACHARACTER)
		end, SFX_PANEL)
		setActive(slot0.okBtn, true)
	elseif slot3 == Item.SKIN_ASSIGNED_TYPE then
		setActive(slot0.useOneBtn, slot0.contextData.confirmCall)
		onButton(slot0, slot0.useOneBtn, function ()
			uv0.contextData.confirmCall()
			uv0:closeView()
		end, SFX_PANEL)
		setActive(slot0.okBtn, true)
	elseif slot0.itemVO:IsExclusiveDiscountType() then
		setActive(slot0.recycleBtn, true)
		setActive(slot0.skinShopBtn, true)
	elseif slot0.itemVO:IsSkinExperienceType() then
		setActive(slot0.skinExperienceShopBtn, true)
	else
		setActive(slot0.okBtn, true)
	end
end

slot0.closeView = function(slot0)
	if slot0.playing then
		return
	end

	uv0.super.closeView(slot0)
end

slot0.didEnter = function(slot0)
	if slot0:findTF(&quot;OpenBox(Clone)&quot;) then
		SetActive(slot1, false)
	end

	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, slot0._tf:Find(&quot;window/top/btnBack&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, slot0.okBtn, function ()
		uv0:closeView()
	end, SFX_CONFIRM)
	onButton(slot0, slot0.useBtn, function ()
		uv0:emit(ItemInfoMediator.USE_ITEM, uv0.itemVO.id, 1)
	end, SFX_CONFIRM)
	onButton(slot0, slot0.batchUseBtn, function ()
		uv0:emit(ItemInfoMediator.USE_ITEM, uv0.itemVO.id, math.min(uv0.itemVO.count, 10))
	end, SFX_CONFIRM)
	onButton(slot0, slot0.composeBtn, function ()
		SetActive(uv0.operatePanel, true)
		SetActive(uv0.window, false)

		uv0.operateMode = uv1.COMPOSE

		uv0:SetOperateCount(1)
	end, SFX_CONFIRM)
	onButton(slot0, slot0.resolveBtn, function ()
		SetActive(uv0.operatePanel, true)
		SetActive(uv0.window, false)

		uv0.operateMode = uv1.RESOLVE

		uv0:SetOperateCount(1)
	end, SFX_PANEL)
	pressPersistTrigger(slot0.operateLeftButton, 0.5, function (slot0)
		if not uv0:UpdateCount(uv0.operateCount - 1) then
			slot0()

			return
		end

		uv0:SetOperateCount(uv0.operateCount - 1)
	end, nil, true, true, 0.1, SFX_PANEL)
	pressPersistTrigger(slot0.operateRightButton, 0.5, function (slot0)
		if not uv0:UpdateCount(uv0.operateCount + 1) then
			slot0()

			return
		end

		uv0:SetOperateCount(uv0.operateCount + 1)
	end, nil, true, true, 0.1, SFX_PANEL)
	onButton(slot0, slot0.operateMaxButton, function ()
		uv0:SetOperateCount(uv0.operateMax)
	end, SFX_PANEL)
	onInputEndEdit(slot0, slot0.operateValueInput, function (slot0)
		slot2 = math.max(1, math.min(uv0, math.min(tonumber(slot0) or 1, uv1.operateMax)))

		uv1:SetOperateCount(slot2)

		if slot0 ~= tostring(slot2) then
			setInputText(uv1.operateValueInput, slot2)
		end
	end)

	slot2 = slot0.itemVO:getConfig(&quot;type&quot;) == Item.EQUIPMENT_BOX_TYPE_5

	setActive(slot0.operateValueInput, slot2)
	setActive(slot0.operateValue, not slot2)
	onButton(slot0, slot0.operateBtns.Cancel, function ()
		SetActive(uv0.operatePanel, false)
		SetActive(uv0.window, true)

		uv0.operateCount = 0
		uv0.operateMode = nil
	end, SFX_CANCEL)
	onButton(slot0, slot0.operateBtns.Confirm, function ()
		if uv0.operateMode == uv1.COMPOSE then
			uv0:emit(ItemInfoMediator.COMPOSE_ITEM, uv0.itemVO.id, uv0.operateCount)

			slot0 = uv0.itemVO:getConfig(&quot;compose_number&quot;)

			if slot0 &gt; uv0.itemVO.count - uv0.operateCount * slot0 then
				triggerButton(uv0.operateBtns.Cancel)
			else
				uv0:SetOperateCount(1)
			end
		elseif uv0.operateMode == uv1.USE then
			uv0:emit(ItemInfoMediator.USE_ITEM, uv0.itemVO.id, uv0.operateCount)
		end
	end, SFX_CONFIRM)
	onButton(slot0, slot0.recycleBtn, function ()
		uv0.recycleConfirmationPage:ExecuteAction(&quot;Show&quot;, {
			content = i18n(&quot;skin_discount_item_recycle_tip&quot;, uv0.itemVO:getName(), (uv0.itemVO:GetPrice() or {
				0,
				0
			})[2]),
			itemId = uv0.itemVO.id
		})
	end, SFX_CONFIRM)
	onButton(slot0, slot0.skinShopBtn, function ()
		uv0:closeView()
		pg.m02:sendNotification(GAME.GO_SCENE, SCENE.SKINSHOP)
	end, SFX_CONFIRM)
	onButton(slot0, slot0.skinExperienceShopBtn, function ()
		uv0:closeView()
		pg.m02:sendNotification(GAME.GO_SCENE, SCENE.SKINSHOP, {
			mode = NewSkinShopScene.MODE_EXPERIENCE_FOR_ITEM
		})
	end, SFX_CONFIRM)
	onButton(slot0, slot0.operateBtns.Resolve, function ()
		uv0:emit(ItemInfoMediator.SELL_BLUEPRINT, Drop.New({
			type = DROP_TYPE_ITEM,
			id = uv0.itemVO.id,
			count = uv0.operateCount
		}))
	end, SFX_CONFIRM)

	slot0.keepFateState = not getProxy(PlayerProxy):getData():GetCommonFlag(SHOW_DONT_KEEP_FATE_ITEM)
	GetComponent(slot0.keepFateTog, typeof(Toggle)).isOn = slot0.keepFateState

	onToggle(slot0, slot0.keepFateTog, function (slot0)
		uv0.keepFateState = slot0

		if slot0 then
			pg.m02:sendNotification(GAME.CANCEL_COMMON_FLAG, {
				flagID = SHOW_DONT_KEEP_FATE_ITEM
			})
		else
			pg.m02:sendNotification(GAME.COMMON_FLAG, {
				flagID = SHOW_DONT_KEEP_FATE_ITEM
			})
		end

		uv1()
	end)
	(function ()
		uv0:UpdateBlueprintResolveNum()
		uv0:SetOperateCount(1)
	end)()
end

slot0.UpdateCount = function(slot0, slot1)
	if slot0.operateMode == uv0.COMPOSE then
		if not slot0.itemVO:getConfig(&quot;target_id&quot;) or slot2 &lt;= 0 then
			return false
		end

		return slot0.operateCount ~= math.clamp(slot1, 1, math.floor(slot0.itemVO.count / slot0.itemVO:getConfig(&quot;compose_number&quot;)))
	elseif slot0.operateMode == uv0.RESOLVE then
		return slot0.operateCount ~= math.clamp(slot1, 1, slot0.itemVO.count)
	elseif slot0.operateMode == uv0.USE then
		return slot0.operateCount ~= math.clamp(slot1, 1, slot0.itemVO.count)
	end
end

slot0.SetOperateCount = function(slot0, slot1)
	if slot0.operateMode == uv0.COMPOSE then
		if not slot0.itemVO:getConfig(&quot;target_id&quot;) or slot2 &lt;= 0 then
			return
		end

		if slot0.operateCount ~= math.clamp(slot1, 1, math.floor(slot0.itemVO.count / slot0.itemVO:getConfig(&quot;compose_number&quot;))) then
			slot0.operateCount = slot1

			slot0:UpdateComposeCount()
		end

		slot0:updateItemCount(slot0.itemVO.count - slot0.operateCount * slot3)
	elseif slot0.operateMode == uv0.RESOLVE then
		if slot0.operateCount ~= math.clamp(slot1, 0, slot0.operateMax) then
			slot0.operateCount = slot1

			slot0:UpdateResolvePanel()
			slot0:updateItemCount(slot0.itemVO.count - slot0.operateCount)
		end
	elseif slot0.operateMode == uv0.USE and slot0.operateCount ~= math.clamp(slot1, 0, math.min(slot0.operateMax, uv1)) then
		slot0.operateCount = slot1

		slot0:UpdateUsePanel()
		slot0:updateItemCount(slot0.itemVO.count - slot0.operateCount)
	end
end

slot0.UpdateComposeCount = function(slot0)
	slot1 = slot0.operateCount

	setText(slot0.operateValue, slot1)
	setInputText(slot0.operateValueInput, slot1)

	slot2 = {}
	slot6 = slot0.itemVO

	table.insert(slot2, {
		type = DROP_TYPE_ITEM,
		id = slot6:getConfig(&quot;target_id&quot;),
		count = slot1
	})

	slot6 = #slot2

	slot7 = function(slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			updateDrop(slot2:Find(&quot;IconTpl&quot;), uv0[slot1])
			onButton(uv1, slot2:Find(&quot;IconTpl&quot;), function ()
				uv0:emit(uv1.ON_DROP, uv2)
			end, SFX_PANEL)
		end
	end

	UIItemList.StaticAlign(slot0.operateBonusList, slot0.operateBonusTpl, slot6, slot7)

	for slot6, slot7 in pairs(slot0.operateBtns) do
		setActive(slot7, slot6 == &quot;Confirm&quot; or slot6 == &quot;Cancel&quot;)
	end

	setText(slot0.operateCountdesc, i18n(&quot;compose_amount_prefix&quot;))
	setActive(slot0.keepFateTog, false)
end

slot0.UpdateResolvePanel = function(slot0)
	slot1 = slot0.operateCount

	setText(slot0.operateValue, slot1)
	setInputText(slot0.operateValueInput, slot1)

	slot2 = slot0.itemVO
	slot2 = slot2:getConfig(&quot;price&quot;)
	slot3 = {}

	table.insert(slot3, {
		type = DROP_TYPE_RESOURCE,
		id = slot2[1],
		count = slot2[2] * slot1
	})

	slot7 = #slot3

	slot8 = function(slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			updateDrop(slot2:Find(&quot;IconTpl&quot;), uv0[slot1])
			onButton(uv1, slot2:Find(&quot;IconTpl&quot;), function ()
				uv0:emit(uv1.ON_DROP, uv2)
			end, SFX_PANEL)
		end
	end

	UIItemList.StaticAlign(slot0.operateBonusList, slot0.operateBonusTpl, slot7, slot8)

	for slot7, slot8 in pairs(slot0.operateBtns) do
		setActive(slot8, slot7 == &quot;Resolve&quot; or slot7 == &quot;Cancel&quot;)
	end

	setText(slot0.operateCountdesc, i18n(&quot;resolve_amount_prefix&quot;))

	if slot0.itemVO:getConfig(&quot;type&quot;) == Item.TEC_SPEEDUP_TYPE then
		setActive(slot0.keepFateTog, false)
	else
		setActive(slot0.keepFateTog, true)
	end

	setButtonEnabled(slot0.operateBtns.Resolve, slot1 &gt; 0)
end

slot0.UpdateBlueprintResolveNum = function(slot0)
	slot1 = slot0.itemVO.count

	if slot0.itemVO:getConfig(&quot;type&quot;) == Item.BLUEPRINT_TYPE then
		slot3 = getProxy(TechnologyProxy)
		slot5 = slot3:getBluePrintById(slot3:GetBlueprint4Item(slot0.itemVO.id))

		if slot0.keepFateState and slot0.itemVO.count - slot5:getFateMaxLeftOver() &lt; 0 then
			slot1 = 0
		end
	end

	slot0.operateMax = slot1
end

slot0.UpdateSpeedUpResolveNum = function(slot0)
	slot1 = slot0.itemVO.count

	if slot0.itemVO:getConfig(&quot;type&quot;) == Item.TEC_SPEEDUP_TYPE then
		slot0.operateMax = slot1
	end
end

slot0.UpdateUsePanel = function(slot0)
	slot1 = slot0.operateCount

	setText(slot0.operateValue, slot1)
	setInputText(slot0.operateValueInput, slot1)

	slot2 = {}

	table.insert(slot2, {
		type = DROP_TYPE_ITEM,
		id = uv0,
		count = slot1
	})

	slot6 = #slot2

	slot7 = function(slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			updateDrop(slot2:Find(&quot;IconTpl&quot;), uv0[slot1])
		end
	end

	UIItemList.StaticAlign(slot0.operateBonusList, slot0.operateBonusTpl, slot6, slot7)

	for slot6, slot7 in pairs(slot0.operateBtns) do
		setActive(slot7, slot6 == &quot;Confirm&quot; or slot6 == &quot;Cancel&quot;)
	end

	setText(slot0.operateCountdesc, i18n(&quot;use_amount_prefix&quot;))
	setActive(slot0.keepFateTog, false)
end

slot0.willExit = function(slot0)
	if slot0.leftEventTrigger then
		ClearEventTrigger(slot0.leftEventTrigger)
	end

	if slot0.rightEventTrigger then
		ClearEventTrigger(slot0.rightEventTrigger)
	end

	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)

	if slot0.recycleConfirmationPage then
		slot0.recycleConfirmationPage:Destroy()

		slot0.recycleConfirmationPage = nil
	end
end

slot0.PlayOpenBox = function(slot0, slot1, slot2)
	if not slot1 or slot1 == &quot;&quot; then
		slot2()

		return
	end

	slot3 = {}

	if slot0:findTF(slot1 .. &quot;(Clone)&quot;) then
		slot0[slot1] = go(slot4)
	end

	if not slot0[slot1] then
		table.insert(slot3, function (slot0)
			slot1 = PoolMgr.GetInstance()

			slot1:GetPrefab(&quot;ui/&quot; .. string.lower(uv0), &quot;&quot;, true, function (slot0)
				slot0:SetActive(true)

				uv0[uv1] = slot0

				uv2()
			end)
		end)
	end

	seriesAsync(slot3, function ()
		if uv0.playing or not uv0[uv1] then
			return
		end

		uv0.playing = true

		uv0[uv1]:SetActive(true)
		SetActive(uv0.window, false)

		slot0 = tf(uv0[uv1])

		slot0:SetParent(uv0._tf, false)
		slot0:SetAsLastSibling()

		slot1 = slot0:GetComponent(&quot;DftAniEvent&quot;)

		slot1:SetTriggerEvent(function (slot0)
			uv0()
		end)
		slot1:SetEndEvent(function (slot0)
			if uv0[uv1] then
				SetActive(uv0[uv1], false)

				uv0.playing = false
			end

			uv0:closeView()
		end)
		pg.CriMgr.GetInstance():PlaySoundEffect_V3(SFX_UI_EQUIPMENT_OPEN)
	end)
end

slot0.inOutAnim = function(slot0, slot1, slot2)
	if slot1 then
		slot4 = slot0:findTF(&quot;window/bg_decorations&quot;):GetComponent(typeof(Animation))

		slot4:Stop()
		slot4:Play(&quot;anim_window_bg&quot;)

		slot6 = slot0:findTF(&quot;window/top&quot;):GetComponent(typeof(Animation))

		slot6:Stop()
		slot6:Play(&quot;anim_top&quot;)

		slot8 = slot0:findTF(&quot;window&quot;):GetComponent(typeof(Animation))

		slot8:Stop()
		slot8:Play(&quot;anim_content&quot;)

		slot10 = slot0:findTF(&quot;bg&quot;):GetComponent(typeof(Animation))

		slot10:Stop()
		slot10:Play(&quot;anim_bg_plus&quot;)
	end

	slot2()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>