<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trophyview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>trophyview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TrophyView&quot;)
slot0.GRAY_COLOR = Color(0.764, 0.764, 0.764, 0.784)

slot0.Ctor = function(slot0, slot1)
	slot0._go = slot1
	slot0._tf = slot1.transform
	slot0._trophyNamePic = findTF(slot0._tf, &quot;frame/trophyName/Text&quot;)
	slot0._trophyNameBG = findTF(slot0._tf, &quot;frame/trophyName&quot;)
	slot0._trophyIcon = findTF(slot0._tf, &quot;frame/trophyIcon&quot;)
	slot0._trophyDescUpper = findTF(slot0._tf, &quot;frame/trophyDesc/Text_upper&quot;):GetComponent(typeof(Text))
	slot0._trophyDescLower = findTF(slot0._tf, &quot;frame/trophyDesc/Text_lower&quot;):GetComponent(typeof(Text))
	slot0._trophyCountBG = findTF(slot0._tf, &quot;frame/trophyCount&quot;)
	slot0._trophyCount = findTF(slot0._tf, &quot;frame/trophyCount/Text&quot;):GetComponent(typeof(Text))
	slot0._progressBar = findTF(slot0._tf, &quot;frame/trophy_progress/Fill&quot;):GetComponent(typeof(Slider))
end

slot0.UpdateTrophyGroup = function(slot0, slot1)
	slot0:updateInfoView(slot1:getDisplayTrophy())
	slot0:updateProgressView(slot1:getProgressTrophy())
end

slot0.ProgressingForm = function(slot0, slot1)
	slot2 = slot1:getProgressTrophy()

	slot0:updateInfoView(slot2)
	slot0:updateProgressView(slot2)
end

slot0.ClaimForm = function(slot0, slot1)
	if slot1:getMaxClaimedTrophy() then
		slot0:updateInfoView(slot2)
		slot0:updateProgressView(slot2)
	end
end

slot0.updateInfoView = function(slot0, slot1)
	slot0._trophy = slot1
	slot0._trophyCount.text = slot1:getConfig(&quot;rank&quot;)

	if not slot1:isClaimed() and not slot1:canClaimed() then
		setActive(slot0._trophyCount, false)
	end

	LoadImageSpriteAsync(&quot;medal/&quot; .. slot1:getConfig(&quot;icon&quot;), slot0._trophyIcon, true)
	LoadImageSpriteAsync(&quot;medal/&quot; .. slot1:getConfig(&quot;label&quot;), slot0._trophyNamePic, true)
	slot0:setGray(slot0._trophyIcon, not slot1:isClaimed())
	slot0:setGray(slot0._trophyNamePic, not slot1:isClaimed())
	slot0:setGray(slot0._trophyNameBG, not slot1:isClaimed())
	slot0:setGray(slot0._trophyCountBG, not slot1:isClaimed())

	slot0._trophyDescUpper.text = slot1:getConfig(&quot;explain1&quot;)
	slot0._trophyDescLower.text = slot1:getConfig(&quot;explain2&quot;)
end

slot0.setGray = function(slot0, slot1, slot2)
	setGray(slot1, slot2, true)

	if slot2 then
		slot1:GetComponent(typeof(Image)).color = uv0.GRAY_COLOR
	else
		slot1:GetComponent(typeof(Image)).color = Color.white
	end
end

slot0.updateProgressView = function(slot0, slot1)
	slot0._progressTrophy = slot1
	slot0._progressBar.value = slot1:getProgressRate()
end

slot0.GetTrophyClaimTipsID = function(slot0)
	return &quot;reminder_&quot; .. math.floor(slot0._trophy:getConfig(&quot;icon&quot;) / 10)
end

slot0.SetTrophyReminder = function(slot0, slot1)
	slot0._reminder = tf(slot1)

	slot0._reminder:SetParent(findTF(slot0._tf, &quot;frame&quot;), false)

	slot0._reminder.localPosition = slot0._trophyIcon.localPosition

	setActive(slot0._reminder, slot0._progressTrophy:canClaimed() and not slot0._progressTrophy:isClaimed())
end

slot0.PlayClaimAnima = function(slot0, slot1, slot2, slot3)
	slot0._isPlaying = true

	setActive(slot0._reminder, false)

	slot4 = slot0._tf
	slot4 = slot4:GetComponent(typeof(Animator))
	slot4.enabled = true
	slot5 = slot0._tf
	slot5 = slot5:GetComponent(typeof(DftAniEvent))

	slot5:SetEndEvent(function (slot0)
		uv0()
		setActive(uv1._reminder, uv1._progressTrophy:canClaimed() and not uv1._progressTrophy:isClaimed())
	end)
	slot4:Play(&quot;trophy_upper&quot;, -1, 0)
	setActive(slot2, true)

	slot6 = tf(slot2)

	slot6:SetParent(findTF(slot0._tf, &quot;frame&quot;), false)

	slot6.localScale = Vector3(1, 1, 0)

	LuaHelper.SetParticleEndEvent(slot2, function ()
		uv0._isPlaying = false

		Object.Destroy(uv1)
	end)
end

slot0.IsPlaying = function(slot0)
	return slot0._isPlaying
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>