<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educateextraattrmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educateextraattrmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateExtraAttrMediator&quot;, import(&quot;.base.EducateContextMediator&quot;))
slot0.ON_ATTR_ADD = &quot;EducateExtraAttrMediator:ON_ATTR_ADD&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_ATTR_ADD, function (slot0, slot1)
		uv0:sendNotification(GAME.EDUCATE_ADD_EXTRA_ATTR, {
			id = slot1.id
		})
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.EDUCATE_ADD_EXTRA_ATTR_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.EDUCATE_ADD_EXTRA_ATTR_DONE then
		slot0.viewComponent:closeview()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>