<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educatetargetlayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educatetargetlayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateTargetLayer&quot;, import(&quot;.base.EducateBaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;EducateTargetUI&quot;
end

slot0.init = function(slot0)
	slot0:initData()
	slot0:findUI()
	slot0:addListener()
end

slot0.initData = function(slot0)
	slot0.taskProxy = getProxy(EducateProxy):GetTaskProxy()
	slot0.targetId = slot0.taskProxy:GetTargetId()
	slot0.mainTaskVOs = slot0.taskProxy:FilterByGroup(slot0.taskProxy:GetMainTasksForShow())
	slot0.otherTaskVOs = slot0.taskProxy:FilterByGroup(slot0.taskProxy:GetTargetTasksForShow())
	slot0.canGetTargetAward = slot0.taskProxy:CanGetTargetAward()
end

slot0.findUI = function(slot0)
	slot0.anim = slot0:findTF(&quot;anim_root&quot;):GetComponent(typeof(Animation))
	slot0.animEvent = slot0:findTF(&quot;anim_root&quot;):GetComponent(typeof(DftAniEvent))

	slot0.animEvent:SetEndEvent(function ()
		uv0:emit(uv1.ON_CLOSE)
	end)

	slot0.windowTF = slot0:findTF(&quot;anim_root/window&quot;)
	slot0.leftTF = slot0:findTF(&quot;left/content&quot;, slot0.windowTF)
	slot0.leftEmptyTF = slot0:findTF(&quot;left/empty&quot;, slot0.windowTF)

	setText(slot0:findTF(&quot;target_info/Text&quot;, slot0.leftEmptyTF), i18n(&quot;child_target_set_empty&quot;))

	slot0.targetSetBtn = slot0:findTF(&quot;target_info/target_set_btn&quot;, slot0.leftEmptyTF)

	setText(slot0:findTF(&quot;skip_title&quot;, slot0.targetSetBtn), i18n(&quot;child_target_set_skip&quot;))

	slot0.targetInfoTF = slot0:findTF(&quot;target_info&quot;, slot0.leftTF)
	slot0.iconTF = slot0:findTF(&quot;icon&quot;, slot0.targetInfoTF)
	slot0.nameTF = slot0:findTF(&quot;name_bg/name&quot;, slot0.targetInfoTF)
	slot0.unfinishTF = slot0:findTF(&quot;unfinish&quot;, slot0.targetInfoTF)
	slot0.sliderTF = slot0:findTF(&quot;progress&quot;, slot0.unfinishTF)
	slot0.progressWhiteTF = slot0:findTF(&quot;white&quot;, slot0.sliderTF)

	setActive(slot0.progressWhiteTF, true)
	setText(slot0:findTF(&quot;progress/title&quot;, slot0.unfinishTF), i18n(&quot;child_target_progress&quot;))

	slot0.progressTextTF = slot0:findTF(&quot;progress/title/Text&quot;, slot0.unfinishTF)
	slot0.targetAwardTF = slot0:findTF(&quot;award&quot;, slot0.unfinishTF)
	slot0.finishTF = slot0:findTF(&quot;finish&quot;, slot0.targetInfoTF)

	setText(slot0:findTF(&quot;Text&quot;, slot0.finishTF), i18n(&quot;child_target_finish_tip&quot;))
	setText(slot0:findTF(&quot;time/title&quot;, slot0.leftTF), i18n(&quot;child_target_time_title&quot;))

	slot0.timeTF = slot0:findTF(&quot;time/Text&quot;, slot0.leftTF)
	slot0.taskContentTF = slot0:findTF(&quot;task_scrollview/content&quot;, slot0.windowTF)
	slot0.mainTaskTF = slot0:findTF(&quot;main_list&quot;, slot0.taskContentTF)

	setText(slot0:findTF(&quot;list/tpl/status/get/btn/Text&quot;, slot0.mainTaskTF), i18n(&quot;word_take&quot;))

	slot0.mainTaskUIList = UIItemList.New(slot0:findTF(&quot;list&quot;, slot0.mainTaskTF), slot0:findTF(&quot;list/tpl&quot;, slot0.mainTaskTF))
	slot0.mainTitleTF = slot0:findTF(&quot;title/Text&quot;, slot0.mainTaskTF)

	setText(slot0.mainTitleTF, i18n(&quot;child_target_title1&quot;))

	slot0.mainProgressTF = slot0:findTF(&quot;title/progress&quot;, slot0.mainTaskTF)

	setActive(slot0.mainProgressTF, false)

	slot0.otherTaskTF = slot0:findTF(&quot;other_list&quot;, slot0.taskContentTF)

	setText(slot0:findTF(&quot;list/tpl/status/get/btn/Text&quot;, slot0.otherTaskTF), i18n(&quot;word_take&quot;))

	slot0.otherTaskUIList = UIItemList.New(slot0:findTF(&quot;list&quot;, slot0.otherTaskTF), slot0:findTF(&quot;list/tpl&quot;, slot0.otherTaskTF))
	slot0.otherTitleTF = slot0:findTF(&quot;title/Text&quot;, slot0.otherTaskTF)

	setText(slot0.otherTitleTF, i18n(&quot;child_target_title2&quot;))
end

slot0.addListener = function(slot0)
	onButton(slot0, slot0:findTF(&quot;anim_root/close&quot;), function ()
		uv0:_close()
	end, SFX_PANEL)
	onButton(slot0, slot0.targetSetBtn, function ()
		uv0.onExit = function()
			getProxy(EducateProxy):MainAddLayer(Context.New({
				viewComponent = EducateTargetSetLayer,
				mediator = EducateTargetSetMediator
			}))
		end

		uv0:_close()
	end, SFX_PANEL)
end

slot0.didEnter = function(slot0)
	slot1 = pg.UIMgr.GetInstance()

	slot1:OverlayPanel(slot0._tf, {
		groupName = slot0:getGroupNameFromData(),
		weight = slot0:getWeightFromData() + 1
	})
	slot0:initLeft()

	slot1 = slot0.mainTaskUIList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:updateItem(slot1, slot2, &quot;main&quot;)
		end
	end)

	slot1 = slot0.otherTaskUIList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:updateItem(slot1, slot2, &quot;other&quot;)
		end
	end)
	slot0:updateItems()
	EducateGuideSequence.CheckGuide(slot0.__cname, function ()
	end)
end

slot0.sumbitTask = function(slot0, slot1)
	slot0:emit(EducateTargetMediator.ON_TASK_SUBMIT, slot1)
end

slot0.initLeft = function(slot0)
	setActive(slot0.leftTF, slot0.targetId ~= 0)
	setActive(slot0.leftEmptyTF, slot0.targetId == 0)

	if slot0.targetId ~= 0 then
		slot1 = pg.child_target_set[slot0.targetId]

		LoadImageSpriteAsync(&quot;educatetarget/&quot; .. slot1.icon, slot0.iconTF, true)
		setText(slot0.nameTF, slot1.name)

		slot2 = slot1.drop_display

		EducateHelper.UpdateDropShow(slot0.targetAwardTF, {
			type = slot2[1],
			id = slot2[2],
			number = slot2[3]
		})
		onButton(slot0, slot0.targetAwardTF, function ()
			if uv0.canGetFinishAward then
				uv0:emit(EducateTargetMediator.ON_GET_TARGET_AWARD)
			else
				uv0:emit(uv1.EDUCATE_ON_ITEM, {
					drop = uv2
				})
			end
		end, SFX_PANEL)
		setText(slot0.timeTF, getProxy(EducateProxy):GetCharData():GetStageReaminWeek(slot1.stage) &lt;= 1 and i18n(&quot;word_in_one_week&quot;) or slot4 .. i18n(&quot;word_week&quot;))
	end

	slot0:updataTarget()
end

slot0.updataTarget = function(slot0)
	slot1, slot2 = getProxy(EducateProxy):GetTaskProxy():GetOtherTargetTaskProgress()

	if slot1 / slot2 &gt; 1 then
		slot3 = 1
	end

	if slot2 == 0 then
		slot3 = 1
	end

	setText(slot0.progressTextTF, slot1 .. &quot;/&quot; .. slot2)

	if not slot0.lastProgress or slot3 &lt;= slot0.lastProgress then
		setSlider(slot0.sliderTF, 0, 1, slot3)

		slot0.lastProgress = slot3
	else
		slot0:playProgressAnim(slot3)

		slot0.lastProgress = slot3
	end

	slot4 = slot3 &gt;= 1
	slot0.canGetFinishAward = slot4 and slot0.canGetTargetAward

	setActive(slot0.unfinishTF, not slot4 or slot0.canGetFinishAward)
	setActive(slot0:findTF(&quot;receiveVX&quot;, slot0.targetAwardTF), slot0.canGetFinishAward)
	setActive(slot0:findTF(&quot;tip&quot;, slot0.unfinishTF), slot0.canGetFinishAward)
	setActive(slot0.finishTF, slot4 and not slot0.canGetTargetAward)
end

slot0.playProgressAnim = function(slot0, slot1)
	slot0:cleanManagedTween()

	slot2 = slot0.sliderTF
	slot2 = slot2:GetComponent(typeof(Slider)).value
	slot3 = slot0.sliderTF.rect
	slot0.progressWhiteTF.sizeDelta = Vector2(slot3.width * slot1, slot3.height)
	slot4 = slot0.sliderTF
	slot4 = slot4:GetComponent(typeof(Animation))

	slot4:Play(&quot;anim_educate_target_progress_add&quot;)
	slot0:managedTween(LeanTween.delayedCall, function ()
		uv0:managedTween(LeanTween.value, nil, go(uv0.sliderTF), uv1, uv2, 0.264):setOnUpdate(System.Action_float(function (slot0)
			setSlider(uv0.sliderTF, 0, 1, slot0)
		end)):setEase(LeanTweenType.easeInCubic)
	end, 0.132, nil)
end

slot0.updateItems = function(slot0)
	setActive(slot0.mainTaskTF, #slot0.mainTaskVOs &gt; 0)
	slot0.mainTaskUIList:align(#slot0.mainTaskVOs)
	setActive(slot0.otherTaskTF, #slot0.otherTaskVOs &gt; 0)
	slot0.otherTaskUIList:align(#slot0.otherTaskVOs)
end

slot0.updateItem = function(slot0, slot1, slot2, slot3)
	slot4 = slot3 == &quot;main&quot; and slot0.mainTaskVOs[slot1 + 1] or slot0.otherTaskVOs[slot1 + 1]

	setText(slot0:findTF(&quot;desc&quot;, slot2), slot4:getConfig(&quot;name&quot;))
	setText(slot0:findTF(&quot;status/go/btn/Text&quot;, slot2), slot4:GetProgress() .. &quot;/&quot; .. slot4:GetFinishNum())
	setActive(slot0:findTF(&quot;status/go&quot;, slot2), slot4:GetTaskStatus() == EducateTask.STATUS_UNFINISH)
	setActive(slot0:findTF(&quot;status/get&quot;, slot2), slot5 == EducateTask.STATUS_FINISH)
	setActive(slot0:findTF(&quot;status/got&quot;, slot2), slot5 == EducateTask.STATUS_RECEIVE)
	EducateHelper.UpdateDropShow(slot0:findTF(&quot;award&quot;, slot2), slot4:GetAwardShow())
	onButton(slot0, slot0:findTF(&quot;award&quot;, slot2), function ()
		uv0:emit(uv1.EDUCATE_ON_ITEM, {
			drop = uv2
		})
	end)
	onButton(slot0, slot0:findTF(&quot;status/get&quot;, slot2), function ()
		if uv0.isClick then
			return
		end

		uv0.isClick = true

		uv2:GetComponent(typeof(Animation)):Play(uv1:IsMain() and &quot;anim_educate_target_tpl_maingot&quot; or &quot;anim_educate_target_tpl_othergot&quot;)
		onDelayTick(function ()
			uv0.isClick = nil

			uv0:sumbitTask(uv1)
			uv1:SetRecieve()
		end, 0.5)
	end, SFX_PANEL)
end

slot0.updateView = function(slot0)
	slot0:initData()
	slot0:updateItems()
	slot0:updataTarget()
end

slot0._close = function(slot0)
	if slot0.isClick then
		return
	end

	slot0.anim:Play(&quot;anim_educate_target_out&quot;)
end

slot0.onBackPressed = function(slot0)
	slot0:_close()
end

slot0.willExit = function(slot0)
	slot0.animEvent:SetEndEvent(nil)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)

	if slot0.onExit then
		slot0.onExit()
	elseif getProxy(EducateProxy):GetCurTime().month == 2 then
		getProxy(EducateProxy):CheckGuide(&quot;EducateScene&quot;)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>