<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educatetargetmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educatetargetmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateTargetMediator&quot;, import(&quot;.base.EducateContextMediator&quot;))
slot0.ON_TASK_SUBMIT = &quot;EducateTargetMediator:ON_TASK_SUBMIT&quot;
slot0.ON_GET_TARGET_AWARD = &quot;EducateTargetMediator:ON_GET_TARGET_AWARD&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_TASK_SUBMIT, function (slot0, slot1)
		uv0:sendNotification(GAME.EDUCATE_SUBMIT_TASK, {
			id = slot1.id,
			system = slot1:GetSystemType()
		})
	end)
	slot0:bind(uv0.ON_GET_TARGET_AWARD, function (slot0, slot1)
		uv0:sendNotification(GAME.EDUCATE_GET_TARGET_AWARD)
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.EDUCATE_SUBMIT_TASK_DONE,
		GAME.EDUCATE_GET_TARGET_AWARD_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.EDUCATE_SUBMIT_TASK_DONE or slot2 == GAME.EDUCATE_GET_TARGET_AWARD_DONE then
		slot0.viewComponent:emit(EducateBaseUI.EDUCATE_ON_AWARD, {
			items = slot3.awards
		})
		slot0.viewComponent:updateView()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>