<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educateschedulemediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educateschedulemediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateScheduleMediator&quot;, import(&quot;.base.EducateContextMediator&quot;))
slot0.GET_PLANS = &quot;GET_PLANS&quot;
slot0.OPEN_FILTER_LAYER = &quot;OPEN_FILTER_LAYER&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.GET_PLANS, function (slot0, slot1)
		uv0:sendNotification(GAME.EDUCATE_GET_PLANS, {
			plans = EducatePlanProxy.GridData2ProtData(slot1.gridData),
			isSkip = slot1.isSkip,
			callback = function ()
			end
		})
	end)
	slot0:bind(uv0.OPEN_FILTER_LAYER, function (slot0, slot1)
		uv0:addSubLayers(Context.New({
			viewComponent = EducateScheduleFilterLayer,
			mediator = EducateScheduleFilterMediator,
			data = slot1
		}))
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.EDUCATE_REFRESH_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.EDUCATE_REFRESH_DONE then
		slot0.viewComponent:emit(EducateBaseUI.EDUCATE_CHANGE_SCENE, SCENE.EDUCATE)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>