<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taskptawardwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>taskptawardwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TaskPtAwardWindow&quot;, import(&quot;..activity.Panels.PtAwardWindow&quot;))

slot0.UpdateList = function(slot0, slot1, slot2, slot3)
	assert(#slot1 == #slot2)
	slot0.UIlist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			uv1:UpdateDrop(slot2:Find(&quot;award&quot;), slot3[1])
			uv1:UpdateDrop(slot2:Find(&quot;award1&quot;), slot3[2])
			setText(slot2:Find(&quot;title/Text&quot;), &quot;PHASE &quot; .. slot1 + 1)
			setText(slot2:Find(&quot;target/Text&quot;), uv2[slot1 + 1])
			setText(slot2:Find(&quot;target/title&quot;), uv1.resTitle)
			setActive(slot2:Find(&quot;award/mask&quot;), slot1 + 1 &lt;= uv3)
			setActive(slot2:Find(&quot;award1/mask&quot;), slot1 + 1 &lt;= uv3)

			if slot2:Find(&quot;target/icon&quot;) then
				if uv1.resIcon == &quot;&quot; then
					uv1.resIcon = nil
				end

				if uv1.resIcon then
					LoadImageSpriteAsync(uv1.resIcon, slot2:Find(&quot;target/icon&quot;), false)
				end

				setActive(slot2:Find(&quot;target/icon&quot;), uv1.resIcon)
				setActive(slot2:Find(&quot;target/mark&quot;), uv1.resIcon)
			end
		end
	end)
	slot0.UIlist:align(#slot1)
end

slot0.UpdateDrop = function(slot0, slot1, slot2)
	if slot2 then
		setActive(slot1, true)
		updateDrop(slot1, {
			type = slot2[1],
			id = slot2[2],
			count = slot2[3]
		}, {
			hideName = true
		})
		onButton(slot0.binder, slot1, function ()
			uv0.binder:emit(BaseUI.ON_DROP, uv1)
		end, SFX_PANEL)

		return
	end

	setActive(slot1, false)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>