<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educatecharwordhelper.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educatecharwordhelper.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateCharWordHelper&quot;)
slot0.WORD_KEY_CHRISTMAS = &quot;shengdan&quot;
slot0.WORD_KEY_NEWYEAR = &quot;xinnian&quot;
slot0.WORD_KEY_LUNARNEWYEAR = &quot;chuxi&quot;
slot0.WORD_KEY_VALENTINE = &quot;qingrenjie&quot;
slot0.WORD_KEY_MIDAUTUMNFESTIVAL = &quot;zhongqiu&quot;
slot0.WORD_KEY_ALLHALLOWSDAY = &quot;wansheng&quot;
slot0.WORD_KEY_TELL_TIME = &quot;chime_&quot;
slot0.WORD_KEY_ACT = &quot;huodong&quot;
slot0.WORD_KEY_CHANGE_TB = &quot;genghuan&quot;
slot0.WORD_KEY_LOGIN = &quot;login&quot;
slot1 = pg.secretary_special_ship
slot2 = pg.character_voice_special
slot3 = pg.secretary_special_ship_expression

slot4 = function(slot0, slot1)
	if not uv0[slot0] then
		return nil, , 
	end

	return &quot;event:/educate-cv/&quot; .. slot1 .. &quot;/&quot; .. slot2.resource_key, slot2.resource_key
end

slot0.GetWordAndCV = function(slot0, slot1, slot2)
	slot3, slot4, slot5, slot6 = nil
	slot7 = uv0[slot0]
	slot8 = slot1

	if string.find(slot1, ShipWordHelper.WORD_TYPE_MAIN) then
		slot1 = ShipWordHelper.WORD_TYPE_MAIN
		slot10 = tonumber(string.split(slot1, &quot;_&quot;)[2] or &quot;1&quot;)
		slot5 = string.split(slot7[slot1] or &quot;&quot; or &quot;&quot;, &quot;|&quot;)[slot10] or &quot;&quot;
		slot8 = slot1 .. &quot;&quot; .. slot10
	else
		slot5 = slot7[slot1] or &quot;&quot;
	end

	if slot7.voice and slot7.voice ~= &quot;&quot; then
		slot4, slot6 = uv1(slot8, slot7.voice)
	end

	if slot5 and slot2 then
		slot5 = SwitchSpecialChar(slot5, true)
	end

	return slot3, slot4, slot5 and HXSet.hxLan(slot5), slot6
end

slot0.ExistWord = function(slot0, slot1)
	slot2 = uv0[slot0]

	if string.find(slot1, ShipWordHelper.WORD_TYPE_MAIN) then
		return tonumber(string.split(slot1, &quot;_&quot;)[2]) &lt;= #string.split(slot2.main, &quot;|&quot;)
	else
		slot3 = slot2[slot1] ~= nil and slot2[slot1] ~= &quot;&quot;

		return slot3
	end
end

slot0.RawGetCVKey = function(slot0)
	return uv0[slot0].voice
end

slot0.GetExpression = function(slot0, slot1)
	slot2 = uv0[slot0]
	slot3 = &quot;&quot;

	if string.find(slot1, ShipWordHelper.WORD_TYPE_MAIN) then
		if (string.split(slot2[ShipWordHelper.WORD_TYPE_MAIN] or &quot;&quot;, &quot;|&quot;)[tonumber(string.split(slot1, &quot;_&quot;)[2] or &quot;1&quot;)] or &quot;&quot;) == &quot;0&quot; or slot3 == &quot;nil&quot; then
			slot3 = &quot;&quot;
		end
	else
		slot3 = slot2[slot1] or &quot;&quot;
	end

	return slot3
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>