<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandtechawardpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandtechawardpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandTechAwardPage&quot;, import(&quot;...base.IslandBasePage&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandTechAwardUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.nameTF = slot0._tf:Find(&quot;window/name_bg/Text&quot;)
	slot0.iconTF = slot0._tf:Find(&quot;window/icon_bg/Image&quot;)
	slot0.tipTF = slot0._tf:Find(&quot;window/tip&quot;)
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
end

slot0.OnShow = function(slot0, slot1)
	slot2 = pg.island_technology_template[slot1]

	LoadImageSpriteAsync(&quot;island/IslandTechnology/&quot; .. slot2.tech_icon, slot0.iconTF, true)
	setText(slot0.nameTF, slot2.tech_name)
	setText(slot0.tipTF, slot2.complete_tips)
	slot0:BlurPanel()
end

slot0.OnHide = function(slot0)
	slot0:UnBlurPanel()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>