<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandtechdetailpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandtechdetailpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandTechDetailPanel&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandTechDetailPanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.selectedTF = slot0._tf:Find(&quot;selected&quot;)
	slot0.panel = slot0._tf:Find(&quot;panel&quot;)
	slot0.iconTF = slot0.panel:Find(&quot;icon_bg/icon&quot;)
	slot0.nameTF = slot0.panel:Find(&quot;title/Text&quot;)
	slot0.descPanel = slot0.panel:Find(&quot;desc&quot;)
	slot0.descTF = slot0.descPanel:Find(&quot;Text&quot;)
	slot0.unlockTF = slot0.panel:Find(&quot;unlock&quot;)

	setText(slot0.unlockTF:Find(&quot;title&quot;), i18n(&quot;island_tech_unlock_need&quot;))

	slot2 = slot0.unlockTF
	slot0.unlockUIList = UIItemList.New(slot2:Find(&quot;list&quot;), slot0.unlockTF:Find(&quot;list/tpl&quot;))
	slot0.normalTimeTextTF = slot0.panel:Find(&quot;status/normal/content/time/Text&quot;)
	slot0.timeTextTF = slot0.panel:Find(&quot;status/studying/time/Text&quot;)
	slot1 = slot0.panel:Find(&quot;status&quot;)

	setText(slot1:Find(&quot;lock/content/Text&quot;), i18n(&quot;island_tech_unlock_dev&quot;))
	setText(slot1:Find(&quot;unlock/Text&quot;), i18n(&quot;island_tech_unlock_dev&quot;))
	setText(slot1:Find(&quot;normal/content/Text&quot;), i18n(&quot;island_tech_dev_start&quot;))
	setText(slot1:Find(&quot;normal/cost/title&quot;), i18n(&quot;island_tech_dev_cost&quot;))
	setText(slot1:Find(&quot;studying/Text&quot;), i18n(&quot;island_tech_dev_starting&quot;))
	setText(slot1:Find(&quot;receive/Text&quot;), i18n(&quot;island_tech_dev_success&quot;))
	setText(slot1:Find(&quot;finished/Text&quot;), i18n(&quot;island_tech_dev_finish&quot;))

	slot0.statusTFs = {
		[IslandTechnology.STATUS.LOCK] = slot1:Find(&quot;lock&quot;),
		[IslandTechnology.STATUS.UNLOCK] = slot1:Find(&quot;unlock&quot;),
		[IslandTechnology.STATUS.NORMAL] = slot1:Find(&quot;normal&quot;),
		[IslandTechnology.STATUS.STUDYING] = slot1:Find(&quot;studying&quot;),
		[IslandTechnology.STATUS.RECEIVE] = slot1:Find(&quot;receive&quot;),
		[IslandTechnology.STATUS.FINISHED] = slot1:Find(&quot;finished&quot;)
	}
	slot0.costTF = slot0.panel:Find(&quot;status/normal/cost&quot;)
	slot0.costUIList = UIItemList.New(slot0.costTF:Find(&quot;list&quot;), slot0.costTF:Find(&quot;list/tpl&quot;))
end

slot0.OnInit = function(slot0)
	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;close&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot1 = slot0.unlockUIList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0.unlockCondList[slot1 + 1]

			setText(slot2:Find(&quot;Text&quot;), IslandTechnology.GetUnlockText(slot3))

			slot5 = uv0.showTechVO:MatchCondition(slot3) and &quot;1E90FF&quot; or &quot;F5F5F5&quot;

			setTextColor(slot2:Find(&quot;Text&quot;), Color.NewHex(slot5))
			setImageColor(slot2:Find(&quot;dot&quot;), Color.NewHex(slot5))
		end
	end)

	slot1 = slot0.costUIList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0.costList[slot1 + 1]

			updateCustomDrop(slot2, slot3)
			setText(slot2:Find(&quot;icon_bg/count_bg/count&quot;), uv0.inventoryAgency:GetOwnCount(slot3.id) .. &quot;/&quot; .. slot3.count)
		end
	end)

	slot0.placeId = IslandTechnologyAgency.PLACE_ID
	slot0.baseEffectSpeed = pg.island_set.base_efficiency.key_value_int
end

slot0.Flush = function(slot0)
	slot0:StopTimer()

	slot1 = getProxy(IslandProxy):GetIsland()
	slot0.buildingAgency = slot1:GetBuildingAgency()
	slot0.techAgency = slot1:GetTechnologyAgency()
	slot0.inventoryAgency = slot1:GetInventoryAgency()
	slot0.showTechVO = slot0.techAgency:GetTechnology(slot0.configId)

	LoadImageSpriteAsync(&quot;island/IslandTechnology/&quot; .. slot0.showTechVO:getConfig(&quot;tech_icon&quot;), slot0.iconTF, true)
	setText(slot0.nameTF, slot0.showTechVO:getConfig(&quot;tech_name&quot;))
	setText(slot0.descTF, slot0.showTechVO:getConfig(&quot;tech_desc&quot;))
	setText(slot0.normalTimeTextTF, slot0.timeMgr:DescCDTime(math.floor(pg.island_formula[slot0.showTechVO:GetFormulaId()].workload / slot0.baseEffectSpeed)))

	slot0.unlockCondList = Clone(slot0.showTechVO:getConfig(&quot;sys_unlock&quot;))

	if slot0.showTechVO:getConfig(&quot;island_level&quot;) ~= 0 then
		table.insert(slot0.unlockCondList, 1, {
			0,
			slot4
		})
	end

	slot0.unlockUIList:align(#slot0.unlockCondList)

	slot5 = slot0.showTechVO:GetStatus()

	for slot9, slot10 in pairs(slot0.statusTFs) do
		setActive(slot10, slot9 == slot5)
	end

	slot6 = slot5 == IslandTechnology.STATUS.LOCK or slot5 == IslandTechnology.STATUS.UNLOCK

	setActive(slot0.unlockTF, slot6)
	setActive(slot0.descPanel, not slot6)

	slot0.costList = slot0.showTechVO:GetCostItems()

	slot0.costUIList:align(#slot0.costList)
	switch(slot5, {
		[IslandTechnology.STATUS.LOCK] = function ()
			onButton(uv0, uv0.statusTFs[uv1], function ()
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;island_tech_unlock_tip&quot;))
			end, SFX_PANEL)
		end,
		[IslandTechnology.STATUS.UNLOCK] = function ()
			onButton(uv0, uv0.statusTFs[uv1], function ()
				uv0:emit(IslandMediator.ON_UNLOCK_TECH, uv0.showTechVO.id)
			end, SFX_PANEL)
		end,
		[IslandTechnology.STATUS.NORMAL] = function ()
			onButton(uv0, uv0.statusTFs[uv1], function ()
				if not uv0:CheckCost() then
					return
				end

				if not uv0.techAgency:GetEmptySlotId() then
					pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;island_tech_no_slot&quot;))

					return
				end

				if uv0.showTechVO:IsAutoType() then
					existCall(uv0.contextData.onFinishImmd, uv0.showTechVO.id)
				else
					existCall(uv0.contextData.onSelecteShip)
				end
			end, SFX_PANEL)
		end,
		[IslandTechnology.STATUS.STUDYING] = function ()
			onButton(uv0, uv0.statusTFs[uv1]:Find(&quot;quick&quot;), function ()
				pg.TipsMgr.GetInstance():ShowTips(&quot;TODO&quot;)
			end, SFX_PANEL)
		end,
		[IslandTechnology.STATUS.RECEIVE] = function ()
			onButton(uv0, uv0.statusTFs[uv1], function ()
				uv0:emit(IslandMediator.GET_DELEGATION_AWARD, uv0.placeId, uv0.showTechVO:GetSlotId(), 2, function ()
					existCall(uv0.contextData.onGetAwardDone, uv0.showTechVO.id)
				end)
			end, SFX_PANEL)
		end
	}, function ()
	end)
	slot0:StartTimer()
	slot0:UpdateTime()
	setActive(slot0.selectedTF, slot0.selectedItemPos)

	if slot0.selectedItemPos then
		slot0:FlushSelectedItem()
	end
end

slot0.CheckCost = function(slot0)
	return underscore.all(slot0.costList or {}, function (slot0)
		return slot0.count &lt;= uv0.inventoryAgency:GetOwnCount(slot0.id)
	end)
end

slot0.FlushSelectedItem = function(slot0)
	setAnchoredPosition(slot0.selectedTF, slot0.selectedItemPos)
	setActive(slot0.selectedTF:Find(&quot;selected&quot;), true)

	slot0.selectedTF.name = slot0.configId
	slot1 = slot0.techAgency:GetTechnology(slot0.configId)

	setText(slot0.selectedTF:Find(&quot;name&quot;), slot1:getConfig(&quot;tech_name&quot;))

	slot3 = slot1:GetStatus() == IslandTechnology.STATUS.FINISHED

	setTextColor(slot0.selectedTF:Find(&quot;name&quot;), Color.NewHex(slot3 and &quot;1b3650&quot; or &quot;ffffff&quot;))
	LoadImageSpriteAsync(&quot;island/IslandTechnology/&quot; .. slot1:getConfig(&quot;tech_icon&quot;), slot0.selectedTF:Find(&quot;icon&quot;), true)
	setActive(slot0.selectedTF:Find(&quot;icon&quot;), slot2 ~= IslandTechnology.STATUS.STUDYING and slot2 ~= IslandTechnology.STATUS.RECEIVE)
	setImageColor(slot0.selectedTF:Find(&quot;icon&quot;), Color.NewHex(slot3 and &quot;455a81&quot; or &quot;ffffff&quot;))
	eachChild(slot0.selectedTF:Find(&quot;back&quot;), function (slot0)
		setActive(slot0, slot0.name == uv0)
	end)
	setActive(slot0.selectedTF:Find(&quot;back/normal&quot;), not slot3 and slot2 ~= IslandTechnology.STATUS.STUDYING)
	eachChild(slot0.selectedTF:Find(&quot;front&quot;), function (slot0)
		setActive(slot0, slot0.name == uv0)
	end)
end

slot0.Show = function(slot0, slot1, slot2)
	uv0.super.Show(slot0)

	slot0.configId = slot1
	slot0.timeMgr = pg.TimeMgr.GetInstance()
	slot0.selectedItemPos = slot2

	slot0:Flush()
	pg.UIMgr.GetInstance():OverlayPanel(slot0._tf, {
		groupName = LayerWeightConst.GROUP_ISLAND
	})
end

slot0.OnShipSelected = function(slot0, slot1)
	slot0:emit(IslandMediator.START_DELEGATION, slot0.placeId, slot0.techAgency:GetEmptySlotId(), slot1, slot0.showTechVO:GetFormulaId(), 1)
end

slot0.UpdateTime = function(slot0)
	slot1 = slot0.showTechVO:GetStatus()

	if slot0.buildingAgency:GetDelegationSlotDataByTechId(slot0.showTechVO.id) then
		if slot2:GetSlotRewardData() then
			setText(slot0.timeTextTF, &quot;00:00:00&quot;)
		else
			setText(slot0.timeTextTF, slot0.timeMgr:DescCDTime(slot2:GetSlotRoleData():GetFinishTime() - slot0.timeMgr:GetServerTime()))
		end
	else
		setText(slot0.timeTextTF, &quot;??:??:??&quot;)
	end
end

slot0.StartTimer = function(slot0)
	slot0.timer = Timer.New(function ()
		uv0:UpdateTime()
	end, 1, -1)

	slot0.timer:Start()
end

slot0.StopTimer = function(slot0)
	if slot0.timer ~= nil then
		slot0.timer:Stop()

		slot0.timer = nil
	end
end

slot0.OnHide = function(slot0)
	slot0:StopTimer()
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf, slot0._parentTf)
end

slot0.OnDestroy = function(slot0)
	slot0:StopTimer()
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf, slot0._parentTf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>