<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandachvdetailpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandachvdetailpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandAchvDetailPage&quot;, import(&quot;...base.IslandBasePage&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandAchvDetailUI&quot;
end

slot0.OnLoaded = function(slot0)
	setText(slot0._tf:Find(&quot;top/title/Text&quot;), i18n(&quot;island_achievement_title&quot;))
	setText(slot0._tf:Find(&quot;top/total/Text&quot;), i18n(&quot;island_achv_total&quot;))

	slot0.totalTF = slot0._tf:Find(&quot;top/total/value&quot;)
	slot1 = slot0._tf:Find(&quot;toggles/content&quot;)
	slot0.typeUIList = UIItemList.New(slot1, slot1:Find(&quot;tpl&quot;))
	slot2 = slot0._tf:Find(&quot;view/content&quot;)
	slot0.itemUIList = UIItemList.New(slot2, slot2:Find(&quot;tpl&quot;))
end

slot0.OnInit = function(slot0)
	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;top/back&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot1 = slot0.typeUIList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventInit then
			uv0:InitToggle(slot1, slot2)
		elseif slot0 == UIItemList.EventUpdate then
			uv0:UpdateToggle(slot1, slot2)
		end
	end)

	slot0.typeIds = pg.island_achievement_group.all
	slot1 = slot0.itemUIList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateItem(slot1, slot2)
		end
	end)
end

slot0.InitToggle = function(slot0, slot1, slot2)
	slot3 = slot0.typeIds[slot1 + 1]
	slot2.name = slot3
	slot4 = pg.island_achievement_group[slot3]

	LoadImageSpriteAtlasAsync(&quot;island/islandachievement&quot;, slot4.icon, slot2:Find(&quot;icon&quot;), true)
	setText(slot2:Find(&quot;name&quot;), slot4.name)
	onToggle(slot0, slot2, function (slot0)
		if slot0 then
			uv0.showType = uv1

			uv0:FlushDetail()
		end
	end, SFX_PANEL)
end

slot0.UpdateToggle = function(slot0, slot1, slot2)
	slot5 = {}

	for slot9, slot10 in ipairs(pg.island_achievement_group[slot0.typeIds[slot1 + 1]].achievement_list) do
		for slot15, slot16 in ipairs(slot0.achvAgency:GetGroup(slot10):GetSortAchvList()) do
			table.insert(slot5, slot16)
		end
	end

	setActive(slot2:Find(&quot;name/tip&quot;), underscore.any(slot5, function (slot0)
		return slot0:GetStatus() == IslandAchievement.STATUS.GET
	end))

	slot7 = underscore.all(slot5, function (slot0)
		return slot0:GetStatus() == IslandAchievement.STATUS.GOT
	end)

	setActive(slot2:Find(&quot;bg&quot;), not slot7)
	setActive(slot2:Find(&quot;bg_all&quot;), slot7)
end

slot0.AddListeners = function(slot0)
	slot0:AddListener(GAME.ISLAND_GET_ACHV_AWARD_DONE, slot0.Flush)
end

slot0.RemoveListeners = function(slot0)
	slot0:RemoveListener(GAME.ISLAND_GET_ACHV_AWARD_DONE, slot0.Flush)
end

slot0.OnShow = function(slot0, slot1)
	slot0.showType = slot1

	slot0:Flush()
end

slot0.Flush = function(slot0)
	slot0.achvAgency = getProxy(IslandProxy):GetIsland():GetAchievementAgency()

	setText(slot0.totalTF, #slot0.achvAgency:GetGotList() .. &quot;/&quot; .. slot0.achvAgency:GetTotalCnt())
	slot0.typeUIList:align(#slot0.typeIds)
	triggerToggle(slot0.typeUIList.container:Find(tostring(slot0.showType)), true)
end

slot0.FlushDetail = function(slot0)
	slot0.showGroupIds = pg.island_achievement_group[slot0.showType].achievement_list
	slot0.showAchvList = underscore.map(slot0.showGroupIds, function (slot0)
		return underscore.detect(underscore.select(uv0.achvAgency:GetGroup(slot0):GetSortAchvList(), function (slot0)
			return not slot0:IsHideType() or slot0:GetStatus() == IslandAchievement.STATUS.GET
		end), function (slot0)
			return slot0:GetStatus() ~= IslandAchievement.STATUS.GOT
		end) or slot3[#slot3]
	end)

	table.sort(slot0.showAchvList, CompareFuncs({
		function (slot0)
			return slot0:GetStatus() == IslandAchievement.STATUS.GET and 0 or 1
		end,
		function (slot0)
			return slot0:GetStatus() == IslandAchievement.STATUS.GOT and 1 or 0
		end,
		function (slot0)
			return slot0.id
		end
	}))
	slot0.itemUIList:align(#slot0.showAchvList)
end

slot0.UpdateItem = function(slot0, slot1, slot2)
	slot3 = slot0.showAchvList[slot1 + 1]
	slot2.name = slot3.id

	setText(slot2:Find(&quot;name&quot;), slot3:getConfig(&quot;name&quot;))
	setText(slot2:Find(&quot;desc&quot;), slot3:getConfig(&quot;desc&quot;))
	UIItemList.StaticAlign(slot2:Find(&quot;awards&quot;), slot2:Find(&quot;awards/tpl&quot;), #slot3:GetAwards(), function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			GetImageSpriteFromAtlasAsync(&quot;island/&quot; .. slot3:getConfigTable().icon, &quot;&quot;, slot2:Find(&quot;icon&quot;))
			setText(slot2:Find(&quot;count&quot;), slot3.count)
		end
	end)
	setActive(slot2:Find(&quot;status/got&quot;), slot3:GetStatus() == IslandAchievement.STATUS.GOT)

	slot6 = slot5 == IslandAchievement.STATUS.GET

	setActive(slot2:Find(&quot;status/get&quot;), slot6)

	if slot6 then
		onButton(slot0, slot2:Find(&quot;status/get&quot;), function ()
			uv0:emit(IslandMediator.GET_ACHIEVEMENT_AWARD, {
				uv1.id
			})
		end, SFX_PANEL)
	else
		removeOnButton(slot2:Find(&quot;status/get&quot;))
	end

	slot7 = slot5 == IslandAchievement.STATUS.NORMAL

	setActive(slot2:Find(&quot;status/go&quot;), slot7)

	if slot7 then
		setText(slot2:Find(&quot;status/go/Text&quot;), slot0.achvAgency:GetCurProgress(slot3) .. &quot;/&quot; .. slot3:GetNum())
	end

	slot9 = slot0.achvAgency
	slot9 = slot9:GetGroup(slot3:getConfig(&quot;group&quot;))

	UIItemList.StaticAlign(slot2:Find(&quot;stages&quot;), slot2:Find(&quot;stages/tpl&quot;), #underscore.select(slot9:GetSortAchvList(), function (slot0)
		return not slot0:IsHideType() or slot0:GetStatus() == IslandAchievement.STATUS.GET
	end), function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = slot1 + 1

			GetImageSpriteFromAtlasAsync(&quot;ui/islandachievementui_atlas&quot;, &quot;stage_&quot; .. slot3, slot2:Find(&quot;icon&quot;))
			setActive(slot2:Find(&quot;line&quot;), not (slot3 == #uv0))

			slot6 = uv0[slot3]:GetStatus() == IslandAchievement.STATUS.GOT

			setActive(slot2:Find(&quot;line/got&quot;), slot6)
			setActive(slot2:Find(&quot;circle/got&quot;), slot6)
		end
	end)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>