<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandseasonptpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandseasonptpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandSeasonPtPanel&quot;, import(&quot;view.base.BaseSubView&quot;))
slot0.AWARD_SHOW_CNT = 6
slot0.AWARD_OFFSET = 1e-05

slot0.getUIName = function(slot0)
	return &quot;IslandSeasonPtPanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot1 = slot0._tf:Find(&quot;pt&quot;)
	slot0.ptValueTF = slot1:Find(&quot;pt/value&quot;)

	setText(slot1:Find(&quot;Text&quot;), i18n(&quot;island_season_pt_hold&quot;))

	slot0.getAllBtn = slot0._tf:Find(&quot;get_all&quot;)

	setText(slot0.getAllBtn:Find(&quot;Text&quot;), i18n(&quot;island_season_pt_collectall&quot;))

	slot0.blurTF = slot0._tf:Find(&quot;content&quot;)
	slot0.scrollCom = slot0.blurTF:Find(&quot;view&quot;):GetComponent(&quot;LScrollRect&quot;)
	slot0.importantAwardTF = slot0._tf:Find(&quot;important&quot;)
end

slot0.OnInit = function(slot0)
	slot0.scrollCom.onUpdateItem = function(slot0, slot1)
		uv0:UpdateAward(slot0, tf(slot1))
	end

	onButton(slot0, slot0.getAllBtn, function ()
		uv0:emit(IslandMediator.ON_GET_SEASON_PT_AWARD, 0)
	end, SFX_PANEL)
	slot0:BuildPhaseAwardScrollPos()

	slot1 = slot0.scrollCom.onValueChanged

	slot1:AddListener(function (slot0)
		uv0:UpdateNextAward(slot0.x)
	end)
end

slot0.UpdateAward = function(slot0, slot1, slot2)
	slot3 = slot0.awardInfos[slot1 + 1]

	setText(slot2:Find(&quot;target&quot;), slot3.target)
	updateCustomDrop(slot2:Find(&quot;drop&quot;), slot3.drop)

	slot4 = slot3.target &lt;= slot0.pt
	slot5 = table.contains(slot0.gotList, slot3.target)

	setActive(slot2:Find(&quot;got&quot;), slot5)
	setActive(slot2:Find(&quot;get&quot;), not slot5 and slot4)
	setActive(slot2:Find(&quot;lock&quot;), not slot4)
	onButton(slot0, slot2:Find(&quot;get&quot;), function ()
		uv0:emit(IslandMediator.ON_GET_SEASON_PT_AWARD, uv1.target)
	end, SFX_PANEL)
end

slot0.Show = function(slot0)
	slot0.super.Show(slot0)
	slot0:Flush()
	pg.UIMgr.GetInstance():OverlayPanelPB(slot0._tf, {
		pbList = {
			slot0.blurTF
		},
		groupName = LayerWeightConst.GROUP_ISLAND
	})
end

slot0.Flush = function(slot0)
	if not slot0:isShowing() then
		return
	end

	slot0.pt = slot0.contextData.season:GetPt()
	slot0.gotList = slot0.contextData.season:GetGotPtAwardList()

	setText(slot0.ptValueTF, slot0.pt)
	setActive(slot0.getAllBtn, slot0.contextData.season:GanGetPtAward())
	slot0.scrollCom:SetTotalCount(#slot0.awardInfos)
	slot0:UpdateNextAward(slot0.scrollCom.value)
end

slot0.BuildPhaseAwardScrollPos = function(slot0)
	slot0.awardInfos = IslandSeason.GetPtAwardInfos(slot0.contextData.season.id)
	slot4 = 0
	slot0.impTotalPos = slot0.scrollCom:HeadIndexToValue(#slot0.awardInfos - uv0.AWARD_SHOW_CNT) - slot0.scrollCom:HeadIndexToValue(slot4)
	slot0.importantInfos = {}

	for slot4, slot5 in pairs(slot0.awardInfos) do
		if slot5.isImportant then
			table.insert(slot0.importantInfos, {
				idx = slot4,
				pos = slot0.scrollCom:HeadIndexToValue(slot4 - uv0.AWARD_SHOW_CNT) / slot0.impTotalPos
			})
		end
	end
end

slot0.UpdateNextAward = function(slot0, slot1)
	slot1 = math.min(slot1, 1)

	for slot5, slot6 in pairs(slot0.importantInfos) do
		if slot1 + uv0.AWARD_OFFSET &lt; slot6.pos then
			setActive(slot0.importantAwardTF, true)
			slot0:UpdateAward(slot6.idx - 1, slot0.importantAwardTF)

			break
		elseif slot5 == #slot0.importantInfos then
			setActive(slot0.importantAwardTF, false)
		end
	end
end

slot0.Hide = function(slot0)
	slot0.super.Hide(slot0)
	slot0:OnHide()
end

slot0.OnHide = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf, slot0._parentTf)
end

slot0.OnDestroy = function(slot0)
	slot0:OnHide()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>