<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandseasontaskpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandseasontaskpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandSeasonTaskPanel&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandSeasonTaskPanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot1 = slot0._tf:Find(&quot;content&quot;)
	slot0.getAllBtn = slot1:Find(&quot;get_all&quot;)

	setText(slot0.getAllBtn:Find(&quot;Text&quot;), i18n(&quot;island_season_task_collectall&quot;))

	slot2 = slot1:Find(&quot;view/content/tpl&quot;)

	setText(slot2:Find(&quot;get/Text&quot;), i18n(&quot;island_season_task_collect&quot;))
	setText(slot2:Find(&quot;got/Text&quot;), i18n(&quot;island_season_task_collected&quot;))

	slot0.uiList = UIItemList.New(slot1:Find(&quot;view/content&quot;), slot2)
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0.getAllBtn, function ()
		uv0:emit(IslandMediator.ON_SUBMIT_TASK_ONE_STEP, uv0.canSubmitIds)
	end, SFX_PANEL)

	slot1 = slot0.uiList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateTask(slot1, slot2)
		end
	end)
end

slot0.UpdateTask = function(slot0, slot1, slot2)
	slot3 = slot0.taskIds[slot1 + 1]
	slot2.name = slot3
	slot5 = pg.island_task[slot3]

	setText(slot2:Find(&quot;desc&quot;), slot5.task_desc)
	setText(slot2:Find(&quot;name&quot;), slot5.name)
	UIItemList.StaticAlign(slot2:Find(&quot;awards&quot;), slot2:Find(&quot;awards/tpl&quot;), #IslandTask.GetAwardsStatic(slot3), function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			updateCustomDrop(slot2, uv0[slot1 + 1])
		end
	end)

	slot7 = pg.island_task_target[slot5.target_id[1]].target_num

	setText(slot2:Find(&quot;progress&quot;), (slot0.taskVODic[slot3] and slot4:GetTargetList()[1]:GetProgress() or slot7) .. &quot;/&quot; .. slot7)
	setActive(slot2:Find(&quot;get_bg&quot;), slot4 and slot4:IsFinish())
	setActive(slot2:Find(&quot;get&quot;), slot4 and slot4:IsSubmitOnUI() and slot4:IsFinish())
	setActive(slot2:Find(&quot;got&quot;), not slot4)
	onButton(slot0, slot2:Find(&quot;get&quot;), function ()
		uv0:emit(IslandMediator.ON_SUBMIT_TASK, uv1.id)
	end, SFX_PANEL)
end

slot0.Show = function(slot0)
	slot0.super.Show(slot0)
	slot0:Flush()
end

slot0.Flush = function(slot0)
	slot0.taskIds = slot0.contextData.season:GetTaskIds()
	slot0.taskVODic = {}
	slot1 = getProxy(IslandProxy):GetIsland():GetTaskAgency()

	for slot5, slot6 in ipairs(slot0.contextData.season:GetTaskIds()) do
		if slot1:GetTask(slot6) then
			slot0.taskVODic[slot6] = slot7
		end
	end

	table.sort(slot0.taskIds, CompareFuncs({
		function (slot0)
			return uv0.taskVODic[slot0] and 0 or 1
		end,
		function (slot0)
			return slot0
		end
	}))
	slot0.uiList:align(#slot0.taskIds)

	slot0.canSubmitIds = underscore.select(slot0.taskIds, function (slot0)
		return uv0.taskVODic[slot0] and uv0.taskVODic[slot0]:IsSubmitOnUI() and uv0.taskVODic[slot0]:IsFinish()
	end)

	setActive(slot0.getAllBtn, #slot0.canSubmitIds &gt; 0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>