<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activitypermanentmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>activitypermanentmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ActivityPermanentMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.START_SELECT = &quot;ActivityPermanentMediator.START_SELECT&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.START_SELECT, function (slot0, slot1)
		uv0:sendNotification(GAME.ACTIVITY_PERMANENT_START, {
			activity_id = slot1
		})
	end)
	slot0.viewComponent:setActivitys(Clone(pg.activity_task_permanent.all))
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.ACTIVITY_PERMANENT_START_DONE,
		GAME.ACTIVITY_PERMANENT_FINISH_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.ACTIVITY_PERMANENT_START_DONE or slot2 == GAME.ACTIVITY_PERMANENT_FINISH_DONE then
		slot0.viewComponent:closeView()
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>