<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aprilfoolsuperburinsubview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>aprilfoolsuperburinsubview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AprilFoolSuperBurinSubView&quot;, import(&quot;.AprilFoolBulinSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;AprilFoolSuperBurinSubView&quot;
end

slot0.OnInit = function(slot0)
	if not getProxy(ActivityProxy):getActivityByType(ActivityConst.ACTIVITY_TYPE_PUZZLA) or slot1:isEnd() then
		slot0:Destroy()

		return
	end

	assert(pg.activity_event_picturepuzzle[slot1.id], &quot;Can&#x27;t Find activity_event_picturepuzzle &#x27;s ID : &quot; .. slot1.id)

	slot0.bulin = slot0:findTF(&quot;bulin&quot;)

	onButton(slot0, slot0.bulin, function ()
		pg.m02:sendNotification(GAME.PUZZLE_PIECE_OP, {
			actId = uv1.id,
			id = uv0.pieceId,
			cmd = PuzzleActivity.CMD_ACTIVATE,
			callback = function ()
				seriesAsync({
					function (slot0)
						slot1 = uv0.awards[table.indexof(uv0.pickup_picturepuzzle, uv1)]

						assert(slot1, &quot;Cant Find Award of PieceID &quot; .. uv1)
						uv2:emit(BaseUI.ON_ACHIEVE, {
							{
								type = slot1[1],
								id = slot1[2],
								count = slot1[3]
							}
						}, slot0)
					end,
					function (slot0)
						slot1 = getProxy(ActivityProxy):getActivityByType(ActivityConst.ACTIVITY_TYPE_PUZZLA)

						if #table.mergeArray(slot1.data1_list, slot1.data2_list, true) &lt; #uv0.pickup_picturepuzzle + #uv0.drop_picturepuzzle then
							return slot0()
						end

						pg.NewStoryMgr.GetInstance():Play(slot1:getConfig(&quot;config_client&quot;).comStory, slot0)
					end,
					function ()
						uv0:Destroy()
					end
				})
			end
		})
	end)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>