<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collectionbooklayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>collectionbooklayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CollectionBookLayer&quot;, import(&quot;view.base.BaseUI&quot;))
slot1 = 3
slot2 = 3
slot3 = 1
slot4 = 2
slot5 = 3

slot0.getUIName = function(slot0)
	return &quot;CollectionBookUI&quot;
end

slot0.init = function(slot0)
	slot0.collectInfo = getProxy(ActivityProxy):getActivityById(CollectionBookMediator.ACT_ID):getData1List()

	if not slot0.collectInfo then
		slot0.collectInfo = {}
	end

	slot0.taskIds = slot2:getConfig(&quot;config_client&quot;).collect_task
	slot0.pageCollectSiteIds = {}

	for slot6 = 1, uv0 do
		table.insert(slot0.pageCollectSiteIds, pg.task_data_template[slot0.taskIds[slot6]].target_id)
	end
end

slot0.didEnter = function(slot0)
	slot0._ad = findTF(slot0._tf, &quot;ad&quot;)

	onButton(slot0, findTF(slot0._tf, &quot;ad/close&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot4 = function()
		uv0:closeView()
	end

	onButton(slot0, findTF(slot0._tf, &quot;ad/buttom&quot;), slot4, SFX_CANCEL)

	slot0.tags = {}

	for slot4 = 1, uv0 do
		slot5 = slot4
		slot6 = findTF(slot0._tf, &quot;ad/tag/bg_part_&quot; .. slot5)
		slot7 = findTF(slot0._tf, &quot;ad/tag/btn_part_&quot; .. slot5)

		table.insert(slot0.tags, {
			btn = slot7,
			bg = slot6,
			index = slot5
		})
		onButton(slot0, slot7, function ()
			uv0:selectTag(uv1)
		end, SFX_CONFIRM)
		setText(findTF(slot6, &quot;ad/text&quot;), i18n(&quot;collection_book_tag_&quot; .. slot5))
		setText(findTF(slot7, &quot;ad/text&quot;), i18n(&quot;collection_book_tag_&quot; .. slot5))
	end

	slot0.pages = {}

	for slot4 = 1, uv1 do
		slot5 = slot4

		table.insert(slot0.pages, {
			tf = findTF(slot0._tf, &quot;ad/page_&quot; .. slot5),
			index = slot5
		})
	end

	slot0.awardPanelTf = findTF(slot0._tf, &quot;ad/award_panel&quot;)

	onButton(slot0, findTF(slot0.awardPanelTf, &quot;btnGet&quot;), function ()
		pg.m02:sendNotification(GAME.SUBMIT_TASK, uv0.taskIds[uv0.selectTagIndex])
	end, SFX_CONFIRM)
	slot0:selectTag(1)
	pg.UIMgr.GetInstance():BlurPanel(slot0._ad)
end

slot0.selectTag = function(slot0, slot1)
	slot0.selectTagIndex = slot1

	slot0:updateTag()
	slot0:updatePage()
	slot0:updateAwardPanel()
end

slot0.updateTag = function(slot0)
	for slot4 = 1, #slot0.tags do
		slot5 = slot0.tags[slot4]

		setActive(slot5.bg, slot5.index == slot0.selectTagIndex)
		setActive(slot5.btn, slot5.index ~= slot0.selectTagIndex)

		if getProxy(TaskProxy):getTaskById(slot0.taskIds[slot4]) and slot7:getTaskStatus() == 1 then
			setActive(findTF(slot5.btn, &quot;ad/tip&quot;), true)
		else
			setActive(findTF(slot5.btn, &quot;ad/tip&quot;), false)
		end
	end
end

slot0.updatePage = function(slot0)
	for slot4 = 1, #slot0.pages do
		slot5 = slot0.pages[slot4]

		setActive(slot5.tf, slot5.index == slot0.selectTagIndex)

		if slot5.index == 1 then
			slot0:updatePage1(slot5.tf, slot0.pageCollectSiteIds[slot5.index])
		elseif slot5.index == 2 then
			slot0:updatePage2(slot5.tf, slot0.pageCollectSiteIds[slot5.index])
		elseif slot5.index == 3 then
			slot0:updatePage3(slot5.tf, slot0.pageCollectSiteIds[slot5.index])
		end
	end
end

slot0.updatePage1 = function(slot0, slot1, slot2)
	if not slot0.page1Items then
		slot0.page1Items = {}
		slot4 = findTF(slot1, &quot;list/content&quot;)

		setActive(findTF(slot1, &quot;list/content/itemTpl&quot;), false)

		for slot8 = 1, #slot2 do
			slot9 = slot0:getCollectDataBySiteId(slot2[slot8])
			slot10 = tf(instantiate(slot3))

			setParent(slot10, slot4)
			setActive(slot10, true)
			LoadImageSpriteAsync(pg.activity_holiday_site[slot9.site_id].jumpto[3][1], findTF(slot10, &quot;place/mask/icon&quot;), true)
			setText(findTF(slot10, &quot;bg_title/text&quot;), pg.activity_holiday_site[slot9.site_id].jumpto[1][1])
			setText(findTF(slot10, &quot;desc/text&quot;), pg.activity_holiday_site[slot9.site_id].jumpto[2][1])
			setText(findTF(slot10, &quot;desc/lock&quot;), i18n(&quot;collection_book_lock_place&quot;))
			slot0:setNumText(findTF(slot10, &quot;place/num_1&quot;), findTF(slot10, &quot;place/num_2&quot;), slot8)
			table.insert(slot0.page1Items, {
				tf = slot10,
				index = slot8,
				site_id = slot9.site_id
			})
		end
	end

	for slot6 = 1, #slot0.page1Items do
		slot7 = slot0.page1Items[slot6].tf
		slot8 = slot0:getSiteOpen(slot0.page1Items[slot6].site_id)

		setActive(findTF(slot7, &quot;place/mask&quot;), slot8)
		setActive(findTF(slot7, &quot;place/bg/icon_lock&quot;), not slot8)
		setActive(findTF(slot7, &quot;bg_title/text&quot;), slot8)
		setActive(findTF(slot7, &quot;bg_title/lock&quot;), not slot8)
		setActive(findTF(slot7, &quot;desc/text&quot;), slot8)
		setActive(findTF(slot7, &quot;desc/lock&quot;), not slot8)
	end
end

slot0.updatePage2 = function(slot0, slot1, slot2)
	if not slot0.page2Items then
		slot0.page2Items = {}
		slot4 = findTF(slot1, &quot;list/content&quot;)

		setActive(findTF(slot1, &quot;list/content/itemTpl&quot;), false)

		for slot8 = 1, #slot2 do
			slot9 = slot0:getCollectDataBySiteId(slot2[slot8])
			slot10 = tf(instantiate(slot3))

			setParent(slot10, slot4)
			setActive(slot10, true)
			onButton(slot0, slot10, function ()
				if uv0:getSiteOpen(uv1.site_id) then
					pg.NewStoryMgr.GetInstance():Play(uv1.luaID, function ()
					end, true)
				end
			end, SFX_CONFIRM)
			LoadImageSpriteAsync(&quot;bg/&quot; .. slot9.icon, findTF(slot10, &quot;mask/icon&quot;), true)

			slot13 = findTF(slot10, &quot;desc&quot;)

			if slot0:getMemoryData(slot9.luaID) then
				setText(slot13, slot12.title)
			else
				setText(slot13, &quot;&quot;)
			end

			slot0:setNumText(findTF(slot10, &quot;num_1&quot;), findTF(slot10, &quot;num_2&quot;), slot8)
			table.insert(slot0.page2Items, {
				tf = slot10,
				index = slot8,
				site_id = slot9.site_id
			})
		end
	end

	for slot6 = 1, #slot0.page2Items do
		slot7 = slot0.page2Items[slot6].tf
		slot8 = slot0:getSiteOpen(slot0.page2Items[slot6].site_id)

		setActive(findTF(slot7, &quot;desc&quot;), slot8)
		setActive(findTF(slot7, &quot;desc_lock&quot;), not slot8)
		setActive(findTF(slot7, &quot;lock&quot;), not slot8)
		setActive(findTF(slot7, &quot;mask/icon&quot;), slot8)
	end
end

slot0.StoryData = {}

slot0.getMemoryData = function(slot0, slot1)
	if uv0.StoryData[slot1] then
		return uv0.StoryData[slot1]
	end

	for slot5, slot6 in ipairs(pg.memory_template.all) do
		if pg.memory_template[slot6].story == slot1 then
			uv0.StoryData[slot1] = Clone(slot7)

			return uv0.StoryData[slot1]
		end
	end

	return nil
end

slot0.updatePage3 = function(slot0, slot1, slot2)
	if not slot0.page3Items then
		slot0.page3Items = {}
		slot4 = findTF(slot1, &quot;list/content&quot;)
		slot8 = ScrollRect
		slot0.page3ScrollRect = GetComponent(findTF(slot1, &quot;list&quot;), typeof(slot8))
		slot0.leftA = findTF(slot1, &quot;left_aix&quot;)
		slot0.rightA = findTF(slot1, &quot;right_aix&quot;)

		setActive(slot0.leftA, false)

		slot5 = slot0.page3ScrollRect.onValueChanged

		slot5:AddListener(function ()
			if uv0.page3ScrollRect.normalizedPosition.x &lt;= 0.01 then
				setActive(uv0.leftA, false)
			elseif uv0.page3ScrollRect.normalizedPosition.x &gt;= 1 then
				setActive(uv0.rightA, false)
			else
				setActive(uv0.leftA, true)
				setActive(uv0.rightA, true)
			end
		end)
		setActive(findTF(slot1, &quot;list/content/itemTpl&quot;), false)

		for slot8 = 1, #slot2 do
			slot10 = tf(instantiate(slot3))

			setParent(slot10, slot4)
			setActive(slot10, true)

			slot11 = findTF(slot10, &quot;ad/mask/icon&quot;)
			slot14 = &quot;&quot;

			if pg.ship_skin_template[tonumber(slot0:getCollectDataBySiteId(slot2[slot8]).icon)] then
				slot14 = HXSet.hxLan(slot9.name)
				slot15 = slot13.painting

				LoadPaintingPrefabAsync(slot11, slot15, uv0.StaticGetPaintingName(slot15), &quot;biandui&quot;, function ()
				end)
			else
				print(&quot;skin_id no exist&quot; .. slot12)
			end

			onButton(slot0, slot10, function ()
				if uv0:getSiteOpen(uv1.site_id) then
					pg.NewStoryMgr.GetInstance():Play(uv1.luaID, function ()
					end, true)
				end
			end, SFX_CONFIRM)

			findTF(slot10, &quot;ad&quot;).anchoredPosition = Vector2(0, slot8 % 2 == 0 and 0 or 25)

			setText(findTF(slot10, &quot;ad/name&quot;), slot14)

			slot17 = findTF(slot10, &quot;ad/name_lock&quot;)

			slot0:setNumText(findTF(slot10, &quot;ad/num_1&quot;), findTF(slot10, &quot;ad/num_2&quot;), slot8)
			table.insert(slot0.page3Items, {
				tf = slot10,
				index = slot8,
				site_id = slot9.site_id
			})
		end
	end

	for slot6 = 1, #slot0.page3Items do
		slot7 = slot0.page3Items[slot6].tf
		slot8 = slot0:getSiteOpen(slot0.page3Items[slot6].site_id)

		setActive(findTF(slot7, &quot;ad/mask/icon&quot;), slot8)
		setActive(findTF(slot7, &quot;ad/name&quot;), slot8)
		setActive(findTF(slot7, &quot;ad/name_lock&quot;), not slot8)
		setActive(findTF(slot7, &quot;ad/lock&quot;), not slot8)
	end
end

slot0.getSiteOpen = function(slot0, slot1)
	return table.contains(slot0.collectInfo, slot1)
end

slot0.getCollectDataBySiteId = function(slot0, slot1)
	for slot5, slot6 in ipairs(pg.activity_holiday_collection.all) do
		if pg.activity_holiday_collection[slot6].site_id == slot1 then
			return pg.activity_holiday_collection[slot6]
		end
	end

	return nil
end

slot0.StaticGetPaintingName = function(slot0)
	if checkABExist(&quot;painting/&quot; .. slot0 .. &quot;_n&quot;) and PlayerPrefs.GetInt(&quot;paint_hide_other_obj_&quot; .. slot1, 0) ~= 0 then
		slot1 = slot1 .. &quot;_n&quot;
	end

	if HXSet.isHx() then
		return slot1
	end

	if getProxy(SettingsProxy):GetMainPaintingVariantFlag(slot0) == uv0.PAINTING_VARIANT_EX and not checkABExist(&quot;painting/&quot; .. slot1 .. &quot;_ex&quot;) then
		return slot1
	end

	return slot3 and slot1 .. &quot;_ex&quot; or slot1
end

slot0.setNumText = function(slot0, slot1, slot2, slot3)
	slot0:setChildVisible(slot1, false)
	slot0:setChildVisible(slot2, false)
	setActive(findTF(slot1, &quot;num_&quot; .. tostring(slot3 % 10)), true)
	setActive(findTF(slot2, &quot;num_&quot; .. tostring(math.floor(slot3 / 10))), true)
end

slot0.setChildVisible = function(slot0, slot1, slot2)
	for slot6 = 1, slot1.childCount do
		setActive(slot1:GetChild(slot6 - 1), slot2)
	end
end

slot0.updateAwardPanel = function(slot0)
	slot2 = getProxy(TaskProxy):getTaskById(slot0.taskIds[slot0.selectTagIndex]) or getProxy(TaskProxy):getFinishTaskById(slot1)
	slot3 = findTF(slot0.awardPanelTf, &quot;awardIcon&quot;)
	slot4 = slot2:getConfig(&quot;award_display&quot;)[1]

	updateDrop(slot3, {
		type = slot4[1],
		id = slot4[2],
		count = slot4[3]
	})
	onButton(slot0, slot3, function ()
		uv0:emit(uv1.ON_DROP, uv2)
	end, SFX_PANEL)
	setText(findTF(slot0.awardPanelTf, &quot;progress&quot;), slot2:getProgress() .. &quot;/&quot; .. slot2:getConfig(&quot;target_num&quot;))
	setText(findTF(slot0.awardPanelTf, &quot;desc&quot;), slot2:getConfig(&quot;desc&quot;))

	slot8 = findTF(slot0.awardPanelTf, &quot;btnGet&quot;)
	slot9 = findTF(slot0.awardPanelTf, &quot;btnGot&quot;)
	slot10 = findTF(slot0.awardPanelTf, &quot;btnGo&quot;)

	setText(findTF(slot8, &quot;text&quot;), i18n(&quot;task_get&quot;))
	setText(findTF(slot9, &quot;text&quot;), i18n(&quot;avatarframe_got&quot;))
	setText(findTF(slot10, &quot;text&quot;), i18n(&quot;task_get&quot;))
	setActive(slot8, false)
	setActive(slot9, false)
	setActive(findTF(slot0.awardPanelTf, &quot;imgGot&quot;), false)
	setActive(slot10, false)

	if slot2:getTaskStatus() == 0 then
		slot10:GetComponent(&quot;UIGrayScale&quot;).enabled = false
		slot10:GetComponent(&quot;UIGrayScale&quot;).enabled = true

		setActive(slot10, true)
	elseif slot2:getTaskStatus() == 1 then
		setActive(slot8, true)
	elseif slot2:getTaskStatus() == 2 then
		setActive(slot9, true)
		setActive(slot11, true)
	end
end

slot0.willExit = function(slot0)
	slot0.page3ScrollRect.onValueChanged:RemoveAllListeners()
	pg.UIMgr.GetInstance():UnblurPanel(slot0._ad, slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>