<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collectionbookmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>collectionbookmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CollectionBookMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.ACT_ID = ActivityConst.HOLIDAY_ACT_ID

slot0.register = function(slot0)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.SUBMIT_TASK_AWARD_DOWN
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.SUBMIT_TASK_AWARD_DOWN then
		slot4 = slot0.viewComponent

		slot4:emit(BaseUI.ON_ACHIEVE, slot3.awards, function ()
			uv0.viewComponent:updateAwardPanel()
			uv0.viewComponent:updateTag()
		end)
	end
end

slot0.GetCollectionBookTip = function()
	for slot6 = 1, #getProxy(ActivityProxy):getActivityById(CollectionBookMediator.ACT_ID):getConfig(&quot;config_client&quot;).collect_task do
		if getProxy(TaskProxy):getTaskById(slot2[slot6]) and slot7:getTaskStatus() == 1 then
			return true
		end
	end

	return false
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>