<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crusingmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>crusingmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CrusingMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.UNFROZEN_MAP_UPDATE = &quot;CrusingMediator.UN_FROZEN_MAP_UPDATE&quot;
slot0.EVENT_OPEN_TASK = &quot;CrusingMediator.EVENT_OPEN_TASK&quot;
slot0.EVENT_GET_AWARD = &quot;CrusingMediator.EVENT_GET_AWARD&quot;
slot0.EVENT_GET_AWARD_PAY = &quot;CrusingMediator.EVENT_GET_AWARD_PAY&quot;
slot0.EVENT_GET_AWARD_ALL = &quot;CrusingMediator.EVENT_GET_AWARD_ALL&quot;
slot0.EVENT_GO_CHARGE = &quot;CrusingMediator.EVENT_GO_CHARGE&quot;
slot0.EVENT_OPEN_BIRTHDAY = &quot;CrusingMediator.EVENT_OPEN_BIRTHDAY&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.EVENT_OPEN_TASK, function (slot0)
		uv0.contextData.frozenMapUpdate = true

		uv0:addSubLayers(Context.New({
			mediator = CrusingTaskMediator,
			viewComponent = CrusingTaskLayer
		}))
	end)
	slot0:bind(uv0.EVENT_GET_AWARD, function (slot0, slot1)
		uv0:sendNotification(GAME.CRUSING_CMD, {
			cmd = 2,
			activity_id = uv0.viewComponent.activity.id,
			arg1 = slot1
		})
	end)
	slot0:bind(uv0.EVENT_GET_AWARD_PAY, function (slot0, slot1)
		uv0:sendNotification(GAME.CRUSING_CMD, {
			cmd = 3,
			activity_id = uv0.viewComponent.activity.id,
			arg1 = slot1
		})
	end)
	slot0:bind(uv0.EVENT_GET_AWARD_ALL, function (slot0)
		uv0:sendNotification(GAME.CRUSING_CMD, {
			cmd = 4,
			activity_id = uv0.viewComponent.activity.id
		})
	end)
	slot0:bind(uv0.EVENT_GO_CHARGE, function (slot0, slot1)
		uv0:addSubLayers(Context.New({
			mediator = ChargeItemPanelMediator,
			viewComponent = ChargeItemPanelLayer,
			data = {
				panelConfig = slot1
			}
		}))
	end)
	slot0:bind(uv0.EVENT_OPEN_BIRTHDAY, function (slot0, slot1)
		uv0:addSubLayers(Context.New({
			mediator = ChargeBirthdayMediator,
			viewComponent = ChargeBirthdayLayer,
			data = {}
		}))
	end)
	slot0.viewComponent:setActivity(getProxy(ActivityProxy):getAliveActivityByType(ActivityConst.ACTIVITY_TYPE_PT_CRUSING))
	slot0.viewComponent:setPlayer(getProxy(PlayerProxy):getData())
end

slot0.listNotificationInterests = function(slot0)
	return {
		ActivityProxy.ACTIVITY_UPDATED,
		GAME.CRUSING_CMD_DONE,
		uv0.UNFROZEN_MAP_UPDATE,
		PlayerProxy.UPDATED,
		GAME.CHARGE_SUCCESS
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == ActivityProxy.ACTIVITY_UPDATED then
		if slot3.id == slot0.viewComponent.activity.id then
			slot0.viewComponent:setActivity(slot3)
			slot0.viewComponent:updateAwardPanel()
			slot0.viewComponent:updateMapStatus()
			slot0.viewComponent:updateMapWay()
		end
	elseif slot2 == GAME.CRUSING_CMD_DONE then
		slot0.viewComponent:emit(BaseUI.ON_ACHIEVE, slot3.awards)
	elseif slot2 == uv0.UNFROZEN_MAP_UPDATE then
		slot0.contextData.frozenMapUpdate = false

		slot0.viewComponent:updateMapWay()
	elseif slot2 == PlayerProxy.UPDATED then
		slot0.viewComponent:setPlayer(slot3)
	elseif slot2 == GAME.CHARGE_SUCCESS then
		slot0.viewComponent:OnChargeSuccess(Goods.Create({
			shop_id = slot3.shopId
		}, Goods.TYPE_CHARGE))
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>