<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crusingtasklayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>crusingtasklayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CrusingTaskLayer&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;CrusingTaskUI&quot;
end

slot0.tempCache = function(slot0)
	return true
end

slot0.init = function(slot0)
	slot0.rtBg = slot0._tf:Find(&quot;bg&quot;)
	slot1 = slot0._tf:Find(&quot;window&quot;)
	slot0.itemQuick = slot1:Find(&quot;item_quick&quot;)
	slot0.btnBack = slot1:Find(&quot;btn_back&quot;)
	slot0.btnHelp = slot1:Find(&quot;btn_help&quot;)
	slot0.textPhase = slot1:Find(&quot;text_phase&quot;)
	slot0.sliderPt = slot1:Find(&quot;Slider&quot;)
	slot0.textComplete = slot1:Find(&quot;text_complete&quot;)
	slot2 = slot1:Find(&quot;view/content&quot;)
	slot0.taskGroupItemList = UIItemList.New(slot2, slot2:Find(&quot;tpl&quot;))

	slot0.taskGroupItemList:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			uv0:updateTaskGroup(slot2, uv0.tempTaskGroup[slot1])
		end
	end)

	slot0.rtWeekToggles = slot1:Find(&quot;week_list&quot;)
end

slot0.didEnter = function(slot0)
	slot1 = pg.UIMgr.GetInstance()

	slot1:BlurPanel(slot0._tf)
	onButton(slot0, slot0.rtBg, function ()
		uv0:emit(CrusingTaskMediator.ON_EXIT)
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, slot0.btnBack, function ()
		uv0:emit(CrusingTaskMediator.ON_EXIT)
		uv0:closeView()
	end, SFX_CANCEL)

	slot5 = SFX_PANEL

	onButton(slot0, slot0.btnHelp, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = i18n(&quot;cruise_task_help_&quot; .. pg.battlepass_event_pt[uv0.activity.id].map_name)
		})
	end, slot5)

	slot1 = getProxy(TaskProxy)

	for slot5, slot6 in pairs(slot0.taskGroupList) do
		slot7 = slot0.rtWeekToggles:Find(slot5)

		if slot5 &gt; 0 then
			setText(slot7:Find(&quot;off/Text&quot;), i18n(&quot;cruise_task_week&quot;, slot5))
			setText(slot7:Find(&quot;on/Text&quot;), i18n(&quot;cruise_task_week&quot;, slot5))
		end

		setActive(slot7:Find(&quot;tip&quot;), not slot6.isLock and PlayerPrefs.GetInt(string.format(&quot;cursing_%d_task_week_%d&quot;, slot0.activity.id, slot5), 0) == 0)
		onToggle(slot0, slot7, function (slot0)
			if slot0 then
				setActive(uv0:Find(&quot;tip&quot;), false)
				PlayerPrefs.SetInt(string.format(&quot;cursing_%d_task_week_%d&quot;, uv1.activity.id, uv2), 1)

				uv1.weekToggle = uv2
				uv1.contextData.weekToggle = uv2
				uv1.tempTaskGroup = underscore.map(uv3.task_group, function (slot0)
					return underscore.map(slot0, function (slot0)
						assert(uv0:getTaskVO(slot0), &quot;without this task:&quot; .. slot0)

						return uv0:getTaskVO(slot0)
					end)
				end)

				table.sort(uv1.tempTaskGroup, CompareFuncs({
					function (slot0)
						return underscore.all(slot0, function (slot0)
							return slot0:isReceive()
						end) and 1 or 0
					end,
					function (slot0)
						return slot0[1].id
					end
				}))
				uv1.taskGroupItemList:align(#uv1.tempTaskGroup)
				uv1:updateTaskInfo()
			end
		end, SFX_PANEL)

		if slot7:Find(&quot;mask&quot;) then
			setActive(slot7:Find(&quot;mask&quot;), slot6.isLock)
		end
	end

	table.sort(underscore.keys(slot0.taskGroupList), function (slot0, slot1)
		return slot0 &lt; slot1
	end)

	if slot0.contextData.weekToggle and not slot0.taskGroupList[slot0.contextData.weekToggle].isLock then
		slot0.weekToggle = slot0.contextData.weekToggle
		slot0.contextData.weekToggle = nil
	else
		slot0.weekToggle = table.remove(slot2, 1)

		for slot6, slot7 in ipairs(slot2) do
			if slot0.taskGroupList[slot7].isLock then
				break
			elseif underscore.any(underscore.flatten(slot8.task_group), function (slot0)
				return uv0:getTaskVO(slot0) and not slot1:isReceive()
			end) then
				slot0.weekToggle = slot7

				break
			end
		end
	end

	slot6 = slot0.weekToggle

	triggerToggle(slot0.rtWeekToggles:Find(slot6), true)

	for slot6, slot7 in ipairs(slot0.taskGroupList) do
		SetCompomentEnabled(slot0.rtWeekToggles:Find(slot6), typeof(Toggle), not slot7.isLock)

		if not slot7.isLock then
			setGray(slot8, underscore.all(underscore.flatten(slot7.task_group), function (slot0)
				return uv0:getTaskVO(slot0) and slot1:isReceive()
			end))
		end
	end

	slot0:updatePhaseInfo()
	LoadImageSpriteAtlasAsync(Drop.New({
		type = DROP_TYPE_VITEM,
		id = slot0.ptId
	}):getIcon(), &quot;&quot;, slot0.sliderPt:Find(&quot;icon&quot;), true)
	onButton(slot0, slot0.itemQuick, function ()
		uv0:emit(uv1.ON_DROP, {
			count = 1,
			type = DROP_TYPE_ITEM,
			id = Item.QUICK_TASK_PASS_TICKET_ID
		})
	end, SFX_PANEL)
	LoadImageSpriteAtlasAsync(Drop.New({
		type = DROP_TYPE_ITEM,
		id = Item.QUICK_TASK_PASS_TICKET_ID
	}):getIcon(), &quot;&quot;, slot0.itemQuick:Find(&quot;icon&quot;), true)
	onButton(slot0, slot0.itemQuick:Find(&quot;plus&quot;), function ()
		shoppingBatch(61017, {
			id = Item.QUICK_TASK_PASS_TICKET_ID
		}, 20, &quot;build_ship_quickly_buy_stone&quot;)
	end)
	slot0:updateItemInfo()
	setText(slot0.textComplete:Find(&quot;Text&quot;), i18n(&quot;cruise_task_tips&quot;))
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

slot0.setActivity = function(slot0, slot1)
	slot0.activity = slot1

	for slot5, slot6 in pairs(slot1:GetCrusingInfo()) do
		slot0[slot5] = slot6
	end

	slot0.taskGroupList = {}
	slot2 = pg.TimeMgr.GetInstance():GetServerOverWeek(slot1:getStartTime())
	slot6 = &quot;config_data&quot;

	for slot6, slot7 in ipairs(slot1:getConfig(slot6)) do
		slot8 = pg.battlepass_task_group[slot7]
		slot0.taskGroupList[slot8.group_mask] = {
			task_group = slot8.task_group,
			isLock = slot2 &lt; slot8.group_mask
		}
	end
end

slot0.updatePhaseInfo = function(slot0)
	setText(slot0.textPhase, i18n(&quot;cruise_task_phase&quot;, slot0.phase))

	if slot0.phase &lt; #slot0.awardList then
		slot1 = slot0.phase == 0 and 0 or slot0.awardList[slot0.phase].pt
		slot2 = slot0.pt - slot1
		slot3 = slot0.awardList[slot0.phase + 1].pt - slot1

		setSlider(slot0.sliderPt, 0, slot3, slot2)
		setText(slot0.sliderPt:Find(&quot;Text&quot;), slot2 .. &quot;/&quot; .. slot3)
	else
		setSlider(slot0.sliderPt, 0, 1, 1)
		setText(slot0.sliderPt:Find(&quot;Text&quot;), &quot;MAX&quot;)
	end
end

slot0.updateTaskInfo = function(slot0)
	underscore.each(slot0.tempTaskGroup, function (slot0)
		underscore.each(slot0, function (slot0)
			uv0 = uv0 + 1

			if slot0:isReceive() then
				uv1 = uv1 + 1
			end
		end)
	end)
	setText(slot0.textComplete, 0 .. &quot;/&quot; .. 0)
end

slot0.updateItemInfo = function(slot0)
	setText(slot0.itemQuick, getProxy(BagProxy):getItemCountById(Item.QUICK_TASK_PASS_TICKET_ID))
end

slot0.updateTaskGroup = function(slot0, slot1, slot2)
	slot9 = &quot;week&quot;
	slot8 = true

	LoadImageSpriteAtlasAsync(&quot;ui/crusingtaskui_atlas&quot;, tostring(slot0.weekToggle), slot1:Find(&quot;info&quot;):Find(slot9), slot8)

	slot4 = {}

	for slot8, slot9 in ipairs(slot2) do
		if not slot9:isReceive() then
			table.insert(slot4, slot9)
		end
	end

	triggerToggle(slot3, false)

	slot5 = #slot4 &gt; 0 and table.remove(slot4, 1) or slot2[#slot2]

	SetCompomentEnabled(slot3, typeof(Toggle), #slot4 &gt; 0)
	slot0:updateTaskDisplay(slot3, slot5)
	setActive(slot3:Find(&quot;quick&quot;), slot5:getConfig(&quot;quick_finish&quot;) &gt; 0 and slot5:getTaskStatus() == 0)
	onButton(slot0, slot3:Find(&quot;quick&quot;), function ()
		if getProxy(BagProxy):getItemCountById(Item.QUICK_TASK_PASS_TICKET_ID) &lt; uv0:getConfig(&quot;quick_finish&quot;) then
			pg.MsgboxMgr.GetInstance():ShowMsgBox({
				content = i18n(&quot;battlepass_task_quickfinish2&quot;, slot1 - slot0),
				onYes = function ()
					shoppingBatch(61017, {
						id = Item.QUICK_TASK_PASS_TICKET_ID
					}, 20, &quot;build_ship_quickly_buy_stone&quot;)
				end
			})
		else
			pg.MsgboxMgr.GetInstance():ShowMsgBox({
				content = i18n(&quot;battlepass_task_quickfinish1&quot;, slot1, slot0),
				onYes = function ()
					uv0:emit(CrusingTaskMediator.ON_TASK_QUICK_SUBMIT, uv1)
				end
			})
		end
	end, SFX_CONFIRM)
	setActive(slot3:Find(&quot;toggle_mark&quot;), #slot4 &gt; 0)

	if #slot4 &gt; 0 then
		slot6 = slot1:Find(&quot;content&quot;)
		slot7 = UIItemList.New(slot6, slot6:Find(&quot;extend_tpl&quot;))

		slot7:make(function (slot0, slot1, slot2)
			slot1 = slot1 + 1

			if slot0 == UIItemList.EventUpdate then
				uv0:updateTaskDisplay(slot2, uv1[slot1])
			end
		end)
		slot7:align(#slot4)
	end
end

slot0.updateTaskDisplay = function(slot0, slot1, slot2)
	setText(slot1:Find(&quot;desc&quot;), slot2:getConfig(&quot;desc&quot;))

	slot3 = slot2:getProgress()
	slot4 = slot2:getConfig(&quot;target_num&quot;)

	setSlider(slot1:Find(&quot;Slider&quot;), 0, slot4, slot3)
	setText(slot1:Find(&quot;Slider/Text&quot;), slot3 .. &quot;/&quot; .. slot4)

	slot5 = slot2:getConfig(&quot;award_display&quot;)[1]

	updateDrop(slot1:Find(&quot;IconTpl&quot;), {
		type = slot5[1],
		id = slot5[2],
		count = slot5[3]
	})
	onButton(slot0, slot1:Find(&quot;IconTpl&quot;), function ()
		uv0:emit(uv1.ON_DROP, uv2)
	end, SFX_PANEL)
	setActive(slot1:Find(&quot;go&quot;), slot2:getTaskStatus() == 0)
	setActive(slot1:Find(&quot;get&quot;), slot6 == 1)
	setActive(slot1:Find(&quot;got&quot;), slot6 == 2)
	setActive(slot1:Find(&quot;IconTpl/mask&quot;), slot6 == 2)
	setActive(slot1:Find(&quot;IconTpl/mark&quot;), slot6 == 2)
	onButton(slot0, slot1:Find(&quot;go&quot;), function ()
		uv0:emit(CrusingTaskMediator.ON_TASK_GO, uv1)
	end, SFX_PANEL)
	onButton(slot0, slot1:Find(&quot;get&quot;), function ()
		uv0:emit(CrusingTaskMediator.ON_TASK_SUBMIT, uv1)
	end, SFX_CONFIRM)
end

slot0.updateCurrentTaskGroup = function(slot0)
	triggerToggle(slot0.rtWeekToggles:Find(slot0.weekToggle), true)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>