<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eatfoodmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>eatfoodmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EatFoodMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.GAME_HIT_AREA = &quot;game hit score&quot;
slot0.GAME_CLOSE = &quot;game close&quot;
slot0.GAME_RESULT = &quot;game result&quot;
slot0.HIT_AREA = &quot;EatFoodMediator:event hit area&quot;
slot0.LEAVE_GAME = &quot;EatFoodMediato:event leave game&quot;
slot0.RESULT = &quot;EatFoodMediato:event result&quot;

slot0.register = function(slot0)
	slot0:bind(EatFoodMediator.GAME_HIT_AREA, function (slot0, slot1, slot2)
		uv0:sendNotification(EatFoodMediator.HIT_AREA, slot1)
	end)
	slot0:bind(EatFoodMediator.GAME_CLOSE, function (slot0, slot1, slot2)
		uv0:sendNotification(EatFoodMediator.LEAVE_GAME, slot1)
	end)
	slot0:bind(EatFoodMediator.GAME_RESULT, function (slot0, slot1, slot2)
		uv0:sendNotification(EatFoodMediator.RESULT, slot1)
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {}
end

slot0.handleNotification = function(slot0, slot1)
	slot2 = slot1:getName()
	slot3 = slot1:getBody()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>