<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>holidayvillashoplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>holidayvillashoplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;HolidayVillaShopLayer&quot;, import(&quot;.SixthAnniversaryIslandShopLayer&quot;))

slot0.getUIName = function(slot0)
	return &quot;HolidayVillaShopUI&quot;
end

slot0.setPlayer = function(slot0, slot1)
	slot0.player = slot1

	setText(slot0.rtRes:Find(&quot;Text&quot;), getProxy(ActivityProxy):getActivityById(ActivityConst.HOLIDAY_ACT_ID):getVitemNumber(66005))
end

slot0.refreshAllGoodsCard = function(slot0)
	slot0.goodsList = slot0.shop:getSortGoods()

	slot0.goodsItemList:align(#slot0.goodsList)
end

slot0.init = function(slot0)
	slot1 = pg.UIMgr.GetInstance()

	slot1:BlurPanel(slot0._tf)

	slot1 = slot0._tf
	slot1 = slot1:Find(&quot;main&quot;)

	setText(slot1:Find(&quot;time/Text&quot;), i18n(&quot;islandshop_tips1&quot;))

	slot0.rtTime = slot1:Find(&quot;time/Text_2&quot;)
	slot0.rtRes = slot1:Find(&quot;tpl&quot;)
	slot2 = slot0._tf
	slot2 = slot2:Find(&quot;main/view/content&quot;)
	slot0.goodsItemList = UIItemList.New(slot2, slot2:Find(&quot;goods&quot;))
	slot3 = slot0.goodsItemList

	slot3:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			uv0.goodsCardDic[uv0.goodsList[slot1].id] = slot2

			onButton(uv0, slot2, function ()
				uv0:emit(HolidayVillaShopMediator.OPEN_GOODS_WINDOW, uv0.goodsList[uv1])
			end, SFX_PANEL)
			uv0:updateGoodsCard(slot2, uv0.goodsList[slot1])
		end
	end)

	slot5 = slot0._tf

	onButton(slot0, slot5:Find(&quot;bg&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot5 = slot0._tf

	onButton(slot0, slot5:Find(&quot;main/btn_back&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>