<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>launchballtaskmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>launchballtaskmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;LaunchBallTaskMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.SUBMIT_ALL = &quot;SUBMIT_ALL&quot;

slot0.register = function(slot0)
	slot0:bind(LaunchBallTaskMediator.SUBMIT_ALL, function (slot0, slot1)
		uv0.submit = #slot1
		uv0.awards = {}

		for slot5 = 1, #slot1 do
			uv0:sendNotification(GAME.SUBMIT_TASK, slot1[slot5].id)
		end
	end)
end

slot0.onUIAvalible = function(slot0)
end

slot0.listNotificationInterests = function(slot0)
	return {
		GAME.SUBMIT_TASK_DONE
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.SUBMIT_ACTIVITY_TASK_DONE then
		if #slot3.awards &gt; 0 then
			slot0.viewComponent:emit(BaseUI.ON_ACHIEVE, slot3.awards)
		end

		if slot3.callback then
			-- Nothing
		end

		slot0.viewComponent:updateTask(true)
	elseif slot2 == GAME.SUBMIT_TASK_DONE then
		if slot0.submit and slot0.submit &gt; 0 then
			for slot7 = 1, #slot3 do
				table.insert(slot0.awards, slot3[slot7])
			end

			slot0.submit = slot0.submit - 1

			if slot0.submit == 0 then
				slot4 = slot0.viewComponent

				slot4:emit(BaseUI.ON_ACHIEVE, slot0.awards, function ()
					uv0.viewComponent:updateTasks()
				end)
			end
		else
			slot4 = slot0.viewComponent

			slot4:emit(BaseUI.ON_ACHIEVE, slot3, function ()
				uv0.viewComponent:updateTasks()
			end)
		end
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>