<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sixthanniversaryislandshoplayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>sixthanniversaryislandshoplayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SixthAnniversaryIslandShopLayer&quot;, import(&quot;..base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;SixthAnniversaryIslandShopUI&quot;
end

slot0.setShop = function(slot0, slot1)
	slot0.shop = slot1
	slot0.goodsList = slot1:getSortGoods()
	slot0.activity = getProxy(ActivityProxy):getActivityById(slot1.activityId)
end

slot0.setPlayer = function(slot0, slot1)
	slot0.player = slot1

	setText(slot0.rtRes:Find(&quot;Text&quot;), slot0.player:getResById(350) or 0)
end

slot0.init = function(slot0)
	slot1 = pg.UIMgr.GetInstance()

	slot1:BlurPanel(slot0._tf)

	slot1 = slot0._tf
	slot1 = slot1:Find(&quot;main&quot;)

	setText(slot1:Find(&quot;time/Text&quot;), i18n(&quot;islandshop_tips1&quot;))

	slot0.rtTime = slot1:Find(&quot;time/Text_2&quot;)
	slot0.rtRes = slot1:Find(&quot;tpl&quot;)
	slot2 = slot0._tf
	slot2 = slot2:Find(&quot;main/view/content&quot;)
	slot0.goodsItemList = UIItemList.New(slot2, slot2:Find(&quot;goods&quot;))
	slot3 = slot0.goodsItemList

	slot3:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			uv0.goodsCardDic[uv0.goodsList[slot1].id] = slot2

			onButton(uv0, slot2, function ()
				uv0:emit(SixthAnniversaryIslandShopMediator.OPEN_GOODS_WINDOW, uv0.goodsList[uv1])
			end, SFX_PANEL)
			uv0:updateGoodsCard(slot2, uv0.goodsList[slot1])
		end
	end)

	slot5 = slot0._tf

	onButton(slot0, slot5:Find(&quot;bg&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot5 = slot0._tf

	onButton(slot0, slot5:Find(&quot;main/btn_back&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
end

slot0.updateGoodsCard = function(slot0, slot1, slot2)
	slot3 = slot2:CheckCntLimit()

	setActive(slot1:Find(&quot;mask&quot;), not slot3)
	setGray(slot1, slot3 and not slot2:CheckArgLimit())

	slot5 = slot2:GetConsume()

	setActive(slot1:Find(&quot;btn_unable&quot;), slot5:getOwnedCount() &lt; slot5.count)
	setButtonEnabled(slot1, slot3)
	updateDrop(slot1:Find(&quot;icon/IconTpl&quot;), {
		type = slot2:getConfig(&quot;commodity_type&quot;),
		id = slot2:getConfig(&quot;commodity_id&quot;),
		count = slot2:getConfig(&quot;num&quot;)
	})
	onNextTick(function ()
		changeToScrollText(uv0:Find(&quot;Text&quot;), uv1:getConfig(&quot;name&quot;))
	end)
	GetImageSpriteFromAtlasAsync(Drop.New({
		type = slot2:getConfig(&quot;resource_category&quot;),
		id = slot2:getConfig(&quot;resource_type&quot;)
	}):getIcon(), &quot;&quot;, slot1:Find(&quot;res_icon&quot;))
	setText(slot1:Find(&quot;btn_pay/cost&quot;), slot2:getConfig(&quot;resource_num&quot;))
	setText(slot1:Find(&quot;btn_unable/cost&quot;), slot2:getConfig(&quot;resource_num&quot;))

	if slot2:getConfig(&quot;num_limit&quot;) == 0 then
		setText(slot1:Find(&quot;limit&quot;), i18n(&quot;common_no_limit&quot;))
	else
		setText(slot1:Find(&quot;limit&quot;), i18n(&quot;islandshop_tips2&quot;) .. math.max(slot2:GetPurchasableCnt(), 0) .. &quot;/&quot; .. slot7)
	end
end

slot0.refreshGoodsCard = function(slot0, slot1)
	slot0:updateGoodsCard(slot0.goodsCardDic[slot1], slot0.shop:getGoodsById(slot1))
end

slot0.didEnter = function(slot0)
	slot1 = pg.TimeMgr.GetInstance()
	slot0.timer = Timer.New(function ()
		uv0.delta = uv0.delta and uv0.delta - 1 or uv0.activity.stopTime - uv1:GetServerTime()

		if uv0.strTime ~= string.format(&quot;%d&quot; .. i18n(&quot;word_date&quot;) .. &quot;%d&quot; .. i18n(&quot;word_hour&quot;), uv1:parseTimeFrom(uv0.delta)) then
			setText(uv0.rtTime, slot0)
		end
	end, 1)

	slot0.timer.func()
	slot0.timer:Start()

	slot0.goodsCardDic = {}

	slot0.goodsItemList:align(#slot0.goodsList)
end

slot0.willExit = function(slot0)
	slot0.timer:Stop()
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>