<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>superbulinpopview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>superbulinpopview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SuperBulinPopView&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;SuperBulinPopView&quot;
end

slot0.didEnter = function(slot0)
	slot0.bulinAnim = slot0._tf:Find(&quot;Bulin&quot;):GetComponent(&quot;SpineAnimUI&quot;)

	slot0.bulinAnim:SetActionCallBack(nil)
	onButton(slot0, slot0._tf, function ()
		seriesAsync({
			function (slot0)
				pg.MsgboxMgr.GetInstance():ShowMsgBox({
					content = i18n(&quot;super_bulin&quot;),
					onYes = slot0,
					onNo = function ()
						uv0:closeView()
					end
				})
			end,
			function (slot0)
				slot1 = uv0.contextData.actId

				uv0:closeView()
				pg.m02:sendNotification(GAME.BEGIN_STAGE, {
					warnMsg = &quot;bulin_tip_other3&quot;,
					system = SYSTEM_SIMULATION,
					stageId = uv0.contextData.stageId,
					exitCallback = function ()
						if getProxy(ActivityProxy):getActivityById(uv0).data1 == 2 then
							return
						end

						slot1.data3 = 1

						slot0:updateActivity(slot1)
					end
				})
			end
		})
	end)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>