<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tempestamedalcollectionmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>tempestamedalcollectionmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;TempestaMedalCollectionMediator&quot;, import(&quot;..base.ContextMediator&quot;))
slot0.ON_TASK_SUBMIT = &quot;TempestaMedalCollectionMediator.ON_TASK_SUBMIT&quot;
slot0.ON_TASK_GO = &quot;TempestaMedalCollectionMediator.ON_TASK_GO&quot;

slot0.register = function(slot0)
	slot0:bind(uv0.ON_TASK_SUBMIT, function (slot0, slot1)
		uv0:sendNotification(GAME.SUBMIT_TASK, slot1.id)
	end)
	slot0:bind(uv0.ON_TASK_GO, function (slot0, slot1)
		uv0:sendNotification(GAME.TASK_GO, {
			taskVO = slot1
		})
	end)
	slot0.viewComponent:setActivity(getProxy(ActivityProxy):getActivityById(ActivityConst.PIRATE_MEDAL_ACT_ID))
end

slot0.initNotificationHandleDic = function(slot0)
	slot0.handleDic = {
		[GAME.SUBMIT_TASK_DONE] = function (slot0, slot1)
			slot3 = slot0.viewComponent

			slot3:emit(BaseUI.ON_ACHIEVE, slot1:getBody(), function ()
				uv0.viewComponent:updateTaskLayers()
			end)
		end,
		[GAME.SUBMIT_ACTIVITY_TASK_DONE] = function (slot0, slot1)
			slot3 = slot0.viewComponent

			slot3:emit(BaseUI.ON_ACHIEVE, slot1:getBody().awards, function ()
				uv0.viewComponent:updateTaskLayers()
			end)
		end
	}
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>