<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>voteexchangescene.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>voteexchangescene.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;VoteExchangeScene&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;VoteExchangeUI&quot;
end

slot0.init = function(slot0)
	slot0.closeBtn = slot0:findTF(&quot;blur_panel/adapt/top/back_btn&quot;)
	slot0.dailyTask = slot0:findTF(&quot;left/task/slider/bar&quot;)
	slot0.dailyTaskTxt = slot0:findTF(&quot;left/task/Text&quot;):GetComponent(typeof(Text))
	slot0.timeTxt = slot0:findTF(&quot;right/title/Text/Text&quot;):GetComponent(typeof(Text))
	slot0.dailyTaskGoBtn = slot0:findTF(&quot;left/go&quot;)
	slot0.totalCntTxt = slot0:findTF(&quot;right/total/Text&quot;):GetComponent(typeof(Text))
	slot0.uiItemList = UIItemList.New(slot0:findTF(&quot;right/view/content&quot;), slot0:findTF(&quot;right/view/content/tpl&quot;))
	slot0.taskContainer = slot0:findTF(&quot;right/view&quot;)
	slot0.emptyTr = slot0:findTF(&quot;right/empty&quot;)

	setText(slot0:findTF(&quot;left/bg/Text&quot;), i18n(&quot;vote_lable_daily_task_title&quot;))

	slot1 = string.split(i18n(&quot;vote_lable_daily_task_tip&quot;), &quot;$1&quot;)

	setText(slot0:findTF(&quot;left/task/desc/label1&quot;), slot1[1])
	setText(slot0:findTF(&quot;left/task/desc/labe2&quot;), slot1[2])
	setText(slot0:findTF(&quot;right/title/Text&quot;), i18n(&quot;vote_lable_task_title&quot;))
	setText(slot0.emptyTr:Find(&quot;Image/Text&quot;), i18n(&quot;vote_lable_task_list_is_empty&quot;))
end

slot0.didEnter = function(slot0)
	assert(slot0.contextData.voteGroup)
	onButton(slot0, slot0.dailyTaskGoBtn, function ()
		uv0:emit(VoteExchangeMediator.GO_TASK)
	end, SFX_PANEL)
	onButton(slot0, slot0.closeBtn, function ()
		uv0:emit(uv1.ON_CLOSE)
	end, SFX_PANEL)

	slot0.taskList = slot0:GetTaskList()
	slot0.dailyTaskList = slot0:GetDailyTaskList()

	slot0:Flush()
end

slot0.Flush = function(slot0)
	slot0:UpdateDailyTask()
	slot0:UpdateTitle()
	slot0:UpdateTicket()
	slot0:UpdateTaskList()
end

slot0.UpdateTitle = function(slot0)
	slot0.timeTxt.text = slot0.contextData.voteGroup:getConfig(&quot;name&quot;) .. &quot; &quot; .. slot0.contextData.voteGroup:getTimeDesc()
end

slot0.GetActivity = function(slot0)
	slot2 = nil

	for slot6, slot7 in ipairs(getProxy(ActivityProxy):getActivitiesByType(ActivityConst.ACTIVITY_TYPE_VOTE)) do
		if slot7:getConfig(&quot;config_id&quot;) == slot0.contextData.voteGroup.configId then
			slot2 = slot7

			break
		end
	end

	return slot2
end

slot0.UpdateTicket = function(slot0)
	if slot0:GetActivity() then
		slot0.totalCntTxt.text = slot1.data3 .. &quot;/&quot; .. slot0.contextData.voteGroup:getConfig(&quot;ticket_period&quot;)
	else
		slot0.totalCntTxt.text = &quot;&quot;
	end
end

slot0.GetTaskList = function(slot0)
	if slot0:GetActivity() and slot0.contextData.voteGroup:getConfig(&quot;ticket_period&quot;) &lt;= slot1.data3 then
		return {}
	end

	slot3 = getProxy(TaskProxy)

	for slot7 = #Clone(slot0.contextData.voteGroup:getConfig(&quot;task_period&quot;)), 1, -1 do
		for slot12 = #slot2[slot7], 1, -1 do
			if not slot3:getTaskById(slot8[slot12]) and not slot3:getFinishTaskById(slot13) or slot14:isFinish() and slot14:isReceive() then
				table.remove(slot8, slot12)
			end
		end

		if #slot8 &lt;= 0 then
			table.remove(slot2, slot7)
		end
	end

	return slot2
end

slot0.GetDailyTaskList = function(slot0)
	return slot0.contextData.voteGroup:getConfig(&quot;task_daily&quot;)
end

slot0.UpdateDailyTask = function(slot0)
	slot1 = 0
	slot2 = getProxy(TaskProxy)

	for slot6, slot7 in ipairs(slot0.dailyTaskList) do
		if (slot2:getTaskById(slot7) or slot2:getFinishTaskById(slot7)) and slot8:isFinish() and slot8:isReceive() then
			slot1 = slot1 + 1
		end
	end

	slot0.dailyTaskTxt.text = slot1 .. &quot;/&quot; .. #slot0.dailyTaskList

	setFillAmount(slot0.dailyTask, slot1 / #slot0.dailyTaskList)
end

slot0.UpdateTaskList = function(slot0)
	slot0.uiItemList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateTaskCard(uv0.taskList[slot1 + 1], slot2)
		end
	end)
	slot0.uiItemList:align(#slot0.taskList)

	slot1 = #slot0.taskList &lt;= 0

	setActive(slot0.emptyTr, slot1)
	setActive(slot0.taskContainer, not slot1)
end

slot0.UpdateTaskCard = function(slot0, slot1, slot2)
	slot3 = UIItemList.New(slot2:Find(&quot;content&quot;), slot2:Find(&quot;content/extend_tpl&quot;))

	slot3:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateTaskDesc(uv1[slot1 + 2], slot2)
		end
	end)
	slot3:align(#slot1 - 1)
	slot0:UpdateTaskDesc(slot1[1], slot2:Find(&quot;info&quot;))
end

slot0.UpdateTaskDesc = function(slot0, slot1, slot2)
	slot3 = getProxy(TaskProxy):getTaskById(slot1) or getProxy(TaskProxy):getFinishTaskById(slot1)

	assert(slot3, slot1)

	slot4 = slot3:isFinish()
	slot5 = slot3:isReceive()
	slot7 = slot2:Find(&quot;get&quot;)

	setActive(slot2:Find(&quot;go&quot;), not slot4)
	setActive(slot2:Find(&quot;got&quot;), slot4 and slot5)
	setActive(slot7, slot4 and not slot5)

	slot8 = slot3:getConfig(&quot;award_display&quot;)

	updateDrop(slot2:Find(&quot;IconTpl&quot;), {
		type = slot8[1][1],
		id = slot8[1][2],
		count = slot8[1][3]
	})

	slot9 = slot3:getProgress()
	slot10 = slot3:getConfig(&quot;target_num&quot;)

	setText(slot2:Find(&quot;Text&quot;), slot9 .. &quot;/&quot; .. slot10)
	setText(slot2:Find(&quot;desc&quot;), slot3:getConfig(&quot;desc&quot;))
	setFillAmount(slot2:Find(&quot;Slider/Fill&quot;), slot9 / slot10)
	onButton(slot0, slot6, function ()
		uv0:emit(VoteExchangeMediator.SKIP_TASK, uv1)
	end, SFX_PANEL)
	onButton(slot0, slot7, function ()
		uv0:emit(VoteExchangeMediator.SUBMIT_TASK, uv1.id)
	end, SFX_PANEL)
end

slot0.onBackPressed = function(slot0)
	uv0.super.onBackPressed(slot0)
end

slot0.willExit = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>