<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandgoundlayersystem.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandgoundlayersystem.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandGoundLayerSystem&quot;, import(&quot;Mod.Island.Core.View.SceneObject.IslandSceneUnit&quot;))

slot0.OnAttach = function(slot0, slot1)
	slot0.floorTileRenderer = slot1:GetComponent(typeof(BLHX.Rendering.FloorTileRenderer))
end

slot0.OnStart = function(slot0)
end

slot0.FillFloorCell = function(slot0, slot1)
	slot2 = slot0.data:MapPoint2GroundPoint(slot1:GetPosition())

	slot0.floorTileRenderer:SetTexture(IslandConst.AGORA_LAYER_FLOOR, slot0:ItemID2TextureId(slot1), slot1:GetShapeId(), slot2.x, slot2.y)
end

slot0.ClearFloorCell = function(slot0, slot1)
	slot3 = slot0.data:MapPoint2GroundPoint(slot1)

	slot0.floorTileRenderer:RemoveTexture(IslandConst.AGORA_LAYER_FLOOR, slot3.x, slot3.y)
end

slot0.FillTileCell = function(slot0, slot1)
	slot2 = slot0.data:MapPoint2GroundPoint(slot1:GetPosition())

	slot0.floorTileRenderer:SetTexture(IslandConst.AGORA_LAYER_TILE, slot0:ItemID2TextureId(slot1), slot1:GetShapeId(), slot2.x, slot2.y)
end

slot0.ClearTileCell = function(slot0, slot1)
	slot3 = slot0.data:MapPoint2GroundPoint(slot1)

	slot0.floorTileRenderer:RemoveTexture(IslandConst.AGORA_LAYER_TILE, slot3.x, slot3.y)
end

slot0.ItemID2TextureId = function(slot0, slot1)
	slot2 = slot1:GetID()

	assert(LuaHelper.GetFloorTileRendererLayerIndex(slot0.floorTileRenderer, slot1:GetModel()) &gt;= 0, &quot;cant found textureId&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&quot; .. slot3)

	return slot4
end

slot0.Enable = function(slot0)
end

slot0.Disable = function(slot0)
end

slot0.OnDetach = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>