<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>msgbox4blueprintunlockitem.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>msgbox4blueprintunlockitem.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Msgbox4BlueprintUnlockItem&quot;, import(&quot;.MsgboxSubPanel&quot;))

slot0.getUIName = function(slot0)
	return &quot;Msgbox4BlueprintUnlockItem&quot;
end

slot0.OnRefresh = function(slot0, slot1)
	rtf(slot0.viewParent._window).sizeDelta = Vector2(1010, 685)
	slot2 = slot1.item

	updateDrop(slot0._tf:Find(&quot;IconTpl&quot;), {
		type = DROP_TYPE_ITEM,
		id = slot2.id
	})
	setText(slot0._tf:Find(&quot;content_unlock/title/bg/Text&quot;), i18n(&quot;tech_select_tip1&quot;))
	setText(slot0._tf:Find(&quot;content_unlock/title/Text&quot;), i18n(&quot;tech_select_tip2&quot;))

	slot4 = slot0._tf:Find(&quot;content_unlock/list&quot;)
	slot5 = UIItemList.New(slot4, slot4:GetChild(0))

	slot5:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			updateDrop(slot2:Find(&quot;IconTpl&quot;), {
				type = DROP_TYPE_SHIP,
				id = ShipGroup.getDefaultShipConfig(uv0[slot1].id).id
			})
			setActive(slot2:Find(&quot;IconTpl/mask&quot;), uv0[slot1]:isUnlock())
			setText(slot2:Find(&quot;IconTpl/mask/Text&quot;), i18n(&quot;tech_select_tip3&quot;))
		end
	end)
	slot5:align(#slot1.blueprints)
	setText(slot0._tf:Find(&quot;content_after/title/bg/Text&quot;), i18n(&quot;tech_select_tip4&quot;))
	setText(slot0._tf:Find(&quot;content_after/title/Text&quot;), i18n(&quot;tech_select_tip5&quot;))

	slot7 = slot0._tf:Find(&quot;content_after/list&quot;)
	slot8 = UIItemList.New(slot7, slot7:GetChild(0))

	slot8:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			slot3, slot4, slot5 = unpack(uv0[slot1])

			updateDrop(slot2:Find(&quot;IconTpl&quot;), {
				type = slot3,
				id = slot4,
				count = slot5
			})
		end
	end)
	slot8:align(#slot2:getConfig(&quot;display_icon&quot;))
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>