<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>msgbox4linkcollectguide.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>msgbox4linkcollectguide.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Msgbox4LinkCollectGuide&quot;, import(&quot;.MsgboxSubPanel&quot;))
slot0.SHOW_TYPE_NORMAL = 1
slot0.SHOW_TYPE_LIMIT = 2
slot0.SKIP_TYPE_SCENE = 2
slot0.SKIP_TYPE_ACTIVITY = 3

slot0.getUIName = function(slot0)
	return &quot;Msgbox4LinkCollectGuide&quot;
end

slot0.OnInit = function(slot0)
	slot0.title = slot0:findTF(&quot;name_mask/name&quot;)
	slot0.owner = slot0:findTF(&quot;owner&quot;)

	setText(slot0:findTF(&quot;title&quot;, slot0.owner), i18n(&quot;collect_page_got&quot;))

	slot0.ownerLimit = slot0:findTF(&quot;owner_limit&quot;)

	setText(slot0:findTF(&quot;title&quot;, slot0.ownerLimit), i18n(&quot;collect_page_got&quot;))

	slot0.iconTF = slot0:findTF(&quot;left/IconTpl&quot;)
	slot0.ownTF = slot0:findTF(&quot;left/own&quot;)
	slot0.detailTF = slot0:findTF(&quot;left/detail&quot;)
	slot0.desc = slot0:findTF(&quot;content/desc&quot;)
	slot0.list = slot0:findTF(&quot;content/skipable_list&quot;)
	slot0.tpl = slot0:findTF(&quot;tpl&quot;, slot0.list)
end

slot0.OnRefresh = function(slot0, slot1)
	slot0:SetWindowSize(Vector2(930, 540))
	setActive(slot0.viewParent._btnContainer, false)

	slot2 = Drop.New({
		type = slot1.drop_type,
		id = slot1.drop_id
	})

	updateDrop(slot0.iconTF, slot2)
	UpdateOwnDisplay(slot0.ownTF, slot2)
	RegisterDetailButton(slot0.viewParent, slot0.detailTF, slot2)
	changeToScrollText(slot0.title, slot2.cfg.name)
	setText(slot0.desc, slot2.desc)

	if slot1.show_type == uv0.SHOW_TYPE_NORMAL then
		setActive(slot0.owner, true)
		setActive(slot0.ownerLimit, false)
		setText(slot0:findTF(&quot;Text&quot;, slot0.owner), slot1.count)
	elseif slot1.show_type == uv0.SHOW_TYPE_LIMIT then
		setActive(slot0.owner, false)
		setActive(slot0.ownerLimit, true)
		setText(slot0:findTF(&quot;Text&quot;, slot0.ownerLimit), slot1.count .. &quot;/&quot; .. (slot1.count_limit or 0))
	end

	UIItemList.StaticAlign(slot0.list, slot0.tpl, #slot1.skipable_list, function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0.skipable_list[slot1 + 1]
			slot4 = slot3[1]
			slot5 = slot3[2]
			slot8 = uv1

			changeToScrollText(slot8:findTF(&quot;mask/title&quot;, slot2), slot3[3])

			slot7 = uv1

			onButton(uv1, slot7:findTF(&quot;skip_btn&quot;, slot2), function ()
				if uv0 == uv1.SKIP_TYPE_SCENE then
					pg.m02:sendNotification(GAME.GO_SCENE, uv2[1], uv2[2] or {})
				elseif uv0 == uv1.SKIP_TYPE_ACTIVITY then
					pg.m02:sendNotification(GAME.GO_SCENE, SCENE.ACTIVITY, {
						id = uv2
					})
				end

				uv3.viewParent:hide()
			end, SFX_PANEL)
			Canvas.ForceUpdateCanvases()
		end
	end)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>