<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>msgbox4contentitems.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>msgbox4contentitems.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Msgbox4ContentItems&quot;, import(&quot;.MsgboxSubPanel&quot;))

slot0.getUIName = function(slot0)
	return &quot;Msgbox4ContentItems&quot;
end

slot0.OnRefresh = function(slot0, slot1)
	rtf(slot0.viewParent._window).sizeDelta = Vector2.New(1000, 638)

	setText(slot0._tf:Find(&quot;content&quot;), slot1.content)

	slot2 = slot0._tf:Find(&quot;list&quot;)
	slot3 = UIItemList.New(slot2, slot2:GetChild(0))

	slot3:make(function (slot0, slot1, slot2)
		slot1 = slot1 + 1

		if slot0 == UIItemList.EventUpdate then
			updateDrop(slot2, uv0.items[slot1])
			setActive(slot2:Find(&quot;name&quot;), false)
			setActive(slot2:Find(&quot;name_mask&quot;), false)
			setScrollText(slot2:Find(&quot;name_mask/name&quot;), getText(slot2:Find(&quot;name&quot;)))
		end
	end)
	slot3:align(#slot1.items)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>