<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battlesubcharacterfactory.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>battlesubcharacterfactory.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">ys = ys or {}
slot0 = ys
slot1 = singletonClass(&quot;BattleSubCharacterFactory&quot;, slot0.Battle.BattlePlayerCharacterFactory)
slot0.Battle.BattleSubCharacterFactory = slot1
slot1.__name = &quot;BattleSubCharacterFactory&quot;

slot1.Ctor = function(slot0)
	uv0.super.Ctor(slot0)

	slot0.ARROW_BAR_NAME = &quot;EnemyArrowContainer/SubArrow&quot;
end

slot1.MakeCharacter = function(slot0)
	return uv0.Battle.BattleSubCharacter.New()
end
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>