<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>votescene.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>votescene.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;VoteScene&quot;, import(&quot;..base.BaseUI&quot;))
slot0.ShipIndex = {
	typeIndex = ShipIndexConst.TypeAll,
	campIndex = ShipIndexConst.CampAll,
	rarityIndex = ShipIndexConst.RarityAll
}
slot0.ShipIndexData = {
	customPanels = {
		typeIndex = {
			blueSeleted = true,
			mode = CustomIndexLayer.Mode.AND,
			options = ShipIndexConst.TypeIndexs,
			names = ShipIndexConst.TypeNames
		},
		campIndex = {
			blueSeleted = true,
			mode = CustomIndexLayer.Mode.AND,
			options = ShipIndexConst.CampIndexs,
			names = ShipIndexConst.CampNames
		},
		rarityIndex = {
			blueSeleted = true,
			mode = CustomIndexLayer.Mode.AND,
			options = ShipIndexConst.RarityIndexs,
			names = ShipIndexConst.RarityNames
		}
	},
	groupList = {
		{
			dropdown = false,
			titleENTxt = &quot;indexsort_indexeng&quot;,
			titleTxt = &quot;indexsort_index&quot;,
			tags = {
				&quot;typeIndex&quot;
			}
		},
		{
			dropdown = false,
			titleENTxt = &quot;indexsort_campeng&quot;,
			titleTxt = &quot;indexsort_camp&quot;,
			tags = {
				&quot;campIndex&quot;
			}
		},
		{
			dropdown = false,
			titleENTxt = &quot;indexsort_rarityeng&quot;,
			titleTxt = &quot;indexsort_rarity&quot;,
			tags = {
				&quot;rarityIndex&quot;
			}
		}
	}
}

slot0.getUIName = function(slot0)
	return &quot;VoteUI&quot;
end

slot0.LoadUIFromPool = function(slot0, slot1, slot2)
	slot4 = nil

	uv0.super.LoadUIFromPool(slot0, slot0.contextData.voteGroup:isFinalsRace() and &quot;VoteUIForFinal&quot; or slot3:isResurrectionRace() and &quot;VoteUIForResurrection&quot; or slot3:IsFunMetaRace() and &quot;VoteUIForMeta&quot; or slot3:IsFunSireRace() and &quot;VoteUIForSire&quot; or slot3:IsFunKidRace() and &quot;VoteUIForKid&quot; or &quot;VoteUI&quot;, slot2)
end

slot0.init = function(slot0)
	slot0.title = slot0:findTF(&quot;main/right_panel/title/main&quot;):GetComponent(typeof(Text))
	slot0.titleBg1 = slot0:findTF(&quot;main/right_panel/title/title_bg1&quot;)
	slot0.titleBg2 = slot0:findTF(&quot;main/right_panel/title/title_bg2&quot;)
	slot0.titleBg3 = slot0:findTF(&quot;main/right_panel/title/title_bg3&quot;)
	slot0.subTitle = slot0:findTF(&quot;main/right_panel/title/Text&quot;):GetComponent(typeof(Text))
	slot0.tagtimeTF = slot0:findTF(&quot;main/right_panel/title/main/sub&quot;):GetComponent(typeof(Text))
	slot0.backBtn = slot0:findTF(&quot;blur_panel/adapt/top/back_btn&quot;)
	slot0.helpBtn = slot0:findTF(&quot;main/right_panel/title/help&quot;)
	slot0.filterBtn = slot0:findTF(&quot;main/right_panel/filter_bg/filter_btn&quot;)
	slot0.filterSel = slot0:findTF(&quot;main/right_panel/filter_bg/filter_btn/Image&quot;)
	slot0.scheduleBtn = slot0:findTF(&quot;main/right_panel/title/schedule&quot;)
	slot0.awardBtn = slot0:findTF(&quot;main/right_panel/filter_bg/award_btn&quot;)
	slot0.ticketBtn = slot0:findTF(&quot;main/right_panel/filter_bg/ticket&quot;)
	slot0.numberTxt = slot0:findTF(&quot;main/right_panel/filter_bg/Text&quot;):GetComponent(typeof(Text))
	slot0.search = slot0:findTF(&quot;main/right_panel/filter_bg/search&quot;)

	setText(slot0:findTF(&quot;main/right_panel/filter_bg/search/hold&quot;), i18n(&quot;dockyard_search_holder&quot;))
end

slot0.GetPageMap = function(slot0)
	return {
		[VoteConst.RACE_TYPE_PRE] = {
			VotePreRaceShipPage,
			VotePreRaceRankPage
		},
		[VoteConst.RACE_TYPE_GROUP] = {
			VoteGroupRaceShipPage,
			VoteGroupRaceRankPage
		},
		[VoteConst.RACE_TYPE_RESURGENCE] = {
			VoteGroupRaceShipPage,
			VoteGroupRaceRankPage
		},
		[VoteConst.RACE_TYPE_FINAL] = {
			VoteFinalsRaceShipsPage,
			VoteFinalsRaceRankPage
		},
		[VoteConst.RACE_TYPE_PRE_RESURGENCE] = {
			VoteGroupRaceShipPage,
			VoteGroupRaceRankPage
		},
		[VoteConst.RACE_TYPE_FUN] = {
			FunRaceShipsPage,
			VoteFunRaceRankPage
		}
	}
end

slot0.didEnter = function(slot0)
	slot1 = slot0:GetPageMap()
	slot2 = slot0.contextData.voteGroup:getConfig(&quot;type&quot;)
	slot0.shipsPage = slot1[slot2][1].New(slot0:findTF(&quot;main/right_panel&quot;), slot0.event, slot0.contextData)

	slot0.shipsPage:SetCallBack(function (slot0, slot1)
		seriesAsync({
			function (slot0)
				uv0:CheckPaintingRes(uv1, slot0)
			end
		}, function ()
			uv0:OnVote(uv1, uv2)
		end)
	end)

	slot0.rankPage = slot1[slot2][2].New(slot0:findTF(&quot;main/left_panel&quot;), slot0.event, slot0.contextData)
	slot0.voteMsgBox = VoteDiaplayPage.New(slot0._tf, slot0.event)
	slot0.awardWindowPage = VoteAwardWindowPage.New(slot0._tf, slot0.event)

	onButton(slot0, slot0.backBtn, function ()
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, slot0.helpBtn, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip[uv0.contextData.voteGroup:getConfig(&quot;help_text&quot;)].tip
		})
	end, SFX_PANEL)
	setActive(slot0.helpBtn, false)
	onButton(slot0, slot0.filterBtn, function ()
		slot0 = Clone(uv0.ShipIndexData)
		slot0.indexDatas = Clone(uv0.ShipIndex)

		slot0.callback = function(slot0)
			uv0.ShipIndex.typeIndex = slot0.typeIndex
			uv0.ShipIndex.rarityIndex = slot0.rarityIndex
			uv0.ShipIndex.campIndex = slot0.campIndex

			uv1:initShips()
		end

		uv1:emit(VoteMediator.ON_FILTER, slot0)
	end, SFX_PANEL)
	onInputEndEdit(slot0, slot0.search, function ()
		uv0:initShips()
	end)
	onButton(slot0, slot0.scheduleBtn, function ()
		uv0:emit(VoteMediator.ON_SCHEDULE)
	end, SFX_PANEL)
	onButton(slot0, slot0.awardBtn, function ()
		uv0.awardWindowPage:ExecuteAction(&quot;Show&quot;)
	end, SFX_PANEL)
	onButton(slot0, slot0.ticketBtn, function ()
		uv0:emit(VoteMediator.OPEN_EXCHANGE)
	end)
	slot0:updateMainview()
	slot0:initTitles()
end

slot0.CheckPaintingRes = function(slot0, slot1, slot2)
	slot5 = {}

	for slot9, slot10 in ipairs({
		slot1.voteShip:getPainting()
	}) do
		PaintingGroupConst.AddPaintingNameWithFilteMap(slot5, slot10)
	end

	PaintingGroupConst.PaintingDownload({
		isShowBox = true,
		paintingNameList = slot5,
		finishFunc = slot2
	})
end

slot0.OnVote = function(slot0, slot1, slot2)
	slot3 = slot1.voteShip
	slot4 = slot0.contextData.voteGroup
	slot6 = slot0.voteMsgBox

	slot6:ExecuteAction(&quot;Open&quot;, slot3, slot4:GetRank(slot3), slot0:GetVotes(), defaultValue(slot2, false), function (slot0)
		if uv0.contextData.voteGroup:GetStage() ~= VoteGroup.VOTE_STAGE then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;common_activity_end&quot;))

			return
		end

		if slot0 &lt;= uv1 then
			uv0:emit(VoteMediator.ON_VOTE, uv0.contextData.voteGroup.id, uv2.group, slot0)
		else
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;vote_not_enough&quot;))
		end
	end)
end

slot0.updateMainview = function(slot0)
	slot0:initShips()
	slot0:initRanks()
	slot0:updateNumber()
end

slot0.initRanks = function(slot0)
	slot0.rankPage:ExecuteAction(&quot;Update&quot;, slot0.contextData.voteGroup)
end

slot0.initShips = function(slot0)
	slot0.displays = {}
	slot2 = getInputText(slot0.search)

	for slot6, slot7 in ipairs(slot0.contextData.voteGroup:GetRankList()) do
		if uv0.ShipIndex.typeIndex == ShipIndexConst.TypeAll and uv0.ShipIndex.rarityIndex == ShipIndexConst.RarityAll and uv0.ShipIndex.campIndex == ShipIndexConst.CampAll and slot7:IsMatchSearchKey(slot2) then
			table.insert(slot0.displays, slot7)
		elseif ShipIndexConst.filterByType(slot7, uv0.ShipIndex.typeIndex) and ShipIndexConst.filterByRarity(slot8, uv0.ShipIndex.rarityIndex) and ShipIndexConst.filterByCamp(slot8, uv0.ShipIndex.campIndex) and slot7:IsMatchSearchKey(slot2) then
			table.insert(slot0.displays, slot7)
		end
	end

	slot0.shipsPage:ExecuteAction(&quot;Update&quot;, slot0.contextData.voteGroup, slot0.displays, slot0:GetVotes())
	setActive(slot0.filterSel, uv0.ShipIndex.typeIndex ~= ShipIndexConst.TypeAll or uv0.ShipIndex.campIndex ~= ShipIndexConst.CampAll or uv0.ShipIndex.rarityIndex ~= ShipIndexConst.RarityAll)
end

slot0.initTitles = function(slot0)
	slot0.tagtimeTF.text = slot0.contextData.voteGroup:getTimeDesc()

	if not slot0.contextData.voteGroup:isFinalsRace() then
		slot0.title.text = slot0.contextData.voteGroup:getConfig(&quot;name&quot;)
	end

	slot0.subTitle.text = slot0.contextData.voteGroup:getConfig(&quot;desc&quot;)
end

slot0.updateNumber = function(slot0)
	slot0.numberTxt.text = &quot;X&quot; .. slot0:GetVotes()
end

slot0.GetVotes = function(slot0)
	return getProxy(VoteProxy):GetVotesByConfigId(slot0.contextData.voteGroup.configId)
end

slot0.onBackPressed = function(slot0)
	if slot0.voteMsgBox and slot0.voteMsgBox:GetLoaded() and slot0.voteMsgBox:isShowing() then
		slot0.voteMsgBox:Close()

		return
	end

	if slot0.awardWindowPage and slot0.awardWindowPage:GetLoaded() and slot0.awardWindowPage:isShowing() then
		slot0.awardWindowPage:Hide()

		return
	end

	slot0:emit(uv0.ON_BACK_PRESSED)
end

slot0.willExit = function(slot0)
	if slot0.rankPage then
		slot0.rankPage:Destroy()

		slot0.rankPage = nil
	end

	if slot0.shipsPage then
		slot0.shipsPage:Destroy()

		slot0.shipsPage = nil
	end

	if slot0.voteMsgBox then
		slot0.voteMsgBox:Destroy()

		slot0.voteMsgBox = nil
	end

	if slot0.awardWindowPage then
		slot0.awardWindowPage:Destroy()

		slot0.awardWindowPage = nil
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>