<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dorm3dvolleyballscene.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>dorm3dvolleyballscene.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;Dorm3dVolleyballScene&quot;, import(&quot;view.dorm3d.Game.Dorm3dGameTemplate&quot;))
slot1 = &quot;ui-dorm_countdown&quot;
slot2 = &quot;ui-dorm_qte_appear&quot;
slot3 = &quot;ui-dorm_qte_hit&quot;
slot4 = &quot;ui-dorm_qte_citical&quot;
slot5 = &quot;ui-dorm_qte_miss&quot;
slot6 = &quot;ui-dorm_scoring&quot;
slot7 = &quot;ui-dorm_victory&quot;
slot8 = &quot;ui-dorm_pop_up&quot;
slot0.QTE_RESULT = {
	MISS = &quot;Miss&quot;,
	PERFECT = &quot;Critical&quot;,
	HIT = &quot;Hit&quot;
}
slot0.ROUND_RESULT = {
	OUR_WIN = 1,
	OTHER_WIN = 2
}
slot0.GAME_RESULT = {
	DEFEAT = 2,
	VICTORY = 1
}
slot0.hitRadiusMax = 231
slot0.hitRadiusMin = 50
slot0.perfectRadiusMax = 139
slot0.perfectRadiusMin = 85
slot0.perfectScaleRandoms = {
	0.7,
	1.7
}
slot0.triggerRadius = 255
slot0.endScore = 6
slot0.BallInitPos = Vector3(22, 4.5, -22.4)
slot0.BallSpeed = 0.1
slot0.BallQTESpeed = 0.01
slot0.BallRandomDelat = {
	Top = 300,
	Left = 300,
	Bottom = 300,
	Right = 300
}

slot0.getUIName = function(slot0)
	return &quot;Dorm3dVolleyballUI&quot;
end

slot9 = nil

slot0.Ctor = function(slot0, ...)
	uv0.super.Ctor(slot0, ...)

	slot0.loader = AutoLoader.New()
end

slot0.preload = function(slot0, slot1)
	slot2 = slot0.contextData.groupId
	slot5 = getProxy(ApartmentProxy)

	slot0:SetApartment(slot5:getApartment(slot2))

	slot0.volleyballCfg = pg.dorm3d_volleyball[slot2]
	slot0.sceneRootName = &quot;beach&quot;
	slot0.sceneName = &quot;map_beach_01&quot;
	slot0.timelineSceneRootName = pg.dorm3d_dorm_template[slot2].asset_name
	slot0.timelineSceneName = slot0.volleyballCfg.scene_name

	seriesAsync({
		function (slot0)
			slot1 = SceneOpMgr.Inst

			slot1:LoadSceneAsync(string.lower(&quot;dorm3d/scenesres/scenes/&quot; .. uv0.sceneRootName .. &quot;/&quot; .. uv0.sceneName .. &quot;_scene&quot;), uv0.sceneName, LoadSceneMode.Additive, function (slot0, slot1)
				uv0:InitGameParam()
				SceneManager.SetActiveScene(slot0)
				uv1()
			end)
		end,
		function (slot0)
			slot2 = uv0.timelineSceneName
			slot3 = SceneOpMgr.Inst

			slot3:LoadSceneAsync(string.lower(&quot;dorm3d/character/&quot; .. uv0.timelineSceneRootName .. &quot;/timeline/&quot; .. slot2 .. &quot;/&quot; .. slot2 .. &quot;_scene&quot;), slot2, LoadSceneMode.Additive, function (slot0, slot1)
				uv0()
			end)
		end
	}, slot1)
end

slot0.InitGameParam = function(slot0)
	uv0.BallSpeed = slot0.volleyballCfg.BallSpeedParam[1]
	uv0.BallQTESpeed = slot0.volleyballCfg.BallSpeedParam[2]
	uv0.endScore = slot0.volleyballCfg.endScore
end

slot0.init = function(slot0)
	slot0:initUI()
	slot0:initScene()
	slot0:BindEvent()
end

slot0.initUI = function(slot0)
	slot0.skipUI = slot0._tf:Find(&quot;SkipUI&quot;)

	setActive(slot0.skipUI, false)

	slot0.gameUI = slot0._tf:Find(&quot;GameUI&quot;)

	setText(slot0.gameUI:Find(&quot;Title/Text&quot;), i18n(&quot;dorm3d_volleyball_title&quot;))

	slot0.ourScoreTF = slot0.gameUI:Find(&quot;Score/Content/Left&quot;)
	slot0.otherScoreTF = slot0.gameUI:Find(&quot;Score/Content/Right&quot;)
	slot0.qteTF = slot0.gameUI:Find(&quot;QTE&quot;)
	slot0.qteTriggerTF = slot0.gameUI:Find(&quot;QTE/animroot/Trigger&quot;)

	setActive(slot0.qteTF, false)
	setActive(slot0.gameUI, false)
	slot0.gameUI:Find(&quot;Count&quot;):GetComponent(typeof(DftAniEvent)):SetEndEvent(function ()
		if not uv0.isStartGame then
			return
		end

		uv0.isStartGame = false

		setActive(uv0.gameUI:Find(&quot;Count&quot;), false)
		uv0:StartOneRound()
		setActive(uv0.gameUI:Find(&quot;Score&quot;), true)
	end)

	slot0.scoreUI = slot0._tf:Find(&quot;ScoreUI&quot;)

	setActive(slot0.scoreUI, false)

	slot0.endUI = slot0._tf:Find(&quot;EndUI&quot;)

	setActive(slot0.endUI, false)

	slot0.resultUI = slot0._tf:Find(&quot;ResultUI&quot;)

	setActive(slot0.resultUI, false)
	setText(slot0.resultUI:Find(&quot;AgainBtn/Text&quot;), i18n(&quot;dorm3d_minigame_again&quot;))
	setText(slot0.resultUI:Find(&quot;CloseBtn/Text&quot;), i18n(&quot;dorm3d_minigame_close&quot;))
	slot0.scoreUI:GetComponent(typeof(DftAniEvent)):SetEndEvent(function ()
		if not uv0.isEndOneRound then
			return
		end

		uv0.isEndOneRound = false

		quickPlayAnimation(uv0.scoreUI, &quot;Anim_Dorm3d_volleyball_score_out&quot;)
		onDelayTick(function ()
			setActive(uv0.scoreUI, false)
		end, 0.1)

		if uv0:CheckEndGame() then
			uv0:EndGame()
		else
			setActive(uv0.gameUI, true)
			uv0:StartOneRound()
		end
	end)

	slot1 = slot0._tf:Find(&quot;Debug&quot;)

	setActive(slot1, false)

	slot0.debugTimelineName = slot1:Find(&quot;Timeline&quot;):GetComponent(typeof(Text))
	slot0.debugTrackName = slot1:Find(&quot;Track&quot;):GetComponent(typeof(Text))
end

slot0.BindEvent = function(slot0)
	slot3 = slot0.gameUI

	onButton(slot0, slot3:Find(&quot;Title/BackBtn&quot;), function ()
		uv0:onBackPressed()
	end, SFX_CANCEL)
	onButton(slot0, slot0.gameUI, function ()
		if not uv0.startQTEUI then
			return
		end

		uv0:EndQTE()
	end)

	slot3 = slot0.skipUI

	onButton(slot0, slot3:Find(&quot;SkipBtn&quot;), function ()
		setActive(uv0.skipUI, false)
		uv0:StopPlayingTimeline()
		uv0:StartGame()
	end, SFX_PANEL)
	onButton(slot0, slot0.endUI, function ()
		uv0:emit(Dorm3dGameMediatorTemplate.TRIGGER_FAVOR, uv0.apartment.configId)
	end, SFX_PANEL)

	slot3 = slot0.resultUI

	onButton(slot0, slot3:Find(&quot;AgainBtn&quot;), function ()
		setActive(uv0.resultUI, false)
		uv0:StartGame()
	end, SFX_PANEL)

	slot3 = slot0.resultUI

	onButton(slot0, slot3:Find(&quot;CloseBtn&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
end

slot0.initScene = function(slot0)
	slot1 = SceneManager.GetSceneByName(slot0.sceneName)

	table.IpairsCArray(slot1:GetRootGameObjects(), function (slot0, slot1)
		if slot1.name == &quot;[MainBlock]&quot; then
			uv0.modelRoot = tf(slot1):Find(&quot;[Model]/scene_root&quot;)
			uv0.ballTF = uv0.modelRoot:Find(&quot;fbx/litmap05/pre_db_sportinggoods03&quot;)
			uv0.ballTF.position = uv1.BallInitPos

			setActive(uv0.ballTF, false)
		elseif slot1.name == &quot;MainCamera&quot; then
			uv0.mainCamera = slot1.transform

			setActive(uv0.mainCamera, false)
		elseif slot1.name == &quot;PlayerCamera&quot; then
			uv0.ballCamera = slot1.transform
			uv0.ballCameraComp = uv0.ballCamera:GetComponent(typeof(Camera))

			setActive(uv0.ballCamera, false)
		elseif slot1.name == &quot;TriggerPlane&quot; then
			setActive(slot1, false)

			slot2 = tf(slot1):Find(&quot;BallCreate&quot;)
			slot3 = slot2:GetComponent(typeof(UnityEngine.MeshCollider)).sharedMesh
			uv0.ballCreatePlane = Plane.New(slot3.normals[0], -Vector3.Dot(slot2.position, slot3.normals[0]))
			slot4 = tf(slot1):Find(&quot;BallQte&quot;)

			setLocalPosition(slot4, Vector3(uv0.volleyballCfg.BallQtePlane[1][1], uv0.volleyballCfg.BallQtePlane[1][2], uv0.volleyballCfg.BallQtePlane[1][3]))
			setLocalEulerAngles(slot4, Vector3(uv0.volleyballCfg.BallQtePlane[2][1], uv0.volleyballCfg.BallQtePlane[2][2], uv0.volleyballCfg.BallQtePlane[2][3]))

			slot5 = slot4:GetComponent(typeof(UnityEngine.MeshCollider)).sharedMesh
			uv0.ballQtePlane = Plane.New(slot5.normals[0], -Vector3.Dot(slot4.position, slot5.normals[0]))
			slot6 = tf(slot1):Find(&quot;BallMiss&quot;)

			setLocalPosition(slot6, Vector3(uv0.volleyballCfg.BallMissPlane[1][1], uv0.volleyballCfg.BallMissPlane[1][2], uv0.volleyballCfg.BallMissPlane[1][3]))
			setLocalEulerAngles(slot6, Vector3(uv0.volleyballCfg.BallMissPlane[2][1], uv0.volleyballCfg.BallMissPlane[2][2], uv0.volleyballCfg.BallMissPlane[2][3]))

			slot7 = slot6:GetComponent(typeof(UnityEngine.MeshCollider)).sharedMesh
			uv0.ballMissPlane = Plane.New(slot7.normals[0], -Vector3.Dot(slot6.position, slot7.normals[0]))
		end
	end)
	slot0:InitLightSettings()

	slot2 = SceneManager.GetSceneByName(slot0.timelineSceneName)
	slot0.totalDirectorList = {}

	table.IpairsCArray(slot2:GetRootGameObjects(), function (slot0, slot1)
		if IsNil(tf(slot1):Find(&quot;[sequence]&quot;)) then
			return
		end

		slot3 = slot2:GetComponent(typeof(UnityEngine.Playables.PlayableDirector))
		slot3.playOnAwake = false

		slot3:Stop()

		for slot8, slot9 in ipairs(slot2:GetComponentsInChildren(typeof(UnityEngine.Playables.PlayableDirector)):ToTable()) do
			slot9.playOnAwake = false

			slot9:Stop()
		end

		table.insert(uv0.totalDirectorList, {
			name = slot1.name,
			director = slot3
		})
		setActive(slot1, false)
	end)
end

slot0.InitLightSettings = function(slot0)
	slot0.globalVolume = GameObject.Find(&quot;GlobalVolume&quot;)
	slot0.characterLight = GameObject.Find(&quot;CharacterLight&quot;)
	slot1 = GameObject.Find(&quot;[Lighting]&quot;).transform

	table.IpairsCArray(slot1:GetComponentsInChildren(typeof(Light)), function (slot0, slot1)
		slot1.shadows = UnityEngine.LightShadows.None
	end)
end

slot0.didEnter = function(slot0)
	slot0:InitData()
	setActive(slot0.skipUI, true)
	slot0:PlayTimeline({
		name = slot0:GetWeightTimeline(&quot;jinchang&quot;)
	}, function ()
		if not uv0.playingFlag then
			setActive(uv0.skipUI, false)
			uv0:StartGame()
		end
	end)
end

slot0.InitData = function(slot0)
end

slot0.PlayTimeline = function(slot0, slot1, slot2)
	slot4 = slot1.track
	slot5 = _.detect(slot0.totalDirectorList, function (slot0)
		return slot0.name == uv0
	end)

	assert(slot5, &quot;Missing director &quot; .. slot1.name)
	slot0:StopPlayingTimeline(tobool(slot5))

	if not slot5 then
		existCall(slot2)

		return
	end

	slot6 = {}
	slot0.playingDirector = slot5.director
	slot0.debugTimelineName.text = slot0.playingDirector.transform.parent.name

	table.insert(slot6, function (slot0)
		if uv0.time then
			uv1.playingDirector.time = math.clamp(uv0.time, 0, uv1.playingDirector.duration)
		end

		TimelineSupport.InitTimeline(uv1.playingDirector)

		slot1 = {}

		GetOrAddComponent(uv2, &quot;DftCommonSignalReceiver&quot;):SetCommonEvent(function (slot0)
			switch(slot0.stringParameter, {
				TimelineRandomTrack = function ()
					uv0:DoTimelineRandomTrack(uv0.playingDirector)
				end,
				TimelineLoop = function ()
					uv0.playingDirector.time = uv1.floatParameter
				end,
				TimelineEnd = function ()
					uv0.finish = true

					uv1.playingDirector:Stop()
					setActive(tf(uv1.playingDirector).parent, false)
				end
			}, function ()
				warning(&quot;other event trigger:&quot; .. uv0.stringParameter)
			end)

			if uv1.finish then
				uv0.timelineMark = uv1
				uv0.debugTimelineName.text = &quot;&quot;
				uv0.debugTrackName.text = &quot;&quot;

				uv2()
			end
		end)
		uv1.playingDirector:Evaluate()
		uv1:DoTimelineRandomTrack(uv1.playingDirector)
		setActive(tf(uv1.playingDirector).parent, true)
		uv1.playingDirector:Play()
		setActive(uv1.mainCamera, false)

		if uv1.activeDirectorInfo then
			uv1.lastDirectorInfo = uv1.activeDirectorInfo
		end

		uv1.activeDirectorInfo = uv3
	end)
	seriesAsync(slot6, function ()
		setActive(uv0.mainCamera, true)

		uv0.playingDirector = nil
		uv0.timelineMark = nil

		existCall(uv1, uv0.timelineMark)
	end)
end

slot0.StopPlayingTimeline = function(slot0, slot1)
	if slot0.playingDirector then
		slot0.playingDirector:Stop()
		setActive(tf(slot0.playingDirector).parent, false)

		slot0.debugTimelineName.text = &quot;&quot;
		slot0.debugTrackName.text = &quot;&quot;
		slot0.playingDirector = nil

		if not slot1 then
			setActive(slot0.mainCamera, true)
		end
	end
end

slot0.StartGame = function(slot0)
	setActive(slot0.mainCamera, true)

	slot0.playingFlag = true
	slot0.gameResult = nil
	slot0.otherScore = 0
	slot0.ourScore = 0

	setActive(slot0.gameUI, true)
	setActive(slot0.gameUI:Find(&quot;Score&quot;), false)
	setActive(slot0.gameUI:Find(&quot;Count&quot;), true)

	slot0.isStartGame = true

	pg.CriMgr.GetInstance():PlaySE_V3(uv0)
end

slot0.UpdateGameScore = function(slot0)
	setText(slot0.ourScoreTF, slot0.ourScore)
	setText(slot0.otherScoreTF, slot0.otherScore)
end

slot0.UpdateScoreTpl = function(slot0, slot1)
	setText(slot1:Find(&quot;Left/Tens/Text&quot;), 0)
	setText(slot1:Find(&quot;Left/Units/Text&quot;), slot0.ourScore % 10)
	setText(slot1:Find(&quot;Right/Tens/Text&quot;), 0)
	setText(slot1:Find(&quot;Right/Units/Text&quot;), slot0.otherScore % 10)
end

slot0.StartOneRound = function(slot0)
	slot0:UpdateGameScore()

	slot0.roundEndFlag = false
	slot0.roundResult = nil

	seriesAsync({
		function (slot0)
			uv0:FaQiuOP(slot0)
		end,
		function (slot0)
			uv0:OneQTE()
		end
	})
end

slot0.OneQTE = function(slot0)
	seriesAsync({
		function (slot0)
			uv0:StartQTE(slot0)
		end,
		function (slot0)
			switch(uv0.qteResult, {
				[uv1.QTE_RESULT.MISS] = function ()
					slot0 = uv0

					slot0:QteMissOP(function ()
						uv0.roundEndFlag = true
						uv0.roundResult = uv1.ROUND_RESULT.OTHER_WIN

						uv2()
					end)
				end,
				[uv1.QTE_RESULT.HIT] = function ()
					uv0:QteHitOP(uv1)
				end,
				[uv1.QTE_RESULT.PERFECT] = function ()
					slot0 = uv0

					slot0:QtePerfectOP(function ()
						uv0.roundEndFlag = true
						uv0.roundResult = uv1.ROUND_RESULT.OUR_WIN

						uv2()
					end)
				end
			}, function ()
				assert(false, &quot;unknow qte result&quot; .. uv0.qteResult)
			end)
		end
	}, function ()
		if not uv0.roundEndFlag then
			uv0:OneQTE()
		else
			uv0:EndOneRound()
		end
	end)
end

slot0.EndOneRound = function(slot0)
	slot1 = pg.CriMgr.GetInstance()

	slot1:PlaySE_V3(uv0)

	slot0.isEndOneRound = true

	setActive(slot0.gameUI, false)

	slot3 = slot0.scoreUI

	slot0:UpdateScoreTpl(slot3:Find(&quot;ScoreTpl&quot;))

	slot2 = slot0.scoreUI

	setText(slot2:Find(&quot;ScoreTpl/Left/Units/new/newText&quot;), slot0.ourScore % 10)

	slot2 = slot0.scoreUI

	setText(slot2:Find(&quot;ScoreTpl/Right/Units/new/newText&quot;), slot0.otherScore % 10)
	switch(slot0.roundResult, {
		[uv1.ROUND_RESULT.OUR_WIN] = function ()
			uv0.ourScore = uv0.ourScore + 1

			setText(uv0.scoreUI:Find(&quot;ScoreTpl/Left/Units/new/newText&quot;), uv0.ourScore % 10)
			setActive(uv0.scoreUI, true)
			quickPlayAnimation(uv0.scoreUI, &quot;Anim_Dorm3d_volleyball_score_leftin&quot;)
		end,
		[uv1.ROUND_RESULT.OTHER_WIN] = function ()
			uv0.otherScore = uv0.otherScore + 1

			setText(uv0.scoreUI:Find(&quot;ScoreTpl/Right/Units/new/newText&quot;), uv0.otherScore % 10)
			setActive(uv0.scoreUI, true)
			quickPlayAnimation(uv0.scoreUI, &quot;Anim_Dorm3d_volleyball_score_rightin&quot;)
		end
	}, function ()
		assert(false, &quot;unknow round result&quot; .. uv0.roundResult)
	end)
end

slot0.CheckEndGame = function(slot0)
	if uv0.endScore &lt;= slot0.ourScore then
		slot0.gameResult = uv0.GAME_RESULT.VICTORY

		return true
	end

	if uv0.endScore &lt;= slot0.otherScore then
		slot0.gameResult = uv0.GAME_RESULT.DEFEAT

		return true
	end

	return false
end

slot0.EndGame = function(slot0)
	if slot0.gameResult == uv0.GAME_RESULT.VICTORY then
		pg.CriMgr.GetInstance():PlaySE_V3(uv1)
	end

	seriesAsync({
		function (slot0)
			uv0:PlayTimeline({
				name = uv0:GetWeightTimeline(uv0.gameResult == uv1.GAME_RESULT.VICTORY and &quot;shibai&quot; or &quot;shengli&quot;)
			}, slot0)
		end
	}, function ()
		uv0:PlayTimeline({
			name = uv0:GetWeightTimeline(&quot;daiji&quot;)
		}, function ()
		end)
		setActive(uv0.endUI, true)
		setActive(uv0.endUI:Find(&quot;Title/Victory&quot;), uv0.gameResult == uv1.GAME_RESULT.VICTORY)
		setActive(uv0.endUI:Find(&quot;Title/Defeat&quot;), uv0.gameResult == uv1.GAME_RESULT.DEFEAT)
		uv0:UpdateScoreTpl(uv0.endUI:Find(&quot;ScoreTpl&quot;))
	end)
end

slot0.ShowResultUI = function(slot0, slot1)
	(function ()
		pg.m02:sendNotification(GAME.APARTMENT_TRACK, Dorm3dTrackCommand.BuildDataRoom(uv0.contextData.roomId, 8, table.concat(uv0.contextData.groupIds or {
			uv0.contextData.groupId
		}, &quot;,&quot;), uv0.ourScore .. &quot;:&quot; .. uv0.otherScore))
	end)()

	slot3 = pg.CriMgr.GetInstance()

	slot3:PlaySE_V3(uv0)
	seriesAsync({
		function (slot0)
			quickPlayAnimation(uv0.endUI, &quot;Anim_Dorm3d_volleyball_end_out&quot;)
			onDelayTick(function ()
				setActive(uv0.endUI, false)
			end, 0.1)

			if uv0.gameResult == uv1.GAME_RESULT.VICTORY then
				uv0:PlayTimeline({
					name = uv0:GetWeightTimeline(&quot;jiangli&quot;)
				}, slot0)
			else
				uv0:StopPlayingTimeline()
				slot0()
			end
		end
	}, function ()
		setActive(uv0.resultUI, true)

		slot0 = uv0.gameResult == uv1.GAME_RESULT.VICTORY and &quot;Victory&quot; or &quot;Defeat&quot;

		setText(uv0.resultUI:Find(&quot;Panel/Text&quot;), i18n(&quot;volleyball_end_tip&quot;, uv0.apartment:getConfig(&quot;name&quot;)))

		if uv2 and uv2.cost &gt; 0 then
			setActive(uv0.resultUI:Find(&quot;Panel/Award&quot;), true)
			setText(uv0.resultUI:Find(&quot;Panel/Award/Text&quot;), i18n(&quot;volleyball_end_award&quot;, uv0.apartment:getConfig(&quot;name&quot;)))
		else
			setActive(uv0.resultUI:Find(&quot;Panel/Award&quot;), false)
		end

		gcAll()
	end)
end

slot0.FaQiuOP = function(slot0, slot1)
	slot0:PlayTimeline({
		name = slot0:GetWeightTimeline(&quot;faqiu&quot;)
	}, slot1)
end

slot0.StartQTE = function(slot0, slot1)
	slot0.qteCallback = slot1

	setActive(slot0.ballCamera, true)
	setActive(slot0.mainCamera, false)

	slot0.randomScreenPos = Vector2(math.random(uv0.BallRandomDelat.Left, Screen.width - uv0.BallRandomDelat.Right), math.random(uv0.BallRandomDelat.Bottom, Screen.height - uv0.BallRandomDelat.Top))
	slot2 = slot0.ballCameraComp:ScreenPointToRay(slot0.randomScreenPos)
	slot0.randomScale = math.random(uv0.perfectScaleRandoms[1] * 10, slot0.perfectScaleRandoms[2] * 10) / 10
	slot6, slot7 = Plane.New(slot0.ballQtePlane.normal, slot0.ballQtePlane.distance + (slot0.ballMissPlane.distance - slot0.ballQtePlane.distance) * (1 - (uv0.perfectRadiusMax + uv0.perfectRadiusMin) / 2 * slot0.randomScale / uv0.triggerRadius)):Raycast(slot2)

	assert(slot6, &quot;retPerfect plane not in view&quot;)

	slot0.ballDir = (slot2:GetPoint(slot7) - uv0.BallInitPos):Normalize()
	slot9 = Ray.New(slot0.ballDir, uv0.BallInitPos)
	slot10, slot11 = slot0.ballQtePlane:Raycast(slot9)

	assert(slot10, &quot;qte plane not in view&quot;)

	slot13, slot14 = slot0.ballMissPlane:Raycast(slot9)

	assert(slot13, &quot;miss plane not in view&quot;)

	slot16 = 0
	slot0.qteUITime = (slot9:GetPoint(slot11) - slot9:GetPoint(slot14)):Magnitude() / uv0.BallQTESpeed
	slot0.ballTimer = Timer.New(function ()
		if uv1 &lt;= uv0 then
			uv2.ballTimer:Stop()

			uv2.ballTimer = nil

			setActive(uv2.ballTF, false)

			uv2.ballTF.position = uv3.BallInitPos

			if uv2.startQTEUI then
				setLocalScale(uv2.qteTriggerTF, {
					x = 0,
					y = 0
				})
				uv2:EndQTE(uv3.QTE_RESULT.MISS)
			end
		elseif uv4 &lt;= uv0 then
			uv0 = uv0 + uv3.BallQTESpeed
			uv2.ballTF.position = uv5:GetPoint(uv0)

			if not uv2.startQTEUI then
				uv2:StartQTEUI()
			end

			uv2.curScale = uv2.curScale - 1 / uv2.qteUITime

			setLocalScale(uv2.qteTriggerTF, {
				x = uv2.curScale,
				y = uv2.curScale
			})

			uv2.curRadius = uv3.triggerRadius * uv2.curScale

			if uv2.curScale &lt; 0 then
				uv2:EndQTE()
			end
		else
			uv0 = uv0 + uv3.BallSpeed
			uv2.ballTF.position = uv5:GetPoint(uv0)
		end
	end, 0.016666666666666666, -1)

	setActive(slot0.ballTF, true)
	slot0.ballTimer:Start()
end

slot0.StartQTEUI = function(slot0)
	pg.CriMgr.GetInstance():PlaySE_V3(uv0)
	setLocalScale(slot0.qteTriggerTF, {
		x = 1,
		y = 1
	})
	eachChild(slot0.qteTF:Find(&quot;animroot/Result&quot;), function (slot0)
		setActive(slot0, false)
	end)

	slot0.qteResult = nil
	slot0.curRadius = uv1.triggerRadius
	slot0.curPerfectRadiusMax = uv1.perfectRadiusMax * slot0.randomScale
	slot0.curPerfectRadiusMin = uv1.perfectRadiusMin * slot0.randomScale

	setLocalScale(slot0.qteTF:Find(&quot;animroot/Perfect&quot;), {
		x = slot0.randomScale,
		y = slot0.randomScale
	})

	slot0.curScale = 1

	setLocalPosition(slot0.qteTF, LuaHelper.ScreenToLocal(slot0.qteTF.parent, slot0.randomScreenPos, pg.UIMgr.GetInstance().uiCameraComp))
	setActive(slot0.qteTF, true)

	slot0.startQTEUI = true
end

slot0.EndQTE = function(slot0, slot1)
	slot0.startQTEUI = nil

	setActive(slot0.mainCamera, true)
	setActive(slot0.ballCamera, false)

	if slot1 then
		slot0.qteResult = slot1
	elseif slot0.curRadius &lt; uv0.hitRadiusMin or uv0.hitRadiusMax &lt; slot0.curRadius then
		slot0.qteResult = uv0.QTE_RESULT.MISS
	elseif slot0.curRadius &lt;= slot0.curPerfectRadiusMax and slot0.curPerfectRadiusMin &lt;= slot0.curRadius then
		slot0.qteResult = uv0.QTE_RESULT.PERFECT
	else
		slot0.qteResult = uv0.QTE_RESULT.HIT
	end

	slot3 = slot0.qteTF

	eachChild(slot3:Find(&quot;animroot/Result&quot;), function (slot0)
		setActive(slot0, slot0.name == uv0.qteResult)
	end)

	if slot0.ballTimer then
		slot0.ballTimer:Stop()

		slot0.ballTimer = nil

		setActive(slot0.ballTF, false)

		slot0.ballTF.position = uv0.BallInitPos
	end

	if slot0.qteCallback then
		slot0.qteCallback()

		slot0.qteCallback = nil
	end

	onDelayTick(function ()
		setActive(uv0.qteTF, false)
	end, 1)
end

slot0.QteMissOP = function(slot0, slot1)
	pg.CriMgr.GetInstance():PlaySE_V3(uv0)
	slot0:PlayTimeline({
		name = slot0:GetWeightTimeline(&quot;shiqiu&quot;)
	}, slot1)
end

slot0.QteHitOP = function(slot0, slot1)
	slot2 = pg.CriMgr.GetInstance()

	slot2:PlaySE_V3(uv0)
	seriesAsync({
		function (slot0)
			uv0:PlayTimeline({
				name = uv0:GetWeightTimeline(&quot;fly&quot;)
			}, slot0)
		end,
		function (slot0)
			uv0:PlayTimeline({
				name = uv0:GetWeightTimeline(&quot;jieqiu&quot;)
			}, slot0)
		end
	}, slot1)
end

slot0.QtePerfectOP = function(slot0, slot1)
	slot2 = pg.CriMgr.GetInstance()

	slot2:PlaySE_V3(uv0)
	seriesAsync({
		function (slot0)
			uv0:PlayTimeline({
				name = uv0:GetWeightTimeline(&quot;max_fly&quot;)
			}, slot0)
		end,
		function (slot0)
			uv0:PlayTimeline({
				name = uv0:GetWeightTimeline(&quot;shouji&quot;)
			}, slot0)
		end
	}, slot1)
end

slot0.GetWeightTimeline = function(slot0, slot1)
	assert(slot0.volleyballCfg[slot1] ~= &quot;&quot;, &quot;volleyball cfg is empty string&quot; .. slot1)
	assert(#slot2 ~= 0, &quot;volleyball cfg is empty table:&quot; .. slot1)

	slot4 = math.random() * underscore.reduce(slot2, 0, function (slot0, slot1)
		return slot0 + slot1[2]
	end)
	slot5 = 0

	for slot9, slot10 in ipairs(slot2) do
		if slot4 &lt;= slot5 + slot10[2] then
			return slot10[1]
		end
	end
end

slot0.DoTimelineRandomTrack = function(slot0, slot1)
	slot2 = {}

	for slot6, slot7 in ipairs(TimelineHelper.GetTimelineTracks(slot1):ToTable()) do
		if slot7.name ~= &quot;Markers&quot; then
			slot7.muted = true

			table.insert(slot2, slot7)
		end
	end

	if #slot2 &gt; 0 then
		underscore.each(slot2, function (slot0)
			if slot0.name == uv0.name then
				slot0.muted = false
			end
		end)

		slot0.debugTrackName.text = slot2[math.random(#slot2)].name

		return
	end

	slot0.debugTrackName.text = &quot;track cnt 0&quot;
end

slot0.OnPause = function(slot0)
	if slot0.ballTimer then
		slot0.ballTimer:Stop()
	end

	if slot0.playingDirector then
		slot0.playingDirector:Pause()
	end
end

slot0.OnResume = function(slot0)
	if slot0.ballTimer then
		slot0.ballTimer:Start()
	end

	if slot0.playingDirector then
		slot0.playingDirector:Play()
	end
end

slot0.onBackPressed = function(slot0)
	if not slot0.playingFlag or isActive(slot0.gameUI:Find(&quot;Count&quot;)) or isActive(slot0.endUI) then
		return
	end

	slot0:OnPause()
	pg.NewStyleMsgboxMgr.GetInstance():Show(pg.NewStyleMsgboxMgr.TYPE_MSGBOX, {
		contentText = i18n(&quot;sure_exit_volleyball&quot;),
		onConfirm = function ()
			uv0:emit(uv1.ON_BACK)
		end,
		onClose = function ()
			uv0:OnResume()
		end
	})
end

slot0.willExit = function(slot0)
	slot0.loader:Clear()

	if slot0.ballTimer then
		slot0.ballTimer:Stop()

		slot0.ballTimer = nil
	end

	seriesAsync(underscore.map({
		{
			path = string.lower(&quot;dorm3d/character/&quot; .. slot0.timelineSceneRootName .. &quot;/timeline/&quot; .. slot0.timelineSceneName .. &quot;/&quot; .. slot0.timelineSceneName .. &quot;_scene&quot;),
			name = slot0.timelineSceneName
		},
		{
			path = string.lower(&quot;dorm3d/scenesres/scenes/common/&quot; .. slot0.sceneRootName .. &quot;/&quot; .. slot0.sceneName .. &quot;_scene&quot;),
			name = slot0.sceneName
		}
	}, function (slot0)
		return function (slot0)
			SceneOpMgr.Inst:UnloadSceneAsync(uv0.path, uv0.name, slot0)
		end
	end), function ()
		ReflectionHelp.RefSetProperty(typeof(&quot;UnityEngine.LightmapSettings&quot;), &quot;lightmaps&quot;, nil, )
	end)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>