<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandworldmapmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandworldmapmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandWorldMapMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.GO_ISLAND = &quot;IslandWorldMapMediator:GO_ISLAND&quot;

slot0.register = function(slot0)
	slot0:bindEvent()
end

slot0.bindEvent = function(slot0)
	slot0:bind(uv0.GO_ISLAND, function (slot0, slot1, slot2)
		pg.m02:sendNotification(ISLAND_EVT.SWITCH_SCENE, {
			mapId = slot1
		})
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == GAME.BEGIN_STAGE_DONE then
		-- Nothing
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>