<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attachmentlbharborcell.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>attachmentlbharborcell.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AttachmentLBHarborCell&quot;, import(&quot;view.level.cell.StaticCellView&quot;))

slot0.GetOrder = function(slot0)
	return ChapterConst.CellPriorityAttachment
end

slot0.Update = function(slot0)
	slot1 = slot0.info

	if IsNil(slot0.go) then
		slot0:PrepareBase(&quot;box_gangkou&quot;)

		slot2 = slot0:GetLoader()

		slot2:GetPrefab(&quot;leveluiview/Tpl_Box&quot;, &quot;Tpl_Box&quot;, function (slot0)
			setParent(slot0, uv0.tf)

			tf(slot0).anchoredPosition3D = Vector3(0, 30, 0)

			uv0:GetLoader():GetPrefab(&quot;boxprefab/gangkou&quot;, &quot;gangkou&quot;, function (slot0)
				tf(slot0):SetParent(tf(uv0):Find(&quot;icon&quot;), false)
			end)

			uv0.box = slot0

			uv0:Update()
		end)
	end

	if slot0.box then
		setActive(findTF(slot0.box, &quot;effect_found&quot;), slot1.trait == ChapterConst.TraitVirgin)

		if slot1.trait == ChapterConst.TraitVirgin then
			pg.CriMgr.GetInstance():PlaySoundEffect_V3(SFX_UI_WEIGHANCHOR_ENEMY)
		end
	end

	setActive(slot0.tf, slot1.flag == ChapterConst.CellFlagActive)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>