<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attachmentlbantiaircell.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>attachmentlbantiaircell.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AttachmentLBAntiAirCell&quot;, import(&quot;view.level.cell.StaticCellView&quot;))

slot0.GetOrder = function(slot0)
	return ChapterConst.CellPriorityAttachment
end

slot0.Update = function(slot0)
	slot1 = slot0.info

	if IsNil(slot0.go) then
		slot0:PrepareBase(&quot;antiAir&quot;)
		assert(pg.land_based_template[slot1.attachmentId], &quot;land_based_template not exist: &quot; .. slot1.attachmentId)

		slot3 = slot0:GetLoader()

		slot3:GetPrefab(&quot;leveluiview/Tpl_AntiAirGun&quot;, &quot;Tpl_AntiAirGun&quot;, function (slot0)
			setParent(slot0, uv0.tf)

			tf(slot0).anchoredPosition3D = Vector3(0, 10, 0)
			uv0.antiAirGun = slot0

			uv0:Update()
		end)

		slot3 = slot0:GetLoader()

		slot3:GetPrefab(&quot;leveluiview/Tpl_AntiAirGunArea&quot;, &quot;Tpl_AntiAirGunArea&quot;, function (slot0)
			setParent(slot0, uv0.grid.restrictMap)

			slot0.name = &quot;chapter_cell_mark_&quot; .. uv1.row .. &quot;_&quot; .. uv1.column .. &quot;#AntiAirGunArea&quot;
			slot1 = uv0.chapter.theme
			slot2 = slot1:GetLinePosition(uv0.line.row, uv0.line.column)
			slot3 = uv0.grid.restrictMap.anchoredPosition
			tf(slot0).anchoredPosition = Vector2(slot2.x - slot3.x, slot2.y - slot3.y)
			slot4 = uv2.function_args[1]
			tf(slot0).sizeDelta = Vector2((slot4 * 2 + 1) * slot1.cellSize.x + slot4 * 2 * slot1.cellSpace.x, (slot4 * 2 + 1) * slot1.cellSize.y + slot4 * 2 * slot1.cellSpace.y)
		end)
	end

	if slot0.antiAirGun and slot1.flag ~= ChapterConst.CellFlagDisabled then
		slot3 = pg.land_based_template[slot1.attachmentId]

		assert(slot3, &quot;land_based_template not exist: &quot; .. slot1.attachmentId)

		slot4 = slot3.function_args[2]

		setActive(tf(slot0.antiAirGun):Find(&quot;text&quot;), slot0.chapter:getRoundNum() &lt; math.ceil(slot1.data / 2))

		tf(slot0.antiAirGun):Find(&quot;Slider&quot;):GetComponent(typeof(Slider)).value = math.max(slot5 - slot2 + slot4, 0) / slot4
	end

	setActive(slot0.tf, slot1.flag ~= ChapterConst.CellFlagDisabled)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>