<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attachmentboxcell.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>attachmentboxcell.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AttachmentBoxCell&quot;, import(&quot;view.level.cell.StaticCellView&quot;))

slot0.GetOrder = function(slot0)
	return ChapterConst.CellPriorityAttachment
end

slot0.Update = function(slot0)
	slot1 = slot0.info

	if IsNil(slot0.go) then
		assert(pg.box_data_template[slot1.attachmentId], &quot;box_data_template not exist: &quot; .. slot1.attachmentId)
		slot0:PrepareBase(&quot;box_&quot; .. slot1.attachmentId)

		slot4, slot5 = nil

		parallelAsync({
			function (slot0)
				slot1 = uv0
				slot1 = slot1:GetLoader()

				slot1:GetPrefab(&quot;boxprefab/&quot; .. uv1.icon, uv1.icon, function (slot0)
					uv0 = slot0

					uv1()
				end)
			end,
			function (slot0)
				slot1 = uv0
				slot1 = slot1:GetLoader()

				slot1:GetPrefab(&quot;leveluiview/tpl_box&quot;, &quot;tpl_box&quot;, function (slot0)
					uv0 = slot0

					setParent(tf(uv0), uv1.tf)

					tf(uv0).anchoredPosition3D = Vector3(0, 30, 0)

					if uv2.type ~= ChapterConst.BoxTorpedo then
						uv1.attachTw = LeanTween.move(tf(uv0), Vector3(0, 40, 0), 1.5):setEase(LeanTweenType.easeInOutSine):setLoopPingPong().uniqueId
					end

					uv1.box = uv0

					uv3()
				end)
			end
		}, function ()
			setParent(uv0, tf(uv1):Find(&quot;icon&quot;))
			uv2:ResetCanvasOrder()
			uv2:Update()
		end)
	end

	if slot0.box and slot1.flag == ChapterConst.CellFlagActive then
		setActive(findTF(slot0.box, &quot;effect_found&quot;), slot1.trait == ChapterConst.TraitVirgin)

		if slot1.trait == ChapterConst.TraitVirgin then
			pg.CriMgr.GetInstance():PlaySoundEffect_V3(SFX_UI_WEIGHANCHOR_ENEMY)
		end
	end

	setActive(slot0.tf, slot1.flag == ChapterConst.CellFlagActive)
end

slot0.RemoveTween = function(slot0)
	if slot0.attachTw then
		LeanTween.cancel(slot0.attachTw)
	end

	slot0.attachTw = nil
end

slot0.Clear = function(slot0)
	slot0:RemoveTween()
	uv0.super.Clear(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>