<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attachmentbarriercell.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>attachmentbarriercell.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AttachmentBarrierCell&quot;, import(&quot;view.level.cell.StaticCellView&quot;))

slot0.GetOrder = function(slot0)
	return ChapterConst.CellPriorityAttachment
end

slot0.Update = function(slot0)
	slot1 = slot0.info

	if IsNil(slot0.go) then
		slot0:PrepareBase(&quot;zulanwangheng&quot;)

		slot2 = slot0:GetLoader()

		slot2:GetPrefab(&quot;chapter/zulanwangheng&quot;, &quot;zulanwangheng&quot;, function (slot0)
			setParent(slot0, uv0.tf)
			setActive(slot0, true)

			uv0.barrier = slot0

			uv0:Update()
		end)
	end

	setActive(slot0.tf, slot1.flag == ChapterConst.CellFlagActive)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>