<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attachmentlbdockcell.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>attachmentlbdockcell.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AttachmentLBDockCell&quot;, import(&quot;view.level.cell.StaticCellView&quot;))

slot0.GetOrder = function(slot0)
	return ChapterConst.CellPriorityAttachment
end

slot0.Update = function(slot0)
	slot1 = slot0.info

	if IsNil(slot0.go) then
		slot0:PrepareBase(&quot;dock&quot;)

		slot2 = slot0:GetLoader()

		slot2:GetPrefab(&quot;leveluiview/Tpl_Dockyard&quot;, &quot;Tpl_Dockyard&quot;, function (slot0)
			setParent(slot0, uv0.tf)

			tf(slot0).anchoredPosition3D = Vector3(0, 10, 0)
			uv0.dock = tf(slot0)

			uv0:Update()
		end)
	end

	if slot0.dock then
		assert(pg.land_based_template[slot1.attachmentId], &quot;land_based_template not exist: &quot; .. slot1.attachmentId)
		setActive(slot0.dock:Find(&quot;text&quot;), slot0.chapter:getRoundNum() &lt; math.ceil(slot1.data / 2))

		slot7 = slot2.function_args[2]
		slot0.dock:Find(&quot;Slider&quot;):GetComponent(typeof(Slider)).value = math.max(slot3 - slot5 + slot7, 0) / slot7
	end

	setActive(slot0.tf, slot1.flag == ChapterConst.CellFlagActive)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>