<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dynamiceggcellview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>dynamiceggcellview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot2 = class(&quot;DynamicEggCellView&quot;, DecorateClass(import(&quot;.DynamicCellView&quot;), import(&quot;.EggCellView&quot;)))

slot2.Ctor = function(slot0, slot1)
	uv0.Ctor(slot0, slot1)
	uv1.Ctor(slot0)
	uv1.InitEggCellTransform(slot0)
end

slot2.GetOrder = function(slot0)
	return ChapterConst.CellPriorityEnemy
end

slot2.SetActive = function(slot0, slot1)
	setActive(slot0.go, slot1)
end

slot2.LoadIcon = function(slot0, slot1, slot2, slot3)
	if slot0.lastPrefab == slot1 then
		existCall(slot3)

		return
	end

	slot0.lastPrefab = slot1

	uv0.StartEggCellView(slot0, slot2, slot3)
end

slot2.UpdateChampionCell = function(slot0, slot1, slot2, slot3)
	uv0.UpdateEggCell(slot0, slot1, slot2, slot2:getConfigTable(), slot3)
	slot0:RefreshLinePosition(slot1, slot2)
end

return slot2
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>