<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educatetargetpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educatetargetpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateTargetPanel&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;EducateTargetPanel&quot;
end

slot0.OnInit = function(slot0)
	slot0.contentTF = slot0:findTF(&quot;content&quot;)

	onButton(slot0, slot0.contentTF, function ()
		uv0:emit(EducateBaseUI.EDUCATE_GO_SUBLAYER, Context.New({
			mediator = EducateTargetMediator,
			viewComponent = EducateTargetLayer
		}))
	end, SFX_PANEL)

	slot0.taskTpl = slot0:findTF(&quot;tpl&quot;, slot0.contentTF)

	setActive(slot0.taskTpl, false)

	slot0.listBg = slot0:findTF(&quot;task_list/bg&quot;, slot0.contentTF)
	slot0.lineTF = slot0:findTF(&quot;task_list/line&quot;, slot0.contentTF)
	slot0.mainTF = slot0:findTF(&quot;task_list/main&quot;, slot0.contentTF)

	setText(slot0:findTF(&quot;title/Image/Text&quot;, slot0.mainTF), i18n(&quot;child_task_system_type3&quot;))

	slot0.mainTaskUIList = UIItemList.New(slot0:findTF(&quot;list&quot;, slot0.mainTF), slot0.taskTpl)

	slot0.mainTaskUIList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:updateTaskItem(slot1, slot2, &quot;main&quot;)
		end
	end)

	slot0.otherTF = slot0:findTF(&quot;task_list/other&quot;, slot0.contentTF)

	setText(slot0:findTF(&quot;title/Image/Text&quot;, slot0.otherTF), i18n(&quot;child_task_system_type2&quot;))

	slot0.otherTaskUIList = UIItemList.New(slot0:findTF(&quot;list&quot;, slot0.otherTF), slot0.taskTpl)

	slot0.otherTaskUIList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:updateTaskItem(slot1, slot2, &quot;other&quot;)
		end
	end)
	slot0:Flush()
end

slot0.updateTaskItem = function(slot0, slot1, slot2, slot3)
	slot4 = slot3 == &quot;main&quot; and slot0.mainTaskVOs[slot1 + 1] or slot0.otherTaskVOs[slot1 + 1]
	slot5 = string.format(&quot;(%s)&quot;, slot4:GetProgress() .. &quot;/&quot; .. slot4:GetFinishNum())

	setText(slot0:findTF(&quot;progress&quot;, slot2), slot5)

	slot6 = GetPerceptualSize(slot5)

	if PLATFORM_CODE == PLATFORM_JP then
		slot6 = slot6 + 2
	end

	setText(slot0:findTF(&quot;desc&quot;, slot2), shortenString(slot4:getConfig(&quot;name&quot;), 11 - slot6))
end

slot0.Flush = function(slot0)
	if not slot0:GetLoaded() then
		return
	end

	slot0.taskProxy = getProxy(EducateProxy):GetTaskProxy()

	setActive(slot0:findTF(&quot;target_btn/tip&quot;, slot0.contentTF), slot0.taskProxy:IsShowOtherTasksTip())

	slot0.mainTaskVOs = slot0.taskProxy:FilterByGroup(slot0.taskProxy:GetMainTasksForShow())

	if not slot0.taskProxy:CanGetTargetAward() then
		slot0.otherTaskVOs = {}
	else
		slot0.otherTaskVOs = slot0.taskProxy:FilterByGroup(slot0.taskProxy:GetTargetTasksForShow(), true)
	end

	setActive(slot0.mainTF, #slot0.mainTaskVOs &gt; 0)
	slot0.mainTaskUIList:align(#slot0.mainTaskVOs)

	slot2 = 3 - #slot0.mainTaskVOs

	setActive(slot0.otherTF, #slot0.otherTaskVOs &gt; 0)

	slot3 = slot2 &lt; #slot0.otherTaskVOs and slot2 or #slot0.otherTaskVOs

	slot0.otherTaskUIList:align(slot3)
	setActive(slot0.listBg, slot1 &gt; 0 or slot3 &gt; 0)
	setActive(slot0.lineTF, slot1 &gt; 0 and slot3 &gt; 0)
end

slot0.SetPosLeft = function(slot0)
	setLocalPosition(slot0.contentTF, Vector2(-650, 0))
end

slot0.SetPosRight = function(slot0)
	setLocalPosition(slot0.contentTF, Vector2(0, 0))
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>