<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educatearchivepanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educatearchivepanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateArchivePanel&quot;, import(&quot;...base.BaseSubView&quot;))
slot1 = 0.005

slot0.getUIName = function(slot0)
	return &quot;EducateArchivePanel&quot;
end

slot0.OnInit = function(slot0)
	slot0.config = pg.child_attr
	slot0.foldPanelTF = slot0:findTF(&quot;fold_panel&quot;)
	slot0.showBtn = slot0:findTF(&quot;show_btn&quot;, slot0.foldPanelTF)
	slot0.showPanelTF = slot0:findTF(&quot;show_panel&quot;)
	slot0.showAnim = slot0.showPanelTF:GetComponent(typeof(Animation))
	slot0.showAnimEvent = slot0.showPanelTF:GetComponent(typeof(DftAniEvent))

	slot0.showAnimEvent:SetEndEvent(function ()
		setActive(uv0.showPanelTF, false)
	end)

	slot0.blurBg = slot0:findTF(&quot;panel&quot;, slot0.showPanelTF)
	slot0.foldBtn = slot0:findTF(&quot;fold_btn&quot;, slot0.showPanelTF)
	slot0.pageSnap = slot0:findTF(&quot;panel/event&quot;, slot0.showPanelTF):GetComponent(&quot;HScrollSnap&quot;)

	slot0.pageSnap:Init()

	slot0.page1 = slot0:findTF(&quot;panel/event/content/page1&quot;, slot0.showPanelTF)

	setText(slot0:findTF(&quot;title/name_title/name&quot;, slot0.page1), i18n(&quot;child_archive_name&quot;))
	setText(slot0:findTF(&quot;attr_title/Text&quot;, slot0.page1), i18n(&quot;child_attr_name1&quot;))
	setText(slot0:findTF(&quot;buff_title/Text&quot;, slot0.page1), i18n(&quot;child_buff_name&quot;))

	slot0.avatarImageTF = slot0:findTF(&quot;title/avatar&quot;, slot0.page1)
	slot0.attrsList1 = UIItemList.New(slot0:findTF(&quot;attrs/content&quot;, slot0.page1), slot0:findTF(&quot;attrs/tpl&quot;, slot0.page1))
	slot0.gradientBgTF = slot0:findTF(&quot;attrs/bg_gradient&quot;, slot0.page1)
	slot0.buffContentTF = slot0:findTF(&quot;buff/content&quot;, slot0.page1)
	slot0.buffItemList = UIItemList.New(slot0:findTF(&quot;buff/content/content&quot;, slot0.page1), slot0:findTF(&quot;buff/tpl&quot;, slot0.page1))
	slot0.buffLockTF = slot0:findTF(&quot;buff/lock&quot;, slot0.page1)
	slot0.page2 = slot0:findTF(&quot;panel/event/content/page2&quot;, slot0.showPanelTF)

	setText(slot0:findTF(&quot;attr_title/Text&quot;, slot0.page2), i18n(&quot;child_attr_name2&quot;))

	slot0.attr3UnlockTF = slot0:findTF(&quot;attrs/unlock&quot;, slot0.page2)
	slot0.attr3LockTF = slot0:findTF(&quot;attrs/lock&quot;, slot0.page2)
	slot0.attrsList2 = UIItemList.New(slot0:findTF(&quot;content&quot;, slot0.attr3UnlockTF), slot0:findTF(&quot;tpl&quot;, slot0.attr3UnlockTF))
	slot0.attr2UnlockTF = slot0:findTF(&quot;nature/unlock&quot;, slot0.page2)
	slot0.attr2LockTF = slot0:findTF(&quot;nature/lock&quot;, slot0.page2)
	slot0.natureContent = slot0:findTF(&quot;content&quot;, slot0.attr2UnlockTF)
	slot0.avatarTF = slot0:findTF(&quot;avatar&quot;, slot0.page2)

	slot0:addListener()
	slot0:initAttrsPanel()
	pg.UIMgr.GetInstance():OverlayPanelPB(slot0._tf, {
		pbList = {
			slot0.blurBg
		},
		groupName = LayerWeightConst.GROUP_EDUCATE,
		weight = LayerWeightConst.BASE_LAYER - 1
	})
	setActive(slot0.foldPanelTF, true)
	setActive(slot0.showPanelTF, false)

	if slot0.contextData and slot0.contextData.isShow then
		if slot0.contextData.isMainEnter then
			onDelayTick(function ()
				uv0:showPanel()
			end, 0.396)
		else
			slot0:showPanel()
		end
	end
end

slot0.addListener = function(slot0)
	onButton(slot0, slot0.showBtn, function ()
		uv0:showPanel()
	end, SFX_PANEL)
	onButton(slot0, slot0.foldBtn, function ()
		uv0:hidePanel()
	end, SFX_PANEL)
end

slot0.showPanel = function(slot0)
	setActive(slot0.foldPanelTF, false)
	setActive(slot0.showPanelTF, true)
end

slot0.hidePanel = function(slot0)
	setActive(slot0.foldPanelTF, true)
	slot0.showAnim:Play(&quot;anim_educate_archive_show_out&quot;)
end

slot0.initAttrsPanel = function(slot0)
	slot0.attrsList1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:updateAttr1Item(slot1, slot2)
		end
	end)
	slot0.buffItemList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:updateBuffItem(slot1, slot2)
		end
	end)
	slot0.attrsList2:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:updateAttr2Item(slot1, slot2)
		end
	end)
	slot0:Flush()
end

slot0.updateAttr1Item = function(slot0, slot1, slot2)
	slot4 = slot0.char:GetAttrGroupByType(EducateChar.ATTR_TYPE_MAJOR)[slot1 + 1][1]

	GetImageSpriteFromAtlasAsync(&quot;ui/educatecommonui_atlas&quot;, &quot;attr_&quot; .. slot4, slot0:findTF(&quot;icon_bg/icon&quot;, slot2), true)
	setScrollText(slot0:findTF(&quot;name_mask/name&quot;, slot2), slot0.config[slot4].name)

	slot6, slot7 = slot0.char:GetAttrInfo(slot4)

	setText(slot0:findTF(&quot;grade/Text&quot;, slot2), slot6)
	setText(slot0:findTF(&quot;value&quot;, slot2), slot7)
	setImageColor(slot0.gradientBgTF:GetChild(slot1), Color.NewHex(EducateConst.GRADE_2_COLOR[slot6][1]))
	setImageColor(slot0:findTF(&quot;grade&quot;, slot2), Color.NewHex(EducateConst.GRADE_2_COLOR[slot6][2]))
end

slot0.updateBuffItem = function(slot0, slot1, slot2)
	slot3 = slot0.buffList[slot1 + 1]

	LoadImageSpriteAsync(&quot;educateprops/&quot; .. slot3:getConfig(&quot;icon&quot;), slot0:findTF(&quot;icon&quot;, slot2))
	setText(slot0:findTF(&quot;time/Text&quot;, slot2), slot3:GetReaminWeek() .. i18n(&quot;word_week&quot;))
	onButton(slot0, slot2, function ()
		uv0:showBuffBox(uv1.id)
	end, SFX_PANEL)
end

slot0.showBuffBox = function(slot0, slot1)
	slot0:emit(EducateBaseUI.EDUCATE_ON_ITEM, {
		drop = {
			number = 1,
			type = EducateConst.DROP_TYPE_BUFF,
			id = slot1
		}
	})
end

slot0.updateAttr2Item = function(slot0, slot1, slot2)
	slot4 = slot0.char:GetAttrGroupByType(EducateChar.ATTR_TYPE_MINOR)[slot1 + 1][1]

	GetImageSpriteFromAtlasAsync(&quot;ui/educatecommonui_atlas&quot;, &quot;attr_&quot; .. slot4, slot0:findTF(&quot;icon&quot;, slot2), true)
	setText(slot0:findTF(&quot;name&quot;, slot2), slot0.config[slot4].name)
	setText(slot0:findTF(&quot;value&quot;, slot2), slot0.char:GetAttrById(slot4))
end

slot0.updateNature = function(slot0)
	slot4 = EducateChar.ATTR_TYPE_PERSONALITY

	for slot4, slot5 in ipairs(slot0.char:GetAttrGroupByType(slot4)) do
		slot6 = slot0.natureContent:GetChild(slot4 - 1)
		slot6.name = slot5[1]

		setScrollText(slot0:findTF(&quot;Text&quot;, slot6), slot0.config[slot5[1]].name .. &quot; &quot; .. slot5[2])
	end
end

slot0.Flush = function(slot0)
	if not slot0:GetLoaded() then
		return
	end

	slot0.educateProxy = getProxy(EducateProxy)
	slot0.char = slot0.educateProxy:GetCharData()

	slot0.attrsList1:align(#slot0.char:GetAttrGroupByType(EducateChar.ATTR_TYPE_MAJOR))

	slot0.buffList = slot0.educateProxy:GetBuffList()

	slot0.buffItemList:align(#slot0.buffList)
	slot0.attrsList2:align(#slot0.char:GetAttrGroupByType(EducateChar.ATTR_TYPE_MINOR))

	slot1 = slot0.char:GetPaintingName()

	setImageSprite(slot0.avatarImageTF, LoadSprite(&quot;educateavatar/&quot; .. slot1), true)
	slot0:updateNature()
	setImageSprite(slot0:findTF(&quot;mask/Image&quot;, slot0.avatarTF), LoadSprite(&quot;squareicon/&quot; .. slot1), true)
	setText(slot0:findTF(&quot;title/name/Text&quot;, slot0.page1), slot0.char:GetName())

	slot2 = EducateHelper.IsSystemUnlock(EducateConst.SYSTEM_BUFF)

	setActive(slot0.buffContentTF, slot2)
	setActive(slot0.buffLockTF, not slot2)

	slot3 = EducateHelper.IsShowNature()

	setActive(slot0.attr2UnlockTF, slot3)
	setActive(slot0.attr2LockTF, not slot3)

	slot4 = EducateHelper.IsSystemUnlock(EducateConst.SYSTEM_ATTR_3)

	setActive(slot0.attr3UnlockTF, slot4)
	setActive(slot0.attr3LockTF, not slot4)

	slot5 = slot4

	setActive(slot0:findTF(&quot;pagination&quot;, slot0.showPanelTF), slot5)
	setActive(slot0.page2, slot5)

	slot0.pageSnap.enabled = slot5
end

slot0.OnDestroy = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>