<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blackfridayservershoppurchasepanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>blackfridayservershoppurchasepanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BlackFridayServerShopPurchasePanel&quot;, import(&quot;.NewServerShopPurchasePanel&quot;))

slot0.OnConfirm = function(slot0)
	pg.m02:sendNotification(GAME.NEW_SERVER_SHOP_SHOPPING, {
		actType = ActivityConst.ACTIVITY_TYPE_BLACK_FRIDAY_SHOP,
		id = slot0.commodity.id,
		selectedList = slot0.selectedList
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>