<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minigameshoppurchasepanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>minigameshoppurchasepanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;MiniGameShopPurchasePanel&quot;, import(&quot;.GuildShopPurchasePanel&quot;))

slot0.getUIName = function(slot0)
	return &quot;MiniGameShopPurchaseMsgUI&quot;
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0, slot1)

	slot0.confirmCallback = slot1.confirm
end

slot0.OnConfirm = function(slot0)
	if slot0.confirmCallback then
		slot0.confirmCallback(slot0.data.id, slot0.selectedList)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>