<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newservershoppurchasepanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>newservershoppurchasepanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewServerShopPurchasePanel&quot;, import(&quot;.GuildShopPurchasePanel&quot;))

slot0.Show = function(slot0, slot1)
	slot0.commodity = slot1

	uv0.super.Show(slot0, {
		id = slot1.id,
		count = slot1:GetCanPurchaseCnt(),
		type = slot1:GetDropType(),
		price = slot1:GetConsume().count,
		displays = slot1:GetSelectableGoods()
	})

	slot0.limitOnePurchase = slot1:LimitPurchaseSubGoods()
	slot0.descTxt.text = slot0.limitOnePurchase and i18n(&quot;new_server_shop_sel_goods_tip&quot;) or &quot;&quot;

	GetImageSpriteFromAtlasAsync(slot2:getConfig(&quot;icon&quot;), &quot;&quot;, slot0.resIcon)
end

slot0.UpdateItem = function(slot0, slot1, slot2, slot3)
	uv0.super.UpdateItem(slot0, slot1, slot2, slot3)
	setActive(slot3:Find(&quot;mask&quot;), not slot0.commodity:CanPurchaseSubGoods(slot2))
end

slot0.ClickItem = function(slot0, slot1, slot2)
	if slot0.limitOnePurchase and not slot0.commodity:CanPurchaseSubGoods(slot2) then
		return
	end

	uv0.super.ClickItem(slot0, slot1, slot2)
end

slot0.PressAddBtn = function(slot0, slot1, slot2)
	if slot0.limitOnePurchase and table.contains(slot0.selectedList, slot2) then
		return
	end

	uv0.super.PressAddBtn(slot0, slot1, slot2)
end

slot0.OnConfirm = function(slot0)
	pg.m02:sendNotification(GAME.NEW_SERVER_SHOP_SHOPPING, {
		id = slot0.commodity.id,
		selectedList = slot0.selectedList
	})
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>