<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>continuousoperationwindow.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>continuousoperationwindow.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ContinuousOperationWindow&quot;, import(&quot;view.base.BaseUI&quot;))
slot1 = 15

slot0.getUIName = function(slot0)
	return &quot;ContinuousOperationWindowUI&quot;
end

slot0.ResUISettings = function(slot0)
	return {
		reset = true,
		gemOffsetX = 628,
		showType = PlayerResUI.TYPE_OIL
	}
end

slot0.init = function(slot0)
	slot0.panel = slot0._tf:Find(&quot;window/panel&quot;)
	slot0._countSelect = slot0.panel:Find(&quot;content&quot;)
	slot0._pageUtil = PageUtil.New(slot0._countSelect:Find(&quot;value_bg/left&quot;), slot0._countSelect:Find(&quot;value_bg/right&quot;), slot0._countSelect:Find(&quot;max&quot;), slot0._countSelect:Find(&quot;value_bg/value&quot;))
	slot0.consumeText = slot0.panel:Find(&quot;content/consume&quot;):GetComponent(&quot;RichText&quot;)

	setText(slot0._tf:Find(&quot;window/top/bg/title/title&quot;), i18n(&quot;multiple_sorties_title&quot;))
	setText(slot0._tf:Find(&quot;window/top/bg/title/title/title_en&quot;), i18n(&quot;multiple_sorties_title_eng&quot;))
	setText(slot0.panel:Find(&quot;content/desc_txt&quot;), i18n(&quot;multiple_sorties_times&quot;))
	setText(slot0.panel:Find(&quot;Tip&quot;), i18n(&quot;multiple_sorties_tip&quot;))
	setText(slot0.panel:Find(&quot;battle/pic&quot;), i18n(&quot;msgbox_text_battle&quot;))
	setText(slot0.panel:Find(&quot;bonus/Text&quot;), i18n(&quot;expedition_extra_drop_tip&quot;))
	setText(slot0.panel:Find(&quot;ticket/Text&quot;), i18n(&quot;multiple_sorties_challenge_ticket_use&quot;))
end

slot0.SetActivity = function(slot0, slot1)
	slot0.activity = slot1
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0.panel:Find(&quot;battle&quot;), function ()
		if getProxy(PlayerProxy):getRawData().oil &lt; uv0.contextData.oilCost * uv0.contextData.battleTimes then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;stage_beginStage_error_noResource&quot;))

			return
		end

		uv0:emit(PreCombatMediator.CONTINUOUS_OPERATION)
	end, SFX_PANEL)
	onButton(slot0, slot0._tf:Find(&quot;window/top/btnBack&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)
	onButton(slot0, slot0._tf:Find(&quot;bg&quot;), function ()
		uv0:closeView()
	end, SFX_CANCEL)

	slot1 = getProxy(SettingsProxy):isTipActBossExchangeTicket() == 1
	slot0.contextData.useTicket = defaultValue(slot0.contextData.useTicket, slot1)

	triggerToggle(slot0.panel:Find(&quot;ticket/checkbox&quot;), slot1)
	onToggle(slot0, slot0.panel:Find(&quot;ticket/checkbox&quot;), function (slot0)
		uv0.contextData.useTicket = slot0

		uv0:UpdateContent()
	end, SFX_PANEL, SFX_CANCEL)

	slot6 = LoadSprite(Drop.New({
		type = DROP_TYPE_RESOURCE,
		id = pg.activity_event_worldboss[slot0.activity:getConfig(&quot;config_id&quot;)].ticket
	}):getIcon(), &quot;&quot;)

	slot0.consumeText:AddSprite(&quot;ticket&quot;, slot6)
	setImageSprite(slot0.panel:Find(&quot;ticket/Text/Icon&quot;), slot6)
	slot0._pageUtil:setNumUpdate(function (slot0)
		uv0.contextData.battleTimes = slot0

		uv0:UpdateContent()
	end)
	slot0._pageUtil:setMaxNum(uv0)

	slot0.contextData.battleTimes = slot0.contextData.battleTimes or 1

	slot0._pageUtil:setDefaultNum(slot0.contextData.battleTimes)
	slot0:UpdateContent()
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
end

slot0.UpdateContent = function(slot0)
	slot10 = tostring(slot7)

	if (slot0.contextData.useTicket and math.clamp(slot0.contextData.battleTimes - slot0.activity:GetStageBonus(slot0.contextData.stageId), 0, getProxy(PlayerProxy):getRawData():getResource(pg.activity_event_worldboss[slot0.activity:getConfig(&quot;config_id&quot;)].ticket)) or 0) &gt; 0 then
		slot10 = slot10 .. setColorStr(&quot;+&quot; .. slot9, COLOR_GREEN)
	end

	setText(slot0.panel:Find(&quot;bonus/Number&quot;), slot10)
	setText(slot0.panel:Find(&quot;ticket/Number&quot;), slot9 .. &quot;/&quot; .. slot6)

	slot11 = slot6 &gt; 0 and slot8 &gt; 0

	setActive(slot0.panel:Find(&quot;ticket/checkboxBan&quot;), not slot11)
	setToggleEnabled(slot0.panel:Find(&quot;ticket/checkbox&quot;), slot11)

	slot12 = slot0.contextData.oilCost * slot1
	slot13 = i18n(&quot;multiple_sorties_cost1&quot;, slot12)

	if getProxy(PlayerProxy):getRawData().oil &lt; slot12 then
		slot13 = string.gsub(slot13, &quot;#92fc63&quot;, COLOR_RED)
	end

	if slot9 &gt; 0 then
		slot13 = slot13 .. i18n(&quot;multiple_sorties_cost2&quot;, slot9)
	end

	slot0.consumeText.text = slot13
end

slot0.willExit = function(slot0)
	slot0._pageUtil:Dispose()
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>