<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>continuousoperationmediator.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>continuousoperationmediator.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ContinuousOperationMediator&quot;, import(&quot;view.base.ContextMediator&quot;))
slot0.CONTINUE_OPERATION = &quot;ContinuousOperationMediator:CONTINUE_OPERATION&quot;
slot0.ON_REENTER = &quot;ContinuousOperationMediator:ON_REENTER&quot;

slot0.register = function(slot0)
	slot0:bind(GAME.PAUSE_BATTLE, function ()
		uv0:sendNotification(GAME.PAUSE_BATTLE)
	end)
	slot0:bind(uv0.ON_REENTER, function ()
		uv0:sendNotification(uv1.ON_REENTER, {
			autoFlag = uv0.contextData.autoFlag
		})
	end)
	slot0:bind(BattleMediator.HIDE_ALL_BUTTONS, function (slot0, slot1)
		uv0:sendNotification(BattleMediator.HIDE_ALL_BUTTONS, slot1)

		if not slot1 and not ys.Battle.BattleState.GetInstance().IsAutoBotActive(SYSTEM_ACT_BOSS) then
			pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;multiple_sorties_auto_on&quot;))
			uv0:sendNotification(GAME.AUTO_BOT, {
				isActiveBot = false
			})
			uv0:sendNotification(GAME.AUTO_SUB, {
				isActiveSub = false
			})
			slot2:ActiveBot(slot2.IsAutoBotActive(SYSTEM_ACT_BOSS))
		end
	end)
end

slot0.listNotificationInterests = function(slot0)
	return {
		NewBattleResultMediator.ON_ENTER_BATTLE_RESULT,
		NewBattleResultMediator.ON_COMPLETE_BATTLE_RESULT
	}
end

slot0.handleNotification = function(slot0, slot1)
	slot3 = slot1:getBody()

	if slot1:getName() == NewBattleResultMediator.ON_ENTER_BATTLE_RESULT then
		slot0:sendNotification(NewBattleResultMediator.SET_SKIP_FLAG, true)
		slot0.viewComponent:OnEnterBattleResult()
	elseif slot2 == NewBattleResultMediator.ON_COMPLETE_BATTLE_RESULT then
		slot0.viewComponent:AnimatingSlider()
	end
end

slot0.remove = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>