<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>continuousoperationpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>continuousoperationpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ContinuousOperationPanel&quot;, import(&quot;view.base.BaseUI&quot;))

slot0.getUIName = function(slot0)
	return &quot;ContinuousOperationUI&quot;
end

slot0.init = function(slot0)
	slot0.btnOn = slot0._tf:Find(&quot;Panel/On&quot;)
	slot0.btnOff = slot0._tf:Find(&quot;Panel/Off&quot;)
	slot0.slider = slot0._tf:Find(&quot;Panel/Slider&quot;)
	slot0._ratioFitter = GetComponent(slot0._tf, typeof(AspectRatioFitter))

	setText(slot0.btnOff:Find(&quot;common/Text&quot;), i18n(&quot;multiple_sorties_stopped&quot;))
end

slot0.UpdateAutoFightMark = function(slot0)
	slot1 = slot0.contextData.autoFlag

	setActive(slot0.btnOn, slot1)
	setActive(slot0.btnOff, not slot1)
end

slot0.didEnter = function(slot0)
	slot0.contextData.autoFlag = defaultValue(slot0.contextData.autoFlag, true)

	onButton(slot0, slot0.btnOn, function ()
		uv0.contextData.autoFlag = false

		uv0:UpdateAutoFightMark()
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;multiple_sorties_stop_tip&quot;))
		uv0:emit(BattleMediator.HIDE_ALL_BUTTONS, true)
	end, SFX_PANEL)
	onButton(slot0, slot0.btnOff, function ()
		uv0.contextData.autoFlag = true

		uv0:UpdateAutoFightMark()
		pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;multiple_sorties_resume_tip&quot;))
		uv0:emit(BattleMediator.HIDE_ALL_BUTTONS, false)
	end, SFX_PANEL)

	slot0._ratioFitter.aspectRatio = pg.CameraFixMgr.GetInstance():GetBattleUIRatio()

	slot0:UpdateAutoFightMark()
	slot0:UpdateBattleTimes()
	pg.LayerWeightMgr.GetInstance():Add2Overlay(LayerWeightConst.UI_TYPE_OVERLAY_FOREVER, slot0._tf, {
		weight = LayerWeightConst.THIRD_LAYER,
		groupName = LayerWeightConst.GROUP_COMBAT
	})
end

slot0.UpdateBattleTimes = function(slot0)
	slot2 = slot0.contextData.totalBattleTimes

	setText(slot0.btnOn:Find(&quot;Text&quot;), slot2 - slot0.contextData.continuousBattleTimes + 1 .. &quot;/&quot; .. slot2)
	setActive(slot0.slider, false)
	setActive(slot0.btnOff:Find(&quot;small&quot;), true)
	setActive(slot0.btnOff:Find(&quot;common&quot;), false)
end

slot0.OnEnterBattleResult = function(slot0)
	setActive(slot0.btnOff:Find(&quot;small&quot;), false)
	setActive(slot0.btnOff:Find(&quot;common&quot;), true)
end

slot0.AnimatingSlider = function(slot0)
	setActive(slot0.slider, true)

	slot1 = slot0:managedTween(LeanTween.value, function ()
		uv0:emit(ContinuousOperationMediator.ON_REENTER)
	end, go(slot0.slider), 1, 0, 5)

	slot1:setOnUpdate(System.Action_float(function (slot0)
		setSlider(uv0.slider, 0, 1, slot0)
	end))
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
end

slot0.onBackPressed = function(slot0)
	slot0:emit(GAME.PAUSE_BATTLE)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>