<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducatefavorpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducatefavorpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducateFavorPanel&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;NewEducateFavorPanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.favorPanelTF = slot0._tf:Find(&quot;favor_panel&quot;)
	slot0.favorPanelAnim = slot0.favorPanelTF:GetComponent(typeof(Animation))
	slot0.favorPanelAnimEvent = slot0.favorPanelTF:GetComponent(typeof(DftAniEvent))

	slot0.favorPanelAnimEvent:SetEndEvent(function ()
		setActive(uv0.favorPanelTF, false)
	end)
	setActive(slot0.favorPanelTF, false)

	slot1 = slot0._tf:Find(&quot;favor_panel/panel&quot;)
	slot2 = slot1:Find(&quot;bg/view/content&quot;)
	slot0.favorUIList = UIItemList.New(slot2, slot2:Find(&quot;tpl&quot;))
	slot0.favorCurTF = slot1:Find(&quot;bg/cur&quot;)

	pg.UIMgr.GetInstance():OverlayPanelPB(slot0._tf, {
		pbList = {
			slot1:Find(&quot;bg&quot;)
		},
		groupName = LayerWeightConst.GROUP_EDUCATE,
		weight = LayerWeightConst.BASE_LAYER
	})
end

slot0.OnInit = function(slot0)
	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;favor_panel&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)

	slot1 = slot0.favorUIList

	slot1:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdateItem(slot1, slot2)
		end
	end)
end

slot0.UpdateFavorPanel = function(slot0)
	slot1 = slot0.contextData.char:GetFavorInfo()

	setText(slot0.favorCurTF:Find(&quot;lv&quot;), slot1.lv)
	setText(slot0.favorCurTF:Find(&quot;progress&quot;), i18n(&quot;child_favor_progress&quot;, slot1.value .. &quot;/&quot; .. (slot0.contextData.char:getConfig(&quot;favor_exp&quot;)[slot1.lv] or &quot;Max&quot;)))
	setSlider(slot0.favorCurTF:Find(&quot;slider&quot;), 0, 1, slot2 and slot1.value / slot2 or 1)
	slot0.favorUIList:align(slot0.contextData.char:getConfig(&quot;favor_level&quot;) - 1)
end

slot0.UpdateItem = function(slot0, slot1, slot2)
	slot3 = slot1 + 1

	setText(slot2:Find(&quot;lv&quot;), slot3 + 1)

	slot5 = slot3 &lt; slot0.contextData.char:GetFavorInfo().lv

	setActive(slot2:Find(&quot;lock&quot;), not slot5)
	setActive(slot2:Find(&quot;award/got&quot;), slot5)
	setText(slot2:Find(&quot;Text&quot;), i18n(&quot;child_favor_lock1&quot;, slot3 + 1))
	setTextColor(slot2:Find(&quot;Text&quot;), Color.NewHex(slot5 and &quot;393A3C&quot; or &quot;F5F5F5&quot;))
	setTextColor(slot2:Find(&quot;lv&quot;), Color.NewHex(slot5 and &quot;FFFFFF&quot; or &quot;F5F5F5&quot;))
	NewEducateHelper.UpdateItem(slot2:Find(&quot;award/item&quot;), NewEducateHelper.Config2Drop(slot0.contextData.char:getConfig(&quot;favor_result_display&quot;)[slot3]))
	onButton(slot0, slot2:Find(&quot;award&quot;), function ()
		uv0:emit(NewEducateBaseUI.ON_ITEM, {
			drop = uv1
		})
	end, SFX_PANEL)
end

slot0.Show = function(slot0)
	uv0.super.Show(slot0)
	setActive(slot0.favorPanelTF, true)
	slot0:UpdateFavorPanel()
end

slot0.Hide = function(slot0)
	slot0.favorPanelAnim:Play(&quot;anim_educate_educateUI_favor_out&quot;)
end

slot0.OnDestroy = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>