<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducatetoppanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducatetoppanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducateTopPanel&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;NewEducateTopPanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.animCom = slot0._tf:GetComponent(typeof(Animation))
	slot1 = slot0._tf:Find(&quot;progress&quot;)
	slot0.progressEndingTF = slot1:Find(&quot;ending&quot;)

	setText(slot0.progressEndingTF:Find(&quot;Text&quot;), i18n(&quot;child2_ending_stage&quot;))

	slot0.progressResetTF = slot1:Find(&quot;reset&quot;)

	setText(slot0.progressResetTF:Find(&quot;Text&quot;), i18n(&quot;child2_reset_stage&quot;))

	slot0.progressInfoTF = slot1:Find(&quot;info&quot;)
	slot0.progressDetailTF = slot1:Find(&quot;detail&quot;)

	setActive(slot0.progressDetailTF, true)
	setActive(slot0.progressInfoTF, false)

	slot0.roundTF = slot0.progressDetailTF:Find(&quot;round/Text&quot;)
	slot0.assessRoundTF = slot0.progressDetailTF:Find(&quot;round/assess&quot;)
	slot0.targetTF = slot0.progressDetailTF:Find(&quot;target/content/value&quot;)

	if slot0.contextData.showBack then
		slot0:ShowBack()
	else
		slot0:ShowDetail()
	end

	slot0.resTF = slot0._tf:Find(&quot;res&quot;)
	slot0.resTF:GetComponent(typeof(Image)).enabled = not slot0.contextData.hideBlurBg
	slot0.toolbarTF = slot0._tf:Find(&quot;toolbar&quot;)

	setActive(slot0.toolbarTF:Find(&quot;btns/home&quot;), not slot0.contextData.hideHome)
	setActive(slot0.toolbarTF:Find(&quot;btns/help/line&quot;), not slot0.contextData.hideHome)
	setAnchoredPosition(slot0.resTF, {
		y = -30,
		x = slot0.contextData.hideHome and -437 or -565
	})
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf:Find(&quot;progress/back&quot;), function ()
		uv0:emit(NewEducateBaseUI.ON_BACK)
	end, SFX_PANEL)

	slot0.resUIList = UIItemList.New(slot0.resTF, slot0.resTF:Find(&quot;tpl&quot;))

	slot0.resUIList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventInit then
			uv0:OnInitRes(slot1, slot2)
		elseif slot0 == UIItemList.EventUpdate then
			uv0:OnUpdateRes(slot1, slot2)
		end
	end)

	slot0.resIds = slot0.contextData.char:GetResPanelIds()

	onButton(slot0, slot0.toolbarTF:Find(&quot;btns/collect&quot;), function ()
		uv0:emit(NewEducateBaseUI.GO_SUBLAYER, Context.New({
			mediator = NewEducateCollectEntranceMediator,
			viewComponent = NewEducateCollectEntranceLayer,
			data = {
				id = uv0.contextData.char.id
			}
		}))
	end, SFX_PANEL)
	onButton(slot0, slot0.toolbarTF:Find(&quot;btns/refresh&quot;), function ()
		uv0:emit(NewEducateBaseUI.ON_BOX, {
			content = i18n(&quot;child_refresh_sure_tip&quot;),
			onYes = function ()
				pg.m02:sendNotification(GAME.NEW_EDUCATE_REFRESH, {
					id = uv0.contextData.char.id
				})
			end
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.toolbarTF:Find(&quot;btns/help&quot;), function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip.child2_main_help.tip
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.toolbarTF:Find(&quot;btns/home&quot;), function ()
		NewEducateHelper.TrackExitTime()
		uv0:emit(NewEducateBaseUI.ON_HOME)
	end, SFX_PANEL)
	pg.UIMgr.GetInstance():OverlayPanelPB(slot0._tf, {
		pbList = {
			slot0.resTF
		},
		groupName = LayerWeightConst.GROUP_EDUCATE,
		weight = LayerWeightConst.BASE_LAYER
	})
	slot0:Flush()
end

slot0.Flush = function(slot0, slot1)
	slot0:FlushProgress(slot1)
	slot0:FlushRes()
end

slot0.ShowDetail = function(slot0)
	slot0:Show()

	slot0.detailShowing = true
end

slot0.ShowBack = function(slot0)
	slot0:Show()

	slot0.detailShowing = false
end

slot0.FlushProgress = function(slot0, slot1)
	slot3 = (slot1 or slot0.contextData.char:GetFSM():GetStystemNo()) ~= NewEducateFSM.STYSTEM.ENDING

	setActive(slot0.progressDetailTF, slot3)
	setActive(slot0.progressEndingTF, not slot3)
	setActive(slot0.progressResetTF, not slot3)

	if slot3 then
		slot5, slot6, slot7 = slot0.contextData.char:GetRoundData():GetProgressInfo()

		setText(slot0.progressInfoTF:Find(&quot;Text&quot;), i18n(&quot;child2_cur_round&quot;, slot5))
		setText(slot0.roundTF, i18n(&quot;child2_cur_round&quot;, slot5))
		setText(slot0.assessRoundTF, i18n(&quot;child2_assess_round&quot;, slot6))
		setTextColor(slot0.assessRoundTF, Color.NewHex(slot6 &gt; 0 and &quot;39bfff&quot; or &quot;ff6767&quot;))

		slot9 = slot0.contextData.char:GetAttrSum()

		setText(slot0.targetTF, i18n(&quot;child2_assess_target&quot;, slot9, slot7))
		setTextColor(slot0.targetTF, Color.NewHex(slot7 &lt;= slot9 and &quot;39bfff&quot; or &quot;848498&quot;))
	else
		slot5 = slot0.contextData.char:GetFSM():GetState(NewEducateFSM.STYSTEM.ENDING) and slot4:IsFinish()

		setActive(slot0.progressEndingTF, not slot5)
		setActive(slot0.progressResetTF, slot5)
	end
end

slot0.OnInitRes = function(slot0, slot1, slot2)
	setActive(slot2:Find(&quot;line&quot;), slot1 + 1 ~= #slot0.resIds)
	LoadImageSpriteAsync(&quot;neweducateicon/&quot; .. pg.child2_resource[slot0.resIds[slot1 + 1]].icon, slot2:Find(&quot;icon&quot;))
	onButton(slot0, slot2, function ()
		uv0:emit(NewEducateBaseUI.ON_ITEM, {
			drop = {
				number = 1,
				type = NewEducateConst.DROP_TYPE.RES,
				id = uv1
			}
		})
	end, SFX_PANEL)
end

slot0.OnUpdateRes = function(slot0, slot1, slot2)
	slot4 = pg.child2_resource[slot0.resIds[slot1 + 1]].type ~= NewEducateChar.RES_TYPE.MONEY and &quot;/&quot; .. slot3.max_value or &quot;&quot;
	slot5 = slot0.contextData.char:GetRes(slot3.id)

	if slot3.type == NewEducateChar.RES_TYPE.MOOD then
		setText(slot2:Find(&quot;value&quot;), setColorStr(slot5, slot0:GetMoodColor(slot5)) .. slot4)
	else
		setText(slot2:Find(&quot;value&quot;), slot5 .. slot4)
	end
end

slot0.FlushRes = function(slot0)
	slot0.resUIList:align(#slot0.resIds)
end

slot0.PlayShow = function(slot0)
	slot0.animCom:Play(&quot;anim_educate_topui_show&quot;)
end

slot0.PlayHide = function(slot0)
	slot0.animCom:Play(&quot;anim_educate_topui_hide&quot;)
end

slot0.OnDestroy = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
end

slot0.GetMoodColor = function(slot0, slot1)
	if slot1 &lt; 20 then
		return &quot;#ee4a4a&quot;
	elseif slot1 &lt; 40 then
		return &quot;#ab4734&quot;
	elseif slot1 &lt; 60 then
		return &quot;#393A3C&quot;
	else
		return &quot;#00c79b&quot;
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>