<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducatepersonalitytippanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducatepersonalitytippanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducatePersonalityTipPanel&quot;, import(&quot;view.base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;NewEducatePersonalityTipPanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.animCom = slot0._tf:GetComponent(typeof(Animation))
	slot0.animEvent = slot0._tf:GetComponent(typeof(DftAniEvent))
	slot0.personalityTF = slot0._tf:Find(&quot;personality&quot;)
end

slot0.OnInit = function(slot0)
	pg.UIMgr.GetInstance():OverlayPanelPB(slot0._tf, {
		pbList = {
			slot0.resTF
		},
		groupName = LayerWeightConst.GROUP_EDUCATE,
		weight = LayerWeightConst.BASE_LAYER + 2
	})
end

slot0.FlushPersonality = function(slot0, slot1, slot2)
	slot0:Show()

	slot3 = slot1 &gt; 0 and slot0.personalityTF:Find(&quot;tag2&quot;) or slot0.personalityTF:Find(&quot;tag1&quot;)

	seriesAsync({
		function (slot0)
			setText(uv1:Find(&quot;Text&quot;), (uv0 &gt; 0 and i18n(&quot;child2_personal_tag2&quot;) or i18n(&quot;child2_personal_tag1&quot;)) .. &quot;+&quot; .. math.abs(uv0))
			setActive(uv1, true)
			uv2.animEvent:SetEndEvent(function ()
				uv0.animEvent:SetEndEvent(nil)
				uv1()
			end)
			uv2.animCom:Play(&quot;Anim_educate_personality_show&quot;)
		end,
		function (slot0)
			if uv0.contextData.char:GetPersonalityTag() ~= uv1 then
				setActive(uv0.personalityTF:Find(&quot;tag1&quot;), true)
				setText(uv0.personalityTF:Find(&quot;tag1/Text&quot;), i18n(&quot;child2_personal_change&quot;))
				setActive(uv0.personalityTF:Find(&quot;tag2&quot;), true)
				setText(uv0.personalityTF:Find(&quot;tag2/Text&quot;), i18n(&quot;child2_personal_change&quot;))
				uv0.animEvent:SetEndEvent(function ()
					uv0.animEvent:SetEndEvent(nil)
					uv1()
				end)
				uv0.animCom:Play(slot1 == &quot;tag1&quot; and &quot;Anim_educate_personality_2to1&quot; or &quot;Anim_educate_personality_1to2&quot;)
			else
				slot0()
			end
		end
	}, function ()
		uv0:Hide()
	end)
end

slot0.OnDestroy = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>