<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neweducateroundtippanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>neweducateroundtippanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;NewEducateRoundTipPanel&quot;, import(&quot;view.base.BaseSubView&quot;))
slot0.SHOW_TIME = 5

slot0.getUIName = function(slot0)
	return &quot;NewEducateRoundTipPanel&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.rootTF = slot0._tf:Find(&quot;root&quot;)
	slot0.assessWindow = slot0.rootTF:Find(&quot;assess&quot;)

	setActive(slot0.assessWindow, false)

	slot0.assessTF = slot0.assessWindow:Find(&quot;content/assess/Text&quot;)
	slot0.targetTF = slot0.assessWindow:Find(&quot;content/target/Text&quot;)
	slot0.roundWindow = slot0.rootTF:Find(&quot;round&quot;)

	setActive(slot0.roundWindow, false)

	slot0.roundTF = slot0.roundWindow:Find(&quot;calendar/week/Text&quot;)
	slot0.roundAnim = slot0.roundWindow:GetComponent(typeof(Animation))
	slot0.roundAnimEvent = slot0.roundWindow:GetComponent(typeof(DftAniEvent))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0.assessWindow, function ()
		uv0:Hide()
	end, SFX_PANEL)
end

slot0.Show = function(slot0, slot1)
	uv0.super.Show(slot0)

	slot0.callback = slot1
	slot2 = pg.UIMgr.GetInstance()

	slot2:OverlayPanel(slot0._tf, {
		groupName = LayerWeightConst.GROUP_EDUCATE,
		weight = LayerWeightConst.BASE_LAYER + 1
	})

	slot2 = slot0.contextData.char
	slot2 = slot2:GetRoundData()
	slot3, slot4, slot5 = slot2:GetProgressInfo()

	setText(slot0.assessTF, i18n(&quot;child2_assess_tip&quot;, slot4))
	setText(slot0.targetTF, i18n(&quot;child2_assess_tip_target&quot;, slot5))
	setText(slot0.roundTF, i18n(&quot;child2_cur_round&quot;, slot3 - 1))
	seriesAsync({
		function (slot0)
			slot1 = uv0.roundAnimEvent

			slot1:SetEndEvent(function ()
				uv0.roundAnimEvent:SetEndEvent(nil)
				setActive(uv0.roundWindow, false)
				uv1()
			end)

			slot1 = uv0.roundAnimEvent

			slot1:SetTriggerEvent(function ()
				uv0.roundAnimEvent:SetTriggerEvent(nil)
				setText(uv0.roundTF, i18n(&quot;child2_cur_round&quot;, uv1))
			end)
			setActive(uv0.roundWindow, true)
		end,
		function (slot0)
			if uv0:IsShowAssessTip() then
				setActive(uv1.assessWindow, true)
				onDelayTick(function ()
					if not uv0._tf or not uv0:isShowing() then
						return
					end

					setActive(uv0.assessWindow, false)
					uv1()
				end, uv2.SHOW_TIME)
			else
				slot0()
			end
		end
	}, function ()
		uv0:Hide()
	end)
end

slot0.Hide = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0._tf)
	existCall(slot0.callback)

	slot0.callback = nil

	uv0.super.Hide(slot0)
end

slot0.OnDestroy = function(slot0)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>