<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>educateendinglayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>educateendinglayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EducateEndingLayer&quot;, import(&quot;.EducateCollectLayerTemplate&quot;))

slot0.getUIName = function(slot0)
	return &quot;EducateEndingUI&quot;
end

slot0.initConfig = function(slot0)
	slot0.config = pg.child_ending
end

slot0.didEnter = function(slot0)
	setText(slot0:findTF(&quot;review_btn/Text&quot;, slot0.performTF), i18n(&quot;child_btn_review&quot;))

	slot0.endings = getProxy(EducateProxy):GetFinishEndings()
	slot0.char = getProxy(EducateProxy):GetCharData()
	slot0.tpl = slot0:findTF(&quot;condition_tpl&quot;, slot0.windowTF)

	setText(slot0.curCntTF, #slot0.endings)
	setText(slot0.allCntTF, &quot;/&quot; .. #slot0.config.all)
	slot0:updatePage()
end

slot0.updateItem = function(slot0, slot1, slot2)
	if table.contains(slot0.endings, slot1.id) then
		LoadImageSpriteAsync(&quot;bg/&quot; .. slot1.pic, slot0:findTF(&quot;unlock/mask/Image&quot;, slot2))
		setText(slot0:findTF(&quot;unlock/name&quot;, slot2), slot1.name)
		onButton(slot0, slot2, function ()
			uv0:showPerformWindow(uv1)
		end, SFX_PANEL)
	else
		removeOnButton(slot2)
		slot0:updateConditions(slot1.condition, slot0:findTF(&quot;lock/conditions&quot;, slot2))
	end

	setActive(slot0:findTF(&quot;unlock&quot;, slot2), slot3)
	setActive(slot0:findTF(&quot;lock&quot;, slot2), not slot3)
end

slot0.updateConditions = function(slot0, slot1, slot2)
	slot3 = 0

	for slot7 = 1, #slot1 do
		if slot1[slot7][1] == EducateConst.DROP_TYPE_ATTR then
			slot3 = slot3 + 1
			slot9 = slot7 &lt;= slot2.childCount and slot2:GetChild(slot7 - 1) or cloneTplTo(slot0.tpl, slot2)
			slot10 = false
			slot11 = &quot;&quot;

			setActive(slot0:findTF(&quot;icon/unlock&quot;, slot9), slot10)
			setTextColor(slot0:findTF(&quot;Text&quot;, slot9), Color.NewHex(slot10 and &quot;F59F48&quot; or &quot;888888&quot;))
			setText(slot0:findTF(&quot;Text&quot;, slot9), slot8[3] and pg.child_attr[slot8[2]].name .. &quot; &gt; &quot; .. slot8[3] or i18n(&quot;child_nature_title&quot;) .. pg.child_attr[slot8[2]].name)
		end
	end

	for slot7 = 1, slot2.childCount do
		setActive(slot2:GetChild(slot7 - 1), slot7 &lt;= slot3)
	end
end

slot0.showPerformWindow = function(slot0, slot1)
	slot2 = slot0:findTF(&quot;Image&quot;, slot0.performTF)

	LoadImageSpriteAsync(&quot;bg/&quot; .. slot1.pic, slot2)
	setActive(slot0.performTF, true)
	onButton(slot0, slot2, function ()
		setActive(uv0.performTF, false)
	end, SFX_PANEL)
	onButton(slot0, slot0:findTF(&quot;review_btn&quot;, slot0.performTF), function ()
		pg.PerformMgr.GetInstance():PlayGroup(uv0.performance)
	end, SFX_PANEL)
end

slot0.playAnimChange = function(slot0)
	slot0.anim:Stop()
	slot0.anim:Play(&quot;anim_educate_ending_change&quot;)
end

slot0.playAnimClose = function(slot0)
	slot0.anim:Play(&quot;anim_educate_ending_out&quot;)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>