<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandbasemappage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandbasemappage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandBaseMapPage&quot;, import(&quot;...base.IslandBasePage&quot;))
slot0.HIDE_DESC = &quot;IslandBaseMapPage:HIDE_DESC&quot;
slot0.CLOSE = &quot;IslandBaseMapPage:CLOSE&quot;

slot0.getUIName = function(slot0)
	return &quot;IslandMapUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.maps = {}
	slot0.bg = slot0:findTF(&quot;bg&quot;)

	slot0:InitMaps()
	setText(slot0:findTF(&quot;adapt/title/Text&quot;), i18n(&quot;island_map_title&quot;))
end

slot0.InitMaps = function(slot0)
	eachChild(slot0.bg, function (slot0)
		if slot0.name:sub(-1) ~= &quot;$&quot; then
			uv0.maps[tonumber(slot0.name)] = slot0
		end
	end)
end

slot0.OnInit = function(slot0)
	for slot4, slot5 in pairs(slot0.maps) do
		onButton(slot0, slot5, function ()
			if not uv0:CheckUnlock(uv1) then
				return
			end

			uv0:ShowDesc(uv1)
		end, SFX_PANEL)
	end

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;bg&quot;), function ()
		if uv0.selectedId then
			uv0:HideSelected()
		end
	end, SFX_PANEL)

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;adapt/back&quot;), function ()
		uv0:ClosePage(uv0.class)
	end, SFX_PANEL)

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;adapt/home&quot;), function ()
		uv0:emit(BaseUI.ON_HOME)
	end, SFX_PANEL)
	slot0:bind(uv0.HIDE_DESC, function ()
		uv0:HideSelected()
	end)
	slot0:bind(uv0.CLOSE, function ()
		uv0:ClosePage(uv0.class)
	end)
end

slot0.OnShow = function(slot0)
	slot0:Flush()
end

slot0.Flush = function(slot0)
	for slot4, slot5 in pairs(slot0.maps) do
		setActive(slot5:Find(&quot;selcted&quot;), false)
		setActive(slot5:Find(&quot;lock&quot;), not slot0:CheckUnlock(slot4))
		setActive(slot5:Find(&quot;full&quot;), false)
		setActive(slot5:Find(&quot;finish&quot;), false)
		setActive(slot5:Find(&quot;fetch&quot;), false)
	end
end

slot0.CheckUnlock = function(slot0, slot1)
	return slot0:GetIsland():GetAblityAgency():IsUnlockMap(slot1)
end

slot0.ShowDesc = function(slot0, slot1)
	if slot0.selectedId then
		slot0:HideSelected(slot0.selectedId)
	end

	setActive(slot0.maps[slot1]:Find(&quot;selcted&quot;), true)
	slot0:GoDesc(slot1)

	slot0.selectedId = slot1
end

slot0.HideSelected = function(slot0)
	if slot0.maps[slot0.selectedId] == nil then
		return
	end

	slot3 = slot2:Find(&quot;selcted&quot;)
	dftAniEvent = slot3:GetComponent(typeof(DftAniEvent))

	dftAniEvent:SetEndEvent(function ()
		dftAniEvent:SetEndEvent(nil)
		setActive(uv0, false)
	end)
	slot3:GetComponent(typeof(Animation)):Play(&quot;IslandMapUI_selectedout&quot;)

	slot0.selectedId = nil
end

slot0.GoDesc = function(slot0, slot1)
	slot0:OpenPage(IslandBaseMapDescPage, slot1)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>