<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>islandbasemapdescpage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>islandbasemapdescpage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;IslandBaseMapDescPage&quot;, import(&quot;...base.IslandBasePage&quot;))

slot0.getUIName = function(slot0)
	return &quot;IslandMapDescUI&quot;
end

slot0.OnLoaded = function(slot0)
	slot0.nameTxt = slot0:findTF(&quot;frame/title/name/Text&quot;):GetComponent(typeof(Text))
	slot0.descTxt = slot0:findTF(&quot;frame/Text&quot;):GetComponent(typeof(Text))
	slot0.goBtn = slot0:findTF(&quot;frame/go&quot;)
	slot0.uiProductionList = UIItemList.New(slot0:findTF(&quot;frame/list&quot;), slot0:findTF(&quot;frame/list/tpl&quot;))
	slot0.iconTr = slot0:findTF(&quot;frame/icon&quot;)
	slot0.fullMark = slot0:findTF(&quot;frame/icon/tag&quot;)

	setText(slot0:findTF(&quot;frame/go/Text&quot;), i18n(&quot;island_word_go&quot;))

	slot0.animationPlayer = slot0._tf:GetComponent(typeof(Animation))
	slot0.dftAniEvent = slot0._tf:GetComponent(typeof(DftAniEvent))
end

slot0.OnInit = function(slot0)
	onButton(slot0, slot0._tf, function ()
		uv0.dftAniEvent:SetEndEvent(function ()
			uv0.dftAniEvent:SetEndEvent(nil)
			uv0:Hide()
		end)
		uv0.animationPlayer:Play(&quot;IslandMapDescUI_out&quot;)
		uv0:emit(IslandBaseMapPage.HIDE_DESC)
	end, SFX_PANEL)
end

slot0.OnShow = function(slot0, slot1)
	slot2 = pg.island_map[slot1]
	slot0.nameTxt.text = slot2.name
	slot0.descTxt.text = slot2.desc

	LoadImageSpriteAtlasAsync(&quot;island/IslandMapIcon/&quot; .. slot1, &quot;&quot;, slot0.iconTr)
	onButton(slot0, slot0.goBtn, function ()
		uv0:GoMap(uv1)
	end, SFX_PANEL)
	setActive(slot0.fullMark, false)
end

slot0.GoMap = function(slot0, slot1)
	slot0:emit(IslandBaseMediator.SWITCH_MAP, slot1, pg.island_map[slot1].born_object)
	slot0:emit(IslandBaseMapPage.CLOSE)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>