<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chapterrewardpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>chapterrewardpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ChapterRewardPanel&quot;, BaseSubView)

slot0.getUIName = function(slot0)
	return &quot;ChapterRewardPanel&quot;
end

slot0.OnInit = function(slot0)
	setText(slot0:findTF(&quot;window/bg/text&quot;), i18n(&quot;desc_defense_reward&quot;))

	slot2 = slot0._tf
	slot3 = slot0._tf
	slot0.UIlist = UIItemList.New(slot2:Find(&quot;window/bg/panel/list&quot;), slot3:Find(&quot;window/bg/panel/list/item&quot;))
	slot1 = slot0._tf
	slot0.closeBtn = slot1:Find(&quot;window/top/btnBack&quot;)
	slot1 = slot0._tf
	slot0.confirmBtn = slot1:Find(&quot;window/btn_confirm&quot;)

	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.closeBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.confirmBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
end

slot1 = {
	&quot;s&quot;,
	&quot;a&quot;,
	&quot;b&quot;
}

slot2 = function(slot0, slot1, slot2, slot3)
	slot0.UIlist:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			setText(slot2:Find(&quot;title/Text&quot;), &quot;PHASE &quot; .. slot1 + 1)

			slot3 = tostring(uv0[slot1 + 1] - 1)

			if uv0[slot1 + 1] - 1 ~= uv0[slot1 + 2] then
				slot3 = tostring(uv0[slot1 + 2]) .. &quot;-&quot; .. slot3
			end

			setText(slot2:Find(&quot;target/title&quot;), i18n(&quot;text_rest_HP&quot;) .. &quot;：&quot;)
			setText(slot2:Find(&quot;target/Text&quot;), slot3)
			updateDrop(slot2:Find(&quot;award&quot;), uv1[slot1 + 1], {
				hideName = true
			})
			onButton(uv2, slot2:Find(&quot;award&quot;), function ()
				uv0:emit(BaseUI.ON_DROP, uv1)
			end, SFX_PANEL)
			setActive(slot2:Find(&quot;award/mask&quot;), false)
		end
	end)
	slot0.UIlist:align(#slot3)
end

slot0.Show = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
	uv0.super.Show(slot0)
end

slot0.Hide = function(slot0)
	uv0.super.Hide(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
end

slot0.Enter = function(slot0, slot1)
	slot3 = pg.chapter_defense[slot1.id]

	assert(slot3, &quot;Chapter Detail should only be Defense Type&quot;)
	table.insert(Clone(slot3.score), 1, slot3.port_hp + 1)

	slot5 = {}

	for slot9, slot10 in ipairs(uv0) do
		if #slot3[&quot;evaluation_display_&quot; .. slot10] &gt; 0 then
			table.insert(slot5, {
				type = slot11[1],
				id = slot11[2],
				count = slot11[3]
			})
		end
	end

	uv1(slot0, slot3, slot4, slot5)
	slot0:Show()
	Canvas.ForceUpdateCanvases()
end

slot0.OnDestroy = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>