<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cmdlevelformationpanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>cmdlevelformationpanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;CmdLevelFormationPanel&quot;, import(&quot;..base.BasePanel&quot;))

slot0.init = function(slot0)
	slot0.descPanel = slot0:findTF(&quot;desc&quot;)
	slot0.descFrameTF = slot0:findTF(&quot;desc/frame&quot;)
	slot0.descPos1 = slot0:findTF(&quot;commander1/frame/info&quot;, slot0.descFrameTF)
	slot0.descPos2 = slot0:findTF(&quot;commander2/frame/info&quot;, slot0.descFrameTF)
	slot0.skillTFPos1 = slot0:findTF(&quot;commander1/skill_info&quot;, slot0.descFrameTF)
	slot0.skillTFPos2 = slot0:findTF(&quot;commander2/skill_info&quot;, slot0.descFrameTF)
	slot0.abilitysTF = UIItemList.New(slot0:findTF(&quot;atttr_panel/abilitys/mask/content&quot;, slot0.descFrameTF), slot0:findTF(&quot;atttr_panel/abilitys/mask/content/attr&quot;, slot0.descFrameTF))
	slot0.talentsTF = UIItemList.New(slot0:findTF(&quot;atttr_panel/talents/mask/content&quot;, slot0.descFrameTF), slot0:findTF(&quot;atttr_panel/talents/mask/content/attr&quot;, slot0.descFrameTF))
	slot0.abilityArr = slot0:findTF(&quot;desc/frame/atttr_panel/abilitys/arr&quot;)
	slot0.talentsArr = slot0:findTF(&quot;desc/frame/atttr_panel/talents/arr&quot;)
	slot0.animtion = slot0.descPanel:GetComponent(&quot;Animation&quot;)
	slot0.animtionEvent = slot0:findTF(&quot;desc&quot;):GetComponent(typeof(DftAniEvent))
end

slot0.update = function(slot0, slot1, slot2)
	slot0.callback = slot2

	assert(slot1)

	slot0.fleet = slot1

	slot0:updateDesc()
end

slot0.attach = function(slot0, slot1)
	uv0.super.attach(slot0, slot1)
	setActive(slot0._go, false)
	onButton(slot0, slot0._tf, function ()
		uv0:close()
	end, SFX_PANEL)
end

slot0.playAnim = function(slot0, slot1)
	slot0.animtion:Play(slot1)
end

slot0.open = function(slot0)
	slot0:playAnim(&quot;cmdopen&quot;)
	setActive(slot0._go, true)
	setParent(slot0._go, pg.UIMgr.GetInstance().OverlayMain)
	slot0._tf:SetAsLastSibling()
end

slot0.close = function(slot0)
	slot0:playAnim(&quot;cmdclose&quot;)
	setActive(slot0._go, false)
end

slot0.updateDesc = function(slot0)
	slot1 = slot0.fleet:getCommanders()

	for slot5 = 1, CommanderConst.MAX_FORMATION_POS do
		slot6 = slot1[slot5]

		slot0:updateCommander(slot0[&quot;descPos&quot; .. slot5], slot5, slot6)
		slot0:updateSkillTF(slot6, slot0[&quot;skillTFPos&quot; .. slot5])
	end

	slot0:updateAdditions()
end

slot0.updateAdditions = function(slot0)
	slot1 = slot0.fleet
	slot2 = _.values(slot1:getCommandersTalentDesc())
	slot3, slot4 = slot1:getCommandersAddition()

	slot0.abilitysTF:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			setText(slot2:Find(&quot;name&quot;), AttributeType.Type2Name(slot3.attrName))
			setText(slot2:Find(&quot;Text&quot;), string.format(&quot;%0.3f&quot;, slot3.value) .. &quot;%&quot;)
			GetImageSpriteFromAtlasAsync(&quot;attricon&quot;, slot3.attrName, slot2:Find(&quot;icon&quot;), false)
			setActive(slot2:Find(&quot;bg&quot;), slot1 % 2 ~= 0)
		end
	end)
	slot0.abilitysTF:align(#slot3)
	setActive(slot0.abilityArr, #slot3 &gt; 4)
	slot0.talentsTF:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			setScrollText(findTF(slot2, &quot;name_mask/name&quot;), slot3.name)
			setText(slot2:Find(&quot;Text&quot;), slot3.value .. (slot3.type == CommanderConst.TALENT_ADDITION_RATIO and &quot;%&quot; or &quot;&quot;))
			setActive(slot2:Find(&quot;bg&quot;), slot1 % 2 ~= 0)
		end
	end)
	slot0.talentsTF:align(#slot2)
	setActive(slot0.talentsArr, #slot2 &gt; 4)
end

slot0.updateSkillTF = function(slot0, slot1, slot2)
	setActive(slot2, slot1)

	if slot1 then
		slot3 = slot1:getSkills()[1]

		GetImageSpriteFromAtlasAsync(&quot;CommanderSkillIcon/&quot; .. slot3:getConfig(&quot;icon&quot;), &quot;&quot;, slot2:Find(&quot;icon&quot;))
		setText(slot2:Find(&quot;level&quot;), &quot;Lv.&quot; .. slot3:getLevel())
	end
end

slot0.updateCommander = function(slot0, slot1, slot2, slot3)
	slot4 = slot1:Find(&quot;add&quot;)
	slot5 = slot1:Find(&quot;info&quot;)

	if slot3 then
		slot7 = slot1:Find(&quot;info/frame&quot;)

		GetImageSpriteFromAtlasAsync(&quot;CommanderHrz/&quot; .. slot3:getPainting(), &quot;&quot;, slot1:Find(&quot;info/mask/icon&quot;))

		if slot1:Find(&quot;info/name&quot;) then
			setText(slot8, slot3:getName())
		end

		setImageSprite(slot7, GetSpriteFromAtlas(&quot;weaponframes&quot;, &quot;commander_&quot; .. Commander.rarity2Frame(slot3:getRarity())))
	end

	onButton(slot0, slot5, function ()
		if uv0.callback then
			uv0.callback(uv1)
		end
	end, SFX_PANEL)
	onButton(slot0, slot4, function ()
		if uv0.callback then
			uv0.callback(uv1)
		end
	end, SFX_PANEL)
	setActive(slot4, not slot3)
	setActive(slot5, slot3)
end

slot0.enable = function(slot0, slot1)
	setActive(slot0._go, slot1)
end

slot0.clear = function(slot0)
	setActive(slot0._go, false)
	setParent(slot0._go, slot0.parent.topPanel)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>