<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>levelcmdformationview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>levelcmdformationview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;LevelCMDFormationView&quot;, import(&quot;..base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;LevelCommanderView&quot;
end

slot0.OnInit = function(slot0)
	slot0:InitUI()
end

slot0.OnDestroy = function(slot0)
	if slot0:isShowing() then
		slot0:Hide()
	end

	slot0.callback = nil
end

slot0.Show = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
	setActive(slot0._tf, true)
end

slot0.Hide = function(slot0)
	setActive(slot0._go, false)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parentTf)
end

slot0.InitUI = function(slot0)
	slot0.descFrameTF = slot0:findTF(&quot;frame&quot;)
	slot0.descPos1 = slot0:findTF(&quot;commander1/frame/info&quot;, slot0.descFrameTF)
	slot0.descPos2 = slot0:findTF(&quot;commander2/frame/info&quot;, slot0.descFrameTF)
	slot0.skillTFPos1 = slot0:findTF(&quot;commander1/skill_info&quot;, slot0.descFrameTF)
	slot0.skillTFPos2 = slot0:findTF(&quot;commander2/skill_info&quot;, slot0.descFrameTF)
	slot0.abilitysTF = UIItemList.New(slot0:findTF(&quot;atttr_panel/abilitys/mask/content&quot;, slot0.descFrameTF), slot0:findTF(&quot;atttr_panel/abilitys/mask/content/attr&quot;, slot0.descFrameTF))
	slot0.talentsTF = UIItemList.New(slot0:findTF(&quot;atttr_panel/talents/mask/content&quot;, slot0.descFrameTF), slot0:findTF(&quot;atttr_panel/talents/mask/content/attr&quot;, slot0.descFrameTF))
	slot0.abilityArr = slot0:findTF(&quot;frame/atttr_panel/abilitys/arr&quot;)
	slot0.talentsArr = slot0:findTF(&quot;frame/atttr_panel/talents/arr&quot;)
	slot0.restAllBtn = slot0:findTF(&quot;rest_all&quot;, slot0.descFrameTF)
	slot0.quickBtn = slot0:findTF(&quot;quick_btn&quot;, slot0.descFrameTF)
	slot0.recordPanel = slot0:findTF(&quot;record_panel&quot;)
	slot2 = slot0.recordPanel
	slot2 = slot0.recordPanel
	slot0.recordCommanders = {
		slot2:Find(&quot;current/commanders/commander1/frame/info&quot;),
		slot2:Find(&quot;current/commanders/commander2/frame/info&quot;)
	}
	slot2 = slot0.recordPanel
	slot2 = slot0.recordPanel
	slot0.reocrdSkills = {
		slot2:Find(&quot;current/commanders/commander1/skill_info&quot;),
		slot2:Find(&quot;current/commanders/commander2/skill_info&quot;)
	}
	slot2 = slot0.recordPanel
	slot3 = slot0.recordPanel
	slot0.recordList = UIItemList.New(slot2:Find(&quot;record/content&quot;), slot3:Find(&quot;record/content/commanders&quot;))

	onButton(slot0, slot0.restAllBtn, function ()
		uv0.callback({
			type = LevelUIConst.COMMANDER_OP_REST_ALL
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.quickBtn, function ()
		uv0:OpenRecordPanel()
	end, SFX_PANEL)

	slot3 = slot0.recordPanel

	onButton(slot0, slot3:Find(&quot;back&quot;), function ()
		uv0:CloseRecordPanel()
	end, SFX_PANEL)

	slot3 = slot0._tf

	onButton(slot0, slot3:Find(&quot;bg&quot;), function ()
		uv0:Hide()
	end, SFX_PANEL)
end

slot0.setCallback = function(slot0, slot1)
	slot0.callback = slot1
end

slot0.update = function(slot0, slot1, slot2)
	slot0:updateFleet(slot1)
	slot0:updatePrefabs(slot2)
end

slot0.updateFleet = function(slot0, slot1)
	slot0.fleet = slot1

	slot0:updateDesc()
	slot0:updateRecordFleet()
end

slot0.updatePrefabs = function(slot0, slot1)
	slot0.prefabFleets = slot1

	slot0:updateRecordPanel()
end

slot0.updateRecordFleet = function(slot0)
	slot1 = slot0.fleet:getCommanders()

	for slot5, slot6 in ipairs(slot0.recordCommanders) do
		slot7 = slot1[slot5]

		slot0:updateCommander(slot6, slot5, slot7)
		slot0:updateSkillTF(slot7, slot0.reocrdSkills[slot5])
	end
end

slot0.updateRecordPanel = function(slot0)
	slot1 = slot0.fleet:getCommanders()

	slot0.recordList:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			uv0:UpdatePrefabFleet(uv0.prefabFleets[slot1 + 1], slot2, uv1)
		end
	end)
	slot0.recordList:align(#slot0.prefabFleets)
end

slot0.UpdatePrefabFleet = function(slot0, slot1, slot2, slot3)
	slot4 = slot2:Find(&quot;fleet_name&quot;)

	onInputEndEdit(slot0, slot4, function ()
		uv1.callback({
			type = LevelUIConst.COMMANDER_OP_RENAME,
			id = uv2.id,
			str = getInputText(uv0),
			onFailed = function ()
				setInputText(uv0, uv1)
			end
		})
	end)
	setInputText(slot4, slot1:getName())
	onButton(slot0, slot2:Find(&quot;use_btn&quot;), function ()
		uv0.callback({
			type = LevelUIConst.COMMANDER_OP_USE_PREFAB,
			id = uv1.id
		})
		uv0:CloseRecordPanel()
	end, SFX_PANEL)
	onButton(slot0, slot2:Find(&quot;record_btn&quot;), function ()
		uv0.callback({
			type = LevelUIConst.COMMANDER_OP_RECORD_PREFAB,
			id = uv1.id
		})
	end, SFX_PANEL)

	slot7 = {
		slot2:Find(&quot;commander1/skill_info&quot;),
		slot2:Find(&quot;commander2/skill_info&quot;)
	}

	for slot11, slot12 in ipairs({
		slot2:Find(&quot;commander1/frame/info&quot;),
		slot2:Find(&quot;commander2/frame/info&quot;)
	}) do
		slot13 = slot1:getCommanderByPos(slot11)

		slot0:updateCommander(slot12, slot11, slot13)
		slot0:updateSkillTF(slot13, slot7[slot11])
	end
end

slot0.updateDesc = function(slot0)
	slot1 = slot0.fleet:getCommanders()

	for slot5 = 1, CommanderConst.MAX_FORMATION_POS do
		slot6 = slot1[slot5]

		slot0:updateCommander(slot0[&quot;descPos&quot; .. slot5], slot5, slot6, true)
		slot0:updateSkillTF(slot6, slot0[&quot;skillTFPos&quot; .. slot5])
	end

	slot0:updateAdditions()
end

slot0.updateAdditions = function(slot0)
	slot1 = slot0.fleet
	slot2 = _.values(slot1:getCommandersTalentDesc())
	slot3, slot4 = slot1:getCommandersAddition()

	slot0.abilitysTF:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			setText(slot2:Find(&quot;name&quot;), AttributeType.Type2Name(slot3.attrName))
			setText(slot2:Find(&quot;Text&quot;), string.format(&quot;%0.3f&quot;, slot3.value) .. &quot;%&quot;)
			GetImageSpriteFromAtlasAsync(&quot;attricon&quot;, slot3.attrName, slot2:Find(&quot;icon&quot;), false)
			setImageAlpha(slot2:Find(&quot;bg&quot;), slot1 % 2)
		end
	end)
	slot0.abilitysTF:align(#slot3)
	setActive(slot0.abilityArr, #slot3 &gt; 4)
	slot0.talentsTF:make(function (slot0, slot1, slot2)
		if slot0 == UIItemList.EventUpdate then
			slot3 = uv0[slot1 + 1]

			setScrollText(findTF(slot2, &quot;name_mask/name&quot;), slot3.name)
			setText(slot2:Find(&quot;Text&quot;), slot3.value .. (slot3.type == CommanderConst.TALENT_ADDITION_RATIO and &quot;%&quot; or &quot;&quot;))
			setImageAlpha(slot2:Find(&quot;bg&quot;), slot1 % 2)
		end
	end)
	slot0.talentsTF:align(#slot2)
	setActive(slot0.talentsArr, #slot2 &gt; 4)
end

slot0.updateSkillTF = function(slot0, slot1, slot2)
	setActive(slot2, slot1)

	if slot1 then
		slot3 = slot1:getSkills()[1]

		GetImageSpriteFromAtlasAsync(&quot;CommanderSkillIcon/&quot; .. slot3:getConfig(&quot;icon&quot;), &quot;&quot;, slot2:Find(&quot;icon&quot;))
		setText(slot2:Find(&quot;level&quot;), &quot;Lv.&quot; .. slot3:getLevel())
		onButton(slot0, slot2, function ()
			uv0.callback({
				type = LevelUIConst.COMMANDER_OP_SHOW_SKILL,
				skill = uv1
			})
		end, SFX_PANEL)

		return
	end

	removeOnButton(slot2)
end

slot0.updateCommander = function(slot0, slot1, slot2, slot3, slot4)
	slot5 = slot1:Find(&quot;add&quot;)
	slot6 = slot1:Find(&quot;info&quot;)

	if slot3 then
		slot8 = slot1:Find(&quot;info/frame&quot;)

		GetImageSpriteFromAtlasAsync(&quot;CommanderHrz/&quot; .. slot3:getPainting(), &quot;&quot;, slot1:Find(&quot;info/mask/icon&quot;))

		if slot1:Find(&quot;info/name&quot;) then
			setText(slot9, slot3:getName())
		end

		setImageSprite(slot8, GetSpriteFromAtlas(&quot;weaponframes&quot;, &quot;commander_&quot; .. Commander.rarity2Frame(slot3:getRarity())))
	end

	if slot4 then
		onButton(slot0, slot6, function ()
			uv0.callback({
				type = LevelUIConst.COMMANDER_OP_ADD,
				pos = uv1
			})
		end, SFX_PANEL)
		onButton(slot0, slot5, function ()
			uv0.callback({
				type = LevelUIConst.COMMANDER_OP_ADD,
				pos = uv1
			})
		end, SFX_PANEL)
	end

	setActive(slot5, not slot3)
	setActive(slot6, slot3)
end

slot0.OpenRecordPanel = function(slot0)
	setActive(slot0.descFrameTF, false)
	setActive(slot0.recordPanel, true)
end

slot0.CloseRecordPanel = function(slot0)
	setActive(slot0.descFrameTF, true)
	setActive(slot0.recordPanel, false)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>