<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leveluiconst.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>leveluiconst.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;LevelUIConst&quot;)
slot0.OPEN_COMMANDER_PANEL = &quot;openCommanderPanel&quot;
slot0.HANDLE_SHOW_MSG_BOX = &quot;HandleShowMsgBox&quot;
slot0.SET_MAP = &quot;SET_MAP&quot;
slot0.DO_AMBUSH_WARNING = &quot;doAmbushWarning&quot;
slot0.DISPLAY_AMBUSH_INFO = &quot;displayAmbushInfo&quot;
slot0.DISPLAY_STRATEGY_INFO = &quot;displayStrategyInfo&quot;
slot0.DO_TRACKING = &quot;doTracking&quot;
slot0.SWITCH_TO_MAP = &quot;switchToMap&quot;
slot0.DISPLAY_REPAIR_WINDOW = &quot;displayRepairWindow&quot;
slot0.DO_PLAY_ANIM = &quot;doPlayAnim&quot;
slot0.TRIGGER_ACTION = &quot;trigger Action&quot;
slot0.HIDE_FLEET_SELECT = &quot;HIDE_FLEET_SELECT&quot;
slot0.HIDE_FLEET_EDIT = &quot;HIDE_FLEET_EDIT&quot;
slot0.STRATEGY_PANEL_AUTOFIGHT_ACTIVE = &quot;STRATEGY_PANEL_AUTOFIGHT_ACTIVE&quot;
slot0.ADD_MSG_QUEUE = &quot;ADD_MSG_QUEUE&quot;
slot0.ADD_TOAST_QUEUE = &quot;ADD_TOAST_QUEUE&quot;
slot0.FLUSH_REMASTER_INFO = &quot;FLUSH_REMASTER_INFO&quot;
slot0.FLUSH_REMASTER_TICKET = &quot;FLUSH_REMASTER_TICKET&quot;
slot0.SWITCH_ACT_MAP = &quot;SWITCH_ACT_MAP&quot;
slot0.OPEN_NORMAL_CONTINUOUS_WINDOW = &quot;OPEN_NORMAL_CONTINUOUS_WINDOW&quot;
slot0.OPEN_ELITE_CONTINUOUS_WINDOW = &quot;OPEN_ELITE_CONTINUOUS_WINDOW&quot;
slot0.CONTINUOUS_OPERATION = &quot;CONTINUOUS_OPERATION&quot;
slot0.ON_CLICK_GRID_QUAD = &quot;ON_CLICK_GRID_QUAD&quot;
slot0.SWITCH_SPCHAPTER_DIFFICULTY = &quot;SWITCH_SPCHAPTER_DIFFICULTY&quot;
slot0.FROZEN = &quot;frozen&quot;
slot0.UN_FROZEN = &quot;unfrozen&quot;
slot0.IS_FROZEN = &quot;isfrozen&quot;
slot0.ON_FROZEN = &quot;onfrozen&quot;
slot0.ON_UNFROZEN = &quot;onunfrozen&quot;
slot0.FLEET_TYPE_SELECT = 1
slot0.FLEET_TYPE_EDIT = 2
slot0.FLEET_TYPE_ACTIVITY = 3
slot0.FLEET_TYPE_WORLD = 4
slot0.FLEET_TYPE_BOSSRUSH = 5
slot0.COMMANDER_OP_SHOW_SKILL = 0
slot0.COMMANDER_OP_RENAME = 1
slot0.COMMANDER_OP_ADD = 2
slot0.COMMANDER_OP_USE_PREFAB = 3
slot0.COMMANDER_OP_RECORD_PREFAB = 4
slot0.COMMANDER_OP_REST_ALL = 5

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>