<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>strategypanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>strategypanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;StrategyPanel&quot;, import(&quot;..base.BasePanel&quot;))

slot0.init = function(slot0)
	uv0.super.init(slot0)

	slot0.icon = slot0:findTF(&quot;window/panel/item/icon_bg/icon&quot;)
	slot0.count = slot0:findTF(&quot;window/panel/item/icon_bg/count&quot;)
	slot0.name = slot0:findTF(&quot;window/panel/item/name&quot;)
	slot0.desc = slot0:findTF(&quot;window/panel/item/desc&quot;)
	slot0.btnCancel = slot0:findTF(&quot;window/panel/actions/cancel_button&quot;)
	slot0.btnUse = slot0:findTF(&quot;window/panel/actions/use_button&quot;)
	slot0.btnBack = slot0:findTF(&quot;top/btnBack&quot;)
	slot0.tips = slot0:findTF(&quot;window/panel/tips&quot;)
	slot0.txSwitch = findTF(slot0.btnUse, &quot;switch&quot;)
	slot0.txUse = findTF(slot0.btnUse, &quot;use&quot;)
	slot0.onConfirm = nil
	slot0.onCancel = nil
end

slot0.set = function(slot0, slot1)
	slot0.strategy = slot1
	slot2 = pg.strategy_data_template[slot1.id]

	GetImageSpriteFromAtlasAsync(&quot;strategyicon/&quot; .. slot2.icon, &quot;&quot;, slot0.icon)

	if slot2.type == 1 then
		setText(slot0.count, &quot;&quot;)
		setActive(slot0.tips, true)
		setActive(slot0.txSwitch, true)
		setActive(slot0.txUse, false)
	else
		setText(slot0.count, slot1.count)
		setActive(slot0.tips, false)
		setActive(slot0.txSwitch, false)
		setActive(slot0.txUse, true)
	end

	setText(slot0.name, slot2.name)
	setText(slot0.desc, slot2.desc)
	onButton(slot0, slot0.btnBack, function ()
		if uv0.onCancel then
			uv0.onCancel()
		end
	end, SFX_CANCEL)
	onButton(slot0, slot0.btnCancel, function ()
		if uv0.onCancel then
			uv0.onCancel()
		end
	end, SFX_CANCEL)
	onButton(slot0, slot0.btnUse, function ()
		if uv0.onConfirm then
			uv0.onConfirm()
		end
	end, SFX_CONFIRM)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>