<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>winconditiondisplaypanel.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>winconditiondisplaypanel.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;WinConditionDisplayPanel&quot;, BaseSubView)

slot0.getUIName = function(slot0)
	return &quot;WinConditionDisplayPanel&quot;
end

slot0.OnInit = function(slot0)
	slot1 = slot0._tf
	slot0.listTF = slot1:Find(&quot;window/bg/awards/awardList&quot;)
	slot1 = slot0._tf
	slot0.closeBtn = slot1:Find(&quot;window/top/btnBack&quot;)
	slot0.winCondtitle = slot0:findTF(&quot;window/bg/winCond/title/text&quot;)

	setText(slot0.winCondtitle, i18n(&quot;text_win_condition&quot;))

	slot0.winCondDesc = slot0:findTF(&quot;window/bg/winCond/desc&quot;)
	slot0.loseCondtitle = slot0:findTF(&quot;window/bg/loseCond/title/text&quot;)

	setText(slot0.loseCondtitle, i18n(&quot;text_lose_condition&quot;))

	slot0.loseCondDesc = slot0:findTF(&quot;window/bg/loseCond/desc&quot;)
	slot0.rewardList = slot0:findTF(&quot;window/bg/awards&quot;)
	slot0.rewardtip = slot0:findTF(&quot;text&quot;, slot0.rewardList)

	setText(slot0.rewardtip, i18n(&quot;desc_defense_reward&quot;))

	slot0.rewardWord = slot0:findTF(&quot;desc&quot;, slot0.rewardList)

	setText(slot0.rewardWord, i18n(&quot;word_reward&quot;))

	slot0.rewardCond = slot0:findTF(&quot;cond&quot;, slot0.rewardList)

	setText(slot0.rewardCond, i18n(&quot;text_rest_HP&quot;))
	onButton(slot0, slot0._tf, function ()
		uv0:Hide()
	end, SFX_PANEL)
	onButton(slot0, slot0.closeBtn, function ()
		uv0:Hide()
	end, SFX_PANEL)
end

slot1 = {
	&quot;s&quot;,
	&quot;a&quot;,
	&quot;b&quot;
}

slot0.UpdateList = function(slot0, slot1, slot2, slot3, slot4)
	slot5 = nil

	if #slot3 == 3 then
		slot0.listTF:GetChild(1).gameObject:SetActive(true)
		slot0.listTF:GetChild(2).gameObject:SetActive(true)
		slot0.listTF:GetChild(3).gameObject:SetActive(true)

		slot5 = {
			3,
			2,
			1
		}
	elseif #slot3 == 2 then
		slot0.listTF:GetChild(1).gameObject:SetActive(true)
		slot0.listTF:GetChild(2).gameObject:SetActive(false)
		slot0.listTF:GetChild(3).gameObject:SetActive(true)

		slot5 = {
			3,
			1
		}
	elseif #slot3 == 1 then
		slot0.listTF:GetChild(1).gameObject:SetActive(false)
		slot0.listTF:GetChild(2).gameObject:SetActive(true)
		slot0.listTF:GetChild(3).gameObject:SetActive(false)

		slot5 = {
			2
		}
	end

	slot6 = false

	for slot10 = 1, #slot3 do
		slot11 = slot0.listTF:GetChild(slot5[slot10])
		slot12 = tostring(slot2[slot10] - 1)

		if slot2[slot10] - 1 ~= slot2[slot10 + 1] then
			slot12 = tostring(slot2[slot10 + 1]) .. &quot;-&quot; .. slot12
		end

		setText(slot11:Find(&quot;text&quot;), slot12)
		updateDrop(slot11:Find(&quot;award&quot;), slot3[slot10], {
			hideName = true
		})
		onButton(slot0, slot11:Find(&quot;award&quot;), function ()
			uv0:emit(BaseUI.ON_DROP, uv1)
		end, SFX_PANEL)

		slot6 = slot6 or slot2[slot10 + 1] &lt;= slot4

		setActive(slot11:Find(&quot;mask&quot;), not (not slot6 and slot2[slot10 + 1] &lt;= slot4))
	end
end

slot0.Enter = function(slot0, slot1)
	setText(slot0.winCondDesc, i18n(slot1:getConfig(&quot;win_condition_display&quot;)))
	setText(slot0.loseCondDesc, i18n(slot1:getConfig(&quot;lose_condition_display&quot;)))

	slot2 = slot1:getPlayType() == ChapterConst.TypeDefence

	setActive(slot0.rewardList, slot2)

	if slot2 then
		slot0:UpdateRewardList(slot1)
	end

	slot0:Show()
	Canvas.ForceUpdateCanvases()
end

slot0.UpdateRewardList = function(slot0, slot1)
	if not pg.chapter_defense[slot1.id] then
		return
	end

	table.insert(Clone(slot3.score), 1, slot3.port_hp + 1)

	slot5 = {}

	for slot9, slot10 in ipairs(uv0) do
		if #slot3[&quot;evaluation_display_&quot; .. slot10] &gt; 0 then
			table.insert(slot5, {
				type = slot11[1],
				id = slot11[2],
				count = slot11[3]
			})
		end
	end

	slot0:UpdateList(slot3, slot4, slot5, slot1.BaseHP)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>