<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipmentitemtransformver.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>equipmentitemtransformver.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;EquipmentItemTransformVer&quot;, import(&quot;view.equipment.EquipmentItem&quot;))

slot0.update = function(slot0, slot1)
	setActive(slot0.equiped, false)
	setActive(slot0.unloadBtn, not slot1)
	setActive(slot0.bg, slot1)
	TweenItemAlphaAndWhite(slot0.go)

	if not slot1 then
		return
	end

	slot0.sourceVO = slot1

	updateDrop(slot0.bg, slot1)

	slot2 = slot1.template
	slot3 = slot0.bg

	if slot1.type == DROP_TYPE_EQUIP then
		setActive(findTF(slot3, &quot;icon_bg/new&quot;), slot2.new ~= 0)
		setActive(findTF(slot3, &quot;equip_flag&quot;), slot2.shipId)

		if slot2.shipId then
			setImageSprite(findTF(slot5, &quot;Image&quot;), LoadSprite(&quot;qicon/&quot; .. getProxy(BayProxy):getShipById(slot2.shipId):getPainting()))
		end
	end

	findTF(slot3, &quot;name&quot;):GetComponent(typeof(Text)).text = shortenString(slot1:getConfig(&quot;name&quot;), 5)

	if not IsNil(slot0.mask) then
		setActive(slot0.mask, slot2.mask)
	end

	setActive(slot0.bg:Find(&quot;frameMask&quot;), false)

	if slot1.type == DROP_TYPE_ITEM and not IsNil(findTF(slot0.bg, &quot;icon_bg/count&quot;)) then
		slot9 = slot1.composeCfg.material_num &lt;= slot2.count

		setText(slot6, setColorStr(slot7 .. &quot;/&quot; .. slot8, slot9 and COLOR_WHITE or COLOR_RED))
		setActive(slot5, not slot9)
	end
end

slot0.updateSelected = function(slot0, slot1)
	slot0.selected = slot1

	setActive(slot0.selectedMask, slot1)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>