<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>challengeconst.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>challengeconst.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;ChallengeConst&quot;)
slot0.BOSS_NUM = 5
slot0.NEED_TO_RESET_SAVELOAD = 1
slot0.OPEN_CHALLENGE_MAIN_SCENE = &quot;ChallengeModConst:OPEN_CHALLENGE_MAIN_SCENE&quot;
slot0.CLICK_GET_AWARD_BTN = &quot;ChallengeModConst:CLICK_GET_AWARD_BTN&quot;
slot0.RESET_DATA_EVENT = &quot;ChallengeModConst:RESET_SL_DATA_EVENT&quot;

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>