<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bossrushfleetselectview.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>bossrushfleetselectview.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BossRushFleetSelectView&quot;, import(&quot;view.base.BaseUI&quot;))
slot0.fleetNames = {
	vanguard = 1,
	submarine = 3,
	main = 2
}

slot0.GetTextColor = function(slot0)
	return Color.white, Color.New(1, 1, 1, 0.5)
end

slot0.getUIName = function(slot0)
	return &quot;BossRushFleetSelectUI&quot;
end

slot0.init = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, nil, {})
	slot0:InitUI()
end

slot0.InitUI = function(slot0)
	slot1 = slot0._tf:Find(&quot;Panel&quot;)
	slot0.tfFleets = {
		[FleetType.Normal] = slot0:findTF(&quot;Panel/Fleet/Normal&quot;),
		[FleetType.Submarine] = slot0:findTF(&quot;Panel/Fleet/Submarine&quot;)
	}
	slot0.btnRecommend = slot1:Find(&quot;Fleet/BtnRecommend&quot;)
	slot0.btnClear = slot1:Find(&quot;Fleet/BtnClear&quot;)
	slot0.rtCostLimit = slot1:Find(&quot;Fleet/CostLimit&quot;)
	slot0.commanderList = slot1:Find(&quot;Fleet/Commander&quot;)
	slot0.fleetIndexToggles = _.map(_.range(slot1:Find(&quot;Fleet/Indexes&quot;).childCount), function (slot0)
		return uv0:Find(&quot;Fleet/Indexes&quot;):GetChild(slot0 - 1)
	end)
	slot0.modeToggles = {
		slot1:Find(&quot;Info/Modes/Single&quot;),
		slot1:Find(&quot;Info/Modes/Multiple&quot;)
	}
	slot0.extraAwardTF = slot0._tf:Find(&quot;Panel/Reward/Normal/Mode&quot;)
	slot2 = slot0._tf
	slot0.sonarRangeContainer = slot2:Find(&quot;Panel/Fleet/SonarRange&quot;)
	slot0.sonarRangeTexts = {
		slot0._tf:Find(&quot;Panel/Fleet/SonarRange/Values&quot;):GetChild(0),
		slot0._tf:Find(&quot;Panel/Fleet/SonarRange/Values&quot;):GetChild(1)
	}

	setText(slot0.sonarRangeTexts[2], &quot;&quot;)

	slot0.btnBack = slot1:Find(&quot;Info/Title/BtnClose&quot;)
	slot0.btnGo = slot1:Find(&quot;Info/Start&quot;)

	setText(slot0._tf:Find(&quot;Panel/Fleet/SonarRange/Text&quot;), i18n(&quot;fleet_antisub_range&quot;) .. &quot;:&quot;)
	setText(slot0._tf:Find(&quot;Panel/Fleet/CostLimit/Title&quot;), i18n(&quot;formationScene_use_oil_limit_tip_worldboss&quot;))
	setText(slot0._tf:Find(&quot;Panel/Reward/Normal/Base/Text&quot;), i18n(&quot;series_enemy_reward_tip1&quot;))
	setText(slot0._tf:Find(&quot;Panel/Reward/Normal/Mode/Text&quot;), i18n(&quot;series_enemy_reward_tip2&quot;))
	setText(slot0._tf:Find(&quot;Panel/Reward/EX/Title&quot;), i18n(&quot;series_enemy_reward_tip4&quot;))
	setText(slot0._tf:Find(&quot;Panel/Reward/Tip&quot;), i18n(&quot;limit_team_character_tips&quot;))
	setText(slot0._tf:Find(&quot;Panel/Info/Modes/Single/On/Text&quot;), i18n(&quot;series_enemy_mode_1&quot;))
	setText(slot0._tf:Find(&quot;Panel/Info/Modes/Single/Off/Text&quot;), i18n(&quot;series_enemy_mode_1&quot;))
	setText(slot0._tf:Find(&quot;Panel/Info/Modes/Multiple/On/Text&quot;), i18n(&quot;series_enemy_mode_2&quot;))
	setText(slot0._tf:Find(&quot;Panel/Info/Modes/Multiple/Off/Text&quot;), i18n(&quot;series_enemy_mode_2&quot;))
	table.Foreach(slot0.fleetIndexToggles, function (slot0, slot1)
		if slot0 &gt;= #uv0.fleetIndexToggles then
			setText(slot1:Find(&quot;Text&quot;), i18n(&quot;formationScene_use_oil_limit_submarine&quot;))
		else
			setText(slot1:Find(&quot;Text&quot;), i18n(&quot;series_enemy_fleet_prefix&quot;, GetRomanDigit(slot0)))
		end
	end)
	setText(slot0._tf:Find(&quot;Panel/Fleet/Normal/main/Item/Ship/EnergyWarn/Text&quot;), i18n(&quot;series_enemy_mood&quot;))
	setText(slot0._tf:Find(&quot;Panel/Fleet/Normal/vanguard/Item/Ship/EnergyWarn/Text&quot;), i18n(&quot;series_enemy_mood&quot;))
	setText(slot0._tf:Find(&quot;Panel/Fleet/Submarine/submarine/Item/Ship/EnergyWarn/Text&quot;), i18n(&quot;series_enemy_mood&quot;))
end

slot0.didEnter = function(slot0)
	onButton(slot0, slot0.btnGo, function ()
		for slot3 = 1, #uv0.contextData.fleets - 1 do
			if uv0.contextData.fleets[slot3]:isLegalToFight() ~= true then
				pg.TipsMgr.GetInstance():ShowTips(i18n(&quot;series_enemy_team_notenough&quot;))

				return
			end
		end

		if _.any(uv0.contextData.fleets, function (slot0)
			slot1, slot2 = slot0:HaveShipsInEvent()

			if slot1 then
				pg.TipsMgr.GetInstance():ShowTips(slot2)

				return true
			end
		end) then
			return
		end

		uv0:emit(BossRushFleetSelectMediator.ON_PRECOMBAT)
	end, SFX_UI_WEIGHANCHOR_GO)
	onButton(slot0, slot0.sonarRangeContainer, function ()
		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			type = MSGBOX_TYPE_HELP,
			helps = pg.gametip.fleet_antisub_range_tip.tip
		})
	end, SFX_PANEL)
	onButton(slot0, slot0.btnBack, function ()
		uv0:onCancelHard()
	end, SFX_CANCEL)
	onButton(slot0, slot0._tf:Find(&quot;BG&quot;), function ()
		uv0:onCancelHard()
	end, SFX_CANCEL)

	slot2 = slot0.contextData.seriesData:IsSingleFight()

	setActive(slot0.modeToggles[1].parent, slot2)

	if slot2 then
		table.Foreach(slot0.modeToggles, function (slot0, slot1)
			triggerToggle(slot1, slot0 == uv0.contextData.mode)
		end)
		table.Foreach(slot0.modeToggles, function (slot0, slot1)
			onToggle(uv0, slot1, function (slot0)
				if not slot0 then
					return
				end

				slot1 = uv0

				slot1:emit(BossRushFleetSelectMediator.ON_SWITCH_MODE, uv1)
				table.Foreach(uv0.fleetIndexToggles, function (slot0, slot1)
					triggerToggle(slot1, slot0 == uv0.contextData.fleetIndex)
				end)
			end, SFX_PANEL)
		end)
	end

	table.Foreach(slot0.fleetIndexToggles, function (slot0, slot1)
		setActive(slot1, slot0 &lt;= uv0 - 1 or slot0 == #uv1.fleetIndexToggles)
	end)

	for slot7 = #slot0.fleetIndexToggles - 1, #slot0.contextData.fullFleets, -1 do
		table.remove(slot0.fleetIndexToggles, slot7)
	end

	slot4 = function(slot0, slot1)
		setActive(slot0:Find(&quot;Selected&quot;), slot1)

		slot2, slot3 = uv0:GetTextColor()

		setTextColor(slot0:Find(&quot;Text&quot;), slot1 and slot2 or slot3)
	end

	table.Foreach(slot0.fleetIndexToggles, function (slot0, slot1)
		onToggle(uv0, slot1, function (slot0)
			uv0(uv1, slot0)
		end)
	end)
	table.Foreach(slot0.fleetIndexToggles, function (slot0, slot1)
		triggerToggle(slot1, slot0 == uv0.contextData.fleetIndex)
	end)
	table.Foreach(slot0.fleetIndexToggles, function (slot0, slot1)
		onToggle(uv0, slot1, function (slot0)
			uv0(uv1, slot0)

			if not slot0 then
				return
			end

			if uv2 == #uv3.fleetIndexToggles then
				uv3.contextData.fleetIndex = #uv3.contextData.fleets
			else
				uv3.contextData.fleetIndex = uv2
			end

			uv3:updateEliteFleets()
		end, SFX_PANEL)
	end)
	setText(slot0._tf:Find(&quot;Panel/Info/Title/Text&quot;), slot1:GetName())
	setText(slot0._tf:Find(&quot;Panel/Info/Title/Text/EN&quot;), slot1:GetSeriesCode())
	setText(slot0._tf:Find(&quot;Panel/Info/Description/Text&quot;), slot1:GetDescription())

	slot6 = slot1:GetBossIcons()
	slot7 = slot0._tf:Find(&quot;Panel/Info/Boss&quot;)

	UIItemList.StaticAlign(slot7, slot7:GetChild(0), #slot1:GetExpeditionIds(), function (slot0, slot1, slot2)
		if slot0 ~= UIItemList.EventUpdate then
			return
		end

		slot6 = pg.expedition_data_template[uv0[slot1 + 1]].level
		slot7 = slot2:Find(&quot;shiptpl&quot;)

		SetCompomentEnabled(findTF(slot7, &quot;icon_bg&quot;), &quot;Image&quot;, false)
		SetCompomentEnabled(findTF(slot7, &quot;icon_bg/frame&quot;), &quot;Image&quot;, false)
		setActive(slot2:Find(&quot;shiptpl/icon_bg/lv&quot;), false)
		GetImageSpriteFromAtlasAsync(&quot;SquareIcon/&quot; .. uv1[slot1 + 1][1], &quot;&quot;, slot2:Find(&quot;shiptpl/icon_bg/icon&quot;))

		if findTF(slot7, &quot;ship_type&quot;) then
			setActive(slot11, true)
			setImageSprite(slot11, GetSpriteFromAtlas(&quot;shiptype&quot;, shipType2print(uv1[slot1 + 1][2])))
		end
	end)

	slot8 = function(slot0)
		if type(slot0) ~= &quot;table&quot; then
			return {}
		end

		return slot0
	end

	slot9 = slot1:GetType() == BossRushSeriesData.TYPE.EXTRA

	setActive(slot0._tf:Find(&quot;Panel/Reward/Normal&quot;), not slot9)
	setActive(slot0._tf:Find(&quot;Panel/Reward/EX&quot;), slot9)

	if not slot9 then
		slot10 = slot0._tf
		slot10 = slot10:Find(&quot;Panel/Reward/Normal/Base/Items&quot;)

		UIItemList.StaticAlign(slot10, slot10:GetChild(0), #slot8(slot1:GetPassAwards()), function (slot0, slot1, slot2)
			if slot0 ~= UIItemList.EventUpdate then
				return
			end

			updateDrop(slot2, Drop.Create(uv0[slot1 + 1]))
			onButton(uv1, slot2, function ()
				uv0:ShowDropDetail(uv1)
			end, SFX_PANEL)
		end)

		slot12 = slot0.extraAwardTF
		slot12 = slot12:Find(&quot;Items&quot;)

		UIItemList.StaticAlign(slot12, slot12:GetChild(0), #slot8(slot1:GetAdditionalAwards()), function (slot0, slot1, slot2)
			if slot0 ~= UIItemList.EventUpdate then
				return
			end

			updateDrop(slot2, Drop.Create(uv0[slot1 + 1]))
			onButton(uv1, slot2, function ()
				uv0:ShowDropDetail(uv1)
			end, SFX_PANEL)
		end)
	else
		setText(slot0._tf:Find(&quot;Panel/Reward/EX/Title/Text&quot;), math.floor(getProxy(ActivityProxy):getActivityByType(ActivityConst.ACTIVITY_TYPE_EXTRA_BOSSRUSH_RANK):GetScore()))
	end

	slot0:updateEliteFleets()
end

slot1 = {
	[99.0] = true
}

slot0.ShowDropDetail = function(slot0, slot1)
	if Item.getConfigData(slot1.id) and uv0[slot2.type] then
		slot4 = {}

		for slot8, slot9 in ipairs(slot2.display_icon) do
			slot4[#slot4 + 1] = {
				hideName = true,
				type = slot9[1],
				id = slot9[2]
			}
		end

		slot0:emit(uv1.ON_DROP_LIST, {
			item2Row = true,
			itemList = slot4,
			content = slot2.display
		})
	else
		slot0:emit(uv1.ON_DROP, slot1)
	end
end

slot0.willExit = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf)
end

slot0.onCancelHard = function(slot0)
	slot0:emit(BossRushFleetSelectMediator.ON_UPDATE_CUSTOM_FLEET)
	slot0:closeView()
end

slot0.onBackPressed = function(slot0)
	slot0:onCancelHard()
	uv0.super.onBackPressed(slot0)
end

slot0.setHardShipVOs = function(slot0, slot1)
	slot0.shipVOs = slot1
end

slot0.initAddButton = function(slot0, slot1, slot2, slot3)
	slot6 = {}
	slot7 = {}

	for slot11, slot12 in ipairs(slot0.contextData.fleets[slot3]:getShipIds()) do
		slot6[slot0.shipVOs[slot12]] = true

		if slot2 == slot0.shipVOs[slot12]:getTeamType() then
			table.insert(slot7, slot12)
		end
	end

	table.sort(_.map(slot5, function (slot0)
		return uv0.shipVOs[slot0]
	end), function (slot0, slot1)
		return uv0.fleetNames[slot0:getTeamType()] &lt; uv0.fleetNames[slot1:getTeamType()] or uv0.fleetNames[slot0:getTeamType()] == uv0.fleetNames[slot1:getTeamType()] and table.indexof(uv1, slot0.id) &lt; table.indexof(uv1, slot1.id)
	end)

	slot9 = findTF(slot1, slot2)
	slot9:GetComponent(&quot;ContentSizeFitter&quot;).enabled = true
	slot9:GetComponent(&quot;HorizontalLayoutGroup&quot;).enabled = true
	slot0.isDraging = false

	UIItemList.StaticAlign(slot9, slot9:GetChild(0), 3, function (slot0, slot1, slot2)
		if slot0 ~= UIItemList.EventUpdate then
			return
		end

		slot3 = uv0[slot1 + 1] and uv1.shipVOs[uv0[slot1]] or nil

		setActive(slot2:Find(&quot;Ship&quot;), slot3)
		setActive(slot2:Find(&quot;Empty&quot;), not slot3)

		slot4 = slot3 and slot2:Find(&quot;Ship&quot;) or slot2:Find(&quot;Empty&quot;)

		if slot3 then
			updateShip(slot4, slot3)
			setActive(slot4:Find(&quot;EnergyWarn&quot;), uv1.contextData.mode == BossRushSeriesData.MODE.SINGLE and slot3:getEnergy() &lt;= pg.gameset.series_enemy_mood_limit.key_value)
			setActive(slot4:Find(&quot;event_block&quot;), slot3:getFlag(&quot;inEvent&quot;))
		end

		setActive(slot4:Find(&quot;ship_type&quot;), false)
		GetOrAddComponent(slot4, typeof(UILongPressTrigger)).onLongPressed:RemoveAllListeners()

		if slot3 then
			slot6 = slot5.onLongPressed

			slot6:AddListener(function ()
				uv0:emit(BossRushFleetSelectMediator.ON_FLEET_SHIPINFO, {
					shipId = uv1.id,
					shipVOs = uv2
				})
			end)
		end

		slot6 = GetOrAddComponent(slot4, &quot;EventTriggerListener&quot;)

		slot6:RemovePointClickFunc()
		slot6:AddPointClickFunc(function (slot0, slot1)
			if uv0.isDraging then
				return
			end

			uv0:emit(BossRushFleetSelectMediator.ON_OPEN_DECK, {
				fleet = uv1,
				chapter = uv0.chapter,
				shipVO = uv2,
				fleetIndex = uv3,
				teamType = uv4
			})
		end)
		slot6:RemoveBeginDragFunc()
		slot6:RemoveDragFunc()
		slot6:RemoveDragEndFunc()
	end)
end

slot0.updateEliteFleets = function(slot0)
	slot1 = slot0.contextData.seriesData
	slot2 = slot0.contextData.fleetIndex
	slot3 = slot0.contextData.fleets[slot2]
	slot4 = slot2 == #slot0.contextData.fleets

	setActive(slot0._tf:Find(&quot;Panel/Fleet/Normal&quot;), not slot4)
	setActive(slot0._tf:Find(&quot;Panel/Fleet/Submarine&quot;), slot4)

	slot5 = #slot0.contextData.fleets

	table.Foreach(slot0.fleetIndexToggles, function (slot0, slot1)
		setActive(slot1, slot0 &lt;= uv0 - 1 or slot0 == #uv1.fleetIndexToggles)
	end)

	slot6 = slot0.btnClear
	slot7 = slot0.btnRecommend
	slot8 = slot0.commanderList

	if not slot4 then
		slot9 = slot0.tfFleets[FleetType.Normal]

		setText(slot0:findTF(&quot;bg/name&quot;, slot9), Fleet.DEFAULT_NAME[slot2])
		slot0:initAddButton(slot9, TeamType.Main, slot2)
		slot0:initAddButton(slot9, TeamType.Vanguard, slot2)
	else
		slot9 = slot0.tfFleets[FleetType.Submarine]

		setText(slot0:findTF(&quot;bg/name&quot;, slot9), Fleet.DEFAULT_NAME[Fleet.SUBMARINE_FLEET_ID])
		slot0:initAddButton(slot9, TeamType.Submarine, #slot0.contextData.fleets)
	end

	slot0:initCommander(slot3, slot8)
	setText(slot0.sonarRangeTexts[1], math.floor(slot3:GetFleetSonarRange()))

	slot10 = #slot3:GetRawShipIds() == (slot4 and 3 or 6)

	onButton(slot0, slot6, function ()
		if uv0 == 0 then
			return
		end

		pg.MsgboxMgr.GetInstance():ShowMsgBox({
			content = i18n(&quot;battle_preCombatLayer_clear_confirm&quot;),
			onYes = function ()
				uv0:emit(BossRushFleetSelectMediator.ON_ELITE_CLEAR, {
					index = uv1
				})
			end
		})
	end)
	onButton(slot0, slot7, function ()
		if uv0 then
			return
		end

		seriesAsync({
			function (slot0)
				if uv0 == 0 then
					return slot0()
				end

				pg.MsgboxMgr.GetInstance():ShowMsgBox({
					content = i18n(&quot;battle_preCombatLayer_auto_confirm&quot;),
					onYes = slot0
				})
			end,
			function (slot0)
				uv0:emit(BossRushFleetSelectMediator.ON_ELITE_RECOMMEND, {
					index = uv1
				})
			end
		})
	end)

	slot11 = slot1:GetOilLimit()

	setActive(slot0.rtCostLimit, _.any(slot11, function (slot0)
		return slot0 &gt; 0
	end))

	if #slot11 &gt; 0 then
		setText(slot0.rtCostLimit:Find(&quot;Text&quot;), string.format(&quot;%s(%d)&quot;, i18n(slot4 and &quot;formationScene_use_oil_limit_submarine&quot; or &quot;formationScene_use_oil_limit_surface&quot;), slot4 and slot11[2] or slot11[1]))
	end

	setActive(slot0.extraAwardTF, slot0.contextData.mode == BossRushSeriesData.MODE.MULTIPLE and #(function (slot0)
		if type(slot0) ~= &quot;table&quot; then
			return {}
		end

		return slot0
	end)(slot1:GetAdditionalAwards()) &gt; 0)

	slot15 = slot0._tf:Find(&quot;Panel/Info/Boss&quot;)

	UIItemList.StaticAlign(slot15, slot15:GetChild(0), #slot1:GetExpeditionIds(), function (slot0, slot1, slot2)
		if slot0 ~= UIItemList.EventUpdate then
			return
		end

		slot3 = slot1 + 1 == uv0 or uv0 &gt; #uv1 or uv2.contextData.mode == BossRushSeriesData.MODE.SINGLE

		setActive(slot2:Find(&quot;Select&quot;), slot3)
		setActive(slot2:Find(&quot;Image&quot;), slot3)
	end)
end

slot0.initCommander = function(slot0, slot1, slot2)
	slot3 = slot1:GetRawCommanderIds()

	for slot7 = 1, 2 do
		slot9 = nil

		if slot3[slot7] then
			slot9 = getProxy(CommanderProxy):getCommanderById(slot8)
		end

		slot10 = slot2:Find(slot7)

		setActive(slot10:Find(&quot;add&quot;), not slot9)
		setActive(slot10:Find(&quot;info&quot;), slot9)

		if slot9 then
			setImageSprite(slot12:Find(&quot;frame&quot;), GetSpriteFromAtlas(&quot;weaponframes&quot;, &quot;commander_&quot; .. Commander.rarity2Frame(slot9:getRarity())))
			GetImageSpriteFromAtlasAsync(&quot;CommanderHrz/&quot; .. slot9:getPainting(), &quot;&quot;, slot12:Find(&quot;mask/icon&quot;))
		end

		onButton(slot0, slot11, function ()
			uv0:emit(BossRushFleetSelectMediator.OPEN_COMMANDER_PANEL, uv1)
		end, SFX_PANEL)
		onButton(slot0, slot12, function ()
			uv0:emit(BossRushFleetSelectMediator.OPEN_COMMANDER_PANEL, uv1)
		end, SFX_PANEL)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>