<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appreciateunlockmsgbox.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>appreciateunlockmsgbox.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;AppreciateUnlockMsgBox&quot;, import(&quot;..base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;AppreciateUnlockMsgBox&quot;
end

slot0.OnInit = function(slot0)
	slot0.customMsgbox = slot0._tf
	slot1 = slot0.customMsgbox
	slot0.msgBoxItemPanel = slot1:Find(&quot;frame/bg/item_panel&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgboxItemContains = slot1:Find(&quot;frame/bg/item_panel/items&quot;)
	slot1 = slot0.msgboxItemContains
	slot0.msgBoxItemTpl = slot1:Find(&quot;equipmenttpl&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxItemContent = slot1:Find(&quot;frame/bg/item_panel/content&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxItemContent1 = slot1:Find(&quot;frame/bg/item_panel/content_num&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxCancelBtn = slot1:Find(&quot;frame/btns/cancel_btn&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxConfirmBtn = slot1:Find(&quot;frame/btns/confirm_btn&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBoxContent = slot1:Find(&quot;frame/bg/content&quot;)
	slot1 = slot0.customMsgbox
	slot0.msgBtnBack = slot1:Find(&quot;frame/top/btnBack&quot;)

	SetActive(slot0.customMsgbox, false)

	slot0.settings = {}

	onButton(slot0, slot0.msgBoxConfirmBtn, function ()
		if uv0.settings.onYes then
			uv0.settings.onYes()
		else
			uv0:hideCustomMsgBox()
		end
	end, SFX_PANEL)
	SetActive(slot0.msgBoxCancelBtn, not defaultValue(slot0.settings.hideNO, false))
	onButton(slot0, slot0.msgBoxCancelBtn, function ()
		if uv0.settings.onCancel then
			uv0.settings.onCancel()
		else
			uv0:hideCustomMsgBox()
		end
	end, SFX_PANEL)
	onButton(slot0, slot0.customMsgbox, function ()
		uv0:hideCustomMsgBox()
	end, SFX_PANEL)
	onButton(slot0, slot0.msgBtnBack, function ()
		uv0:hideCustomMsgBox()
	end, SFX_CANCEL)
end

slot0.showCustomMsgBox = function(slot0, slot1)
	slot0.isShowCustomMsgBox = true
	slot0.settings = slot1

	setActive(slot0.customMsgbox, true)
	pg.UIMgr.GetInstance():OverlayPanel(slot0.customMsgbox, {
		groupName = LayerWeightConst.GROUP_SHIPINFOUI
	})

	slot2 = slot1.items and #slot1.items &gt; 0

	setActive(slot0.msgBoxItemPanel, slot2)
	setActive(slot0.msgBoxContent, not slot2)

	slot3 = getProxy(PlayerProxy):getData()

	if slot2 then
		for slot9 = slot0.msgboxItemContains.childCount + 1, #slot1.items do
			cloneTplTo(slot0.msgBoxItemTpl, slot0.msgboxItemContains)
		end

		for slot9 = 1, slot0.msgboxItemContains.childCount do
			SetActive(slot0.msgboxItemContains:GetChild(slot9 - 1), slot9 &lt;= #slot4)

			if slot9 &lt;= #slot4 then
				slot11 = slot4[slot9]

				updateDrop(slot10, slot11)

				slot12 = 0

				if slot11.type == DROP_TYPE_RESOURCE then
					slot12 = slot3:getResById(slot11.id)
				elseif slot11.type == DROP_TYPE_ITEM then
					slot12 = getProxy(BagProxy):getItemCountById(slot11.id)
				end

				setText(slot10:Find(&quot;icon_bg/count&quot;), slot12 .. &quot;/&quot; .. (slot12 &lt; slot11.count and &quot;&lt;color=#D6341DFF&gt;&quot; .. slot11.count .. &quot;&lt;/color&gt;&quot; or &quot;&lt;color=#A9F548FF&gt;&quot; .. slot11.count .. &quot;&lt;/color&gt;&quot;))
			end
		end

		setText(slot0.msgBoxItemContent, slot1.content or &quot;&quot;)
		setText(slot0.msgBoxItemContent1, slot1.content1 or &quot;&quot;)
	else
		setText(slot0.msgBoxContent, slot1.content or &quot;&quot;)
	end
end

slot0.hideCustomMsgBox = function(slot0)
	slot0.isShowCustomMsgBox = nil

	SetActive(slot0.customMsgbox, false)
	slot0:Destroy()
end

slot0.OnDestroy = function(slot0)
	pg.UIMgr.GetInstance():UnOverlayPanel(slot0.customMsgbox, slot0._tf)
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>