<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blackfridaygoodscard.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>blackfridaygoodscard.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;BlackFridayGoodsCard&quot;, import(&quot;.NewServerGoodsCard&quot;))

slot0.Flush = function(slot0)
	slot0.cntTxt.text = slot0.commodity:GetCanPurchaseCnt() .. &quot;/&quot; .. slot0.commodity:GetCanPurchaseMaxCnt()

	setActive(slot0.sellOutMaskTF, not slot0.commodity:CanPurchase())
	setActive(slot0.discountTF, slot0.commodity:GetDiscount() ~= 0 and slot0.commodity:CanPurchase())
end

slot0.Init = function(slot0)
	uv0.super.Init(slot0)
	setActive(slot0.discountTF, false)

	if slot0.commodity:GetDiscount() ~= 0 and slot0.commodity:CanPurchase() then
		setActive(slot0.discountTF, true)

		slot0.consumeTxtTF.text = slot0.commodity:GetSalesPrice()

		setText(slot0.discountTF:Find(&quot;Text&quot;), slot0.commodity:GetOffPercent() .. &quot;%&quot;)
	end
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>