<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skinatlasindexlayer.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>skinatlasindexlayer.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;SkinAtlasIndexLayer&quot;, import(&quot;...common.CustomIndexLayer&quot;))
slot0.ExtraL2D = bit.lshift(1, 0)
slot0.ExtraDBG = bit.lshift(1, 1)
slot0.ExtraBG = bit.lshift(1, 2)
slot0.ExtraBGM = bit.lshift(1, 3)
slot0.ExtraCANTUSE = bit.lshift(1, 4)
slot0.ExtraUNUSE = bit.lshift(1, 5)
slot0.ExtraIndexs = {
	slot0.ExtraL2D,
	slot0.ExtraDBG,
	slot0.ExtraBG,
	slot0.ExtraBGM,
	slot0.ExtraCANTUSE,
	slot0.ExtraUNUSE
}
slot0.ExtraALL = IndexConst.BitAll(slot0.ExtraIndexs)

table.insert(slot0.ExtraIndexs, 1, slot0.ExtraALL)

slot0.ExtraNames = {
	&quot;index_all&quot;,
	&quot;index_L2D&quot;,
	&quot;index_DBG&quot;,
	&quot;index_BG&quot;,
	&quot;index_BGM&quot;,
	&quot;index_CANTUSE&quot;,
	&quot;index_UNUSE&quot;
}
slot1 = {
	function ()
		return true
	end,
	function (slot0)
		return slot0:IsLive2d()
	end,
	function (slot0)
		return slot0:IsDbg()
	end,
	function (slot0)
		return slot0:IsBG()
	end,
	function (slot0)
		return slot0:isBgm()
	end,
	function (slot0)
		return slot0:CantUse()
	end,
	function (slot0)
		return slot0:WithoutUse()
	end
}

slot0.filterByExtra = function(slot0, slot1)
	if not slot1 or slot1 == uv0.ExtraALL then
		return true
	end

	for slot5 = 2, #uv1 do
		if bit.band(bit.lshift(1, slot5 - 2), slot1) &gt; 0 and uv1[slot5](slot0) then
			return true
		end
	end

	return false
end

slot0.init = function(slot0)
	uv0.super.init(slot0)

	slot1 = slot0.contextData
	slot0.OnFilter = slot1.OnFilter
	slot0.indexDatas = slot1.defaultIndex or {}
end

slot0.BlurPanel = function(slot0)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf, false, {
		weight = LayerWeightConst.SECOND_LAYER + 1
	})
end

slot0.didEnter = function(slot0)
	slot0.contextData = slot0:InitData()

	uv0.super.didEnter(slot0)
end

slot0.InitData = function(slot0)
	return {
		indexDatas = Clone(slot0.indexDatas),
		customPanels = {
			minHeight = 650,
			typeIndex = {
				blueSeleted = true,
				mode = CustomIndexLayer.Mode.AND,
				options = ShipIndexConst.TypeIndexs,
				names = ShipIndexConst.TypeNames
			},
			campIndex = {
				blueSeleted = true,
				mode = CustomIndexLayer.Mode.AND,
				options = ShipIndexConst.CampIndexs,
				names = ShipIndexConst.CampNames
			},
			rarityIndex = {
				blueSeleted = true,
				mode = CustomIndexLayer.Mode.AND,
				options = ShipIndexConst.RarityIndexs,
				names = ShipIndexConst.RarityNames
			},
			extraIndex = {
				blueSeleted = true,
				mode = CustomIndexLayer.Mode.AND,
				options = uv0.ExtraIndexs,
				names = uv0.ExtraNames
			},
			layoutPos = Vector2(0, -25)
		},
		groupList = {
			{
				dropdown = false,
				titleENTxt = &quot;indexsort_indexeng&quot;,
				titleTxt = &quot;indexsort_index&quot;,
				tags = {
					&quot;typeIndex&quot;
				}
			},
			{
				dropdown = false,
				titleENTxt = &quot;indexsort_campeng&quot;,
				titleTxt = &quot;indexsort_camp&quot;,
				tags = {
					&quot;campIndex&quot;
				}
			},
			{
				dropdown = false,
				titleENTxt = &quot;indexsort_rarityeng&quot;,
				titleTxt = &quot;indexsort_rarity&quot;,
				tags = {
					&quot;rarityIndex&quot;
				}
			},
			{
				dropdown = false,
				titleENTxt = &quot;indexsort_indexeng&quot;,
				titleTxt = &quot;indexsort_extraindex&quot;,
				tags = {
					&quot;extraIndex&quot;
				}
			}
		},
		callback = function (slot0)
			uv0.OnFilter(slot0)
		end
	}
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>