<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>votediaplaypage.lua</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <h1>votediaplaypage.lua</h1>
    <a href="index.html">返回主页</a>
    <pre><code class="language-lua">slot0 = class(&quot;VoteDiaplayPage&quot;, import(&quot;...base.BaseSubView&quot;))

slot0.getUIName = function(slot0)
	return &quot;VoteDisplay&quot;
end

slot0.OnInit = function(slot0)
	slot0.paitingTF = findTF(slot0._tf, &quot;painting&quot;)
	slot0.numberTxt = findTF(slot0._tf, &quot;filter_bg/Text&quot;):GetComponent(typeof(Text))
	slot0.nameTxt = findTF(slot0._tf, &quot;frame/bg/name&quot;):GetComponent(typeof(Text))
	slot0.enNameTxt = findTF(slot0._tf, &quot;frame/bg/en_name&quot;):GetComponent(typeof(Text))
	slot0.descTxt = findTF(slot0._tf, &quot;frame/bg/scroll/desc&quot;):GetComponent(typeof(Text))
	slot0.valueInput = findTF(slot0._tf, &quot;frame/bg/InputField&quot;):GetComponent(typeof(InputField))
	slot0.addBtn = findTF(slot0._tf, &quot;frame/bg/add&quot;)
	slot0.miunsBtn = findTF(slot0._tf, &quot;frame/bg/miuns&quot;)
	slot0.maxBtn = findTF(slot0._tf, &quot;frame/bg/max&quot;)
	slot0.submitBtn = findTF(slot0._tf, &quot;frame/bg/submit&quot;)
	slot0.rankTxt = findTF(slot0._tf, &quot;frame/bg/rank&quot;):GetComponent(typeof(Text))
	slot0.votesTxt = findTF(slot0._tf, &quot;frame/bg/votes&quot;):GetComponent(typeof(Text))
	slot0.shiptypeTxt = findTF(slot0._tf, &quot;frame/bg/shiptype&quot;):GetComponent(typeof(Text))
	slot0.nationImg = findTF(slot0._tf, &quot;frame/bg/nation&quot;):GetComponent(typeof(Image))
	slot0.bg1 = findTF(slot0._tf, &quot;frame/bg/bg1&quot;)
	slot0.bg2 = findTF(slot0._tf, &quot;frame/bg/bg2&quot;)
end

slot0.Open = function(slot0, slot1, slot2, slot3, slot4, slot5)
	slot0.callback = slot5

	assert(slot0.callback)

	slot0.maxValue = slot3
	slot0.rank = slot2
	slot0.value = 1

	setActive(slot0.bg1, not slot4)
	setActive(slot0.bg2, slot4)

	slot0.votes = slot4 or &quot;-&quot;

	setActive(slot0._tf, true)

	slot0.numberTxt.text = &quot;X&quot; .. slot3

	if slot1 ~= slot0.voteShip then
		slot0.voteShip = slot1

		slot0:Update(slot1)
	end

	onInputEndEdit(slot0, go(slot0.valueInput), function ()
		if tonumber(getInputText(go(uv0.valueInput))) &lt; 1 then
			uv0.value = 1
		elseif uv0.maxValue &lt; slot1 then
			uv0.value = math.max(1, uv0.maxValue)
		else
			uv0.value = slot1
		end

		uv0:UpdateCnt()
	end)
	pg.UIMgr.GetInstance():BlurPanel(slot0._tf)
end

slot0.UpdateCnt = function(slot0)
	slot0.valueInput.text = slot0.value
end

slot0.Update = function(slot0, slot1)
	slot0.nameTxt.text = slot1:getShipName()
	slot0.enNameTxt.text = slot1:getEnName()
	slot0.descTxt.text = slot1:GetDesc()
	slot0.votesTxt.text = slot0.votes
	slot0.rankTxt.text = slot0.rank
	slot0.shiptypeTxt.text = slot1:getShipTypeName()
	slot3 = nil
	slot0.nationImg.sprite = (not slot1:getNationality() or LoadSprite(&quot;prints/&quot; .. nation2print(slot2) .. &quot;_0&quot;)) and GetSpriteFromAtlas(&quot;ui/VoteUI_atlas&quot;, &quot;nation&quot;)

	slot0:UpdateCnt()
	onButton(slot0, slot0._tf, function ()
		uv0:Close()
	end)
	onButton(slot0, slot0.addBtn, function ()
		if uv0.maxValue &lt;= uv0.value then
			return
		end

		uv0.value = uv0.value + 1

		uv0:UpdateCnt()
	end, SFX_PANEL)
	onButton(slot0, slot0.miunsBtn, function ()
		if uv0.value == 1 then
			return
		end

		uv0.value = uv0.value - 1

		uv0:UpdateCnt()
	end, SFX_PANEL)
	onButton(slot0, slot0.maxBtn, function ()
		if uv0.maxValue == 0 then
			return
		end

		uv0.value = uv0.maxValue

		uv0:UpdateCnt()
	end, SFX_PANEL)
	onButton(slot0, slot0.submitBtn, function ()
		uv0.callback(uv0.value)
		uv0:Close()
	end, SFX_PANEL)

	slot0.paintingName = slot1:getPainting()

	LoadPaintingPrefabAsync(slot0.paitingTF, slot0.paintingName, slot0.paintingName, &quot;jiesuan&quot;)
end

slot0.Close = function(slot0)
	pg.UIMgr.GetInstance():UnblurPanel(slot0._tf, slot0._parent)
	setActive(slot0._tf, false)
	retPaintingPrefab(slot0.paitingTF, slot0.paintingName)

	slot0.callback = nil
	slot0.maxValue = 0
	slot0.rank = 0
	slot0.value = 1
	slot0.voteShip = nil
end

slot0.OnDestroy = function(slot0)
	slot0:Close()
end

return slot0
</code></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-lua.min.js"></script>
</body>
</html>